<template>
  <section id="nav">
    <button id="navLink" ref="navLink" v-on:click="toggleMenu($event)">&#9776;</button>
    <div class="pure-menu custom-restricted-width" id="navMenu" ref="navMenu">
      <a href="/" class="pure-menu-heading"><img src="/static/worldmed-logo.png" alt="worldmed clinic logo"></a>

      <section v-if="permission === 'analyst'">
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><router-link to="/statistics" class="pure-menu-link">Statistics</router-link></li>
        </ul>

        <hr />
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="/" v-on:click="logout" class="pure-menu-link">Log out</a></li>
        </ul>
      </section>

      <section v-else>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><router-link to="/patient-registration" class="pure-menu-link">Registration</router-link></li>
          <li class="pure-menu-item"><router-link to="/patient-summary/all" class="pure-menu-link">Patient Summary</router-link></li>
          <li class="pure-menu-item"><router-link to="/charts" class="pure-menu-link">Patient Charts</router-link></li>
          <li class="pure-menu-item" v-if="auth.permission.indexOf('admin') > -1"><router-link to="/statistics" class="pure-menu-link">Statistics</router-link></li>
          <li class="pure-menu-item" v-if="auth.permission.indexOf('admin') > -1"><router-link to="/invoices" class="pure-menu-link">Billing</router-link></li>
          <li class="pure-menu-item">
            <a href="https://inventory.worldmed.hospital" class="pure-menu-link" target="blank">Inventory</a>
          </li>
        </ul>

        <hr />
        <ul class="pure-menu-list">
          <!-- <li class="pure-menu-item"><router-link to="/forms/" class="pure-menu-link">Forms</router-link></li> -->
          <li class="pure-menu-item" v-if="auth.permission.indexOf('admin') > -1"><router-link to="/settings" class="pure-menu-link">Settings</router-link></li>
          <li class="pure-menu-item"><router-link to="/account/my-info" class="pure-menu-link">Account</router-link></li>
          <li class="pure-menu-item"><a href="/" v-on:click="logout" class="pure-menu-link">Log out</a></li>
        </ul>
      </section>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'nav-menu',
  methods: {
    toggleMenu (event) {
      event.target.classList.toggle('active')
      this.$refs.navMenu.classList.toggle('active')
    },
    logout () {
      this.$store.commit('loadingIncomplete', { detail: true })
      this.$store.commit('LOGOUT')
      // this.$router.push('/')
    }
  },
  mounted () {
    const self = this
    self.$refs.navMenu.addEventListener('click', function () {
      this.classList.remove('active')
      self.$refs.navLink.classList.remove('active')
    })
  },
  computed: {
    ...mapGetters({
      auth: 'authData'
    }),
    permission: function () {
      return this.auth && this.auth.permission ? this.auth.permission : null
    }
  }
}
</script>

<style lang="scss" scoped>
  #navMenu {
    width: 10em;
    position: fixed;
    margin-left: -10em;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background-color: white;
    z-index: 1000;
    min-height: 100vh;
    overflow-y: auto;

    &.active {
      left: 10em;
    }

    .pure-menu-heading > img {
      width: 100%;
      margin: 20px 0;
    }

    @media (min-width: 58em) {
      left: 10em;
    }
  }

  #navLink {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    color: white;
    background: rgba(0,0,0,0.7);
    font-size: 12px;
    z-index: 1000;
    width: 4em;
    height: 4em;
    padding: 1em;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
    @media (min-width: 58em) {
      display: none;
    }
    &.active {
      left: 140px;
    }
  }

  .bottomed {
    margin-top: auto;
    margin-bottom: 20px;
  }

  .router-link-active {
    background-color: #EEEEEE;
  }
</style>
