<template>
  <section class="content">
    <h4 class="mt0">Products Management Page</h4>

    <div class="tab-wrapper">
      <div class="tab-btn-group">
        <router-link to="billable-items" class="tab-btn">Billable Items</router-link>
        <router-link to="medicines" class="tab-btn">Medicines/Supplies</router-link>
        <router-link to="labs" class="tab-btn">Labs</router-link>
      </div>

      <div class="tab-detail">
        <router-view></router-view>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'product-page',
  created () {
    console.info('product page')
  }
}
</script>

