<template>
  <section class="row">
    <div class="col-xs" style="overflow-x: auto">
      <table class="pure-table pure-table-striped table-wrapper margin-auto" style="min-width: 500px:">
        <thead>
          <tr>
            <th style="min-width: 105px;">Product Code</th>
            <th>Brand Name</th>
            <th>Generic Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="i in items">
            <td>{{ i.product_code }}</td>
            <td>{{ i.brand_name }}</td>
            <td>{{ i.generic_name  }}</td>
            <td>{{ i.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>

<script>
import { getLabs } from '@/api/product'

export default {
  name: 'product-labs',
  data () {
    return {
      items: null
    }
  },
  async mounted () {
    if (!this.$store.state.medicalItem.labData || !this.$store.state.medicalItem.labData.length) {
      // load products data
      await getLabs()
    }

    this.items = (this.$store.state.medicalItem.labData)
  }
}
</script>
