<template>
  <section class="row">
    <div class="col-xs" style="overflow-x: auto">
      <table class="pure-table pure-table-striped table-wrapper margin-auto" style="min-width: 500px:">
        <thead>
          <tr>
            <th>Item</th>
            <th>Regular</th>
            <th>Thai</th>
            <th>Ins</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="i in items">
            <td>{{ i.item }}</td>
            <td>{{ i.price_regular }}</td>
            <td>{{ i.price_thai }}</td>
            <td>{{ i.price_insurance }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>

<script>
import { getBillableItems } from '@/api/billable-item'

export default {
  name: 'product-billable-items',
  data () {
    return {
      items: null
    }
  },
  async mounted () {
    if (!this.$store.state.medicalItem.billableItemData || !this.$store.state.medicalItem.billableItemData.length) {
      await getBillableItems()
    }

    this.items = (this.$store.state.medicalItem.billableItemData)
  }
}
</script>
