<template>
  <div class="print">
    <section class="page-content sheet padding-10mm" style="height: 100%;" v-if="invoice">
      <div id="page" ref="page">
        <!-- <img class="watermark" src="/static/worldmed-logo.png" alt="worldmed watermark"> -->
        <div class="print-header">
          <div class="print-title">
            <img class="wm-logo" src="/static/worldmed-logo.png" alt="worldmed logo">
          </div>
        </div>
        
        <div class="invoice-title text-left">
          <h3>Invoice #{{invoiceId}}</h3>
          <div style="float:left;">
            <div class="d-flex" style="width: 350px;" v-if="invoice.visit.patient">
              <b class="label mr-auto">HN</b>
              <div class="capitalize">{{invoice.visit.patient.hospital_number_display}}</div>
            </div>
            <div class="d-flex" style="width: 350px;" v-if="invoice.visit.patient">
              <b class="label mr-auto">Patient</b>
              <div class="capitalize">{{invoice.visit.patient.first_name}} {{invoice.visit.patient.last_name}}</div>
            </div>
            <div class="d-flex" style="width: 350px;" v-if="invoice.invoice_to">
              <b class="label mr-auto">Invoice To</b>
              <div class="capitalize">{{invoice.invoice_to}}</div>
            </div>
            <div style="width: 100%;">
              <b class="mr-auto">Extra Information</b>
              <div>{{invoice.extra | '-'}}</div>
            </div>
          </div>
          <div style="float: right;">
            <div class="d-flex" style="width: 350px;">
              <b class="mr-auto">Appointment Date</b>
              <div>{{invoice.visit.created_at | moment('DD MMM YYYY HH:mm')}}</div>
            </div>
            <div class="d-flex" style="width: 350px;">
              <b class="mr-auto">Invoice Date</b>
              <div>{{invoice.updated_at | moment('DD MMM YYYY HH:mm')}}</div>
            </div>
          </div>
        </div>

        <table class="print-table">
          <tr>
            <th>Item</th>
            <!-- <th>Unit Price</th> -->
            <th>Quantity</th>
            <th>Discount</th>
            <th>Total Price</th>
          </tr>
          <tr v-if="$lodash.filter(invoice.invoice_items, item => item.type==='billable').length">
            <td colspan="5" class="text-left bg-grey">Billable Items</td>
          </tr>
          <tr class="text-left" v-for="item in $lodash.filter(invoice.invoice_items, item => item.type==='billable')" :key="item.id">
            <td>{{item.name}}</td>
            <!-- <td class="text-right">฿{{}}</td> -->
            <td class="text-right">{{item.amount}}</td>
            <td class="text-right">{{item.discount_total | numberWithCommas}} ฿</td>
            <td class="text-right">{{item.price_total | numberWithCommas}} ฿</td>
          </tr>
          <tr v-if="$lodash.filter(invoice.invoice_items, item => item.type==='product').length">
            <td colspan="5" class="text-left bg-grey">Medicines</td>
          </tr>
          <tr class="text-left" v-for="item in $lodash.filter(invoice.invoice_items, item => item.type==='product')" :key="item.id">
            <td>{{item.name}}</td>
            <!-- <td class="text-right">฿{{}}</td> -->
            <td class="text-right">{{item.amount}}</td>
            <td class="text-right">{{item.discount_total | numberWithCommas}} ฿</td>
            <td class="text-right">{{item.price_total | numberWithCommas}} ฿</td>
          </tr>
          <tr v-if="$lodash.filter(invoice.invoice_items, item => item.type==='lab').length">
            <td colspan="5" class="text-left bg-grey">Labs</td>
          </tr>
          <tr class="text-left" v-for="item in $lodash.filter(invoice.invoice_items, item => item.type==='lab')" :key="item.id">
            <td>{{item.name}}</td>
            <!-- <td class="text-right">฿{{}}</td> -->
            <td class="text-right">{{item.amount}}</td>
            <td class="text-right">{{item.discount_total | numberWithCommas}} ฿</td>
            <td class="text-right">{{item.price_total | numberWithCommas}} ฿</td>
          </tr>
        </table>

        <div class="d-flex" style="margin-top: 25px;">
          <div class="note-section text-left">
            <b class="label">Note</b>
            <p>{{invoice.note || '-'}}</p>
            <b class="label">Extra Note</b>
            <p>{{invoice.extra || '-'}}</p>
          </div>
          <div class="summary-section">
            <div class="d-flex">
              <b class="summary-title">Discount</b>
              <div class="bordered">{{totalDiscount | numberWithCommas}} ฿</div>
            </div>
            <div class="d-flex">
              <b class="summary-title">Total Amount</b>
              <div class="bordered">{{totalAmount | numberWithCommas}} ฿</div>
            </div>
          </div>
        </div>
      </div>
      <div class="invoice-footer">
        <div>WORLDMED CENTER</div>
        <div>125/131-133, M.7 PhiPhi Island, Aonang, Muang Krabi, Krabi, Thailand, 81210</div>
        <div>095-424-0444 & 075-601-444</div>
        <div>https://www.worldmed.center</div>
      </div>
    </section>
  </div>
</template>

<script>
import moment from 'moment'
const INVOICE_API = require('@/api/invoice')
export default {
  name: 'PrintInvoice',
  metaInfo: {
    link: [
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css' }
    ]
  },
  data () {
    return {
      invoice: null
    }
  },
  async mounted () {
    // added paper type for printing
    document.body.className = 'A4'
    let invoiceId = this.$route.params.invoiceId
    this.invoice = (await INVOICE_API.getInvoiceById(invoiceId)).data.invoice
    console.log(this.invoice)
    document.title = this.invoice ? `invoice-${this.invoice.id}` : `invoice`
  },
  computed: {
    imgUrl () {
      if (this.patient) {
        return `${process.env.ASSET_URL}/${this.patient.img_url}`
      } else {
        return null
      }
    },
    getYM () {
      if (this.patient) {
        let date = this.patient.dob
        let monthOld = moment().diff(date, 'month')
        return `${Math.floor(monthOld / 12)}Y${monthOld % 12}M`
      }
    },
    invoiceId () {
      let s = '000000000' + this.invoice.id
      return s.substr(s.length - 10)
    },
    totalDiscount () {
      return this.invoice.invoice_items.reduce((total, item) => {
        return total + item.discount_total
      }, 0)
    },
    totalAmount () {
      return this.invoice.invoice_items.reduce((total, item) => {
        return total + item.price_total
      }, 0)
    }
  }
}
</script>

<style lang="scss" scoped>
.print-table {
  font-size: 12px;
}
.invoice-receiver {
  flex: 1;
  margin-right: auto;
  min-width: 300px;
  margin-top: 20px;
}
.invoice-title {
  flex: 1;
}
.date {
  margin-top: 50px;
}
.note-section {
  flex: 1;
}
.summary-section {
  margin-left: auto;
}
.summary-title {
  line-height: 40px;
  margin-left: auto;
  margin-right: 10px;
}
.bordered {
  padding: 12px;
  border: 0.5px solid #dddddd;
  text-align: right;
  width: 120px;
}
.invoice-footer {
  font-size: 10px;
  bottom: 25px;
  left: 0;
  right: 0;
}

.watermark {
  z-index: 2;
}

.bg-grey {
  background-color: #bbbbbb;
  color: white;
}
</style>
