<template>
  <div class="print">
    <!-- <pre>{{ visitForm }}</pre> -->
    <section class="page-content sheet padding-10mm">
      <img class="watermark" src="/static/worldmed-logo.png" alt="worldmed watermark">

      <table>
        <tr>
          <td class="text-left" style="width: 40%;">
            <div class="d-flex" style=" padding-left: 70px;">
              <img src="/static/worldmed-logo.png" alt="worldmed logo" height="80">
            </div>
            <h4 style="padding-left: 25px;">MEDICAL CERTIFICATE</h4>
          </td>
          <td class="text-left p-10" style="width: 60%; margin: auto;" colspan="3">
            <div class="label">Name: {{ visitForm ? visitForm.title : ''}} {{ visitForm ? visitForm.first_name : ''}} {{ visitForm ? visitForm.last_name : ''}}</div>
            <div class="label">DoB: {{ visitForm ? visitForm.dob : '' | moment('DD MMM YYYY')}}</div>
            <div class="label d-flex">
              <div>Age: {{getYM}}</div>
              <div style="margin-left: auto;width: 200px;">Gender: <span class="capitalize">{{ visitForm ? visitForm.gender : ''}}</span></div>
            </div>
            <div class="label d-flex">
              <div>CH/HN: {{ visitForm ? visitForm.hospital_number_display : ''}}</div>
              <div style="margin-left: auto;width: 200px;">AN: {{ visitForm ? visitForm.an : ''}}</div>
            </div>
            <div class="label d-flex">
              <div>Visit Date: {{ visitForm ? visitForm.first_visited_date : '' | moment('DD MMM YYYY')}}</div>
              <div style="margin-left: auto;width: 200px; color: red;">**Allergy: <span class="capitalize">{{ visitForm ? visitForm.drug_allergy : ''}}</span></div>
            </div>
          </td>
          <td class="p-10" style="width: 15%;">
            <div class="patient-info--photo">
              <img>
            </div>
          </td>
        </tr>
      </table>
      <table>
        <tr style="background-color: rgb(0,0,0,0.1);">
          <td>
            <h5>CHIEF COMPLAIN AND PRESENT ILLNESS</h5>    
          </td>
        </tr>
        <tr>
          <td class="p-10">
            <label class="p-input" style="min-height: 40px;">{{ visitForm ? visitForm.chief_complaint : ''}}</label>
          </td>
        </tr>
      </table>
      <table>
        <tr style="background-color: rgb(0,0,0,0.1);">
          <td>
            <h5>SIGNIFICANT PHYSICAL EXAMINATION AND OTHER FINDINGS</h5>    
          </td>
        </tr>
        <tr>
          <td style="padding-top: 5px; padding-bottom: 5px;">
            <div class="row">
              <div class="col-sm-2">
                <div class="p-label f-12">Vital sign</div>
              </div>  
              <div class="col-sm-2">
                <label class="f-12">T<div class="p-input ml capitalize input--inline" style="width: 50%">{{ visitForm ? visitForm.vs_c : ''}}</div>&#176;C</label>
              </div>
              <div class="col-sm-2">
                <label class="f-12">P<div class="p-input ml capitalize input--inline" style="width: 50%">{{ visitForm ? visitForm.vs_p : ''}}</div>/min</label>
              </div>
              <div class="col-sm-2">
                <label class="f-12">R<div class="p-input ml capitalize input--inline" style="width: 50%">{{ visitForm ? visitForm.vs_r : ''}}</div>/min</label>
              </div>
              <div class="col-sm-2">
                <label class="f-12">BP<div class="p-input ml capitalize input--inline" style="width: 50%">{{ visitForm ? visitForm.vs_bp : ''}}</div>mmHg</label>
              </div>
              <div class="col-sm-2">
                <label class="f-12">O2Sat<div class="p-input ml capitalize input--inline" style="width: 50%">{{ visitForm ? visitForm.vs_o2sat : ''}}</div>%</label>
              </div>
            </div>
            <div class="ml capitalize mt1">
              <label class="p-input" v-if="(visitForm && visitForm.phys_general_wnl) || (visitForm && visitForm.phys_general_ab) || (visitForm && visitForm.phys_general)">
                <b>GA :</b> '{{ visitForm.phys_general_wnl === true ? 'WNL, ' : null}} 
                {{visitForm.phys_general_ab === true ? 'Abnormal, ' : null}} 
                {{visitForm.phys_general || null}}' /
              </label>
              <label class="p-input" v-if="(visitForm && visitForm.phys_skin_wnl) || (visitForm && visitForm.phys_skin_ab) || (visitForm && visitForm.phys_skin)">
                <b>Skin :</b> '{{visitForm.phys_skin_wnl === true ? 'WNL, ' : null}} 
                {{visitForm.phys_skin_ab === true ? 'Abnormal, ' : null}} 
                {{visitForm.phys_skin || null}}' /
              </label>
              <label class="p-input" v-if="(visitForm && visitForm.phys_heent_wnl) || (visitForm && visitForm.phys_heent_ab) || (visitForm && visitForm.phys_heent)">
                <b>HEENT :</b> '{{visitForm.phys_heent_wnl === true ? 'WNL, ' : null}} 
                {{visitForm.phys_heent_ab === true ? 'Abnormal, ' : null}} 
                {{visitForm.phys_heent || null}}' /
              </label>
              <label class="p-input" v-if="(visitForm && visitForm.phys_rs_wnl) || (visitForm && visitForm.phys_rs_ab) || (visitForm && visitForm.phys_rs)">
                <b>RS :</b> '{{visitForm.phys_rs_wnl === true ? 'WNL, ' : null}} 
                {{visitForm.phys_rs_ab === true ? 'Abnormal, ' : null}} 
                {{visitForm.phys_rs || null}}' /
              </label>
              <label class="p-input" v-if="(visitForm && visitForm.phys_cvs_wnl) || (visitForm && visitForm.phys_cvs_ab) || (visitForm && visitForm.phys_cvs)">
                <b>CVS :</b> '{{visitForm.phys_cvs_wnl === true ? 'WNL, ' : null}} 
                {{visitForm.phys_cvs_ab === true ? 'Abnormal, ' : null}} 
                {{visitForm.phys_cvs || null}}' /
              </label>
              <label class="p-input" v-if="(visitForm && visitForm.phys_abdomen_wnl) || (visitForm && visitForm.phys_abdomen_ab) || (visitForm && visitForm.phys_abdomen)">
                <b>Abdomen :</b> '{{visitForm.phys_abdomen_wnl === true ? 'WNL, ' : null}} 
                {{visitForm.phys_abdomen_ab === true ? 'Abnormal, ' : null}} 
                {{visitForm.phys_abdomen || null}}' /
              </label>
              <label class="p-input" v-if="(visitForm && visitForm.phys_ex_wnl) || (visitForm && visitForm.phys_ex_ab) || (visitForm && visitForm.phys_ex)">
                <b>Extremities :</b> '{{visitForm.phys_ex_wnl === true ? 'WNL, ' : null}} 
                {{visitForm.phys_ex_ab === true ? 'Abnormal, ' : null}} 
                {{visitForm.phys_ex || null}}' /
              </label>
              <label class="p-input" v-if="(visitForm && visitForm.phys_nuero_wnl) || (visitForm && visitForm.phys_nuero_ab) || (visitForm && visitForm.phys_nuero)">
                <b>Neuro :</b> '{{visitForm.phys_nuero_wnl === true ? 'WNL, ' : null}} 
                {{visitForm.phys_nuero_ab === true ? 'Abnormal, ' : null}} 
                {{visitForm.phys_nuero || null}}'
              </label>
            </div>
          </td>
        </tr>
      </table>
      <table>
        <tr style="height: 50px; background-color: rgb(0,0,0,0.1);">
          <td>
            <h5>DIAGNOSIS</h5>    
          </td>
        </tr>
        <tr>
          <td class="p-10">
            <label class="p-input" style="min-height: 40px;">{{ visitForm ? visitForm.diagnosisList : ''}}</label>
          </td>
        </tr>
      </table>
      <table>
        <tr style="height: 50px; background-color: rgb(0,0,0,0.1);">
          <td>
            <h5>TREATMENT</h5>   
          </td>
        </tr>
        <tr>
          <td class="p-10">
            <p class="text-left label">Procedures and other treatment:</p>
            <p class="p-input text-left" style="min-height: 20;">{{ visitForm ? visitForm.treatmentProcedureData : ''}}</p>
            <p class="text-left label">Medications:</p>
            <p class="p-input text-left" style="min-height: 20px;">{{ visitForm ? visitForm.medicationProcedureData : ''}}</p>
          </td>
        </tr>
      </table>
      <table>
        <tr style="height: 50px; background-color: rgb(0,0,0,0.1);">
          <td colspan="2">
            <h5>RECOMMENDATION and FOLLOW-UP</h5>    
          </td>
        </tr>
        <tr>
          <td class="pl-10 text-left" width="30%">
            <p class="label">Recommendation:</p>
          </td>
          <td class="pl-10 text-left" width="70%">
            <label class="p-input" style="min-height: 40px;">{{ visitForm ? visitForm.chief_complaint : ''}}</label>
          </td>
        </tr>
        <tr>
          <td class="pl-10 text-left" width="30%">
            <p class="label">Follow up:</p>
          </td>
          <td class="pl-10 text-left" width="70%">
            <label class="p-input" style="min-height: 40px;">{{ visitForm ? visitForm.follow_date : ''}} {{ visitForm ? visitForm.follow_time : ''}}</label>
          </td>
        </tr>
        <tr>
          <td class="pl-10 text-left" width="30%">
            <p class="label">Instructions:</p>
          </td>
          <td class="pl-10 text-left" width="70%">
            <label class="p-input" style="min-height: 40px;">{{ visitForm ? visitForm.recommend : ''}}</label>
          </td>
        </tr>
      </table>
      <table>
        <tr style="height:140px; background-color: rgb(0,0,0,0.1);">
          <td>
            <div class="row">
              <div class="col-sm-4">
                <div style="margin-top: 90px">
                  <label class="f-12">stamp</label>
                </div>
                
              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-6">
                <div>
                  <label class="f-12">Attending Physician <div class="p-input ml capitalize input--inline" style="width: 40%"></div> M.D</label>
                </div>
                <div>
                  <label class="f-12" style="padding-left: 80px;">(<div class="p-input ml capitalize input--inline" style="width: 40%;"></div>)</label>
                </div>
                <div>
                  <label class="f-12" style="padding-left: 75px">Dr. Aphilak Kritsanasakul</label>
                </div>
                <div>
                  <label class="f-12" style="padding-left: 75px">Medical Lic. No. 0536982</label>
                </div>
                <div>
                  <label class="f-12" style="padding-left: 45px">Date: <div class="p-input ml capitalize input--inline" style="width: 40%">{{ nowDate }}</div></label>

                </div>

              </div>
            </div>
          </td>
        </tr>
      </table>
    </section>
  </div>
</template>

<style lang="scss" scoped>
$border-color: #bbbbbb;
table {
  width: 100%;
}

td {
  border: 1px solid $border-color;
}

.p-10 {
  padding: 10px;
  vertical-align: top;
}

.pl-10 {
  padding-left: 10px;
}

.label {
  margin-top: 5px;
  font-size: 12px;
}

.bar {
  margin-left: 10px;
  border-bottom: 1px solid #adadad;
  width: 120px;
}

.mt-2 {
  margin-top: 10px;
}

.ml-2 {
  margin-left: 10px;
}

.p-input {
  font-size: 14px;
  min-height: 20px;
  width: 100%;
  word-wrap: break-word;
  border-bottom: 0.25px solid #bbb;
}

.p-input-inline {
  font-size: 14px;
  min-height: 20px;
  width: 50%;
  word-wrap: break-word;
  border-bottom: 0.25px solid #bbb;
}

.f-12 {
  font-size: 12px;
}
</style>

<script>
import moment from 'moment'
// import API from '@/api'

const VISIT_FORM_API = require('@/api/visit-form')

export default {
  name: 'PrintMedicalCertification',
  metaInfo: {
    link: [
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css' }
    ]
  },
  data () {
    return {
      visitForm: null,
      visitFormHead: null,
      nowDate: moment(new Date(), 'YYYY-MM-DD').format('YYYY-MM-DD')
    }
  },
  async mounted () {
    // added paper type for printing
    document.body.className = 'A4'
    let visitFormId = this.$route.params.visitFormId
    let visitFormRes = await VISIT_FORM_API.getVisitFormById(visitFormId)
    this.visitFormHead = visitFormRes.data
    this.visitForm = JSON.parse(visitFormRes.data.data)
  },
  computed: {
    getYM () {
      if (this.visitForm) {
        let date = this.visitForm.dob
        let monthOld = moment().diff(date, 'month')
        return `${Math.floor(monthOld / 12)}Y${monthOld % 12}M`
      }
    },
    investigation () {
      if (this.visitForm && this.visitForm.opd_investigation) {
        let inv = JSON.parse(this.visitForm.opd_investigation)
        return inv
      } else {
        return []
      }
    },
    diagnosis () {
      if (this.visitForm && this.visitForm.diagnosis) {
        return JSON.parse(this.visitForm.diagnosis)
      } else {
        return []
      }
    }
  }
}
</script>

