<template>
  <div class="print">
    <!-- <pre>{{ visitForm }}</pre> -->
    <section class="page-content sheet padding-10mm">
      <img class="watermark" src="/static/worldmed-logo.png" alt="worldmed watermark">
      <div class="print-header">
        <div class="print-title">
          <img class="wm-logo" src="/static/worldmed-logo.png" alt="worldmed logo"><br>
          <div class="mt2"><b> MEDICAL CERTIFICATE / ใบรับรองแพทย์ </b></div>
        </div>
      </div>
      <div class="row mt3">
        <div class="col-sm-4">
          <div class="p-label text-left" style="width: 750px;">This is to certify that Mr./Mrs./Ms<br>
          ขอให้การรับรองว่า นาย / นาง / นางสาว</div>
        </div>
        <div class="col-sm-5">
          <div class="p-input ml capitalize">{{visitForm.title || ''}} {{visitForm.first_name}} {{visitForm.last_name}}</div>
        </div>
        <div class="col-sm-1">
          <div class="p-label text-left">Date</div>
        </div>
        <div class="col-sm-2">
          <div class="p-input ml capitalize">{{visitForm.doc_date || '' | moment("YYYY/MM/DD")}} </div>
        </div>
      </div>
      <div class="row mt3">
        <div class="col-sm-4">
          <div class="p-label text-left">Chief complaint / อาการสำคัญ</div>
        </div>  
        <div class="col-sm-8">
          <div class="p-input ml capitalize">{{visitForm.chief_complaint || ''}}</div>
        </div>  
      </div>
      <div class="row mt3">
        <div class="col-sm-2">
          <div class="p-label text-left">Vital sign</div>
        </div>  
        <div class="col-sm-2">
          <label class="f-12">T<div class="p-input ml capitalize input--inline" style="width: 50%">{{visitForm.vs_c || ''}}</div>&#176;C</label>
        </div>
        <div class="col-sm-2">
          <label class="f-12">P<div class="p-input ml capitalize input--inline" style="width: 50%">{{visitForm.vs_p || ''}}</div>/min</label>
        </div>
        <div class="col-sm-2">
          <label class="f-12">R<div class="p-input ml capitalize input--inline" style="width: 50%">{{visitForm.vs_r || ''}}</div>/min</label>
        </div>
        <div class="col-sm-2">
          <label class="f-12">BP<div class="p-input ml capitalize input--inline" style="width: 50%">{{visitForm.vs_bp || ''}}</div>mmHg</label>
        </div>
        <div class="col-sm-2">
          <label class="f-12">O2Sat<div class="p-input ml capitalize input--inline" style="width: 50%">{{visitForm.vs_o2sat || ''}}</div>%</label>
        </div>
      </div>
      <div class="p-label text-left mt3">Present illness and physical examination /  อาการปัจจุบันและผลการตรวจร่างกาย</div>
      <div class="p-input ml capitalize mt1">{{visitForm.illness_and_phys || ''}}</div>
      <div class="p-input ml capitalize mt1">
        <label v-if="visitForm.phys_general_wnl || visitForm.phys_general_ab || visitForm.phys_general">
          <b>GA :</b> '{{visitForm.phys_general_wnl === true ? 'WNL, ' : null}} 
          {{visitForm.phys_general_ab === true ? 'Abnormal, ' : null}} 
          {{visitForm.phys_general || null}}' ,
        </label>
        <label v-if="visitForm.phys_skin_wnl || visitForm.phys_skin_ab || visitForm.phys_skin">
          <b>Skin :</b> '{{visitForm.phys_skin_wnl === true ? 'WNL, ' : null}} 
          {{visitForm.phys_skin_ab === true ? 'Abnormal, ' : null}} 
          {{visitForm.phys_skin || null}}' , 
        </label>
        <label v-if="visitForm.phys_heent_wnl || visitForm.phys_heent_ab || visitForm.phys_heent">
          <b>HEENT :</b> '{{visitForm.phys_heent_wnl === true ? 'WNL, ' : null}} 
          {{visitForm.phys_heent_ab === true ? 'Abnormal, ' : null}} 
          {{visitForm.phys_heent || null}}' , 
        </label>
        <label v-if="visitForm.phys_rs_wnl || visitForm.phys_rs_ab || visitForm.phys_rs">
          <b>RS :</b> '{{visitForm.phys_rs_wnl === true ? 'WNL, ' : null}} 
          {{visitForm.phys_rs_ab === true ? 'Abnormal, ' : null}} 
          {{visitForm.phys_rs || null}}' , 
        </label>
        <label v-if="visitForm.phys_cvs_wnl || visitForm.phys_cvs_ab || visitForm.phys_cvs">
          <b>CVS :</b> '{{visitForm.phys_cvs_wnl === true ? 'WNL, ' : null}} 
          {{visitForm.phys_cvs_ab === true ? 'Abnormal, ' : null}} 
          {{visitForm.phys_cvs || null}}' , 
        </label>
        <label v-if="visitForm.phys_abdomen_wnl || visitForm.phys_abdomen_ab || visitForm.phys_abdomen">
          <b>Abdomen :</b> '{{visitForm.phys_abdomen_wnl === true ? 'WNL, ' : null}} 
          {{visitForm.phys_abdomen_ab === true ? 'Abnormal, ' : null}} 
          {{visitForm.phys_abdomen || null}}' , 
        </label>
        <label v-if="visitForm.phys_ex_wnl || visitForm.phys_ex_ab || visitForm.phys_ex">
          <b>Extremities :</b> '{{visitForm.phys_ex_wnl === true ? 'WNL, ' : null}} 
          {{visitForm.phys_ex_ab === true ? 'Abnormal, ' : null}} 
          {{visitForm.phys_ex || null}}' , 
        </label>
        <label v-if="visitForm.phys_nuero_wnl || visitForm.phys_nuero_ab || visitForm.phys_nuero">
          <b>Neuro :</b> '{{visitForm.phys_nuero_wnl === true ? 'WNL, ' : null}} 
          {{visitForm.phys_nuero_ab === true ? 'Abnormal, ' : null}} 
          {{visitForm.phys_nuero || null}}'
        </label>
      </div>
      <div class="row mt3">
        <div class="col-sm-3">
          <div class="p-label text-left" >Diagnosis / การวินิฉัยโรค</div>
        </div>
        <div class="col-sm-9">
          <div class="p-input ml capitalize" v-for="(d, dIndex) in diagnosis" :key="dIndex">
            {{d.no}}. {{d.diagnosis}}
          </div>
        </div>
      </div>
      <div class="row mt2">
        <div class="col-sm-3">
          <div class="p-label text-left">Treatment / การรักษา</div>
        </div>
        <div class="col-sm-9">
          <div class="p-input ml capitalize">{{visitForm.treatment || ''}}</div>
        </div>
      </div>
      <div class="row mt2">
        <div class="col-sm-4">
          <div class="p-label text-left">Recommendation / คำแนะนำ</div>
        </div>
        <div class="col-sm-8">
          <div class="p-input ml capitalize">{{visitForm.recommend || ''}}</div>
        </div>
      </div>
      <div class="row mt3">
        <i class="far fa-check-square" v-if="visitForm.is_follow_date"></i>
        <i class="far fa-square" v-else></i> 
        <label class="ml-2">Follow up on / นัดตรวจติดตามผลวันที่</label>
        <label class="p-input-inline ml">{{ visitForm.follow_date || '' | moment("YYYY/MM/DD")}} {{visitForm.follow_time || '' }}</label>
      </div>
      <div class="row mt3">
        <i class="far fa-check-square" v-if="visitForm.is_other"></i>
        <i class="far fa-square" v-else></i> 
        <label class="ml-2">Other</label>
        <label class="p-input-inline ml">{{visitForm.other || ''}} </label>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
$border-color: #bbbbbb;
table {
  width: 100%;
}

td {
  border: 1px solid $border-color;
  padding: 10px;
  vertical-align: top;
}

.label {
  margin-top: 5px;
  font-size: 15px;
}

.bar {
  margin-left: 10px;
  border-bottom: 1px solid #adadad;
  width: 120px;
}

.mt-2 {
  margin-top: 10px;
}

.ml-2 {
  margin-left: 10px;
}

.p-label {
  font-size: 14px;
  font-weight: bold;
  min-height: 20px;
  min-width: 100px;
}

.p-input {
  font-size: 14px;
  min-height: 20px;
  width: 100%;
  word-wrap: break-word;
  border-bottom: 0.25px solid #bbb;
}

.p-input-inline {
  font-size: 14px;
  min-height: 20px;
  width: 50%;
  word-wrap: break-word;
  border-bottom: 0.25px solid #bbb;
}

.f-12 {
  font-size: 12px;
}

</style>

<script>
const VISIT_FORM_API = require('@/api/visit-form')
export default {
  name: 'PrintMedicalCertificationOld',
  metaInfo: {
    link: [
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css' }
    ]
  },
  data () {
    return {
      visitForm: null,
      visitFormHead: null
    }
  },
  async mounted () {
    // added paper type for printing
    document.body.className = 'A4'
    let visitFormId = this.$route.params.visitFormId
    let visitFormRes = await VISIT_FORM_API.getVisitFormById(visitFormId)
    this.visitFormHead = visitFormRes.data
    this.visitForm = JSON.parse(visitFormRes.data.data)
  },
  computed: {
    diagnosis () {
      if (this.visitForm && this.visitForm.diagnosis) {
        return JSON.parse(this.visitForm.diagnosis)
      } else {
        return []
      }
    }
  }
}
</script>

