<template>
  <div class="print">
    <section class="page-content sheet padding-10mm">
      <img class="watermark" src="/static/worldmed-logo.png" alt="worldmed watermark">
      <div class="print-header">
        
        <div class="print-title">
          <img class="wm-logo" src="/static/worldmed-logo.png" alt="worldmed logo"><br><b>
          MEDICAL CERTIFICATE/ใบรับรองแพทย์ </b>
        </div>
      </div>
      <p class="text-left">ข้าพเจ้า นายแพทย์ / แพทย์หญิง..........................................................................................................<br>
      ใบอนุญาตประกอบวิชาชีพเวชกรรมเลขที่.............................................................................................. <br> 
      สถานที่ประกอบวิชาชีพเวชกรรม เวิลด์ เมด คลินิก เลขที่ 229/1, 229/2 หมู่ 7 ตำลอ่าวนาง อำเภอเมืองกระบี่ จังหวัดกระบี่ </p>
      <p class="text-left">ข้าพเจ้าได้ตรวจร่างกาย นาย / นาง / นางสาว................................................ <br>
      หมายเลขบัตรประชาชน / Passport Number ............................. <br>
      ที่อยู่ที่สามารถติดต่อได้ ......................................................... <br>
      เมื่อวันที่ ........ เดือน ............... พ.ศ. ........... มีรายละเอียดดังนี้ <br>
      น้ำหนักตัว ......... กก.  ความสูง ......... เซนติเมตร</p>
      <p class="text-left"> Vital sign T:.......°C  P:........./min  R:........./min BP:........./mmHg O<sub>2</sub>Sat:.............% </p>
      <p class="text-left"><b>สภาพร่างกายทั่วไป อยู่ในเกณฑ์</b>    ปกติ    ผิดปกติ(ระบุ).......................................................</p>
      <p class="text-left">ขอรับรองว่าบุคคลดังกล่าว ไม่เป็นผู้มีร่างกายทุพพลภาคจนไม่สามารถปฏิบัติหน้าที่ได้ ไม่ปรากฎอาการของโรคจิตหรือฟั่นเฟือน
         หรือปัญญาอ่อน และไม่ปรากฎอาการและอาการแสดงของโรคดังต่อไปนี้</p>
      <p class="text-left">(1) โรคเรื้อน / Leprosy <br>
      (2) วัณโรคในระยะอันตราย / Tuberculosis in dangerous stage <br>
      (3) โรคเท้าช้าง / Elephantiasis <br> 
      (4) โรคติดยาเสพติด / Drug Addiction<br>
      (5) โรคพิษสุราเรื้อรัง / Chronic Alcoholism<br>
      (6) โรคซิฟิลิส ในระยะที่ 3 / Tertiary Syphilis</p>
      <p class="text-left"><b>ผลการตรวจเพิ่มเติม</b> .............................................................................................................................</p>
      <br><br>
      <p class="text-left">สรุปความเห็นและข้อแนะนําของแพทย์ ................................................. <br>
      ......................................................................</p>
      <p class="text-right">Signature / ลงชื่อ.................................................M.D. / พ.บ.</p>
      <p class="text-right">Medical license No. / ใบประกอบวิชาชีพเวชกรรมเลขที่.......................................</p>
      <br><br>
      <p class="text-left">Clinic stamp / ประทับตราคลินิก</p>
      <br><br>
      <p class="text-left"> หมายเหตุ : ใบรับรองแพทย์ฉบับนี้ให้ใช้ได้ 1 เดือน นับแต่วันที่ตรวจร่างกาย</p>
      <p class="text-left">229/1, 229/2 Moo.7 PhiPhi Islands T.Aonang A.MuangKrabi Krabi 81000 Tel: +66(0)95-424-0444, +66(0)7-601-444</p>
      <p class="text-right">Rev 02-08/08/2017</p>
    </section>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'MedCert',
  props: ['patient'],
  metaInfo: {
    link: [
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css' }
    ]
  },
  mounted () {
    // added paper type for printing
    document.body.className = 'A4'
    document.title = this.patient ? `patient-registration-${this.patient.hospital_number_display}` : `patient-registration`
  },
  computed: {
    imgUrl () {
      if (this.patient) {
        return `${process.env.ASSET_URL}/${this.patient.img_url}`
      } else {
        return null
      }
    },
    getYM () {
      if (this.patient) {
        let date = this.patient.dob
        let monthOld = moment().diff(date, 'month')
        return `${Math.floor(monthOld / 12)}Y${monthOld % 12}M`
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@page {
  size: A4;
}

@media print {
  body * {
    visibility: visible !important;
  }
}

.print {
  display: flex;
  justify-content: center;
}

.print-header {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.print-footer {
  text-align: left;
}

.wm-logo {
  height: 100px;
}

.print-title {
  margin-right: auto;
  margin-left: auto;
}

.patient-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 0.25em;
}

.patient-img-dummy {
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 0.25em;
  border: 1px dotted #ddd;
}

.date {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.table-row {
  width: 100%;
  display: flex;
  align-items: stretch;
  border-top: 1px solid #ddd;
  &:nth-child(n+1) {
    border-bottom: none;
  }
  &:last-child {
    border-bottom: 1px solid #ddd;
  }
}

.table-column {
  padding: 8px;
  flex: 1;
  &:first-child {
    border-left: 1px solid #ddd;
  }
  &:nth-child(n+1) {
    border-right: none;
  }
  &:last-child {
    border-right: 1px solid #ddd;
  }
}

.print-label {
  font-size: 14px;
  font-weight: bold;
  min-height: 20px;
  min-width: 100px;
}

.print-info {
  font-size: 14px;
  min-height: 20px;
  min-width: 50px;
  width: 100%;
  border-bottom: 0.25px solid #bbb;
}

.print-signature {
  text-align: left;
  height: 80px;
  font-size: 14px;
}

.mt {
  margin-top: 10px;
}

.ml {
  margin-left: 10px;
}

.d-flex {
  display: flex;
}

.watermark {
  position: absolute;
  width: 100%;
  top: 150px;
  left: 0;
  z-index: 2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.1;
}
</style>
