<template>
  <div class="print">
    <section class="page-content sheet padding-10mm">
      <img class="watermark" src="/static/worldmed-logo.png" alt="worldmed watermark">
      <div class="print-header">
        
        <div class="print-title">
          <img class="wm-logo" src="/static/worldmed-logo.png" alt="worldmed logo"><br><b>
           Consent for Medical Transport </b>
        </div>
      </div>
      
       <FONT  SIZE = 1px>

      <p class="text-right"> Name............................................................... 
        <br> DOB.................................................................... 
        <br> Age.............................. Gender........................ 
        <br> CN/HN........................AN.............................. 
        <br> Visit Date........................................................</p> 
      <p class="text-left">I (Mr./Mrs./Miss) ________________________________________, Having________________________ </p>
      <p class="text-left">Holding Passport No. /ID card No. /Driving License _______________ Issued by:________________ </p>
      <p class="text-left">I voluntarily request the hospital’s authorized personnel to take care of my condition. </p>
      <p class="text-left">I understand that the following process of medical transport is planned for me and I voluntarily consent to, and authorize this procedure:</p>
      <p class="text-left">Transport by ambulance/boat/aircraft, escorted by physician/ nurse. </p>
      <p class="text-left">From:_____________________________________ To:__________________________  </p>
      <p class="text-left">The medical risks and liabilities associated with transportation have been explained by the physician.  </p>
      <p class="text-left">Refuse transportation at this time. </p>
      <p class="text-left">I hereby acknowledge and confirm that 
          I have been fully informed by the physician and/or medical staff of Worldmed Clinic about the transport processes including indications, benefits, possible risks, side effects and alternatives needed. 
          I have had an opportunity to discuss and receive answers to all questions. 
          I also understand that: </p>
      <p class="text-left">-Limited space, noise, vibration, alteration of climate and altitude is anticipated during transport. 
          <br> -There is risk of vehicle delay or malfunction caused by unexpected events which can’t be controlled by clinic staff. 
          <br> -There is risk of vehicle accident according to mode of transport and traffic condition. 
          <br> -I authorize the clinic staff to access any of my medical records that are pertinent to my treatment or condition for this episode of transport.</p>
          <br> 
      <p class="text-left">I guarantee that I have no illegal substances or hazardous materials in my possession. </p>
      <p class="text-left">I give my permission to the clinic staff to search my personal and all my belongings for illicit substances.  </p>
      <p class="text-left">The treating physician and / or his assistants are authorized to provide additional services as they deem reasonable and necessary including but not limited to administration and maintenance of anesthesia, blood and/ or blood product. 
         <br> As in all traffic conditions there is the possibility of an accident of any nature; The clinic staff is authorized to change the mode of transport for my benefit and safety.
         <br> <b> I hereby to receive the treatment detailed above </b></p>
      <p class="text-left"> _______________    _______________   _______________ 
         <br> Signature                  Patient’s name                    Date 
         <br> _______________    _______________   _______________ 
         <br> Signature                  Witness’s name                     Date 
         <br> _______________    _______________   _______________ 
         <br> Signature                  Physician’s or Dentist name or Designee                    Date 
         <br> _______________    _______________   _______________ 
         <br> Signature                  Second witness’s name (only if finger print used)                    Date 
      </p>
      <p class="text-left"> <b> *State why the patient is not able to give consent personally (or to sign this form) </b> 
      <p class="text-left">Minor or any unmarried male or female whose age has not reached the age of consent (20 years old)</p> 
      <p class="text-left">Physical/Mental disorder____________________________________________________________ </p>
      <p class="text-left">Others (Please specify)________________________________________________________</p>
      <p class="text-left">As the patient’s condition reasonably precludes the ability to grant informed consent, the above information has been explained to the following responsible relative and the treatment is hereby authorized:  </p>
      <p class="text-left"> _______________    _______________   _______________ 
         <br> Name            Signature               Relationship 
      <p class="text-left"> _______________    _______________   _______________ 
         <br> SIdentification No.      Issue place         Issue date
      <p class="text-left"> _____________________________________________ 
         <br> Current address
      <p class="text-left"> <b><U> Interpreter’s statement </U> </b></p>
      <p class="text-left">I have given a/an _________________________ language translation of the consent form (Consent for medical transport) and/or any additional verbal and written information given to the patient/parent or guardian/substitute decision maker by the doctor.</p>
      <p class="text-left"> Via   ____Direct communication   _____Telecommunication</p>
      <p class="text-left">  _______________      _______________ 
         <br> Printed name of interpreter          Date </p>
      <p class="text-right">rev. 01-28/09/16 </p>


    
      </FONT>
      
    </section>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'PrintPatientRegister',
  props: ['patient'],
  metaInfo: {
    link: [
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css' }
    ]
  },
  mounted () {
    // added paper type for printing
    document.body.className = 'A4'
    document.title = this.patient ? `patient-registration-${this.patient.hospital_number_display}` : `patient-registration`
  },
  computed: {
    imgUrl () {
      if (this.patient) {
        return `${process.env.ASSET_URL}/${this.patient.img_url}`
      } else {
        return null
      }
    },
    getYM () {
      if (this.patient) {
        let date = this.patient.dob
        let monthOld = moment().diff(date, 'month')
        return `${Math.floor(monthOld / 12)}Y${monthOld % 12}M`
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@page {
  size: A4;
}

@media print {
  body * {
    visibility: visible !important;
  }
}

.print {
  display: flex;
  justify-content: center;
}

.print-header {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.print-footer {
  text-align: left;
}

.wm-logo {
  height: 100px;
}

.print-title {
  margin-right: auto;
  margin-left: auto;
}

.patient-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 0.25em;
}

.patient-img-dummy {
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 0.25em;
  border: 1px dotted #ddd;
}

.date {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.table-row {
  width: 100%;
  display: flex;
  align-items: stretch;
  border-top: 1px solid #ddd;
  &:nth-child(n+1) {
    border-bottom: none;
  }
  &:last-child {
    border-bottom: 1px solid #ddd;
  }
}

.table-column {
  padding: 8px;
  flex: 1;
  &:first-child {
    border-left: 1px solid #ddd;
  }
  &:nth-child(n+1) {
    border-right: none;
  }
  &:last-child {
    border-right: 1px solid #ddd;
  }
}

.print-label {
  font-size: 14px;
  font-weight: bold;
  min-height: 20px;
  min-width: 100px;
}

.print-info {
  font-size: 14px;
  min-height: 20px;
  min-width: 50px;
  width: 100%;
  border-bottom: 0.25px solid #bbb;
}

.print-signature {
  text-align: left;
  height: 80px;
  font-size: 14px;
}

.mt {
  margin-top: 10px;
}

.ml {
  margin-left: 10px;
}

.d-flex {
  display: flex;
}

.watermark {
  position: absolute;
  width: 100%;
  top: 150px;
  left: 0;
  z-index: 2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.1;
}
</style>
