<template>
  <div class="print">
    <!-- <pre>{{ visitForm }}</pre> -->
    <section class="page-content sheet padding-10mm">
      <img class="watermark" src="/static/worldmed-logo.png" alt="worldmed watermark">

      <table>
        <tr>
          <td class="text-left" style="width: 50%;" colspan="5">
            <div class="row">
              <div class="col-sm-12" align="center">
                <img src="/static/worldmed-logo.png" alt="worldmed logo" height="60">
              </div>
              <div class="col-sm-12" align="center">
                <b>ER / OPD NURSING ASSESSMENT</b>
              </div>
            </div>
          </td>
          <td class="text-left" style="width: 50%;" colspan="2">
            <div class="label">Name: {{visitForm ? visitForm.title : ''}} {{visitForm ? visitForm.first_name : ''}} {{visitForm ? visitForm.last_name : ''}}</div>
            <div class="label">DOB: {{visitForm ? visitForm.dob : '' | moment('DD MMM YYYY')}}</div>
            <div class="label d-flex">
              <div>Age: {{getYM}}</div>
              <div style="margin-left: auto;width: 200px;">Gender: <span class="capitalize">{{visitForm ? visitForm.gender : ''}}</span></div>
            </div>
            <div class="label d-flex">
              <div>CH/HN: </div>
              <div style="margin-left: auto;width: 200px;">AN: {{visitForm ? visitForm.an : ''}}</div>
            </div>
            <div class="label d-flex">
              <div>Visit Date: {{visitForm ? visitForm.first_visited_date : '' | moment('DD MMM YYYY')}}</div>
              <div style="margin-left: auto;width: 200px; color: red;">**Allergy: <span class="capitalize">{{visitForm ? visitForm.allergy : ''}}</span></div>
            </div>
          </td>
        </tr>
        <tr class="text-left label">
          <td>
            <div style="background-color:#ff0000; padding: 5px;">
              <label for="esl-lv-superred" class="pure-checkbox">
                <i class="far fa-check-square" v-if="visitForm&&visitForm.esl_level_superred==true"></i> 
                <i class="far fa-square" v-else></i> 
                Super
              </label>
            </div>
          </td>
          <td>
            <div style="background-color:#ff8080; padding: 5px;">
              <label for="esl-lv-superred" class="pure-checkbox">
                <i class="far fa-check-square" v-if="visitForm&&visitForm.esl_level_red==true"></i> 
                <i class="far fa-square" v-else></i> 
                Red
              </label>
            </div>
          </td>
          <td>
            <div style="background-color:#ffff00; padding: 5px;">
              <label for="esl-lv-superred" class="pure-checkbox">
                <i class="far fa-check-square" v-if="visitForm&&visitForm.esl_level_yellow==true"></i> 
                <i class="far fa-square" v-else></i> 
                Yellow
              </label>
            </div>
          </td>
          <td>
            <div style="background-color:#00e600; padding: 5px;">
              <label for="esl-lv-superred" class="pure-checkbox">
                <i class="far fa-check-square" v-if="visitForm&&visitForm.esl_level_green==true"></i> 
                <i class="far fa-square" v-else></i> 
                Green
              </label>
            </div>
          </td>
          <td>
            <div style="background-color:#f0f0f5; padding: 5px;">
              <label for="esl-lv-superred" class="pure-checkbox">
                <i class="far fa-check-square" v-if="visitForm&&visitForm.esl_level_white==true"></i> 
                <i class="far fa-square" v-else></i> 
                White
              </label>
            </div>
          </td>
          <td class="text-left" colspan="2">
            <div class="label">When will you leave Phi Phi :</div>
            <div class="label">{{visitForm ? visitForm.opd_cc : ''}}</div>
            <div class="label">Where is your next destination :</div>
            <div class="label">{{visitForm ? visitForm.opd_pi : ''}}</div>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <b style="color: blue;">NURSING ASSESSMENT</b>
          </td>
        </tr>
        <tr>
          <td class="text-left" colspan="2" rowspan="2">
            <div class="label">Time of arrival: <u>{{visitForm ? visitForm.time_to_arrival : ''}}</u> 
            </div>
            <div class="label">Time to physician: <u>{{visitForm ? visitForm.time_to_phys : ''}}</u> </div>
          </td>
          <td class="text-left " colspan="5">
            <div class="label">
              <span style="color: red;">BP </span><u>{{visitForm ? visitForm.ni_bp : ''}}</u>mmHg&nbsp;&nbsp;
              <span style="color: red;">PR </span><u>{{visitForm ? visitForm.ni_pr : ''}}</u>/min&nbsp;&nbsp;
              <span style="color: red;">RR </span><u>{{visitForm ? visitForm.ni_rr : ''}}</u>/min&nbsp;&nbsp;
              <span style="color: red;">T </span><u>{{visitForm ? visitForm.ni_tt : ''}}</u>&#176;C&nbsp;&nbsp;
              <span style="color: red;">O2Sat </span><u>{{visitForm ? visitForm.ni_o2sat : ''}}</u>%&nbsp;&nbsp;
              <span style="color: red;">DTX </span><u>{{visitForm ? visitForm.ni_dtx : ''}}</u>mg%&nbsp;&nbsp;
              <span style="color: red;">BW </span><u>{{visitForm ? visitForm.ni_bw : ''}}</u>Kg&nbsp;&nbsp;
              <span style="color: red;">HT </span><u>{{visitForm ? visitForm.ni_ht : ''}}</u>cm&nbsp;&nbsp;
              <span style="color: red;">BMI </span><u>{{visitForm ? visitForm.ni_bmi : ''}}</u>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-left " colspan="5">
            <div class="label">
              <b>GCS</b> 
              <u>{{visitForm ? visitForm.gcs_e : ''}}</u> E&nbsp;
              <u>{{visitForm ? visitForm.gcs_v : ''}}</u> V&nbsp;
              <u>{{visitForm ? visitForm.gcs_m : ''}}</u> M&nbsp;
              <u>{{visitForm ? visitForm.gcs_pupil : ''}}</u> Pupil&nbsp;
              Lt <u>{{visitForm ? visitForm.gcs_lt : ''}}</u> (R,S,F)&nbsp;
              Rt <u>{{visitForm ? visitForm.gcs_rt : ''}}</u> (R,S,F)&nbsp;&nbsp;
            </div>
            <div class="label">
              <b>Pregnancy:</b> <u v-if="visitForm&&visitForm.pregnancy_na==true">N/A</u>
              <u v-if="visitForm&&visitForm.pregnancy_no==true">No</u>
              <u v-if="visitForm&&visitForm.pregnancy_yes==true">Yes</u>
              G <u>{{visitForm ? visitForm.pregnancy_g : ''}}</u>
              P <u>{{visitForm ? visitForm.pregnancy_p : ''}}</u>
              A <u>{{visitForm ? visitForm.pregnancy_a : ''}}</u>
              GA <u>{{visitForm ? visitForm.pregnancy_ga : ''}}</u> Week&nbsp;&nbsp;
              <b>By:</b> <u>{{visitForm ? visitForm.pregnancy_by : ''}}</u>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-left" colspan="5" rowspan="4">
            <div class="label pdt5">
              Mode of arrival:&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.mode_of_arrival_walk==true"></i> 
              <i class="far fa-square" v-else></i> Walk&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.mode_of_arrival_wheelchair==true"></i> 
              <i class="far fa-square" v-else></i> Wheel chair&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.mode_of_arrival_stretcher==true"></i> 
              <i class="far fa-square" v-else></i> Stretcher
            </div>
            <div class="label pdt5">
              Fall Precaution:&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.fall_precaution_standard==true"></i> 
              <i class="far fa-square" v-else></i> Standard&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.fall_precaution_moderate==true"></i> 
              <i class="far fa-square" v-else></i> Moderate&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.fall_precaution_strict==true"></i> 
              <i class="far fa-square" v-else></i> High Risk (Strict)
            </div>
            <div class="label pdt5">
              Purpose:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.purpose_walkin==true"></i> 
              <i class="far fa-square" v-else></i> Walk in&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.purpose_followup==true"></i> 
              <i class="far fa-square" v-else></i> Follow up&nbsp;&nbsp;

            </div>
            <div class="label pdt5">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.purpose_refer==true"></i> 
              <i class="far fa-square" v-else></i> Refer
              <u v-if="visitForm&&visitForm.purpose_refer==true">from {{visitForm.refer_from}}</u>
              <i class="far fa-check-square" v-if="visitForm&&visitForm.purpose_amp_pickup==true"></i> 
              <i class="far fa-square" v-else></i> Ambulance pick up
              <u v-if="visitForm&&visitForm.purpose_amp_pickup==true">from {{visitForm ? visitForm.amb_pickup_from : ''}}</u>
            </div>
            <div class="label pdt5">
              Escort:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.escort_none==true"></i> 
              <i class="far fa-square" v-else></i> None&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.escort_family==true"></i> 
              <i class="far fa-square" v-else></i> Family&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.escort_other==true"></i> 
              <i class="far fa-square" v-else></i> Other
              <u v-if="visitForm&&visitForm.escort_other==true"> : {{visitForm ? visitForm.escort_other_input : ''}}</u>
            </div>
            <div class="label pdt5">
              General Appearance:&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.general_appearance_good==true"></i> 
              <i class="far fa-square" v-else></i> Good&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.general_appearance_bedridden==true"></i> 
              <i class="far fa-square" v-else></i> Bedridden&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.general_appearance_other==true"></i> 
              <i class="far fa-square" v-else></i> Other
              <u v-if="visitForm&&visitForm.general_appearance_other==true"> : {{visitForm ? visitForm.general_appearance_other_input : ''}}</u>
            </div>
          </td>
          <td class="text-left">
            <div class="label">LMP: <u>{{visitForm ? visitForm.lmp : ''}}</u></div>
          </td>
          <td class="text-left">
            <div class="label">Contraceptions: 
              <u v-if="visitForm&&visitForm.contra_no">No</u>
              <u v-if="visitForm&&visitForm.contra_yes&&visitForm.contra_input!=='OTHER'">Yes : {{visitForm ? visitForm.contra_input : ''}}</u>
              <u v-if="visitForm&&visitForm.contra_input=='OTHER'">Yes : {{visitForm ? visitForm.contra_input_other : ''}}</u>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-left" colspan="2"><b>Pain assessment:</b></td>
        </tr>
        <tr>
          <td class="text-left" style="height: 40px;" colspan="2">
            <div class="label pdt5">
              Pain score <u>{{visitForm ? visitForm.pain_score : ''}}</u>&nbsp;&nbsp;&nbsp;&nbsp;
              Location <u>{{visitForm ? visitForm.location : ''}}</u>&nbsp;&nbsp;&nbsp;&nbsp;
              Duration <u>{{visitForm ? visitForm.duration : ''}}</u>
            </div>
            <div class="label pdt5">
              <b>Frequency:</b>&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.frequency_cont==true"></i> 
              <i class="far fa-square" v-else></i> Continuous&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.frequency_inter==true"></i> 
              <i class="far fa-square" v-else></i> Intermittent&nbsp;&nbsp;
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-left" colspan="2"><b>Assessment tool:</b></td>
        </tr>
        <tr>
          <td class="text-left" colspan="5"><b>Vaccination <span style="color: red;">(Only trauma case)</span></b></td>
          <td class="text-left" colspan="2" rowspan="2">
            <div class="label pdt5">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.assessment_tool_nips==true"></i> 
              <i class="far fa-square" v-else></i> NIPS (0-3 mo)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.assessment_tool_flacc==true"></i> 
              <i class="far fa-square" v-else></i> FLACC (3 mos-4yr)
            </div>
            <div class="label pdt5">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.assessment_tool_faces==true"></i> 
              <i class="far fa-square" v-else></i> FACES (4-8 yrs) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.assessment_tool_nrs==true"></i> 
              <i class="far fa-square" v-else></i> NRS (>8 yr)
            </div>
            <div class="label pdt5">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.assessment_tool_pps==true"></i> 
              <i class="far fa-square" v-else></i> PPS (Cognitive, Impaired)
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-left" colspan="5">  
            <div class="label pdt5">
              <b>Tetanus:</b>&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.tetanus_never==true"></i> 
              <i class="far fa-square" v-else></i> Never &nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.tetanus_more_10yrs==true"></i> 
              <i class="far fa-square" v-else></i> > 10yrs&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.tetanus_5_10yrs==true"></i> 
              <i class="far fa-square" v-else></i> 5-10yrs&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.tetanus_less_5yrs==true"></i> 
              <i class="far fa-square" v-else></i> < 5 yrs&nbsp;&nbsp;
            </div>
            <div class="label pdt5">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.tetanus_other==true||visitForm&&visitForm.tetanus_na===true"></i> 
              <i class="far fa-square" v-else></i> Year
              <u v-if="visitForm&&visitForm.tetanus_na===true"> : N/A</u>
              <u v-if="visitForm&&visitForm.tetanus_other===true"> : {{visitForm ? visitForm.tetanus_other_input : ''}}</u>
            </div>
            <div class="label pdt5">
              <b>Rabies:</b>&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.rabies_never==true"></i> 
              <i class="far fa-square" v-else></i> Never &nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.rabies_more3inj==true"></i> 
              <i class="far fa-square" v-else></i> > 3 injection&nbsp;&nbsp;
            </div>
            <div class="label pdt5">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!-- <i class="far fa-check-square" v-if="visitForm.rabies_ex==true"></i>  -->
              <i class="far fa-square"></i> Pre-Exposure &nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.rabies_other==true||visitForm&&visitForm.rabies_na===true"></i> 
              <i class="far fa-square" v-else></i> Year
              <u v-if="visitForm&&visitForm.rabies_na===true"> : N/A</u>
              <u v-if="visitForm&&visitForm.rabies_other===true"> : {{visitForm ? visitForm.rabies_other_input : ''}}</u>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-left" colspan="5">
            <div class="label">
              <b>Past history: </b>
              <u>{{visitForm ? visitForm.past_history : ''}}</u>
            </div>
            <div class="label pdt5">
              <b>Surgical history: </b>
              <u>{{visitForm ? visitForm.surgical_history : ''}}</u>
            </div>
            <div class="label pdt5">
              <b>Family history: </b>
              <u>{{visitForm ? visitForm.family_history : ''}}</u>
            </div>
            <div class="label pdt5">
              <b>Smoking: </b>&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.smoking_none==true"></i> 
              <i class="far fa-square" v-else></i> No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.smoking_yes==true"></i> 
              <i class="far fa-square" v-else></i> Yes&nbsp;
              <u v-if="visitForm&&visitForm.smoking_yes===true"> : {{visitForm ? visitForm.smoking : ''}}</u>
            </div>
            <div class="label pdt5">
              <b>Alcohol: </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.alcohol_none==true"></i> 
              <i class="far fa-square" v-else></i> No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.alcohol_yes==true"></i> 
              <i class="far fa-square" v-else></i> Yes&nbsp;
              <u v-if="visitForm&&visitForm.alcohol_yes===true"> : {{visitForm ? visitForm.alcohol : ''}}</u>
            </div>
          </td>
          <td class="text-left" colspan="2">
            <div class="label">
              <span style="color: red;"><b>Allergy & Reaction:</b></span>&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.allergy_reaction_nka==true"></i> 
              <i class="far fa-square" v-else></i> Not Known Allergy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="label pdt5">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.allergy_reaction_yes==true"></i> 
              <i class="far fa-square" v-else></i> Yes&nbsp;
              <u v-if="visitForm&&visitForm.allergy_reaction_yes===true"> : {{visitForm ? visitForm.allergy_reaction_yes_input : ''}}</u>
            </div>
            <div class="label pdt10">
              <b>Current medication:</b>&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.current_med_none==true"></i> 
              <i class="far fa-square" v-else></i> No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="label pdt5">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.current_med_yes==true"></i> 
              <i class="far fa-square" v-else></i> Yes&nbsp;
              <u v-if="visitForm&&visitForm.current_med_yes===true"> : {{visitForm ? visitForm.current_med : ''}}</u>
            </div>
            <div class=""></div>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <b style="color: blue;">CHIEF COMPLAIN AND PRESENT ILLNESS</b>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <div class="text-left label">{{visitForm ? visitForm.chief_complaint : ''}}</div>
            <div class="text-right">
              <img src="/static/nursing-cc-body.png" height="160">
            </div>
            <div class="text-right label">RN: <u>{{visitForm ? visitForm.cc_rn : ''}}</u></div>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <b style="color: blue;">DISCHARGE STATUS</b>
          </td>
        </tr>
        <tr>
          <td class="text-left" colspan="7">
            <div class="label">
              <b>Discharge condition:</b>&nbsp;&nbsp;&nbsp;
              <span style="color: red;">BP </span><u>{{visitForm ? visitForm.ni_bp : ''}}</u> mmHg&nbsp;&nbsp;&nbsp;&nbsp;
              <span style="color: red;">PR </span><u>{{visitForm ? visitForm.ni_pr : ''}}</u> /min&nbsp;&nbsp;&nbsp;&nbsp;
              <span style="color: red;">RR </span><u>{{visitForm ? visitForm.ni_rr : ''}}</u> /min&nbsp;&nbsp;&nbsp;&nbsp;
              <span style="color: red;">T </span><u>{{visitForm ? visitForm.ni_tt : ''}}</u> &#176;C&nbsp;&nbsp;&nbsp;&nbsp;
              <span style="color: red;">O2Sat </span><u>{{visitForm ? visitForm.ni_o2sat : ''}}</u> %
            </div>
            <div class="label pdt5">
              <b>Discharge to:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.discharge_to_home==true"></i> 
              <i class="far fa-square" v-else></i> Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.discharge_to_admission_room==true"></i> 
              <i class="far fa-square" v-else></i> Admission room&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.against_medical_advice==true"></i> 
              <i class="far fa-square" v-else></i> <span style="color: red;">Against Medical Advice**</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="label">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.discharge_to_refer==true"></i> 
              <i class="far fa-square" v-else></i> Refer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <u v-if="visitForm&&visitForm.discharge_to_refer===true"> : {{visitForm ? visitForm.discharge_to_refer_input : ''}}</u>
              <i class="far fa-check-square" v-if="visitForm&&visitForm.discharge_to_reason==true"></i> 
              <i class="far fa-square" v-else></i> Reason&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <u v-if="visitForm&&visitForm.discharge_to_reason===true"> : {{visitForm ? visitForm.discharge_to_reason_input : ''}}</u>
              <i class="far fa-check-square" v-if="visitForm&&visitForm.sent_patient_with_film==true"></i> 
              <i class="far fa-square" v-else></i> Sent patient with film/CD/Other
              <u v-if="visitForm&&visitForm.sent_patient_with_film===true"> : {{visitForm ? visitForm.sent_patient_with_film_input : ''}}</u>
            </div>
            <div class="label">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.discharge_to_hospital==true"></i> 
              <i class="far fa-square" v-else></i> Hospital&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <u v-if="visitForm&&visitForm.discharge_to_hospital===true"> : {{visitForm ? visitForm.discharge_to_hospital_input: ''}}</u>
              <i class="far fa-check-square" v-if="visitForm&&visitForm.discharge_for==true"></i> 
              <i class="far fa-square" v-else></i> For
              <u v-if="visitForm&&visitForm.discharge_for===true"> : {{visitForm ? visitForm.discharge_for_input: ''}}</u>
            </div>
            <div class="label">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.discharge_to_dead==true"></i> 
              <i class="far fa-square" v-else></i> Dead (See CPR Record)
            </div>
            <div class="label pdt5">
              <b>Patient instruction prior to discharge:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.patient_instruction_patient==true"></i>
              <i class="far fa-square" v-else></i> Patient&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.patient_instruction_patients_relatives==true"></i>
              <i class="far fa-square" v-else></i> Patient relatives&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.patient_instruction_patient_other==true"></i>
              <i class="far fa-square" v-else></i> Other&nbsp;
              <u v-if="visitForm&&visitForm.patient_instruction_patient_other===true"> : {{visitForm ? visitForm.patient_instruction_patient_other_input : ''}}</u>
            </div>
            <div class="label">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.health_education==true"></i>
              <i class="far fa-square" v-else></i> Health education&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.medication==true"></i>
              <i class="far fa-square" v-else></i> Medication&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.wound_care==true"></i>
              <i class="far fa-square" v-else></i> Wound care&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.splint_care==true"></i>
              <i class="far fa-square" v-else></i> Splint care&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.npo_6_8_hours==true"></i>
              <i class="far fa-square" v-else></i> NPO 6-8 hours&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="label">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.observe_neuro_signs==true"></i>
              <i class="far fa-square" v-else></i> Observe Neuro Signs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.patient_instruction_blood_collection==true"></i>
              <i class="far fa-square" v-else></i> Blood collection
            </div>
            <div class="label">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.patient_instruction_other==true"></i>
              <i class="far fa-square" v-else></i> Other&nbsp;
              <u v-if="visitForm&&visitForm.patient_instruction_other===true"> : {{visitForm ? visitForm.patient_instruction_other_input : ''}}</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Follow up date: <u>{{visitForm ? visitForm.patient_instruction_followup_date : ''}}&nbsp;&nbsp;{{visitForm ? visitForm.patient_instruction_followup_time : ''}}</u>
            </div>
            <div class="label pdt5">
              <b>Instruction document given to patient:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.instruction_doc_no==true"></i>
              <i class="far fa-square" v-else></i> No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.instruction_doc_yes==true"></i>
              <i class="far fa-square" v-else></i> Yes (Specialty)&nbsp;
              <u v-if="visitForm&&visitForm.instruction_doc_yes===true"> : {{visitForm ? visitForm.instruction_doc_yes_input : ''}}</u>
            </div>
            <div class="label pdt5">
              <b>Education perception:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.education_perception_3==true"></i>
              <i class="far fa-square" v-else></i> 3=Excellent&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.education_perception_2==true"></i>
              <i class="far fa-square" v-else></i> 2=Good&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.education_perception_1==true"></i>
              <i class="far fa-square" v-else></i> 1=Fair (Patient/Family/Indicates understanding)&nbsp;
            </div>
            <div class="label">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.education_perception_0==true"></i>
              <i class="far fa-square" v-else></i> 0=Not understand (Recommend review)&nbsp;  
            </div>
            <div class="label pdt5">
              Primary language: <u>{{visitForm ? visitForm.primary_language : ''}}</u>&nbsp;&nbsp;&nbsp;Written language: <u>{{visitForm ? visitForm.written_language : ''}}</u>&nbsp;&nbsp;&nbsp;Refer to interpreter&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.interpreter_no==true"></i>
              <i class="far fa-square" v-else></i> No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="far fa-check-square" v-if="visitForm&&visitForm.interpreter_yes==true"></i>
              <i class="far fa-square" v-else></i> Yes&nbsp;&nbsp;
              <u v-if="visitForm&&visitForm.interpreter_yes===true"> Name: {{visitForm ? visitForm.interpreter_name : ''}}</u>
            </div>
            <div class="label">
              <div class="text-right">
                <b>RN: </b><u>{{visitForm ? visitForm.discharge_staff_name : ''}}</u>&nbsp;&nbsp;&nbsp;Time: <u>{{visitForm ? visitForm.discharge_time : ''}}</u>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <div class="text-left" style="color: blue; font-size: 5px;">
        Remark Please mark "NA" under the item that is not applicable "NSF" No significant findings<br>
        Dangerous abbreviations 1) U 2) IU 3) QD 4) QOD 5) MS 6) MSO4 7) MGSO4 8) Never write "0" after a decimal point (X mg) 9) Always use "0" before a decimal point (0.X mg 10) CC 11) OD
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
$border-color: #bbbbbb;
table {
  width: 100%;
}

td {
  border: 1px solid $border-color;
  padding: 4px;
  vertical-align: top;
}

.label {
  // margin-top: 5px;
  font-size: 11px;
}

.pdt5 {
  padding-top: 5px;
}

.pdt10 {
  padding-top: 10px;
}

.bar {
  margin-left: 10px;
  border-bottom: 1px solid #adadad;
  width: 120px;
}

.mt-2 {
  margin-top: 10px;
}

.ml-2 {
  margin-left: 10px;
}

.text-ct {
  text-align: center;
}
</style>

<script>
import moment from 'moment'
const VISIT_FORM_API = require('@/api/visit-form')
export default {
  name: 'PrintNursingAssessment',
  metaInfo: {
    link: [
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css' }
    ]
  },
  data () {
    return {
      visitForm: null,
      visitFormHead: null
    }
  },
  async mounted () {
    // added paper type for printing
    document.body.className = 'A4'
    let visitFormId = this.$route.params.visitFormId
    let visitFormRes = await VISIT_FORM_API.getVisitFormById(visitFormId)
    this.visitFormHead = visitFormRes.data
    this.visitForm = JSON.parse(visitFormRes.data.data)
  },
  computed: {
    getYM () {
      if (this.visitForm) {
        let date = this.visitForm.dob
        let monthOld = moment().diff(date, 'month')
        return `${Math.floor(monthOld / 12)}Y${monthOld % 12}M`
      }
    }
  }
}
</script>

