<template>
  <div class="print">
    <!-- <pre>{{ visitForm }}</pre> -->
    <section class="page-content sheet padding-10mm">
      <img class="watermark" src="/static/worldmed-logo.png" alt="worldmed watermark">

      <table>
        <tr>
          <td class="text-left" style="width: 50%;" rowspan="2">
            <div class="d-flex">
              <img src="/static/worldmed-logo.png" alt="worldmed logo" height="50">
              <h3 class="margin-left: 20px;">OPD card</h3>
            </div>
            <div class="label">CC:</div>
            <div class="label" style="min-height: 60px;">{{visitForm.opd_cc}}</div>
            <div class="label">PI:</div>
            <div class="label" style="min-height: 60px;">{{visitForm.opd_pi}}</div>
          </td>
          <td class="text-left" style="width: 50%;" colspan="3">
            <div class="label">Name: {{visitForm.title}} {{visitForm.first_name}} {{visitForm.last_name}}</div>
            <div class="label">DoB: {{visitForm.dob | moment('DD MMM YYYY')}}</div>
            <div class="label d-flex">
              <div>Age: {{getYM}}</div>
              <div style="margin-left: auto;width: 200px;">Gender: <span class="capitalize">{{visitForm.gender}}</span></div>
            </div>
            <div class="label d-flex">
              <div>CH/HN: </div>
              <div style="margin-left: auto;width: 200px;">AN: {{visitForm.an}}</div>
            </div>
            <div class="label d-flex">
              <div>Visit Date: {{visitForm.first_visited_date | moment('DD MMM YYYY')}}</div>
              <div style="margin-left: auto;width: 200px; color: red;">**Allergy: <span class="capitalize">{{visitForm.allergy}}</span></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-left" style="height:100px;" colspan="3">
            <div class="label">Investigation / X-Ray</div>
            <div class="label" v-for="(inv, invIndex) in investigation" :key="invIndex">
              <span v-if="inv.type === 'xray'" class="capitalize">
                {{invIndex+1}}. {{inv.type}}&nbsp;
                {{inv.xray_side}}&nbsp;
                {{inv.xray_parts}}&nbsp;
                {{inv.xray_organ}}&nbsp;
                {{inv.xray_view1}}&nbsp;
                {{inv.xray_view2}}&nbsp;
                {{inv.xray_view3}}&nbsp;
                {{inv.xray_view4}}&nbsp;
                {{inv.xray_view5}}&nbsp;
              </span>
              <span class="capitalize" v-else>{{invIndex+1}}. {{inv.type}} {{inv.checkup_detail}}</span>
            </div>
          </td>
        </tr>

        <tr>
          <td class="text-left" rowspan="4">
            <div class="label">PE: </div>
            <div class="d-flex mt-2" v-for="(peItem, index) in pe" :key="index">
              <div class="label" style="width: 55px;">{{peItem.title}}</div>
              <div class="label" style="margin-left:10px;">
                <i class="far fa-check-square" v-if="visitForm[`${peItem.key}_wnl_abn`]=='wnl'"></i> 
                <i class="far fa-square" v-else></i> 
                &nbsp;WNL
              </div>
              <div class="label" style="margin-left:10px;">
                <i class="far fa-check-square" v-if="visitForm[`${peItem.key}_wnl_abn`]=='abnormal'"></i> 
                <i class="far fa-square" v-else></i>
                &nbsp;Abnormal
              </div>
              <div class="bar">
                <div class="label">{{visitForm[`${peItem.key}_note`]}}</div>
              </div>
            </div>
            <div class="d-flex mt-2" style="height: 200px;">
              <div class="label">Other</div>
            </div>
          </td>
          <td class="text-left" colspan="3">
            <div class="label">Diagnosis:</div>
            <div class="label" v-for="(d, dIndex) in diagnosis" :key="dIndex">
              {{d.no}}. {{d.diagnosis}}
            </div>
          </td>
        </tr>

        <tr>
          <td class="text-left" colspan="3">
            <div class="label">Treatment / Procedure</div>
            <div class="label d-flex" v-for="(tp, tIndex) in visitForm.treatment_procedure" :key="tIndex">
              <div>{{tIndex+1}}. {{tp.doctor_order}}</div>
              <div style="margin-left: 25px;">{{tp.amount}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-left">
            <div class="label">No.</div>
          </td>
          <td class="text-left">
            <div class="label">Medication / Procedure</div>
          </td>
          <td class="text-left">
            <div class="label">Amount</div>
          </td>
        </tr>

        <!-- Medication -->
        <tr class="text-left">
          <td v-for="(mp, index) in visitForm.medication_procedure" :key="index">
            <div class="label">{{index+1}}</div>
          </td>
          <td v-for="(mp, index) in visitForm.medication_procedure" :key="index">
            <div class="label">{{mp.doctor_order}}</div>
          </td>
          <td v-for="(mp, index) in visitForm.medication_procedure" :key="index">
            <div class="label">{{mp.amount}}</div>
          </td>
        </tr>

        <tr>
          <td class="text-left" colspan="4">
            <div class="label">Advice: {{visitForm.advice}}</div>
          </td>
        </tr>

        <tr>
          <td class="text-left" colspan="4">
            <div class="d-flex">
              <div class="label">Follow up:</div>
              <div class="label ml-2">
                <i class="far fa-check-square" v-if="!visitForm.is_follow_date"></i>
                <i class="far fa-square" v-else></i>
                &nbsp;No
              </div>
              <div class="label ml-2">
                <i class="far fa-check-square" v-if="visitForm.is_follow_date"></i>
                <i class="far fa-square" v-else></i>
                &nbsp;Yes
              </div>
              <div class="label ml-2">Date: {{visitForm.follow_date}}</div>
              <div class="label ml-2">Reason: {{visitForm.reason}}</div>
              <div class="label ml-2">Plan: {{visitForm.plan}}</div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="text-left" colspan="2">
            <div class="label">Comment: {{visitForm.comment}}</div>
          </td>
          <td class="text-left" colspan="2">
            <div class="label">Physician's signature</div>
            <div class="label">Physician's name</div>
            <div class="label">License number</div>
          </td>
        </tr>
      </table>
    </section>
  </div>
</template>

<style lang="scss" scoped>
$border-color: #bbbbbb;
table {
  width: 100%;
}

td {
  border: 1px solid $border-color;
  padding: 10px;
  vertical-align: top;
}

.label {
  margin-top: 5px;
  font-size: 12px;
}

.bar {
  margin-left: 10px;
  border-bottom: 1px solid #adadad;
  width: 120px;
}

.mt-2 {
  margin-top: 10px;
}

.ml-2 {
  margin-left: 10px;
}
</style>

<script>
import moment from 'moment'
const VISIT_FORM_API = require('@/api/visit-form')
export default {
  name: 'PrintOpdCard',
  metaInfo: {
    link: [
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css' }
    ]
  },
  data () {
    return {
      visitForm: null,
      visitFormHead: null,
      pe: [
        { title: 'GA', key: 'ga' },
        { title: 'Skin', key: 'skin' },
        { title: 'HEENT', key: 'heent' },
        { title: 'RS', key: 'rs' },
        { title: 'CVS', key: 'cvs' },
        { title: 'abdomen', key: 'abdomen' },
        { title: 'Extremities', key: 'extremities' },
        { title: 'Neuro', key: 'neuro' }
      ]
    }
  },
  async mounted () {
    // added paper type for printing
    document.body.className = 'A4'
    let visitFormId = this.$route.params.visitFormId
    let visitFormRes = await VISIT_FORM_API.getVisitFormById(visitFormId)
    this.visitFormHead = visitFormRes.data
    this.visitForm = JSON.parse(visitFormRes.data.data)
  },
  computed: {
    getYM () {
      if (this.visitForm) {
        let date = this.visitForm.dob
        let monthOld = moment().diff(date, 'month')
        return `${Math.floor(monthOld / 12)}Y${monthOld % 12}M`
      }
    },
    investigation () {
      if (this.visitForm && this.visitForm.opd_investigation) {
        let inv = JSON.parse(this.visitForm.opd_investigation)
        return inv
      } else {
        return []
      }
    },
    diagnosis () {
      if (this.visitForm && this.visitForm.diagnosis) {
        return JSON.parse(this.visitForm.diagnosis)
      } else {
        return []
      }
    }
  }
}
</script>

