<template>
  <div class="print">
  <!-- <pre>{{ patient }}</pre> -->
    <section class="page-content sheet padding-10mm">
      <img class="watermark" src="/static/worldmed-logo.png" alt="worldmed watermark">
      <div class="print-header">
        <img class="wm-logo" src="/static/worldmed-logo.png" alt="worldmed logo">
        <div class="print-title">Patient Registration Form</div>
        <img class="patient-img" :src="imgUrl" v-if="imgUrl">
        <div class="patient-img-dummy" v-else><icon name="camera"></icon></div>
      </div>
      <div class="date mt">
        <b>HN</b>
        <span class="print-info ml" style="max-width: 150px;">{{ patient ? patient.hospital_number_display:''}}</span>
        <b class="ml">Date</b>
        <span class="print-info ml" style="max-width: 150px;">
          <span v-if="patient">{{ patient.created_at | moment("YYYY/MM/DD HH:mm")}}</span>
        </span>
      </div>
      <div class="table-row mt">
        <div class="table-column">
          <div class="print-label red">Drug Allegy</div>
          <div class="print-info red capitalize">{{ patient ? patient.drug_allergy:''}}</div>
        </div>
        <div class="table-column">
          <div class="print-label">Blood Group</div>
          <div class="print-info">{{ patient ? patient.blood_group : ''}}</div>
        </div>
        <div class="table-column">
          <div class="print-label">ID card / Passport</div>
          <div class="print-info">{{ patient ? patient.id_number : ''}}</div>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column">
          <div class="d-flex">
            <div class="print-label">First Name</div>
            <div class="print-info ml capitalize">{{ patient ? patient.title:'' }} {{ patient ? (patient.first_name || patient.first_name_th):''}}</div>
            <div class="print-label ml">Middle Name</div>
            <div class="print-info ml capitalize">{{ patient ? (patient.middle_name || patient.middle_name_th): ''}}</div>
          </div>
          <div class="d-flex mt">
            <div class="print-label">Last Name</div>
            <div class="print-info ml capitalize" style="max-width: 250px;">{{ patient ? (patient.last_name || patient.last_name_th): ''}}</div>
            <div class="print-label">Occupation</div>
            <div class="print-info ml" style="max-width: 250px;">{{ patient ? patient.occupation: ''}}</div>
          </div>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column">
          <div class="d-flex">
            <div class="print-label">Sex</div>
            <div class="print-info ml capitalize">{{ patient ? patient.gender: ''}}</div>
            <div class="print-label ml">Date of Birth</div>
            <div class="print-info ml capitalize">
              <span v-if="patient">{{ patient.dob | moment('YYYY/MM/DD')}}</span>
            </div>
            <div class="print-label">Age</div>
            <div class="print-info ml capitalize">{{ patient ? getYM: ''}}</div>
          </div>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column">
          <div class="d-flex">
            <div class="print-label">Religion</div>
            <div class="print-info ml capitalize">{{ patient ? patient.religion: ''}}</div>
            <div class="print-label ml">Nationality</div>
            <div class="print-info ml capitalize">{{ patient ? patient.nationality: ''}}</div>
          </div>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column">
          <div class="d-flex">
            <div class="print-label">Home Address</div>
            <div class="print-info ml" style="text-align: left;">{{ patient ? patient.address: ''}}</div>
          </div>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column">
          <div class="d-flex">
            <div class="print-label">Phone Number</div>
            <div class="print-info ml">{{ patient ? patient.telephone: ''}}</div>
            <div class="print-label ml">Email Address</div>
            <div class="print-info ml">{{ patient ? patient.email: ''}}</div>
          </div>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column">
          <div class="d-flex">
            <div class="print-label" style="text-align: left;">Present Address in Thailand</div>
            <div class="print-info ml" style="text-align: left;" v-if="patient && patient.hotel">Hotel: {{patient.hotel.hotel_name}}</div>
            <div class="print-info ml" style="text-align: left;" v-else-if="patient">{{patient.address_th}}</div>
            <div class="print-info ml" style="text-align: left;" v-else></div>
          </div>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column">
          <div class="d-flex">
            <div class="print-label">Insurance</div>
            <div class="print-info ml" style="text-align: left;">{{ patient ? patient.insurance_name: ''}}</div>
          </div>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column">
          <div class="d-flex">
            <div class="print-label">Notify in emergency</div>
            <div class="print-info ml">{{ patient ? patient.emergency_name: ''}}</div>
            <div class="print-label ml">Relation to patient</div>
            <div class="print-info ml">{{ patient ? patient.emergency_relation: ''}}</div>
          </div>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column">
          <div class="d-flex">
            <div class="print-label">Address</div>
            <div class="print-info ml">{{ patient ? patient.emergency_address: ''}}</div>
            <div class="print-label ml">Phone Number</div>
            <div class="print-info ml">{{ patient ? patient.emergency_telephone: ''}}</div>
          </div>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column">
          <div class="print-label" style="text-align: left;">How did you find us</div>
          <div class="print-info" style="text-align: left;">{{ patient ? patient.clinic_discovery: ''}}</div>
        </div>
      </div>

      <div class="print-footer">
        <div class="table-row">
          <div class="table-column">
            <p>I certify that infomation provided above are correct</p>
            <div class="d-flex" style="justify-content: space-between;">
              <div style="text-align: center;">
                <div class="print-signature">signature: </div>
                <div class="print-info capitalize" style="width: 300px;">{{ patient ? patient.title: ''}} {{ patient ? (patient.first_name || ''): ''}}{{ patient ? ` ${patient.middle_name || ''}`: ''}}{{ patient? ` ${patient.last_name || ''}`: ''}}</div>
                <div class="print-label">Patient</div>
              </div>
              <div style="text-align: center;">
                <div class="print-signature">signature: </div>
                <div class="print-info" style="width: 300px;"></div>
                <div class="print-label">Staff</div>

                <div class="mt">Date: {{ new Date() | moment("YYYY/MM/DD HH:mm") }}</div>
              </div>
            </div>
            <div class="d-flex">
              <div style="text-align: center;">
                <div class="print-signature">signature: </div>
                <div class="print-info" style="width: 300px;"></div>
                <div class="print-label">Relative: relationship to patient</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import moment from 'moment'
import API from '@/api'
export default {
  name: 'PrintPatientRegister',
  metaInfo: {
    link: [
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css' }
    ]
  },
  data () {
    return {
      patient: null
    }
  },
  async mounted () {
    // added paper type for printing
    document.body.className = 'A4'
    if (parseInt(this.$route.params.patientId) !== 0) {
      this.patient = await API.getPatientById(this.$route.params.patientId)
      if (this.patient.title) {
        this.patient.title = this.patient.title
      } else {
        this.patient.title = this.patient.gender === 'male' ? 'Mr.' : this.patient.marital_status === 'married' ? 'Mrs.' : 'Ms.'
      }
      document.title = this.patient ? `patient-registration-${this.patient.hospital_number_display}` : `patient-registration`
    }
  },
  computed: {
    imgUrl () {
      if (this.patient && this.patient.img_url) {
        return `${process.env.ASSET_URL}/${this.patient.img_url}`
      } else {
        return null
      }
    },
    getYM () {
      if (this.patient) {
        let date = this.patient.dob
        let monthOld = moment().diff(date, 'month')
        return `${Math.floor(monthOld / 12)}Y${monthOld % 12}M`
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.print-footer {
  text-align: left;
}

.patient-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 0.25em;
}

.patient-img-dummy {
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 0.25em;
  border: 1px dotted #ddd;
}

.date {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.table-row {
  width: 100%;
  display: flex;
  align-items: stretch;
  border-top: 1px solid #ddd;
  &:nth-child(n+1) {
    border-bottom: none;
  }
  &:last-child {
    border-bottom: 1px solid #ddd;
  }
}

.table-column {
  padding: 8px;
  flex: 1;
  &:first-child {
    border-left: 1px solid #ddd;
  }
  &:nth-child(n+1) {
    border-right: none;
  }
  &:last-child {
    border-right: 1px solid #ddd;
  }
}

.print-label {
  font-size: 14px;
  font-weight: bold;
  min-height: 20px;
  min-width: 100px;
}

.print-info {
  font-size: 14px;
  min-height: 20px;
  min-width: 50px;
  width: 100%;
  border-bottom: 0.25px solid #bbb;
}

.print-signature {
  text-align: left;
  height: 80px;
  font-size: 14px;
}

.mt {
  margin-top: 10px;
}

.ml {
  margin-left: 10px;
}

.d-flex {
  display: flex;
}
</style>
