<template>
  <div class="print">
    <section class="page-content sheet padding-10mm" v-if="this.payment" style="height: 100%;">
      <div id="page" ref="page">
        <!-- <img class="watermark" src="/static/worldmed-logo.png" alt="worldmed watermark"> -->
        <div class="print-header">
          <div class="print-title">
            <img class="wm-logo" src="/static/worldmed-logo.png" alt="worldmed logo">
          </div>
        </div>
        
        <div class="invoice-title text-left">
          <h3>Receipt #{{receiptId}}</h3>
          <div style="float:left;">
            <div class="d-flex" style="width: 350px;" v-if="invoice.visit.patient">
              <b class="label mr-auto">HN</b>
              <div class="capitalize">{{invoice.visit.patient.hospital_number_display}}</div>
            </div>
            <div class="d-flex" style="width: 350px;" v-if="invoice.visit.patient">
              <b class="label mr-auto">Patient</b>
              <div class="capitalize">{{invoice.visit.patient.first_name}} {{invoice.visit.patient.last_name}}</div>
            </div>
            <div class="d-flex" style="width: 350px;" v-if="invoice.invoice_to">
              <b class="label mr-auto">Invoice To</b>
              <div class="capitalize">{{invoice.invoice_to}}</div>
            </div>
            <div style="width: 100%;">
              <b class="mr-auto">Extra Information</b>
              <div>{{invoice.extra}}</div>
            </div>
          </div>
          <div style="float:right;">
            <div class="d-flex" style="width: 350px;">
              <b class="mr-auto">Appointment Date</b>
              <div>{{invoice.visit.created_at | moment('DD MMM YYYY HH:mm')}}</div>
            </div>
            <div class="d-flex" style="width: 350px;">
              <b class="mr-auto">Invoice Date</b>
              <div>{{invoice.updated_at | moment('DD MMM YYYY HH:mm')}}</div>
            </div>
            <div class="d-flex" style="width: 350px;">
              <b class="mr-auto">Payment Date</b>
              <div>{{payment.created_at | moment('DD MMM YYYY HH:mm')}}</div>
            </div>
          </div>
        </div>

        <table class="print-table">
          <tr>
            <th>Item</th>
            <!-- <th>Unit Price</th> -->
            <th>Quantity</th>
            <th>Discount</th>
            <th>Total Price</th>
          </tr>
          <tr v-if="$lodash.filter(invoice.invoice_items, item => item.type==='billable').length">
            <td colspan="5" class="text-left bg-grey">Billable Items</td>
          </tr>
          <tr class="text-left" v-for="item in $lodash.filter(invoice.invoice_items, item => item.type==='billable')" :key="item.id">
            <td>{{item.name}}</td>
            <!-- <td class="text-right">฿{{}}</td> -->
            <td class="text-right">{{item.amount}}</td>
            <td class="text-right">{{item.discount_total | numberWithCommas}} ฿</td>
            <td class="text-right">{{item.price_total | numberWithCommas}} ฿</td>
          </tr>
          <tr v-if="$lodash.filter(invoice.invoice_items, item => item.type==='product').length">
            <td colspan="5" class="text-left bg-grey">Medicines</td>
          </tr>
          <tr class="text-left" v-for="item in $lodash.filter(invoice.invoice_items, item => item.type==='product')" :key="item.id">
            <td>{{item.name}}</td>
            <!-- <td class="text-right">฿{{}}</td> -->
            <td class="text-right">{{item.amount}}</td>
            <td class="text-right">{{item.discount_total | numberWithCommas}} ฿</td>
            <td class="text-right">{{item.price_total | numberWithCommas}} ฿</td>
          </tr>
          <tr v-if="$lodash.filter(invoice.invoice_items, item => item.type==='lab').length">
            <td colspan="5" class="text-left bg-grey">Labs</td>
          </tr>
          <tr class="text-left" v-for="item in $lodash.filter(invoice.invoice_items, item => item.type==='lab')" :key="item.id">
            <td>{{item.name}}</td>
            <!-- <td class="text-right">฿{{}}</td> -->
            <td class="text-right">{{item.amount}}</td>
            <td class="text-right">{{item.discount_total | numberWithCommas}} ฿</td>
            <td class="text-right" style="min-width: 80px;">{{item.price_total | numberWithCommas}} ฿</td>
          </tr>
        </table>

        <div class="d-flex" style="margin-top: 25px;">
          <div class="note-section text-left">
            <div class="text-left" style="font-size: 10px;" v-if="payment.credit">
              <p>*Exclude 5% bank charge</p>
              <p>
                {{payment.credit | numberWithCommas}} + 5% charge = {{payment.credit + (payment.credit*0.05) | numberWithCommas}} THB
              </p>
            </div>
            <b class="label">Note</b>
            <p>{{payment.note || '-'}}</p>
          </div>
          <div class="summary-section">
            <div class="d-flex">
              <b class="summary-title">Discount</b>
              <div class="bordered">{{totalDiscount | numberWithCommas}} ฿</div>
            </div>
            <div class="d-flex">
              <b class="summary-title">Total Amount</b>
              <div class="bordered">{{totalAmount | numberWithCommas}} ฿</div>
            <!-- </div>
            <div class="d-flex" v-if="payment.credit">
              <b class="summary-title">Credit/Debit Card</b>
              <div class="bordered">{{payment.credit | numberWithCommas}} ฿</div>
            </div>
            <div class="d-flex" v-if="payment.cash">
              <b class="summary-title">Cash</b>
              <div class="bordered">{{payment.cash | numberWithCommas}} ฿</div>
            </div>
            <div class="d-flex" v-if="payment.other">
              <b class="summary-title">Other</b>
              <div class="bordered">{{payment.other | numberWithCommas}} ฿</div>
            </div>
            <div class="d-flex" v-if="payment.insurance">
              <b class="summary-title">Insurance</b>
              <div class="bordered">{{payment.insurance | numberWithCommas}} ฿</div>
            </div>
            <div class="d-flex" v-if="payment.internet">
              <b class="summary-title">Internet Banking</b>
              <div class="bordered">{{payment.internet | numberWithCommas}} ฿</div> -->
            </div>
            <div class="d-flex" v-if="payment.wechat">
              <b class="summary-title">Wechat</b>
              <div class="bordered">{{payment.wechat | numberWithCommas}} ฿</div>
            </div>
            <div class="d-flex" v-if="payment.alipay">
              <b class="summary-title">Alipay</b>
              <div class="bordered">{{payment.alipay | numberWithCommas}} ฿</div>
            </div>
            <div class="d-flex" v-if="totalPayment">
              <b class="summary-title">Total Payment</b>
              <div class="bordered">{{totalPayment | numberWithCommas}} ฿</div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex" style="margin-top: 100px;" >
        <div style="margin-left: auto; width: 300px; border-bottom: 1px solid #aaaaaa;"></div>
      </div>
      <div class="d-flex" style="margin-top: 10px;">
        <div class="payment-detail text-left">
          <p class="text-muted"><b>Payment Details</b></p>
          <p>
            {{payment.created_at | moment('dd DD MMM YYYY, hh:mm A')}}
          </p>
          <div v-if="payment.credit">Credit/Debit Card {{payment.credit | numberWithCommas}} ฿</div>
          <div v-if="payment.cash">Cash {{payment.cash | numberWithCommas}} ฿</div>
          <div v-if="payment.insurance">Insurance {{payment.insurance | numberWithCommas}} ฿</div>
          <div v-if="payment.internet">Internet Banking {{payment.internet | numberWithCommas}} ฿</div>
          <div v-if="payment.wechat">Internet Banking {{payment.internet | numberWithCommas}} ฿</div>
          <div v-if="payment.alipay">Internet Banking {{payment.internet | numberWithCommas}} ฿</div>
          <div v-if="payment.other">Other {{payment.other | numberWithCommas}} ฿</div>
          <div>Total {{totalPayment | numberWithCommas}} ฿</div>
        </div>
        <div class="ml-auto">Cashier</div>
      </div>
      <div class="invoice-footer" style="margin-top: 100px;">
        <div>WORLDMED CENTER</div>
        <div>125/131-133, M.7 PhiPhi Island, Aonang, Muang Krabi, Krabi, Thailand, 81000</div>
        <div>095-424-0444 & 075-601-444</div>
        <div>https://www.worldmed.center</div>
      </div>
    </section>
  </div>
</template>

<script>
const INVOICE_API = require('@/api/invoice')
export default {
  name: 'PrintPayment',
  metaInfo: {
    link: [
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css' },
      { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css' }
    ]
  },
  data () {
    return {
      invoice: null,
      payment: null
    }
  },
  async mounted () {
    // let page = document.getElementById('page')
    // added paper type for printing
    document.body.className = 'A4'
    let invoiceId = this.$route.params.invoiceId
    let paymentIndex = this.$route.params.paymentIndex
    this.invoice = (await INVOICE_API.getInvoiceById(invoiceId)).data.invoice
    this.payment = this.invoice.payments[paymentIndex]
    document.title = this.payment ? `receipt-${this.payment.id}` : `receipt`

    console.log(this.payment)
  },
  computed: {
    invoiceId () {
      let s = '000000000' + this.invoice.id
      return s.substr(s.length - 10)
    },
    receiptId () {
      let s = '000000000' + this.invoice.payments[0].id
      return s.substr(s.length - 10)
    },
    totalDiscount () {
      return this.invoice.invoice_items.reduce((total, item) => {
        return total + item.discount_total
      }, 0)
    },
    totalAmount () {
      return this.invoice.invoice_items.reduce((total, item) => {
        return total + item.price_total
      }, 0)
    },
    totalPayment () {
      return 0 + this.payment.credit + this.payment.cash + this.payment.other + this.payment.insurance + this.payment.internet + this.payment.wechat + this.payment.alipay
    }
  }
}
</script>

<style lang="scss" scoped>
.invoice-receiver {
  flex: 1;
  margin-right: auto;
  min-width: 300px;
  margin-top: 20px;
}
.invoice-title {
  flex: 1;
}
.date {
  margin-top: 50px;
}
.note-section {
  flex: 1;
}
.summary-section {
  margin-left: auto;
}
.summary-title {
  line-height: 40px;
  margin-left: auto;
  margin-right: 10px;
}
.bordered {
  padding: 12px;
  border: 0.5px solid #dddddd;
  text-align: right;
  width: 120px;
}
.invoice-footer {
  font-size: 10px;
  bottom: 25px;
  left: 0;
  right: 0;
}

.watermark {
  z-index: 2;
}

.print-table {
  font-size: 12px;
}
.bg-grey {
  background-color: #adadad;
  color: white;
}

.payment-detail {
  font-size: 10px;
  color: #444444;
}
</style>
