<template>
  <section class="patient-list content">
    <div class="header">
      <h1>Registration Form</h1>
    </div>

    <form class="pure-form pure-form-stacked" enctype="multipart/form-data" v-on:submit.prevent="onSubmitPatient($event)">
      <!-- <fieldset class="pure-group">
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-4">
            <label for="visited_date">Visited Date<span class="red">*</span></label>
            <input id="visited_date" ref="dob" class="pure-u-1" type="text" v-model="visited_date" placeholder="yyyy/mm/dd" required>
          </div>
        </div>
      </fieldset> -->

      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1 margin-vertical text-right">
            <router-link class="pure-button" :to="`/print/patient-register/0`" target="_blank">
              <icon name="print"/> Print Registration Form
            </router-link>
          </div>
          <div class="pure-u-1 margin-vertical text-right">
            <legend>First Visit Date</legend>
          </div>
          <div class="pure-u-1 pure-u-md-18-24">
          </div>
          <div class="pure-u-1 pure-u-md-6-24">
            <label for="first_visited_date">(Default: current date)</label>
            <flat-pickr
              class="pure-u-23-24"
              id="first_visited_date"
              v-model="first_visited_date"
              :required="stay_type === 'tourist'"
              :config="firstVisitDateConfig"></flat-pickr>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1 margin-vertical">
            <legend>Branch</legend>
          </div>
        </div>
        <div class="pure-u-1 align-left">
          <div class="pure-u-1 pure-u-md-6-24">
            <label for="branch">Select Branch</label>
            <select id="branch" class="pure-u-md-21-24 pure-u-23-24" v-model="branch_id">
              <option value="1">Hospital</option>
              <option value="2">Clinic</option>
            </select>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1 margin-vertical">
            <legend>Personal Information</legend>
          </div>

          <div class="pure-u-1 margin-bottom">
            <label for="profile">Patient Profile</label>
            <div class="pure-u-md-1-3 pure-u-1-2 profile-box">
              <input type="file" name="profile" @change="previewImage" class="input-file pure-u-23-24" accept="image/*">
              <p v-if="!profileImg">
                Click to browse your image
              </p>
              <img v-if="profileImg" width="200px" height="200px" :src="profileImg">
            </div>
            <span class="pure-form-message red" v-if="uploadImageError">File size must not exceed 3MB.</span>
          </div>

          <div class="pure-u-1 pure-u-md-1-3">
            <label for="first-name">First Name<span class="red">*</span></label>
            <input id="first-name" class="pure-u-23-24" type="text" v-model="first_name" required>
          </div>

          <div class="pure-u-1 pure-u-md-1-3">
              <label for="middle-name">Middle Name (if any)</label>
              <input id="middle-name" class="pure-u-23-24" type="text" v-model="middle_name">
          </div>

          <div class="pure-u-1 pure-u-md-1-3">
              <label for="last-name">Last Name<span class="red">*</span></label>
              <input id="last-name" class="pure-u-md-22-24 pure-u-23-24" type="text" required v-model="last_name">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="first-name-th">First Name (TH)</label>
              <input id="first-name-th" class="pure-u-23-24" type="text" v-model="first_name_th">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="last-name-th">Last Name (TH)</label>
              <input id="last-name-th" class="pure-u-23-24" type="text" v-model="last_name_th">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="gender">Gender<span class="red">*</span></label>
              <select id="gender" class="pure-u-23-24" v-model="gender" required>
                  <option value="" disabled selected>Select gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
              </select>
          </div>

          <div class="pure-u-1 pure-u-md-8-24">
              <label for="blood">Blood Group<span class="red">*</span></label>
              <select id="blood" class="pure-u-23-24" v-model="blood_group" required>
                  <option value="" disabled selected>Select blood group</option>
                  <option value="n/a">N/A</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="O">O</option>
                  <option value="AB">AB</option>
              </select>
          </div>
          <div class="pure-u-1 pure-u-md-4-24">
              <label for="blood">Rh</label>
              <select id="blood" class="pure-u-md-21-24 pure-u-23-24" v-model="blood_group_rh">
                  <option value="">Unknown</option>
                  <option value="Rh+">Rh+</option>
                  <option value="Rh-">Rh-</option>
              </select>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="telephone">Telephone<span class="red">*</span></label>
              <input id="telephone" class="pure-u-23-24" type="text" v-model="telephone" required>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="email">Email<span class="red">*</span></label>
              <input id="email" class="pure-u-23-24" v-model="email" required>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="id">Id card/Passport Number</label>
              <input id="id" class="pure-u-23-24" type="text" v-model="id_number">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="dob">Date of birth</label>
              <input id="dob" ref="dob" class="pure-u-23-24" type="text" v-model="dob" placeholder="yyyy/m/d" required>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
            <label for="nationality">Nationality</label>
            <nationality-dropdown v-model="nationality"></nationality-dropdown>
          </div>


          <div class="pure-u-1 pure-u-md-1-2">
              <label for="status">Marital Status</label>
              <select id="status" class="pure-u-23-24" v-model="marital_status">
                  <option value="" disabled selected>Select marital status</option>
                  <option value="single">Single</option>
                  <option value="married">Married</option>
                  <option value="divorced">Divorced</option>
                  <option value="widowed">Widowed</option>
                  <option value="priest">Priest</option>
              </select>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="religion">Religion</label>
              <select id="religion" class="pure-u-23-24" v-model="religion">
                <option value="" disabled selected>Select religion</option>
                <option value="buddism">Buddhism</option>
                <option value="christianity">Christianity</option>
                <option value="hinduism">Hinduism</option>
                <option value="islam">Islam</option>
                <option value="judaism">Judaism</option>
                <option value="shin to">Shin To</option>
                <option value="unaffiliated">Unaffiliated</option>
                <option value="other">Other</option>
              </select>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="occupation">Occupation</label>
              <occupation-dropdown v-model="occupation" :occupation="occupation"></occupation-dropdown>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="address">Home Address</label>
              <textarea id="address" class="pure-u-23-24" type="text" v-model="address"></textarea>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <p style="margin: 0.25em; 0;">Present Address in Thailand</p>

              <div class="pure-u-5-24">
                <label for="isHotel" class="pure-checkbox pure-u-1">
                  <input type="checkbox" id="isHotel" v-model="isHotel" v-on:change="address_th = ''; hotel_id = '';"/> Hotel
                </label>
              </div>

              <div class="pure-u-17-24">
                <select v-if="isHotel" v-model="hotel_id" class="pure-u-1">
                  <option v-for="hotel in hotels" :value="hotel.id">{{ hotel.hotel_name }}</option>
                  <option value="99999">Other</option>
                </select>
                <textarea id="thai_address" class="pure-u-1" type="text" v-model="address_th" v-else></textarea>

                <input type="text" id="otherHotel" class="pure-u-1" v-model="otherHotel" v-if="isHotel && String(hotel_id) === '99999'" placeholder="Please specify the hotel name"/>
              </div>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
            <label for="insurance">Insurance Name</label>
            <!-- <textarea id="insurance" class="pure-u-23-24" type="text" v-model="insurance_name"></textarea> -->
            <insurance-dropdown :insurance="insurance_name" v-model="insurance_name" />
          </div>
        </div>

      </fieldset>

      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1 margin-vertical">
            <legend>Note</legend>
          </div>
          <div class="pure-u-1">
            <textarea id="note" class="pure-u-23-24" type="text" v-model="note"></textarea>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1 margin-vertical">
            <legend>Drug Allergy<span class="red">*</span></legend>
          </div>

          <div class="pure-u-1 pure-u-md-1-3 text-left">
            <label for="drug_allergy_yn_no" class="pure-checkbox">
              <input id="drug_allergy_yn_no" type="radio" name="drug_allergy_yn" value="no" v-model="drug_allergy_yn">
              No
            </label>

            <label for="drug_allergy_yn_ns" class="pure-checkbox">
              <input id="drug_allergy_yn_ns" type="radio" name="drug_allergy_yn" value="not sure" v-model="drug_allergy_yn">
              Not sure
            </label>

            <label for="drug_allergy_yn_yes" class="pure-checkbox">
              <input id="drug_allergy_yn_yes" type="radio" name="drug_allergy_yn" value="yes" v-model="drug_allergy_yn">
              Yes
            </label>
          </div>

          <div class="pure-u-1 pure-u-md-2-3" v-if="drug_allergy_yn === 'yes'">
            <label for="drug_allergy">Drug Allergy<span class="red">*</span></label>
              <textarea id="drug_allergy" class="pure-u-23-24" type="text" v-model="drug_allergy" required></textarea>
          </div>

        </div>
      </fieldset>

      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1 margin-vertical">
            <legend>Type of stay on Phi Phi</legend>
          </div>

          <div class="pure-u-1 pure-u-md-1-3 text-left">
            <label for="stay_type_tourist" class="pure-checkbox">
              <input id="stay_type_tourist" type="radio" name="stay_type" value="tourist" v-model="stay_type">
              Tourist
            </label>

            <label for="stay_type_resident" class="pure-checkbox">
              <input id="stay_type_resident" type="radio" name="stay_type" value="resident" v-model="stay_type">
              Resident
            </label>

          </div>

          <div class="pure-u-1 pure-u-md-1-3" v-if="stay_type === 'tourist'">
            <label for="stay_length_start">Arrival Date<span class="red" v-if="stay_type === 'tourist'">*</span></label>
            <flat-pickr
              class="pure-u-23-24"
              id="stay_length_start"
              v-model="stay_length_start"
              :required="stay_type === 'tourist'"
              :config="startDateConfig"></flat-pickr>
          </div>
          <div class="pure-u-1 pure-u-md-1-3" v-if="stay_type === 'tourist'">
            <label for="stay_length_start">Departure Date<span class="red" v-if="stay_type === 'tourist'">*</span></label>
            <flat-pickr
              class="pure-u-23-24"
              id="endDate"
              v-model="stay_length_end"
              :required="stay_type === 'tourist'"
              :config="endDateConfig"></flat-pickr>
          </div>
        </div>
      </fieldset>

      <fieldset>

        <div class="pure-g">

          <div class="pure-u-1 margin-vertical">
            <legend>Notify in Emergency:</legend>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
            <label for="emergency_name">Name</label>
            <input id="emergency_name" class="pure-u-23-24" type="text" v-model="emergency_name">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
            <label for="emergency_relation">Relation to Patient</label>
            <input id="emergency_relation" class="pure-u-23-24" type="text" v-model="emergency_relation">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
            <label for="emergency_address">Address</label>
            <input id="emergency_address" class="pure-u-23-24" type="text" v-model="emergency_address">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
            <label for="emergency_phone">Phone Number</label>
            <input id="emergency_phone" class="pure-u-23-24" type="text" v-model="emergency_telephone">
          </div>

        </div>
      </fieldset>

      <div class="pure-g">
          <div class="pure-u-1 margin-vertical">
            <legend>How did you find us?<span class="red">*</span></legend>
          </div>

          <div class="pure-u-1 text-left">
            <!-- START OF CHECKBOXES -->
            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="hotel" class="pure-checkbox">
                <input id="hotel" type="checkbox" name="clinic" value="hotel" v-model="clinic_discovery">
                Hotel
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="pharmacy" class="pure-checkbox">
                <input id="pharmacy" type="checkbox" name="clinic" value="pharmacy" v-model="clinic_discovery">
                Pharmacy
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="friend" class="pure-checkbox">
                <input id="friend" type="checkbox" name="clinic" value="friend" v-model="clinic_discovery">
                Friend
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="walk_pass" class="pure-checkbox">
                <input id="walk_pass" type="checkbox" name="clinic" value="walk pass" v-model="clinic_discovery">
                Walk pass
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="google" class="pure-checkbox">
                <input id="google" type="checkbox" name="clinic" value="google" v-model="clinic_discovery">
                Google / Facebook
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="hospital" class="pure-checkbox">
                <input id="hospital" type="checkbox" name="clinic" value="hospital" v-model="clinic_discovery">
                Hospital
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="street" class="pure-checkbox">
                <input id="street" type="checkbox" name="clinic" value="street" v-model="clinic_discovery">
                Street Sign
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="local" class="pure-checkbox">
                <input id="local" type="checkbox" name="clinic" value="local" v-model="clinic_discovery">
                Local People
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="brochure" class="pure-checkbox">
                <input id="brochure" type="checkbox" name="clinic" value="brochure" v-model="clinic_discovery">
                Brochure
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="boat" class="pure-checkbox">
                <input id="boat" type="checkbox" name="clinic" value="boatman" v-model="clinic_discovery">
                Boatman
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="tour" class="pure-checkbox">
                <input id="tour" type="checkbox" name="clinic" value="tour guide" v-model="clinic_discovery">
                Tour Guide
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="bar" class="pure-checkbox">
                <input id="bar" type="checkbox" name="clinic" value="bar" v-model="clinic_discovery">
                Bar
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="restaurant" class="pure-checkbox">
                <input id="restaurant" type="checkbox" name="clinic" value="restaurant" v-model="clinic_discovery">
                Restaurant
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="insuranceCheckbox" class="pure-checkbox">
                <input id="insuranceCheckbox" type="checkbox" name="clinic" value="insurance" v-model="clinic_discovery">
                Insurance
              </label>
            </div>

            <div class="pure-u-1 pure-u-md-2-3">
              <label for="other" class="pure-checkbox" style="display: inline-block">
                <input id="other" type="checkbox" name="clinic" value="other" v-model="clinic_discovery">
                Other
              </label>
              <section v-if="clinic_discovery.includes('other')" style="display: inline-block">
                <span>Please specify</span>
                <input type="text" class="pure-input-1-2" style="display: inline-block" v-model="clinic_discovery_other" required/>
              </section>
            </div>
          </div>
          <!-- END OF CHECKBOXES -->

        </div>
        <!-- END OF INPUTS -->

        <fieldset class="pure-group">
        <!-- <label for="terms" class="pure-checkbox">
            <input id="terms" type="checkbox"> I've read the terms and conditions
        </label> -->

          <legend class="margin-vertical"></legend>
            <button type="submit" class="pure-button pure-button-primary">Create Patient</button>
            <router-link to="/" class="pure-button">Cancel</router-link>
        </fieldset>
    </form>
  </section>
</template>

<script>
import flatpickr from 'flatpickr'
import API from '../../../api'
import OccupationDropdown from '../../ui/occupation-dropdown'
import NationalityDropdown from '../../ui/nationality-dropdown'
import InsuranceDropdown from '@/components/ui/insurance-dropdown'
import { getHotels } from '@/api/hotel'
import { createPatientVisit } from '@/api/visit'

import flatPickr from 'vue-flatpickr-component'

export default {
  name: 'patient-registration',
  components: { OccupationDropdown, NationalityDropdown, flatPickr, InsuranceDropdown },
  data () {
    return {
      branch_id: '1',
      // personal detail
      first_name: '',
      middle_name: '',
      last_name: '',
      first_name_th: '',
      last_name_th: '',
      blood_group: '',
      blood_group_rh: '',
      telephone: '',
      email: '',
      gender: '',
      nationality: '',
      religion: '',
      id_number: '',
      marital_status: '',
      dob: '',
      first_visited_date: '',
      firstVisitDateConfig: {
        dateFormat: 'Y/m/d',
        maxDate: new Date(),
        defaultDate: 'today'
      },
      occupation: '',
      address: '',
      address_th: '',
      insurance_name: '',
      drug_allergy_yn: '',
      drug_allergy: '',
      // length_of_stay: '',
      // emergency notify
      emergency_name: '',
      emergency_relation: '',
      emergency_address: '',
      emergency_telephone: '',
      //
      clinic_discovery: [],
      clinic_discovery_other: '',
      profileImg: '',
      uploadImageError: false,
      isHotel: false,
      otherHotel: null,
      hotel_id: '',
      hotels: null,
      // stay_length: flatpickr config
      startDateConfig: {
        dateFormat: 'Y/m/d',
        maxDate: new Date()
      },
      endDateConfig: {
        dateFormat: 'Y/m/d',
        minDate: new Date()
      },
      stay_length_start: '',
      stay_length_end: '',
      stay_type: 'tourist',
      note: ''
    }
  },
  methods: {
    onSubmitPatient (event) {
      if (!this.drug_allergy_yn) {
        alert('Drug allery field is required')
        return
      }
      if (this.clinic_discovery.length === 0) {
        alert('How did you find us field is required')
        return
      }

      const newPatient = {
        branch_id: this.branch_id,
        // personal detail
        first_name: this.first_name,
        middle_name: this.middle_name,
        last_name: this.last_name,
        first_name_th: this.first_name_th,
        last_name_th: this.last_name_th,
        blood_group: this.blood_group,
        blood_group_rh: this.blood_group_rh,
        telephone: this.telephone,
        email: this.email,
        gender: this.gender,
        nationality: this.nationality,
        marital_status: this.marital_status,
        religion: this.religion,
        id_number: this.id_number,
        dob: this.dob,
        first_visited_date: this.first_visited_date,
        occupation: this.occupation,
        address: this.address,
        insurance_name: this.insurance_name,
        // drug_allergy: this.drug_allergy,
        // length_of_stay: this.length_of_stay,
        emergency_name: this.emergency_name,
        emergency_relation: this.emergency_relation,
        emergency_address: this.emergency_address,
        emergency_telephone: this.emergency_telephone,
        clinic_discovery: this.clinic_discovery ? this.clinic_discovery.join(',') : '',
        note: this.note,
        //
        img_url: this.profileImg || null
      }

      if (this.isHotel) {
        newPatient.hotel_id = this.hotel_id

        // assign other hotel value for a user selects other hotel
        if (String(this.hotel_id) === '99999') newPatient.address_th = this.otherHotel
      } else {
        newPatient.address_th = this.address_th
      }

      if (this.clinic_discovery.includes('other') && this.clinic_discovery_other) {
        const discoveryList = ['walk pass', 'hotel', 'pharmacy', 'google', 'friend', 'hospital', 'street', 'local', 'brochure', 'boatman', 'tour guide', 'bar', 'restaurant', 'insurance']

        const clinicDiscoveryOther = this.clinic_discovery_other.toString().toLowerCase()
        if (discoveryList.indexOf(clinicDiscoveryOther) > -1) {
          alert('What you specify is in one of the choices, please consider selecting checkboxes before typing in.')
          return
        }

        newPatient.clinic_discovery += `,${clinicDiscoveryOther}`
      }

      if (this.stay_type) {
        if (this.stay_type === 'tourist') {
          newPatient.stay_length_start = this.stay_length_start
          newPatient.stay_length_end = this.stay_length_end
        }
        newPatient.stay_type = this.stay_type
      }

      switch (this.drug_allergy_yn) {
        case 'no':
          newPatient.drug_allergy = 'no'
          break
        case 'not sure':
          newPatient.drug_allergy = 'not sure'
          break
        case 'yes':
          newPatient.drug_allergy = this.drug_allergy.toLowerCase()
          break
        default:
          break
      }

      let hospitalNumber
      API.addPatient(newPatient)
        .then(data => {
          // assign hotel object to display
          if (this.isHotel) data.hotel = this.hotels.filter(hotel => hotel.id === data.hotel_id)[0]

          const patient = data

          const patientId = patient.hospital_number
          hospitalNumber = patientId
          const branchId = this.branch_id
          this.$store.commit('patientSelection', {detail: patient})

          return createPatientVisit(patientId, branchId)
        })
        .then(result => {
          this.$router.push(`patient-detail/${hospitalNumber}`)
        })
        .catch(error => console.log(error))
    },
    previewImage (event) {
      this.uploadImageError = false
      const input = event.target

      if (input.files && input.files[0]) {
        const vm = this

        const reader = new FileReader()

        reader.onload = (e) => {
          if (e.total > 3000000) {
            this.uploadImageError = true
          } else {
            vm.profileImg = e.target.result
          }
        }

        reader.readAsDataURL(input.files[0])
      }
    }
  },
  mounted () {
    flatpickr('#dob', {
      dateFormat: 'Y/m/d',
      maxDate: new Date().fp_incr(1)
    })

    flatpickr('#visited_date', {
      dateFormat: 'Y/m/d H:i',
      maxDate: 'today',
      enableTime: true,
      time_24hr: true
    })

    /* flatpickr('#first_visited_date', {
      dateFormat: 'Y/m/d',
      maxDate: new Date(),
      defaultDate: 'today'
    }) */

    getHotels().then(results => {
      if (results && results.data) this.hotels = results.data
    })
  }
}
</script>
