<template>
  <div>
    <h3 class="text-left">Zone growth statistics</h3>

    <!-- START OF date form -->
    <form class="pure-form pure-form-stacked text-left">
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <label for="year">Zone</label>
          <select v-model="selectedZone" v-on:change="getStatisticsPatientsHotelZone(selectedZone, selectedStartMonth, selectedStartYear, selectedEndMonth, selectedEndYear)" class="pure-input-1 uppercase" >
            <option selected readonly value="null">-- Zone name --</option>
            <option v-for="z in zone" :value="z.id">{{ z.name }}</option>
          </select>
        </div>
      </div>

      <hr class="hr--thin"/>

      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <label for="year">Start Month</label>
          <select v-model="selectedStartMonth" v-on:change="getStatisticsPatientsHotelZone(selectedZone, selectedStartMonth, selectedStartYear, selectedEndMonth, selectedEndYear)" class="pure-input-1">
            <option v-for="month in Object.keys(MONTHS)" :value="month">{{ MONTHS[month] }}</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-3">
          <label for="year">Start Year</label>
          <select v-model="selectedStartYear" v-on:change="getStatisticsPatientsHotelZone(selectedZone, selectedStartMonth, selectedStartYear, selectedEndMonth, selectedEndYear)" class="pure-input-1">
            <option v-for="year in YEARS" :value="year">{{ year }}</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-3">
          <label for="year">End Month</label>
          <select v-model="selectedEndMonth" v-on:change="getStatisticsPatientsHotelZone(selectedZone, selectedStartMonth, selectedStartYear, selectedEndMonth, selectedEndYear)" class="pure-input-1">
            <option v-for="month in Object.keys(MONTHS)" :value="month">{{ MONTHS[month] }}</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-3">
          <label for="year">End Year</label>
          <select v-model="selectedEndYear" v-on:change="getStatisticsPatientsHotelZone(selectedZone, selectedStartMonth, selectedStartYear, selectedEndMonth, selectedEndYear)" class="pure-input-1">
            <option v-for="year in YEARS" :value="year">{{ year }}</option>
          </select>
        </div>
      </div>
    </form>
    <!-- END OF date form -->

    <p class="text-left">Displaying data from <strong>{{ selectedStartDate }}</strong> to <strong>{{ selectedEndDate }}</strong></p>

    <div class="row">
      <div class="col-xs col-md hotel-checkbox-wrapper">
        <p class="text-left">Select hotel from this zone to display in chart</p>
        <div class="hotel-checkbox-container">
          <label v-for="h in hotelListArray" class="hotel-checkbox" :for="h">
            <input type="checkbox" v-model="selectedHotelList" name="selectedHotelList" :value="h" :id="h" v-on:change="drawChart(periods, hotelList, selectedHotelList)"/>&nbsp;{{ h }}
          </label>
        </div>
      </div>
      <div class="col-xs-12 col-md">
        <div style="margin: 0 auto; max-width: 500px; min-height: 400px;">
          <p v-show="!isData"><strong>No results</strong></p>
          <canvas ref="zoneChart" width="320" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getStatisticsPatientsHotelZone } from '@/api/statistic'
import { COLORS, generateColor, YEARS, MONTHS } from '@/helper'
import Chart from 'chart.js'
import moment from 'moment'

export default {
  name: 'statistics-hotel-growth',
  props: ['zone'],
  data () {
    return {
      periods: null,
      hotelList: null,
      isData: false,
      selectedHotelList: [],
      //
      YEARS: YEARS(),
      MONTHS: MONTHS,
      //
      selectedEndYear: new Date().getFullYear(),
      selectedEndMonth: new Date().getMonth() + 1,
      selectedStartYear: new Date().getFullYear(),
      selectedStartMonth: new Date().getMonth() - 2,
      selectedZone: null
      //
    }
  },
  watch: {
    selectedZone: function () {
      // if zone changes, clear selectedHotelList
      this.selectedHotelList = []
    }
  },
  computed: {
    selectedStartDate: function () {
      return moment(`${this.selectedStartYear}-${this.selectedStartMonth}`, 'YYYY-MM').format('YYYY-MM-DD') || 'invalid'
    },
    selectedEndDate: function () {
      return moment(`${this.selectedEndYear}-${this.selectedEndMonth}`, 'YYYY-MM').endOf('month').format('YYYY-MM-DD') || 'invalid'
    },
    hotelListArray: function () {
      if (!this.hotelList) return []

      const arr = []
      Object.keys(this.hotelList).forEach(h => {
        arr.push(h)
      })

      return this.$lodash.sortBy(arr)
    }
  },
  methods: {
    getStatisticsPatientsHotelZone (zone, month, year, endMonth, endYear) {
      this.isData = false
      this.hotelList = null
      this.periods = null
      this['zoneChart'] && this['zoneChart'].destroy()

      if (!zone || !month || !year) {
        alert('Invalid input')
        return
      }

      return getStatisticsPatientsHotelZone(zone, month, year, endMonth, endYear).then(results => {
        const { data } = results

        if (data && data.periods && data.periods.length) {
          this.isData = true
          this.periods = data.periods
          this.hotelList = data.hotelList

          if (this.selectedHotelList && this.selectedHotelList.length) {
            this.drawChart(this.periods, this.hotelList, this.selectedHotelList)
          }
        }
      })
    },
    drawChart (periods, hotelList, selectedHotelList) {
      this['zoneChart'] && this['zoneChart'].destroy()
      if (!selectedHotelList || !selectedHotelList.length) return

      const datasets = []

      const labels = periods
      let hotelIndex = 0
      Object.keys(hotelList).forEach(hotel => {
        if (selectedHotelList.indexOf(hotel) === -1) return

        const color = COLORS[hotelIndex] || generateColor()
        hotelIndex++

        datasets.push({
          label: hotel,
          data: hotelList[hotel],
          backgroundColor: color,
          borderColor: color,
          fill: false
        })
      })

      const chartOptions = {
        type: 'line',
        data: {
          labels,
          datasets
        },
        options: {
          responsive: true,
          animation: false,
          legend: {
            position: 'bottom'
          },
          scales: {
            yAxes: [{
              ticks: {
                precision: 0,
                beginAtZero: true
              }
            }]
          }
        }
      }

      this['zoneChart'] = new Chart(this.$refs['zoneChart'], chartOptions)
    }
  }
}
</script>

