<template>
  <div>
    <h3 class="text-left">Zone summary statistics</h3>

    <form class="pure-form pure-form-stacked text-left">
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <label for="month">Month</label>
          <select v-model="selectedMonth" class="pure-input-1" v-on:change="getStatisticsPatientsHotelSummary(selectedMonth, selectedYear)">
            <option v-for="month in Object.keys(MONTHS)" :value="month">{{ MONTHS[month] }}</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-3">
          <label for="year">Year</label>
          <select v-model="selectedYear" class="pure-input-1" v-on:change="getStatisticsPatientsHotelSummary(selectedMonth, selectedYear)">
            <option v-for="year in YEARS" :value="year">{{ year }}</option>
          </select>
        </div>
      </div>

      <hr class="hr--thin"/>
    </form>

    <div class="row">
      <div class="col-xs col-md hotel-checkbox-wrapper">
        <p class="text-left">Select to view each hotel data in the zone</p>
        <div class="hotel-checkbox-container">
          <label class="hotel-checkbox" for="all">
            <input type="radio" v-model="selectedZone" name="selectedZone" id="all" value="all" v-on:change="getStatisticsPatientsHotelSummary(selectedMonth, selectedYear)" />&nbsp;Summary
          </label>
          <label v-for="z in zone" class="hotel-checkbox capitalize" :for="z.id">
            <input type="radio" v-model="selectedZone" name="selectedZone" :id="z.id" :value="z.name" v-on:change="drawZoneChart(hotelObj[selectedZone])" />&nbsp;{{ z.name }} <strong class="right">&nbsp;{{ hotelObjCount[z.name] }}</strong>
          </label>
          <label class="hotel-checkbox" for="other">
            <input type="radio" v-model="selectedZone" name="selectedZone" id="other" value="other" v-on:change="drawZoneChart(hotelObj[selectedZone])" />&nbsp;Other <strong class="right">&nbsp;{{ hotelObjCount['other'] }}</strong>
          </label>
        </div>
      </div>
      <div class="col-xs-12 col-md">
        <p>
          Total number of patients in {{ displayDate }}: <strong>{{ totalPatientsCount }}</strong>
          <br />
          Total number of patients registered in hotel <strong>{{ totalPatientsByHotelCount }}</strong>
        </p>

        <div class="chart-container">
          <canvas ref="zoneSummaryChart" id="zoneSummaryChart" width="450" height="400"></canvas>
        </div>

        <div class="zone-hotel-list" v-if="totalPatientsByHotelCount > 0">
          <div class="zone-hotel" v-for="(z, index) in Object.keys(hotelObj)" :keys="index">
            <table class="pure-table pure-table-bordered pure-table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th class="capitalize text-center" colspan="2">Zone {{ z }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(d, index) in hotelObj[z].data">
                  <td>{{ d }}</td>
                  <td>{{ hotelObj[z].count[index] }}</td>
                </tr>
                <tr>
                  <td><strong>Summary</strong></td>
                  <td>{{ getZoneSummary(hotelObj[z].count) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.chart-container {
  max-width: 500px;
  max-height: none;
  margin: 0 auto;
}
@media (min-width: 56em) {
  .chart-container {
    max-height: 450px;
  }
}
.zone-hotel-list{
  -webkit-columns: 15em;
  -moz-columns: 15em;
  columns: 15em;
  margin-top: 20px;
}

.zone-hotel {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid; /* Firefox is dumb */
  break-inside: avoid;
}

.zone-hotel {
  margin: 1em 0;
  padding: .5em;
}

.zone-hotel:first-child {
  margin-top: 0;
}
</style>

<script>
import { getStatisticsPatientsHotelSummary } from '@/api/statistic'
import Chart from 'chart.js'
import moment from 'moment'
import { MONTHS, YEARS, COLORS, generateColor } from '@/helper'

export default {
  name: 'statistics-hotel-summary',
  props: ['zone'],
  data () {
    return {
      selectedZone: 'all',
      //
      selectedYear: new Date().getFullYear(),
      selectedMonth: new Date().getMonth() + 1,
      hotelObjCount: {},
      hotelObj: {},
      totalPatientsCount: 0,
      totalPatientsByHotelCount: 0,
      //
      MONTHS,
      YEARS: YEARS()
    }
  },
  created () {
    // console.info(this.zone)
    return this.getStatisticsPatientsHotelSummary(this.selectedMonth, this.selectedYear)
  },
  computed: {
    displayDate: function () {
      return moment(`${this.selectedYear}-${this.selectedMonth}`, 'YYYY-MM').format('MMMM YYYY') || 'invalid'
    }
  },
  methods: {
    getStatisticsPatientsHotelSummary (month, year) {
      if (!month || !year) {
        alert('Invalid input')
        return
      }

      return getStatisticsPatientsHotelSummary(month, year).then(results => {
        const data = results.data

        if (data) {
          this.totalPatientsCount = data.patientsCount
          this.totalPatientsByHotelCount = data.patientsByHotelCount
          this.drawZoneSummaryChart(data.patientsByHotel)
        }
      })
    },
    drawZoneChart (data) {
      this['zoneSummaryChart'] && this['zoneSummaryChart'].destroy()
      this.isSummaryChart = false
      if (!data) return

      const labels = data.data
      const datasets = data.count
      const colors = data.colors

      const chart = document.getElementById('zoneSummaryChart')
      chart.height = datasets.length >= 15 ? 500 : 400

      const totalPatientsByHotelCount = this.totalPatientsByHotelCount
      const vm = this
      const chartOptions = {
        type: 'pie',
        data: {
          labels,
          datasets: [{
            data: datasets,
            backgroundColor: colors
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          // animation: true,
          legend: {
            position: 'bottom'
          },
          title: {
            display: true,
            text: 'Number of patients in hotel zone ' + this.$lodash.upperFirst(this.selectedZone) + ' in ' + this.displayDate
          },
          tooltips: {
            callbacks: {
              label (tooltipItem, data) {
                const dataset = data.datasets[tooltipItem.datasetIndex]
                const currentValue = dataset.data[tooltipItem.index]
                const label = data.labels[tooltipItem.index]
                const percentage = vm.$lodash.round((currentValue / totalPatientsByHotelCount) * 100, 1)
                return `${label} - ${currentValue} (${percentage}%)`
              }
            }
          }
        }
      }

      this['zoneSummaryChart'] = new Chart(this.$refs['zoneSummaryChart'], chartOptions)
    },
    drawZoneSummaryChart (data) {
      this['zoneSummaryChart'] && this['zoneSummaryChart'].destroy()
      this.isSummaryChart = true
      if (!data || !data.length) return

      const labels = []
      const hotelObjCount = {}
      const hotelObj = {}
      data.forEach((d, index) => {
        const zone = d.hotel.hotel_zone ? d.hotel.hotel_zone.zone_name : 'other'
        if (zone && labels.indexOf(this.$lodash.upperFirst(zone)) === -1) labels.push(this.$lodash.upperFirst(zone))

        hotelObjCount[zone] = hotelObjCount[zone] + d.count || d.count

        const color = COLORS[index] || generateColor()
        if (hotelObj[zone] && hotelObj[zone].data && hotelObj[zone].data.length > 0) {
          hotelObj[zone].data.push(d.hotel.hotel_name)
          hotelObj[zone].count.push(d.count)
          hotelObj[zone].colors.push(color)
        } else {
          hotelObj[zone] = {}
          hotelObj[zone].data = []
          hotelObj[zone].count = []
          hotelObj[zone].colors = []
          hotelObj[zone].data.push(d.hotel.hotel_name)
          hotelObj[zone].count.push(d.count)
          hotelObj[zone].colors.push(color)
        }
      })
      this.hotelObjCount = this.$lodash.clone(hotelObjCount)
      this.hotelObj = this.$lodash.clone(hotelObj)

      const datasets = []
      const colors = []

      Object.keys(hotelObjCount).forEach((d, index) => {
        datasets.push(hotelObjCount[d])
        colors.push(COLORS[index])
      })

      const totalPatientsByHotelCount = this.totalPatientsByHotelCount
      const vm = this
      const chartOptions = {
        type: 'doughnut',
        data: {
          labels,
          datasets: [{
            data: datasets,
            backgroundColor: colors
          }]
        },
        options: {
          responsive: true,
          // animation: true,
          legend: {
            position: 'bottom'
          },
          title: {
            display: true,
            text: 'Number of patients in each hotel zone in ' + this.displayDate
          },
          tooltips: {
            callbacks: {
              label (tooltipItem, data) {
                const dataset = data.datasets[tooltipItem.datasetIndex]
                const currentValue = dataset.data[tooltipItem.index]
                const label = data.labels[tooltipItem.index]
                const percentage = vm.$lodash.round((currentValue / totalPatientsByHotelCount) * 100, 1)
                return `${label} - ${currentValue} (${percentage}%)`
              }
            }
          }
        }
      }

      this['zoneSummaryChart'] = new Chart(this.$refs['zoneSummaryChart'], chartOptions)
    },
    getZoneSummary (zoneObjCount) {
      const summary = zoneObjCount.reduce((a, b) => a + b)
      const totalPatientsByHotelCount = this.totalPatientsByHotelCount

      const percentage = this.$lodash.round((summary / totalPatientsByHotelCount) * 100, 1)
      return `${summary} (${percentage}%)`
    }
  }
}
</script>

