<template>
  <section class="patient-list content">
    <div class="header">
      <h1>Patient Summary</h1>
      <!-- <div class="header-tab">
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><router-link to="all" class="pure-menu-link">All</router-link></li>
            <li class="pure-menu-item"><router-link to="" class="pure-menu-link disabled-link">By Departments</router-link></li>
            <li class="pure-menu-item"><router-link to="rejected" class="pure-menu-link">Rejected</router-link></li>
          </ul>
        </div> -->
      </div>
    </div>
    <div class="pure-button-group" role="group" aria-label="...">
      <router-link to="all" class="pure-button">All</router-link>
      <router-link to="rejected" class="pure-button">Rejected</router-link>
    </div>

    <router-view></router-view>

   </section>
</template>

<script>
export default {
  name: 'patient-list'
}
</script>

<style scoped>
.router-link-active.router-link-exact-active {
  background-color: rgb(66, 184, 221); /* this is a light blue */
}
</style>
