<template>
  <section class="patient-edit content">
    <div class="header">
      <h1>Patient Edit</h1>
    </div>

    <form class="pure-form pure-form-stacked" enctype="multipart/form-data" v-on:submit.prevent="onSubmitPatient($event)">

      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1 margin-vertical text-right">
            <legend>First Visit Date</legend>
          </div>
          <div class="pure-u-1 pure-u-md-18-24">
          </div>
          <div class="pure-u-1 pure-u-md-6-24">
            <flat-pickr
              class="pure-u-23-24"
              id="first_visited_date"
              v-model="first_visited_date"
              :config="firstVisitDateConfig"></flat-pickr>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1 margin-vertical">
            <legend>Branch</legend>
          </div>
        </div>
        <div class="pure-u-1 align-left">
          <div class="pure-u-1 pure-u-md-6-24">
            <label for="branch">Select Branch</label>
            <select id="branch" class="pure-u-md-21-24 pure-u-23-24" v-model="branch_id" disabled>
              <option value="1">Hospital</option>
              <option value="2">Clinic</option>
            </select>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1 margin-vertical">
            <legend>Personal Information</legend>
          </div>

          <div class="pure-u-1 margin-bottom">
            <label for="profile">Patient Profile</label>
            <div class="pure-u-md-1-3 pure-u-1-2 profile-box">
              <input type="file" name="profile" @change="previewImage" class="input-file pure-u-23-24" accept="image/*">
              <p v-if="!profileImg">
                Click to browse your image
              </p>
              <img v-if="profileImg" width="200px" height="200px" :src="profileImg">
            </div>
            <span class="pure-form-message red" v-if="uploadImageError">File size must not exceed 3MB.</span>
          </div>

          <div class="pure-u-1 pure-u-md-1-3">
            <label for="first-name">First Name<span class="red">*</span></label>
              <input id="first-name" class="pure-u-23-24" type="text" v-model="first_name" required>
          </div>

          <div class="pure-u-1 pure-u-md-1-3">
              <label for="middle-name">Middle Name (if any)</label>
              <input id="middle-name" class="pure-u-23-24" type="text" v-model="middle_name">
          </div>

          <div class="pure-u-1 pure-u-md-1-3">
              <label for="last-name">Last Name<span class="red">*</span></label>
              <input id="last-name" class="pure-u-md-22-24 pure-u-23-24" type="text" required v-model="last_name">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="first-name-th">First Name (TH)</label>
              <input id="first-name-th" class="pure-u-23-24" type="text" v-model="first_name_th">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="last-name-th">Last Name (TH)</label>
              <input id="last-name-th" class="pure-u-23-24" type="text" v-model="last_name_th">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="gender">Gender<span class="red">*</span></label>
              <select id="gender" class="pure-u-23-24" v-model="gender" required>
                  <option value="" disabled selected>Select gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
              </select>
          </div>

          <div class="pure-u-1 pure-u-md-8-24">
              <label for="blood">Blood Group<span class="red">*</span></label>
              <select id="blood" class="pure-u-23-24" v-model="blood_group" required>
                  <option value="" disabled selected>Select blood group</option>
                  <option value="n/a">N/A</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="O">O</option>
                  <option value="AB">AB</option>
              </select>
          </div>
          <div class="pure-u-1 pure-u-md-4-24">
              <label for="blood">Rh</label>
              <select id="blood" class="pure-u-md-21-24 pure-u-23-24" v-model="blood_group_rh">
                  <option value="">Unknown</option>
                  <option value="Rh+">Rh+</option>
                  <option value="Rh-">Rh-</option>
              </select>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="telephone">Telephone<span class="red">*</span></label>
              <input id="telephone" class="pure-u-23-24" type="text" v-model="telephone" required>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="email">Email<span class="red">*</span></label>
              <input id="email" class="pure-u-23-24" v-model="email" required>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="id">Id card/Passport Number</label>
              <input id="id" class="pure-u-23-24" type="text" v-model="id_number">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="dob">Date of birth</label>
              <input id="dob" ref="dob" class="pure-u-23-24" type="text" v-model="dob" placeholder="yyyy/m/d" required>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
            <label for="nationality">Nationality</label>
            <nationality-dropdown v-model="nationality" :nationality="nationality"></nationality-dropdown>
          </div>


          <div class="pure-u-1 pure-u-md-1-2">
              <label for="status">Marital Status</label>
              <select id="status" class="pure-u-23-24" v-model="marital_status">
                  <option value="" disabled selected>Select marital status</option>
                  <option value="single">Single</option>
                  <option value="married">Married</option>
                  <option value="divorced">Divorced</option>
                  <option value="widowed">Widowed</option>
                  <option value="priest">Priest</option>
              </select>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="religion">Religion</label>
              <!-- <input id="religion" class="pure-u-23-24" type="text" v-model="religion"> -->
              <select id="religion" class="pure-u-23-24" v-model="religion">
                <option value="" disabled selected>Select religion</option>
                <option value="buddism">Buddhism</option>
                <option value="christianity">Christianity</option>
                <option value="hinduism">Hinduism</option>
                <option value="islam">Islam</option>
                <option value="judaism">Judaism</option>
                <option value="shin to">Shin To</option>
                <option value="unaffiliated">Unaffiliated</option>
                <option value="other">Other</option>
              </select>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="occupation">Occupation</label>
              <occupation-dropdown v-model="occupation" :occupation="patient.occupation" v-if="isLoaded"></occupation-dropdown>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="address">Home Address</label>
              <textarea id="address" class="pure-u-23-24" type="text" v-model="address"></textarea>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <p style="margin: 0.25em; 0;">Present Address in Thailand</p>

              <div class="pure-u-5-24">
                <label for="isHotel" class="pure-checkbox pure-u-1">
                  <input type="checkbox" id="isHotel" v-model="isHotel" v-on:change="address_th = ''; hotel_id = '';"/> Hotel
                </label>
              </div>

              <div class="pure-u-17-24">
                <select v-if="isHotel" v-model="hotel_id" class="pure-u-1" required>
                  <option v-for="hotel in hotels" :value="hotel.id">{{ hotel.hotel_name }}</option>
                  <option value="99999">Other</option>
                </select>
                <textarea id="thai_address" class="pure-u-1" type="text" v-model="address_th" v-else></textarea>

                <input type="text" id="otherHotel" class="pure-u-1" v-model="otherHotel" v-if="isHotel && String(hotel_id) === '99999'" placeholder="Please specify the hotel name"/>
              </div>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="insurance">Insurance Name</label>
              <!-- <textarea id="insurance" class="pure-u-23-24" type="text" v-model="insurance_name"></textarea> -->
              <insurance-dropdown :insurance="insurance_name" v-model="insurance_name" />
          </div>

        </div>

      </fieldset>

      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1 margin-vertical">
            <legend>Note</legend>
          </div>
          <div class="pure-u-1">
            <textarea id="note" class="pure-u-23-24" type="text" v-model="note"></textarea>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1 margin-vertical">
            <legend>Drug Allergy</legend>
          </div>

          <div class="pure-u-1 pure-u-md-1-3 text-left">
            <label for="drug_allergy_yn_no" class="pure-checkbox">
              <input id="drug_allergy_yn_no" type="radio" name="drug_allergy_yn" value="no" v-model="drug_allergy_yn">
              No
            </label>

            <label for="drug_allergy_yn_ns" class="pure-checkbox">
              <input id="drug_allergy_yn_ns" type="radio" name="drug_allergy_yn" value="not sure" v-model="drug_allergy_yn">
              Not sure
            </label>

            <label for="drug_allergy_yn_yes" class="pure-checkbox">
              <input id="drug_allergy_yn_yes" type="radio" name="drug_allergy_yn" value="yes" v-model="drug_allergy_yn">
              Yes
            </label>
          </div>

          <div class="pure-u-1 pure-u-md-2-3" v-if="drug_allergy_yn === 'yes'">
            <label for="drug_allergy">Drug Allergy<span class="red">*</span></label>
              <textarea id="drug_allergy" class="pure-u-23-24" type="text" v-model="drug_allergy" required></textarea>
          </div>

        </div>
      </fieldset>


      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1 margin-vertical">
            <legend>Type of stay on Phi Phi</legend>
          </div>

          <div class="pure-u-1 pure-u-md-1-3 text-left">
            <label for="stay_type_tourist" class="pure-checkbox">
              <input id="stay_type_tourist" type="radio" name="stay_type" value="tourist" v-model="stay_type">
              Tourist
            </label>

            <label for="stay_type_resident" class="pure-checkbox">
              <input id="stay_type_resident" type="radio" name="stay_type" value="resident" v-model="stay_type">
              Resident
            </label>
          </div>

          <div class="pure-u-1 pure-u-md-1-3" v-if="stay_type === 'tourist'">
            <label for="stay_length_start">Arrival Date<span class="red" v-if="stay_type === 'tourist'">*</span></label>
            <flat-pickr
              class="pure-u-23-24"
              id="stay_length_start"
              v-model="stay_length_start"
              :required="stay_type === 'tourist'"
              :config="startDateConfig"></flat-pickr>
          </div>
          <div class="pure-u-1 pure-u-md-1-3" v-if="stay_type === 'tourist'">
            <label for="stay_length_start">Departure Date<span class="red" v-if="stay_type === 'tourist'">*</span></label>
            <flat-pickr
              class="pure-u-23-24"
              id="endDate"
              v-model="stay_length_end"
              :required="stay_type === 'tourist'"
              :config="endDateConfig"></flat-pickr>
          </div>
        </div>
      </fieldset>

      <fieldset>

        <div class="pure-g">

          <div class="pure-u-1 margin-vertical">
            <legend>Notify in Emergency:</legend>
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="emergency_name">Name</label>
              <input id="emergency_name" class="pure-u-23-24" type="text" v-model="emergency_name">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="emergency_relation">Relation to Patient</label>
              <input id="emergency_relation" class="pure-u-23-24" type="text" v-model="emergency_relation">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="emergency_address">Address</label>
              <input id="emergency_address" class="pure-u-23-24" type="text" v-model="emergency_address">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
              <label for="emergency_phone">Phone Number</label>
              <input id="emergency_phone" class="pure-u-23-24" type="text" v-model="emergency_telephone">
          </div>

        </div>
      </fieldset>

      <div class="pure-g">
          <div class="pure-u-1 margin-vertical">
            <legend>How did you find us?</legend>
          </div>

          <div class="pure-u-1 text-left">
            <!-- START OF CHECKBOXES -->
            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="hotel" class="pure-checkbox">
                <input id="hotel" type="checkbox" name="clinic" value="hotel" v-model="clinic_discovery">
                Hotel
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="pharmacy" class="pure-checkbox">
                <input id="pharmacy" type="checkbox" name="clinic" value="pharmacy" v-model="clinic_discovery">
                Pharmacy
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="friend" class="pure-checkbox">
                <input id="friend" type="checkbox" name="clinic" value="friend" v-model="clinic_discovery">
                Friend
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="walk_pass" class="pure-checkbox">
                <input id="walk_pass" type="checkbox" name="clinic" value="walk pass" v-model="clinic_discovery">
                Walk pass
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="google" class="pure-checkbox">
                <input id="google" type="checkbox" name="clinic" value="google" v-model="clinic_discovery">
                Google / Facebook
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="hospital" class="pure-checkbox">
                <input id="hospital" type="checkbox" name="clinic" value="hospital" v-model="clinic_discovery">
                Hospital
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="street" class="pure-checkbox">
                <input id="street" type="checkbox" name="clinic" value="street" v-model="clinic_discovery">
                Street Sign
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="local" class="pure-checkbox">
                <input id="local" type="checkbox" name="clinic" value="local" v-model="clinic_discovery">
                Local People
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="brochure" class="pure-checkbox">
                <input id="brochure" type="checkbox" name="clinic" value="brochure" v-model="clinic_discovery">
                Brochure
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="boat" class="pure-checkbox">
                <input id="boat" type="checkbox" name="clinic" value="boatman" v-model="clinic_discovery">
                Boatman
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="tour" class="pure-checkbox">
                <input id="tour" type="checkbox" name="clinic" value="tour guide" v-model="clinic_discovery">
                Tour Guide
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="bar" class="pure-checkbox">
                <input id="bar" type="checkbox" name="clinic" value="bar" v-model="clinic_discovery">
                Bar
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="restaurant" class="pure-checkbox">
                <input id="restaurant" type="checkbox" name="clinic" value="restaurant" v-model="clinic_discovery">
                Restaurant
              </label>
            </div>

            <div class="pure-u-1-2 pure-u-md-1-6">
              <label for="insuranceCheckbox" class="pure-checkbox">
                <input id="insuranceCheckbox" type="checkbox" name="clinic" value="insurance" v-model="clinic_discovery">
                Insurance
              </label>
            </div>

            <div class="pure-u-1 pure-u-md-2-3">
              <label for="other" class="pure-checkbox" style="display: inline-block">
                <input id="other" type="checkbox" name="clinic" value="other" v-model="clinic_discovery">
                Other
              </label>
              <section v-if="clinic_discovery.includes('other')" style="display: inline-block">
                <span>Please specify</span>
                <input type="text" class="pure-input-1-2" style="display: inline-block" v-model="clinic_discovery_other" required/>
              </section>
            </div>
          </div>
          <!-- END OF CHECKBOXES -->

        </div>
        <!-- END OF INPUTS -->

        <fieldset class="pure-group">
        <!-- <label for="terms" class="pure-checkbox">
            <input id="terms" type="checkbox"> I've read the terms and conditions
        </label> -->

          <legend class="margin-vertical"></legend>
              <button type="submit" class="pure-button pure-button-primary">Save</button>
              <button v-on:click="cancel" class="pure-button">Cancel</button>
        </fieldset>
    </form>
  </section>
</template>

<script>
import flatpickr from 'flatpickr'
import API from '../../api'
import OccupationDropdown from '../ui/occupation-dropdown'
import NationalityDropdown from '../ui/nationality-dropdown'
import InsuranceDropdown from '@/components/ui/insurance-dropdown'
import { getHotels } from '@/api/hotel'

import flatPickr from 'vue-flatpickr-component'

export default {
  name: 'patient-edit',
  components: { OccupationDropdown, NationalityDropdown, flatPickr, InsuranceDropdown },
  data () {
    return {
      isLoaded: false,
      // patient registration data
      branch_id: '',
      // personal detail
      patient: '',
      first_name: '',
      middle_name: '',
      last_name: '',
      first_name_th: '',
      last_name_th: '',
      blood_group: '',
      blood_group_rh: '',
      telephone: '',
      email: '',
      gender: '',
      nationality: '',
      religion: '',
      id_number: '',
      marital_status: '',
      dob: '',
      first_visited_date: '',
      firstVisitDateConfig: {
        dateFormat: 'Y/m/d',
        maxDate: new Date(),
        defaultDate: 'today'
      },
      visited_date: '',
      occupation: '',
      address: '',
      address_th: '',
      insurance_name: '',
      drug_allergy_yn: '',
      drug_allergy: '',
      // length_of_stay: '',
      // department: '',
      // emergency notify
      emergency_name: '',
      emergency_relation: '',
      emergency_address: '',
      emergency_telephone: '',
      //
      clinic_discovery: [],
      clinic_discovery_other: '',
      profileImg: '',
      uploadImageError: false,
      new_img: false,
      // stay_length: flatpickr config
      startDateConfig: {
        dateFormat: 'Y/m/d',
        maxDate: new Date()
      },
      endDateConfig: {
        dateFormat: 'Y/m/d',
        minDate: new Date()
      },
      stay_length_start: '',
      stay_length_end: '',
      stay_type: '',
      note: '',
      //
      isHotel: false,
      otherHotel: null,
      hotel_id: '',
      hotels: null
    }
  },
  created () {
    if (!this.$store.state.patient) this.$router.push({path: `/patient-detail/${this.$route.params.patientId}`})
  },
  mounted: function () {
    flatpickr('#dob', {
      dateFormat: 'Y/m/d',
      maxDate: 'today'
    })

    flatpickr('#visited_date', {
      dateFormat: 'Y/m/d H:i',
      maxDate: 'today',
      enableTime: true,
      time_24hr: true
    })

    this.patient = this.$store.state.patient
    // checked in created ()
    // if (!patient) return

    getHotels().then(results => {
      if (results && results.data) {
        this.hotels = results.data
        this.assignPatientProperties(this.patient)
        this.isLoaded = true
      }
    })
  },
  methods: {
    assignPatientProperties (patient) {
      this.visited_date = patient.visited_date
      this.id_number = patient.id_number
      this.first_name = patient.first_name
      this.middle_name = patient.middle_name
      this.last_name = patient.last_name
      this.first_name_th = patient.first_name_th
      this.last_name_th = patient.last_name_th
      this.blood_group = patient.blood_group
      this.blood_group_rh = patient.blood_group_rh
      // this.dob = this.convertDateTime(patient.dob) || null
      this.dob = patient.dob ? this.moment(patient.dob).format('YYYY/MM/DD') : null
      this.first_visited_date = patient.first_visited_date ? this.moment(patient.first_visited_date).format('YYYY/MM/DD') : null
      this.telephone = patient.telephone
      this.email = patient.email
      this.gender = patient.gender ? patient.gender.toLowerCase() : ''
      this.marital_status = patient.marital_status ? patient.marital_status.toLowerCase() : ''
      this.nationality = patient.nationality ? patient.nationality.toLowerCase() : ''
      this.religion = patient.religion ? patient.religion.toLowerCase() : ''
      this.occupation = patient.occupation
      this.address = patient.address
      this.address_th = patient.address_th
      // this.drug_allergy = patient.drug_allergy
      // this.length_of_stay = patient.length_of_stay || ''
      this.insurance_name = patient.insurance_name
      this.emergency_name = patient.emergency_name
      this.emergency_relation = patient.emergency_relation
      this.emergency_address = patient.emergency_address
      this.emergency_telephone = patient.emergency_telephone
      this.clinic_discovery = patient.clinic_discovery ? patient.clinic_discovery.split(',') : []
      this.profileImg = patient.img_url ? API.assetUrl + patient.img_url : ''

      this.stay_type = patient.stay_type
      this.stay_length_start = patient.stay_length_start
      this.stay_length_end = patient.stay_length_end

      this.note = patient.note

      this.assignBranchId(patient.hospital_number_display)

      if (patient.hotel_id) {
        this.hotel_id = this.patient.hotel_id
        this.isHotel = true

        // assign other hotel value for a user selects other hotel
        if (String(patient.hotel_id) === '99999') this.otherHotel = patient.address_th
      }

      if (this.clinic_discovery.includes('other')) {
        this.clinic_discovery_other = this.clinic_discovery.filter(discovery => {
          return discovery !== 'walk pass' &&
            discovery !== 'hotel' &&
            discovery !== 'pharmacy' &&
            discovery !== 'google' &&
            discovery !== 'friend' &&
            discovery !== 'hospital' &&
            discovery !== 'street' &&
            discovery !== 'local' &&
            discovery !== 'brochure' &&
            discovery !== 'boatman' &&
            discovery !== 'tour guide' &&
            discovery !== 'bar' &&
            discovery !== 'restaurant' &&
            discovery !== 'insurance' &&
            discovery !== 'other'
        })
      }

      switch (patient.drug_allergy) {
        case 'no':
          this.drug_allergy_yn = 'no'
          break
        case 'not sure':
          this.drug_allergy_yn = 'not sure'
          break
        default:
          this.drug_allergy_yn = 'yes'
          this.drug_allergy = patient.drug_allergy
          break
      }
    },
    cancel () {
      // const answer = confirm('Are you sure you want to leave?')
      // if (answer) this.$router.go(-1)
      this.$router.go(-1)
    },
    onSubmitPatient (event) {
      const updatedPatient = {
        first_name: this.first_name,
        middle_name: this.middle_name,
        last_name: this.last_name,
        first_name_th: this.first_name_th,
        last_name_th: this.last_name_th,
        blood_group: this.blood_group,
        blood_group_rh: this.blood_group_rh,
        telephone: this.telephone,
        email: this.email,
        gender: this.gender,
        marital_status: this.marital_status,
        nationality: this.nationality,
        religion: this.religion,
        id_number: this.id_number,
        dob: this.dob,
        // first_visited_date: this.first_visited_date,
        occupation: this.occupation,
        address: this.address,
        insurance_name: this.insurance_name,
        // drug_allergy: this.drug_allergy,
        length_of_stay: this.length_of_stay,
        emergency_name: this.emergency_name,
        emergency_relation: this.emergency_relation,
        emergency_address: this.emergency_address,
        emergency_telephone: this.emergency_telephone,
        note: this.note,
        // clinic_discovery: this.clinic_discovery.join(','),
        img_url: this.profileImg,
        old_img_url: this.patient.img_url
      }

      const clinicDiscovery = this.clinic_discovery.filter(discovery => {
        return discovery === 'walk pass' ||
          discovery === 'hotel' ||
          discovery === 'pharmacy' ||
          discovery === 'google' ||
          discovery === 'friend' ||
          discovery === 'hospital' ||
          discovery === 'street' ||
          discovery === 'local' ||
          discovery === 'brochure' ||
          discovery === 'boatman' ||
          discovery === 'tour guide' ||
          discovery === 'bar' ||
          discovery === 'restaurant' ||
          discovery === 'insurance' ||
          discovery === 'other'
      })

      updatedPatient.clinic_discovery = clinicDiscovery.join(',')
      if (this.clinic_discovery_other && this.clinic_discovery.includes('other')) {
        const discoveryList = ['walk pass', 'hotel', 'pharmacy', 'google', 'friend', 'hospital', 'street', 'local', 'brochure', 'boatman', 'tour guide', 'bar', 'restaurant', 'insurance']

        const clinicDiscoveryOther = this.clinic_discovery_other.toString().toLowerCase()
        if (discoveryList.indexOf(clinicDiscoveryOther) > -1) {
          alert('What you specify is in one of the choices, please consider selecting checkboxes before typing in')
          return
        }

        updatedPatient.clinic_discovery += `,${this.clinic_discovery_other}`
      }

      if (this.isHotel) {
        updatedPatient.hotel_id = this.hotel_id
        updatedPatient.address_th = null

        // assign other hotel value for a user selects other hotel
        if (String(this.hotel_id) === '99999') updatedPatient.address_th = this.otherHotel
      } else {
        updatedPatient.address_th = this.address_th
        updatedPatient.hotel_id = null
      }

      if (this.stay_type) {
        if (this.stay_type === 'tourist') {
          updatedPatient.stay_length_start = this.stay_length_start
          updatedPatient.stay_length_end = this.stay_length_end
        } else {
          updatedPatient.stay_length_start = null
          updatedPatient.stay_length_end = null
        }
        updatedPatient.stay_type = this.stay_type
      }

      // No update on patient profile
      if (!this.new_img) {
        delete updatedPatient.old_img_url
        delete updatedPatient.img_url
      }

      switch (this.drug_allergy_yn) {
        case 'no':
          updatedPatient.drug_allergy = 'no'
          break
        case 'not sure':
          updatedPatient.drug_allergy = 'not sure'
          break
        case 'yes':
          updatedPatient.drug_allergy = this.drug_allergy.toLowerCase()
          break
        default:
          break
      }

      API.editPatient(updatedPatient, this.patient.hospital_number)
        .then(data => {
          this.$store.commit('patientSelection', { detail: data })
          this.$router.push({path: `/patient-detail/${this.patient.hospital_number}`})
        })
        .catch(error => console.log(error))
    },

    previewImage (event) {
      this.uploadImageError = false
      const input = event.target

      if (input.files && input.files[0]) {
        const vm = this

        const reader = new FileReader()

        reader.onload = (e) => {
          if (e.total > 3000000) {
            this.uploadImageError = true
          } else {
            vm.profileImg = e.target.result
            vm.new_img = true
          }
        }

        reader.readAsDataURL(input.files[0])
      }
    },

    assignBranchId (id) {
      // format: xxx-xxY-xxx
      const hospitalNumberDisplay = id.split('-')
      this.branch_id = hospitalNumberDisplay[1].charAt(hospitalNumberDisplay[1].length - 1)
    }
  }
}
</script>
