<template>
  <section class="patient-detail content">
    <div class="header header--breadcrumbs">
      <div class="header-tab">
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <!-- <li class="pure-menu-item"><router-link :to="generalInfoLink" class="pure-menu-link">General Information</router-link></li> -->
            <!-- <li class="pure-menu-item"><router-link :to="visitSummaryLink" class="pure-menu-link">Visit Summary</router-link></li> -->
            <!-- <li class="pure-menu-item"><router-link to="patient-med-cer" class="pure-menu-link">Med cer</router-link></li>
            <li class="pure-menu-item"><router-link to="patient-opd-card" class="pure-menu-link">OPD CARD</router-link></li> -->
            <!-- <li class="pure-menu-item"><router-link to="visit-history" class="pure-menu-link">Visit History</router-link></li>
            <li class="pure-menu-item"><router-link to="admission-history" class="pure-menu-link">Admission History</router-link></li>
            <li class="pure-menu-item"><router-link to="" class="pure-menu-link disabled-link">Investigation</router-link></li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="header-accordion">
          <div class="row between-xs" style="align-items: center;">
            <strong>General Information
              <small v-if="patient.deleted_status">(rejected)</small>
            </strong>
          </div>
        </div>
      </div>
    </div>

    <general-info-tab />

    <transition name="fade">
      <router-view :patient="patient" :key="keyTick" v-if="!patient.deleted_status"></router-view>
    </transition>


    <!-- START OF BUTTON GROUP SECTION -->
    <div class="row mt4">
      <div class="col-xs-12">
        <div class="text-center">
          <button class="pure-button pure-button-primary" v-on:click="showVisitModal = true" v-if="!patient.deleted_status">New Visit</button>
          <button class="pure-button" type="button" @click="navigateBack()">Back</button>
        </div>
      </div>
    </div>
    <!-- END OF BUTTON GROUP SECTION -->

    <!-- START OF VISIT MODAL-->
    <div class="section-no-print">
      <col-modal v-if="showVisitModal" @close="showVisitModal = false">
        <h3 slot="header">Select visit branch</h3>

        <div slot="body" class="row" style="margin: 2rem 0;">
          <div class="col-xs">
            <label for="branch_hospital" style="margin-right: 1rem;">
              <input id="branch_hospital" type="radio" name="select_branch" v-model="branch" value="1" />&nbsp;Hospital
            </label>
            <label for="branch_clinic">
              <input id="branch_clinic" type="radio" name="select_branch" v-model="branch" value="2" />&nbsp;Clinic
            </label>
          </div>
        </div>

        <div slot="footer">
          <button class="pure-button" @click="showVisitModal = false">Cancel</button>
          <button class="pure-button pure-button-primary" @click="newVisit">Submit</button>
        </div>
      </col-modal>
    </div>
    <!-- END OF VISIT MODAL-->
  </section>
</template>

<script>
import API from '@/api'
import store from '@/store'
import generalInfoTab from '@/components/patient/detail/general-information-tab'
import colModal from '@/components/ui/col-modal'

import { createPatientVisit } from '@/api/visit'

export default {
  name: 'patient-detail',
  components: { generalInfoTab, colModal },
  computed: {
    patient () {
      return this.$store.state.patient
    },
    generalInfoLink () {
      return '/patient-detail/' + this.patient.hospital_number + '/general-information'
    },
    visitSummaryLink () {
      return '/patient-detail/' + this.patient.hospital_number + '/visit-summary'
    }
  },
  data () {
    return {
      showVisitModal: false,
      branch: 1,
      keyTick: 0
    }
  },
  beforeRouteEnter (to, from, next) {
    const patient = store.state.patient
    if (!patient || (patient.hospital_number !== to.params.patientId)) {
      const patientId = to.params.patientId

      API.getPatientById(patientId).then(data => {
        store.commit('patientSelection', { detail: data })
        next(vm => vm.commitPatientState(data)
        )
      })
    } else {
      next()
    }
  },
  methods: {
    commitPatientState (data) {
      if (!data) this.$router.push({path: `/patient-summary/all`})
    },
    navigateBack () {
      this.$router.go(-1)
      // this.$router.push('/patient-summary/all')
    },
    newVisit () {
      const patient = this.patient

      const patientId = patient.hospital_number
      const branchId = this.branch

      if (!patientId || !branchId) {
        alert('Missing required parameter(s)')
        return
      }

      return createPatientVisit(patientId, branchId).then(result => {
        this.showVisitModal = false

        if (result.status === 200) {
          alert('New visit created successfully')
          this.keyTick++
        }
      })
    }
  }
}
</script>
