<template>

<div>
<button v-on:click="printTable('portrait')" class="pure-button">Print Portrait</button>
<div class="section-to-print">
  <div class="pure-g">
    <div style="padding-bottom:8px;">
      <div class="pure-u-1-5">
        <img src="/static/worldmed-logo.png" alt="worldmed clinic logo" width=60%>
      </div>
      <div class="pure-u-3-5">
        <h3>New Patient Registration Form</h3>
      </div>
      <div class="pure-u-1-5">
        <div style="border:3px solid black;height:120px;width:100px;">
        </div>
      </div>
    </div>
    <div class="pure-u-1" align="right" style="padding-bottom:5px;">
        HN____________Date__________Time________
    </div>
  </div>
  <table width=100%>
    <tbody>
      <tr>
        <td width=100% colspan="3">
            <div class="pure-g p-top6 p-bot6">
              <div class="pure-u-1-3" style="padding-bottom:20px">
                Drug Allergy<br/>
                <p></p>
              </div>
              <div class="pure-u-1-3">
                Blood Group<br />
                <p></p>
              </div>
              <div class="pure-u-1-3">
                ID Card / Passpord No.<br>
                <p></p>
              </div>
            </div>
        </td>
      </tr>
      <tr>
        <td width=100% colspan="3">
          <div class="pure-g p-top6 p-bot6">
            <div class="pure-u-9-24">
              <p class="m-top6 m-bot6" style="margin-bottom:2px;">First Name (Mr.,Mrs.,Miss)</p>
            </div>
            <div class="pure-u-15-24">
              <p></p>
            </div>
            <div class="pure-u-1-4">
              <p class="m-top6 m-bot6" style="right:40px;">Middle Name</p>
            </div>
            <div class="pure-u-1-4">
              <p></p>
            </div>
            <div class="pure-u-1-4">
              <p class="m-top6 m-bot6" align="left">Family Name</p>
            </div>
            <div class="pure-u-1-4">
              <p></p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td width=100% colspan="3">
          <div class="pure-g">
            <div class="pure-u-1-3">
                  <p class="m-top6 m-bot6">Sex&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label for="male" class="pure-checkbox">
                  <input id="male" type="checkbox" name="gender" value="male" v-model="gender">
                  Male&nbsp;&nbsp;&nbsp;
                </label>
                <label for="female" class="pure-checkbox">
                  <input id="female" type="checkbox" name="gender" value="female" v-model="gender">
                  Female
                </label>
                </p>
            </div>
            <div class="pure-u-1-3">
              <p class="m-top6 m-bot6">Data of Birth</p>
            </div>
            <div class="pure-u-1-3">
              <p class="m-top6 m-bot6">Age</p>
            </div>
          </div>

        </td>
      </tr>
      <tr>
        <td width=100% colspan="3">
          <div class="pure-g">
            <div class="pure-u-1-4 p-top6">
              Marry Status
            </div>
            <div class="pure-u-3-4 p-top6">
            <div class="pure-g">
              <div class="pure-u-4-5">
                <label for="single" class="pure-checkbox">
                  <input id="single" type="checkbox" name="marital_status" value="single" v-model="marital_status">
                  Single
                </label>
                <label for="married" class="pure-checkbox" style="margin-left:15px;">
                  <input id="married" type="checkbox" name="marital_status" value="married" v-model="marital_status">
                  Married
                </label>
                <label for="divorced" class="pure-checkbox" style="margin-left:15px;">
                  <input id="divorced" type="checkbox" name="marital_status" value="divorced" v-model="marital_status">
                  Divorce
                </label>
                <label for="widowed" class="pure-checkbox" style="margin-left:15px;">
                  <input id="widowed" type="checkbox" name="marital_status" value="widowed" v-model="marital_status">
                  Widowed
                </label>
                <label for="priest" class="pure-checkbox" style="margin-left:15px;">
                  <input id="priest" type="checkbox" name="marital_status" value="priest" v-model="marital_status">
                  Priest
                </label>
                <div class="pure-u-1-5">
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
      </tr>
      <tr>
        <td width=32%>
          <div class="pure-g">
              <div class="pure-u-2-5">
                <p class="m-top6 m-bot6">Nationality</p>
              </div>
              <div class="pure-u-3-5">
              </div>
          </div>
        </td>
        <td width=28%>
          <div class="pure-g">
              <div class="pure-u-2-5">
                <p class="m-top6 m-bot6">Religion</p>
              </div>
              <div class="pure-u-3-5">

              </div>
          </div>
        </td>
        <td width=40%>
          <div class="pure-g">
              <div class="pure-u-2-5">
                <p class="m-top6 m-bot6">Occupation</p>
              </div>
              <div class="pure-u-3-5">
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td width=100% colspan="3">
          <div class="pure-g">
            <div class="pure-u-1-3" style="margin-bottom:20px">
              <p class="m-top6 m-bot6">Home Address</p>
            </div>
            <div class="pure-u-2-3">
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="pure-g">
              <div class="pure-u-1-2">
                <p class="m-top6 m-bot6">Phone Number</p>
              </div>
              <div class="pure-u-1-2">
                <p></p>
              </div>
          </div>
        </td>
        <td colspan="2">
          <div class="pure-g">
              <div class="pure-u-1-3">
                <p class="m-top6 m-bot6">E-mail Address</p>
              </div>
              <div class="pure-u-2-3">
               <p></p>
              </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width=100% colspan="3">
          <div class="pure-g">
            <div class="pure-u-1-3" style="margin-bottom:20px">
              <p class="m-top6 m-bot6">Present Address in Thailand</p>
            </div>
            <div class="pure-u-2-3">
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width=100% colspan="3">
          <div class="pure-g">
            <div class="pure-u-1-3">
              <p class="m-top6 m-bot6">Insurance Name</p>
            </div>
            <div class="pure-u-2-3">
              <p></p>
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <div class="pure-g">
              <div class="pure-u-14-24">
                <p class="m-top6 m-bot6">Notify in Emergency : Name</p>
              </div>
              <div class="pure-u-10-24">
                <p></p>
              </div>
          </div>
        </td>
        <td width=40%>
          <div class="pure-g">
              <div class="pure-u-1-2">
                <p class="m-top6 m-bot6">Relation to Patient</p>
              </div>
              <div class="pure-u-1-2">
                <p></p>
              </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width=60% colspan="2">
          <div class="pure-g">
              <div class="pure-u-14-24" style="margin-bottom:20px">
                <p class="m-top6 m-bot6">Adress</p>
              </div>
              <div class="pure-u-10-24">
                <p></p>
              </div>
          </div>
        </td>
        <td width=40%>
          <div class="pure-g" style="margin-bottom:20px">
              <div class="pure-u-1-2">
                <p class="m-top6 m-bot6">Phone Number</p>
              </div>
              <div class="pure-u-1-2">
                <p></p>
              </div>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="3">
          <div class="pure-g m-bot6">
            <div class="pure-u-1">
                <p class="m-top6 m-bot6" style="margin-left:20px;" align="left">How did you find us?</p>
            </div>
              <!-- START OF CHECKBOXES -->
            <div class="pure-u-1-5">
              <label for="hotel" class="pure-checkbox">
                <input id="hotel" type="checkbox" name="clinic" value="hotel" v-model="clinic_discovery">
                Hotel
              </label>
            </div>

            <div class="pure-u-1-5">
              <label for="pharmacy" class="pure-checkbox">
                <input id="pharmacy" type="checkbox" name="clinic" value="pharmacy" v-model="clinic_discovery">
                Pharmacy
              </label>
            </div>

            <div class="pure-u-1-5">
              <label for="friend" class="pure-checkbox">
                <input id="friend" type="checkbox" name="clinic" value="friend" v-model="clinic_discovery">
                Friend
              </label>
            </div>

            <div class="pure-u-1-5">
              <label for="walk_pass" class="pure-checkbox">
                <input id="walk_pass" type="checkbox" name="clinic" value="walk pass" v-model="clinic_discovery">
                Walk pass
              </label>
            </div>

            <div class="pure-u-1-5">
              <label for="google" class="pure-checkbox">
                <input id="google" type="checkbox" name="clinic" value="google" v-model="clinic_discovery">
                Google
              </label>
            </div>

            <div class="pure-u-1-5">
              <label for="hospital" class="pure-checkbox">
                <input id="hospital" type="checkbox" name="clinic" value="hospital" v-model="clinic_discovery">
                Hospital
              </label>
            </div>

            <div class="pure-u-1-5">
              <label for="street" class="pure-checkbox">
                <input id="street" type="checkbox" name="clinic" value="street" v-model="clinic_discovery">
                Street Sign
              </label>
            </div>

            <div class="pure-u-1-5">
              <label for="local" class="pure-checkbox">
                <input id="local" type="checkbox" name="clinic" value="local" v-model="clinic_discovery">
                Local People
              </label>
            </div>

            <div class="pure-u-1-5">
              <label for="brochure" class="pure-checkbox">
                <input id="brochure" type="checkbox" name="clinic" value="brochure" v-model="clinic_discovery">
                Brochure/Map
              </label>
            </div>

            <div class="pure-u-1-5">
              <label for="other" class="pure-checkbox">
                <input id="other" type="checkbox" name="clinic" value="other" v-model="clinic_discovery">
                Other
              </label>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pure-g" style="padding-top:20px">
    <div class="pure-u-1" style="font-size: 16px; line-height: normal;">
      <p class="m-top6 m-bot6" align="left">I certify that information provided above are correct. Signature..........................................</p>
      <p align="left">Patient, Relative:Relationship to patient Name in Block Letter.....................................................</p>
      <p align="right">Staff Name .......................................</p>
      <p align="right">Date ............................................ </p>
    </div>
  </div>
</div>
</div>
</template>
<script>
// import JsBarcode from 'jsbarcode'

export default {
  name: 'patient-detail-general-information',
  data () {
    return {
      id: '',
      patient: ''
    }
  },
  created () {
    if (!this.$store.state.patient) {
      const patient = this.$store.state.patients.filter(patient => patient.hospital_number === this.$route.params.patientId)
      if (patient.length > 0) this.$store.commit('patientSelection', {detail: patient[0]})
    }
    this.patient = this.$store.state.patient
  },
  mounted: function () {
    // JsBarcode('#barcode-id', this.patient.hospital_number)
  },
  methods: {
    printTable: function (page) {
      const css = `@page { size: ${page}; font-size: 14px; }`
      const head = document.head || document.getElementsByTagName('head')[0]
      const style = document.createElement('style')

      style.type = 'text/css'
      style.media = 'print'

      if (style.styleSheet) {
        style.styleSheet.cssText = css
      } else {
        style.appendChild(document.createTextNode(css))
      }

      head.appendChild(style)
      // print function
      window.print()
      head.removeChild(head.lastChild)
    }
  }
}

</script>
