<template>
  <section>
    <med-cer-form :patient="patient" />
    <pre>{{ patient }}</pre>
  </section>

</template>

<script>
const MedCerForm = () => import('@/components/forms/medical-certificate')

export default {
  name: 'patient-detail-form-med-cer',
  components: { MedCerForm },
  computed: {
    patient: function () {
      return this.$store.state.patient
    }
  }
}
</script>

