<template>
  <section>
    <opd-card-form :patient="patient" />
    <pre>{{ patient }}</pre>
  </section>

</template>

<script>
const OpdCardForm = () => import('@/components/forms/opd-card')

export default {
  name: 'patient-detail-form-opd-card',
  components: { OpdCardForm },
  computed: {
    patient: function () {
      return this.$store.state.patient
    }
  }
}
</script>

