<template>
  <section>
    <select class="pure-input-1 slim-select-height" :id="'billable_' + selectId" name="billable" v-model="scopedBillable">
      <option selected value="null">Select procedure</option>
      <option v-for="i in items" :value="i.id">{{ i.item }}</option>
    </select>
  </section>
</template>

<script>
import SlimSelect from 'slim-select'
import { getBillableItems } from '@/api/billable-item'

export default {
  name: 'billable-item-dd',
  props: ['selectId', 'billable'],
  data () {
    return {
      scopedBillable: null,
      items: null,
      select: null
    }
  },
  async mounted () {
    if (!this.$store.state.medicalItem.billableItemData || !this.$store.state.medicalItem.billableItemData.length) {
      await getBillableItems()
    }
    const selectId = `#billable_${this.selectId}`
    /* eslint-disable no-new */
    this.select = new SlimSelect({
      select: selectId
    })

    this.items = (this.$store.state.medicalItem.billableItemData)
    if (this.billable) this.scopedBillable = this.billable
  },
  watch: {
    scopedBillable: function (value) {
      this.$emit('input', value)
    },
    billable (value) {
      if (this.select) this.select.set(value)
    }
  }
}
</script>

