<template>
  <section class="col-xs">
    <select class="pure-input-1 slim-select-height" :id="'icd_' + selectId" name="icd" v-model="scopedData">
    </select>
  </section>
</template>

<script>
import SlimSelect from 'slim-select'
import { fetchIcd } from '@/api/icd'

export default {
  name: 'icd-dd',
  props: ['selectId', 'icdData'],
  data () {
    return {
      scopedData: null,
      item: null
    }
  },
  mounted () {
    const selectId = `#icd_${this.selectId}`
    /* eslint-disable no-new */
    const select = new SlimSelect({
      select: selectId,
      ajax: async function (search, callback) {
        if (search.length < 3) {
          callback('Please input at least 3 characters')
          return
        }

        const keyword = search.toUpperCase()

        fetchIcd(keyword).then(result => {
          let data = []
          for (let i = 0; i < result.length; i++) {
            data.push({text: result[i].id + ' - ' + result[i].description})
          }

          // Upon successful fetch send data to callback function.
          // Be sure to send data back in the proper format.
          // Refer to the method setData for examples of proper format.
          callback(data)
        }).catch(error => {
          console.debug(error)
          callback(false)
        })
      }
    })

    if (this.icdData && select) {
      select.setData([{text: this.icdData}])
      this.scopedData = this.icdData
      select.set(this.icdData)
    }
  },
  watch: {
    scopedData: function (value) {
      this.$emit('input', value)
    },
    icdData: function (value) {
      this.scopedData = value
    }
  }
}
</script>
