<template>
  <section class="col-xs">
    <select class="pure-input-1 slim-select-height" :id="'lab_' + selectId" name="lab" v-model="scopedLab" style="max-width: 400px;">
      <option selected value="null">Select lab</option>
      <option v-for="i in items" :value="i.id">{{ i.brand_name }}</option>
    </select>
  </section>
</template>

<script>
import SlimSelect from 'slim-select'
import { getLabs } from '@/api/product'

export default {
  name: 'lab-dd',
  props: ['selectId', 'lab'],
  data () {
    return {
      scopedLab: null,
      items: null
    }
  },
  async mounted () {
    if (!this.$store.state.medicalItem.labData || !this.$store.state.medicalItem.labData.length) {
      await getLabs()
    }

    const selectId = `#lab_${this.selectId}`
    /* eslint-disable no-new */
    new SlimSelect({
      select: selectId
    })

    this.items = (this.$store.state.medicalItem.labData)
    if (this.lab) this.scopedLab = this.lab
  },
  watch: {
    scopedLab: function (value) {
      this.$emit('input', value)
    }
  }
}
</script>

