<template>
  <section class="col-xs">
    <select class="pure-input-1 slim-select-height" :id="'product_' + selectId" name="product" v-model="scopedProduct">
      <option selected value="null">Select medicine/supply</option>
      <option v-for="i in items" :value="i.id">{{ i.product_code }} {{ i.brand_name }} {{ i.generic_name ? '[' + i.generic_name + ']' : '' }}</option>
    </select>
  </section>
</template>

<script>
import SlimSelect from 'slim-select'
import { getProducts } from '@/api/product'

export default {
  name: 'product-dd',
  props: ['selectId', 'product'],
  data () {
    return {
      scopedProduct: null,
      items: null,
      select: null
    }
  },
  async mounted () {
    if (!this.$store.state.medicalItem.productData || !this.$store.state.medicalItem.productData.length) {
      await getProducts()
    }

    const selectId = `#product_${this.selectId}`
    /* eslint-disable no-new */
    this.select = new SlimSelect({
      select: selectId
    })

    this.items = (this.$store.state.medicalItem.productData)
    if (this.product) this.scopedProduct = this.product
  },
  watch: {
    scopedProduct: function (value) {
      this.$emit('input', value)
    },
    product (value) {
      if (this.select) this.scopedProduct = value
    }
  }
}
</script>
