<template>
  <section class="content">
    <div class="header">
      <h1>My account</h1>
    </div>

    <router-view></router-view>

  </section>
</template>

<script>
export default {
  name: 'account'
}
</script>

