<template>
  <div>
    <new-user :userObj="user"></new-user>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import NewUser from '@/components/settings/new-user'

export default {
  name: 'my-info',
  components: { NewUser },
  data () {
    return {
      user: {}
    }
  },
  computed: {
    ...mapGetters({
      auth: 'authData'
    })
  },
  created () {
    const roleId = this.auth.permission === 'admin' ? 2 : (this.auth.permission === 'staff' ? 3 : 1)
    this.user = {
      username: this.auth.username,
      first_name: this.auth.first_name,
      last_name: this.auth.last_name,
      role_id: roleId
    }
  }
}
</script>
