<template>
  <section class="content">
    <div class="pure-menu pure-menu-horizontal text-right">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><router-link to="/invoices/all" class="pure-menu-link">All</router-link></li>
        <li class="pure-menu-item"><router-link to="/invoices/new" class="pure-menu-link">Create</router-link></li>
      </ul>
    </div>

    <router-view></router-view>
  </section>
</template>

<script>
export default {
  name: 'view-invoice'
}
</script>

<style scoped>
  .router-link-active {
    background-color: #eee;
  }
</style>
