<template>
  <div>
    <div class="text-left">
      <button class="pure-button" :class="{'button-active': menu==='daily'}" @click="menu='daily'">Daily Summary</button>
      <button class="pure-button" :class="{'button-active': menu==='payment'}" @click="menu='payment'">Payment Summary</button>
      <button class="pure-button" :class="{'button-active': menu==='invoices'}" @click="menu='invoices'">Invoices List</button>
    </div>
    <section v-if="menu==='daily'">
      <h2>Daily Payment Summary {{selectedDate}}</h2>
      <p class="text-left summary">Currrently displaying {{dateInvoices.length | numberWithCommas}} of {{invoices.length | numberWithCommas}} invoices</p>
      <div class="row text-left mt2">       
        <div class="col-sm-3 col-xs-12">
          <label for="dob">Date</label>
          <input id="date" ref="date" class="pure-u-23-24" type="text" v-model="selectedDate" placeholder="yyyy/m/d" required>
        </div>                    
      </div>
      <table class="pure-table pure-table-striped table-wrapper margin-auto mt2" style="width: 100%;">
        <thead>
          <tr>
            <th>Payment Type</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody v-if="!loading">
          <tr>
            <td>Cash</td>
            <td class="text-right">{{cash | numberWithCommas}}</td>
          </tr>
          <tr>
            <td>Credit/Debit</td>
            <td class="text-right">{{credit | numberWithCommas}}</td>
          </tr>
          <tr>
            <td>WeChat</td>
            <td class="text-right">{{wechat | numberWithCommas}}</td>
          </tr>
          <tr>
            <td>Alipay</td>
            <td class="text-right">{{alipay | numberWithCommas}}</td>
          </tr>
          <tr>
            <td>Insurance (Paid GOP)</td>
            <td class="text-right">* coming soon</td>
          </tr>
          <tr>
            <td>Bank Transfer</td>
            <td class="text-right">{{internet | numberWithCommas}}</td>
          </tr>
          <tr>
            <td>Other</td>
            <td class="text-right">{{other | numberWithCommas}}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td class="text-right">{{cash+credit+internet+other | numberWithCommas}}</td>
          </tr>
        </tbody>
      </table>
      <h2>Daily Outstanding Summary {{selectedDate}}</h2>
      <table class="pure-table pure-table-striped table-wrapper margin-auto" style="width: 100%;">
        <thead>
          <tr>
            <th>Outstanding Type</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody v-if="!loading">
          <tr>
            <td>Insurance unpaid (GOP)</td>
            <td class="text-right">* coming soon</td>
          </tr>
          <tr>
            <td>Insurance Unpaid</td>
            <td class="text-right">{{insurance | numberWithCommas}}</td>
          </tr>
          <tr>
            <td>Other</td>
            <td class="text-right">{{outstanding-insurance-(cash+credit+internet+other) | numberWithCommas}}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td class="text-right">{{outstanding-(cash+credit+internet+other) | numberWithCommas}}</td>
          </tr>
        </tbody>
      </table>
      <h1 class="mt2">Invoices {{selectedDate}}</h1>
      <div style="margin-top: 20px; margin-bottom: 20px;">
        <button class="pure-button" :class="{'button-active': status==='all'}" @click="status='all'">All</button>
        <button class="pure-button" :class="{'button-active': status==='complete'}" @click="status='complete'">Complete</button>
        <button class="pure-button" :class="{'button-active': status==='incomplete'}" @click="status='incomplete'">Incomplete</button>
      </div>
      <div class="row">
        <div class="col-xs">
          <table class="pure-table pure-table-striped table-wrapper margin-auto">
            <thead>
              <tr>
                <th>Date</th>
                <th>HN.</th>
                <th>Patient Name</th>
                <th>Total</th>
                <th>Status</th>
                <th>Detail</th>
              </tr>
            </thead>
            <tbody v-if="!loading">
              <tr v-for="i in dateInvoices">
                <td>{{ moment(i.updated_at).format('HH:mm') }}</td>
                <td>{{ i.visit.patient.hospital_number_display }}</td>
                <td class="capitalize">{{ i.visit.patient.first_name }} {{ i.visit.patient.last_name }}</td>
                <td>{{ i.price_total | numberWithCommas }}</td>
                <td class="uppercase">
                  <span :class="`label-${i.status}`">{{ i.status === 'complete' ? 'complete': 'incomplete'}}</span>
                </td>
                <td>
                  <router-link :to="{ path: `/invoices/${i.id}` }"><icon name="external-link"></icon></router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section v-if="menu==='payment'">
      <h2>Payment Summary from {{selectedStartDate}} to {{selectedEndDate}}</h2>
      <p class="text-left summary">Currrently displaying {{rangeInvoices.length | numberWithCommas}} of {{invoices.length | numberWithCommas}} invoices</p>
      <div class="row text-left mt2">       
        <div class="col-sm-3 col-xs-12">
          <label for="dob">from</label>
          <input id="startDate" ref="startDate" class="pure-u-23-24" type="text" v-model="selectedStartDate" placeholder="yyyy/m/d" required>
        </div>                    
        <div class="col-sm-3 col-xs-12">
          <label for="dob">to</label>
          <input id="endDate" ref="endDate" class="pure-u-23-24" type="text" v-model="selectedEndDate" placeholder="yyyy/m/d" required>
        </div>                    
      </div>
      <table class="pure-table pure-table-striped table-wrapper margin-auto mt2" style="width: 100%;">
        <thead>
          <tr>
            <th>Branch</th>
            <th>Cash</th>
            <th>Credit/Debit Card</th>
            <th>WeChat</th>
            <th>Alipay</th>
            <th>Insurance Paid GOP</th>
            <th>Bank Transfer</th>
            <th>Others</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody v-if="!loading">
          <tr>
            <td>Hospital</td>
            <td>{{count_payment(1, 'cash') | numberWithCommas}}</td>
            <td>{{count_payment(1, 'credit') | numberWithCommas}}</td>
            <td>{{count_payment(1, 'wechat') | numberWithCommas}}</td>
            <td>{{count_payment(1, 'alipay') | numberWithCommas}}</td>
            <td>-</td>
            <td>{{count_payment(1, 'internet') | numberWithCommas}}</td>
            <td>{{count_payment(1, 'other') | numberWithCommas}}</td>
            <td>{{count_payment(1, null) | numberWithCommas}}</td>
          </tr>
          <tr>
            <td>Clinic</td>
            <td>{{count_payment(2, 'cash') | numberWithCommas}}</td>
            <td>{{count_payment(2, 'credit') | numberWithCommas}}</td>
            <td>{{count_payment(2, 'wechat') | numberWithCommas}}</td>
            <td>{{count_payment(2, 'alipay') | numberWithCommas}}</td>
            <td>-</td>
            <td>{{count_payment(2, 'internet') | numberWithCommas}}</td>
            <td>{{count_payment(2, 'other') | numberWithCommas}}</td>
            <td>{{count_payment(2, null) | numberWithCommas}}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>{{count_payment(null, 'cash') | numberWithCommas}}</td>
            <td>{{count_payment(null, 'credit') | numberWithCommas}}</td>
            <td>{{count_payment(null, 'wechat') | numberWithCommas}}</td>
            <td>{{count_payment(null, 'alipay') | numberWithCommas}}</td>
            <td>-</td>
            <td>{{count_payment(null, 'internet') | numberWithCommas}}</td>
            <td>{{count_payment(null, 'other') | numberWithCommas}}</td>
            <td>{{count_payment(null, null) | numberWithCommas}}</td>
          </tr>
        </tbody>
      </table>
      <h2>Outstanding Summary {{selectedStartDate}} to {{selectedEndDate}}</h2>
      <table class="pure-table pure-table-striped table-wrapper margin-auto mt2" style="width: 100%;">
        <thead>
          <tr>
            <th>Branch</th>
            <th>unpaid insurance GOP</th>
            <th>unpaid insurance NO GOP</th>
            <th>unpaid others</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody v-if="!loading">
          <tr>
            <td>Hospital</td>
            <td>* coming soon</td>
            <td>{{count_payment(1, 'insurance') | numberWithCommas}}</td>
            <td>{{count_invoice(1) - count_payment(1, null) - count_payment(1, 'insurance') | numberWithCommas}}</td>
            <td>{{count_invoice(1) - count_payment(1, null) | numberWithCommas}}</td>
          </tr>
          <tr>
            <td>Clinic</td>
            <td>* coming soon</td>
            <td>{{count_payment(2, 'insurance') | numberWithCommas}}</td>
            <td>{{count_invoice(2) - count_payment(2, null) - count_payment(2, 'insurance') | numberWithCommas}}</td>
            <td>{{count_invoice(2) - count_payment(2, null) | numberWithCommas}}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>* coming soon</td>
            <td>{{count_payment(null, 'insurance') | numberWithCommas}}</td>
            <td>{{count_invoice(null) - count_payment(null, null) - count_payment(null, 'insurance') | numberWithCommas}}</td>
            <td>{{count_invoice(null) - count_payment(null, null) | numberWithCommas}}</td>
          </tr>
        </tbody>
      </table>
      <h2>Invoices {{selectedStartDate}} to {{selectedEndDate}}</h2>
      <div style="margin-top: 20px; margin-bottom: 20px;">
        <button class="pure-button" :class="{'button-active': status==='all'}" @click="status='all'">All</button>
        <button class="pure-button" :class="{'button-active': status==='complete'}" @click="status='complete'">Complete</button>
        <button class="pure-button" :class="{'button-active': status==='incomplete'}" @click="status='incomplete'">Incomplete</button>
      </div>
      <div class="row">
        <div class="col-xs">
          <table class="pure-table pure-table-striped table-wrapper margin-auto">
            <thead>
              <tr>
                <th>Date</th>
                <th>HN.</th>
                <th>Patient Name</th>
                <th>Total</th>
                <th>Status</th>
                <th>Detail</th>
              </tr>
            </thead>
            <tbody v-if="!loading">
              <tr v-for="i in rangeInvoices">
                <td>{{ moment(i.updated_at).format('YYYY/MM/DD HH:mm') }}</td>
                <td>{{ i.visit.patient.hospital_number_display }}</td>
                <td class="capitalize">{{ i.visit.patient.first_name }} {{ i.visit.patient.last_name }}</td>
                <td>{{ i.price_total | numberWithCommas }}</td>
                <td class="uppercase">
                  <span :class="`label-${i.status}`">{{ i.status === 'complete' ? 'complete': 'incomplete'}}</span>
                </td>
                <td>
                  <router-link :to="{ path: `/invoices/${i.id}` }"><icon name="external-link"></icon></router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section v-if="menu==='invoices'">
      <h1>Invoices</h1>
      <div style="margin-top: 20px; margin-bottom: 20px;">
        <button class="pure-button" :class="{'button-active': status==='all'}" @click="status='all'">All</button>
        <button class="pure-button" :class="{'button-active': status==='complete'}" @click="status='complete'">Complete</button>
        <button class="pure-button" :class="{'button-active': status==='incomplete'}" @click="status='incomplete'">Incomplete</button>
      </div>
      <div class="row">
        <div class="col-xs">
          <table class="pure-table pure-table-striped table-wrapper margin-auto">
            <thead>
              <tr>
                <th>Date</th>
                <th>HN.</th>
                <th>Patient Name</th>
                <th>Total</th>
                <th>Status</th>
                <th>Detail</th>
              </tr>
            </thead>
            <tbody v-if="!loading" v-for="d in invoiceDates">
              <tr class="col--header uppercase">
                <td colspan="6">{{ d }}</td>
              </tr>
              <tr v-for="i in statusInvoices" v-if="d === moment(i.updated_at).format('DD MMM YYYY')">
                <td>{{ moment(i.updated_at).format('HH:mm') }}</td>
                <td>{{ i.visit.patient.hospital_number_display }}</td>
                <td class="capitalize">{{ i.visit.patient.first_name }} {{ i.visit.patient.last_name }}</td>
                <td>{{ i.price_total | numberWithCommas }}</td>
                <td class="uppercase">
                  <span :class="`label-${i.status}`">{{ i.status === 'complete' ? 'complete': 'incomplete'}}</span>
                </td>
                <td>
                  <router-link :to="{ path: `/invoices/${i.id}` }"><icon name="external-link"></icon></router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import flatpickr from 'flatpickr'
import moment from 'moment'
import { getInvoices } from '@/api/invoice'
import _ from 'lodash'
import flatPickr from 'vue-flatpickr-component'

export default {
  name: 'invoices',
  components: {
    flatPickr
  },
  data () {
    return {
      invoices: [],
      invoiceDates: [],
      payments: [],
      loading: false,
      selectedDate: moment().startOf('day').format('YYYY/MM/DD'),
      selectedStartDate: moment().add(-1, 'day').startOf('day').format('YYYY/MM/DD'),
      selectedEndDate: moment().startOf('day').format('YYYY/MM/DD'),
      menu: 'daily',
      status: 'all'
    }
  },
  async mounted () {
    this.loading = true

    this.$store.commit('loadingIncomplete', { detail: true })

    flatpickr('#date', {
      dateFormat: 'Y/m/d',
      maxDate: 'today'
    })
    flatpickr('#startDate', {
      dateFormat: 'Y/m/d',
      maxDate: 'today'
    })
    flatpickr('#endDate', {
      dateFormat: 'Y/m/d',
      maxDate: 'today'
    })

    return getInvoices().then(results => {
      if (results && results.data) {
        const data = results.data
        this.invoices = data

        const invoiceDates = this.$lodash.uniq(data.map(p => moment(p.updated_at).format('DD MMM YYYY')))
        this.invoiceDates = invoiceDates
      }
      for (let invoice of this.invoices) {
        for (let payment of invoice.payments) {
          this.payments.push(payment)
        }
      }
      this.loading = false
      this.$store.commit('loadingIncomplete', { detail: false })
    })
  },
  computed: {
    datePayments () {
      return _.filter(this.payments, p => {
        let date = moment(p.created_at)
        return this.selectedDate === date.format('YYYY/MM/DD')
      })
    },
    dateInvoices () {
      return _.filter(this.invoices, i => {
        let date = moment(i.updated_at)
        if (this.status !== 'all') {
          if (this.status === 'complete' && i.status !== 'complete') return false
          if (this.status === 'incomplete' && i.status !== 'pending') return false
        }
        return this.selectedDate === date.format('YYYY/MM/DD')
      })
    },
    statusInvoices () {
      return _.filter(this.invoices, i => {
        if (this.status !== 'all') {
          if (this.status === 'complete' && i.status !== 'complete') return false
          if (this.status === 'incomplete' && i.status !== 'pending') return false
        }
        return true
      })
    },
    rangeInvoices () {
      return _.filter(this.invoices, i => {
        let date = moment(i.updated_at)
        return date.isBetween(moment(this.selectedStartDate), moment(this.selectedEndDate))
      })
    },
    outstanding () {
      return _.sumBy(this.dateInvoices, i => {
        return i.price_total
      })
    },
    insurance () {
      return _.sumBy(this.datePayments, p => {
        return p.insurance
      })
    },
    cash () {
      return _.sumBy(this.datePayments, p => {
        return p.cash
      })
    },
    credit () {
      return _.sumBy(this.datePayments, p => {
        return p.credit
      })
    },
    wechat () {
      return _.sumBy(this.datePayments, p => {
        return p.wechat
      })
    },
    alipay () {
      return _.sumBy(this.datePayments, p => {
        return p.alipay
      })
    },
    gop () {
      return _.sumBy(this.datePayments, p => {
        return p.insurance
      })
    },
    internet () {
      return _.sumBy(this.datePayments, p => {
        return p.internet
      })
    },
    other () {
      return _.sumBy(this.datePayments, p => {
        return p.other
      })
    }
  },
  methods: {
    count_payment (branch, type) {
      let sum = 0
      for (let invoice of this.rangeInvoices) {
        if (branch) {
          if (invoice.visit.branch_id === branch) {
            for (let p of invoice.payments) {
              if (type) sum += p[type]
              else sum += p.cash + p.credit + (p.wechat || 0) + (p.alipay || 0) + p.internet + p.other
            }
          }
        } else {
          for (let p of invoice.payments) {
            if (type) sum += p[type]
            else sum += p.cash + p.credit + (p.wechat || 0) + (p.alipay || 0) + p.internet + p.other
          }
        }
      }
      return sum
    },
    count_invoice (branch) {
      let sum = 0
      for (let invoice of this.rangeInvoices) {
        if (branch) {
          if (branch === invoice.visit.branch_id) {
            sum += invoice.price_total
          }
        } else {
          sum += invoice.price_total
        }
      }
      return sum
    }
  }
}
</script>

<style lang="scss" scoped>
.button-active {
  background: rgb(66, 184, 221);
  color: white;
}

.summary {
  color: #adadad;
}

.label-complete {
  padding: 5px;
  border-radius: 0.25em;
  color: white;
  background-color: green;
}

.label-pending {
  padding: 5px;
  border-radius: 0.25em;
  color: white;
  background-color: red;
}
</style>
