<template>
  <section class="content" v-if="invoice">
    <h1>Invoice Detail</h1>
    <div class="row" v-if="!loading">
      <!-- OUTSTANDING BOX -->
      <div class="col-xs-12" v-if="invoice.status === 'pending'">
        <div class="outstanding-box">
          <div class="outstanding-tab"></div>
          <p class="text-left">
            <icon name="exclamation-circle" scale="1.5" class="outstanding-alert"></icon>
            <span class="capitalize">{{ invoice.visit.patient.first_name }} {{ invoice.visit.patient.last_name }}</span> has an <strong>outstanding balance of {{ outstanding | numberWithCommas }}</strong>
          </p>
        </div>
      </div>
      <!-- OUTSTANDING BOX -->
      <div class="col-xs-12 col-sm-6">
        <p class="text-left">
          <span>Invoice ID: </span><strong>{{ invoice.id }}</strong><br />
          <span>Status: </span><strong class="uppercase">{{ invoice.status }}</strong><br />
          <span>Invoice total: </span><strong>{{ invoice.price_total | numberWithCommas }}</strong><br /><br />
          <span>Invoice to: </span><strong>{{ invoice.invoice_to }}</strong><br />
          <span>Extra information: </span><strong>{{ invoice.extra || '-' }}</strong><br /><br />
          <span>Note: </span><strong>{{ invoice.note || '-' }}</strong><br />
          <span>Billing officer: </span><strong>{{ invoice.billing_officer || '-' }}</strong><br />
        </p>
      </div>
      <div class="col-xs-6 col-sm-6">
        <p class="text-left">
          <span>Visit ID: </span><strong>{{ invoice.visit.id }}</strong><br />
          <span>Patient HN.: </span><router-link :to="patientLink"><strong>{{ invoice.visit.patient.hospital_number_display }}</strong></router-link><br />
          <span>Patient Name: </span><strong class="capitalize">{{ invoice.visit.patient.first_name }} {{ invoice.visit.patient.last_name }}</strong><br />
        </p>
      </div>
      <div class="col-xs">
        <table class="pure-table pure-table-striped table-wrapper margin-auto mt2" style="width: 100%">
          <thead>
            <tr>
              <th>Item</th>
              <th>Type</th>
              <th>Amount</th>
              <th>Total Discount</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(i, index) in invoice.invoice_items">
              <td>{{ i.name }}</td>
              <td class="capitalize">{{ i.type }}</td>
              <td>{{ i.amount }}</td>
              <td>{{ i.discount_total | numberWithCommas }}</td>
              <td>{{ i.price_total | numberWithCommas }}</td>
            </tr>
            <tr>
              <td class="text-right" colspan="4">Total</td>
              <td><strong>{{ invoice.price_total | numberWithCommas }}</strong></td>
            </tr>
            <tr>
              <td class="text-right" colspan="4"><strong>Outstanding Balance</strong></td>
              <td><strong>{{ outstanding | numberWithCommas }}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="row mt2 text-left">
      <div class="col-xs-12">
        <h3>Payment Records</h3>
      </div>
      <div class="col-xs-12" v-if="payments && payments.length">
        <table class="pure-table pure-table-striped table-wrapper margin-auto" style="width: 100%;">
          <thead>
            <tr>
              <th>Payment #</th>
              <th>Invoice #</th>
              <th>Issue Date</th>
              <th>Payment Amount</th>
              <th>Note</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(p, paymentIndex) in invoice.payments" :key="p.id">
              <td>{{ p.id }}</td>
              <td><router-link :to="'/invoices/' + p.invoice_id">{{ p.invoice_id }}</router-link></td>
              <td>{{ moment(p.payment_date).format('YYYY/MM/DD HH:mm') }}</td>
              <td class="text-right">{{ p.amount | numberWithCommas }}</td>
              <td>{{ p.note }}</td>
              <td>
                <router-link class="pure-button" :to="`/print/receipt/${invoice.id}/${paymentIndex}`" target="_blank">
                  <icon name="print"/> Print Receipt
                </router-link>
                <button class="pure-button button-error" @click="deletePayment(p.id)"><icon name="trash" /></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt2">
      <div class="col-xs">
        <router-link class="pure-button button-secondary" :to="'/payments/new?invoice_id=' + invoice.id">Enter Payment</router-link>
        <router-link class="pure-button" :to="patientLink">Patient detail</router-link>
        <router-link class="pure-button" to="/invoices/">Invoice summary</router-link>
        <router-link class="pure-button" :to="`/print/invoice/${invoice.id}`" target="_blank">
          <icon name="print"/> Print Invoice
        </router-link>
        <button class="pure-button button-error" @click="deleteInvoice($route.params.id)"><icon name="trash" /></button>
      </div>
    </div>
  </section>
</template>

<style scoped>
.outstanding-box {
  border: 1px solid #eee;
  position: relative;
  padding-left: 15px;
}

.outstanding-tab {
  width: 10px;
  height: 100%;
  background-color: red;
  position: absolute;
  left: 0;
}

.outstanding-alert {
  color: red;
  vertical-align: text-bottom;
  margin-right: 5px;
}
</style>
<script>
import { getInvoiceById, deleteInvoiceById } from '@/api/invoice'
import { deletePaymentById } from '@/api/payment'

export default {
  name: 'invoice-detail',
  data () {
    return {
      invoice: null,
      payments: null,
      outstanding: 0,
      loading: false
      // items: null
    }
  },
  created () {
    // console.info(this.$route.params.id)
    const { id } = this.$route.params
    this.loading = true
    this.$store.commit('loadingIncomplete', { detail: true })

    if (id) {
      return getInvoiceById(id).then(result => {
        if (result && result.status === 200) {
          this.invoice = result.data.invoice
          this.payments = result.data.invoice.payments
          // this.items = result.data.items

          this.outstanding = this.invoice.price_total
          this.calculateOutstandingBalance(this.payments)
        } else {
          this.$router.replace('/invoices/')
        }
        this.loading = false
        this.$store.commit('loadingIncomplete', { detail: false })
      })
    } else {
      console.error('no invoice id')
      this.$router.replace('/invoices/')
    }
  },
  computed: {
    patientLink: function () {
      if (this.invoice && this.invoice.visit && this.invoice.visit.patient && this.invoice.visit.patient.hospital_number) {
        return '/patient-detail/' + this.invoice.visit.patient.hospital_number
      } else {
        return '/patient-summary'
      }
    }
  },
  methods: {
    calculateOutstandingBalance (data) {
      if (data && data.length) {
        let balance = 0
        data.forEach(d => {
          balance += d.amount || 0
        })

        this.outstanding -= balance
      }
    },
    async deleteInvoice (id) {
      const answer = confirm('Are you sure you want to permanently delete this invoice?')
      if (!answer) return

      let result
      try {
        result = await deleteInvoiceById(id)

        if (result && result.status === 200) {
          alert('Invoice deleted successfully')
          this.$router.replace('/invoices/')
        }
      } catch (e) {
        console.debug('Unable to delete this invoice', e)
        alert('Something went wrong. Please contact administrator')
      }
    },
    async deletePayment (id) {
      const answer = confirm('Are you sure you want to permanently delete this payment?')
      if (!answer) return

      let result
      try {
        result = await deletePaymentById(id)

        if (result && result.status === 200) {
          alert('Payment deleted successfully')
          this.$router.replace('/invoices/')
        }
      } catch (e) {
        console.debug('Unable to delete this payment', e)
        alert('Something went wrong. Please contact administrator')
      }
    }
  }
}
</script>
