<template>
  <section>
    <h1>New invoice</h1>

    <form class="pure-form pure-form-stacked text-left" v-on:submit.prevent="submitForm">
      <div class="row">
        <div class="col-xs-6">
          <label for="type">Invoice type</label>
          <select id="type" v-model="type" class="pure-input-1" required>
            <option value="regular">International</option>
            <option value="insurance">International Insured</option>
            <option value="thai">Thai</option>
            <option value="thai_insurance">Thai Insured</option>
          </select>
          <div class="col-xs-6" v-if="type === 'insurance' || type === 'thai_insurance'">
            <div>
              <input type="checkbox" style="float: left; margin-right: 5px;" v-model="isGOP">
              <label>GOP</label>
            </div>
            <input type="file" class="form-control" v-if="isGOP" ref="gopImage" @change="handleImage">
            <img v-if="previewImage && isGOP" class="preview-image" :src="previewImage"/>
          </div>
        </div>
      </div>

      <!-- START OF Patient Search Visit Row -->
      <div class="row" v-if="showPatientVisitRow">
        <div class="col-xs-6">
          <label for="ajax">Search patient</label>
          <select id="ajax" v-model="scopedPatientId" required></select>
        </div>
        <div class="col-xs-6">
          <label for="visit">Visit</label>
          <select for="visit" v-model="visit" class="pure-input-1" :disabled="!scopedPatientId" required>
            <option v-for="v in visits" :value="v.id">{{ v.branch_id }} - {{ v.visited_date }}</option>
          </select>
        </div>
      </div>
      <!-- END OF Patient Search Visit Row -->

      <div class="row" v-if="scopedPatient">
        <div class="col-xs">
          <span class="my0">Patient information</span>
          <p class="my0 p2">
            Date of birth: <strong>{{ dob }} </strong><br />
            Age: <strong>{{ scopedPatient.dob | age }}</strong> <br />
            Nationality: <strong class="capitalize">{{ scopedPatient.nationality }}</strong><br />
            Passport/ID# <strong>{{ scopedPatient.id_number }}</strong><br />
          </p>
        </div>
      </div>
      <!-- START OF Invoice to/Note Row -->
      <div class="row">
        <div class="col-xs-6">
          <label for="to">Invoice to</label>
          <input type="text" id="to" class="pure-input-1" v-model="to" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label for="extra">Extra Information</label>
          <textarea id="extra" class="pure-input-1" v-model="extra"></textarea>
        </div>
      </div>
      <!-- END OF Invoice to/Note Row -->

      <!-- START OF BILLABLE ITEM TABLE -->
      <div class="row mt2">
        <div class="col-xs">
          <table class="pure-table pure-table-striped table-wrapper" style="width: 100%; table-layout: fixed">
            <thead>
              <tr>
                <th colspan="6" style="border-bottom: 1px solid #cbcbcb;"> Billable Items </th>
              </tr>
              <tr>
                <th colspan="2">Item</th>
                <th>Amount</th>
                <th>Discount</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(p, index) in billableInvoice">
                <td colspan="2"><billable-item-dd :selectId="index" :billable="p.item" v-model="p.item"/></td>
                <td>
                  <select class="pure-input-1" v-model="p.amount">
                    <option v-for="a in amountList" :value="a">{{ a }}</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="input--discount" v-model="billableInvoice[index].discountValue"  />
                  <select class="input--discount-type" v-model="billableInvoice[index].discountType" >
                    <option value="%">%</option>
                    <option value="THB">THB</option>
                  </select>
                </td>
                <td>
                  <span>{{ matchBillablePrice(billableInvoice[index]) | numberWithCommas }}</span>
                </td>
                <td class="text-center">
                  <button type="button" @click="billableInvoice.splice(index, 1);" class="pure-button"><icon name="trash" /></button>
                </td>
              </tr>
              <tr class="text-center">
                <td colspan="6"><button type="button" @click="updateRow('billableInvoice', 1)" class="pure-button button-secondary">+ Billable</button></td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th colspan="6" style="border-bottom: 1px solid #cbcbcb;"> Labs </th>
              </tr>
              <tr>
                <th colspan="2">Item</th>
                <!-- <th>Code</th> -->
                <th>Amount</th>
                <th>Discount</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(p, index) in labInvoice">
                <td colspan="2"><lab-dd :selectId="index" v-model="labInvoice[index].item" /></td>
                <!-- <td>{{ matchProductCode(labInvoice[index].item, false) }}</td> -->
                <td>
                  <select class="pure-input-1" v-model="labInvoice[index].amount">
                    <option v-for="a in amountList" :value="a">{{ a }}</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="input--discount" v-model="labInvoice[index].discountValue"  />
                  <select class="input--discount-type" v-model="labInvoice[index].discountType" >
                    <option value="%">%</option>
                    <option value="THB">THB</option>
                  </select>
                </td>
                <td>{{ matchProductPrice(labInvoice[index], false) | numberWithCommas }}</td>
                <td class="text-center">
                  <button type="button" @click="labInvoice.splice(index, 1);" class="pure-button"><icon name="trash" /></button>
                </td>
              </tr>
              <tr class="text-center">
                <td colspan="6">
                  <button type="button" @click="updateRow('labInvoice', 1)" class="pure-button button-secondary">+ Lab</button>
                </td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th colspan="6" style="border-bottom: 1px solid #cbcbcb;"> Products (medicines/supplies) </th>
              </tr>
              <tr>
                <th colspan="2">Item</th>
                <!-- <th>Code</th> -->
                <th>Amount</th>
                <th>Discount</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(p, index) in productInvoice">
                <td colspan="2"><product-dd :selectId="index" :product="p.item" v-model="p.item" /></td>
                <!-- <td>{{ matchProductCode(productInvoice[index].item, true) }}</td> -->
                <td>
                  <select class="pure-input-1" v-model="p.amount">
                    <option v-for="a in amountList" :value="a">{{ a }}</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="input--discount" v-model="productInvoice[index].discountValue"  />
                  <select class="input--discount-type" v-model="productInvoice[index].discountType" >
                    <option value="%">%</option>
                    <option value="THB">THB</option>
                  </select>
                </td>
                <td>{{ matchProductPrice(productInvoice[index], true) | numberWithCommas }}</td>
                <td class="text-center">
                  <button type="button" @click="productInvoice.splice(index, 1);" class="pure-button"><icon name="trash" /></button>
                </td>
              </tr>
              <tr class="text-center">
                <td colspan="6">
                  <button type="button" @click="updateRow('productInvoice', 1)" class="pure-button button-secondary">+ Product</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <label for="note">Note</label>
          <textarea id="note" class="pure-input-1" v-model="note"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <label for="officer">Billing Officer</label>
          <input id="officer" type="text" class="pure-input-1" v-model="officer" />
        </div>
      </div>
      <div class="row mt2 text-center">
        <button class="pure-button" type="submit" :disabled="submitting || !officer">Submit</button>
      </div>
    </form>
  </section>
</template>

<style scoped>
input.input--discount {
  display: inline-block;
  width: 100px;
}

select.input--discount-type {
  display: inline-block;
}
</style>

<script>
import SlimSelect from 'slim-select'
import API from '@/api/index'
import { searchPatients } from '@/api/patient'
import { getPatientVisitsById } from '@/api/visit'
import { getVisitForms, getVisitFormById } from '@/api/visit-form'
import { createInvoice } from '@/api/invoice'
import { amountList } from '@/components/forms/index'

import BillableItemDd from '@/components/forms/medical-inputs/billable-item-dd'
import ProductDd from '@/components/forms/medical-inputs/product-dd'
import LabDd from '@/components/forms/medical-inputs/lab-dd'

import _ from 'lodash'
// import moment from 'moment'

export default {
  name: 'new-invoice',
  props: ['patient', 'visitId'],
  components: {
    BillableItemDd,
    ProductDd,
    LabDd
  },
  data () {
    return {
      scopedPatientId: null,
      scopedPatient: null,
      visits: null,
      visit: null,
      type: 'regular',
      extra: null,
      note: null,
      to: null,
      officer: null,
      //
      productInvoice: [{
        item: null,
        amount: 1,
        discountType: '%',
        discountValue: null
      }],
      billableInvoice: [{
        item: null,
        amount: 1,
        discountType: '%',
        discountValue: null
      }],
      labInvoice: [{
        item: null,
        amount: 1,
        discountType: '%',
        discountValue: null
      }],
      amountList: amountList(100),
      showPatientVisitRow: true,
      //
      submitting: false,
      error: false,
      isGOP: false,
      previewImage: null
    }
  },
  mounted () {
    if (this.visitId || this.patient) {
      this.showPatientVisitRow = false
      this.to = `${this.patient.first_name} ${this.patient.last_name}`

      this.scopedPatient = this.patient
      this.visit = this.visitId

      this.fetchOpdCard()
      // init first patient care by time incase doctor dont key himself
      // if (moment().hour() <= 4) {
      //   // midnight
      //   this.billableInvoice[0] = {
      //     item: 8,
      //     amount: 1,
      //     discountType: '%',
      //     discountValue: null
      //   }
      // } else if (moment().hour() >= 20) {
      //   // after 20:00
      //   this.billableInvoice[0] = {
      //     item: 7,
      //     amount: 1,
      //     discountType: '%',
      //     discountValue: null
      //   }
      // } else {
      //   // normal
      //   this.billableInvoice[0] = {
      //     item: 1,
      //     amount: 1,
      //     discountType: '%',
      //     discountValue: null
      //   }
      // }
    }

    /* eslint-disable no-new */
    new SlimSelect({
      select: '#ajax',
      searchingText: 'Searching...', // Optional - Will show during ajax request
      ajax: function (search, callback) {
        // Check search value. If you dont like it callback(false) or callback('Message String')
        if (search.length < 3) {
          callback('Enter at least 3 characters to search')
          return
        }

        // Perform your own ajax request here
        // TODO: seems like the request is repetitively called, need to fix in the future
        searchPatients(search).then(function (json) {
          let data = []
          for (let i = 0; i < json.length; i++) {
            data.push({text: json[i].hospital_number_display + ' - ' + json[i].first_name + ' ' + json[i].last_name, value: json[i].hospital_number})
          }

          // Upon successful fetch send data to callback function.
          // Be sure to send data back in the proper format.
          // Refer to the method setData for examples of proper format.
          callback(data)
        }).catch(function (error) {
          // If any erros happened send false back through the callback
          console.error(error)
          callback(false)
        })
      }
    })
  },
  computed: {
    dob () {
      return this.scopedPatient && this.scopedPatient.dob ? this.moment(this.scopedPatient.dob).format('YYYY/MM/DD') : ''
    }
  },
  watch: {
    scopedPatientId (val) {
      this.visits = null
      if (!val) return

      const patientId = val
      return API.getPatientById(patientId).then(result => {
        this.scopedPatient = result
        this.to = `${this.scopedPatient.first_name} ${this.scopedPatient.last_name}`

        return getPatientVisitsById(patientId)
      }).then(result => {
        if (result && result.data) {
          this.visits = result.data
        }
      })
      // search for visit by patient id
    }
  },
  methods: {
    updateRow (model, value) {
      if (value > 0) {
        this[model].push({
          item: null,
          amount: 1,
          discountType: '%',
          discoundValue: null
        })
        this[model + 'Length'] += value
      } else {
        if (this[model].length > 0) {
          this[model].pop()
          this[model + 'Length'] += value
        }
      }
    },
    matchBillablePrice (data) {
      const id = data.item
      const amount = data.amount
      const discountType = data.discountType
      const discountValue = parseFloat(data.discountValue)

      const billableItemData = this.$store.state.medicalItem.billableItemData
      if (!id || !billableItemData || !amount) return '-'

      const item = _.find(billableItemData, {id})
      const type = this.type // invoice type

      let price = item['price_' + type] * amount
      if (discountValue && _.isNumber(discountValue)) {
        price = this.calculateDiscount(price, discountType, discountValue)
      }
      return price
    },
    matchProductCode (id, product) {
      let productData
      if (product) {
        productData = this.$store.state.medicalItem.productData
      } else {
        productData = this.$store.state.medicalItem.labData
      }
      if (!id || !productData) return '-'

      const item = _.find(productData, {id})
      const code = item['product_code']
      // const price = item['price']

      return code
    },
    matchProductPrice (data, product) {
      const id = data.item
      const amount = data.amount

      let productData
      if (product) {
        productData = this.$store.state.medicalItem.productData
      } else {
        productData = this.$store.state.medicalItem.labData
      }
      if (!id || !productData || !amount) return '-'
      const discountType = data.discountType
      const discountValue = parseFloat(data.discountValue)

      const item = _.find(productData, {id})
      let price = item['price'] * amount
      if (discountValue && _.isNumber(discountValue)) {
        price = this.calculateDiscount(price, discountType, discountValue)
      }

      return price
    },
    calculateDiscount (price, type, discount) {
      let _price = 0
      this.error = false

      switch (type) {
        case '%':
          if (discount > 100) {
            this.error = true
            _price = 'invalid'
          } else {
            _price = (price * (1 - (discount / 100))).toFixed(2)
          }
          break
        case 'THB':
          _price = price - discount
          if (_price < 0) {
            _price = 'invalid'
            this.error = true
          }
          break
        default:
          break
      }

      return _price
    },
    submitForm () {
      const visit = this.visit
      const type = this.type
      const invoiceTo = this.to
      const note = this.note

      if (!visit || !type) return
      this.submitting = true

      const body = {
        visit_id: visit,
        type,
        note,
        invoice_to: invoiceTo,
        items: [],
        extra: this.extra
      }

      // loop to fill in items in the invoice
      // this.billableInvoice this.labInvoice this.productInvoice
      if (this.billableInvoice && this.billableInvoice.length) {
        this.billableInvoice.forEach(i => {
          if (i.item && i.amount) body.items.push({item_id: i.item, type: 'billable', amount: i.amount, discount_type: i.discountType, discount_number: i.discountValue})
        })
      }

      if (this.labInvoice && this.labInvoice.length) {
        this.labInvoice.forEach(i => {
          if (i.item && i.amount) body.items.push({item_id: i.item, type: 'lab', amount: i.amount, discount_type: i.discountType, discount_number: i.discountValue})
        })
      }

      if (this.productInvoice && this.productInvoice.length) {
        this.productInvoice.forEach(i => {
          if (i.item && i.amount) body.items.push({item_id: i.item, type: 'product', amount: i.amount, discount_type: i.discountType, discount_number: i.discountValue})
        })
      }

      return createInvoice(body).then(result => {
        if (result && result.status === 200) {
          alert(result.data.msg)
          this.$router.push({ path: '/invoices/all' })
        } else {
          this.submitting = false
          alert('Failed to create invoice. Please contact administrator')
        }
      })
    },
    handleImage (e) {
      let files = e.target.files
      this.previewImage = URL.createObjectURL(files[0])
    },
    async fetchOpdCard () {
      try {
        let forms = (await getVisitForms(this.visitId)).data
        let OPDcardId = (_.find(forms, form => {
          return form.form_id === 2
        })).id
        let OPDcardData = JSON.parse((await getVisitFormById(OPDcardId)).data.data)
        let medications = OPDcardData.medication_procedure
        if (medications && medications.length) {
          this.productInvoice = medications.map(m => {
            return {
              item: m.product_id,
              amount: m.amount,
              discountType: '%',
              discountValue: null
            }
          })
        }
        let treatments = OPDcardData.treatment_procedure
        if (treatments && treatments.length) {
          this.billableInvoice = treatments.map(t => {
            return {
              item: t.billable_item_id,
              amount: t.amount,
              discountType: '%',
              discountValue: null
            }
          })
        }
      } catch (error) {
        console.error(error)
        // alert('OPDcard not found')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.preview-image {
  height: 200px;
}
</style>
