<template>
   <div class="pure-g">
      <div class="pure-u-1">
        <form class="pure-form">
         <fieldset>
            <div class="pure-u-md-16-24 pure-u-1">
              <!-- <input placeholder="Filter patient by first name, last name or Hospital number" class="pure-u-md-4-5 pure-u-23-24" type="text" v-model="search"> -->
              <autocomplete-input placeholder="Search patient by first name, last name or Hospital number"></autocomplete-input>
            </div>
          </fieldset>
          <div class="pure-u-md-6-24 pure-u-sm-6-24 pure-u-1">
            <label for="branch">Branch</label>
            <select id="branch" class="pure-u-md-21-24 pure-u-sm-1 pure-u-1-2" v-model="branchId" v-on:change="changeBranch()">
              <option value="all">All</option>
              <option value="1">Hospital</option>
              <option value="2">Clinic</option>
            </select>
          </div>
          <div class="pure-u-md-12-24 pure-u-sm-18-24 pure-u-1">
            <div class="pure-u-md-11-24 pure-u-1-2">
              <label for="startRange">Period Start Date</label>
              <input id="startRange" ref="startRange" type="text" v-model="startRange" class="pure-u-1">
            </div>
            <div class="pure-u-md-11-24 pure-u-1-2">
              <label for="endRange">Period End Date</label>
              <input id="endRange" ref="endRange" type="text" v-model="endRange" class="pure-u-1">
            </div>
          </div>
          <br>
          <br>
          <br>
        </form>
      </div>

      <div class="pure-u-1">
        <div class="pure-button-group left" role="group" aria-label="filter modal">
          <button id="show-modal" @click.stop.prevent="showModal = true" class="pure-button"><icon name="filter"></icon></button>
        </div>
      </div>

      <custom-col-table
        :data="gridData"
        :columns="columnForm"
        :filter-key="search"
        :branch-id="branchId"
        :start-period="startRange"
        :end-period="endRange">
      </custom-col-table>

      <form class="pure-form pure-u-1">
        <fieldset>
          <button v-on:click.stop.prevent="showPrintModal = true" class="pure-button"><icon name="print"></icon></button>
          <button class="pure-button" @click.stop.prevent="previousPage()" v-bind:class="{ 'pure-button-disabled' : currentPage === 1 }">Back</button>
          <button class="pure-button" @click.stop.prevent="nextPage()" v-bind:class="{ 'pure-button-disabled' : currentPage === lastPage }">Next</button>

          <label for="itemPerPage">Items/page</label>
          <select id="itemPerPage" v-model="perPage" v-on:change="getPatients">
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="10000">All</option>
          </select>
        </fieldset>
        <!-- <span>Page <b>{{ currentPage }}</b> of <b>{{ lastPage }}</b></span> -->
      </form>

      <div class="pure-u-1 pure-u-md-1-24">
        <col-modal v-if="showModal" @close="showModal = false">
          <h3 slot="header">Column Filtering</h3>
          <form slot="body" class="pure-form">
            <div class="pure-u-1-2" v-for="list of columnLists" >
              <label class="pure-checkbox" v-bind:for="list.prop">
                <input v-bind:id="list.prop" type="checkbox" v-bind:value="list" v-model="columnForm" :disabled="list.prop == 'first_name' || list.prop === 'last_name' || list.prop === 'hospital_number'"> {{ list.name }}
              </label>
            </div>
          </form>
        </col-modal>
      </div>

      <!-- Modal for print function -->
      <div class="pure-u-1 pure-u-md-1-24">
        <col-modal v-if="showPrintModal" @close="showPrintModal = false">
          <h3 slot="header">Page Orientation</h3>
          <div slot="body" class="pure-g">
            <button v-on:click="printTable('landscape')" class="pure-u-11-24 pure-button">Landscape</button>
            <div class="pure-u-2-24"></div>
            <button v-on:click="printTable('portrait')" class="pure-u-11-24 pure-button">Portrait</button>
          </div>
          <button slot="footer" @click="showPrintModal = false">Close</button>
        </col-modal>
      </div>

    </div>
</template>

<script>
import flatpickr from 'flatpickr'
import CustomColTable from '../../ui/custom-col-table'
import ColModal from '../../ui/col-modal'
import AutocompleteInput from '../../ui/autocomplete-input'
import { getPatients } from '@/api/patient'
import { printTable } from '../../../helper'

export default {
  name: 'patient-list-all',
  components: { CustomColTable, ColModal, AutocompleteInput },
  data () {
    return {
      search: '',
      startRange: '',
      endRange: '',
      searchQuery: '',
      gridData: [],
      showModal: false,
      showPrintModal: false,
      columnLists: [
        { prop: 'visit_time', name: 'Visit Time', order: 1 },
        { prop: 'first_name', name: 'First Name', order: 2 },
        { prop: 'last_name', name: 'Last Name', order: 3 },
        { prop: 'hospital_number_display', name: 'HN', order: 4 },
        { prop: 'drug_allergy', name: 'Drug Allergy', order: 5 },
        { prop: 'note', name: 'Note', order: 6 },
        { prop: 'blood_group', name: 'Blood Group', order: 7 },
        { prop: 'blood_group_rh', name: 'RH', order: 8 },
        { prop: 'telephone', name: 'Telephone', order: 9 },
        { prop: 'email', name: 'Email', order: 10 },
        { prop: 'address', name: 'Address', order: 11 },
        { prop: 'address_th', name: 'Address (TH)', order: 12 },
        { prop: 'nationality', name: 'Nationality', order: 13 },
        { prop: 'marital_status', name: 'Marital Status', order: 14 },
        { prop: 'religion', name: 'Religion', order: 15 },
        { prop: 'dob', name: 'Date Of Birth', order: 16 }
      ],
      columnForm: [
        { prop: 'visit_time', name: 'Visit Time', order: 1 },
        { prop: 'first_name', name: 'First Name', order: 2 },
        { prop: 'last_name', name: 'Last Name', order: 3 },
        { prop: 'hospital_number_display', name: 'HN', order: 4 },
        { prop: 'drug_allergy', name: 'Drug Allergy', order: 5 },
        { prop: 'note', name: 'Note', order: 6 }
      ],
      branchId: 'all',
      perPage: 50,
      currentPage: 1,
      patientsCount: 0
    }
  },
  mounted () {
    flatpickr('#endRange', {
      defaultDate: new Date().fp_incr(1),
      dateFormat: 'Y/m/d',
      maxDate: new Date().fp_incr(1)
    })
    this.endRange = this.$refs.endRange.value

    flatpickr('#startRange', {
      defaultDate: new Date().fp_incr(-365),
      dateFormat: 'Y/m/d',
      maxDate: new Date().fp_incr(1)
    })
    this.startRange = this.$refs.startRange.value
  },
  watch: {
    columnForm: function () {
      return this.columnForm
    }
  },
  beforeRouteEnter (to, from, next) {
    // load patients before entering page
    // API.getPatients().then(data => {
    getPatients({limit: 50, page: 1}).then(data => {
      next(vm => vm.setData(data))
    })
  },
  methods: {
    setData: function (data) {
      const list = data.list
      const count = data.count
      this.$store.commit('patientsLoad', { list })
      this.$store.commit('patientsCountLoad', { count })
      this.gridData.length = 0
      this.gridData = this.$store.state.patients
      this.patientsCount = this.$store.state.patientsCount
    },
    printTable: function (page) {
      printTable(page)
    },
    nextPage () {
      this.currentPage += 1
      this.getPatients()
    },
    previousPage () {
      this.currentPage -= 1
      this.getPatients()
    },
    getPatients () {
      const branchId = this.branchId === 'all' ? null : this.branchId
      getPatients({limit: this.perPage, page: this.currentPage, branch_id: branchId}).then(data => this.setData(data))
    },
    changeBranch () {
      this.currentPage = 1
      getPatients({limit: this.perPage, page: this.currentPage, branch_id: this.branchId}).then(data => this.setData(data))
    }
  },
  computed: {
    lastPage () {
      return Math.ceil(this.patientsCount / this.perPage)
    }
  }
}
</script>
