<template>
  <div class="pure-g">
    <div class="pure-u-1">
      <form class="pure-form">
        <fieldset>
          <div class="pure-u-1 margin-vertical-bottom">
            <select class="department pure-u-md-1-5 pure-u-4-5" name="department" v-model="department">
              <option value="">Filter Department</option>
              <option v-for="departmentName in departments" v-bind:value="departmentName">{{ departmentName }}</option>
            </select>
            <input placeholder="Filter patient by first name, last name or Hospital number" class="pure-u-md-3-5 pure-u-1" type="text" v-model="search">
          </div>
        </fieldset>
        <div class="pure-u-md-5-24 pure-u-1-2">
          <label for="startRange">Period Start Date</label>
          <input id="startRange" ref="startRange" type="text" v-model="startRange" class="pure-u-1">
        </div>
        <div class="pure-u-md-5-24 pure-u-1-2">
          <label for="endRange">Period End Date</label>
          <input id="endRange" ref="endRange" type="text" v-model="endRange" class="pure-u-1">
        </div>
        <br>
        <br>
      </form>
    </div>

    <div class="pure-u-1">
      <div class="pure-button-group right" role="group" aria-label="...">
        <button v-on:click="printTable('lanscape')" class="pure-button"><icon name="print"></icon> Lanscape</button>
        <button v-on:click="printTable('portrait')" class="pure-button"><icon name="print"></icon> Portrait</button>
        <button id="show-modal" @click.stop.prevent="showModal = true" class="pure-button"><icon name="filter"></icon></button>
      </div>
    </div>

    <custom-col-table 
      id="section-to-print"
      :data="gridData"
      :columns="columnForm"
      :filter-key="search"
      :start-period="startRange"
      :end-period="endRange">
    </custom-col-table>

    <div class="pure-u-1 pure-u-md-1-24">
      <col-modal v-if="showModal" @close="showModal = false">
        <h3 slot="header">Column Filtering</h3>
        <form slot="body" class="pure-form">
          <div class="pure-u-1-2" v-for="list of columnLists" >
            <label class="pure-checkbox" v-bind:for="list.prop">
              <input v-bind:id="list.prop" type="checkbox" v-bind:value="list" v-model="columnForm" :disabled="list.prop == 'first_name' || list.prop === 'last_name' || list.prop === 'hospital_number'"> {{ list.name }}
            </label>
          </div>
        </form>
      </col-modal>
    </div>

    <!-- <div class="pure-u-1">
      <table class="pure-table pure-table-striped patient-list-table">
        <thead>
          <tr>
            <th v-on:click="orderBy = 'visited_date'; changeOrderDesc()" class="order">
              Visited Date
              <span v-if="orderBy === 'visited_date' && orderDesc === 'desc'">&#8593;</span>
              <span v-else-if="orderBy === 'visited_date' && orderDesc === 'asc'">&#8595;</span>
            </th>
            <th>VN.</th>
            <th v-on:click="orderBy = 'hospital_number'; changeOrderDesc()" class="order">
              HN.
              <span v-if="orderBy === 'hospital_number' && orderDesc === 'desc'">&#8593;</span>
              <span v-else-if="orderBy === 'hospital_number' && orderDesc === 'asc'">&#8595;</span>
            </th>
            <th>Department</th>
            <th>Prefix</th>
            <th v-on:click="orderBy = 'first_name'; changeOrderDesc()" class="order">
              First Name
              <span v-if="orderBy === 'first_name' && orderDesc === 'desc'">&#8593;</span>
              <span v-else-if="orderBy === 'first_name' && orderDesc === 'asc'">&#8595;</span>
            </th>
            <th v-on:click="orderBy = 'last_name'; changeOrderDesc()" class="order">
              Last Name
              <span v-if="orderBy === 'last_name' && orderDesc === 'desc'">&#8593;</span>
              <span v-else-if="orderBy === 'last_name' && orderDesc === 'asc'">&#8595;</span>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="patient in filteredPatients" v-on:click="goToPatientDetail(patient)">
            <td>{{ patient.visited_date }}</td>
            <td>{{ patient.admission_number }}</td>
            <td>{{ patient.hospital_number }}</td>
            <td>{{ patient.gender === 'male' ? 'Mr.' : patient.marital_status === 'married' ? 'Mrs.' : 'Miss' }}</td>
            <td>{{ patient.first_name }}</td>
            <td>{{ patient.last_name }}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>

</template>

<script>
import flatpickr from 'flatpickr'
import CustomColTable from '../../ui/custom-col-table'
import ColModal from '../../ui/col-modal'

export default {
  name: 'patient-list-department',
  components: { CustomColTable, ColModal },
  data () {
    return {
      patients: this.$store.state.patients,
      search: '',
      orderBy: 'first_name',
      orderDesc: 'asc',
      department: '',
      departments: '',
      startRange: '',
      endRange: '',
      searchQuery: '',
      gridData: this.$store.state.patients,
      showModal: false,
      columnLists: [
        { prop: 'hospital_number', name: 'HN.', order: 1 },
        { prop: 'first_name', name: 'First Name', order: 2 },
        { prop: 'middle_name', name: 'Middle Name', order: 3 },
        { prop: 'last_name', name: 'Last Name', order: 4 },
        { prop: 'visited_date', name: 'Visited Date', order: 5 },
        { prop: 'drug_allergy', name: 'Drug Allergy', order: 6 },
        { prop: 'blood_group', name: 'Blood Group', order: 7 },
        { prop: 'blood_group_rh', name: 'RH', order: 8 },
        { prop: 'telephone', name: 'Telephone', order: 9 },
        { prop: 'email', name: 'Email', order: 10 },
        { prop: 'address', name: 'Address', order: 11 },
        { prop: 'address_th', name: 'Address (TH)', order: 12 },
        { prop: 'nationality', name: 'Nationality', order: 13 },
        { prop: 'marital_status', name: 'Marital Status', order: 14 },
        { prop: 'religion', name: 'Religion', order: 15 },
        { prop: 'dob', name: 'Date Of Birth', order: 16 }
      ],
      columnForm: [
        { prop: 'hospital_number', name: 'HN.', order: 1 },
        { prop: 'first_name', name: 'First Name', order: 2 },
        { prop: 'middle_name', name: 'Middle Name', order: 3 },
        { prop: 'last_name', name: 'Last Name', order: 4 },
        { prop: 'visited_date', name: 'Visited Date', order: 5 },
        { prop: 'drug_allergy', name: 'Drug Allergy', order: 6 }
      ]
    }
  },

  created () {
    this.departments = [...new Set(this.patients.map(patient => patient.department))]
  },

  methods: {
    printTable: function (page) {
      const css = `@page { size: ${page}; font-size: 14px; }`
      const head = document.head || document.getElementsByTagName('head')[0]
      const style = document.createElement('style')

      style.type = 'text/css'
      style.media = 'print'

      if (style.styleSheet) {
        style.styleSheet.cssText = css
      } else {
        style.appendChild(document.createTextNode(css))
      }

      head.appendChild(style)
      // print function
      window.print()
      head.removeChild(head.lastChild)
    }
  },
  mounted () {
    flatpickr('#endRange', {
      defaultDate: new Date().fp_incr(1),
      dateFormat: 'Y/m/d',
      maxDate: new Date().fp_incr(1)
    })
    this.endRange = this.$refs.endRange.value

    flatpickr('#startRange', {
      defaultDate: new Date().fp_incr(-730),
      dateFormat: 'Y/m/d',
      maxDate: new Date().fp_incr(1)
    })
    this.startRange = this.$refs.startRange.value
  }

}
</script>
