<template>
   <div class="pure-g">
      <div class="pure-u-1">
        <form class="pure-form">
         <fieldset>
            <div class="pure-u-1 text-left">
              <h3><legend>Rejected List</legend></h3>
            </div>
            <div class="pure-u-1" v-if="gridData.length">
              <input placeholder="Filter patient by first name, last name or Hospital number" class="pure-u-md-3-5 pure-u-23-24" type="text" v-model="search">
            </div>
          </fieldset>
          <br>
          <br>
        </form>
      </div>
      
      <div class="pure-u-1" v-if="gridData.length">
        <div class="pure-button-group left" role="group" aria-label="...">
          <button id="show-modal" @click.stop.prevent="showModal = true" class="pure-button"><icon name="filter"></icon></button>
        </div>
      </div>

      <custom-col-table 
        v-if="gridData.length"
        :data="gridData"
        :columns="columnForm"
        :filter-key="search"
        :start-period="startRange"
        :branch-id="branchId"
        :end-period="endRange">
      </custom-col-table>

      <h4 class="pure-u-1" v-else>The rejected list is empty</h4>

      <div class="pure-u-1 pure-u-md-1-24">
        <col-modal v-if="showModal" @close="showModal = false">
          <h3 slot="header">Column Filtering</h3>
          <form slot="body" class="pure-form">
            <div class="pure-u-1-2" v-for="list of columnLists" >
              <label class="pure-checkbox" v-bind:for="list.prop">
                <input v-bind:id="list.prop" type="checkbox" v-bind:value="list" v-model="columnForm" :disabled="list.prop == 'first_name' || list.prop === 'last_name' || list.prop === 'hospital_number'"> {{ list.name }}
              </label>
            </div>
          </form>
        </col-modal>
      </div>
    </div>
</template>

<script>
import CustomColTable from '../../ui/custom-col-table'
import ColModal from '../../ui/col-modal'
import { getPatients } from '../../../api/patient'
import { printTable } from '../../../helper'

export default {
  name: 'patient-list-report-cancellation',
  components: { CustomColTable, ColModal },
  data () {
    return {
      search: '',
      startRange: '',
      endRange: '',
      searchQuery: '',
      showModal: false,
      columnLists: [
        { prop: 'hospital_number_display', name: 'HN.', order: 1 },
        { prop: 'first_name', name: 'First Name', order: 2 },
        { prop: 'middle_name', name: 'Middle Name', order: 3 },
        { prop: 'last_name', name: 'Last Name', order: 4 },
        { prop: 'visited_date', name: 'Visited Date', order: 5 },
        { prop: 'drug_allergy', name: 'Drug Allergy', order: 6 },
        { prop: 'blood_group', name: 'Blood Group', order: 7 },
        { prop: 'blood_group_rh', name: 'RH', order: 8 },
        { prop: 'telephone', name: 'Telephone', order: 9 },
        { prop: 'email', name: 'Email', order: 10 },
        { prop: 'address', name: 'Address', order: 11 },
        { prop: 'address_th', name: 'Address (TH)', order: 12 },
        { prop: 'nationality', name: 'Nationality', order: 13 },
        { prop: 'marital_status', name: 'Marital Status', order: 14 },
        { prop: 'religion', name: 'Religion', order: 15 },
        { prop: 'dob', name: 'Date Of Birth', order: 16 }
      ],
      columnForm: [
        { prop: 'hospital_number_display', name: 'HN.', order: 1 },
        { prop: 'first_name', name: 'First Name', order: 2 },
        { prop: 'last_name', name: 'Last Name', order: 4 },
        { prop: 'first_visited_date', name: 'First Visit Date', order: 5 },
        { prop: 'drug_allergy', name: 'Drug Allergy', order: 6 }
      ],
      branchId: 'all',
      gridData: [],
      patientsReportedCount: ''
    }
  },
  watch: {
    columnForm: function () {
      return this.columnForm
    }
  },
  beforeRouteEnter (to, from, next) {
    // store.state.commit = ('loadingIncomplete', { detail: true })
    getPatients({limit: 500, page: 1, deleted_status: 1}).then(data => {
      next(vm => vm.setData(data))
    })
  },
  methods: {
    setData: function (data) {
      const list = data.list
      const count = data.count
      this.$store.commit('patientsReportedLoad', { list })
      this.$store.commit('patientsReportedCountLoad', { count })
      this.gridData.length = 0
      this.gridData = this.$store.state.patientsReported
      this.patientsCount = this.$store.state.patientsReportedCount
    },
    printTable: function (page) {
      printTable(page)
    }
  }
}
</script>

