<template>
  <div>
    <h3 class="text-left">Discovery growth statistics</h3>

    <!-- START OF date form -->
    <form class="pure-form pure-form-stacked text-left">
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <label for="year">Start Month</label>
          <select v-model="selectedStartMonth" v-on:change="getStatisticsPatientsDiscoveryGrowth(selectedStartMonth, selectedStartYear, selectedEndMonth, selectedEndYear)" class="pure-input-1">
            <option v-for="month in Object.keys(MONTHS)" :value="month">{{ MONTHS[month] }}</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-3">
          <label for="year">Start Year</label>
          <select v-model="selectedStartYear" v-on:change="getStatisticsPatientsDiscoveryGrowth(selectedStartMonth, selectedStartYear, selectedEndMonth, selectedEndYear)" class="pure-input-1">
            <option v-for="year in YEARS" :value="year">{{ year }}</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-3">
          <label for="year">End Month</label>
          <select v-model="selectedEndMonth" v-on:change="getStatisticsPatientsDiscoveryGrowth(selectedStartMonth, selectedStartYear, selectedEndMonth, selectedEndYear)" class="pure-input-1">
            <option v-for="month in Object.keys(MONTHS)" :value="month">{{ MONTHS[month] }}</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-3">
          <label for="year">End Year</label>
          <select v-model="selectedEndYear" v-on:change="getStatisticsPatientsDiscoveryGrowth(selectedStartMonth, selectedStartYear, selectedEndMonth, selectedEndYear)" class="pure-input-1">
            <option v-for="year in YEARS" :value="year">{{ year }}</option>
          </select>
        </div>
      </div>
    </form>
    <!-- END OF date form -->

    <div class="row text-left">
      <p class="col-xs">Displaying data from <strong>{{ selectedStartDate }}</strong> to <strong>{{ selectedEndDate }}</strong></p>
    </div>

    <!-- START OF CHECKBOX/CHART -->
    <div class="row">
      <div class="col-xs col-md hotel-checkbox-wrapper">
        <p class="text-left">Select discovery type to display in chart</p>
        <div class="hotel-checkbox-container">
          <label class="hotel-checkbox">
            <input type="checkbox" v-model="selectedDiscoveryList" name="selectedDiscoveryList" value="total" id="total" v-on:change="drawChart(periods, discoveryList, selectedDiscoveryList)" />&nbsp; Total
          </label>
          <label v-for="d in discoveryListArray" class="hotel-checkbox capitalize" :for="d">
            <input type="checkbox" v-model="selectedDiscoveryList" name="selectedDiscoveryList" :value="d" :id="d" v-on:change="drawChart(periods, discoveryList, selectedDiscoveryList)" />&nbsp;{{ d }}
          </label>
        </div>
      </div>
      <div class="col-xs-12 col-md">
        <div style="margin: 0 auto; max-width: 500px; min-height: 400px;">
          <p v-show="!isData"><strong>No results</strong></p>
          <canvas ref="discoveryChart" width="320" height="400"></canvas>
        </div>

        <!-- START OF Other discovery -->
        <div class="stats-scrollable" v-if="isOtherSelected">
          <table class="pure-table pure-table-bordered pure-table-striped" style="width: 100%">
            <thead>
              <tr>
                <th></th>
                <th v-for="(p, index) in periods" :key="index">{{ p }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="capitalize" v-for="(d, index) in Object.keys(otherDiscoveryList)">
                <td>{{ d }}</td>
                <td v-for="p in otherDiscoveryList[d]">{{ p }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- END OF Other discovery -->
      </div>
    </div>
    <!-- END OF CHECKBOX/CHART -->

  </div>
</template>

<script>
import { getStatisticsPatientsDiscoveryGrowth } from '@/api/statistic'
import { YEARS, MONTHS, COLORS, generateColor, discoveryList } from '@/helper'
import Chart from 'chart.js'
import moment from 'moment'

export default {
  name: 'statistics-discovery-growth',
  data () {
    return {
      isData: null,
      periods: null,
      discoveryList: null,
      discoveryNames: null,
      otherDiscoveryList: null,
      sumTotal: null,
      //
      YEARS: YEARS(),
      MONTHS: MONTHS,
      //
      selectedEndYear: new Date().getFullYear(),
      selectedEndMonth: new Date().getMonth() + 1,
      selectedStartYear: new Date().getFullYear(),
      selectedStartMonth: new Date().getMonth() - 2,
      selectedDiscoveryList: []
    }
  },
  created () {
    return this.getStatisticsPatientsDiscoveryGrowth(this.selectedStartMonth, this.selectedStartYear, this.selectedEndMonth, this.selectedEndYear)
  },
  computed: {
    selectedStartDate: function () {
      return moment(`${this.selectedStartYear}-${this.selectedStartMonth}`, 'YYYY-MM').format('YYYY-MM-DD') || 'invalid'
    },
    selectedEndDate: function () {
      return moment(`${this.selectedEndYear}-${this.selectedEndMonth}`, 'YYYY-MM').endOf('month').format('YYYY-MM-DD') || 'invalid'
    },
    discoveryListArray: function () {
      if (!this.discoveryList) return []

      const arr = []
      Object.keys(this.discoveryList).forEach(d => {
        arr.push(d)
      })

      return this.$lodash.sortBy(arr)
    },
    isOtherSelected: function () {
      return this.selectedDiscoveryList.indexOf('other') > -1
    }
  },
  methods: {
    getStatisticsPatientsDiscoveryGrowth (startMonth, startYear, endMonth, endYear) {
      this.isData = false
      this.periods = null
      this.discoveryList = {}
      this.otherDiscoveryList = {}
      this.sumTotal = null
      this['discoveryChart'] && this['discoveryChart'].destroy()

      // destroy data and chart
      if (!startMonth || !startYear || !endMonth || !endYear) return

      return getStatisticsPatientsDiscoveryGrowth(startMonth, startYear, endMonth, endYear).then(result => {
        if (result && result.data) {
          const { data } = result
          this.isData = true
          this.periods = data.periods

          const filteredDiscoveryList = this.$lodash.pick(data.discoveryList, discoveryList)
          const otherDiscoveryList = this.$lodash.omit(data.discoveryList, discoveryList)

          this.discoveryList = filteredDiscoveryList
          this.otherDiscoveryList = otherDiscoveryList

          // get total number of discovery list
          let i = 0
          const periodLength = this.periods.length
          const sumTotal = []
          for (i = 0; i < periodLength; i++) {
            let total = 0
            Object.keys(filteredDiscoveryList).forEach(d => {
              total += filteredDiscoveryList[d][i]
            })

            sumTotal.push(total)
          }
          this.sumTotal = sumTotal

          if (data.selectedDiscoveryList && data.selectedDiscoveryList.length) {
            this.drawChart(this.periods, this.discoveryList, this.selectedDiscoveryList)
          }
        }
      })
    },
    drawChart (periods, discoveryList, selectedDiscoveryList) {
      this['discoveryChart'] && this['discoveryChart'].destroy()
      if (!selectedDiscoveryList || !selectedDiscoveryList.length) return

      const datasets = []

      const labels = periods
      let index = 0
      Object.keys(discoveryList).forEach(d => {
        // return of the selected list doesn't contain item in the main list
        if (selectedDiscoveryList.indexOf(d) === -1) return

        const color = COLORS[index] || generateColor()
        index++

        datasets.push({
          label: d,
          data: discoveryList[d],
          backgroundColor: color,
          borderColor: color,
          fill: false
        })
      })

      // if 'total' is checked
      if (selectedDiscoveryList.indexOf('total') > -1) {
        datasets.push({
          label: 'Total',
          data: this.sumTotal,
          borderDash: [10, 5],
          borderColor: ['#EEEEEE'],
          fill: false
        })
      }

      const chartOptions = {
        type: 'line',
        data: {
          labels,
          datasets
        },
        options: {
          responsive: true,
          animation: false,
          legend: {
            position: 'bottom'
          },
          scales: {
            yAxes: [{
              ticks: {
                precision: 0,
                beginAtZero: true
              }
            }]
          }
        }
      }

      this['discoveryChart'] = new Chart(this.$refs['discoveryChart'], chartOptions)
    }
  }
}
</script>

