<template>
  <div>
    <h3 class="text-left">Discovery summary statistics</h3>
    <div class="pure-g">
      <div class="pure-u-1">
        <p class="text-left">
          How did you find us statistics in year:
          <select v-model="currentYear" v-on:change="getStatisticsPatientsDiscoveryByYear">
            <option v-for="y in YEARS()" :value="y">{{ y }}</option>
            <option value="all">all</option>
          </select>
        </p>
      </div>

      <div class="pure-u-1 pure-u-md-2-3">
        <canvas ref="discoveryDougnutChart" width="300" height="200"></canvas>
        <canvas ref="discoveryChart" width="300" height="200"></canvas>
      </div>

      <div class="pure-u-1 pure-u-md-1-3">
        <table class="pure-table pure-table-striped margin-auto">
          <thead>
            <tr>
              <th></th>
              <th>No. of patients</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(value, key) in data">
              <td style="text-transform: capitalize">
                {{ key === '' ? 'N\/A' : key }}
                <div class="square-color" v-bind:style="{ display: 'inline-block', width: '20px', height: '10px', backgroundColor: COLOR_MAP[key] || '#FFF' }"></div>
              </td>
              <td>{{ value || 0 | numberWithCommas }}</td>
            </tr>
            <tr>
              <td><b>Total Patient</b></td>
              <td>{{ totalData | numberWithCommas }}</td>
            </tr>
            </tbody>
        </table>
      </div>
    </div>
    <hr />

    <div class="pure-g">
      <div class="pure-u-1">
        <h4 style="margin-top: 0">
          How did you find us statistics in month:
          <select v-model="selectedMonth" v-on:change="getStatisticsPatientsDiscoveryByMonth">
            <option selected disabled value="">Month</option>
            <option v-for="month in Object.keys(MONTHS)" :value="month">{{ MONTHS[month] }}</option>
          </select>
          in year:
          <select v-model="selectedYear" v-on:change="getStatisticsPatientsDiscoveryByMonth">
            <option v-for="y in YEARS()" :value="y">{{ y }}</option>
          </select>
        </h4>
      </div>

      <div class="pure-u-1 pure-u-md-2-3" v-show="!$lodash.isEmpty(dataByMonth)">
        <canvas ref="discoveryByMonthChartDoughnut" width="300" height="200"></canvas>
        <canvas ref="discoveryByMonthChart" width="300" height="200"></canvas>
      </div>

      <div class="pure-u-1 pure-u-md-1-3" v-if="!$lodash.isEmpty(dataByMonth)">
        <table class="pure-table pure-table-striped margin-auto">
          <thead>
            <tr>
              <th></th>
              <th>No. of patients</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(value, key) in dataByMonth">
              <td style="text-transform: capitalize">
                {{ key === '' ? 'N\/A' : key }}
                <div class="square-color" v-bind:style="{ display: 'inline-block', width: '20px', height: '10px', backgroundColor: COLOR_MAP[key] || '#FFFFFF' }"></div>
              </td>
              <td>{{ value }}</td>
            </tr>
            <tr>
              <td><b>Total Patient</b></td>
              <td>{{ totalDataByMonth }}</td>
            </tr>
            </tbody>
        </table>
      </div>

    </div>
  </div>
</template>

<script>
import { getStatisticsPatientsDiscovery, getStatisticsPatientsDiscoveryByMonth } from '@/api/statistic'
import Chart from 'chart.js'
import moment from 'moment'
import { MONTHS, YEARS } from '@/helper'

const COLOR_MAP = {
  'walk pass': 'rgb(54, 162, 235)',
  'hotel': 'rgb(75, 192, 192)',
  'pharmacy': '#F8F991',
  'google': 'rgb(255, 159, 64)',
  'friend': 'rgb(153, 102, 255)',
  'hospital': 'rgb(255, 99, 132)',
  'street': 'rgb(255, 205, 86)',
  'local': '#FF1744',
  'brochure': '#1B503E',
  'boatman': '#1DE986',
  'tour guide': '#FFC400',
  'bar': '#D17B07',
  'restaurant': '#B7F0AD',
  'insurance': '#BAAD22',
  'other': '#444B6E',
  '': 'purple'
}

const discoveryList = ['walk pass', 'hotel', 'pharmacy', 'google', 'friend', 'hospital', 'street', 'local', 'brochure', 'boatman', 'tour guide', 'bar', 'restuarant', 'insurance', 'other']

export default {
  name: 'statistics-discovery-summary',
  data () {
    return {
      // assign static value
      MONTHS,
      YEARS,
      currentYear: 'all',
      data: null,
      totalData: null,
      nullData: null,
      isDrawn: false,
      discoveryChart: null,
      // by month
      selectedYear: new Date().getFullYear(),
      selectedMonth: moment().month() + 1,
      dataByMonth: null,
      totalDataByMonth: null,
      // color
      COLOR_MAP,
      otherItems: ['Other'],
      otherItemsByMonth: ['Other']
    }
  },
  mounted () {
    Promise.all([this.getStatisticsPatientsDiscoveryByYear(), this.getStatisticsPatientsDiscoveryByMonth()])
  },
  methods: {
    async filterStatisticsPatientsDiscovery (data) {
      const clinicDiscovery = {}
      const tmp = []

      Object.keys(data).forEach((key, index) => {
        // split "walk pass, google, etc"
        const _clinicDiscovery = data[key]['clinic_discovery'].split(',')

        // single value: "walk pass"
        if (_clinicDiscovery.length === 1) {
          clinicDiscovery[_clinicDiscovery] = data[key]['count']
        } else {
          // multiple values: ["walk pass", "hotel", ..]
          _clinicDiscovery.forEach(cd => {
            if (discoveryList.indexOf(cd) < 0) { // not in the list
              tmp.push(cd + ' - ' + data[key]['count'])
            } else { // in the list
              if (clinicDiscovery.hasOwnProperty(cd)) {
                clinicDiscovery[cd] += data[key]['count']
              } else {
                clinicDiscovery[cd] = data[key]['count']
              }
            }
          })
        }
      })
      // add up for empty clinic discovery value
      clinicDiscovery[''] += this.nullData || 0

      tmp.forEach((item, index) => {
        if (index % 2 === 0) {
          if (index < tmp.length - 1) {
            this.otherItems.push(item + ', ' + tmp[index + 1])
          } else {
            this.otherItems.push(item)
          }
        }
      })

      this.drawDiscoveryGraph(clinicDiscovery, 'discoveryChart')
      this.drawDoughnutGraph(clinicDiscovery, 'discoveryDougnutChart')

      this.data = clinicDiscovery
    },
    async getStatisticsPatientsDiscoveryByYear () {
      getStatisticsPatientsDiscovery(this.currentYear).then(results => {
        this.totalData = results.data.count
        this.nullData = results.data.nullDiscovery

        return this.filterStatisticsPatientsDiscovery(results.data.discovery)
      })
    },
    async getStatisticsPatientsDiscoveryByMonth () {
      const chosenMonth = this.selectedMonth
      const chosenYear = this.selectedYear

      if (new Date(chosenYear, chosenMonth - 1) > new Date()) {
        alert('You are selecting invalid date')
        return
      }

      getStatisticsPatientsDiscoveryByMonth(chosenMonth, chosenYear).then(results => {
        this.totalDataByMonth = results.data.count
        const nullCount = results.data.nullCount

        const data = results.data.data
        const clinicDiscovery = {}
        const tmp = []

        Object.keys(data).forEach((key, index) => {
          const _clinicDiscovery = data[key]['clinic_discovery'].split(',')

          if (_clinicDiscovery.length === 1) {
            clinicDiscovery[_clinicDiscovery] = data[key]['count']
          } else {
            _clinicDiscovery.forEach(cd => {
              if (discoveryList.indexOf(cd) < 0) { // not in the list
                tmp.push(cd + ' - ' + data[key]['count'])
              } else {
                if (clinicDiscovery.hasOwnProperty(cd)) {
                  clinicDiscovery[cd] += data[key]['count']
                } else {
                  clinicDiscovery[cd] = data[key]['count']
                }
              }
            })
          }
        })
        if (clinicDiscovery['']) clinicDiscovery[''] += nullCount || 0

        tmp.forEach((item, index) => {
          if (index % 2 === 0) {
            if (index < tmp.length - 1) {
              this.otherItemsByMonth.push(item + ', ' + tmp[index + 1])
            } else {
              this.otherItemsByMonth.push(item)
            }
          }
        })

        this.dataByMonth = clinicDiscovery
        this.drawDiscoveryGraph(clinicDiscovery, 'discoveryByMonthChart')
        this.drawDoughnutGraph(clinicDiscovery, 'discoveryByMonthChartDoughnut')
      })
    },
    async drawDoughnutGraph (data, graph) {
      const vm = this

      const chartLabels = []
      const chartData = []
      const chartColor = []

      for (let key in data) {
        if (key === '') {
          chartLabels.push('N/A')
        } else {
          chartLabels.push(key)
        }
        // assign color according to label
        if (COLOR_MAP[key]) {
          chartColor.push(COLOR_MAP[key])
        } else {
          chartColor.push('#FFFFFF')
        }
        const item = isNaN(data[key]) ? 0 : data[key]
        chartData.push(item)
      }

      const total = chartData.reduce((a, b) => Number(a) + Number(b), 0)

      const doughnutChartOptions = {
        type: 'doughnut',
        data: {
          datasets: [{
            data: chartData,
            backgroundColor: chartColor,
            label: '# of patients'
          }],
          labels: chartLabels
        },
        options: {
          animation: false,
          responsive: true,
          tooltips: {
            yAlign: 'bottom',
            callbacks: {
              label (tooltipItem, data) {
                const dataset = data.datasets[tooltipItem.datasetIndex]
                const currentValue = dataset.data[tooltipItem.index]
                let label = data.labels[tooltipItem.index]

                const percentage = label + ' - ' + currentValue + ' (' + ((currentValue / total) * 100).toFixed(1) + '%)'
                const otherItems = graph === 'discoveryDougnutChart' ? vm.otherItems : vm.otherItemsByMonth

                if (label === 'other') {
                  otherItems[0] = percentage
                  return otherItems
                }

                return percentage
              }
            },
            backgroundColor: '#EEE',
            bodyFontColor: '#000000',
            footerFontColor: '#000000'
          }
        }
      }

      if (this[graph]) this[graph].destroy()
      this[graph] = new Chart(this.$refs[graph], doughnutChartOptions)
    },
    // bar graph
    async drawDiscoveryGraph (data, graph) {
      const chartLabels = []
      const chartData = []
      const chartColor = []

      for (let key in data) {
        if (key === '') {
          chartLabels.push('N/A')
        } else {
          chartLabels.push(key)
        }
        // assign color according to label
        if (COLOR_MAP[key]) {
          chartColor.push(COLOR_MAP[key])
        } else {
          chartColor.push('#FFFFFF')
        }
        chartData.push(data[key])
      }

      const chartOptions = {
        type: 'bar',
        data: {
          datasets: [{
            data: chartData,
            backgroundColor: chartColor,
            label: '# of patients'
          }],
          labels: chartLabels
        },
        options: {
          responsive: true
        }
      }

      if (this[graph]) this[graph].destroy()

      this[graph] = new Chart(this.$refs[graph], chartOptions)
    }
  }
}
</script>
