<template>
  <section class="content mt4">

    <div class="row mb4">
      <div class="col-xs-12">
        <h1>Search Chart</h1>
      </div>
      <div class="col-xs-12">
        <form class="pure-form">
          <autocomplete-input :placeholder="'Search patient by #HN, first name or last name'"/>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h1>Pending Chart</h1>

        <table class="pure-table pure-table-striped table-wrapper margin-auto" v-if="!$lodash.isEmpty(visits)">
          <thead>
            <tr>
              <th>Visited Date</th>
              <th>Patient</th>
              <th>Pending Charts</th>
              <th></th>
            </tr>
          </thead>
          <tbody v-for="d in visitDates">
            <tr class="col--header uppercase">
              <td colspan="6">{{ d }}</td>
            </tr>

            <tr v-for="v in Object.keys(visits)" v-if="d === moment(visits[v]['visited_date']).format('DD MMM YYYY')">
              <td>{{ moment(visits[v]['visited_date']).format('HH:mm') }}</td>
              <td>
                <span>#{{ visits[v]['patient_id'] }}</span>&nbsp;
                <span>{{ visits[v]['name'] }}</span>
              </td>
              <td class="capitalize">{{ visits[v]['form_name'].join(' / ') }}</td>
              <td>
                <router-link :to="'/patient-detail/' + visits[v]['patient_id']" @click="commitPatientInfo"><icon name="external-link"></icon></router-link>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </section>
</template>

<script>
import { getPendingVisit } from '@/api/visit'
import AutocompleteInput from '@/components/ui/autocomplete-input'
import moment from 'moment'

export default {
  name: 'add-forms',
  components: { AutocompleteInput },
  data () {
    return {
      visits: null,
      visitDates: null
    }
  },
  mounted () {
    return this.getPendingVisit()
  },
  methods: {
    getPendingVisit () {
      this.$store.commit('loadingIncomplete', { detail: true })
      return getPendingVisit().then(results => {
        if (results && !this.$lodash.isEmpty(results.data)) {
          const data = results.data

          this.visits = data
          // Did I overcomplicate stuff???
          const dateArray = Object.keys(data).map(d => moment(data[d].visited_date, 'YYYY-MM-DD hh:mm').toDate()).sort((a, b) => b - a)

          const visitDates = this.$lodash.uniq(dateArray.map(d => moment(d).format('DD MMM YYYY')))
          this.visitDates = visitDates
        }
        this.$store.commit('loadingIncomplete', { detail: false })
      })
    },
    commitPatientInfo () {
      // console.info('yayahey')
    }
  }
}
</script>
