<template>
  <section class="hello">
    <header>
      <h1>{{ msg }}</h1>

      <div class="user-tab">
        <span>Howdy {{ auth.username }}!</span>
      </div>
    </header>
    <img src="/static/welcome.png" alt="welcome" class="img-responsive"/>
    <p v-if="buildDate"><small>Last updated: {{ buildDate }}</small></p>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to WMC Application',
      buildDate: process.env.BUILD_DATE
    }
  },
  computed: {
    ...mapGetters({
      auth: 'authData'
    })
  }
}
</script>

<style scoped>
  header {
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .user-tab {
    position: absolute;
    top: 2%;
    right: 2%;
  }
</style>
