<template>
 <section>
   <div class="form-wrapper">
     <img src="/static/worldmed-logo.png" />
     <form class="login" @submit.prevent="login">

       <h1>Log in</h1>

       <input required v-model="username" type="text" placeholder="Username"/>

       <input required v-model="password" type="password" placeholder="Password"/>

       <p class="error" v-if="error">{{ error }}</p>

       <button type="submit" :disabled="formSubmitting">{{ msg }}</button>
     </form>
   </div>
 </section>
</template>

<script>
import { authLogin } from '@/api/auth'
import Cookies from 'js-cookie'
import setAuthToken from '@/api/setAuthToken'

export default {
  name: 'login',
  data () {
    return {
      username: '',
      password: '',
      error: '',
      msg: 'Log in',
      formSubmitting: false
    }
  },
  methods: {
    login () {
      this.error = ''
      this.msg = 'Loggin in...'
      this.formSubmitting = true
      const body = { username: this.username, password: this.password }

      authLogin(body).then(response => {
        if (response.data.status === false) {
          this.error = response.data.message
        } else {
          // success
          const token = Cookies.get('wmc_token')
          setAuthToken(token)

          const data = response.data
          this.$store.commit('LOGIN', { status: true, data })
          this.$router.replace('/')
        }

        this.msg = 'Log in'
        this.formSubmitting = false
      })
    }
  }
}
</script>

<style scoped lang="scss">
  section {
    // override main padding
    position: relative;
    height: 80vh;

    @media (min-width: 58em) {
      margin-left: -10em;
    }
  }

  img {
    max-width: 150px;
  }

  .form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

  }

  form {
    border: 1px solid #eee;
    background-color: white;
    min-height: 250px;

    padding: 25px;
  }

  h1 {
    font-family: 'didot';
  }

  input {
    width: 15em;
    display: block;
    margin-bottom: 15px;
    padding: 10px 15px;
    border: 2px solid #ddd;

    &:focus {
      outline: 2px solid rgb(55, 172, 227);
    }

    .error {
      outline: 2px solid #ec2734;
    }

    @media screen and (min-width: 54em) {
      width: 20em;
      margin-bottom: 10px;
      padding: 5px 10px;

    }
  }

  button {
    width: 100%;
    background-color: rgb(55, 172, 227);
    padding: 10px 15px;
    color: white;
    margin-top: 0.67em;
  }

  p.error {
    color: #ec2734;
    font-size: 12px;
    text-align: left;
  }

</style>

