<template>
  <div>
    <h1>Patient Address Summary</h1>
    <p>
      Patient address type between
        <flat-pickr
          id="startDate"
          v-model="startDate"
          placeholder="start date (eg. '2018/01/01')"
          :config="startDateConfig"></flat-pickr>
        and
        <flat-pickr
          id="endDate"
          v-model="endDate"
          placeholder="end date"
          :config="endDateConfig"></flat-pickr>
    </p>

    <div class="flex flex--row">
      <table class="pure-table pure-table-striped table-wrapper">
        <thead>
          <tr>
            <th>Type</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Address</td>
            <td>{{ patientsByAddressCount }} ({{ (patientsByAddressCount * 100 / (patientsByHotelCount + patientsByAddressCount)).toFixed(1) }}%)</td>
          </tr>
          <tr>
            <td>Hotel</td>
            <td>{{ patientsByHotelCount }} ({{ (patientsByHotelCount * 100 / (patientsByHotelCount + patientsByAddressCount)).toFixed(1) }}%)</td>
          </tr>
          <tr>
            <td>Sum</td>
            <td><b>{{ patientsByHotelCount + patientsByAddressCount }}</b></td>
          </tr>
        </tbody>
      </table>
      <div style="flex-grow: 2; max-width: 500px">
        <canvas ref="typeChart" width="320" height="275"></canvas>
      </div>
    </div>

    <h3>Address Detail Table</h3>
    <div class="flex flex--row">
      <table class="pure-table pure-table-striped table-wrapper">
        <thead>
          <tr>
            <th>#</th>
            <th>HN</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in patientsByAddress">
            <td>{{ index + 1 }}</td>
            <td>{{ item.hospital_number_display }}</td>
            <td>{{ item.address || 'n/a' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</template>

<script>
import { getStatisticsAddress } from '@/api/statistic'
import Chart from 'chart.js'
import flatPickr from 'vue-flatpickr-component'
import { COLORS } from '@/helper'

export default {
  name: 'statisitc-address',
  components: { flatPickr },
  data () {
    return {
      patientsByHotelCount: 0,
      patientsByAddressCount: 0,
      patientsByAddress: [],
      patientsSum: 0,
      startDate: new Date().fp_incr(-30),
      endDate: new Date(),
      startDateConfig: {
        dateFormat: 'Y/m/d',
        maxDate: new Date().fp_incr(-1)
      },
      endDateConfig: {
        dateFormat: 'Y/m/d',
        maxDate: new Date()
      }
    }
  },
  mounted () {
    return this.getStatisticsAddress()
  },
  watch: {
    startDate () {
      return this.watchDateChange()
    },
    endDate () {
      return this.watchDateChange()
    }
  },
  methods: {
    watchDateChange () {
      if (this.startDate && this.endDate && new Date(this.startDate) > new Date(this.endDate)) {
        alert('you selected invalid date')
        return
      }
      return this.getStatisticsAddress()
    },
    async getStatisticsAddress () {
      const start = this.startDate
      const end = this.endDate

      if (!start || !end) return

      getStatisticsAddress(start, end).then(result => {
        if (result && result.data) {
          this.patientsByHotelCount = result.data.patientsWithHotel
          this.patientsByAddressCount = result.data.patientsWithAddress.count
          this.patientsByAddress = result.data.patientsWithAddress.rows

          Promise.all([this.drawChart([this.patientsByAddressCount, this.patientsByHotelCount], 'typeChart')])
        }
      })
    },
    async drawChart (data, graph) {
      const chartLabels = ['Address', 'Hotel']
      const chartData = data
      const chartColor = [COLORS[1], COLORS[0]]

      const total = this.patientsByHotelCount + this.patientsByAddressCount

      const chartOptions = {
        type: 'doughnut',
        data: {
          datasets: [{
            data: chartData,
            backgroundColor: chartColor,
            label: 'patient address summary'
          }],
          labels: chartLabels
        },
        options: {
          responsive: true,
          tooltips: {
            yAlign: 'bottom',
            callbacks: {
              label (tooltipItem, data) {
                const dataset = data.datasets[tooltipItem.datasetIndex]
                const currentValue = dataset.data[tooltipItem.index]
                const label = data.labels[tooltipItem.index]

                const percentage = label + ' - ' + currentValue + ' (' + ((currentValue / total) * 100).toFixed(1) + '%)'

                return percentage
              }
            }
          }
        }
      }

      if (this[graph]) this[graph].destroy()

      this[graph] = new Chart(this.$refs[graph], chartOptions)
    }
  }
}
</script>
