<template>
  <div>
    <div>
      <h4 style="margin-top: 0">Data Comparison
        <select v-model="model" v-on:change="changeModel">
          <option value="patient">Patient</option>
          <option value="discovery">Discovery</option>
        </select>
      </h4>
      <form class="pure-form" v-on:submit.prevent="submitComparison">
        <fieldset>
          <legend>Start period</legend>

          <flat-pickr id="startDate" v-model="startPeriodStart" placeholder="Start date" :config="config"></flat-pickr>
          <flat-pickr id="endDate" v-model="startPeriodEnd" placeholder="End date" :config="config"></flat-pickr>

          <legend>End period</legend>

          <flat-pickr id="startDate" v-model="endPeriodStart" placeholder="Start date" :config="config"></flat-pickr>
          <flat-pickr id="endDate" v-model="endPeriodEnd" placeholder="End date" :config="config"></flat-pickr>
        </fieldset>

        <fieldset>
          <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </fieldset>
      </form>

      <div class="flex flex--row">
        <div>
          <h5 style="margin-bottom: 0">Start period</h5>
          <canvas ref="startChart" width="300" height="200"></canvas>
        </div>
        <div>
          <h5 style="margin-bottom: 0">End period</h5>
          <canvas ref="endChart" width="300" height="200"></canvas>
        </div>
      </div>

      <div class="flex--center" v-if="(startPeriodData && startPeriodData.count) || (endPeriodData && endPeriodData.count)">
        <table class="pure-table pure-table-striped table-wrapper margin-auto">
          <thead>
            <tr>
              <th></th>
              <th>Start Period</th>
              <th>End Period</th>
              <th>Difference</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>No. of Patients</td>
              <td>{{ startPeriodData.count }}</td>
              <td>{{ endPeriodData.count }}</td>
              <td>{{ ((endPeriodData.count - startPeriodData.count)/startPeriodData.count * 100).toFixed(1) || '0' }}%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4 v-else>No data</h4>

    </div>
  </div>
</template>

<script>

import flatPickr from 'vue-flatpickr-component'
import { getComparisonStatistics } from '@/api/statistic'
import Chart from 'chart.js'

const COLOR = ['rgb(54, 162, 235)', 'rgb(75, 192, 192)', 'rgb(201, 203, 207)', 'rgb(255, 159, 64)', 'rgb(153, 102, 255)', 'rgb(255, 99, 132)', 'rgb(255, 205, 86)', '#ff1744', '#1B503E', '#1DE9B6', '#FFC400', '#D17B0F', 'B7F0AD']

export default {
  name: 'statistics-comparison',
  components: { flatPickr },
  data () {
    return {
      startPeriodStart: null,
      startPeriodEnd: null,
      endPeriodStart: null,
      endPeriodEnd: null,
      model: 'discovery',
      config: {
        enableTime: true,
        dateFormot: 'Y/m/d H:i',
        time_24hr: true,
        maxDate: new Date().fp_incr(1)
      },
      //
      startPeriodData: null,
      endPeriodData: null
    }
  },
  methods: {
    async changeModel () {
      this.startPeriodData = null
      this.endPeriodData = null
      if (this.startChart) this.startChart.destroy()
      if (this.endChart) this.endChart.destroy()
    },
    async submitComparison () {
      const obj = {
        startPeriodStart: this.startPeriodStart,
        startPeriodEnd: this.startPeriodEnd,
        endPeriodStart: this.endPeriodStart,
        endPeriodEnd: this.endPeriodEnd,
        model: this.model
      }

      getComparisonStatistics(obj).then(results => {
        if (results && results.data) {
          if (this.model === 'discovery') {
            this.startPeriodData = results.data.startPeriod
            this.endPeriodData = results.data.endPeriod

            const startPeriodData = results.data.startPeriod.data
            const endPeriodData = results.data.endPeriod.data
            this.filterDiscovery(startPeriodData, 'startChart')
            this.filterDiscovery(endPeriodData, 'endChart')
          } else if (this.model === 'patient') {
            this.startPeriodData = results.data.startPeriod
            this.endPeriodData = results.data.endPeriod

            const startPeriodData = results.data.startPeriod.rows
            const endPeriodData = results.data.endPeriod.rows
            this.filterPatient(startPeriodData, 'startChart')
            this.filterPatient(endPeriodData, 'endChart')
          }
        }
      })
    },
    async filterPatient (data, name) {
      const branchOne = []
      // const branchTwo = []

      Object.keys(data).forEach(key => {
        branchOne.push(data[key]['branch_one'], data[key]['branch_two'])
        // branchTwo.push(data[key]['branch_two'])
      })

      const chartOptions = {
        type: 'doughnut',
        data: {
          datasets: [
            {
              data: branchOne,
              backgroundColor: COLOR,
              label: '# of patients'
            }
          ],
          labels: ['hospital', 'clinic']
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: 'Patients by branch'
          }
        }
      }

      this[name] = new Chart(this.$refs[name], chartOptions)
    },
    async drawChart (labels, data, name) {
      if (this[name]) this[name].destroy()

      const chartOptions = {
        type: 'doughnut',
        data: {
          datasets: [{
            data: data,
            backgroundColor: COLOR,
            label: '# of patients'
          }],
          labels: labels
        },
        options: {
          responsive: true
        }
      }

      this[name] = new Chart(this.$refs[name], chartOptions)
    },
    async filterDiscovery (data, name) {
      const clinicDiscovery = {}

      Object.keys(data).forEach((key, index) => {
        const _clinicDiscovery = data[key]['clinic_discovery'].split(',')

        if (_clinicDiscovery.length === 1) {
          clinicDiscovery[_clinicDiscovery] = data[key]['count']
        } else {
          _clinicDiscovery.forEach(cd => {
            if (clinicDiscovery.hasOwnProperty(cd)) {
              clinicDiscovery[cd] += data[key]['count']
            } else {
              clinicDiscovery[cd] = data[key]['count']
            }
          })
        }
      })

      const chartLabels = []
      const chartData = []
      for (let key in clinicDiscovery) {
        if (key === '') {
          chartLabels.push('N/A')
        } else {
          chartLabels.push(key)
        }
        chartData.push(clinicDiscovery[key])
      }

      this.drawChart(chartLabels, chartData, name)
    }
  }
}

</script>

