<template>
  <div>
    <h1>Demographic</h1>
    <span>Select month: </span>
    <select v-model="selectedMonth" v-on:change="getStatisticsDemographic">
      <option selected disabled value="">Month</option>
      <option v-for="month in Object.keys(MONTHS)" :value="month">{{ MONTHS[month] }}</option>

    </select>
    <span>in year: </span>
    <select v-model="selectedYear" v-on:change="getStatisticsDemographic">
      <option v-for="y in YEARS()" :value="y">{{ y }}</option>
    </select>
    <p>There are <b>{{ totalPatient }}</b> patients registered in this period.</p>
    <div>
      <h4>Age Range</h4>
      <div class="flex flex--row">
        <table class="pure-table pure-table-striped">
          <thead>
            <tr>
              <th>Age</th>
              <th>No.</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="a in Object.keys(age)">
              <td class="capitalize">{{ AGE_RANGE[a] }}</td>
              <td>{{ age[a] | numberWithCommas }}</td>
            </tr>
          </tbody>
        </table>
        <div>
          <canvas ref="ageChart" width="300" height="200"></canvas>
        </div>
      </div>
    </div>
    <div>
      <h4>Religion Statistics</h4>
      <div class="flex flex--row">
        <table class="pure-table pure-table-striped">
          <thead>
            <tr>
              <th>Religion</th>
              <th>No.</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="r in religion">
              <td class="capitalize">{{ r.data }}</td>
              <td>{{ r.count | numberWithCommas }}</td>
            </tr>
          </tbody>
        </table>
        <div>
          <canvas ref="religionChart" width="300" height="300"></canvas>
        </div>
      </div>
    </div>

    <div>
      <h4>Gender Statistics</h4>
      <div class="flex flex--row">
        <table class="pure-table pure-table-striped">
          <thead>
            <tr>
              <th>Gender</th>
              <th>No.</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="g in gender">
              <td style="text-transform: capitalize">{{ g.data }}</td>
              <td>{{ g.count | numberWithCommas }}</td>
            </tr>
          </tbody>
        </table>
        <div>
          <canvas ref="genderChart" width="200" height="200"></canvas>
        </div>
      </div>
    </div>

    <div>
      <h4>Marital Status Statistics</h4>
      <div class="flex flex--row">
        <table class="pure-table pure-table-striped">
          <thead>
            <tr>
              <th>Marital Status</th>
              <th>No.</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="m in marital_status">
              <td style="text-transform: capitalize">{{ m.data }}</td>
              <td>{{ m.count | numberWithCommas }}</td>
            </tr>
          </tbody>
        </table>
        <div>
          <canvas ref="maritalStatusChart" width="200" height="200"></canvas>
        </div>
      </div>
    </div>
    <div>
      <h4>Nationality Statistics</h4>
      <div class="flex flex--row">
        <table class="pure-table pure-table-striped">
          <thead>
            <tr>
              <th>Nationality</th>
              <th>No.</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="n in nationality">
              <td style="text-transform: capitalize">{{ n.data }}</td>
              <td>{{ n.count | numberWithCommas }}</td>
            </tr>
          </tbody>
        </table>
        <div>
          <canvas ref="nationalityChart" width="300" height="800"></canvas>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import moment from 'moment'
import { getStatisticsDemographic } from '@/api/statistic'
import { MONTHS, YEARS, COLORS } from '@/helper'
import Chart from 'chart.js'

const AGE_RANGE = {
  'baby': 'baby (0-4)',
  'child': 'child (5-12)',
  'teen': 'teen (13-18)',
  'young': 'young (19-34)',
  'middle': 'middle age (35-54)',
  'old': 'old age (55+)'
}

export default {
  name: 'statistics-demographic',
  data () {
    return {
      MONTHS,
      YEARS,
      selectedYear: moment().year(),
      selectedMonth: moment().month() + 1,
      religion: null,
      gender: null,
      nationality: null,
      marital_status: null,
      age: {},
      AGE_RANGE,
      totalPatient: null
    }
  },
  mounted () {
    return this.getStatisticsDemographic()
  },
  methods: {
    async getStatisticsDemographic () {
      const chosenMonth = this.selectedMonth
      const chosenYear = this.selectedYear

      if (new Date(chosenYear, chosenMonth - 1) > new Date()) {
        alert('You are selecting invalid date')
        return
      }

      getStatisticsDemographic(chosenMonth, chosenYear).then(results => {
        if (results && results.data) {
          this.religion = results.data.religion
          this.gender = results.data.gender
          this.nationality = results.data.nationality
          this.marital_status = results.data.marital_status
          this.age = results.data.age
          this.totalPatient = results.data.total

          Promise.all([
            this.drawDoughnutChart(this.age, 'ageChart'),
            this.drawDoughnutChart(this.marital_status, 'maritalStatusChart'),
            this.drawDoughnutChart(this.gender, 'genderChart'),
            this.drawDoughnutChart(this.nationality, 'nationalityChart'),
            this.drawDoughnutChart(this.religion, 'religionChart')
          ])
        }
      })
    },
    async drawDoughnutChart (data, chart) {
      const chartLabels = []
      const chartData = []
      const chartColor = []

      let total = 0
      if (data.constructor === Array) {
        data.forEach((d, index) => {
          // { count: xx, data: 'xxx' }
          chartLabels.push(d.data)
          chartData.push(d.count)
          chartColor.push(COLORS[index])
          total += d.count
        })
      } else {
        let index = 0
        for (let key in data) {
          chartLabels.push(key)
          chartData.push(data[key])
          chartColor.push(COLORS[index])
          index++
          total += data[key]
        }
      }

      const doughnutChartOptions = {
        type: 'doughnut',
        data: {
          datasets: [{
            data: chartData,
            backgroundColor: chartColor,
            label: 'age'
          }],
          labels: chartLabels
        },
        options: {
          responsive: true,
          tooltips: {
            callbacks: {
              label (tooltipItem, data) {
                const dataset = data.datasets[tooltipItem.datasetIndex]
                const currentValue = dataset.data[tooltipItem.index]
                const label = data.labels[tooltipItem.index]

                const precentage = label + ' - ' + currentValue + ' (' + ((currentValue / total) * 100).toFixed(1) + '%)'

                return precentage
              }
            }
          },
          animation: false
        }
      }

      if (this[chart]) this[chart].destroy()

      this[chart] = new Chart(this.$refs[chart], doughnutChartOptions)
    }
  }
}
</script>
