<template>
  <section>
    <h1>Discovery Statistics</h1>

    <div class="tab-wrapper">
      <div class="tab-btn-group">
        <router-link to="summary" class="tab-btn">Summary</router-link>
        <router-link to="growth" class="tab-btn">Growth</router-link>
      </div>

      <div class="tab-detail">
        <router-view></router-view>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'statistics-discovery'
}
</script>

