<template>
  <section>
    <h1>Hotel Statistics</h1>

    <div class="tab-wrapper">
      <div class="tab-btn-group">
        <router-link to="summary" class="tab-btn">Summary</router-link>
        <router-link to="growth" class="tab-btn">Growth</router-link>
      </div>

      <div class="tab-detail">
        <router-view :zone="zone"></router-view>
      </div>
    </div>
  </section>
</template>

<script>
import { getHotelZone } from '@/api/hotel'

export default {
  name: 'statistics-hotel',
  data () {
    return {
      zone: []
    }
  },
  created () {
    return this.getHotelZone()
  },
  methods: {
    getHotelZone () {
      return getHotelZone().then(result => {
        if (result && result.data) {
          this.zone = result.data
        }
      })
    }
  }
}
</script>
