<template>
  <div>
    <h1>Patients</h1>
    <div class="pure-g">
      <div class="pure-u-1">
        <h4>Number of registered patients from
          <select v-model="chosenMonth" v-on:change="getStatisticsPatientsByMonth">
            <option selected disabled value="">Month</option>
            <option v-for="month in Object.keys(MONTHS)" :value="month">{{ MONTHS[month] }}</option>
          </select>
          year
          <select v-model="chosenYear" v-on:change="getStatisticsPatientsByMonth">
            <option selected disabled value="">Year</option>
            <option v-for="year in YEARS()" :value="year">{{ year }}</option>
          </select>
          to present
        </h4>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 flex flex--center">
        <table class="pure-table pure-table-striped table-wrapper margin-auto">
          <thead>
            <tr>
              <th></th>
              <th>Hospital</th>
              <th>Clinic</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="byMonth in byMonths">
              <td>{{ MONTHS[byMonth.MONTH] }}'{{ (byMonth.YEAR % 100) }}</td>
              <td>{{ byMonth.branch_one | numberWithCommas }}</td>
              <td>{{ byMonth.branch_two === '0' ? '-' : byMonth.branch_two | numberWithCommas }}</td>
              <td>{{ byMonth.total | numberWithCommas }}</td>
            </tr>
            <tr>
              <td><b>Sum</b></td>
              <td><b>{{ sumBranchOne | numberWithCommas }}</b></td>
              <td><b>{{ sumBranchTwo | numberWithCommas }}</b></td>
              <td><b>{{ sumBranchOne + sumBranchTwo | numberWithCommas }}</b></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <canvas ref="patientByMonthChart" width="300" height="200"></canvas>
      </div>
    </div>

    <hr />

    <div class="pure-g" style="min-height: 300px">
      <div class="pure-u-1">
        <h4>Filter registered patients by a period (default 1 month)</h4>
        <form class="pure-form flex flex--row" v-on:submit.prevent="submitFilterPatientByTime">
          <div>
            <label for="startDate">Start Date</label>
            <flat-pickr id="startDate" v-model="startDate" class="pure-u-1" :config="startDateConfig"></flat-pickr>
          </div>
          <div>
            <label for="endDate">End Date</label>
            <flat-pickr id="endDate" v-model="endDate" class="pure-u-1" :config="endDateConfig"></flat-pickr>
          </div>
          <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </form>
      </div>
      <div class="pure-u-1 pure-u-sm-2-3" v-show="byTime">
        <canvas ref="patientByTimeChart" width="300" height="150"></canvas>
      </div>
      <div class="pure-u-1 pure-u-sm-1-3 flex flex--center" v-if="byTime">
        <table class="pure-table pure-table-striped table-wrapper margin-auto">
          <thead>
            <tr>
              <th>Hospital</th>
              <th>Clinic</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ byTime.branch_one | numberWithCommas }}</td>
              <td>{{ byTime.branch_two | numberWithCommas }}</td>
              <td>{{ Number(byTime.branch_one) + Number(byTime.branch_two) | numberWithCommas }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</template>

<style scoped>
  #startDate, #endDate {
    max-width: 200px;
  }

</style>

<script>
import { getStatisticsPatients, getStatisticsPatientsByMonth, getStatisticsPatientsByTime } from '@/api/statistic'
import Chart from 'chart.js'
import moment from 'moment'
import flatPickr from 'vue-flatpickr-component'
import { YEARS } from '@/helper'

const MONTHS = {
  1: 'JAN',
  2: 'FEB',
  3: 'MAR',
  4: 'APR',
  5: 'MAY',
  6: 'JUN',
  7: 'JUL',
  8: 'AUG',
  9: 'SEP',
  10: 'OCT',
  11: 'NOV',
  12: 'DEC'
}

export default {
  name: 'statistics-patient',
  components: { flatPickr },
  data () {
    return {
      // static values
      MONTHS,
      YEARS,
      //
      byMonths: {},
      currentYear: moment().year(),
      year: [],
      month: [],
      isDrawn: false,
      isSelectedMonthChartDrawn: false,
      selectedMonth: {},
      currentMonth: moment().month() + 1,
      // filter
      startDate: null,
      endDate: null,
      startDateConfig: {
        defaultDate: new Date().fp_incr(-365),
        dateFormat: 'Y/m/d',
        maxDate: new Date().fp_incr(1)
      },
      endDateConfig: {
        defaultDate: new Date().fp_incr(1),
        dateFormat: 'Y/m/d',
        maxDate: new Date().fp_incr(1)
      },
      byTime: null,
      byTimeChartDrawn: false,
      // registered patient graph
      sumBranchOne: null,
      sumBranchTwo: null,
      chosenMonth: new Date().getMonth() + 1,
      chosenYear: new Date().getFullYear() - 1
    }
  },
  methods: {
    getStatisticsPatientsByMonth () {
      const chosenMonth = this.chosenMonth
      const chosenYear = this.chosenYear

      if (new Date(chosenYear, chosenMonth) > new Date()) {
        alert('You are selecting invalid date')
        return
      }

      getStatisticsPatientsByMonth(chosenMonth, chosenYear).then(result => {
        this.handleGetPatientByMonth(result.data)
      })
    },
    handleGetPatientByMonth (data) {
      this.byMonths = data

      const _month = []
      const _year = []
      const branchOne = []
      const branchTwo = []
      const total = []

      Object.keys(data).forEach((key, index) => {
        _month.push(data[key]['MONTH'])
        _year.push(data[key]['YEAR'])
        branchOne.push(data[key]['branch_one'])
        branchTwo.push(data[key]['branch_two'])
        total.push(data[key]['total'])
      })

      this.month = _month
      const monthLabels = _month.map((month, index) => MONTHS[month] + '\'' + (_year[index] % 100))

      // get the sum to display in table
      this.sumBranchOne = branchOne.reduce((a, b) => Number(a) + Number(b), 0)
      this.sumBranchTwo = branchTwo.reduce((a, b) => Number(a) + Number(b), 0)

      if (this.isDrawn) this.patientByMonthChart.destroy()

      /* eslint-disable no-new */
      this.patientByMonthChart = new Chart(this.$refs.patientByMonthChart, {
        type: 'line',
        data: {
          labels: monthLabels,
          datasets: [
            {
              label: 'Hospital',
              backgroundColor: ['rgba(55, 172, 227, 1)'],
              borderColor: ['rgba(55, 172, 227, 1)'],
              data: branchOne,
              fill: false
            },
            {
              label: 'Clinic',
              backgroundColor: ['#EC2734'],
              borderColor: ['#EC2734'],
              data: branchTwo,
              fill: false
            },
            {
              label: 'Total',
              borderDash: [10, 5],
              borderColor: ['#EEEEEE'],
              data: total,
              fill: false
            }
          ]
        },
        options: {
          scales: {
            yAxes: [{
              display: true,
              ticks: {
                beginAtZero: true   // minimum value will be 0.
              }
            }]
          }
        }
      })

      this.isDrawn = true
      // if (this.currentMonth) this.handlePatientSelectedMonth()
    },
    async submitFilterPatientByTime () {
      if (this.startDate > this.endDate) {
        alert('Invalid input. Start date must come before end date')
        this.byTime = null
        return
      }

      return getStatisticsPatientsByTime(this.startDate, this.endDate).then(results => {
        this.byTime = results.data[0]
        const byTime = []
        byTime.push(results.data[0].branch_one, results.data[0].branch_two)

        const total = byTime.reduce((a, b) => Number(a) + Number(b), 0)

        if (this.patientByTimeChart) this.patientByTimeChart.destroy()

        this.patientByTimeChart = new Chart(this.$refs.patientByTimeChart, {
          type: 'doughnut',
          data: {
            labels: ['Hospital', 'Clinic'],
            datasets: [{
              backgroundColor: ['rgb(55, 172, 227)', '#EC2734'],
              data: byTime,
              fill: true
            }]
          },
          options: {
            responsive: true,
            tooltips: {
              callbacks: {
                label (tooltipItem, data) {
                  const dataset = data.datasets[tooltipItem.datasetIndex]
                  const currentValue = dataset.data[tooltipItem.index]

                  const precentage = currentValue + ', ' + ((currentValue / total) * 100).toFixed(1) + '%'

                  return precentage
                }
              }
            }
          }
        })
      })
    }
  },
  mounted () {
    this.startDate = moment().subtract('1', 'month').format('YYYY/MM/DD HH:mm')
    this.endDate = moment().format('YYYY/MM/DD HH:mm')

    return getStatisticsPatients().then(results => {
      this.submitFilterPatientByTime()
      this.handleGetPatientByMonth(results.data.patientByMonthCount)
    })
  }
}
</script>
