<template>
  <div>
    <h1>Registration Time Range</h1>
    <p>
      Number of patients registered between
        <flat-pickr
          id="startDate"
          v-model="startDate"
          placeholder="start date (eg. '2018/01/01')"
          :config="startDateConfig"></flat-pickr>
        and
        <flat-pickr
          id="endDate"
          v-model="endDate"
          placeholder="end date"
          :config="endDateConfig"></flat-pickr>
    </p>

    <div class="flex flex--row">
      <table class="pure-table pure-table-striped table-wrapper">
        <thead>
          <tr>
            <th>Branch</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hospital</td>
            <td>{{ totalBranchOne | numberWithCommas }}</td>
          </tr>
          <tr>
            <td>Clinic</td>
            <td>{{ totalBranchTwo | numberWithCommas }}</td>
          </tr>
          <tr>
            <td><b>Total</b></td>
            <td>{{ totalBranchOne + totalBranchTwo | numberWithCommas }}</td>
          </tr>
        </tbody>
      </table>
      <div style="flex-grow: 2; max-width: 500px">
        <canvas ref="registrationChart" width="320" height="275"></canvas>
      </div>
    </div>

  </div>
</template>

<style scoped>
</style>

<script>
import { COLORS } from '@/helper'
import { getStatisticsRegistration } from '@/api/statistic'
import Chart from 'chart.js'
import flatPickr from 'vue-flatpickr-component'

export default {
  name: 'register',
  components: { flatPickr },
  data () {
    return {
      data: '',
      sumData: 0,
      // filter
      startDate: new Date().fp_incr(-30),
      endDate: new Date(),
      startDateConfig: {
        dateFormat: 'Y/m/d',
        maxDate: new Date().fp_incr(-1)
      },
      endDateConfig: {
        dateFormat: 'Y/m/d',
        maxDate: new Date()
      },
      BRANCH: {
        '1': 'Hospital',
        '2': 'Clinic'
      },
      totalBranchOne: 0,
      totalBranchTwo: 0
    }
  },
  mounted () {
    return this.getStatisticsRegistration()
  },
  watch: {
    startDate () {
      if (this.startDate && this.endDate && new Date(this.startDate) > new Date(this.endDate)) alert('you selected invalid date')
      return this.getStatisticsRegistration()
    },
    endDate () {
      if (this.startDate && this.endDate && new Date(this.startDate) > new Date(this.endDate)) alert('you selected invalid date')
      return this.getStatisticsRegistration()
    }
  },
  methods: {
    async getStatisticsRegistration () {
      const start = this.startDate
      const end = this.endDate

      if (!start || !end) return

      getStatisticsRegistration(start, end).then(result => {
        if (result && result.data) {
          this.data = result.data

          return this.drawChart(this.data, 'registrationChart')
        }
      })
    },
    async drawChart (data, chart) {
      let n = 0
      const HOURS = []
      const branchOne = []
      const branchTwo = []
      while (n < 24) {
        branchOne.push(0)
        branchTwo.push(0)

        // assign hours string
        if (n < 10) {
          HOURS.push(`0${n}:00`)
        } else {
          HOURS.push(`${n}:00`)
        }
        n++
      }

      let totalBranchOne = 0
      let totalBranchTwo = 0
      data.forEach(d => {
        if (d.branch_id === '1') {
          branchOne[d.HOUR] = d.count
          totalBranchOne += d.count
        } else {
          branchTwo[d.HOUR] = d.count
          totalBranchTwo += d.count
        }
      })

      const branchTotal = []
      n = 0
      while (n < 24) {
        const total = branchOne[n] + branchTwo[n]
        branchTotal.push(total)
        n++
      }

      this.totalBranchOne = totalBranchOne
      this.totalBranchTwo = totalBranchTwo

      const doughnutChartOptions = {
        type: 'line',
        data: {
          labels: HOURS,
          datasets: [
            {
              data: branchOne,
              backgroundColor: COLORS[0],
              borderColor: COLORS[0],
              label: 'hospital',
              fill: false
            },
            {
              data: branchTwo,
              backgroundColor: ['#EC2734'],
              borderColor: ['#EC2734'],
              label: 'clinic',
              fill: false
            },
            {
              label: 'total',
              borderDash: [10, 5],
              borderColor: ['#EEEEEE'],
              data: branchTotal,
              fill: false
            }
          ]
          // labels: chartLabels
        },
        options: {
          responsive: true,
          animation: false
        }
      }

      if (this[chart]) this[chart].destroy()

      this[chart] = new Chart(this.$refs[chart], doughnutChartOptions)
    }
  }
}
</script>
