<template>
  <section class="content">
    <div class="header header--statistics">
      <div class="header-tab">
        <div class="pure-menu pure-menu-horizontal hidden-xs">
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><router-link to="/statistics/patient" class="pure-menu-link">Patient</router-link></li>
            <li class="pure-menu-item"><router-link to="/statistics/discovery" class="pure-menu-link">Discovery</router-link></li>
            <li class="pure-menu-item"><router-link to="/statistics/hotel" class="pure-menu-link">Hotel</router-link></li>
            <li class="pure-menu-item"><router-link to="/statistics/address" class="pure-menu-link">Address</router-link></li>
            <li class="pure-menu-item"><router-link to="/statistics/demographic" class="pure-menu-link">Demographic</router-link></li>
            <li class="pure-menu-item"><router-link to="/statistics/register" class="pure-menu-link">Register</router-link></li>
            <li class="pure-menu-item"><router-link to="/statistics/time" class="pure-menu-link">Time</router-link></li>
            <!-- <li class="pure-menu-item"><router-link to="comparison" class="pure-menu-link">Comparison</router-link></li> -->
          </ul>
        </div>

        <div class="pure-menu mobile-menu visible-xs">
          <button id="navLink" ref="navLink" v-on:click="isActive = !isActive">&#9776;</button>
          <ul class="pure-menu-list" v-bind:style="{ display: isActive ? 'block' : 'none' }">
            <li class="pure-menu-item"><router-link to="/statistics/patient" class="pure-menu-link" v-on:click.native="isActive = false">Patient</router-link></li>
            <li class="pure-menu-item"><router-link to="/statistics/discovery" class="pure-menu-link" v-on:click.native="isActive = false">Discovery</router-link></li>
            <li class="pure-menu-item"><router-link to="/statistics/hotel" class="pure-menu-link" v-on:click.native="isActive = false">Hotel</router-link></li>
            <li class="pure-menu-item"><router-link to="/statistics/address" class="pure-menu-link" v-on:click.native="isActive = false">Address</router-link></li>
            <li class="pure-menu-item"><router-link to="/statistics/demographic" class="pure-menu-link" v-on:click.native="isActive = false">Demographic</router-link></li>
            <li class="pure-menu-item"><router-link to="/statistics/register" class="pure-menu-link" v-on:click.native="isActive = false">Register</router-link></li>
            <li class="pure-menu-item"><router-link to="/statistics/time" class="pure-menu-link" v-on:click.native="isActive = false">Time</router-link></li>
            <!-- <li class="pure-menu-item"><router-link to="comparison" class="pure-menu-link" v-on:click.native="isActive = false">Comparison</router-link></li> -->
          </ul>
        </div>
      </div>
    </div>

    <router-view></router-view>
  </section>
</template>

<style scoped>
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
  }

  .mobile-menu > ul {
    background-color: white;
    border-radius: 4px;
    border: 1px solid #eee;
    margin-right: 10px;
  }

  #navLink {
    color: white;
    background: rgba(0,0,0,0.7);
    font-size: 12px;
    z-index: 1000;
    width: 4em;
    height: 4em;
    padding: 1em;
    border: none;
    outline: none;
  }

  .header.header--statistics {
    height: 50px;
  }

  .router-link-active {
    background-color: #eee;
  }
</style>

<script>
export default {
  name: 'statistics',
  data () {
    return {
      isActive: false
    }
  }
}
</script>
