<template>
  <div>
    <h1>Stay type / Length of Stay</h1>
    <p>
      Number of patients and types registered between
        <flat-pickr
          id="startDate"
          v-model="startDate"
          placeholder="start date (eg. '2018/01/01')"
          :config="startDateConfig"></flat-pickr>
        and
        <flat-pickr
          id="endDate"
          v-model="endDate"
          placeholder="end date"
          :config="endDateConfig"></flat-pickr>
    </p>

    <div class="flex flex--row">
      <table class="pure-table pure-table-striped table-wrapper">
        <thead>
          <tr>
            <th>Type</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="stay in stayTypeCount">
            <td class="capitalize">{{ stay.name || 'N/A' }}</td>
            <td>{{ stay.count | numberWithCommas }}</td>
          </tr>
        </tbody>
      </table>
      <div style="flex-grow: 2; max-width: 500px">
        <canvas ref="typeChart" width="320" height="275"></canvas>
      </div>
    </div>

    <h3>Tourist length of stay chart</h3>
    <div class="flex flex--row">
      <table class="pure-table pure-table-striped table-wrapper">
        <thead>
          <tr>
            <th>Length of stay</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="stay in stayLength">
            <td class="capitalize">{{ stay.name }}</td>
            <td>{{ stay.count | numberWithCommas }}</td>
          </tr>
        </tbody>
      </table>
      <div style="flex-grow: 2; max-width: 500px">
        <canvas ref="lengthChart" width="320" height="275"></canvas>
      </div>
    </div>

  </div>
</template>

<script>
import { getStatisticsTime } from '@/api/statistic'
import Chart from 'chart.js'
import flatPickr from 'vue-flatpickr-component'
import { COLORS } from '@/helper'

export default {
  name: 'statisitc-time',
  components: { flatPickr },
  data () {
    return {
      stayLength: '',
      stayTypeCount: '',
      startDate: new Date().fp_incr(-30),
      endDate: new Date(),
      startDateConfig: {
        dateFormat: 'Y/m/d',
        maxDate: new Date().fp_incr(-1)
      },
      endDateConfig: {
        dateFormat: 'Y/m/d',
        maxDate: new Date()
      }
    }
  },
  mounted () {
    return this.getStatisticsTime()
  },
  watch: {
    startDate () {
      if (this.startDate && this.endDate && new Date(this.startDate) > new Date(this.endDate)) {
        alert('you selected invalid date')
        return
      }
      return this.getStatisticsTime()
    },
    endDate () {
      if (this.startDate && this.endDate && new Date(this.startDate) > new Date(this.endDate)) {
        alert('you selected invalid date')
        return
      }
      return this.getStatisticsTime()
    }
  },
  methods: {
    async getStatisticsTime () {
      const start = this.startDate
      const end = this.endDate

      if (!start || !end) return

      getStatisticsTime(start, end).then(result => {
        if (result && result.data) {
          this.stayTypeCount = result.data.stayTypeCount
          this.stayLength = result.data.stayLength

          Promise.all([this.drawChart(this.stayTypeCount, 'typeChart'), this.drawChart(this.stayLength, 'lengthChart')])
        }
      })
    },
    async drawChart (data, chart) {
      let draw = false

      const chartData = []
      const chartLabels = []
      const chartColor = []

      let total = 0
      data.forEach((d, index) => {
        if (d.count > 0) draw = true
        chartData.push(d.count)
        total += d.count
        chartLabels.push(d.name || 'N/A')
        chartColor.push(COLORS[index])
      })

      this[chart] && this[chart].destroy()

      if (!draw) return

      const doughnutChartOptions = {
        type: 'doughnut',
        data: {
          datasets: [{
            data: chartData,
            backgroundColor: chartColor,
            label: '# of patients'
          }],
          labels: chartLabels
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          tooltips: {
            callbacks: {
              label (tooltipItem, data) {
                const dataset = data.datasets[tooltipItem.datasetIndex]
                const currentValue = dataset.data[tooltipItem.index]
                const label = data.labels[tooltipItem.index]

                const precentage = label + ' - ' + currentValue + ' (' + ((currentValue / total) * 100).toFixed(1) + '%)'

                return precentage
              }
            }
          },
          animation: false
        }
      }

      this[chart] = new Chart(this.$refs[chart], doughnutChartOptions)
    }
  }
}

</script>

