<template>
  <section>
    <div class="row">
      <div class="col-xs-12">
        <h3>Form</h3>

        <pre>{{ formData }}</pre>
      </div>

      <div class="col-xs-12">
        <component :is="currentForm" :patient="formData" :isEdit="true"></component>
      </div>
    </div>
  </section>
</template>

<script>
import { getVisitFormById } from '@/api/visit-form'

export default {
  name: 'patient-form-detail',
  data () {
    return {
      form: null,
      formData: null,
      currentForm: null
    }
  },
  created () {
    const { formId } = this.$route.params
    return this.getVisitFormById(formId)
  },
  methods: {
    getVisitFormById (visitFormId) {
      if (!visitFormId) {
        console.error('Missing parameter')
        return
      }

      return getVisitFormById(visitFormId).then(result => {
        if (result && result.status === 200) {
          this.form = result.data

          this.loadForm(this.form.form_id)
          this.formData = JSON.parse(this.form.data)
        }
      })
    },
    loadForm (formId) {
      const ACTION_PATH = {
        medcer: () => import('@/components/forms/medical-certificate'),
        opdcard: () => import('@/components/forms/opd-card'),
        nursingintervention: () => import('@/components/forms/nursing-intervention')
      }

      const formType = {
        1: 'medcer',
        2: 'opdcard',
        3: 'nursingintervention'
      }

      if (formType[formId]) {
        this.currentForm = ACTION_PATH[formType[formId]]
      }
    }
  }
}
</script>

