<template>
  <section class="content">
    <div class="row">
      <div class="col-sm-offset-6 col-sm-6 col-xs-12 section-no-print" style="margin-bottom:30px;">
        <div>
          <div class="action-btn-group" v-if="!patient.deleted_status">
            <div>
              <button class="pure-button pure-button-primary" v-on:click="showVisitModal = true">New Visit</button>
              <button class="pure-button" v-on:click="editPatient">Edit</button>
              <button class="pure-button" v-on:click="showModal = true"><icon name="print"></icon></button>
            </div>
            <div>
              <!-- <router-link to="/patient-summary" class="pure-button">Back</router-link> -->
              <button class="pure-button" @click="navigateBack">Back</button>
              <button class="pure-button" v-on:click="rejectPatient">Reject</button>
            </div>
          </div>
          <div class="action-btn-group" v-else-if="patient.deleted_status">
            <div>
              <button class="pure-button" @click="navigateBack">Back</button>
              <button class="pure-button" v-on:click="undoRejectPatient" ><icon name="reply"></icon>&nbsp; Revert</button>
              <button class="button-error pure-button" v-on:click="deletePatient"><icon name="trash"></icon>&nbsp; Destroy</button>
            </div>
          </div>
          <!-- <div class="margin-vertical">
            <button class="pure-button" @click="navigateBack">Go To Patient Summary</button>
            </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="photo-box" style="margin-bottom:30px;">
          <img v-if="img_url" :src="img_url" width="200px" height="200px">
          <icon name="user" v-else-if="!img_url" scale="3"></icon>
        </div>
      </div>
    </div>
    <div class="row section-no-print">
      <table class="pure-table pure-table-bordered patient-table margin-bottom">
        <tr>
          <th>Hospital Number</th>
          <td>{{ patient.hospital_number_display }}</td>
        </tr>
        <tr>
          <th>First Visit Date</th>
          <td>{{ patient.first_visited_date ? moment(patient.first_visited_date).format('YYYY/MM/DD') : '' }}</td>
        </tr>
        <tr>
          <th>Id card/Passport Number</th>
          <td>{{ patient.id_number }}</td>
        </tr>
        <tr>
          <th>Full Name</th>
          <td>{{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}</td>
        </tr>
        <tr>
          <th>Name(TH)</th>
          <td>{{ patient.first_name_th }} {{ patient.last_name_th }}</td>
        </tr>
        <tr>
          <th>Blood Group</th>
          <td>{{ patient.blood_group }} {{ patient.blood_group_rh }}</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>{{ patient.gender }}</td>
        </tr>
        <tr>
          <th>Nationality</th>
          <td>{{ patient.nationality }}</td>
        </tr>
        <tr>
          <th>Religion</th>
          <td>{{ patient.religion }}</td>
        </tr>
        <tr>
          <th>Marital Status</th>
          <td>{{ patient.marital_status }}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{ patient.address }}</td>
        </tr>
        <tr>
          <th>Address in Thailand</th>
          <td>{{ address }}</td>
        </tr>
        <tr>
          <th>Telephone</th>
          <td>{{ patient.telephone }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td style="text-transform: unset">{{ patient.email }}</td>
        </tr>
        <tr>
          <th>Date of Birth</th>
          <td>{{ parseDob }}</td>
        </tr>
        <tr>
          <th>Age</th>
          <td>{{ patient.dob | age }}</td>
        </tr>
        <tr>
          <th>Occupation</th>
          <td>{{ patient.occupation }}</td>
        </tr>
        <tr>
          <th>Drug Allergy</th>
          <td>{{ patient.drug_allergy }}</td>
        </tr>
        <tr>
          <th>Notify when emergecy: Name</th>
          <td>{{ patient.emergency_name }}</td>
        </tr>
        <tr>
          <th>Relation to patient</th>
          <td>{{ patient.emergency_relation }}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{ patient.emergency_address }}</td>
        </tr>
        <tr>
          <th>Telephone</th>
          <td>{{ patient.emergency_telephone }}</td>
        </tr>
        <tr>
          <th>How did you find us?</th>
          <td>{{ patient.clinic_discovery }}</td>
        </tr>
      </table>
    </div>


    <section id="card" class="section-no-print hide-on-screen">
      <div class="print-tag" v-for="n in 16">
        <div class="row">
          <div class="col-xs-3">
            <div class="print-tag_photo-box" style="margin-top:20px;">
              <img :src="img_url" width="80px" height="90px" v-if="img_url">
              <icon name="user" v-else-if="!img_url" scale="3"></icon>
            </div>
          </div>
          <div class="col-xs-9 print-tag_detail">
            <p>{{ patient.gender === 'male' ? 'Mr.' : patient.marital_status === 'married' ? 'Mrs.' : 'Ms.' }} {{ patient.first_name }} {{ patient.last_name }}</p>
            <p>Age: {{ patient.dob | age }} Gender: <span style="text-transform: uppercase">{{ patient.gender }}</span> DOB: {{ parseDob }} </p>
            <p>HN: <b>{{ patient.hospital_number_display }}</b> Blood group: {{ patient.blood_group }} {{ patient.blood_group_rh || '' }}</p>
            <p v-bind:class="{ red : patient.drug_allergy && patient.drug_allergy !== 'unknown' }" style="margin-bottom: 2px">Drug Allgery: {{ patient.drug_allergy }}</p>
            <div class="print-tag_detail_barcode">
              <div class="print-tag_detail_barcode_img">
                <svg id="barcode-id"></svg>
              </div>
              <!-- <p class="print-tag_detail_visited-date">Visited Date: {{ parseFirstVisitedDate }}</p> -->
            </div>
          </div>
        </div>
      </div>
      <!--
        <div class="pure-g print-tag" v-for="n in 18">
        <div class="pure-u-6-24">
        <div class="print-tag_photo-box">
        <img :src="img_url" width="80px" height="90px" v-if="img_url">
        <icon name="user" v-else-if="!img_url" scale="3"></icon>
        </div>
        </div>
        <div class="pure-u-18-24 print-tag_detail">
        <p>{{ patient.gender === 'male' ? 'Mr.' : patient.marital_status === 'married' ? 'Mrs.' : 'Ms.' }} {{ patient.first_name }} {{ patient.last_name }}</p>
        <p>Age: {{ patient.dob | age }} Gender: <span style="text-transform: uppercase">{{ patient.gender }}</span> DOB: {{ parseDob }} </p>
        <p>HN: <b>{{ patient.hospital_number_display }}</b> Blood group: {{ patient.blood_group }} {{ patient.blood_group_rh || '' }}</p>
        <p v-bind:class="{ red : patient.drug_allergy && patient.drug_allergy !== 'unknown' }" style="margin-bottom: 2px">Drug Allgery: {{ patient.drug_allergy }}</p>
        <div class="print-tag_detail_barcode">
        <div class="print-tag_detail_barcode_img">
        <svg id="barcode-id"></svg>
        </div>
        </div>
        </div>
        </div> -->
    </section>

    <section id="general" class="hide-on-screen section-no-print">
      <print-patient></print-patient>
    </section>

    <section id="patient-th" class="hide-on-screen section-no-print">
      <print-patient-th></print-patient-th>
    </section>

    <!-- START OF Modal for print function -->
    <div class="section-no-print">
      <col-modal v-if="showModal" @close="showModal = false">
        <h3 slot="header">Select document to print</h3>
        <div slot="body">
          <div style="margin-bottom: 20px">
            <button class="pure-button" v-on:click="printTable('card', 'portrait')">Patient Tag</button>
          </div>
          <div style="margin-bottom: 20px">
            <button class="pure-button" v-on:click="printTable('general', 'portrait')">Patient Detail(EN)</button>
          </div>
          <div style="margin-bottom: 20px">
            <button class="pure-button" v-on:click="printTable('patient-th', 'portrait')">Patient Detail(TH)</button>
          </div>
        </div>
        <button slot="footer" @click="showModal = false">Close</button>
      </col-modal>
    </div>
    <!-- END OF Modal for print function -->

    <!-- START OF VISIT MODAL-->
    <div class="section-no-print">
      <col-modal v-if="showVisitModal" @close="showVisitModal = false">
        <h3 slot="header">Select visit branch</h3>
        <div slot="body" class="row" style="margin: 2rem 0;">
          <div class="col-xs">
            <label for="branch_hospital" style="margin-right: 1rem;">
              <input id="branch_hospital" type="radio" name="select_branch" v-model="branch" value="1" />&nbsp;Hospital
            </label>
            <label for="branch_clinic">
              <input id="branch_clinic" type="radio" name="select_branch" v-model="branch" value="2" />&nbsp;Clinic
            </label>
          </div>
        </div>
        <div slot="footer">
          <button class="pure-button" @click="showVisitModal = false">Cancel</button>
          <button class="pure-button pure-button-primary" @click="newVisit">Submit</button>
        </div>
      </col-modal>
    </div>
    <!-- END OF VISIT MODAL-->

  </section>
</template>

<script>
import JsBarcode from 'jsbarcode'
import API from '../../../api'
import { rejectPatient } from '../../../api/patient'
import PrintPatient from './print-patient'
import PrintPatientTh from './print-patient-th'
import ColModal from '../../ui/col-modal'

import { createPatientVisit } from '@/api/visit'

export default {
  name: 'patient-detail-general-information',
  props: ['patient'],
  components: { PrintPatient, ColModal, PrintPatientTh },
  data () {
    return {
      id: '',
      // patient: this.$store.state.patient,
      showModal: false,
      showVisitModal: false,
      address: '',
      branch: 1
    }
  },
  mounted () {
    return this.assignPatientAddress()
  },
  methods: {
    editPatient () {
      this.$router.push({path: `/patient-detail/${this.patient.hospital_number}/edit`})
    },
    rejectPatient () {
      const answer = confirm('Are you sure you want to reject this patient?')
      if (!answer) return

      rejectPatient(this.patient.hospital_number).then(data => {
        // this.$store.commit('patientsLoad', { list: data })
        this.$router.push({path: `/patient-summary/rejected`})
      })
    },
    deletePatient () {
      const answer = confirm('Are you sure you want to PERMANENTLY delete this patient?')
      if (!answer) return

      API.deletePatient(this.patient.hospital_number).then(data => {
        this.$router.push({path: `/patient-summary/all`})
      }).catch(err => console.log(err))
    },
    undoRejectPatient () {
      API.undoRejectPatient(this.patient.hospital_number).then(data => {
        this.$router.push({path: `/patient-summary/all`})
      }).catch(err => console.log(err))
    },
    async printTable (event, page) {
      let css = `@page { size: ${page}; font-size: 12px; `

      const element = document.getElementById(event)
      if (event === 'card') {
        JsBarcode('#barcode-id', this.patient.hospital_number_display, {width: 1, height: 30, fontSize: 14, displayValue: false})
        css += 'margin: 2mm; '
      }
      css += '}'

      if (element) {
        element.classList.add('section-to-print')
        element.classList.remove('section-no-print')
      }

      const head = document.head || document.getElementsByTagName('head')[0]
      const style = document.createElement('style')

      style.type = 'text/css'
      style.media = 'print'

      if (style.styleSheet) {
        style.styleSheet.cssText = css
      } else {
        style.appendChild(document.createTextNode(css))
      }

      head.appendChild(style)
      // print function
      window.print()
      head.removeChild(head.lastChild)
      if (element) {
        element.classList.remove('section-to-print')
        element.classList.add('section-no-print')
      }
    },
    async assignPatientAddress () {
      const patient = this.patient

      if (patient.hotel || patient.hotel_id) {
        this.address = 'Hotel: '
        this.address += patient.hotel.hotel_name ? patient.hotel.hotel_name : 'Other'

        if (String(patient.hotel_id) === '99999') this.address = `Hotel: ${patient.address_th || 'Other'}`
      } else {
        this.address = patient.address_th
      }
    },
    navigateBack () {
      // this.$router.go(-1)
      this.$router.push('/patient-summary/all')
    },
    newVisit () {
      const patient = this.patient

      const patientId = patient.hospital_number
      const branchId = this.branch

      if (!patientId || !branchId) {
        alert('Missing required parameter(s)')
        return
      }

      return createPatientVisit(patientId, branchId).then(result => {
        this.showVisitModal = false

        if (result.status === 200) {
          const { visited_date, id } = result.data

          this.$router.push({
            path: 'visit/' + id,
            params: {
              visited_date,
              id,
              patient: this.patient
            }
          })
        }
      })
    }
  },
  computed: {
    parseDob () {
      return this.patient.dob ? this.moment(this.patient.dob).format('YYYY/MM/DD') : ''
    },
    img_url () {
      return this.patient.img_url ? API.assetUrl + this.patient.img_url : false
    },
    parseFirstVisitedDate () {
      return this.patient.first_visited_date ? this.moment(this.patient.first_visited_date).format('YYYY/MM/DD') : 'Unknown'
    }
  }
}

</script>
