<template>
  <section class="patient-info--wrapper content">
    <!-- START OF PATIENT INFO CARD -->
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <p class="text-left p1">
          HN: <strong>{{ patient.hospital_number_display }}</strong><br />
          Patient's name: <strong class="capitalize">{{ patient.first_name }} {{ patient.last_name }}</strong><br />
          Date of birth: <strong>{{ dob }}</strong>
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 mt1">
        <div class="patient-info--photo">
          <img v-if="imgUrl" :src="imgUrl" :alt="patient.first_name + ' ' + patient.last_name">
          <icon v-else name="user" scale="3"></icon>
        </div>
      </div>
      <div class="col-xs-12">
        <p>
          <button class="pure-button" @click="isTableActive = !isTableActive">
            See full detail <icon name="arrow-circle-down" style="vertical-align: sub; margin-left: 4px;"></icon>
          </button>
        </p>
      </div>
    </div>
    <!-- END OF PATIENT INFO CARD -->

    <!-- START OF PATIENT INFO TABLE CONTAINER -->
    <div class="patient-info--table" ref="patientInfoTable" v-bind:style="{ maxHeight: tableHeight + 'px'}">
      <div class="row my1">
        <div class="col-xs-12" v-if="!patient.deleted_status">
          <div class="row">
            <div class="col-xs-6 text-left">
              <router-link 
                class="pure-button" 
                :to="`/print/patient-register/${$route.params.patientId}`"
                target="_blank">
                <icon name="print"/>
              </router-link>
            </div>
            <div class="col-xs-6 text-right">
              <button class="pure-button" v-on:click="editPatient">Edit</button>
              <button class="pure-button button-error" v-on:click="rejectPatient">Reject</button>
            </div>
          </div>
        </div>
        <div class="col-xs-12" v-else>
          <button class="pure-button" v-on:click="undoRejectPatient" ><icon name="reply"></icon>&nbsp; Revert</button>
          <button class="pure-button button-error" v-on:click="deletePatient"><icon name="trash"></icon>&nbsp; Destroy</button>
        </div>
      </div>
      <!-- START OF PATIENT INFO TABLE -->
      <div class="row">
        <div class="col-xs-12">
          <table class="pure-table pure-table-bordered patient-table margin-bottom">
            <tr>
              <th>Hospital Number</th>
              <td>{{ patient.hospital_number_display }}</td>
            </tr>
            <tr>
              <th>First Visit Date</th>
              <td>{{ patient.first_visited_date ? moment(patient.first_visited_date).format('YYYY/MM/DD') : '' }}</td>
            </tr>
            <tr>
              <th>Id card/Passport Number</th>
              <td>{{ patient.id_number }}</td>
            </tr>
            <tr>
              <th>Full Name</th>
              <td>{{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}</td>
            </tr>
            <tr>
              <th>Name(TH)</th>
              <td>{{ patient.first_name_th }} {{ patient.last_name_th }}</td>
            </tr>
            <tr>
              <th>Blood Group</th>
              <td>{{ patient.blood_group }} {{ patient.blood_group_rh }}</td>
            </tr>
            <tr>
              <th>Gender</th>
              <td>{{ patient.gender }}</td>
            </tr>
            <tr>
              <th>Nationality</th>
              <td>{{ patient.nationality }}</td>
            </tr>
            <tr>
              <th>Religion</th>
              <td>{{ patient.religion }}</td>
            </tr>
            <tr>
              <th>Marital Status</th>
              <td>{{ patient.marital_status }}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{ patient.address }}</td>
            </tr>
            <tr>
              <th>Address in Thailand</th>
              <td>{{ parsedAddress }}</td>
            </tr>
            <tr>
              <th>Telephone</th>
              <td>{{ patient.telephone }}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td style="text-transform: unset">{{ patient.email }}</td>
            </tr>
            <tr>
              <th>Age</th>
              <td>{{ patient.dob | age }}</td>
            </tr>
            <tr>
              <th>Occupation</th>
              <td>{{ patient.occupation }}</td>
            </tr>
            <tr>
              <th>Drug Allergy</th>
              <td>{{ patient.drug_allergy }}</td>
            </tr>
            <tr>
              <th>Notify when emergecy: Name</th>
              <td>{{ patient.emergency_name }}</td>
            </tr>
            <tr>
              <th>Relation to patient</th>
              <td>{{ patient.emergency_relation }}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{ patient.emergency_address }}</td>
            </tr>
            <tr>
              <th>Telephone</th>
              <td>{{ patient.emergency_telephone }}</td>
            </tr>
            <tr>
              <th>How did you find us?</th>
              <td>{{ patient.clinic_discovery }}</td>
            </tr>
            <tr>
              <th>Note</th>
              <td style="text-transform: unset">{{ patient.note }}</td>
            </tr>
          </table>
        </div>
        <!-- END OF PATIENT INFO TABLE -->
      </div>
    </div>
    <!-- END OF PATIENT INFO TABLE CONTAINER -->
  </section>
</template>

<script>
import { rejectPatient } from '@/api/patient'
import API from '@/api'
import { Base64 } from 'js-base64'

const ASSET_URL = process.env.ASSET_URL
const PRINT_URL = process.env.PRINT_URL

export default {
  name: 'patient-general-information-tab',
  data () {
    return {
      isTableActive: false,
      tableHeight: 0,
      showPrintModal: false
    }
  },
  watch: {
    isTableActive: function (val) {
      if (val) {
        this.tableHeight = this.$refs.patientInfoTable.scrollHeight
      } else {
        this.tableHeight = 0
      }
    }
  },
  computed: {
    patient () {
      return this.$store.state.patient
    },
    dob () {
      return this.patient.dob ? this.moment(this.patient.dob).format('YYYY/MM/DD') : ''
    },
    imgUrl () {
      return this.patient.img_url ? ASSET_URL + this.patient.img_url : false
    },
    parsedAddress () {
      const patient = this.patient
      let address = ''

      if (patient.hotel || patient.hotel_id) {
        address = 'Hotel: '
        address += patient.hotel.hotel_name ? patient.hotel.hotel_name : 'Other'

        if (String(patient.hotel_id) === '99999') address = `Hotel: ${patient.address_th || 'Other'}`
      } else {
        address = patient.address_th
      }

      return address
    }
  },
  methods: {
    editPatient () {
      const patientId = this.patient.hospital_number

      this.$router.push({path: `/patient-detail/${patientId}/edit`})
    },
    rejectPatient () {
      const answer = confirm('Are you sure you want to reject this patient record?')
      if (!answer) return

      const patientId = this.patient.hospital_number
      const patientHospitalNumberDisplay = this.patient.hospital_number_display

      return rejectPatient(patientId).then(data => {
        alert(`Rejected Patient#${patientHospitalNumberDisplay} successfully`)

        this.$router.push({path: `/patient-summary/rejected`})
      })
    },
    deletePatient () {
      const answer = confirm('Are you sure you want to PERMANENTLY delete this patient?')
      if (!answer) return

      const patientId = this.patient.hospital_number
      const patientHospitalNumberDisplay = this.patient.hospital_number_display

      return API.deletePatient(patientId).then(data => {
        alert(`Deleted Patient#${patientHospitalNumberDisplay} successfully`)

        this.$router.push({path: `/patient-summary/all`})
      }).catch(err => console.log(err))
    },
    undoRejectPatient () {
      const patientId = this.patient.hospital_number

      return API.undoRejectPatient(patientId).then(data => {
        this.$router.push({path: `/patient-summary/all`})
      }).catch(err => console.log(err))
    },
    printPatientInfo () {
      const isSafari = navigator.vendor && navigator.vendor.indexOf('Apple') > -1 &&
               navigator.userAgent &&
               navigator.userAgent.indexOf('CriOS') === -1 &&
               navigator.userAgent.indexOf('FxiOS') === -1
      if (isSafari) {
        alert('Safari browser does not support page margin. Please consider using Chrome or Firefox to print this document')
        return
      }

      const patientId = this.patient.hospital_number
      const obj = JSON.stringify({ patientId })
      const hash = Base64.encode(obj)

      return window.open(PRINT_URL + '/' + hash)
    }
  }
}

</script>
