<template>
  <div class="pure-g">
    <div style="padding-bottom:8px;">
      <div class="pure-u-1-5">
        <img src="/static/worldmed-logo.png" alt="worldmed clinic logo" width=60%>
      </div>
      <div class="pure-u-3-5">
        <h3>ใบลงทะเบียนสำหรับผู้ป่วย</h3>
      </div>
      <div class="pure-u-1-5">
        <!-- <div style="border:3px solid black;height:80px;width:70px; position: absolute;top: 5px;right: 20px;" @change="previewImage"> -->
        <div style="border:3px solid black;height:120px;width:100px;">
          <img v-if="profileImg" width="100px" height="120px" :src="profileImg">
        </div>
      </div>
    </div>
    <div class="pure-u-1" align="right" style="padding-bottom:5px;">
      HN<u>  {{ patient.hospital_number_display }}  </u>Date<u> {{ created_date }} </u>Time<u> {{ created_time }} </u>
    </div>
    <table width=100% summary="Patient Detail PDF">
      <tbody>
        <tr>
          <td width=100% colspan="2">
            <div class="pure-g">
              <div class="pure-u-1-3" v-bind:class="{ red : patient.drug_allergy && patient.drug_allergy !== 'unknown' }">
                <p class="m-top4 m-top4">ประวัติการแพ้ยา</p>
                <p><u>{{ patient.drug_allergy }}</u></p>
              </div>
              <div class="pure-u-1-3">
                <p class="m-top4 m-top4">กรุ๊ปเลือด</p>
                <p><u>{{ patient.blood_group }}{{ patientBloodGroupRh }}</u></p>
              </div>
              <div class="pure-u-1-3">
                <p class="m-top4 m-top4">เลขที่ับัตรประชาชน/ต่างด้าว</p>
                <p><u>{{ patient.id_number }}</u></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td width=100% colspan="2">
            <div class="pure-g p-top6 p-bot6">
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6">ชื่อผู้ป่วย</p>
              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6" align="left"><u> {{ patientTitle }} {{ patient.first_name_th || patient.first_name }} </u></p>
              </div>
              <div class="pure-u-1-2">

              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6">ชื่อกลาง</p>
              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6" align="left"><u>{{ patient.middle_name }}</u></p>
              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6">นามสกุล</p>
              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6" align="left"><u>{{ patient.last_name_th || patient.last_name }}</u></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td width=100% colspan="2">
            <div class="pure-g">
              <div class="pure-u-1-6">
                <p class="m-top6 m-bot6">เพศ</p>
              </div>
              <div class="pure-u-1-6">
                <p class="m-top6 m-bot6" align="left"><u>  {{ patient.gender === 'male' ? 'ชาย' : 'หญิง'}}  </u></p>
              </div>
              <div class="pure-u-1-6">
                <p class="m-top6 m-bot6">วันเดือนปีเกิด</p>
              </div>
              <div class="pure-u-1-6">
                <p class="m-top6 m-bot6" align="left"><u>  {{ parseDob }}  </u></p>
              </div>
              <div class="pure-u-3-24">
                <p class="m-top6 m-bot6">อายุ</p>
              </div>
              <div class="pure-u-5-24">
                <p class="m-top6 m-bot6" align="left"><u>  {{ patient.dob | age }}  </u></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td width=100% colspan="2">
            <div class="pure-g">
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6">สถานภาพสมรส</p>
              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6" align="left"><u>  {{ patient.marital_status }}  </u></p>
              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6">สัญชาติ</p>
              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6" align="left"><u>  {{ patient.nationality }}  </u></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-1-2">
                <p class="m-top6 m-bot6">ศาสนา</p>
              </div>
              <div class="pure-u-1-2">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.religion }}</u></p>
              </div>
            </div>
          </td>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-1-2">
                <p class="m-top6 m-bot6">อาชีพ</p>
              </div>
              <div class="pure-u-1-2">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.occupation }}</u></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td width=100% colspan="2">
            <div class="pure-g">
              <div class="pure-u-1-3" style="margin-bottom:20px">
                <p class="m-top6 m-bot6">ที่อยู่ปัจจุบัน</p>
              </div>
              <div class="pure-u-2-3">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.address }}</u></p>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-1-2">
                <p class="m-top6 m-bot6">โทรศัพท์</p>
              </div>
              <div class="pure-u-1-2">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.telephone }}</u></p>
              </div>
            </div>
          </td>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-1-3">
                <p class="m-top6 m-bot6">อีเมลล์</p>
              </div>
              <div class="pure-u-2-3">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.email }}</u></p>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td width=100% colspan="2">
            <div class="pure-g">
              <div class="pure-u-1-3" style="margin-bottom:20px">
                <p class="m-top6 m-bot6">ที่พำนักในประเทศไทย</p>
              </div>
              <div class="pure-u-2-3">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.hotel && patient.hotel.hotel_name ? `โรงแรม: ${patient.hotel.hotel_name}` : patient.address_th }}</u></p>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td width=100% colspan="2">
            <div class="pure-g">
              <div class="pure-u-1-3">
                <p class="m-top6 m-bot6">ชื่อบริษัทประกัน</p>
              </div>
              <div class="pure-u-2-3">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.insurance_name }}</u></p>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-14-24">
                <p class="m-top6 m-bot6">บุคคลที่ติดต่อได้ในกรณีฉุกเฉิน</p>
              </div>
              <div class="pure-u-10-24">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.emergency_name }}</u></p>
              </div>
            </div>
          </td>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-1-2">
                <p class="m-top6 m-bot6">ความสัมพันธ์กับผู้ป่วย</p>
              </div>
              <div class="pure-u-1-2">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.emergency_relation }}</u></p>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-14-24">
                <p class="m-top6 m-bot6">ที่อยู่ของบุคคลที่ติดต่อได้ใน<br/>กรณีฉุกเฉิน</p>
              </div>
              <div class="pure-u-10-24">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.emergency_address }}</u></p>
              </div>
            </div>
          </td>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-1-2">
                <p class="m-top6 m-bot6">โทรศัพท์</p>
              </div>
              <div class="pure-u-1-2">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.emergency_telephone }}</u></p>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <div class="pure-g">
              <div class="pure-u-1">
                <p class="m-top6 m-bot6" style="margin-left:20px;" align="left">คุณค้นพบเราได้อย่างไร</p>
              </div>
              <div class="pure-u-1">
                <p class="m-top6 m-bot6" style="margin-left:20px;" align="left"><u>{{ clinic_discovery }}</u></p>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pure-g" style="padding-top:20px">
      <div class="pure-u-1" style="font-size: 16px; line-height: normal;">
        <p class="m-top6 m-bot6" align="left">
          ข้าพเจ้าขอรับรองว่าข้อความข้างต้นเป็นความจริงทุกประการ.
        </p>
        <p align="left">
          ลงชื่อ (ลายเซ็นต์)..............................ผู้ป่วย / ญาติผู้ป่วย&nbsp;:ความสัมพันธ์กับผู้ป่วย..................................
        </p>
        <p align="left">
          (ตัวบรรจง)......................................................
        </p>
        <p style="padding-top: 20px" align="right">ชื่อเจ้าหน้าที่ .........................................</p>
        <p align="right">วันที่ ............................................</p>
      </div>
    </div>
  </div>
</template>
<script>
import API from '../../../api'

export default {
  name: 'print-patient-th',
  data () {
    return {
      id: '',
      patient: '',
      created_time: '',
      created_date: ''
    }
  },
  created () {
    this.patient = this.$store.state.patient
    // this.created_date = this.moment(this.patient.created_at).format('YYYY/MM/DD')
    // this.created_time = this.moment(this.patient.created_at).format('HH:m')
    this.created_date = this.moment().format('YYYY/MM/DD')
    this.created_time = this.moment().format('HH:m')
  },
  mounted: function () {
    // JsBarcode('#barcode-id', this.patient.hospital_number)
  },
  methods: {
    printTable: function (page) {
      const css = `@page { size: ${page}; font-size: 14px; }`
      const head = document.head || document.getElementsByTagName('head')[0]
      const style = document.createElement('style')

      style.type = 'text/css'
      style.media = 'print'

      if (style.styleSheet) {
        style.styleSheet.cssText = css
      } else {
        style.appendChild(document.createTextNode(css))
      }

      head.appendChild(style)
      // print function
      window.print()
      head.removeChild(head.lastChild)
    }
  },
  computed: {
    profileImg () {
      const n = this.patient.img_url ? API.assetUrl + this.patient.img_url : false
      return n
    },
    clinic_discovery () {
      return this.patient.clinic_discovery ? this.patient.clinic_discovery.split().join(', ') : null
    },
    parseDob () {
      return this.patient.dob ? this.moment(this.patient.dob).format('YYYY/MM/DD') : ''
    },
    patientTitle () {
      return this.patient.gender === 'male' ? 'นาย ' : this.patient.marital_status === 'married' ? 'นาง ' : 'นางสาว '
    },
    patientBloodGroupRh () {
      return this.patient.blood_group_rh ? (this.patient.blood_group_rh === 'Rh+' ? '+' : '-') : ''
    }
  }
}

</script>

