<template>
  <div class="pure-g">
    <div style="padding-bottom:8px;">
      <div class="pure-u-1-5">
        <img src="/static/worldmed-logo.png" alt="worldmed clinic logo" width=60%>
      </div>
      <div class="pure-u-3-5">
        <h3>Patient Registration Form</h3>
      </div>
      <div class="pure-u-1-5">
        <!-- <div style="border:3px solid black;height:80px;width:70px; position: absolute;top: 5px;right: 20px;" @change="previewImage"> -->
        <div style="border:3px solid black;height:120px;width:100px;">
          <img v-if="profileImg" width="100px" height="120px" :src="profileImg">
        </div>
      </div>
    </div>
    <div class="pure-u-1" align="right" style="padding-bottom:5px;">
      HN<u>  {{ patient.hospital_number_display }}  </u>Date<u> {{ created_date }} </u>Time<u> {{ created_time }} </u>
    </div>
    <table width=100% summary="Patient Detail PDF">
      <tbody>
        <tr>
          <td width=100% colspan="2">
            <div class="pure-g">
              <div class="pure-u-1-3" v-bind:class="{ red : patient.drug_allergy && patient.drug_allergy !== 'unknown' }">
                <p class="m-top4 m-top4">Drug Allergy</p>
                <p><u>{{ patient.drug_allergy }}</u></p>
              </div>
              <div class="pure-u-1-3">
                <p class="m-top4 m-top4">Blood Group</p>
                <p><u>{{ patient.blood_group }}{{ patientBloodGroupRh }}</u></p>
              </div>
              <div class="pure-u-1-3">
                <p class="m-top4 m-top4">ID Card / Passport No.</p>
                <p><u>{{ patient.id_number }}</u></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td width=100% colspan="2">
            <div class="pure-g p-top6 p-bot6">
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6">First Name</p>
              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6" align="left"><u> {{ patientTitle }} {{ patient.first_name }} </u></p>
              </div>
              <div class="pure-u-1-2">

              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6">Middle Name</p>
              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6" align="left"><u>{{ patient.middle_name }}</u></p>
              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6">Family Name</p>
              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6" align="left"><u>{{ patient.last_name }}</u></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td width=100% colspan="2">
            <div class="pure-g">
              <div class="pure-u-1-6">
                <p class="m-top6 m-bot6">Sex</p>
              </div>
              <div class="pure-u-1-6">
                <p class="m-top6 m-bot6" align="left"><u>  {{ patient.gender }}  </u></p>
              </div>
              <div class="pure-u-1-6">
                <p class="m-top6 m-bot6">Date of Birth</p>
              </div>
              <div class="pure-u-1-6">
                <p class="m-top6 m-bot6" align="left"><u>  {{ parseDob }}  </u></p>
              </div>
              <div class="pure-u-3-24">
                <p class="m-top6 m-bot6">Age</p>
              </div>
              <div class="pure-u-5-24">
                <p class="m-top6 m-bot6" align="left"><u>  {{ patient.dob | age }}  </u></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td width=100% colspan="2">
            <div class="pure-g">
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6">Marital Status</p>
              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6" align="left"><u>  {{ patient.marital_status }}  </u></p>
              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6">Nationality</p>
              </div>
              <div class="pure-u-1-4">
                <p class="m-top6 m-bot6" align="left"><u>  {{ patient.nationality }}  </u></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-1-2">
                <p class="m-top6 m-bot6">Religion</p>
              </div>
              <div class="pure-u-1-2">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.religion }}</u></p>
              </div>
            </div>
          </td>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-1-2">
                <p class="m-top6 m-bot6">Occupation</p>
              </div>
              <div class="pure-u-1-2">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.occupation }}</u></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td width=100% colspan="2">
            <div class="pure-g">
              <div class="pure-u-1-3" style="margin-bottom:20px">
                <p class="m-top6 m-bot6">Home Address</p>
              </div>
              <div class="pure-u-2-3">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.address }}</u></p>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-1-2">
                <p class="m-top6 m-bot6">Phone Number</p>
              </div>
              <div class="pure-u-1-2">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.telephone }}</u></p>
              </div>
            </div>
          </td>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-1-3">
                <p class="m-top6 m-bot6">Email Address</p>
              </div>
              <div class="pure-u-2-3">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.email }}</u></p>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td width=100% colspan="2">
            <div class="pure-g">
              <div class="pure-u-1-3" style="margin-bottom:20px">
                <p class="m-top6 m-bot6">Present Address in Thailand</p>
              </div>
              <div class="pure-u-2-3">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.hotel && patient.hotel.hotel_name ? `Hotel: ${patient.hotel.hotel_name}` : patient.address_th }}</u></p>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td width=100% colspan="2">
            <div class="pure-g">
              <div class="pure-u-1-3">
                <p class="m-top6 m-bot6">Insurance Name</p>
              </div>
              <div class="pure-u-2-3">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.insurance_name }}</u></p>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-14-24">
                <p class="m-top6 m-bot6">Notify in Emergency:Name</p>
              </div>
              <div class="pure-u-10-24">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.emergency_name }}</u></p>
              </div>
            </div>
          </td>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-1-2">
                <p class="m-top6 m-bot6">Relation to Patient</p>
              </div>
              <div class="pure-u-1-2">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.emergency_relation }}</u></p>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-14-24">
                <p class="m-top6 m-bot6">Adress</p>
              </div>
              <div class="pure-u-10-24">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.emergency_address }}</u></p>
              </div>
            </div>
          </td>
          <td width=50%>
            <div class="pure-g">
              <div class="pure-u-1-2">
                <p class="m-top6 m-bot6">Phone Number</p>
              </div>
              <div class="pure-u-1-2">
                <p align="left" class="m-top6 m-bot6"><u>{{ patient.emergency_telephone }}</u></p>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <div class="pure-g">
              <div class="pure-u-1">
                <p class="m-top6 m-bot6" style="margin-left:20px;" align="left">How did you find us?</p>
              </div>
              <div class="pure-u-1">
                <p class="m-top6 m-bot6" style="margin-left:20px;" align="left"><u>{{ clinic_discovery }}</u></p>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pure-g" style="padding-top: 20px">
      <div class="pure-u-1" style="font-size: 16px; line-height: normal;">
        <p class="m-top6 m-bot6" align="left">
          I certify that information provided above are correct.
        </p>
        <p align="left">
          Signature..................................Patient, Relative  &nbsp;:Relationship to patient...........................
        </p>
        <p align="left">
          Name in Block Letter................................................
        </p>
        <p style="padding-top: 20px" align="right">Staff Name ..............................................</p>
        <p align="right">Date ..............................................</p>
      </div>
    </div>
  </div>
</template>
<script>
import API from '../../../api'

export default {
  name: 'print-patient',
  data () {
    return {
      id: '',
      patient: '',
      created_time: '',
      created_date: ''
    }
  },
  created () {
    this.patient = this.$store.state.patient
    // this.created_date = this.moment(this.patient.created_at).format('YYYY/MM/DD')
    // this.created_time = this.moment(this.patient.created_at).format('HH:m')
    this.created_date = this.moment().format('YYYY/MM/DD')
    this.created_time = this.moment().format('HH:m')
  },
  mounted: function () {
    // JsBarcode('#barcode-id', this.patient.hospital_number)
  },
  methods: {
    printTable: function (page) {
      const css = `@page { size: ${page}; font-size: 14px; }`
      const head = document.head || document.getElementsByTagName('head')[0]
      const style = document.createElement('style')

      style.type = 'text/css'
      style.media = 'print'

      if (style.styleSheet) {
        style.styleSheet.cssText = css
      } else {
        style.appendChild(document.createTextNode(css))
      }

      head.appendChild(style)
      // print function
      window.print()
      head.removeChild(head.lastChild)
    }
  },
  computed: {
    profileImg () {
      const n = this.patient.img_url ? API.assetUrl + this.patient.img_url : false
      return n
    },
    clinic_discovery () {
      return this.patient.clinic_discovery ? this.patient.clinic_discovery.split().join(', ') : null
    },
    parseDob () {
      return this.patient.dob ? this.moment(this.patient.dob).format('YYYY/MM/DD') : ''
    },
    patientTitle () {
      return this.patient.gender === 'male' ? 'Mr.' : this.patient.marital_status === 'married' ? 'Mrs.' : 'Ms.'
    },
    patientBloodGroupRh () {
      return this.patient.blood_group_rh ? (this.patient.blood_group_rh === 'Rh+' ? '+' : '-') : ''
    }
  }
}

</script>
