<template>
  <section style="min-height: 150px">
    <div class="visit--loading-mask" v-if="loading">
      <icon name="refresh" scale="5" spin></icon>
    </div>

    <div class="row">
      <div class="col-xs">
        <div class="form-tab-container mt3">

          <div class="tab-wrapper">
            <div class="visit--tab-btn-group">
              <a href="javascript:void(0)" class="visit--tab-btn"
                v-bind:class="{'active': activeHeaderTabIndex === 0}"
                @click.prevent="switchHeaderTab(0, FORM_OPD)">
                OPD
              </a>
              <a href="javascript:void(0)" class="visit--tab-btn"
                v-bind:class="{'active': activeHeaderTabIndex === 1}"
                @click.prevent="switchHeaderTab(1, FORM_IPD)">
                IPD
              </a>
              <a href="javascript:void(0)" class="visit--tab-btn"
                v-bind:class="{'active': activeHeaderTabIndex === 2}"
                @click.prevent="switchHeaderTab(2, FORM_REFER)">
                Refer
              </a>
              <a href="javascript:void(0)" class="visit--tab-btn"
                v-bind:class="{'active': activeHeaderTabIndex === 3}"
                @click.prevent="switchHeaderTab(3, FORM_OTHER)">
                Others
              </a>
              <a href="javascript:void(0)" class="visit--tab-btn"
                v-bind:class="{'active': activeHeaderTabIndex === 4}"
                @click.prevent="switchHeaderTab(4, FORM_INVOICE)">
                Invoice
              </a>
              <!-- <a @click.prevent="currentForm = null; activeHeaderTabIndex = 999; action = null;"
                href="javascript:void(0)" class="visit--tab-btn"
                title="Add new form"
                v-bind:class="{'active': activeHeaderTabIndex === 999}">
                +
              </a> -->
            </div>

            <div class="visit--tab-head-detail">
              <!-- START OF child button group -->
              <div class="visit--tab-wrapper" v-if="activeHeaderTabIndex !== 999">
                <div class="visit--tab-btn-group horizon">
                  <a v-for="(key, index) in selectedHeaderForm"
                    href="javascript:void(0)" class="visit--tab-btn"
                    @click.prevent="switchTab(index, key.id, key.form_id);"
                    v-bind:class="{
                      'active-form': activeTabIndex === index,
                      'has-id': key.id,
                      'pending': key.pending_yn
                      }">
                    {{ key.name }}
                    <!-- <span v-if="key.id" class="blue"><icon name="check-circle" style="vertical-align: top;"></icon></span> -->
                    <span v-if="key.pending_yn"><icon name="exclamation-circle" style="vertical-align: top; color: red;"></icon></span>
                  </a>
                  <!-- <a v-for="(visitForm, index) in forms" v-if="forms && forms.length && selectedHeaderForm[visitForm.form_id]"
                    href="javascript:void(0)" class="visit--tab-btn"
                    @click.prevent="switchTab(index, visitForm.id, visitForm.form_id);"
                    v-bind:class="{'active': activeTabIndex === index}">
                    {{ FORM_NAME[visitForm.form_id] }}
                    <span v-if="visitForm.pending_yn"><icon name="exclamation-circle" style="vertical-align: top; color: red;"></icon></span>
                  </a> -->
                  <router-link class="visit--tab-btn" v-if="activeHeaderTabIndex === 4"
                    v-for="(invoice, index) in invoices" :key="index"
                    :to="'/invoices/' + invoice.id"
                  >
                    Invoice#{{ index + 1 }}
                  </router-link>
                </div>
              </div>
              <!-- END OF child button group -->
              <!-- START OF new section -->
              <div class="col-xs" v-else>
                <span>Create a new form from the lists</span>
                <form class="pure-form pure-form-stacked">
                  <div class="row text-left">
                    <div class="col-xs-6 col-sm-3">
                      <label for="opd">OPD</label>
                      <select id="opd" v-model="opdAction" @change="newActionComponent(opdAction, 'opdAction')" class="pure-input-1">
                        <option selected readonly :value="null">- Select form -</option>
                        <option v-for="formId in Object.keys(FORM_OPD)" :value="formId">{{ FORM_OPD[formId] }}</option>
                      </select>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                      <label for="ipd">IPD</label>
                      <select id="ipd" v-model="ipdAction" @change="newActionComponent(ipdAction, 'ipdAction')" class="pure-input-1">
                        <option selected readonly :value="null">- Select form -</option>
                        <option v-for="formId in Object.keys(FORM_IPD)" :value="formId">{{ FORM_IPD[formId] }}</option>
                      </select>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                      <label for="other">Other</label>
                      <select id="other" v-model="otherAction" @change="newActionComponent(otherAction, 'otherAction')" class="pure-input-1">
                        <option selected readonly :value="null">- Select form -</option>
                        <option v-for="formId in Object.keys(FORM_OTHER)" :value="formId">{{ FORM_OTHER[formId] }}</option>
                      </select>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                      <label for="invoice">Invoice</label>
                      <select id="invoice" v-model="invoiceAction" @change="newActionComponent(invoiceAction, 'invoiceAction')" class="pure-input-1">
                        <option selected readonly :value="null">- Select form -</option>
                        <option v-for="formId in Object.keys(FORM_INVOICE)" :value="formId">{{ FORM_INVOICE[formId] }}</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
              <!-- END OF new section -->

              <!-- START OF visit-tab-detail -->
              <div class="visit--tab-detail">

                <div style="padding: 10px 20px;">
                  <!-- dynamic form component -->
                  <component :is="currentForm"
                    :patient="formData"
                    :isEdit="isEdit"
                    :isApprove="isApprove"
                    :user="formUser"
                    :approveUser="approveUser"
                    :visitFormId="visitFormId"
                    :visitId="visitId"
                    :nursingAssessmentData="nursingAssessmentData"
                    :opdCardData="opdCardData"
                    v-on:submit="formSubmitHandler"
                    >
                  </component>
                  <!-- dynamic form component -->
                </div>
              </div>
              <!-- END OF visit--tab-detail -->

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { getVisitForms, getVisitFormById, createVisitForm, editVisitForm, deleteVisitForm, approveVisitForm } from '@/api/visit-form'
import { FORM_NAME, FORM_PATH, FORM_OPD, FORM_IPD, FORM_INVOICE, FORM_REFER, FORM_OTHER } from '@/components/forms/index'
import { getMedCerInfo, getOpdCardInfo } from '@/api/visit'
import { getInvoicesByVisitId } from '@/api/invoice'
import _ from 'lodash'

export default {
  name: 'patient-visit-detail-tab',
  props: ['visitId', 'patient'],
  data () {
    return {
      forms: null,
      currentForm: null,
      formData: null,
      formUser: null,
      approveUser: null,
      //
      isEdit: true,
      isApprove: false,
      newAction: false,
      action: null,
      activeTabIndex: null,
      activeHeaderTabIndex: null,
      selectedHeaderForm: {},
      visitFormId: null,
      nursingAssessmentData: null,
      opdCardData: null,
      //
      FORM_NAME,
      FORM_OPD,
      FORM_IPD,
      FORM_INVOICE,
      FORM_OTHER,
      FORM_REFER,
      opdAction: null,
      ipdAction: null,
      invoiceAction: null,
      otherAction: null,
      loading: false,
      //
      invoices: null
    }
  },
  created () {
    this.formData = Object.assign({}, this.patient)
    return Promise.all([this.getVisitForms(this.visitId), this.getInvoicesByVisitId(this.visitId)])
  },
  methods: {
    emitPendingStatusEvent (data) {
      // isPending var check for pending_yn
      let isPending = false

      if (data && data.length) {
        data.forEach(d => {
          if (d.pending_yn) isPending = true
        })
      }

      // emit event to visit-summary component to update pending status tab
      this.$emit('visit-form-update', { visitId: this.visitId, isPending })
    },
    getVisitForms (visitId) {
      if (!visitId) return

      this.loading = true
      return getVisitForms(visitId).then(results => {
        this.loading = false
        // reset activeTabIndex
        this.activeHeaderTabIndex = null
        this.activeTabIndex = null

        if (results && results.status === 200) {
          const data = results.data
          this.forms = data

          // call emit event function
          this.emitPendingStatusEvent(data)

          setTimeout(() => {
            this.clickFormTab(this.forms)
          }, 100)
        }
      })
    },
    getInvoicesByVisitId (visitId) {
      return getInvoicesByVisitId(visitId).then(result => {
        if (result && result.status === 200) {
          this.invoices = result.data
        }
      })
    },
    switchHeaderTab (index, selected) {
      this.activeHeaderTabIndex = index
      const forms = {}
      Object.keys(selected).forEach(form => { forms[form] = { form_id: form, name: selected[form].name, id: null, pending_yn: false, order: selected[form].order } })
      this.forms && this.forms.length && this.forms.forEach(form => {
        if (forms && forms[form.form_id]) {
          forms[form.form_id].id = form.id
          forms[form.form_id].pending_yn = form.pending_yn
        }
      })

      const formArr = Object.keys(forms).map(key => forms[key]).sort((a, b) => a.order - b.order)
      this.selectedHeaderForm = formArr.slice(0)
      this.currentForm = null
      this.activeTabIndex = null
    },
    async switchTab (index, visitFormId, formId) {
      // do nothing if active index is the same
      if (this.activeTabIndex === index) return

      this.activeTabIndex = index

      if (!visitFormId && formId) return this.newActionComponent(formId)

      this.loading = true
      if (!visitFormId || !formId) {
        console.debug('Missing parameter(s): visitFormId, formId', visitFormId, formId)
        alert('Error occurred. Missing parameter(s): visit form id, form id')
        this.loading = false
        return
      }

      // let forms = (await getVisitForms(this.visitId)).data
      // console.log(forms)
      // let nursingId = (_.find(forms, form => {
      //   return form.form_id === 4
      // })).id
      // this.nursingAssessmentData = JSON.parse((await getVisitFormById(nursingId)).data.data)
      // console.log(nursingId)
      try {
        let forms = (await getVisitForms(this.visitId)).data
        let nursingRec = (_.find(forms, form => {
          return form.form_id === 4
        }))
        if (nursingRec) {
          let nursingId = nursingRec.id
          this.nursingAssessmentData = JSON.parse((await getVisitFormById(nursingId)).data.data)
        }
      } catch (error) {
        alert(error.message, ': nursing assessment not found')
      }
      try {
        let opdForms = (await getVisitForms(this.visitId)).data
        let opdCardRec = (_.find(opdForms, form => {
          return form.form_id === 2
        }))
        if (opdCardRec) {
          let opdCardId = opdCardRec.id
          this.opdCardData = JSON.parse((await getVisitFormById(opdCardId)).data.data)
        }
      } catch (error) {
        alert(error.message, ': opd card not found')
      }
      // this.newAction = false
      this.isEdit = true
      this.currentForm = null
      return this.getVisitFormById(visitFormId).then(() => {
        this.loading = false

        const currentForm = FORM_PATH[formId]
        this.currentForm = currentForm
      })
    },
    getVisitFormById (visitFormId) {
      // clear data in form component
      this.formUser = null
      this.approveUser = null
      this.formData = null
      this.isApprove = false

      this.visitFormId = visitFormId

      return getVisitFormById(visitFormId).then(result => {
        if (result && result.status === 200) {
          const data = result.data

          // form got deleted, reload the data
          if (!data) return this.getVisitForms(this.visitId)
          const formData = JSON.parse(data.data)
          if (data.billableVisitForms && data.billableVisitForms.length) {
            formData.treatment_procedure = data.billableVisitForms
          }

          if (data.productVisitForms && data.productVisitForms.length) {
            formData.medication_procedure = data.productVisitForms
          }

          this.formData = formData
          this.formUser = JSON.parse(JSON.stringify({
            id: data.user_id,
            name: data.user.first_name + ' ' + data.user.last_name
          }))

          if (data.approve_user) {
            this.approveUser = JSON.parse(JSON.stringify({
              id: data.approve_user_id,
              name: data.approve_user.first_name + ' ' + data.approve_user.last_name
            }))
          }
          // approve_yn field boolean
          this.isApprove = !!data.approve_yn

          // update newly retrieved data to existing forms object
          this.forms.forEach(d => {
            if (d.id === data.id) d.pending_yn = !this.isApprove
          })
          this.emitPendingStatusEvent(this.forms)

          return
        }
      })
    },
    formSubmitHandler (obj) {
      // reload get forms endpoint after there is a create/update/delete event call
      const { action, body, visitFormId } = obj
      if (!action) return

      switch (action) {
        case 'create':
          return this.createVisitForm(body)
        case 'edit':
          return this.editVisitForm(visitFormId, body)
        case 'delete':
          return this.deleteVisitForm(visitFormId)
        case 'approve':
          return this.approveVisitForm(visitFormId)
        default:
          break
      }
    },
    newActionComponent (action, actionName) {
      this.loading = true
      // TODO: remove this deprecated 'actionName' chunk
      /* if (actionName) {
        const actions = ['opdAction', 'ipdAction', 'invoiceAction', 'otherAction']
        const nonSelectedActions = actions.filter(a => a !== actionName)
        // null vale for the other dropdowns
        nonSelectedActions.forEach(n => {
          this[n] = null
        })
      } */
      // '+' tab is seleceted
      // create prop
      this.visitFormId = null
      this.isEdit = false
      this.isApprove = false
      // override patient prop with patient data
      this.formData = Object.assign({}, this.patient)

      if (action === '1') { // medical certificate
        // link data is done from the backend
        getMedCerInfo(this.visitId).then(data => {
          this.formData = Object.assign(data, this.patient)

          const currentForm = FORM_PATH[action]
          this.currentForm = currentForm
        })
      } else if (action === '2') {
        getOpdCardInfo(this.visitId).then(data => {
          this.formData = Object.assign(data, this.patient)

          const currentForm = FORM_PATH[action]
          this.currentForm = currentForm
        })
      } else {
        // fetch other form component
        const currentForm = FORM_PATH[action]
        this.currentForm = currentForm
      }
      this.loading = false
    },
    createVisitForm (data) {
      return createVisitForm(data).then(result => {
        if (result && result.status === 200) {
          alert('Form created successfully')
          return this.getVisitForms(this.visitId)
        }
      })
    },
    editVisitForm (id, data) {
      return editVisitForm(id, data).then(result => {
        if (result && result.status === 200) {
          alert('Form updated successfully')
          // reload form data
          return this.getVisitFormById(id)
        }
      })
    },
    deleteVisitForm (id) {
      const answer = confirm('Are you sure you want to delete this form?')

      if (!answer || !id) return

      return deleteVisitForm(id).then(result => {
        if (result && result.status === 200) {
          alert('Deleted successfully')
          return this.getVisitForms(this.visitId)
        } else {
          alert('Delete failed. Please contact administrator')
        }
      })
    },
    approveVisitForm (id) {
      return approveVisitForm(id).then(result => {
        if (result && result.status === 200) {
          alert('Approved successfully')
          return this.getVisitForms(this.visitId)
        }
      })
    },
    clickFormTab (data) {
      const tab = document.querySelector('.visit--tab-btn-group')

      if (data && data.length) {
        tab.firstChild.click()
      } else {
        tab.lastChild.click()
      }
    }
  }
}
</script>

