<template>
  <section>
    <div class="row">
      <div class="col-xs">
        <h3 class="text-left">Visit Date: {{ visit.visited_date }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-left">Actions History</h3>
      </div>
      <div class="col-xs">
        <table class="pure-table pure-table-bordered" v-if="forms && forms.length">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Form</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(f, index) in forms">
              <td>{{ index + 1 }}</td>
              <td>{{ f.created_at }}</td>
              <td>{{ formType[f.form_id] }}</td>
              <td>
                <router-link title="Go to form detail page" :to="{ name: 'Form Detail', params: { formId: f.id }}"><icon name="external-link"></icon></router-link>
                &nbsp;<button class="pure-button" @click="deleteVisitForm(f.id)"><icon name="trash"></icon></button>
              </td>
            </tr>
          </tbody>
        </table>

        <p v-else>No action found</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-left">Select Action</h3>
      </div>

      <div class="col-xs">
        <form class="pure-form">
          <select class="" name="selectAction" v-model="action" @change="importFormComponent(action)">
            <option selected readonly :value="null">- Select form -</option>
            <option value="medcer">Medical Certificate</option>
            <option value="opdcard">OPD Card</option>
            <option value="nursingintervention">Nursing Intervention</option>
          </select>
        </form>
      </div>
    </div>

    <div class="row" style="border: 1px solid rgba(0, 0, 0, 0.1); padding: 10px 20px;" v-if="action">
      <component :is="currentForm" :patient="patient" v-on:submit="formSubmitHandler"></component>
    </div>

  </section>
</template>

<script>
import store from '@/store'
import { getVisitById } from '@/api/visit'
import { getVisitForms, deleteVisitForm } from '@/api/visit-form'

export default {
  name: 'patient-visit-detail',
  props: ['patient'],
  components: {
    // MedCerForm,
    // OpdCard,
    // NursingIntervention
  },
  data () {
    return {
      action: null,
      currentForm: null,
      forms: null,
      formType: {
        1: 'Medical Certificate',
        2: 'OPD Card',
        3: 'Nursing Intervention'
      }
    }
  },
  computed: {
    visit () {
      return this.$store.state.visit.visitData
    }
  },
  created () {
    return this.getVisitForms(this.visit.id)
    // console.info(this.id, this.patient, this.visited_date)
  },
  beforeRouteEnter (to, from, next) {
    if (!store.state.visit.visitData) {
      const visitId = to.params.visitId

      return getVisitById(visitId).then(data => {
        store.commit('visitSelection', { data })
        next()
      })
    } else {
      next()
    }
  },
  methods: {
    importFormComponent (action) {
      const ACTION_PATH = {
        medcer: () => import('@/components/forms/medical-certificate'),
        opdcard: () => import('@/components/forms/opd-card'),
        nursingintervention: () => import('@/components/forms/nursing-intervention')
      }
      const path = ACTION_PATH[action]

      if (path) {
        this.currentForm = path
      } else {
        this.currentForm = () => import('@/components/forms/404')
      }
    },
    getVisitForms (visitId) {
      if (!visitId) return

      return getVisitForms(visitId).then(results => {
        if (results && results.status === 200) {
          this.forms = results.data
        }
      })
    },
    formSubmitHandler (event) {
      // console.info('emitting: ', event)
      return this.getVisitForms(this.visit.id)
    },
    deleteVisitForm (id) {
      const answer = confirm('Are you sure you want to delete this form?')

      if (!answer) return

      return deleteVisitForm(id).then(result => {
        if (result && result.status === 200) {
          alert('Deleted successfully')
          return this.getVisitForms(this.visit.id)
        } else {
          alert('Delete failed. Please contact administrator')
        }
      })
    }
  }
}
</script>
