<template>
  <section>
    <div class="row">
      <div class="col-xs">
        <!-- START OF VISIT SUMMARY -->
        <section class="visit-container">
          <div class="header-accordion">
            <p class="header-accordion--spaced">
              <strong>Visit Summary</strong>
              <strong>Billing</strong>
            </p>
          </div>
        </section>

        <section class="visit-container" v-for="(v, index) in visits">
          <h5 class="m0">
            <button class="button-accordion"
              @click="toggleAccordion(index)">
              <p class="header-accordion--spaced">
                <span>
                  <span class="button-accordion--index">{{ index + 1}}</span> {{ v.branch_id }} {{ v.visited_date }}&nbsp;
                  <span v-if="v.pending_yn" title="Pending form(s)"><icon name="exclamation-circle" style="vertical-align: top; color: red;"></icon></span>
                </span>
                <span>
                  <img src="/static/invoice.svg" width="25" height="25" v-for="index in v.invoice_count" :key="index" :title="v.invoice_count + ' invoices created for this visit'"/>
                </span>
              </p>
            </button>
          </h5>

          <div class="panel" :id="'accordion_' + index">
            <div v-if="activePanel === index">
              <visit-detail-tab :visitId="v.id" :patient="patient" v-on:visit-form-update="updateVisitPendingStatus"/>
            </div>
          </div>
        </section>
        <!-- END OF VISIT SUMMARY -->
      </div>
    </div>
  </section>
</template>

<script>
import { getPatientVisitsById } from '@/api/visit'
import VisitDetailTab from './visit-detail-tab'

export default {
  name: 'patient-visit-summary',
  props: ['patient'],
  components: { VisitDetailTab },
  data () {
    return {
      visits: null,
      activePanel: null
    }
  },
  created () {
    const patientId = this.$route.params.patientId
    return getPatientVisitsById(patientId).then(result => {
      if (result && result.data) {
        this.visits = result.data
      }
    })
  },
  methods: {
    gotoVisitDetail (visit) {
      this.$store.commit('visitSelection', { data: visit })
      this.$router.push('visit/' + visit.id)
    },
    toggleAccordion (index) {
      this.activePanel = index
      this.$store.commit('visitSelection', { data: this.visits[index] })

      const accordions = document.getElementsByClassName('panel')
      const accLength = accordions.length
      let i = 0

      const node = document.getElementById(`accordion_${index}`)

      if (node.style.maxHeight) {
        for (i = 0; i < accLength; i++) {
          const panel = accordions[i]
          panel.style.maxHeight = null

          setTimeout(() => {
            panel.style.display = null
          }, 300)
        }
      } else {
        for (i = 0; i < accLength; i++) {
          const panel = accordions[i]
          panel.style.maxHeight = null

          setTimeout(() => {
            panel.style.display = null
            node.style.display = 'block'
            node.style.maxHeight = node.scrollHeight + 'px'
          }, 200)
        }

        setTimeout(() => {
          node.style.maxHeight = 'none'
        }, 500)
      }
    },
    // update pending_yn status from emitting event from visit-tab-detail component
    updateVisitPendingStatus (obj) {
      const { visitId, isPending } = obj

      this.visits.forEach((visit, index) => {
        if (visit.id === visitId) this.visits[index].pending_yn = isPending
      })
    }
  }
}
</script>
