<template>
  <section class="content">
    <h1>New Payment</h1>

    <section v-if="!loading">
      <div class="row">
        <div class="col-xs-12 text-left">
          <p>
            Invoice ID: <strong>{{ invoice.id }}</strong>
            <br />
            Patient Name: <strong class="capitalize">{{ invoice.visit.patient.first_name }} {{ invoice.visit.patient.last_name }}</strong>
            <br />
            Payment Date and Time
            <flat-pickr id="date" v-model="invoiceDate" :config="dateConfig"></flat-pickr>
            &nbsp;at&nbsp;
            <flat-pickr id="time" v-model="invoiceTime" :config="timeConfig"></flat-pickr>
          </p>
        </div>
      </div>

      <div class="row">
        <!-- START OF payment source -->
        <div class="col-sm-7">
          <div class="payment-container">
            <h3 class="payment-header">Payment source</h3>
            <!-- START OF payment body -->
            <form class="med-cer-form pure-form pure-form-stacked" v-on:submit.prevent="submitForm">
              <div class="payment-body px3 mb2">
                <div class="row text-left mt2">
                  <div class="col-xs-12">
                    <label for="credit">Credit/Debit Card</label>
                    <input id="credit" class="input input--fill" v-model="credit" type="text">
                  </div>
                  <div class="col-xs-12">
                    <label for="cash">Cash</label>
                    <input id="cash" class="input input--fill" v-model="cash" type="text">
                  </div>
                  <div class="col-xs-12">
                    <label for="other">Other</label>
                    <input id="other" class="input input--fill" v-model="other" type="text">
                  </div>
                  <div class="col-xs-12">
                    <label for="insurance">Insurance</label>
                    <input id="insurance" class="input input--fill" v-model="insurance" type="text">
                    <div>
                      <input type="checkbox" style="float: left; margin-right: 5px;" v-model="isGOP">
                      <label>GOP</label>
                    </div>
                    <input type="file" class="form-control" v-if="isGOP" ref="gopImage" @change="handleImage">
                    <img v-if="previewImage && isGOP" class="preview-image" :src="previewImage"/>
                    <div v-if="isGOP">
                      <input type="checkbox" style="float: left; margin-right: 5px;" v-model="isExcess">
                      <label>Excess (Co-payment)</label>
                    </div>
                    <div class="excess-container" v-if="isExcess">
                      <label>Credit/Debit Card</label>
                      <input class="input input--fill" v-model="excess_credit" type="text">
                      <label>Cash</label>
                      <input class="input input--fill" v-model="excess_cash" type="text">
                      <label>Internet Banking</label>
                      <input class="input input--fill" v-model="excess_internet" type="text">
                      <label>Wechat</label>
                      <input class="input input--fill" v-model="excess_wechat" type="text">
                      <label>Alipay</label>
                      <input class="input input--fill" v-model="excess_alipay" type="text">
                      <label>Other</label>
                      <input class="input input--fill" v-model="excess_other" type="text">
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <label for="internet">Internet Banking</label>
                    <input id="internet" class="input input--fill" v-model="internet" type="text">
                  </div>
                  <div class="col-xs-12">
                    <label for="wechat">Wechat</label>
                    <input id="wechat" class="input input--fill" v-model="wechat" type="text">
                  </div>
                  <div class="col-xs-12">
                    <label for="alipay">Alipay</label>
                    <input id="alipay" class="input input--fill" v-model="alipay" type="text">
                  </div>
                </div>
              </div>
              <div class="payment-footer px3 mb2">
                <div class="row text-left mt2">

                  <div class="col-xs-12 clear-float">
                    <p class="left"> <strong>Payment Total</strong> </p>
                    <p class="right"> <strong>{{ $lodash.toString(payAmount) | numberWithCommas }}</strong> </p>
                  </div>

                  <div class="col-xs-12">
                    <label for="note">Note</label>
                    <textarea id="note" class="input input--fill" v-model="note"></textarea>
                    <p>
                      <small v-show="credit">
                        *Exclude 5% bank charge<br />
                        {{ creditNote }}
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </form>
            <!-- END OF payment body -->
          </div>
        </div>
        <!-- END  OF payment source -->

        <!-- START OF payment summary -->
        <div class="col-sm-5">
          <div class="payment-container">
            <h3 class="payment-header">Payment summary</h3>

            <div class="payment-body px3 mb2">
              <div class="row">
                <div class="col-xs-12">
                  <p class="mb0"><strong style="font-size: 2rem;">{{ outstandingAmount | numberWithCommas }}</strong>
                  <br />
                  <small>remaining</small></p>
                </div>
                <div class="col-xs-12 clear-float">
                  <p class="left">Outstanding Balance</p>
                  <p class="right">{{ outstanding | numberWithCommas }}</p>
                </div>
                <div class="col-xs-12">
                  <p class="left">Payment Applied</p>
                  <p class="right">{{ $lodash.toString(payApplied) | numberWithCommas }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END  OF payment summary -->
      </div>
      <!-- END OF row -->
      <div class="row mt2">
        <div class="col-xs">
          <button class="pure-button button-secondary" @click="submitPayment()">Submit</button>
          <router-link class="pure-button" :to="'/invoices/' + $route.query.invoice_id">Cancel</router-link>
        </div>
      </div>

      <div class="row mt2 text-left">
        <div class="col-xs-12">
          <h3>Payment Records</h3>
        </div>
        <div class="col-xs-12" v-if="payments && payments.length">
          <table class="pure-table pure-table-striped table-wrapper margin-auto" style="width: 100%;">
            <thead>
              <tr>
                <th>Payment #</th>
                <th>Invoice #</th>
                <th>Issue Date</th>
                <th>Payment Amount</th>
                <th>Note</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="p in payments">
                <td>{{ p.id }}</td>
                <td><router-link :to="'/invoices/' + p.invoice_id">{{ p.invoice_id }}</router-link></td>
                <td>{{ moment(p.payment_date).format('YYYY/MM/DD HH:mm') }}</td>
                <td class="text-right">{{ p.amount | numberWithCommas }}</td>
                <td>{{ p.note }}</td>
                <td class="text-center"><button class="button-link" @click="deletePayment(p.id)"><icon name="trash" /></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </section>
  </section>
</template>

<style scoped>
.payment-container {
  border: 1px solid #eee;
}
.payment-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
  padding-bottom: 1rem;
}
.payment-footer {
  border-top: 1px solid #eee;
}
</style>
<script>
import { getInvoiceById } from '@/api/invoice'
import { createPayment, deletePaymentById } from '@/api/payment'
import flatPickr from 'vue-flatpickr-component'
import _ from 'lodash'

export default {
  name: 'new-payment',
  components: { flatPickr },
  data () {
    return {
      invoice: null,
      payments: null,
      loading: true,
      balance: 0,
      invoiceDate: new Date(),
      invoiceTime: new Date(),
      dateConfig: {
        defaultDate: new Date().fp_incr(-365),
        dateFormat: 'Y/m/d',
        maxDate: new Date().fp_incr(1)
      },
      timeConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        time_24hr: true
      },
      note: null,
      cash: null,
      credit: null,
      insurance: null,
      other: null,
      wechat: null,
      alipay: null,
      internet: null,
      isGOP: false,
      previewImage: null,
      isExcess: false,
      excess_cash: null,
      excess_credit: null,
      excess_internet: null,
      excess_other: null,
      excess_wechat: null,
      excess_alipay: null
    }
  },
  computed: {
    payAmount: function () {
      let sum = 0
      const cash = _.isNumber(_.toNumber(this.cash)) ? _.toNumber(this.cash) : 0
      const credit = _.isNumber(_.toNumber(this.creditAmount)) ? _.toNumber(this.creditAmount) : 0
      const other = _.isNumber(_.toNumber(this.other)) ? _.toNumber(this.other) : 0
      const insurance = _.isNumber(_.toNumber(this.insurance)) ? _.toNumber(this.insurance) : 0
      const internet = _.isNumber(_.toNumber(this.internet)) ? _.toNumber(this.internet) : 0
      const wechat = _.isNumber(_.toNumber(this.wechat)) ? _.toNumber(this.wechat) : 0
      const alipay = _.isNumber(_.toNumber(this.alipay)) ? _.toNumber(this.alipay) : 0
      if (cash) sum += cash
      if (credit) sum += credit
      if (other) sum += other
      if (insurance) sum += insurance
      if (internet) sum += internet
      if (wechat) sum += wechat
      if (alipay) sum += alipay

      return sum
    },
    payApplied: function () {
      let sum = 0
      const cash = _.isNumber(_.toNumber(this.cash)) ? _.toNumber(this.cash) : 0
      const credit = _.isNumber(_.toNumber(this.credit)) ? _.toNumber(this.credit) : 0
      const other = _.isNumber(_.toNumber(this.other)) ? _.toNumber(this.other) : 0
      const insurance = _.isNumber(_.toNumber(this.insurance)) ? _.toNumber(this.insurance) : 0
      const internet = _.isNumber(_.toNumber(this.internet)) ? _.toNumber(this.internet) : 0
      const wechat = _.isNumber(_.toNumber(this.wechat)) ? _.toNumber(this.wechat) : 0
      const alipay = _.isNumber(_.toNumber(this.alipay)) ? _.toNumber(this.alipay) : 0
      if (cash) sum += cash
      if (credit) sum += credit
      if (other) sum += other
      if (insurance) sum += insurance
      if (internet) sum += internet
      if (wechat) sum += wechat
      if (alipay) sum += alipay

      return sum
    },
    outstandingAmount: function () {
      let remaining = _.toNumber(this.outstanding)
      const payApplied = -1 * _.toNumber(this.payApplied)

      if (payApplied) remaining += payApplied
      if (remaining < 0) remaining = 0

      return remaining
    },
    creditNote: function () {
      return `${this.credit}+5% bank charge = ${this.creditAmount}THB`
    },
    creditAmount: function () {
      return isNaN(this.credit) ? 0 : (parseFloat(this.credit) * 1.05).toFixed(2)
    }
  },
  watch: {
    credit: function (val) {
      return _.toNumber(val)
    }
  },
  mounted () {
    const invoiceId = this.$route.query.invoice_id
    if (!invoiceId) {
      alert('Missing route parameters')
      this.$router.push('/')
      return
    }
    this.getInvoice(invoiceId)
  },
  methods: {
    handleImage (e) {
      let files = e.target.files
      this.previewImage = URL.createObjectURL(files[0])
    },
    getInvoice (invoiceId) {
      this.$store.commit('loadingIncomplete', { detail: true })
      this.loading = true

      return getInvoiceById(invoiceId).then(result => {
        if (result && result.status === 200) {
          this.invoice = result.data.invoice
          this.payments = result.data.invoice.payments

          this.outstanding = this.invoice.price_total
          this.calculateOutstandingBalance(result.data.invoice.payments)
        }

        this.loading = false
        this.$store.commit('loadingIncomplete', { detail: false })
      })
    },
    async submitPayment () {
      let error = false

      if (!this.isValidNumber(this.cash)) error = true
      if (!this.isValidNumber(this.credit)) error = true
      if (!this.isValidNumber(this.other)) error = true
      if (!this.isValidNumber(this.insurance)) error = true
      if (!this.isValidNumber(this.internet)) error = true
      if (!this.isValidNumber(this.wechat)) error = true
      if (!this.isValidNumber(this.alipay)) error = true

      if (error) {
        alert('Payment is not valid')
        return
      }
      const invoiceId = this.$route.query.invoice_id

      const cash = this.toNumber(this.cash, true)
      const credit = this.toNumber(this.credit, true)
      const other = this.toNumber(this.other, true)
      const insurance = this.toNumber(this.insurance, true)
      const internet = this.toNumber(this.internet, true)
      const wechat = this.toNumber(this.wechat, true)
      const alipay = this.toNumber(this.alipay, true)

      const note = this.note

      const payAmount = cash + (credit * 1.05) + other + insurance + internet + wechat + alipay

      if (payAmount <= 0) {
        alert('Invalid payment amount')
        return
      }

      const body = {
        invoice_id: invoiceId,
        cash,
        credit,
        other,
        insurance,
        internet,
        wechat,
        alipay,
        amount: payAmount,
        payment_date: new Date(), // TODO: add date inputs here,
        note: note
      }

      let result
      try {
        result = await createPayment(body)
        if (result.status === 200) {
          alert('Payment submitted successfully')
          this.$router.push('/invoices/' + invoiceId)
        }
      } catch (error) {
        console.error(error)
        alert('Something went wrong. Please contact administrator')
      }
    },
    isValidNumber (data) {
      if (data === '' || _.isNull(data)) return true
      if (!_.isNaN(+(data))) return +(data)
      // else
      return false
    },
    toNumber (data, isNull = true) {
      if (data === '' || _.isNull(data) || isNaN(+(data))) return isNull ? null : 0

      return +(data)
    },
    calculateOutstandingBalance (data) {
      if (data && data.length) {
        let balance = 0
        data.forEach(d => {
          balance += d.amount || 0
        })

        this.outstanding -= balance
      }
    },
    async deletePayment (id) {
      const answer = confirm('Are you sure you want to PERMANENTLY delete this payment?')

      if (answer) {
        let result
        try {
          result = await deletePaymentById(id)

          if (result.status === 200) {
            alert('Payment deleted successfully')

            const invoiceId = this.$route.query.invoice_id
            this.$router.go('/payments/new?invoice_id=' + invoiceId)
          }
        } catch (e) {
          console.error(e)
          alert('Failed to delete this payment. Please contact administrator')
        }
      }
    }
  }
}
</script>

<style scoped>
.excess-container {
  padding: 10px;
  padding-left: 20px;
  margin-top: 10px;
  border: 1px solid #adadad;
  border-radius: 0.25em;
}
</style>
