<template>
  <div class="pure-menu pure-menu-horizontal" id="search-bar">
    <!-- <form name="search-patient" class="pure-form" >
      <fieldset>
        <input type="text" class="pure-input-1-2" placeholder="Username">
      </fieldset>
    </form> -->
  </div>
</template>

<script>
export default {
  name: 'search-bar'
}
</script>

<style scoped lang="scss">
</style>

