<template>
  <div id="app">
    <loading-screen v-if="loading"></loading-screen>
    <!-- <Login v-if="!auth.status"></Login> -->
    <main id="main" v-if="!isPrint">
      <section v-if="auth && auth.status">
        <nav-menu></nav-menu>
      </section>

      <router-view></router-view>
    </main>
    <div id="print" v-else>
      <div class="print-content">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import NavMenu from './components/nav-menu/nav-menu'
import Login from '@/components/Login'
import LoadingScreen from './components/ui/loading'
import { mapGetters } from 'vuex'

export default {
  name: 'app',
  components: { NavMenu, LoadingScreen, Login },
  computed: {
    // watch state change for loading
    ...mapGetters({
      loading: 'loadingState',
      auth: 'authState'
    }),
    isPrint () {
      return this.$route.meta.isPrint
    }
  }
}
</script>
