form {
  textarea {
    resize: none;
  }

  input[readonly].flatpickr-input {
    background-color: transparent;
  }
  .red {
    color: red;
  }

  // select
  select {
    text-transform: capitalize;
  }

  .department {
    margin-bottom: 1em;
    @media (min-width: 48em) {
      margin-bottom: 0em;
    }
  }

  .profile-box {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    height: 200px; /* minimum height */
    width: 200px;
    position: relative;
    cursor: pointer;

    &:hover {
      background: #E6E6E6;
    }

    .input-file {
      opacity: 0; /* invisible but it's there! */
      width: 100%;
      height: 200px;
      position: absolute;
      cursor: pointer;
    }

    p {
      font-size: 1em;
      text-align: center;
      padding: 50px 10px;
    }
  }

  .input-with-icon {
    position: relative;

    input {
      padding-right: 30px !important;
    }

    a {
      position: absolute;
      top: 8px;
      right: 30px;
      cursor: pointer;
      z-index: 9;
    }
  }


}

.margin-vertical {
  margin: 2em 0;
  text-align: left;
}

.margin-bottom {
  margin-bottom: 2em;
  text-align: center;
  @media (min-width: 48em) {
    text-align: left;
  }
}

.pure-form .pure-group input,
.pure-form .pure-group textarea {
  padding: 5px 10px;
  overflow: auto;
}

.align-left {
  text-align: left;
}


// PATIENT FORM
.input--inline {
  display: inline-block !important;
}

.input-top-gap, .margin-top-20 {
  margin-top: 15px
}

// force slim select the same height as other
.slim-select-height {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.ss-main .ss-single-selected {
  height: 35.5px !important;
}

.input {

}

.input.input--fill {
  width: 100%;
}
