// main
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 95vh;

  #main {
    // padding-left: 10em;
    padding-bottom: 5em;

    @media (min-width: 58em) {
      padding-left: 10em;
    }
  }

  .pure-g [class*=pure-u] {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
  }
}

div.header {
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;

	&.header--breadcrumbs {
		min-height: 50px;
		height: unset;
	}

  div.header-tab {
    position: absolute;
    top: 2%;
    right: 5%;
  }
  .router-link-active {
    background-color: #eee;
    color: black;
  }
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 1200px;
}

.img-responsive {
  max-width: 100%;
}

.disabled-link {
  opacity: .5;
  cursor: not-allowed;
}

// Detail Page
.photo-box {
  border: 1px solid #E6E6E6;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;

  > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.red { color: red; }
.blue { color: rgb(55, 172, 227); }

// GENERAL DETAIL PAGE
.action-btn-group {
  .pure-button {
    margin-top: 4px;
  }
}

// index.html
.updated-date {
  text-align: center;
  color: #2c3e50;
  opacity: 0.8;
  font-size: 10px;
}


// patient-detail
.patient-info--wrapper {
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: 1em;
}

// .patient-info--box {
  // text-align: left;
// }

// PATIENT INFO
.patient-info--photo {
  border: 1px solid #E6E6E6;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;

  > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  > img {
    height: 100%;
    max-width: 100%;
  }

  @media (min-width: 58em) {
    margin: 0 0 0 auto;
  }
}

.patient-info--table {
  max-height: 0;
	overflow: hidden;
  transition: all .5s ease-out;

  max-width: 576px;
  margin: 0 auto;
}

// VISIT PAGE
.visit--tab-btn-group {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.visit--tab-btn {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
}

.visit--tab-btn:first-child {
  border-right: none;
}

.visit--tab-btn:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.visit--tab-btn.active, .visit--tab-btn:hover {
  background-color: #eee;
}

.visit--tab-btn.active-form { border: 2px solid black !important; }
.visit--tab-btn.has-id { background-color: rgb(55, 172, 227); }
.visit--tab-btn.pending { background-color: #eee; }

.visit--tab-head-detail {
  padding: 16px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.visit--tab-detail {
  padding: 16px;
  min-height: 400px;
  margin-bottom: 2rem;
  flex-basis: auto;
}

.visit--loading-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.button-accordion, .header-accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid #eee;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.button-accordion:hover {
  background-color: #ccc;
}

.button-accordion--index {
  background-color: white;
  padding: 4px 8px;
  border-radius: 8px;
}

.header-accordion {
  width: auto; // somehow width 100% exceeds the row class
  cursor: default; // override cursor pointer
}

.header-accordion--spaced {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.panel {
  display: none;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
  border: 1px solid #eee;
  position: relative;
}

@media (min-width: 58em) {
  .visit--tab-head-detail {
    display: flex;
  }
  .visit--tab-wrapper {
    flex-basis: content;
  }
  .visit--tab-btn-group.horizon {
    flex-direction: column;
    border-bottom: none;

    .visit--tab-btn {
      width: 170px;
      border-radius: unset;
      &:first-child {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
      &:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }
}
