@page {
  size: A4;
}

@media print {
  body * {
    visibility: visible !important;
  }
}

.print {
  display: flex;
  justify-content: center;
}

.print-header {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.wm-logo {
  height: 100px;
}

.print-title {
  margin-right: auto;
  margin-left: auto;
}

.watermark {
  position: absolute;
  width: 100%;
  top: 150px;
  left: 0;
  z-index: 2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.1;
}

.d-flex {
  display: flex;
}

table.print-table {
  z-index: 1002;
  margin-top: 5px;
  width: 100%;
  th {
    padding: 5px;
    background-color: #57A1CC;
    color: white;
    text-align: center;
    border: 1px solid #dddddd;
  }

  td {
    padding: 5px;
    border: 1px solid #dddddd !important;
  }
}
