.tab-btn-group {
  display: flex;
  flex-direction: row;
}

.tab-btn {
  text-decoration: none;
  padding: 20px 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  border-bottom: none;
}

.tab-btn:first-child {
  border-right: none;
}

.tab-btn.router-link-active, .tab-btn:hover {
  background-color: #eee;
}

.tab-detail {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px;
  min-height: 350px;
}

.hotel-checkbox {
  display: block;
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-bottom: 5px;
}
.hotel-checkbox-wrapper {
  max-width: none;
}
.hotel-checkbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
@media (min-width: 64em) {
  .hotel-checkbox-wrapper {
    max-width: 200px !important;
  }
  .hotel-checkbox-container {
    display: block;
  }
  .hotel-checkbox {
    margin-bottom: 0px;
  }
}

.stats-scrollable {
  max-height: 500px;
  max-width: 500px;
  overflow: auto;
  margin: 0 auto;
}
