// Detail Table
table.patient-table {
  width: 100%;
  table-layout: fixed;

  td {
    padding: 15px;
    text-transform: capitalize;
    word-wrap: break-word;
  }

  th {
    border-bottom: 1px solid #cbcbcb;
    color: #727272;
  }

  @media (min-width: 58em) {
    margin-left: auto;
    margin-right: auto;
    // width: 75%;
  }
}

.button-groups {
  margin: 10px;
}

// Patient Table
table.patient-list-table {
  margin: 0 auto;
  width: 100%;

  th {
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #f2f2f2;
    }

    &.active .arrow {
      display: inline-block;
    }

    &:first-child {
      min-width: 80px;
    }

    .arrow {
      vertical-align: middle;
      width: 0;
      height: 0;
      margin-left: 5px;
      display: none;

      &.asc {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #000;
      }

      &.dsc {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #000;
      }
    }
  }

  tbody {
    cursor: pointer;
    text-transform: capitalize;

    tr:hover td {
      background-color: #e0e0e0;
    }
  }
}

tr.col--header {
  border: 1px solid !important;
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
}
