<template>
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>{{ this.hotelObj ? 'Edit hotel' : 'Create new hotel' }}</h4>
      <form class="pure-form pure-form-stacked" v-on:submit.prevent="onsubmitHotel">
        <fieldset class="pure-group">
          <div class="pure-u-1 margin-vertical">
            <legend>Information</legend>
          </div>
        </fieldset>

        <fieldset class="pure-group align-left">
          <div class="pure-u-1">
            <div class="pure-u-1 pure-u-md-1-3">
              <label for="name">Hotel Name</label>
              <input id="name" class="pure-u-23-24" type="text" placeholder="Hotel name" v-model="hotel.hotel_name" required>
            </div>
          </div>

          <div class="pure-u-1">
            <div class="pure-u-1 pure-u-md-1-3">
              <label for="zone">Zone</label>
              <select id="zone" class="pure-u-md-24 pure-u-23-24" v-model="hotel.hotel_zone_id" required>
                <option value="" disabled selected>Select zone</option>
                <option v-for="zone in hotelZone" :value="zone.id">{{ zone.name }}</option>
              </select>
            </div>
          </div>

        </fieldset>

        <fieldset class="pure-group">
          <legend class="margin-vertical"></legend>
              <span v-if="submitError" class="pure-form-message red">{{ submitError }}</span>
              <button type="submit" class="pure-button pure-button-primary" v-if="hotelObj">Edit</button>
              <button type="submit" class="pure-button pure-button-primary" v-if="!hotelObj">Create</button>
            <router-link to="/settings/hotel-list" class="pure-button">Cancel</router-link>
        </fieldset>
      </form>
    </div>
  </div>
</template>

<script>
import { createHotel, editHotel, getHotelZone } from '@/api/hotel'
export default {
  name: 'create-edit-hotel',
  props: ['hotelObj'],
  data () {
    return {
      hotel: {
        hotel_name: '',
        zone: '',
        hotel_zone_id: ''
      },
      submitError: false,
      hotelZone: []
    }
  },
  mounted () {
    getHotelZone().then(result => {
      if (result && result.data) this.hotelZone = result.data
    })

    if (this.hotelObj) this.hotel = Object.assign({}, this.hotelObj)
  },
  methods: {
    onsubmitHotel () {
      const edit = !!this.hotelObj
      const data = this.hotel

      if (!edit) {
        createHotel(data).then(result => {
          if (result && result.data.status) {
            this.$router.push(`/settings/hotel-list`)
          } else {
            this.submitError = result.data.message
          }
        })
      } else {
        editHotel(data.id, data).then(result => {
          if (result && result.data.status) {
            this.$router.push(`/settings/hotel-list`)
          } else {
            this.submitError = result.data.message
          }
        })
      }
    }
  }
}
</script>
