<template>
  <div class="pure-u-1">
    <create-edit-hotel :hotelObj="hotel"></create-edit-hotel>
  </div>

</template>

<script>
import CreateEditHotel from './create-edit-hotel'

export default {
  name: 'edit-hotel',
  props: ['hotel', 'celt'],
  components: { CreateEditHotel },
  mounted () {
    // console.info(this.hotel, this.celt)
  }
}

</script>
