<template>
  <div class="pure-g">
    <div class="pure-u-1">
      <h4 style="margin-top: 0">Hotel List</h4>
    </div>

    <div class="pure-u-1" style="margin-bottom: 2em">
      <router-link to="/settings/new-hotel">
        <button class="pure-button">Create new hotel</button>
      </router-link>
      <div class="flex container--hotel" v-if="!loading">
        <div class="table--hotel" v-for="group in Object.keys(hotelGroups)">
          <hr />
          <h3 style="text-transform: capitalize">{{ group }} Zone</h3>
          <table class="pure-table pure-table-striped table-wrapper margin-auto">
            <thead>
              <tr>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="hotel in hotelGroups[group]">
                <td>{{ hotel.hotel_name }}</td>
                <td>
                  <router-link title="edit hotel"
                    :to="{ name: 'EditHotel',
                      params: { hotelId: hotel.id, hotel: hotel, celt: true } }"
                    style="color: initial">
                      <icon name="edit"></icon>
                  </router-link>
                  <a title="remove hotel" style="margin-left: 10px" v-on:click="removeHotel(hotel.id)"><icon name="trash"></icon></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


        <col-modal v-if="patients" @close="patients = false">
          <h3 slot="header">Assign a new hotel</h3>
          <div slot="body">
            <p>There are {{ patients }} patients registered on the deleted hotel. Please reassign a new hotel to these patients.</p>
            <select v-model="hotel_id" class="pure-u-1">
              <option v-for="hotel in hotels" :value="hotel.id">{{ hotel.hotel_name }}</option>
              <option value="null">Not applicable</option>
            </select>
          </div>
          <footer slot="footer">
            <button class="pure-button" @click="updatePatientHotelId(hotel_id)">Submit</button>
          </footer>
        </col-modal>
    </div>

  </div>
</template>

<style scoped lang="scss">
  .container--hotel {
    margin-top: 15px;
  }

  .table--hotel {
    margin: 0 5px;
    width: 100%;

    table {
      width: 100%
    }
  }

  .container--chart {
    display: none;
    min-height: 500px;
    width: 100%;
  }

  @media (min-width: 30em) {
    .container--chart {
      display: block;
    }
  }

  @media (min-width: 48em) {
    .container--hotel {
      height: 2500px;
      max-height: 2500px;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .table--hotel {
      width: 30%;
    }

    .container--chart {
      flex-grow: 2;
      max-width: 960px
    }
  }
</style>

<script>
import { getHotels, removeHotel } from '@/api/hotel'
import { bulkUpdatePatients } from '@/api/patient'
import ColModal from '@/components/ui/col-modal'

export default {
  name: 'hotel-list',
  components: { ColModal },
  data () {
    return {
      hotels: [],
      loading: false,
      hotelGroups: {},
      showModal: true,
      deleted_hotel_id: null,
      hotel_id: null,
      patients: 0
    }
  },
  mounted () {
    return this.getHotels()
  },
  methods: {
    async getHotels () {
      this.loading = true
      getHotels().then(response => {
        if (response && response.data) {
          this.hotels = response.data
          const hotelGroups = {}

          this.hotels.forEach(hotel => {
            if (!hotel.hotel_zone) return

            const name = hotel.hotel_zone.name
            if (!hotelGroups[name]) hotelGroups[name] = []
            hotelGroups[name].push(hotel)
          })

          this.hotelGroups = hotelGroups
          this.loading = false
        }
      })
    },
    async removeHotel (id) {
      const answer = confirm('Are you sure you want to delete this hotel from this list?')

      if (!answer) return

      return removeHotel(id).then(response => {
        if (response && !response.data.status) {
          alert(response.data.message)
        } else {
          this.patients = response.data.patients
          this.deleted_hotel_id = id
          return this.getHotels()
        }
      })
    },
    async updatePatientHotelId (id) {
      const _id = id !== 'null' ? id : null

      return bulkUpdatePatients({ hotel_id: _id, deleted_hotel_id: this.deleted_hotel_id }).then(result => {
        this.patients = 0
      })
    }
  }
}
</script>
