<template>
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>{{ this.userObj ? '' : 'Create new user' }}</h4>
      <form class="pure-form pure-form-stacked" v-on:submit.prevent="onsubmitUser">
        <fieldset class="pure-group">
          <div class="pure-u-1 margin-vertical">
            <legend>Information</legend>
          </div>
        </fieldset>

        <fieldset class="pure-group align-left">
          <div class="pure-u-1">
            <div class="pure-u-1 pure-u-md-1-3">
              <label for="role-id">Role</label>
              <select id="role-id" class="pure-u-md-24 pure-u-23-24" v-model="user.role_id" :disabled="userObj && (userObj.role_id === 1 || userObj.role_id === 3)">
                <option selected disabled value="null">-- Select Role --</option>
                <option v-for="role in roleObj" :value="role.id">{{ role.name }}</option>
              </select>
            </div>
          </div>

          <div class="pure-u-1">
            <div class="pure-u-1 pure-u-md-1-3">
              <label for="first-name">First Name</label>
              <input id="first-name" class="pure-u-23-24" type="text" v-model="user.first_name" required>
            </div>

            <div class="pure-u-1 pure-u-md-1-3">
                <label for="last-name">Last Name</label>
                <input id="last-name" class="pure-u-md-22-24 pure-u-23-24" type="text" required v-model="user.last_name">
            </div>
          </div>

          <div class="pure-u-1">
            <div class="pure-u-1 pure-u-md-1-3">
              <label for="username">Username</label>
              <input
                id="username"
                class="pure-u-23-24"
                type="text"
                v-model="user.username"
                :readonly="userObj"
                :required="!userObj">
              <span v-if="usernameError" class="pure-form-message red">{{ usernameError }}</span>
            </div>
          </div>
        </fieldset>

        <fieldset class="pure-group">
          <div class="pure-u-1 margin-vertical">
            <legend>Credential</legend>
          </div>
        </fieldset>

        <fieldset class="pure-group align-left" v-if="userObj">
          <div class="pure-u-1">
            <div class="pure-u-1 pure-u-md-1-3">
              <label for="oldPassword">Old Password</label>
              <input id="oldPassword"
                class="pure-u-23-24"
                type="password"
                v-model="oldPassword"
                :required="user.password">
            </div>
          </div>

          <div class="pure-u-1">
            <div class="pure-u-1 pure-u-md-1-3">
              <label for="password">New Password</label>
              <input id="password"
                class="pure-u-23-24"
                type="password"
                v-model="user.password"
                >
              <span v-if="passwordError" class="pure-form-message red">{{ passwordError }}</span>
            </div>

            <div class="pure-u-1 pure-u-md-1-3">
              <label for="repeat-password">Repeat password</label>
              <input id="repeat-password"
                class="pure-u-md-22-24 pure-u-23-24"
                type="password"
                v-model="repeatPassword">
            </div>
          </div>
        </fieldset>

        <fieldset class="pure-group align-left" v-else>
          <div class="pure-u-1">
            <div class="pure-u-1 pure-u-md-1-3">
              <label for="password">New Password</label>
              <input id="password"
                class="pure-u-23-24"
                type="password"
                v-model="user.password"
                required>
              <span v-if="passwordError" class="pure-form-message red">{{ passwordError }}</span>
            </div>

            <div class="pure-u-1 pure-u-md-1-3">
              <label for="repeat-password">Repeat password</label>
              <input id="repeat-password"
                class="pure-u-md-22-24 pure-u-23-24"
                type="password"
                required
                v-model="repeatPassword">
            </div>
          </div>
        </fieldset>

        <fieldset class="pure-group">
          <legend class="margin-vertical"></legend>
              <span v-if="submitError" class="pure-form-message red">{{ submitError }}</span>
              <button type="submit" class="pure-button pure-button-primary" v-if="userObj">Edit</button>
              <button type="submit" class="pure-button pure-button-primary" v-if="!userObj" v-bind:disabled="usernameError || passwordError">Create</button>
            <router-link to="/settings/user-management" class="pure-button">Cancel</router-link>
        </fieldset>
      </form>
    </div>

  </div>
</template>

<script>
import { createUser, updateUser } from '@/api/user'
import { getRole } from '@/api/role'
import { mapGetters } from 'vuex'

function testSpecialChar (str) {
  const format = /[`~!@#$%^&*()_|+=?;:'",.<>{}[\]\\/]/
  return format.test(str)
}

export default {
  name: 'new-user',
  props: ['userObj'],
  data () {
    return {
      user: {
        first_name: '',
        last_name: '',
        username: '',
        password: '',
        role_id: null
      },
      repeatPassword: '',
      submitError: '',
      oldPassword: '',
      //
      roleObj: null
    }
  },
  created () {
    if (this.userObj) this.user = this.userObj

    return getRole().then(result => {
      const data = result.data

      if (data) {
        if (this.auth.data.permission !== 'super-admin') {
          data.filter(d => d !== 'admin')
        }
        this.roleObj = data
      }
    })
  },
  computed: {
    usernameError () {
      if (this.user.username && (this.user.username.length < 6 || this.user.username.length > 32)) return 'Username must contain between 6-32 characters'
      if (testSpecialChar(this.user.username)) return 'Username cannot contain any special characters'
      return false
    },
    passwordError () {
      if (this.user.password && (this.user.password.length < 6 || this.user.password.length > 32)) return 'Password must contain between 6-32 characters'
      if (this.repeatPassword.length === 0) return ''
      if (this.user.password !== this.repeatPassword) return 'Passwords do not match'
      return false
    },
    ...mapGetters({
      auth: 'authState'
    })
  },
  methods: {
    onsubmitUser () {
      const user = this.user
      const id = this.auth.data.id
      user.created_by = id || null

      if (!this.userObj) {
        return createUser(user).then(result => {
          if (result && result.data.status) {
            this.$router.push(`/settings/user-management`)
            alert(result.data.message || 'Create a new user successfully')
          } else {
            this.submitError = result.data.message
          }
        })
      } else {
        user.old_password = this.oldPassword
        return updateUser(user).then(response => {
          if (response) {
            localStorage.setItem('wmc-authentication-detail', JSON.stringify(response.data))

            this.$store.commit('LOGIN', { status: true, data: response.data })
            // quick fix on api token not loading in fetch
            window.location.reload()
          } else {
            this.submitError = response.data.message
          }
        })
      }
    }
  }
}
</script>

