<template>
  <section class="content">
    <div class="header">
      <h1>Settings</h1>

      <div class="header-tab">
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><router-link to="user-management" class="pure-menu-link">Users</router-link></li>
            <li class="pure-menu-item"><router-link to="hotel-list" class="pure-menu-link">Hotels</router-link></li>
            <li class="pure-menu-item"><router-link to="zone" class="pure-menu-link">Zone</router-link></li>
            <li class="pure-menu-item"><router-link to="/settings/product/" class="pure-menu-link">Product</router-link></li>
          </ul>
        </div>
      </div>
    </div>

    <router-view></router-view>

  </section>
</template>

<script>
export default {
  name: 'settings'
}
</script>
