<template>
  <div class="pure-g">
    <div class="pure-u-1">
      <h4 style="margin-top: 0">User Management</h4>
    </div>

    <div class="pure-u-1" style="margin-bottom: 2em">
      <router-link to="/settings/new-user">
        <button class="pure-button">Create new user</button>
      </router-link>
    </div>

    <div class="pure-u-1" v-if="!loading">
      <table class="pure-table pure-table-striped table-wrapper margin-auto">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Username</th>
            <th>Permission</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user, key) in users">
            <td>{{ ++key }}</td>
            <td class="capitalize">{{ user.first_name + ' ' + user.last_name }}</td>
            <td>
              {{ user.username }}
              <span style="opacity: 0.8" v-if="user.username === auth.username">(current session)</span>
            </td>
            <td>{{ user.role.role_name }}</td>
            <td>
              <a title="remove" v-on:click="removeUser(user.username)" v-if="user.username !== auth.username && user.username !== 'superadmin' && user.username !== 'Staff'"><icon name="trash"></icon></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pure-u-1" v-if="auth.permission === 'super-admin' && !loading">
      <hr />
      <h4 style="margin-top: 0">Pending User</h4>

      <h5 v-if="!pendingUsers.length">You have no pending users now.</h5>
      <table class="pure-table pure-table-striped table-wrapper margin-auto" v-else>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Username</th>
            <th>Created by</th>
            <th>Approve</th>
            <th>Reject</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user, key) in pendingUsers">
            <td>{{ ++key }}</td>
            <td class="capitalize">{{ user.first_name + ' ' + user.last_name }}</td>
            <td> {{ user.username }} </td>
            <td>{{ user.creator || '-' }}</td>
            <td>
              <a title="approve" v-on:click="approveUser(user.username)" v-if="user.username !== auth.username"><icon name="check"></icon></a>
            </td>
            <td>
              <a title="reject" v-on:click="removeUser(user.username)" v-if="user.username !== auth.username"><icon name="times"></icon></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</template>

<style scoped>
  a {
    padding: 0 5px;
    cursor: pointer;
  }
</style>

<script>
import { getUsers, removeUser, updateUser } from '@/api/user.js'
import { mapGetters } from 'vuex'

export default {
  name: 'user-management',
  data () {
    return {
      users: [],
      pendingUsers: [],
      loading: false
    }
  },
  computed: {
    ...mapGetters({
      auth: 'authData'
    })
  },
  mounted () {
    this.getUsers()
  },
  methods: {
    removeUser (username) {
      const answer = confirm('Are you sure you want to PERMANENTLY remove this user?')
      if (!answer) return

      removeUser(username).then(result => {
        if (result) {
          alert(result.data.message)
          if (result.data.status) return this.getUsers()
        }
      })
    },
    getUsers () {
      this.loading = true
      Promise.all([getUsers({approve_yn: true}), getUsers()]).then(results => {
        this.users = results[0].data
        this.pendingUsers = results[1].data
        this.loading = false
      })
    },
    approveUser (username) {
      const answer = confirm(`Are you sure you want to aprrove user: ${username}?`)
      if (!answer) return

      updateUser({username, approve_yn: true}).then(result => {
        return this.getUsers()
      })
    }
  }
}
</script>

