<template>
  <div class="pure-u-1">
    <h4 style="margin-top: 0">Zone list</h4>
    <div class="pure-u-1" style="margin-bottom: 2em">
      <button class="pure-button" @click="mode = 'Create zone'; zone_input = ''">Create new zone</button>
    </div>

    <div class="flex flex--row">
      <form class="pure-form pure-form-stacked form--hotel_zone" v-on:submit.prevent="onsubmitZone" v-if="mode !== ''">
        <div class="margin-vertical">
          <legend>{{ mode }}</legend>
        </div>
        <fieldset class="pure-group align-left" v-if="this.mode ==='Create zone'">
          <label for="name">Zone name</label>
          <input id="name" type="text" placeholder="zone name" v-model="zone_input" required>
        </fieldset>
        <fieldset class="pure-group align-left" v-if="this.mode ==='Edit zone'">
          <label for="name">Zone name</label>
          <input id="name" type="text" placeholder="zone name" v-model="selected_zone.name" required>
        </fieldset>
        <fieldset class="pure-button-group">
          <button type="button" class="pure-button" @click="mode = ''">Cancel</button>
          <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </fieldset>
      </form>

      <table class="pure-table pure-table-striped table-wrapper">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="z in zone">
            <td class="capitalize">{{ z.name }}</td>
            <td>
              <a title="edit" v-on:click="editZone(z)"><icon name="edit"></icon></a>
              <a title="remove zone" style="margin-left: 10px" v-on:click="removeHotelZone(z.id)"><icon name="trash"></icon></a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</template>

<style>
.form--hotel_zone {
  min-width: 300px;
  margin: 15px 10px;
  border: 1px solid #eee;
  padding: 25px 20px;

}
</style>

<script>
import { getHotelZone, editZone, createZone, removeZone } from '@/api/hotel'

export default {
  name: 'zone',
  data () {
    return {
      zone: [],
      mode: '',
      selected_zone: {},
      zone_input: ''
    }
  },
  mounted () {
    return this.getHotelZone()
  },
  methods: {
    async editZone (zone) {
      this.mode = 'Edit zone'
      this.selected_zone = Object.assign({}, zone)
    },
    async onsubmitZone () {
      if (this.mode === 'Edit zone') {
        const data = {
          id: this.selected_zone.id,
          name: this.selected_zone.name.toLowerCase()
        }

        editZone(data).then(result => {
          if (result && result.status) {
            this.selected_zone = {}
            this.mode = ''

            alert(result.data.message)
            return this.getHotelZone()
          } else {
            alert(result.data.message || 'Failed to edit this zone')
          }
        })
      } else if (this.mode === 'Create zone') {
        const name = this.zone_input.toLowerCase()
        this.mode = ''

        createZone({name}).then(result => {
          if (result && result.data.status) {
            this.mode = ''
            alert(result.data.message)
            return this.getHotelZone()
          } else {
            alert(result.data.message || 'Failed to create new zone')
          }
        })
      }
    },
    async getHotelZone () {
      getHotelZone().then(result => {
        if (result && result.data) {
          this.zone.splice(0, this.zone.length)
          this.zone = result.data
        }
      })
    },
    async removeHotelZone (id) {
      const a = confirm('Are you sure you want to remove this zone? The action cannot be undone')
      if (!a) return

      removeZone(id).then(result => {
        if (result && result.data.status) {
          return this.getHotelZone()
        }
        alert(result.data.message || 'Failed to delete zone')
      })
    }
  }
}

</script>
