<template>
  <div class="pos-rel pure-u-md-4-5 pure-u-23-24">
    <input class="pure-u-1" type="text" ref="autoinput" id="autoinput"
      v-bind:placeholder="placeholder"
      v-model="search"
      v-on:input="keydownHandler"
      v-on:focus="focusInHandler"
      v-on:blur="focusOutHandler" />

    <span class="spinner" v-show="loading"><icon name="spinner" spin></icon></span>

    <ul class="list" v-show="isFocus">
      <li v-for="patient in patients">
        <a v-on:click.stop.prevent="goToPatientDetail(patient)"><b>HN#{{ patient.hospital_number_display }}</b> {{ patient.first_name }} {{ patient.last_name }}</a>
      </li>
    </ul>
  </div>
</template>

<style scoped>
  .list {
    z-index: 10;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
    list-style: none;
    width: 100%;
  }

  .list li {
    text-align: left;
    background-color: white;
    text-transform: capitalize;
    border: 1px solid #eee;
  }

  .list li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }

  .list li span,
  .list li a {
    display: block;
    padding: 10px 5px;
  }

  .spinner {
    position: absolute;
    right: 16px;
    top: 9px;
  }
</style>

<script>
import { searchPatients } from '../../api/patient'

export default {
  name: 'autocomplete-input',
  props: {
    placeholder: String
  },
  data () {
    return {
      search: '',
      patients: [],
      timer: null,
      loading: false,
      isFocus: false
    }
  },
  watch: {
    /* search (newKeyword, oldKeyword) {
      const keyword = newKeyword
      if (keyword.length < 3) {
        this.patients.length = 0
        return
      } else {
        setTimeout(() => {
          searchPatients(keyword).then(data => {
            this.patients = data
          })
        }, 2000)
      }
    } */
  },
  methods: {
    goToPatientDetail (patient) {
      console.info(patient)
      this.$store.commit('patientSelection', { detail: patient })
      this.$router.push({path: '/patient-detail/' + patient.hospital_number})
    },
    async keydownHandler () {
      const vm = this
      const keyword = vm.search

      clearTimeout(this.timer)

      if (keyword.length < 3) {
        vm.patients.splice(0, vm.patients.length)
        this.loading = false
      } else {
        vm.timer = setTimeout(fetchSearchPatients, 1000)
      }

      async function fetchSearchPatients () {
        vm.loading = true
        try {
          const data = await searchPatients(keyword)

          if (data) {
            vm.patients = data
          }
        } catch (e) {
          console.debug(e)
        }
        vm.loading = false
      }
    },
    focusInHandler () {
      this.isFocus = true
      // console.info('in')
    },
    focusOutHandler () {
      setTimeout(() => {
        this.isFocus = false
      }, 1000)
      // console.info('out')
      // this.patients.splice(0, this.patients.length)
    }
  }
}
</script>
