<template>
  <div class="pure-u-1">
    <table class="pure-table pure-table-striped patient-list-table section-to-print">
      <thead>
        <tr>
          <th v-for="key in columnsOrdered"
              @click="sortBy(key.prop)"
              :class="{ active: sortKey == key.prop }">
            {{ key.name | capitalize }}
            <span class="arrow" :class="sortOrders[key.prop] > 0 ? 'asc' : 'dsc'">
            </span>
          </th>
        </tr>
      </thead>
      <tbody v-for="d in filteredDate">
        <tr class="col--header uppercase">
          <td v-bind:colspan="columnsOrdered.length">{{ d }}</td>
        </tr>
        <tr v-for="entry in filteredData" v-on:click="goToPatientDetail(entry)" v-if=" entry.visit_date === d ">
          <td v-for="key in columnsOrdered">
            <span>{{entry[key.prop]}} </span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</template>

<script>
// import ColModal from './col-modal'

export default {
  name: 'custom-col-table',
  // components: { ColModal },
  props: {
    data: Array,
    columns: Array,
    filterKey: String,
    startPeriod: String,
    endPeriod: String,
    branchId: String
  },
  data: function () {
    var sortOrders = {}
    this.columns.forEach(function (key) {
      sortOrders[key.prop] = 1
    })
    return {
      sortKey: '',
      sortOrders: sortOrders
    }
  },
  computed: {
    filteredDate: function () {
      let data = this.data

      const startPeriod = this.startPeriod
      const endPeriod = this.endPeriod
      if (startPeriod && endPeriod) {
        data = data.filter(patient => {
          if (!patient.first_visited_date) return patient
          const firstVisitedDateEuro = new Date(patient.first_visited_date).getTime()

          return firstVisitedDateEuro <= new Date(endPeriod).getTime() && firstVisitedDateEuro >= new Date(startPeriod).getTime()
        })
      }

      const newData = this.$lodash.uniq(data.map(p => p.visit_date))

      return newData
    },
    filteredData: function () {
      // const vm = this
      // const branchId = this.branchId

      const sortKey = this.sortKey
      const startPeriod = this.startPeriod
      const endPeriod = this.endPeriod
      const filterKey = this.filterKey && this.filterKey.toLowerCase()
      const order = this.sortOrders[sortKey] || 1
      let data = this.data

      // filter the obvious branch first
      /* if (branchId !== 'all') {
        data = data.filter(patient => {
          const hospitalNumberDisplay = patient.hospital_number_display.split('-')
          return hospitalNumberDisplay[1].charAt(hospitalNumberDisplay[1].length - 1) === branchId
        })
      } */

      if (startPeriod && endPeriod) {
        data = data.filter(patient => {
          // if (!patient.visits.length) return patient
          // const visitedDateEuro = new Date(patient.visits[0].visited_date).getTime()
          // patient.visited_date = vm.moment(patient.visits[0].visited_date).format('YYYY/MM/DD HH:m')
          // return visitedDateEuro <= new Date(endPeriod).getTime() && visitedDateEuro >= new Date(startPeriod).getTime()
          if (!patient.first_visited_date) return patient
          const firstVisitedDateEuro = new Date(patient.first_visited_date).getTime()

          return firstVisitedDateEuro <= new Date(endPeriod).getTime() && firstVisitedDateEuro >= new Date(startPeriod).getTime()
        })
      }
      if (filterKey) {
        data = data.filter(function (row) {
          return Object.keys(row).some(function (key) {
            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
          })
        })
      }
      if (sortKey) {
        data = data.slice().sort(function (a, b) {
          a = a[sortKey]
          b = b[sortKey]
          return (a === b ? 0 : a > b ? 1 : -1) * order
        })
      }
      return data
    },

    columnsOrdered: function () {
      return this.$lodash.sortBy(this.columns, 'order')
    }

  },
  filters: {
    capitalize: function (str) {
      return str.charAt(0).toUpperCase() + str.slice(1)
    }
  },
  methods: {
    sortBy: function (key) {
      this.sortKey = key
      this.sortOrders[key] = this.sortOrders[key] * -1
    },
    goToPatientDetail (patient) {
      this.$store.commit('patientSelection', { detail: patient })
      this.$router.push({path: '/patient-detail/' + patient.hospital_number})
    },
    printTable: function (page) {
      let css = `@page { size: ${page}; font-size: 14px; }`
      if (page === 'landscape') css += ` .section-to-print { writing-mode: rb-tl; }`
      const head = document.head || document.getElementsByTagName('head')[0]
      const style = document.createElement('style')

      style.type = 'text/css'
      style.media = 'print'

      if (style.styleSheet) {
        style.styleSheet.cssText = css
      } else {
        style.appendChild(document.createTextNode(css))
      }

      head.appendChild(style)
      // print function
      window.print()
      // head.removeChild(head.lastChild)
    }
  },
  watch: {
    perPage () {
      this.currentPage = 1
    }
  }
}
</script>
