<template>
  <select class="pure-u-23-24" id="insurance" name="insurance" v-model="scopedInsurance">
    <option value="" selected="selected" disabled="disabled">Select Insurance</option>
    <option v-for="i in ins" :value="i.name">{{ i.name }}</option>

    <option v-if="prefillInsurance" :value="insurance" style="text-transform: capitalize;">{{ insurance }}</option>
  </select>
</template>

<script>
import SlimSelect from 'slim-select'
import INSURANCE from '@/assets/insurance-list.json'

export default {
  name: 'insurance-dropdown',
  props: {
    insurance: String
  },
  data () {
    return {
      scopedInsurance: this.insurance,
      prefillInsurance: false,
      ins: INSURANCE
    }
  },
  created () {
    if (this.insurance) {
      this.prefillInsurance = true
      // this.ins.forEach(i => {
        // if (this.insurance.toLowerCase() === i.name.toLowerCase()) {
          // found match
          // this.prefillInsurance = true
          // this.scopedInsurance = i.name
        // }
      // })
    }
  },
  mounted () {
    // const self = this
    /* eslint-disable no-new */
    new SlimSelect({
      select: '#insurance',
      addable: function (value) {
        // const _value = self.$lodash.capitalize(value)
        return `${value}`
      }
    })
  },
  watch: {
    scopedInsurance: function (value) {
      this.$emit('input', value)
    }
  }
}
</script>

