<template>
  <div class="loading-screen">
    <div class="loading-screen-center">
      <icon name="refresh" scale="5" spin></icon>
      <p> Fetching data.. </p>
    </div>
  </div>

</template>

<script>
export default {
  name: 'loading-screen'
}
</script>
