<template>
  <section>
    <select class="pure-u-23-24" id="prefix" name="occupation" v-model="value" @input="$emit('input',value)">
      <option value="" selected="selected" disabled="disabled">Select Occupation</option>
      <option value="" selected="selected" disabled="disabled">Select Occupation</option>
    </select>
  </section>
</template>

<script>
import SlimSelect from 'slim-select'
import PREFIX from '@/assets/prefix.json'

export default {
  name: 'prefix-dropdown',
  props: {
    value: String
  },
  mounted () {
    console.log(PREFIX)
    /* eslint-disable no-new */
    new SlimSelect({
      select: '#prefix'
    })
  }
}
</script>
