<template>
  <section class="content">
    <!-- <pre>{{ patient }}</pre> -->
    <h1>{{ isEdit ? 'Update': '' }} Discharge Summary</h1>
    <form class="discharge-summary-form pure-form pure-form-stacked" v-on:submit.prevent="submitForm">
      <div class="row text-left">
        <div class="col-sm-3 col-xs-12">
          <label for="an">AN</label>
          <input id="an" class="pure-input-1" type="text" v-model="an">
        </div>
        <div class="col-sm-6 col-xs-12">
          <label for="personal-iden">PERSONAL IDENTIFICATION NUMBER OR PASSPORT NUMBER</label>
          <input name="personal-iden" class="pure-input-1" id="personal-iden" v-model="personal_iden">      
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="an">HOSPOTAL NUMBER</label>
          <input id="an" class="pure-input-1" type="text" v-model="hospital_number_display" readonly>
        </div>
      </div>
      <div class="row text-left mt2">
        <div class="col-xs-12 col-sm-3">
          <label for="title">PREFIX</label>
          <select id="title" v-model="title" class="pure-input-1" disabled>
            <option>Mr.</option>
            <option>Mrs.</option>
            <option>Ms.</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="first_name">FIRST NAME</label>
          <input id="first_name" type="text" v-model="first_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="last_name">LAST NAME</label>
          <input id="last_name" type="text" v-model="last_name" class="pure-input-1" readonly>
        </div>
      </div>
      <div class="row text-left mt2">
        <div class="col-xs-12 col-sm-6">
          <label for="address">PATIENT ADDRESS</label>
          <input id="address" type="text" v-model="address" class="pure-input-1">
        </div>        
        <div class="col-sm-3 col-xs-12">
          <label for="gender">GENDER</label>
          <select id="gender" v-model="gender" class="pure-input-1" disabled readonly>
            <option>male</option>
            <option>female</option>
            <option>other</option>
          </select>
        </div>                    
      </div>
      <div class="row text-left mt2">
        <div class="col-sm-3 col-xs-12">
        <label for="status">MARITAL STATUS</label>
          <select id="status" class="pure-u-23-24" v-model="marital_status">
              <option value="" disabled selected>Select marital status</option>
              <option value="single">Single</option>
              <option value="married">Married</option>
              <option value="divorced">Divorced</option>
              <option value="widowed">Widowed</option>
              <option value="priest">Priest</option>
          </select>
        </div>        
        <div class="col-xs-12 col-sm-3">
          <label for="ethnic-group">ETHNIC GROUP</label>
          <input id="ethnic-group" type="text" v-model="ethnic_group" class="pure-input-1">
        </div> 
        <div class="col-xs-12 col-sm-3">
          <label for="occupation">OCCUPATION</label>
          <input id="occupation" type="text" v-model="occupation" class="pure-input-1">
          <!-- <occupation-dropdown v-model="occupation" :occupation="patient.occupation" v-if="isLoaded"></occupation-dropdown> -->
        </div>        
        <div class="col-xs-12 col-sm-3">
          <label for="dob">DATE OF BIRTH</label>
          <flat-pickr
            v-model="dob"
            :config="dateOfBirthConfig"
            placeholder="Select date"
            class="pure-input-1"
            name="dob"
            disabled>
          </flat-pickr>
        </div>
      </div>
      <div class="row text-left mt2">
        <div class="ol-sm-5">
          <label for="age_at_adm">
            AGE AT ADMISSION <input id="age_at_adm" class="pure-input-1-4 input--inline" type="text" v-model="age_at_adm"> YEAR. FOR INFANT
          </label>
        </div>        
        <div class="col-sm-6">
          <label for="age_at_adm_m">
            <input id="age_at_adm_m" class="pure-input-1-4 input--inline" type="text" v-model="age_at_adm_m"> MONTHS <input id="age_at_adm_d" class="pure-input-1-4 input--inline" type="text" v-model="age_at_adm_d"> DAYS
          </label>
        </div>
      </div>
      <div class="row text-left mt2">
        <div class="col-xs-12 col-sm-3">
          <label for="BIRTHWEIGHT">BIRTHWEIGHT (INFANT ONLY)</label>
          <input id="BIRTHWEIGHT" name="BIRTHWEIGHT" type="text" v-model="BIRTHWEIGHT" class="pure-input-1-2 input--inline"> g.
        </div>
        <div class="col-xs-12 col-sm-4">
          <label for="WARD">WARD</label>
          <input id="WARD" name="WARD" type="text" v-model="WARD" class="pure-input-3-4">
        </div>
      </div>        
      <fieldset>     
        <div class="row text-left">
          <div class="col-sm-12 col-xs-12 mt2">
            <legend>DEPARTMENT</legend>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="MEDICINES">
              <input type="checkbox" name="MEDICINES" id="MEDICINES" v-model="MEDICINES">
              MEDICINES
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="SURGERY">
              <input type="checkbox" name="SURGERY" id="SURGERY" v-model="SURGERY">
              SURGERY
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="OBS">
              <input type="checkbox" name="OBS" id="OBS" v-model="OBS">
              OBS.
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="GYN">
              <input type="checkbox" name="GYN" id="GYN" v-model="GYN">
              GYN
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="PED">
              <input type="checkbox" name="PED" id="PED" v-model="PED">
              PED
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="ENT">
              <input type="checkbox" name="ENT" id="ENT" v-model="ENT">
              ENT
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="EYE">
              <input type="checkbox" name="EYE" id="EYE" v-model="EYE">
              EYE
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="ORTHOPEDICS">
              <input type="checkbox" name="ORTHOPEDICS" id="ORTHOPEDICS" v-model="ORTHOPEDICS">
              ORTHOPEDICS
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="PSYCHLATRY">
              <input type="checkbox" name="PSYCHLATRY" id="PSYCHLATRY" v-model="PSYCHLATRY">
              PSYCHLATRY
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="RADIOLOGY">
              <input type="checkbox" name="RADIOLOGY" id="RADIOLOGY" v-model="RADIOLOGY">
              RADIOLOGY
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="DENTAL">
              <input type="checkbox" name="DENTAL" id="DENTAL" v-model="DENTAL">
              DENTAL
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="DEP_OTHER">
              <input type="checkbox" name="DEP_OTHER" id="DEP_OTHER" v-model="DEP_OTHER">
              OTHER
            </label>
            <input v-if="DEP_OTHER" type="text" name="DEP_OTHER_INPUT" id="DEP_OTHER_INPUT" v-model="DEP_OTHER_INPUT" class="pure-input-1">
          </div>
        </div>
      </fieldset>
      <div class="mt2">     
        <div style="overflow-x: auto">
          <table class="pure-table nursing-process-table" style="width: 70%">
            <thead>
              <tr>
                <th width="20%">DATE OF</th>
                <th width="50%">DATE</th>
                <th>TIME</th>
              </tr>
            </thead>    
            <tbody style="border-bottom: 1px solid #cbcbcb;">
              <tr>
                <td>
                  <label>ADMISSION</label>
                </td>
                <td>               
                  <flat-pickr
                    style="min-width: 70px;" 
                    class="pure-input-1"
                    v-model="ADMISSION_DATE"
                    :config="dateOperationConfig"
                    name="ADMISSION_DATE"
                    id="ADMISSION_DATE">
                  </flat-pickr>
                </td>
                <td>
                  <flat-pickr
                    style="min-width: 70px;" 
                    class="pure-input-1"
                    v-model="ADMISSION_TIME"
                    :config="timeOperationConfig"
                    name="ADMISSION_TIME"
                    id="ADMISSION_TIME">
                  </flat-pickr>
                </td>
              </tr>            
              <tr>
                <td>
                  <label>DISCHARGE</label>
                </td>
                <td>               
                  <flat-pickr
                    style="min-width: 70px;" 
                    class="pure-input-1"
                    v-model="DISCHARGE_DATE"
                    :config="dateOperationConfig"
                    name="DISCHARGE_DATE"
                    id="DISCHARGE_DATE">
                  </flat-pickr>
                </td>
                <td>
                  <flat-pickr
                    style="min-width: 70px;" 
                    class="pure-input-1"
                    v-model="DISCHARGE_TIME"
                    :config="timeOperationConfig"
                    name="DISCHARGE_TIME"
                    id="DISCHARGE_TIME">
                  </flat-pickr>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row text-left mt2">
        <div class="col-sm-5">
          <label for="length_of_stay">LENGTH OF STAY 
            <input id="length_of_stay" class="pure-input-1-4 input--inline" type="text" v-model="length_of_stay"> DAYS
          </label>
        </div>
        <div class="col-sm-5">
          <label for="total_leave_days">TOTAL LEAVE DAYS 
            <input id="total_leave_days" class="pure-input-1-4 input--inline" type="text" v-model="total_leave_days"> DAYS
          </label>
        </div>
      </div>
      <legend class="mt2 text-left">DIAGNOSIS</legend>
      <div class="row text-left mt2">
        <div class="col-sm-5 col-xs-12">
          <label for="PRINCIPAL DIAGNOSIS">PRINCIPAL DIAGNOSIS บันทึกได้เพียงโรคเดียวเท่านั้น</label>
          <input id="PRINCIPAL DIAGNOSIS" type="text" v-model="PRINCIPAL_DIAGNOSIS" class="pure-input-1">
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="DIAGNOSIS ICD">DIAGNOSIS ICD CODING by DOCER</label>
          <input id="DIAGNOSIS ICD" type="text" v-model="DIAGNOSIS_ICD" class="pure-input-1">
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="MAN CONDITION">MAN CONDITION (มีได้รหัสเดียว)</label>
          <input id="MAN CONDITION" type="text" v-model="MAN_CONDITION" class="pure-input-1">
        </div>
      </div>

      <div class="row text-left mt2">
        <div class="col-sm-5 col-xs-12">
          <label for="PRE ADMISSION">PRE ADMISSION COMORBIDITY (S)</label>
          <input id="PRE ADMISSION" type="text" v-model="PRE_ADMISSION" class="pure-input-1">
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="COMORBIDITY">COMORBIDITY (S)</label>
          <input id="COMORBIDITY" type="text" v-model="COMORBIDITY" class="pure-input-1">
        </div>
      </div>

      <div class="row text-left mt2">
        <div class="col-sm-5 col-xs-12">
          <label for="COMPLICATION_POST">COMPLICATION (S) (POST ADMISSION COMORBIDITY)</label>
          <input id="COMPLICATION_POST" type="text" v-model="COMPLICATION_POST" class="pure-input-1">
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="COMPLICATION">COMPLICATION (S)</label>
          <input id="COMPLICATION" type="text" v-model="COMPLICATION" class="pure-input-1">
        </div>
      </div>

      <div class="row text-left mt2">
        <div class="col-sm-5 col-xs-12">
          <label for="OTHER DIAGNOSIS">OTHER DIAGNOSIS</label>
          <input id="OTHER DIAGNOSIS" type="text" v-model="OTHER_DIAGNOSIS" class="pure-input-1">
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="OTHERS">OTHER (S)</label>
          <input id="OTHERS" type="text" v-model="OTHERS" class="pure-input-1">
        </div>
      </div>

      <div class="row text-left mt2">
        <div class="col-sm-5 col-xs-12">
          <label for="EXTERNAL_CAUSE_OF_INJURY">EXTERNAL CAUSE (S) OF INJURY</label>
          <input id="EXTERNAL_CAUSE_OF_INJURY" type="text" v-model="EXTERNAL_CAUSE_OF_INJURY" class="pure-input-1">
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="EXTERNAL CAUSE">EXTERNAL CAUSE (S)</label>
          <input id="EXTERNAL CAUSE" type="text" v-model="EXTERNAL_CAUSE" class="pure-input-1">
        </div>
      </div>
      <legend class="text-left mt2">OPERATION</legend>
      <div class="mt2">     
        <div style="overflow-x: auto">
          <table class="pure-table nursing-process-table" style="width: 100%">
            <thead>
              <tr>
                <th width="5%"></th>
                <th width="50%">OPERATING ROOM PROCEDURES</th>
                <th>DATE</th>
                <th>TIME IN</th>
                <th>TIME OUT</th>
              </tr>
            </thead>    
            <tbody style="border-bottom: 1px solid #cbcbcb;">
              <tr>
                <td>1</td>
                <td>
                  <input style="min-width: 70px;" type="text" id="OPERATION_OPER_1" class="pure-input-1" v-model="OPERATION_OPER_1"/>
                </td>
                <td>
                  <flat-pickr
                  style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="OPERATION_DATE_1"
                  :config="dateOperationConfig"
                  name="OPERATION_DATE_1"
                  id="OPERATION_DATE_1">
                  </flat-pickr>
                </td>
                <td>
                  <flat-pickr
                  style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="OPERATION_TIMEIN_1"
                  :config="timeOperationConfig"
                  name="OPERATION_TIMEIN_1"
                  id="OPERATION_TIMEIN_1">
                  </flat-pickr>
                </td>
                <td>
                  <flat-pickr
                  style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="OPERATION_TIMEOUT_1"
                  :config="timeOperationConfig"
                  name="OPERATION_TIMEOUT_1"
                  id="OPERATION_TIMEOUT_1">
                  </flat-pickr>
                </td>
              </tr>            
              <tr>
                <td>2</td>
                <td>
                  <input style="min-width: 70px;" type="text" id="OPERATION_OPER_2" class="pure-input-1" v-model="OPERATION_OPER_2"/>
                </td>
                <td>
                  <flat-pickr
                  style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="OPERATION_DATE_2"
                  :config="dateOperationConfig"
                  name="OPERATION_DATE_2"
                  id="OPERATION_DATE_2">
                  </flat-pickr>
                </td>
                <td>
                  <flat-pickr
                  style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="OPERATION_TIMEIN_2"
                  :config="timeOperationConfig"
                  name="OPERATION_TIMEIN_2"
                  id="OPERATION_TIMEIN_2">
                  </flat-pickr>
                </td>
                <td>
                  <flat-pickr
                  style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="OPERATION_TIMEOUT_2"
                  :config="timeOperationConfig"
                  name="OPERATION_TIMEOUT_2"
                  id="OPERATION_TIMEOUT_2">
                  </flat-pickr>
                </td>
              </tr>              
              <tr>
                <td>3</td>
                <td>
                  <input style="min-width: 70px;" type="text" id="OPERATION_OPER_3" class="pure-input-1" v-model="OPERATION_OPER_3"/>
                </td>
                <td>
                  <flat-pickr
                  style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="OPERATION_DATE_3"
                  :config="dateOperationConfig"
                  name="OPERATION_DATE_3"
                  id="OPERATION_DATE_3">
                  </flat-pickr>
                </td>
                <td>
                  <flat-pickr
                  style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="OPERATION_TIMEIN_3"
                  :config="timeOperationConfig"
                  name="OPERATION_TIMEIN_3"
                  id="OPERATION_TIMEIN_3">
                  </flat-pickr>
                </td>
                <td>
                  <flat-pickr
                  style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="OPERATION_TIMEOUT_3"
                  :config="timeOperationConfig"
                  name="OPERATION_TIMEOUT_3"
                  id="OPERATION_TIMEOUT_3">
                  </flat-pickr>
                </td>
              </tr>            
              <tr>
                <td>4</td>
                <td>
                  <input style="min-width: 70px;" type="text" id="OPERATION_OPER_4" class="pure-input-1" v-model="OPERATION_OPER_4"/>
                </td>
                <td>
                  <flat-pickr
                  style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="OPERATION_DATE_4"
                  :config="dateOperationConfig"
                  name="OPERATION_DATE_4"
                  id="OPERATION_DATE_4">
                  </flat-pickr>
                </td>
                <td>
                  <flat-pickr
                  style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="OPERATION_TIMEIN_4"
                  :config="timeOperationConfig"
                  name="OPERATION_TIMEIN_4"
                  id="OPERATION_TIMEIN_1">
                  </flat-pickr>
                </td>
                <td>
                  <flat-pickr
                  style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="OPERATION_TIMEOUT_4"
                  :config="timeOperationConfig"
                  name="OPERATION_TIMEOUT_1"
                  id="OPERATION_TIMEOUT_1">
                  </flat-pickr>
                </td>
              </tr>   
            </tbody>
          </table>
        </div>
      </div>

      <div class="text-left mt3">
        <label for="IMPORTANT NON OPER">IMPORTANT NON OPERATING ROOM PROCEDURES</label>
      </div>
      <div class="row text-left">
        <div class="col-sm-6 col-xs-12">
          <div class="col-sm-12">
            <label for="IMPORTANT NON OPER 1">1 <input id="IMPORTANT_NON_OPER_1" type="text" v-model="IMPORTANT_NON_OPER_1" class="pure-input-3-4 input--inline"></label>
          </div>         
          <div class="col-sm-12">
            <label for="IMPORTANT NON OPER 2">2 <input id="IMPORTANT_NON_OPER_2" type="text" v-model="IMPORTANT_NON_OPER_2" class="pure-input-3-4 input--inline"></label>
          </div>
          <div class="col-sm-12">
            <label for="IMPORTANT NON OPER 3">3 <input id="IMPORTANT_NON_OPER_3" type="text" v-model="IMPORTANT_NON_OPER_3" class="pure-input-3-4 input--inline"></label>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="col-sm-12">
            <label for="PRECEDURES ICD">PRECEDURES ICD CODING by DOCER</label>
            <input id="PRECEDURES ICD" type="text" v-model="PRECEDURES_ICD" class="pure-input-1-2">
          </div>         
          <div class="col-sm-12 mt2">
            <label for="main">MAIN (มีได้รหัสเดียว)</label>
            <input id="main" type="text" v-model="main" class="pure-input-1-2">
          </div>
        </div>
      </div>

      <div class="text-left mt3">
        <label for="SPECIAL">SPECIAL INVESTIGATIONS</label>
      </div>
      <div class="row text-left">
        <div class="col-sm-6 col-xs-12">
          <div class="col-sm-12">
            <label for="SPECIAL 1">1 <input id="SPECIAL_1" type="text" v-model="SPECIAL_1" class="pure-input-3-4 input--inline"></label>
          </div>         
          <div class="col-sm-12">
            <label for="SPECIAL 2">2 <input id="SPECIAL_2" type="text" v-model="SPECIAL_2" class="pure-input-3-4 input--inline"></label>
          </div>
          <div class="col-sm-12">
            <label for="SPECIAL 3">3 <input id="SPECIAL_3" type="text" v-model="SPECIAL_3" class="pure-input-3-4 input--inline"></label>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="col-sm-12">
            <label for="SPECIAL_OTHER">OTHER (S)</label>
            <textarea id="SPECIAL_OTHER" type="text" v-model="SPECIAL_OTHER" rows="3" class="pure-input-1-2"></textarea>
          </div>         
        </div>
      </div>
      <fieldset>     
        <div class="row text-left">
          <div class="col-sm-12 mt2">
            <legend>DISCHARGE STATUS</legend>
          </div>
          <div class="col-sm-4 col-xs-12">
            <label for="COMPLETE_RECOVERED">
              <input type="checkbox" name="COMPLETE_RECOVERED" id="COMPLETE_RECOVERED" v-model="COMPLETE_RECOVERED">
              COMPLETE RECOVERED
            </label>
          </div>
          <div class="col-sm-6 col-xs-12">
            <label for="UNDELIVERED">
              <input type="checkbox" name="UNDELIVERED" id="UNDELIVERED" v-model="UNDELIVERED">
              UNDELIVERED
            </label>
          </div>
          <div class="col-sm-4 col-xs-12">
            <label for="IMPROVED">
              <input type="checkbox" name="IMPROVED" id="IMPROVED" v-model="IMPROVED">
              IMPROVED
            </label>
          </div>
          <div class="col-sm-6 col-xs-12">
            <label for="CHILD_DISCHARGE_WITH_MOTHER">
              <input type="checkbox" name="CHILD_DISCHARGE_WITH_MOTHER" id="CHILD_DISCHARGE_WITH_MOTHER" v-model="CHILD_DISCHARGE_WITH_MOTHER">
              NORMAL CHILD DISCHARGE WITH MOTHER
            </label>
          </div>
          <div class="col-sm-4 col-xs-12">
            <label for="NOT_IMPROVED">
              <input type="checkbox" name="NOT_IMPROVED" id="NOT_IMPROVED" v-model="NOT_IMPROVED">
              NOT IMPROVED
            </label>
          </div>
          <div class="col-sm-6 col-xs-12">
            <label for="CHILD_DISCHARGE_SEPERATELY">
              <input type="checkbox" name="CHILD_DISCHARGE_SEPERATELY" id="CHILD_DISCHARGE_SEPERATELY" v-model="CHILD_DISCHARGE_SEPERATELY">
              NORMAL CHILD DISCHARGE SEPERATELY
            </label>
          </div>
          <div class="col-sm-4 col-xs-12">
            <label for="DELEVERED">
              <input type="checkbox" name="DELEVERED" id="DELEVERED" v-model="DELEVERED">
              DELEVERED
            </label>
          </div>
          <div class="col-sm-6 col-xs-12">
            <label for="DEAD">
              <input type="checkbox" name="DEAD" id="DEAD" v-model="DEAD">
              DEAD
            </label>
          </div>
        </div>
      </fieldset>
       <fieldset>     
        <div class="row text-left">
          <div class="col-sm-12 mt2">
            <legend>DISCHARGE TYPE</legend>
          </div>
          <div class="col-sm-4 col-xs-12">
            <label for="WITH_APPROVAL">
              <input type="checkbox" name="WITH_APPROVAL" id="WITH_APPROVAL" v-model="WITH_APPROVAL">
              WITH APPROVAL
            </label>
          </div>
          <div class="col-sm-6 col-xs-12">
            <label for="DISCHARGE_TYPE_OTHER">
              <input type="checkbox" name="DISCHARGE_TYPE_OTHER" id="DISCHARGE_TYPE_OTHER" v-model="DISCHARGE_TYPE_OTHER">
              OTHER
            </label>
          </div>
          <div class="col-sm-4 col-xs-12">
            <label for="AGAINST_ADVICE">
              <input type="checkbox" name="AGAINST_ADVICE" id="AGAINST_ADVICE" v-model="AGAINST_ADVICE">
              AGAINST ADVICE
            </label>
          </div>
          <div class="col-sm-6 col-xs-12">
            <label for="DEAD_AUTOPSY">
              <input type="checkbox" name="DEAD_AUTOPSY" id="DEAD_AUTOPSY" v-model="DEAD_AUTOPSY">
              DEAD, AUTOPSY
            </label>
          </div>
          <div class="col-sm-4 col-xs-12">
            <label for="ESCAPTE">
              <input type="checkbox" name="ESCAPTE" id="ESCAPTE" v-model="ESCAPTE">
              ESCAPTE
            </label>
          </div>
          <div class="col-sm-6 col-xs-12">
            <label for="DEAD_NO_AUTOPSY">
              <input type="checkbox" name="DEAD_NO_AUTOPSY" id="DEAD_NO_AUTOPSY" v-model="DEAD_NO_AUTOPSY">
              DEAD, NO AUTOPSY
            </label>
          </div>
          <div class="col-sm-4 col-xs-12">
            <label for="BY_TRANSFER">
              <input type="checkbox" name="BY_TRANSFER" id="BY_TRANSFER" v-model="BY_TRANSFER">
              BY TRANSFER
            </label>
            <div v-if="BY_TRANSFER">
              <label>ชื่อสถานพยาบาลที่ส่งต่อ</label>
              <input id="BY_TRANSFER_INPUT" type="text" v-model="BY_TRANSFER_INPUT" class="pure-input-3-4">
            </div>
          </div>
        </div>
      </fieldset>
      <div class="row text-left">
        <div class="col-sm-6 col-xs-12">
          <label for="ATTENDING PHYSICIAN">ATTENDING PHYSICIAN</label>
          <input id="ATTENDING_PHYSICIAN" type="text" v-model="ATTENDING_PHYSICIAN" class="pure-input-3-4">
        </div>
        <div class="col-sm-6 col-xs-12">
          <label for="APROVED_BY">APROVED BY</label>
          <input id="APROVED_BY" type="text" v-model="APROVED_BY" class="pure-input-3-4">
        </div>
      </div>
        <!-- START OF button group -->
        <fieldset>
            <div class="mt3">            
                <button type="submit" class="pure-button">Submit</button>
                <button type="reset" class="pure-button" v-if="!isEdit">Cancel</button>
                <button @click="resetForm()" type="button" class="pure-button" v-else>Cancel</button>
                <button type="button" class="pure-button button-error" v-if="isEdit" title="Delete" @click="deleteVisitForm" style="margin-left: 1rem;">
                <icon name="trash" style="vertical-align: sub;"></icon>
                </button>
                <button type="button" class="pure-button button-error" v-if="isEdit && !isApprove" title="Approve this form" @click="approveVisitForm">
                <icon name="exclamation-circle" style="vertical-align: top;"></icon>&nbsp;Pending
                </button>
            </div>
        </fieldset>
      <!-- END OF button group -->

      <p class="text-right m0" v-if="isEdit && user && user.id"><small>Last updated: {{ user.name }}</small></p>
      <p class="text-right m0" v-if="isEdit && approveUser && approveUser.id"><small>Approved by: {{ approveUser.name }}</small></p> 
    </form>
  </section>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import { precheckFormData } from './index'
import OccupationDropdown from '../ui/occupation-dropdown'

export default {
  name: 'forms-discharge-summary',
  props: ['patient', 'isEdit', 'isApprove', 'visitFormId', 'user', 'approveUser'],
  components: {
    flatPickr,
    OccupationDropdown
  },
  data () {
    return {
      an: null,
      personal_iden: null,
      hospital_number_display: null,
      title: null,
      first_name: null,
      last_name: null,
      address: null,
      gender: null,
      marital_status: null,
      ethnic_group: null,
      occupation: null,
      dob: null,
      age_at_adm: null,
      age_at_adm_m: null,
      age_at_adm_d: null,
      BIRTHWEIGHT: null,
      WARD: null,
      MEDICINES: false,
      SURGERY: false,
      OBS: false,
      GYN: false,
      PED: false,
      ENT: false,
      EYE: false,
      ORTHOPEDICS: false,
      PSYCHLATRY: false,
      RADIOLOGY: false,
      DENTAL: false,
      DEP_OTHER: false,
      DEP_OTHER_INPUT: null,
      ADMISSION_DATE: null,
      ADMISSION_TIME: null,
      DISCHARGE_DATE: null,
      DISCHARGE_TIME: null,
      length_of_stay: null,
      total_leave_days: null,
      PRINCIPAL_DIAGNOSIS: null,
      DIAGNOSIS_ICD: null,
      MAN_CONDITION: null,
      PRE_ADMISSION: null,
      COMORBIDITY: null,
      COMPLICATION_POST: null,
      COMPLICATION: null,
      OTHER_DIAGNOSIS: null,
      OTHERS: null,
      EXTERNAL_CAUSE_OF_INJURY: null,
      EXTERNAL_CAUSE: null,
      OPERATION_OPER_1: null,
      OPERATION_DATE_1: null,
      OPERATION_TIMEIN_1: null,
      OPERATION_TIMEOUT_1: null,
      OPERATION_OPER_2: null,
      OPERATION_DATE_2: null,
      OPERATION_TIMEIN_2: null,
      OPERATION_TIMEOUT_2: null,
      OPERATION_OPER_3: null,
      OPERATION_DATE_3: null,
      OPERATION_TIMEIN_3: null,
      OPERATION_TIMEOUT_3: null,
      OPERATION_OPER_4: null,
      OPERATION_DATE_4: null,
      OPERATION_TIMEIN_4: null,
      OPERATION_TIMEOUT_4: null,
      IMPORTANT_NON_OPER_1: null,
      IMPORTANT_NON_OPER_2: null,
      IMPORTANT_NON_OPER_3: null,
      PRECEDURES_ICD: null,
      main: null,
      SPECIAL_1: null,
      SPECIAL_2: null,
      SPECIAL_3: null,
      SPECIAL_OTHER: null,
      COMPLETE_RECOVERED: false,
      UNDELIVERED: false,
      IMPROVED: false,
      CHILD_DISCHARGE_WITH_MOTHER: false,
      NOT_IMPROVED: false,
      CHILD_DISCHARGE_SEPERATELY: false,
      DELEVERED: false,
      DEAD: false,
      WITH_APPROVAL: false,
      DISCHARGE_TYPE_OTHER: false,
      AGAINST_ADVICE: false,
      DEAD_AUTOPSY: false,
      ESCAPTE: false,
      DEAD_NO_AUTOPSY: false,
      BY_TRANSFER: false,
      BY_TRANSFER_INPUT: null,
      ATTENDING_PHYSICIAN: null,
      APROVED_BY: null,

      // Config Date
      dateOfBirthConfig: {
        dataFormat: 'Y-m-d',
        maxDate: new Date()
      },
      dateOperationConfig: {
        dataFormat: 'Y-m-d'
      },
      // Config Time
      timeOperationConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        enableSeconds: false,
        time_24hr: true
      }
    }
  },
  created () {
    this.fillForm()
  },
  methods: {
    fillForm () {
      if (this.$lodash.isEmpty(this.patient)) return
      this.an = this.patient.an || null
      this.personal_iden = this.patient.personal_iden || null
      this.hospital_number_display = this.patient.hospital_number_display || null
      if (this.patient.title) {
        this.title = this.patient.title
      } else {
        this.title = this.patient.gender === 'male' ? 'Mr.' : this.patient.marital_status === 'married' ? 'Mrs.' : 'Ms.'
      }
      this.first_name = this.patient.first_name || null
      this.last_name = this.patient.last_name || null
      this.address = this.patient.address || null
      this.gender = this.patient.gender || null
      this.marital_status = this.patient.marital_status || null
      this.ethnic_group = this.patient.ethnic_group || null
      this.occupation = this.patient.occupation
      this.dob = this.patient.dob || null
      this.age_at_adm = this.patient.age_at_adm || null
      this.age_at_adm_m = this.patient.age_at_adm_m || null
      this.age_at_adm_d = this.patient.age_at_adm_d || null
      this.BIRTHWEIGHT = this.patient.BIRTHWEIGHT || null
      this.WARD = this.patient.WARD || null
      this.MEDICINES = this.patient.MEDICINES || null
      this.SURGERY = this.patient.SURGERY || null
      this.OBS = this.patient.OBS || null
      this.GYN = this.patient.GYN || null
      this.PED = this.patient.PED || null
      this.ENT = this.patient.ENT || null
      this.EYE = this.patient.EYE || null
      this.ORTHOPEDICS = this.patient.ORTHOPEDICS || null
      this.PSYCHLATRY = this.patient.PSYCHLATRY || null
      this.RADIOLOGY = this.patient.RADIOLOGY || null
      this.DENTAL = this.patient.DENTAL || null
      this.DEP_OTHER = this.patient.DEP_OTHER || null
      this.DEP_OTHER_INPUT = this.patient.DEP_OTHER_INPUT || null
      if (this.patient.DEP_OTHER_INPUT) {
        this.DEP_OTHER = true
        this.DEP_OTHER_INPUT = this.patient.DEP_OTHER_INPUT
      }
      this.ADMISSION_DATE = this.patient.ADMISSION_DATE || null
      this.ADMISSION_TIME = this.patient.ADMISSION_TIME || null
      this.DISCHARGE_DATE = this.patient.DISCHARGE_DATE || null
      this.DISCHARGE_TIME = this.patient.DISCHARGE_TIME || null
      this.length_of_stay = this.patient.length_of_stay || null
      this.total_leave_days = this.patient.total_leave_days || null
      this.PRINCIPAL_DIAGNOSIS = this.patient.PRINCIPAL_DIAGNOSIS || null
      this.DIAGNOSIS_ICD = this.patient.DIAGNOSIS_ICD || null
      this.MAN_CONDITION = this.patient.MAN_CONDITION || null
      this.PRE_ADMISSION = this.patient.PRE_ADMISSION || null
      this.COMORBIDITY = this.patient.COMORBIDITY || null
      this.COMPLICATION_POST = this.patient.COMPLICATION_POST || null
      this.COMPLICATION = this.patient.COMPLICATION || null
      this.OTHER_DIAGNOSIS = this.patient.OTHER_DIAGNOSIS || null
      this.OTHERS = this.patient.OTHERS || null
      this.EXTERNAL_CAUSE_OF_INJURY = this.patient.EXTERNAL_CAUSE_OF_INJURY || null
      this.EXTERNAL_CAUSE = this.patient.EXTERNAL_CAUSE || null
      this.OPERATION_OPER_1 = this.patient.OPERATION_OPER_1 || null
      this.OPERATION_DATE_1 = this.patient.OPERATION_DATE_1 || null
      this.OPERATION_TIMEIN_1 = this.patient.OPERATION_TIMEIN_1 || null
      this.OPERATION_TIMEOUT_1 = this.patient.OPERATION_TIMEOUT_1 || null
      this.OPERATION_OPER_2 = this.patient.OPERATION_OPER_2 || null
      this.OPERATION_DATE_2 = this.patient.OPERATION_DATE_2 || null
      this.OPERATION_TIMEIN_2 = this.patient.OPERATION_TIMEIN_2 || null
      this.OPERATION_TIMEOUT_2 = this.patient.OPERATION_TIMEOUT_2 || null
      this.OPERATION_OPER_3 = this.patient.OPERATION_OPER_3 || null
      this.OPERATION_DATE_3 = this.patient.OPERATION_DATE_3 || null
      this.OPERATION_TIMEIN_3 = this.patient.OPERATION_TIMEIN_3 || null
      this.OPERATION_TIMEOUT_3 = this.patient.OPERATION_TIMEOUT_3 || null
      this.OPERATION_OPER_4 = this.patient.OPERATION_OPER_4 || null
      this.OPERATION_DATE_4 = this.patient.OPERATION_DATE_4 || null
      this.OPERATION_TIMEIN_4 = this.patient.OPERATION_TIMEIN_4 || null
      this.OPERATION_TIMEOUT_4 = this.patient.OPERATION_TIMEOUT_4 || null
      this.IMPORTANT_NON_OPER_1 = this.patient.IMPORTANT_NON_OPER_1 || null
      this.IMPORTANT_NON_OPER_2 = this.patient.IMPORTANT_NON_OPER_2 || null
      this.IMPORTANT_NON_OPER_3 = this.patient.IMPORTANT_NON_OPER_3 || null
      this.PRECEDURES_ICD = this.patient.PRECEDURES_ICD || null
      this.main = this.patient.main || null
      this.SPECIAL_1 = this.patient.SPECIAL_1 || null
      this.SPECIAL_2 = this.patient.SPECIAL_2 || null
      this.SPECIAL_3 = this.patient.SPECIAL_3 || null
      this.SPECIAL_OTHER = this.patient.SPECIAL_OTHER || null
      this.COMPLETE_RECOVERED = this.patient.COMPLETE_RECOVERED || null
      this.UNDELIVERED = this.patient.UNDELIVERED || null
      this.IMPROVED = this.patient.IMPROVED || null
      this.CHILD_DISCHARGE_WITH_MOTHER = this.patient.CHILD_DISCHARGE_WITH_MOTHER || null
      this.NOT_IMPROVED = this.patient.NOT_IMPROVED || null
      this.CHILD_DISCHARGE_SEPERATELY = this.patient.CHILD_DISCHARGE_SEPERATELY || null
      this.DELEVERED = this.patient.DELEVERED || null
      this.DEAD = this.patient.DEAD || null
      this.WITH_APPROVAL = this.patient.WITH_APPROVAL || null
      this.DISCHARGE_TYPE_OTHER = this.patient.DISCHARGE_TYPE_OTHER || null
      this.AGAINST_ADVICE = this.patient.AGAINST_ADVICE || null
      this.DEAD_AUTOPSY = this.patient.DEAD_AUTOPSY || null
      this.ESCAPTE = this.patient.ESCAPTE || null
      this.DEAD_NO_AUTOPSY = this.patient.DEAD_NO_AUTOPSY || null
      this.BY_TRANSFER = this.patient.BY_TRANSFER || null
      this.BY_TRANSFER_INPUT = this.patient.BY_TRANSFER_INPUT || null
      if (this.patient.BY_TRANSFER_INPUT) {
        this.BY_TRANSFER = true
        this.BY_TRANSFER_INPUT = this.patient.BY_TRANSFER_INPUT
      }
      this.ATTENDING_PHYSICIAN = this.patient.ATTENDING_PHYSICIAN || null
      this.APROVED_BY = this.patient.APROVED_BY || null
    },
    submitForm () {
      const data = {
        an: this.an,
        personal_iden: this.personal_iden,
        hospital_number_display: this.hospital_number_display,
        title: this.title,
        first_name: this.first_name,
        last_name: this.last_name,
        address: this.address,
        gender: this.gender,
        marital_status: this.marital_status,
        ethnic_group: this.ethnic_group,
        occupation: this.occupation,
        dob: this.dob,
        age_at_adm: this.age_at_adm,
        age_at_adm_m: this.age_at_adm_m,
        age_at_adm_d: this.age_at_adm_d,
        BIRTHWEIGHT: this.BIRTHWEIGHT,
        WARD: this.WARD,
        MEDICINES: this.MEDICINES,
        SURGERY: this.SURGERY,
        OBS: this.OBS,
        GYN: this.GYN,
        PED: this.PED,
        ENT: this.ENT,
        EYE: this.EYE,
        ORTHOPEDICS: this.ORTHOPEDICS,
        PSYCHLATRY: this.PSYCHLATRY,
        RADIOLOGY: this.RADIOLOGY,
        DENTAL: this.DENTAL,
        DEP_OTHER: this.DEP_OTHER,
        DEP_OTHER_INPUT: this.DEP_OTHER ? this.DEP_OTHER_INPUT : null,
        ADMISSION_DATE: this.ADMISSION_DATE,
        ADMISSION_TIME: this.ADMISSION_TIME,
        DISCHARGE_DATE: this.DISCHARGE_DATE,
        DISCHARGE_TIME: this.DISCHARGE_TIME,
        length_of_stay: this.length_of_stay,
        total_leave_days: this.total_leave_days,
        PRINCIPAL_DIAGNOSIS: this.PRINCIPAL_DIAGNOSIS,
        DIAGNOSIS_ICD: this.DIAGNOSIS_ICD,
        MAN_CONDITION: this.MAN_CONDITION,
        PRE_ADMISSION: this.PRE_ADMISSION,
        COMORBIDITY: this.COMORBIDITY,
        COMPLICATION_POST: this.COMPLICATION_POST,
        COMPLICATION: this.COMPLICATION,
        OTHER_DIAGNOSIS: this.OTHER_DIAGNOSIS,
        OTHERS: this.OTHERS,
        EXTERNAL_CAUSE_OF_INJURY: this.EXTERNAL_CAUSE_OF_INJURY,
        EXTERNAL_CAUSE: this.EXTERNAL_CAUSE,
        OPERATION_OPER_1: this.OPERATION_OPER_1,
        OPERATION_DATE_1: this.OPERATION_DATE_1,
        OPERATION_TIMEIN_1: this.OPERATION_TIMEIN_1,
        OPERATION_TIMEOUT_1: this.OPERATION_TIMEOUT_1,
        OPERATION_OPER_2: this.OPERATION_OPER_2,
        OPERATION_DATE_2: this.OPERATION_DATE_2,
        OPERATION_TIMEIN_2: this.OPERATION_TIMEIN_2,
        OPERATION_TIMEOUT_2: this.OPERATION_TIMEOUT_2,
        OPERATION_OPER_3: this.OPERATION_OPER_3,
        OPERATION_DATE_3: this.OPERATION_DATE_3,
        OPERATION_TIMEIN_3: this.OPERATION_TIMEIN_3,
        OPERATION_TIMEOUT_3: this.OPERATION_TIMEOUT_3,
        OPERATION_OPER_4: this.OPERATION_OPER_4,
        OPERATION_DATE_4: this.OPERATION_DATE_4,
        OPERATION_TIMEIN_4: this.OPERATION_TIMEIN_4,
        OPERATION_TIMEOUT_4: this.OPERATION_TIMEOUT_4,
        IMPORTANT_NON_OPER_1: this.IMPORTANT_NON_OPER_1,
        IMPORTANT_NON_OPER_2: this.IMPORTANT_NON_OPER_2,
        IMPORTANT_NON_OPER_3: this.IMPORTANT_NON_OPER_3,
        PRECEDURES_ICD: this.PRECEDURES_ICD,
        main: this.main,
        SPECIAL_1: this.SPECIAL_1,
        SPECIAL_2: this.SPECIAL_2,
        SPECIAL_3: this.SPECIAL_3,
        SPECIAL_OTHER: this.SPECIAL_OTHER,
        COMPLETE_RECOVERED: this.COMPLETE_RECOVERED,
        UNDELIVERED: this.UNDELIVERED,
        IMPROVED: this.IMPROVED,
        CHILD_DISCHARGE_WITH_MOTHER: this.CHILD_DISCHARGE_WITH_MOTHER,
        NOT_IMPROVED: this.NOT_IMPROVED,
        CHILD_DISCHARGE_SEPERATELY: this.CHILD_DISCHARGE_SEPERATELY,
        DELEVERED: this.DELEVERED,
        DEAD: this.DEAD,
        WITH_APPROVAL: this.WITH_APPROVAL,
        DISCHARGE_TYPE_OTHER: this.DISCHARGE_TYPE_OTHER,
        AGAINST_ADVICE: this.AGAINST_ADVICE,
        DEAD_AUTOPSY: this.DEAD_AUTOPSY,
        ESCAPTE: this.ESCAPTE,
        DEAD_NO_AUTOPSY: this.DEAD_NO_AUTOPSY,
        BY_TRANSFER: this.BY_TRANSFER,
        BY_TRANSFER_INPUT: this.BY_TRANSFER ? this.BY_TRANSFER_INPUT : null,
        ATTENDING_PHYSICIAN: this.ATTENDING_PHYSICIAN,
        APROVED_BY: this.APROVED_BY
      }
      // const body = this.precheckBodyData(data)
      const body = precheckFormData(8, data)

      if (!body) {
        alert('Something went wrong (missing parameters)')
        return
      }

      if (this.isEdit) { // edit existing opd form
        this.$emit('submit', { action: 'edit', body, visitFormId: this.visitFormId })
      } else { // create new opd form
        this.$emit('submit', { action: 'create', body })
      }
    },
    deleteVisitForm (id) {
      this.$emit('submit', { action: 'delete', visitFormId: this.visitFormId })
    },
    approveVisitForm (id) {
      this.$emit('submit', { action: 'approve', visitFormId: this.visitFormId })
    },
    // hit cancel button on edit mode
    resetForm () {
      const answer = confirm('Are you sure you want to discard your changes?')

      if (!answer) return
      this.fillForm()
    }
  }
}
</script>
