<template>
  <section class="content">
    <h1>Forms Page</h1>
    <ul>
      <li class="pure-menu-item"><router-link to="medical-certificate" class="pure-menu-link">Medical Certificate</router-link></li>
      <li class="pure-menu-item"><router-link to="opd-card" class="pure-menu-link">Opd Card</router-link></li>
      <li class="pure-menu-item"><router-link to="nursing-intervention" class="pure-menu-link">Nursing Intervention</router-link></li>
      <li class="pure-menu-item"><router-link to="nursing-assessment" class="pure-menu-link">Nursing Assessment</router-link></li>
      <li class="pure-menu-item"><router-link to="order-for-acute" class="pure-menu-link">Order for Acute gastroenteritis / Food poisoning for adult</router-link></li>
      <li class="pure-menu-item"><router-link to="progress-note" class="pure-menu-link">Progress Note</router-link></li>
      <li class="pure-menu-item"><router-link to="physiciant-order" class="pure-menu-link">Physician Order </router-link></li>
      <li class="pure-menu-item"><router-link to="discharge-summary" class="pure-menu-link">Discharge Summary</router-link></li>
      <li class="pure-menu-item"><router-link to="medication-sheet-oneday" class="pure-menu-link">Medication Sheet One Day</router-link></li>
      <li class="pure-menu-item"><router-link to="medication-sheet-continue" class="pure-menu-link">Medication Sheet Continue</router-link></li>
      <li class="pure-menu-item"><router-link to="nursing-focus-list" class="pure-menu-link">Nursing Focus List</router-link></li>
      <li class="pure-menu-item"><router-link to="nursing-focus-note" class="pure-menu-link">Nursing Focus Note</router-link></li>
      <li class="pure-menu-item"><router-link to="vital-sign" class="pure-menu-link">Vital Sign</router-link></li>
      <li class="pure-menu-item"><router-link to="nursing-assessment-form1" class="pure-menu-link">Nursing Assessment Form1</router-link></li>
      <li class="pure-menu-item"><router-link to="nursing-assessment-form2" class="pure-menu-link">Nursing Assessment Form2</router-link></li>
      <li class="pure-menu-item"><router-link to="nursing-assessment-form3" class="pure-menu-link">Nursing Assessment Form3</router-link></li>
      <li class="pure-menu-item"><router-link to="nursing-assessment-form4" class="pure-menu-link">Nursing Assessment Form4</router-link></li>
      <li class="pure-menu-item"><router-link to="intravenous-record" class="pure-menu-link">Intravenous Record</router-link></li>
    </ul>

    <div class="form-container">
      <router-view :patient="patientInfo"></router-view>
    </div>
  </section>
</template>

<script>
export default {
  name: 'forms-forms',
  data () {
    return {
      patientInfo: {
      }
    }
  }
}
</script>

<style lang="scss">
.form-container {
  padding: 5px;
}
</style>
