<template>
  <section class="content">
    <!-- <pre>{{ patient }}</pre> -->
    <h1>{{ isEdit ? 'Update': '' }} INTRAVENOUS RECORD</h1>
    <form class="intravenous-record-form pure-form pure-form-stacked" v-on:submit.prevent="submitForm">

     <div style="overflow-x: auto">
        <table class="pure-table med-sheet-table" style="width: 100%">
          <thead>
            <tr style="border-bottom: 1px solid #cbcbcb; vertical-align: middle;">
              <th class="text-center margin-center" width="2%" style="min-width: 30px;" rowspan="2">No.</th>
              <th class="text-center" width="35%" style="min-width: 300px;" rowspan="2">Intravenous fluid/medicine</th>
              <th class="text-center" width="3%" style="min-width: 20px;" rowspan="2">Infusion Pump</th>
              <th class="text-center" width="5%" style="min-width: 120px;" rowspan="2">Rate of infusion</th>
              <th class="text-center" width="5%" style="min-width: 280px;" colspan="2">Start</th>
              <th class="text-center" width="5%" style="min-width: 280px;" colspan="2">End</th>
              <th class="text-center" width="5%" style="min-width: 280px;" colspan="2">Amount</th>
              <th class="text-center" width="5%" style="min-width: 120px;" rowspan="2">Site</th>
              <th class="text-center" width="5%" style="min-width: 280px;" colspan="2">Vessel</th>
              <th class="text-center" width="10%" style="min-width: 280px;" colspan="2">date</th>
              <th class="text-center" width="10%" style="min-width: 70px;" rowspan="2">Nurse</th>
              <th class="text-center" width="10%" style="min-width: 70px;" rowspan="2">Comment</th>
            </tr>
            <tr class="text-center" style="border-bottom: 1px solid #cbcbcb; vertical-align: middle;">
              <th>date</th>
              <th>time</th>
              <th>date</th>
              <th>time</th>
              <th>in take</th>
              <th>remain</th>
              <th>time</th>
              <th>Phlebitis Scale</th>
              <th>Insert cannular</th>
              <th>Start using set</th>
            </tr>
          </thead>
          <tbody v-for="(np, index) in intraRecord" style="border-bottom: 1px solid #cbcbcb;">
          <tr>
            <td>
              <input type="text" :id="'no_' + index" class="pure-input-1" v-model="intraRecordData[index].no" readonly>
            </td>
            <td>
              <input type="text" :id="'intra_' + index" class="pure-input-1" v-model="intraRecordData[index].intra"/>
            </td>
            <td>
              <input type="checkbox" :id="'infus_' + index" v-model="intraRecordData[index].infus"/>
            </td>
            <td>
              <input type="text" :id="'rate_' + index" class="pure-input-1" v-model="intraRecordData[index].rate"/>
            </td>
            <td>
              <flat-pickr
                class="pure-input-1"
                v-model="intraRecordData[index].start_date"
                placeholder="Select date"
                :config="intraRecordDateConfig"
                :id="'start_date_' + index">
  
              </flat-pickr>
            </td>
            <td>
              <flat-pickr
                class="pure-input-1"
                v-model="intraRecordData[index].start_time"
                placeholder="Select time"
                :config="intraRecordTimeConfig"
                :id="'start_time_' + index">
              </flat-pickr>
            </td>
            <td>
              <flat-pickr
                class="pure-input-1"
                v-model="intraRecordData[index].end_date"
                placeholder="Select date"
                :config="intraRecordDateConfig"
                :id="'end_date_' + index">
              </flat-pickr>
            </td>
            <td>
              <flat-pickr
                class="pure-input-1"
                v-model="intraRecordData[index].end_time"
                placeholder="Select time"
                :config="intraRecordTimeConfig"
                :id="'end_time_' + index">
              </flat-pickr>
            </td>
            <td>
              <input type="text" :id="'amo_in_take_' + index" class="pure-input-1" v-model="intraRecordData[index].amo_in_take"/>
            </td>
            <td>
              <input type="text" :id="'amo_remain_' + index" class="pure-input-1" v-model="intraRecordData[index].amo_remain"/>
            </td>
            <td>
              <input type="text" :id="'site_' + index" class="pure-input-1" v-model="intraRecordData[index].site"/>
            </td>
            <td>
              <flat-pickr
                class="pure-input-1"
                v-model="intraRecordData[index].ves_time"
                placeholder="Select time"
                :config="intraRecordTimeConfig"
                :id="'ves_time_' + index">
              </flat-pickr>
            </td>
            <td>
              <input type="text" :id="'ves_phle_' + index" class="pure-input-1" v-model="intraRecordData[index].ves_phle"/> 
            </td>
            <td>
              <input type="text" :id="'date_insert_' + index" class="pure-input-1" v-model="intraRecordData[index].date_insert"/> 
            </td>
            <td>
              <input type="text" :id="'date_using_set_' + index" class="pure-input-1" v-model="intraRecordData[index].date_using_set"/> 
            </td>
            <td>
              <input type="text" :id="'nurse_' + index" class="pure-input-1" v-model="intraRecordData[index].nurse"/>   
            </td>
            <td>
              <input type="text" :id="'comment_' + index" class="pure-input-1" v-model="intraRecordData[index].comment"/> 
  
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    <div class="row mt2">
        <div class="col-sm">
          <button class="pure-button" @click="updateintraRecord(true)" type="button">+</button>
          <button class="pure-button" @click="updateintraRecord(false)" type="button">-</button>
        </div>
      </div>
      <fieldset>
        <div class="mt2">
          <button type="submit" class="pure-button">Submit</button>
          <button type="reset" class="pure-button" v-if="!isEdit">Cancel</button>
          <button @click="resetForm()" type="button" class="pure-button" v-else>Cancel</button>
          <button type="button" class="pure-button button-error" v-if="isEdit" title="Delete" @click="deleteVisitForm" style="margin-left: 1rem;">
            <icon name="trash"></icon>
          </button>
          <button type="button" class="pure-button button-error" v-if="isEdit && !isApprove" title="Approve this form" @click="approveVisitForm">
            <icon name="exclamation-circle" style="vertical-align: top;"></icon>&nbsp;Pending
          </button>
        </div>

      </fieldset>
      <!-- END OF button group -->

      <p class="text-right m0" v-if="isEdit && user && user.id"><small>Last updated: {{ user.name }}</small></p>
      <p class="text-right m0" v-if="isEdit && approveUser && approveUser.id"><small>Approved by: {{ approveUser.name }}</small></p>
    </form>
  </section>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import { precheckFormData } from './index'

export default {
  name: 'forms-medication-sheet-oneday',
  props: ['patient', 'isEdit', 'isApprove', 'visitFormId', 'user', 'approveUser'],
  components: {
    flatPickr
  },
  data () {
    return {
      // Intra record List
      recordIndex: 2,
      intraRecord: 1,
      intraRecordData: [{
        no: 1,
        intra: '',
        infus: '',
        rate: '',
        start_date: '',
        start_time: '',
        end_date: '',
        end_time: '',
        amo_in_take: '',
        amo_remain: '',
        site: '',
        ves_time: '',
        ves_phle: '',
        date_insert: '',
        date_using_set: '',
        nurse: '',
        comment: ''
      }],
      // date config
      dateOfBirthConfig: {
        dataFormat: 'Y-m-d',
        maxDate: new Date()
      },
      visitDateConfig: {
        dataFormat: 'Y-m-d'
      },
      intraRecordDateConfig: {
        dataFormat: 'Y-m-d'
      },
      // time config
      intraRecordTimeConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        enableSeconds: false,
        time_24hr: true
      }
    }
  },
  created () {
    this.fillForm()
  },
  methods: {
    fillForm () {
      if (this.$lodash.isEmpty(this.patient)) return
      if (this.patient.intra_record) {
        this.intraRecordData = JSON.parse(this.patient.intra_record)
        this.intraRecord = this.intraRecordData.length
      }
    },
    submitForm () {
      const data = {
        // dynamic array
        intra_record: JSON.stringify(this.intraRecordData)

      }
      // const body = this.precheckBodyData(data)
      const body = precheckFormData(18, data)

      if (!body) {
        alert('Something went wrong (missing parameters)')
        return
      }

      if (this.isEdit) { // edit existing opd form
        this.$emit('submit', { action: 'edit', body, visitFormId: this.visitFormId })
      } else { // create new opd form
        this.$emit('submit', { action: 'create', body })
      }
    },
    deleteVisitForm (id) {
      this.$emit('submit', { action: 'delete', visitFormId: this.visitFormId })
    },
    approveVisitForm (id) {
      this.$emit('submit', { action: 'approve', visitFormId: this.visitFormId })
    },
    // hit cancel button on edit mode
    resetForm () {
      const answer = confirm('Are you sure you want to discard your changes?')

      if (!answer) return
      this.fillForm()
    },

    updateintraRecord (isPlus = true) {
      if (isPlus) { // plus
        if (this.intraRecord < 18) {
          this.intraRecord++
          this.intraRecordData.push({
            no: this.recordIndex++,
            intra: '',
            infus: '',
            rate: '',
            start_date: '',
            start_time: '',
            end_date: '',
            end_time: '',
            amo_in_take: '',
            amo_remain: '',
            site: '',
            ves_time: '',
            ves_phle: '',
            date_insert: '',
            date_using_set: '',
            nurse: '',
            comment: ''
          })
        }
      } else { // minus
        if (this.intraRecord > 1) {
          this.intraRecord--
          this.recordIndex--

          // remove last item from array
          this.intraRecordData.pop()
        }
      }
    }
  }
}
</script>
