<template>
  <section class="content">
    <!-- <pre>{{ patient }}</pre> -->
    <h1>{{ isEdit ? 'Update': '' }} Medication Sheet One Day</h1>
    <form class="medication-sheet-oneday-form pure-form pure-form-stacked" v-on:submit.prevent="submitForm">
      <div class="row text-left">
        <div class="col-xs-12 col-sm-3">
          <label for="title">Prefix</label>
          <select id="title" v-model="title" class="pure-input-1" disabled>
            <option>Mr.</option>
            <option>Mrs.</option>
            <option>Ms.</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="first_name">First name</label>
            <input id="first_name" type="text" v-model="first_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="last_name">Last name</label>
            <input id="last_name" type="text" v-model="last_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="dob">DOB</label>
          <flat-pickr
            v-model="dob"
            :config="dateOfBirthConfig"
            placeholder="Select date"
            class="pure-input-1"
            name="dob"
            disabled>
          </flat-pickr>
        </div>
      </div>

      <div class="row mt2">
        <div class="col-sm col-xs-6">
          <label for="age">Age</label>
          <input id="age" class="pure-input-1" type="text" v-model="age" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="gender">Gender</label>
          <select id="gender" v-model="gender" class="pure-input-1" disabled readonly>
            <option>male</option>
            <option>female</option>
            <option>other</option>
          </select>
        </div>
        <div class="col-sm col-xs-6">
          <label for="cn-hn">CN/HN:</label>
          <input id="cn-hn" class="pure-input-1" type="text" v-model="hospital_number_display" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="an">AN:</label>
          <input id="an" class="pure-input-1" type="text" v-model="an">
        </div>
        <div class="col-sm col-xs-6">
          <label for="visit-date">Visit date:</label>
          <flat-pickr
            class="pure-input-1"
            v-model="first_visited_date"
            :config="visitDateConfig"
            placeholder="Select date"
            name="visit_date">
          </flat-pickr>
        </div>
      </div>
      <legend></legend>
     <div style="overflow-x: auto">
        <table class="pure-table med-sheet-table fixed">
          <thead>
            <tr style="border-bottom: 1px solid #cbcbcb;">
              <th class="text-center" width="400px" style="min-width: 20px;" rowspan="3">Name Of Medication</th>
              <th v-for="(np, index) in medSheetList" class="text-center" width="200px" style="min-width: 20px;" colspan="2">Date
                <button type="button" @click="medSheetList.splice(index, 1);" class="pure-button button-error"><icon name="trash" /></button>
              </th>
              <th rowspan="3">
                <button type="button" @click="updatemedSheetList('medSheetList', 1)" class="pure-button button-secondary"><label>ADD<br>DATE</label>
                </button>
              </th>
            </tr>
            <tr style="border-bottom: 1px solid #cbcbcb;">
              <th v-for="(np, index) in medSheetList"  class="text-center" width="200px" style="min-width: 20px;" colspan="2">Administered</th>
            </tr>
            <tr style="border-bottom: 1px solid #cbcbcb;">
              <th v-for="(np, index) in medSheetList"  class="text-center" width="100px" style="min-width: 20px;">Time</th>
              <th v-for="(np, index) in medSheetList"  class="text-center" width="100px" style="min-width: 20px;">Sign</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(np, index) in ivFluidIndex" style="border-bottom: 1px solid #cbcbcb;">
              <td>
                <input type="text" class="pure-input-1" />
              </td>              
              <td v-for="(np, index) in medSheetListIndex">
                <input type="text" class="pure-input-1" />
              </td>
              <td v-for="(np, index) in medSheetListIndex">
                <input type="text" class="pure-input-1" />
              </td>
              <td>

              </td>
            </tr>
            <tr>
              <td>
                <button type="button" @click="updateIVFluid('', 1)" class="pure-button button-secondary">+</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    <div class="row mt2">
        <div class="col-sm">
          <button class="pure-button" @click="updateMedSheet(true)" type="button">+</button>
          <button class="pure-button" @click="updateMedSheet(false)" type="button">-</button>
        </div>
      </div>
      <fieldset>
        <div class="mt2">
          <button type="submit" class="pure-button">Submit</button>
          <button type="reset" class="pure-button" v-if="!isEdit">Cancel</button>
          <button @click="resetForm()" type="button" class="pure-button" v-else>Cancel</button>
          <button type="button" class="pure-button button-error" v-if="isEdit" title="Delete" @click="deleteVisitForm" style="margin-left: 1rem;">
            <icon name="trash"></icon>
          </button>
          <button type="button" class="pure-button button-error" v-if="isEdit && !isApprove" title="Approve this form" @click="approveVisitForm">
            <icon name="exclamation-circle" style="vertical-align: top;"></icon>&nbsp;Pending
          </button>
        </div>

      </fieldset>
      <!-- END OF button group -->

      <p class="text-right m0" v-if="isEdit && user && user.id"><small>Last updated: {{ user.name }}</small></p>
      <p class="text-right m0" v-if="isEdit && approveUser && approveUser.id"><small>Approved by: {{ approveUser.name }}</small></p>
    </form>
  </section>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import { precheckFormData } from './index'
import getAge from '../../filters/age.js'

export default {
  name: 'forms-medication-sheet-oneday',
  props: ['patient', 'isEdit', 'isApprove', 'visitFormId', 'user', 'approveUser'],
  components: {
    flatPickr
  },
  data () {
    return {
      title: null,
      first_name: null,
      last_name: null,
      dob: null,
      opd_cc: null,
      opd_pi: null,
      age: null,
      gender: null,
      hospital_number_display: null,
      an: null,
      first_visited_date: null,
      med_sheet_date1: null,
      med_sheet_date2: null,
      med_sheet_date3: null,
      med_sheet_date4: null,
      // medSheet List
      ivFluidIndex: 1,
      medSheetListIndex: 1,
      medSheetList: [{
        date: [{
          iv_fluid: [{
            iv_fluid_time: '',
            iv_fluid_sign: ''
          }],
          inject_med: [{
            inject_med_time: '',
            inject_med_sign: ''
          }],
          other_med: [{
            other_med_time: '',
            other_med_sign: ''
          }]
        }]
      }],
      // date config
      dateOfBirthConfig: {
        dataFormat: 'Y-m-d',
        maxDate: new Date()
      },
      visitDateConfig: {
        dataFormat: 'Y-m-d'
      },
      medSheetDateConfig: {
        dataFormat: 'Y-m-d'
      },
      // time config
      medSheetTimeConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        enableSeconds: false,
        time_24hr: true
      }
    }
  },
  created () {
    this.fillForm()
  },
  methods: {
    fillForm () {
      if (this.$lodash.isEmpty(this.patient)) return
      if (this.patient.title) {
        this.title = this.patient.title
      } else {
        this.title = this.patient.gender === 'male' ? 'Mr.' : this.patient.marital_status === 'married' ? 'Mrs.' : 'Ms.'
      }
      this.first_name = this.patient.first_name || null
      this.last_name = this.patient.last_name || null
      this.dob = this.patient.dob || null
      this.opd_cc = this.patient.opd_cc || null
      this.opd_pi = this.patient.opd_pi || null
      this.age = this.patient.dob ? getAge(this.patient.dob) : this.patient.age
      this.gender = this.patient.gender || null
      this.hospital_number_display = this.patient.hospital_number_display || null
      this.an = this.patient.an || null
      if (this.patient.med_sheet) {
        this.medSheetData = JSON.parse(this.patient.med_sheet)
        this.medSheet = this.medSheetData.length
      }
    },
    submitForm () {
      const data = {
        title: this.title,
        first_name: this.first_name,
        last_name: this.last_name,
        dob: this.dob,
        opd_cc: this.opd_cc,
        opd_pi: this.opd_pi,
        age: this.age,
        gender: this.gender,
        hospital_number_display: this.hospital_number_display,
        an: this.an,
        first_visited_date: this.first_visited_date,
        // med sheet dynamic array
        med_sheet: JSON.stringify(this.medSheetData)

      }
      // const body = this.precheckBodyData(data)
      const body = precheckFormData(9, data)

      if (!body) {
        alert('Something went wrong (missing parameters)')
        return
      }

      if (this.isEdit) { // edit existing opd form
        this.$emit('submit', { action: 'edit', body, visitFormId: this.visitFormId })
      } else { // create new opd form
        this.$emit('submit', { action: 'create', body })
      }
    },
    deleteVisitForm (id) {
      this.$emit('submit', { action: 'delete', visitFormId: this.visitFormId })
    },
    approveVisitForm (id) {
      this.$emit('submit', { action: 'approve', visitFormId: this.visitFormId })
    },
    // hit cancel button on edit mode
    resetForm () {
      const answer = confirm('Are you sure you want to discard your changes?')

      if (!answer) return
      this.fillForm()
    },
    updatemedSheetList (model, value) {
      if (value > 0) {
        this[model].push({
          date: [{
            iv_fluid: [{
              iv_fluid_time: '',
              iv_fluid_sign: ''
            }],
            inject_med: [{
              inject_med_time: '',
              inject_med_sign: ''
            }],
            other_med: [{
              other_med_time: '',
              other_med_sign: ''
            }]
          }]
        })
        this.medSheetListIndex++
        this[model + 'Length'] += value
      } else {
        if (this[model].length > 0) {
          this[model].pop()
          this[model + 'Length'] += value
        }
      }
    },
    updateIVFluid (model, value) {
      if (value > 0) {
        // this[model].push({
        //   date: [{
        //     iv_fluid: [{
        //       iv_fluid_time: '',
        //       iv_fluid_sign: ''
        //     }],
        //     inject_med: [{
        //       inject_med_time: '',
        //       inject_med_sign: ''
        //     }],
        //     other_med: [{
        //       other_med_time: '',
        //       other_med_sign: ''
        //     }]
        //   }]
        // })
        this.ivFluidIndex++
        console.log(this.medSheetListIndex)
        this[model + 'Length'] += value
      } else {
        if (this[model].length > 0) {
          this[model].pop()
          this[model + 'Length'] += value
        }
      }
    }
  }
}
</script>

<style scoped>
table.fixed { 
  table-layout:fixed; 
}
table.fixed td { 
  overflow: hidden; 
}
</style>
