<template>
  <section class="content">
    <!-- <pre>{{ opdCardData }}</pre> -->
    <h1>{{ isEdit ? 'Update': '' }} Medical Certificate</h1>
    <div class="d-flex">
      <router-link type="button" class="pure-button ml-auto" 
        target="_blank"
        :to="`/print/medcert/${visitFormId}`">
        <icon name="print"></icon> Print MedCert
      </router-link>
    </div>
    <form class="med-cer-form pure-form pure-form-stacked" v-on:submit.prevent="submitForm">
      <div class="row text-left mt2">
        <div class="col-xs-12 col-sm-3">
          <label for="title">Prefix</label>
          <select id="title" v-model="title" class="pure-input-1" readonly disabled>
            <option value="Mr.">Mr.</option>
            <option value="Mrs.">Mrs.</option>
            <option value="Ms.">Ms.</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="first_name">First name</label>
          <input id="first_name" type="text" v-model="first_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="last_name">Last name</label>
          <input id="last_name" type="text" v-model="last_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="doc-date">Date</label>
          <flat-pickr
              v-model="doc_date"
              :config="docDateConfig"
              placeholder="Select date"
              class="pure-input-1"
              name="doc_date">
          </flat-pickr>
        </div>
      </div>

      <legend></legend>

      <!-- START OF CC/PE -->
      <div class="row margin-input mt2">
        <div class="col-xs-12 col-sm-12">
          <label for="chief-complaint"><h2>CHIEF COMPLAIN AND PRESENT ILLNESS</h2></label>
          <textarea id="chief-complaint" type="text" v-model="chief_complaint" class="pure-input-1" rows="4"></textarea>
        </div>
        <!-- <div class="col-xs-12 col-sm-6">
          <label for="illness-and-phys">Present illness and physical examination</label>
          <textarea id="illness-and-phys" type="text" v-model="illness_and_phys" class="pure-input-1" rows="4"></textarea>
        </div> -->
      </div>
      <!-- END OF CC/PE -->

      <legend class="mt3"><h2>SIGNIFICANT PHYSICAL EXAMINATION AND OTHER FINDINGS</h2></legend>

      <!-- START OF Vital Sign -->
      <div class="row text-left mt2">
        <label class="col-xs-12 text-left" id="vital-sign"><b>Vital sign :</b></label>
        <div class="col-sm col-xs-6">
          <label for="vs-c">
            T: <input id="vs-c" class="pure-input-1-2 input--inline" type="text" v-model="vs_c">&#176;C
          </label>
        </div>
        <div class="col-sm col-xs-6">
          <label for="vs-p">
            P: <input id="vs-p" class="pure-u-1-2 input--inline" type="text" v-model="vs_p">/min
          </label>
        </div>
        <div class="col-sm col-xs-6">
          <label for="vs-r">
            R: <input id="vs-r" class="pure-u-1-2 input--inline" type="text" v-model="vs_r">/min
          </label>
        </div>
        <div class="col-sm col-xs-6">
          <label for="vs-bp">
            BP: <input id="vs-bp" class="pure-u-1-2 input--inline" type="text" v-model="vs_bp">mmHg
          </label>
        </div>
        <div class="col-sm col-xs-8">
          <label for="vs-o2sat">
            O2Sat: <input id="vs-o2sat" class="pure-u-1-2 input--inline" type="text" v-model="vs_o2sat"> %
          </label>
        </div>
      </div>
      <!-- END OF Vital Sign -->

      <fieldset>
        <div class="margin-vertical">
          <legend><b>Physical Examination</b></legend>
        </div>
        <div class="row text-left">
          <span class="col-xs-3 col-sm-1" style="margin-top: 6px">
            GA:
          </span>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_general_wnl" class="pure-checkbox">
              <input
               class="pure-input-1-3"
                id="phys_general_wnl"
                type="checkbox"
                v-model="phys_general_wnl"
              >
              WNL
            </label>
          </div>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_general_ab" class="pure-checkbox">
              <input
              class="pure-input-1-3"
                id="phys_general_ab"
                type="checkbox"
                v-model="phys_general_ab"
              >
              Abnormal
            </label>
          </div>
          <div class="col-xs-12 col-sm-6">
            <input id="phys_general" class="pure-input-1" type="text" v-model="phys_general">
          </div>
        </div>

        <div class="row text-left">
          <span class="col-xs-3 col-sm-1" style="margin-top: 6px">
            Skin:
          </span>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_skin_wnl" class="pure-checkbox">
              <input
               class="pure-input-1-3"
                id="phys_skin_wnl"
                type="checkbox"
                v-model="phys_skin_wnl"
              >
              WNL
            </label>
          </div>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_skin_ab" class="pure-checkbox">
              <input
              class="pure-input-1-3"
                id="phys_skin_ab"
                type="checkbox"
                v-model="phys_skin_ab"
              >
              Abnormal
            </label>
          </div>
          <div class="col-xs-12 col-sm-6">
            <input id="phys_skin" class="pure-input-1" type="text" v-model="phys_skin">
          </div>
        </div>

        <div class="row text-left">
          <span class="col-xs-3 col-sm-1" style="margin-top: 6px">
            HEENT:
          </span>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_heent_wnl" class="pure-checkbox">
              <input
               class="pure-input-1-3"
                id="phys_heent_wnl"
                type="checkbox"
                v-model="phys_heent_wnl"
              >
              WNL
            </label>
          </div>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_heent_ab" class="pure-checkbox">
              <input
              class="pure-input-1-3"
                id="phys_heent_ab"
                type="checkbox"
                v-model="phys_heent_ab"
              >
              Abnormal
            </label>
          </div>
          <div class="col-xs-12 col-sm-6">
            <input id="phys_heent" class="pure-input-1" type="text" v-model="phys_heent">
          </div>
        </div>

        <div class="row text-left">
          <span class="col-xs-3 col-sm-1" style="margin-top: 6px">
            RS:
          </span>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_rs_wnl" class="pure-checkbox">
              <input
               class="pure-input-1-3"
                id="phys_rs_wnl"
                type="checkbox"
                v-model="phys_rs_wnl"
              >
              WNL
            </label>
          </div>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_rs_ab" class="pure-checkbox">
              <input
              class="pure-input-1-3"
                id="phys_rs_ab"
                type="checkbox"
                v-model="phys_rs_ab"
              >
              Abnormal
            </label>
          </div>
          <div class="col-xs-12 col-sm-6">
            <input id="phys_rs" class="pure-input-1" type="text" v-model="phys_rs">
          </div>
        </div>


        <div class="row text-left">
          <span class="col-xs-3 col-sm-1" style="margin-top: 6px">
            CVS:
          </span>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_cvs_wnl" class="pure-checkbox">
              <input
               class="pure-input-1-3"
                id="phys_cvs_wnl"
                type="checkbox"
                v-model="phys_cvs_wnl"
              >
              WNL
            </label>
          </div>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_cvs_ab" class="pure-checkbox">
              <input
              class="pure-input-1-3"
                id="phys_cvs_ab"
                type="checkbox"
                v-model="phys_cvs_ab"
              >
              Abnormal
            </label>
          </div>
          <div class="col-xs-12 col-sm-6">
            <input id="phys_cvs" class="pure-input-1" type="text" v-model="phys_cvs">
          </div>
        </div>


        <div class="row text-left">
          <span class="col-xs-3 col-sm-1" style="margin-top: 6px">
            Abdomen:
          </span>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_abdomen_wnl" class="pure-checkbox">
              <input
               class="pure-input-1-3"
                id="phys_abdomen_wnl"
                type="checkbox"
                v-model="phys_abdomen_wnl"
              >
              WNL
            </label>
          </div>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_abdomen_ab" class="pure-checkbox">
              <input
              class="pure-input-1-3"
                id="phys_abdomen_ab"
                type="checkbox"
                v-model="phys_abdomen_ab"
              >
              Abnormal
            </label>
          </div>
          <div class="col-xs-12 col-sm-6">
            <input id="phys_abdomen" class="pure-input-1" type="text" v-model="phys_abdomen">
          </div>
        </div>

        <div class="row text-left">
          <span class="col-xs-3 col-sm-1" style="margin-top: 6px">
            Extremities:
          </span>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_ex_wnl" class="pure-checkbox">
              <input
               class="pure-input-1-3"
                id="phys_ex_wnl"
                type="checkbox"
                v-model="phys_ex_wnl"
              >
              WNL
            </label>
          </div>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_ex_ab" class="pure-checkbox">
              <input
              class="pure-input-1-3"
                id="phys_ex_ab"
                type="checkbox"
                v-model="phys_ex_ab"
              >
              Abnormal
            </label>
          </div>
          <div class="col-xs-12 col-sm-6">
            <input id="phys_ex" class="pure-input-1" type="text" v-model="phys_ex">
          </div>
        </div>

        <div class="row text-left">
          <span class="col-xs-3 col-sm-1" style="margin-top: 6px">
            Neuro:
          </span>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_neuro_wnl" class="pure-checkbox">
              <input
               class="pure-input-1-3"
                id="phys_neuro_wnl"
                type="checkbox"
                v-model="phys_neuro_wnl"
              >
              WNL
            </label>
          </div>
          <div class="col-xs-4 col-sm-2">
            <label for="phys_neuro_ab" class="pure-checkbox">
              <input
              class="pure-input-1-3"
                id="phys_neuro_ab"
                type="checkbox"
                v-model="phys_neuro_ab"
              >
              Abnormal
            </label>
          </div>
          <div class="col-xs-12 col-sm-6">
            <input id="phys_neuro" class="pure-input-1" type="text" v-model="phys_neuro">
          </div>
        </div>
      </fieldset>

      <div class="row text-left">
        <div class="col-sm-1 col-xs-12 col-sm-offset-4">
          <label for="phys_other">Other</label>
        </div>
        <div class="col-sm-6 col-xs-12">
          <textarea id="phys_other" type="text" v-model="phys_other" class="pure-input-1" rows="2"></textarea>
        </div>
      </div>

      <legend class="mt3"><h2>DIAGNOSIS</h2></legend>

      <div class="row text-left mt2">
        <div class="col-sm-12 col-xs-12">
          <label for="diagnosisList">Diagnosis</label>
          <textarea class="pure-input-1" name="diagnosisList" id="treatmentProcedureData" cols="30" rows="7" v-model=diagnosisList></textarea>
        </div>
      </div>

      <legend class="mt3"><h2>DIAGNOSTIC INVESTIGATIONS</h2></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="selectedLabs">Laboratory :</label>
        </div>
        <div class="col-sm-10 col-xs-12">
          <textarea class="pure-input-1" name="selectedLabs" id="selectedLabs" cols="30" rows="5" v-model=selectedLabs></textarea>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="diagnosisList">Others :</label>
        </div>
        <div class="col-sm-10 col-xs-12">
          <textarea class="pure-input-1" name="diagnosisList" id="treatmentProcedureData" cols="30" rows="5" v-model=diagnosisList></textarea>
        </div>
        <div class="col-sm-6 col-xs-12">
          <label for="treatmentProcedureData">X-RAY</label>
          <textarea class="pure-input-1" name="treatmentProcedureData" id="treatmentProcedureData" cols="30" rows="7" v-model=treatmentProcedureData></textarea>
        </div>
        <div class="col-sm-6 col-xs-12">
          <label for="EKGData">EKG</label>
          <textarea class="pure-input-1" name="EKGData" id="EKGData" cols="30" rows="7" v-model=EKGData></textarea>
        </div>

      </div>

      <!-- START OF Follow up -->
      <div class="row text-left">
        <div class="col-sm-3 col-xs-8">
          <label for="is_follow_date" class="pure-checkbox">
            <input id="is_follow_date" type="checkbox" name="is_follow_date" v-model="is_follow_date">
             Follow up on
          </label>
        </div>

        <div class="col-sm-4 col-xs-8" v-if="is_follow_date">
          <flat-pickr
             v-model="follow_date"
             :config="followupDateConfig"
             placeholder="Select date"
             name="follow_date">
           </flat-pickr>
        </div>

        <div class="col-sm-4 col-xs-8" v-if="is_follow_date">
          <flat-pickr
             v-model="follow_time"
             :config="followupTimeConfig"
             placeholder="Select time"
             name="follow_time">
           </flat-pickr>
        </div>
      </div>
      <!-- END OF Follow up -->

      <!-- START OF other -->
      <div class="row text-left">
        <div class="col-sm-3 col-xs-8">
          <label for="other-text" class="pure-checkbox">
            <input id="other-text" type="checkbox" name="other-pick" value="pick-other-text" v-model="is_other">
            Other
          </label>
        </div>
        <div class="col-sm-4 col-xs-8" v-if="is_other">
          <textarea id="other" v-model="other" class="pure-input-1"></textarea>
        </div>
      </div>
      <!-- END OF other -->

      <!-- START OF NOTE -->
      <legend></legend>
      <div class="row text-left mt2">
        <div class="col-xs-12 col-sm-6">
          <label for="recommend">Recommendation</label>
          <textarea id="recommend" v-model="recommend" class="pure-input-1" rows="4"></textarea>
        </div>
      </div>
      <!-- END OF NOTE -->

      <!-- START OF button group -->
      <fieldset>
        <div class="mt2">
          <button type="submit" class="pure-button">Submit</button>
          <button type="reset" class="pure-button" v-if="!isEdit">Cancel</button>
          <button @click="resetForm()" type="button" class="pure-button" v-else>Cancel</button>
          <button type="button" class="pure-button button-error" v-if="isEdit" title="Delete" @click="deleteVisitForm" style="margin-left: 1rem;">
            <icon name="trash" style="vertical-align: sub;"></icon>
          </button>
          <button type="button" class="pure-button button-error" v-if="isEdit && !isApprove" title="Approve this form" @click="approveVisitForm">
            <icon name="exclamation-circle" style="vertical-align: top;"></icon>&nbsp;Pending
          </button>
        </div>
      </fieldset>
      <!-- END OF button group -->
      <p class="text-right m0" v-if="isEdit && user && user.id"><small>Last updated: {{ user.name }}</small></p>
      <p class="text-right m0" v-if="isEdit && approveUser && approveUser.id"><small>Approved by: {{ approveUser.name }}</small></p>
    </form>

  </section>
</template>

<script>
// jszone
import flatPickr from 'vue-flatpickr-component'
import { precheckFormData, amountList } from './index'
import moment from 'moment'
import BillableItemDd from '@/components/forms/medical-inputs/billable-item-dd'
import ProductDd from '@/components/forms/medical-inputs/product-dd'
import Icd10DD from '@/components/forms/medical-inputs/icd-dd'

export default {
  name: 'forms-medical-certificate',
  props: ['patient', 'isEdit', 'isApprove', 'visitFormId', 'user', 'approveUser', 'opdCardData'],
  components: {
    flatPickr,
    BillableItemDd,
    ProductDd,
    Icd10DD
  },
  data () {
    return {
      title: null,
      img_url: null,
      first_name: null,
      last_name: null,
      doc_date: null,
      chief_complaint: null,
      illness_and_phys: null,
      dob: null,
      gender: null,
      hospital_number_display: null,
      an: null,
      first_visited_date: null,
      drug_allergy: null,
      vs_c: null,
      vs_p: null,
      vs_r: null,
      vs_bp: null,
      vs_o2sat: null,
      phys_general_wnl: false,
      phys_general_ab: false,
      phys_general: null,
      phys_skin_wnl: false,
      phys_skin_ab: false,
      phys_skin: null,
      phys_heent_wnl: false,
      phys_heent_ab: false,
      phys_heent: null,
      phys_rs_wnl: false,
      phys_rs_ab: false,
      phys_rs: null,
      phys_cvs_wnl: false,
      phys_cvs_ab: false,
      phys_cvs: null,
      phys_abdomen_wnl: false,
      phys_abdomen_ab: false,
      phys_abdomen: null,
      phys_ex_wnl: false,
      phys_ex_ab: false,
      phys_ex: null,
      phys_neuro_wnl: false,
      phys_neuro_ab: false,
      phys_neuro: null,
      phys_other: null,
      is_follow_date: false,
      follow_date: null,
      follow_time: null,
      is_other: false,
      other: null,
      recommend: null,
      labGrp: [{
        // HEMATOLOGY: false,
        // MICROSCOPY: false,
        // MICROSCOPY_STOOL: false,
        // MICROSCOPY_2: false,
        // STD: false,
        // CHEMISTRY: false,
        // IMMUNOLOGY: false,
        // IMMUNOLOGY_CARDIAC_MARKER: false,
        // IMMUNOLOGY_RAPID_TEST: false,
        // SENT_OUT_LAB: false,
        CBC: false,
        Urine_Analysis: false,
        Pregnancy_Test: false,
        Methamphetamine_Urine: false,
        Stool_Examination: false,
        Rotavirus_Ag_rapidtest: false,
        KOH_Preparation_from: false,
        KOH_Preparation_from_input: null,
        Tzancks_Smear_from: false,
        Tzancks_Smear_from_input: null,
        Wet_Smear_from: false,
        Wet_Smear_from_input: null,
        Scoth_Tape_for_worm_egg_parasite: false,
        Anti_HIV: false,
        HBc_Ab: false,
        HBs_Ag: false,
        HBs_Ab_outlab: false,
        Anti_HCV: false,
        RPR_VDRL_Syphilis: false,
        Anti_TP_Syphilis_work_permit: false,
        BUN: false,
        Creatinine: false,
        Electrolyte_Na_K_Cl_TCo2: false,
        Total_Protein: false,
        Albumin: false,
        Total_Bilirubin: false,
        Direct_Bilirubin: false,
        AST_SGOT: false,
        ALT_SGPT: false,
        Alkaline_Phosphatase: false,
        Total_Cholesterol: false,
        Triglyceride: false,
        HDL_Cholesterol: false,
        Glucose: false,
        Uric_Acid_out_lab: false,
        Calcium: false,
        Magnisium: false,
        Phosphorus: false,
        CPK_out_lab: false,
        Amylase: false,
        C_Reactive_Protein_Quantitative: false,
        C_Reactive_Protein_Qualitative: false,
        Troponin_T: false,
        CK_MB: false,
        proBNP_outlab: false,
        D_Dimer: false,
        Dengue_Ns1Ag: false,
        Dengue_IgG_IgM: false,
        Influenza_A_B: false,
        Group_A_Streptococcal_Ag: false,
        Malaria_Ag: false,
        Leptospira_IgG_IgM: false,
        Salmonella_Typhi_IgG_IgM: false,
        Richettsia_IgG_IgM_out_lab: false,
        Respiratory_Syncytial_Virus_RSV_Ag_out_lab: false,
        Stool_C_S: false,
        Urine_C_S: false,
        Sputum_C_S: false,
        Hemoculture: false,
        Beta_hcg: false,
        Vaginal_Swab_C_S: false,
        Pus_Swab_C_S_from: false,
        Pus_Swab_C_S_from_input: null,
        Gram_Stain_from: false,
        Gram_Stain_from_input: null,
        AFB_from: false,
        AFB_from_input: null,
        PTT_PT_INR: false,
        TSH_FT3_FT4: false,
        C_Trachomatis_N_Gonorrhea_PCR: false,
        HSV_1_2_DNA_Quantitative: false,
        PAP_SMear: false,
        sent_lab_other: false,
        sent_lab_other_input: null
      }],
      labObj: [{
        objName: '',
        checkVal: ''
      }],
      // config
      followupDateConfig: {
        dateFormat: 'Y-m-d',
        minDate: new Date()
      },
      followupTimeConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        time_24hr: true
      },
      docDateConfig: {
        dateFormat: 'Y-m-d'
      },
      // Treatment Procedure
      treatmentProcedure: 1,
      treatmentProcedureData: [{
        treatProcedure: '',
        amount: 1,
        doctorOrder: '',
        note: ''
      }],
      // medication procedure
      medicationProcedure: 1,
      medicationProcedureData: [{
        // medProcedure: '',
        detail: '',
        doctorOrder: '',
        amount: 1
        // note: ''
      }],
      // diagnosis list
      diagnosisList: [{
        diagnosis: ''
      }],
      // lab
      selectedLabs: [{
        name: '',
        group: ''
      }],
      // other lab
      selectedOtherLabs: [{
        name: ''
      }],
      // ekg
      EKGData: null,
      // helper function
      amountList: amountList(100)
    }
  },
  created () {
    this.fillForm()
  },
  methods: {
    fillForm () {
      if (this.$lodash.isEmpty(this.patient)) return

      if (this.patient.title) {
        this.title = this.patient.title
      } else {
        this.title = this.patient.gender === 'male' ? 'Mr.' : this.patient.marital_status === 'married' ? 'Mrs.' : 'Ms.'
      }
      this.first_name = this.patient.first_name || null
      this.last_name = this.patient.last_name || null
      this.doc_date = this.patient.doc_date ? this.patient.doc_date : this.opdCardData ? this.opdCardData.first_visited_date : null
      this.chief_complaint = this.patient.chief_complaint ? this.patient.chief_complaint : this.opdCardData ? this.opdCardData.chief_complaint : null
      this.illness_and_phys = this.patient.illness_and_phys || null
      this.vs_c = this.patient.vs_c ? this.patient.vs_c : this.opdCardData ? this.opdCardData.vs_c : null
      this.vs_p = this.patient.vs_p ? this.patient.vs_c : this.opdCardData ? this.opdCardData.vs_p : null
      this.vs_r = this.patient.vs_r ? this.patient.vs_r : this.opdCardData ? this.opdCardData.vs_r : null
      this.vs_bp = this.patient.vs_bp ? this.patient.vs_bp : this.opdCardData ? this.opdCardData.vs_bp : null
      this.vs_o2sat = this.patient.vs_o2sat ? this.patient.vs_o2sat : this.opdCardData ? this.opdCardData.vs_o2sat : null
      this.phys_general_wnl = this.patient.phys_general_wnl ? this.patient.phys_general_wnl : this.opdCardData ? this.opdCardData.phys_general_wnl : null
      this.phys_general_ab = this.patient.phys_general_ab ? this.patient.phys_general_ab : this.opdCardData ? this.opdCardData.phys_general_ab : null
      this.phys_general = this.patient.phys_general ? this.patient.phys_general : this.opdCardData ? this.opdCardData.phys_general : null
      this.phys_skin_wnl = this.patient.phys_skin_wnl ? this.patient.phys_skin_wnl : this.opdCardData ? this.opdCardData.phys_skin_wnl : null
      this.phys_skin_ab = this.patient.phys_skin_ab ? this.patient.phys_skin_ab : this.opdCardData ? this.opdCardData.phys_skin_ab : null
      this.phys_skin = this.patient.phys_skin ? this.patient.phys_skin : this.opdCardData ? this.opdCardData.phys_skin : null
      this.phys_heent_wnl = this.patient.phys_heent_wnl ? this.patient.phys_heent_wnl : this.opdCardData ? this.opdCardData.phys_heent_wnl : null
      this.phys_heent_ab = this.patient.phys_heent_ab ? this.patient.phys_heent_ab : this.opdCardData ? this.opdCardData.phys_heent_ab : null
      this.phys_heent = this.patient.phys_heent ? this.patient.phys_heent : this.opdCardData ? this.opdCardData.phys_heent : null
      this.phys_rs_wnl = this.patient.phys_rs_wnl ? this.patient.phys_rs_wnl : this.opdCardData ? this.opdCardData.phys_rs_wnl : null
      this.phys_rs_ab = this.patient.phys_rs_ab ? this.patient.phys_rs_ab : this.opdCardData ? this.opdCardData.phys_rs_ab : null
      this.phys_rs = this.patient.phys_rs ? this.patient.phys_rs : this.opdCardData ? this.opdCardData.phys_rs : null
      this.phys_cvs_wnl = this.patient.phys_cvs_wnl ? this.patient.phys_cvs_wnl : this.opdCardData ? this.opdCardData.phys_cvs_wnl : null
      this.phys_cvs_ab = this.patient.phys_cvs_ab ? this.patient.phys_cvs_ab : this.opdCardData ? this.opdCardData.phys_cvs_ab : null
      this.phys_cvs = this.patient.phys_cvs ? this.patient.phys_cvs : this.opdCardData ? this.opdCardData.phys_cvs : null
      this.phys_abdomen_wnl = this.patient.phys_abdomen_wnl ? this.patient.phys_abdomen_wnl : this.opdCardData ? this.opdCardData.phys_abdomen_wnl : null
      this.phys_abdomen_ab = this.patient.phys_abdomen_ab ? this.patient.phys_abdomen_ab : this.opdCardData ? this.opdCardData.phys_abdomen_ab : null
      this.phys_abdomen = this.patient.phys_abdomen ? this.patient.phys_abdomen : this.opdCardData ? this.opdCardData.phys_abdomen : null
      this.phys_ex_wnl = this.patient.phys_ex_wnl ? this.patient.phys_ex_wnl : this.opdCardData ? this.opdCardData.phys_ex_wnl : null
      this.phys_ex_ab = this.patient.phys_ex_ab ? this.patient.phys_ex_ab : this.opdCardData ? this.opdCardData.phys_ex_ab : null
      this.phys_ex = this.patient.phys_ex ? this.patient.phys_ex : this.opdCardData ? this.opdCardData.phys_ex : null
      this.phys_neuro_wnl = this.patient.phys_neuro_wnl ? this.patient.phys_neuro_wnl : this.opdCardData ? this.opdCardData.phys_neuro_wnl : null
      this.phys_neuro_ab = this.patient.phys_neuro_ab ? this.patient.phys_neuro_ab : this.opdCardData ? this.opdCardData.phys_neuro_ab : null
      this.phys_neuro = this.patient.phys_neuro ? this.patient.phys_neuro : this.opdCardData ? this.opdCardData.phys_neuro : null
      this.phys_other = this.patient.phys_other ? this.patient.phys_other : this.opdCardData ? this.opdCardData.phys_other : null
      if (this.patient.follow_date || this.patient.follow_time) {
        this.is_follow_date = true
        this.follow_date = this.patient.follow_date
        this.follow_time = this.patient.follow_time
      }
      this.is_other = this.patient.is_other || null
      this.other = this.patient.other || null
      this.recommend = this.patient.recommend || null

      // fill in treatment procedure
      if (this.patient.treatment) {
        this.treatmentProcedureData = this.patient.treatment
      } else {
        this.treatmentProcedureData = this.patient.treatmentProcedureData
      }

      // fill in medical procedure
      // console.log(this.patient.medication)
      if (this.patient.medication && this.patient.medication.length) {
        this.medicationProcedureData = ''
        JSON.parse(this.patient.medication).forEach((med, index) => {
          this.medicationProcedureData += `${index + 1}. ${med.detail} ${med.number} \n`
        })
      } else {
        this.medicationProcedureData = this.patient.medicationProcedureData
      }

      // diagnosis
      if (this.patient.diagnosis) {
        this.diagnosisList = this.patient.diagnosis
      } else {
        this.diagnosisList = this.patient.diagnosisList
      }
      // fill labs selected
      if (this.opdCardData && this.opdCardData.selected_labs) {
        this.selectedLabs = ''
        console.log(this.opdCardData.selected_labs)
        JSON.parse(this.opdCardData.selected_labs).forEach((lab, index) => {
          this.selectedLabs += `${index + 1}. ${lab.name} \n`
        })
      } else {
        this.selectedLabs = this.patient.selectedLabs
      }
      // fill other labs selected
      if (this.opdCardData && this.opdCardData.selected_other_labs) {
        this.selectedOtherLabs = ''
        console.log(this.opdCardData.selected_other_labs)
        JSON.parse(this.opdCardData.selected_other_labs).forEach((lab, index) => {
          this.selectedOtherLabs += `${index + 1}. ${lab.name} \n`
        })
      } else {
        this.selectedOtherLabs = this.patient.selectedOtherLabs
      }
    },
    submitForm () {
      const data = {
        title: this.title,
        first_name: this.first_name,
        last_name: this.last_name,
        doc_date: this.doc_date ? this.doc_date : moment(new Date(), 'YYYY-MM-DD').format('YYYY-MM-DD'),
        // get data to med cert print
        dob: this.patient.dob,
        gender: this.patient.gender,
        hospital_number_display: this.patient.hospital_number_display,
        first_visited_date: this.patient.first_visited_date,
        drug_allergy: this.patient.drug_allergy,
        img_url: this.patient.img_url,
        //
        chief_complaint: this.chief_complaint,
        illness_and_phys: this.illness_and_phys,
        vs_c: this.vs_c,
        vs_p: this.vs_p,
        vs_r: this.vs_r,
        vs_bp: this.vs_bp,
        vs_o2sat: this.vs_o2sat,
        phys_general_wnl: this.phys_general_wnl,
        phys_general_ab: this.phys_general_ab,
        phys_general: this.phys_general,
        phys_skin_wnl: this.phys_skin_wnl,
        phys_skin_ab: this.phys_skin_ab,
        phys_skin: this.phys_skin,
        phys_heent_wnl: this.phys_heent_wnl,
        phys_heent_ab: this.phys_heent_ab,
        phys_heent: this.phys_heent,
        phys_rs_wnl: this.phys_rs_wnl,
        phys_rs_ab: this.phys_rs_ab,
        phys_rs: this.phys_rs,
        phys_cvs_wnl: this.phys_cvs_wnl,
        phys_cvs_ab: this.phys_cvs_ab,
        phys_cvs: this.phys_cvs,
        phys_abdomen_wnl: this.phys_abdomen_wnl,
        phys_abdomen_ab: this.phys_abdomen_ab,
        phys_abdomen: this.phys_abdomen,
        phys_ex_wnl: this.phys_ex_wnl,
        phys_ex_ab: this.phys_ex_ab,
        phys_ex: this.phys_ex,
        phys_neuro_wnl: this.phys_neuro_wnl,
        phys_neuro_ab: this.phys_neuro_ab,
        phys_neuro: this.phys_neuro,
        phys_other: this.phys_other,
        is_follow_date: this.is_follow_date,
        follow_date: this.is_follow_date ? this.follow_date : null,
        follow_time: this.is_follow_date ? this.follow_time : null,
        is_other: this.is_other,
        other: this.is_other ? this.other : null,
        recommend: this.recommend,
        // diagnosis: JSON.stringify(this.diagnosisList)
        diagnosisList: this.diagnosisList,
        labList: this.labLis,
        treatmentProcedureData: this.treatmentProcedureData,
        medicationProcedureData: this.medicationProcedureData,
        selectedLabs: this.selectedLabs,
        selectedOtherLabs: this.selectedOtherLabs
      }

      const body = precheckFormData(1, data)

      if (!body) {
        alert('Something went wrong (missing parameters)')
        return
      }

      if (this.isEdit) {
        this.$emit('submit', { action: 'edit', body, visitFormId: this.visitFormId })
      } else {
        this.$emit('submit', { action: 'create', body })
      }
    },
    deleteVisitForm (id) {
      this.$emit('submit', { action: 'delete', visitFormId: this.visitFormId })
    },
    approveVisitForm (id) {
      this.$emit('submit', { action: 'approve', visitFormId: this.visitFormId })
    },
    // hit cancel button on edit mode
    resetForm () {
      const answer = confirm('Are you sure you want to discard your changes?')

      if (!answer) return
      this.fillForm()
    },

    updateDiagnosisList (isPlus = true) {
      if (isPlus) { // plus
        if (this.diagnosisList < 20) {
          this.diagnosisList++
          this.diagnosisListData.push({
            no: this.diagnosisList,
            diagnosis: ''
          })
        }
      } else { // minus
        if (this.diagnosisList > 1) {
          this.diagnosisList--
          // remove last item from array
          this.diagnosisListData.pop()
        }
      }
    },

    updateTreatmentProcedure (isPlus = true) {
      if (isPlus) { // plus
        if (this.treatmentProcedure < 20) {
          this.treatmentProcedure++
          this.treatmentProcedureData.push({
            treatProcedure: '',
            amount: 1,
            doctorOrder: '',
            note: ''
          })
        }
      } else { // remove item from list
        if (this.treatmentProcedure > 1) {
          this.treatmentProcedure--
          // remove last item from array
          this.treatmentProcedureData.pop()
        } else if (this.treatmentProcedure === 1) { // clear the first item value
          this.treatmentProcedure--
          this.treatmentProcedureData.pop()
          setTimeout(() => {
            this.treatmentProcedureData.push({
              treatProcedure: '',
              amount: 1,
              doctorOrder: '',
              note: ''
            })
            this.treatmentProcedure++
          }, 0)
        }
      }
    },
    updateProcedureList (model, value) {
      if (value > 0) {
        this[model].push({
          treatProcedure: '',
          amount: 1,
          doctorOrder: '',
          note: ''
        })
        this[model + 'Length'] += value
      } else {
        if (this[model].length > 0) {
          this[model].pop()
          this[model + 'Length'] += value
        }
      }
    },
    updateMedicineList (model, value) {
      if (value > 0) {
        this[model].push({
          medProcedure: '',
          doctorOrder: '',
          amount: '',
          note: ''
        })
        this[model + 'Length'] += value
      } else {
        if (this[model].length > 0) {
          this[model].pop()
          this[model + 'Length'] += value
        }
      }
    }
  }
}
</script>
