<template>
  <section class="content">
    <!-- <pre>{{ patient }}</pre> -->
    <h1>{{ isEdit ? 'Update': '' }} Neurological Observation Chart</h1>
    <form class="neuro-observ-form pure-form pure-form-stacked" v-on:submit.prevent="submitForm">
      <div class="row text-left">
        <div class="col-xs-12 col-sm-3">
          <label for="title">Prefix</label>
          <select id="title" v-model="title" class="pure-input-1" disabled>
            <option>Mr.</option>
            <option>Mrs.</option>
            <option>Ms.</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="first_name">First name</label>
            <input id="first_name" type="text" v-model="first_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="last_name">Last name</label>
            <input id="last_name" type="text" v-model="last_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="dob">DOB</label>
          <flat-pickr
            v-model="dob"
            :config="dateOfBirthConfig"
            placeholder="Select date"
            class="pure-input-1"
            name="dob"
            disabled>
          </flat-pickr>
        </div>
      </div>

      <div class="row mt2">
        <div class="col-sm col-xs-6">
          <label for="age">Age</label>
          <input id="age" class="pure-input-1" type="text" v-model="age" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="gender">Gender</label>
          <select id="gender" v-model="gender" class="pure-input-1" disabled readonly>
            <option>male</option>
            <option>female</option>
            <option>other</option>
          </select>
        </div>
        <div class="col-sm col-xs-6">
          <label for="cn-hn">CN/HN:</label>
          <input id="cn-hn" class="pure-input-1" type="text" v-model="hospital_number_display" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="an">AN:</label>
          <input id="an" class="pure-input-1" type="text" v-model="an" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="visit-date">Visit date:</label>
          <flat-pickr
            class="pure-input-1"
            v-model="first_visited_date"
            :config="visitDateConfig"
            placeholder="Select date"
            name="visit_date"
            readonly
            >
          </flat-pickr>
        </div>
      </div>
      <legend></legend>
      <div class="mt3" style="overflow-x: auto">
        <table class="pure-table" style="width: 100%">
          <tr>
            <td class="ht" style="width: 180px;" colspan="2">Date</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb; width: 100px;">
              <flat-pickr
                style="min-width: 70px;"
                class="pure-input-1 label"
                v-model="neuroObservData[index].date"
                :config="neuroObservDateConfig"
                :id="'date_' + index">
                </flat-pickr>
            </td>
          </tr>
          <tr>
            <td class="ht" colspan="2">Time</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;">
              <flat-pickr
                style="min-width: 70px;"
                class="pure-input-1 label"
                v-model="neuroObservData[index].time"
                :config="neuroObservTimeConfig"
                :id="'time_' + index">
              </flat-pickr>
            </td>
          </tr>
          <tr style="height: 30px;">
          </tr>
          <tr>
            <td class="ht" style="width: 80px;">COMA SCORE</td>
            <td class="ht" style="width: 50px;">E</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb; backgroud: red;" 
              v-bind:class="{
                'coma-e-1': neuroObservData[index].coma_score_e === '1',
                'coma-e-2': neuroObservData[index].coma_score_e === '2',
                'coma-e-3': neuroObservData[index].coma_score_e === '3',
                'coma-e-close': neuroObservData[index].coma_score_e === 'close'
              }">
              <select :id="'coma_score_e_' + index" class="pure-input-1 label" v-model="neuroObservData[index].coma_score_e">
                <option selected disabled></option>
                <option v-for="a in dd_coma_score_e" :value="a.data">{{ a.data }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td rowspan="3"></td>
            <td class="ht">V</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;"
              v-bind:class="{
                'coma-v-1': neuroObservData[index].coma_score_v === '1',
                'coma-v-2': neuroObservData[index].coma_score_v === '2',
                'coma-v-3': neuroObservData[index].coma_score_v === '3',
                'coma-v-4': neuroObservData[index].coma_score_v === '4',
                'coma-v-t': neuroObservData[index].coma_score_v === 'T'
              }">
              <select :id="'coma_score_v_' + index" class="pure-input-1 label" v-model="neuroObservData[index].coma_score_v">
                <option selected disabled></option>
                <option v-for="a in dd_coma_score_v" :value="a.data">{{ a.data }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="ht">M</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;"
              v-bind:class="{
                'coma-m-1': neuroObservData[index].coma_score_m === '1',
                'coma-m-2': neuroObservData[index].coma_score_m === '2',
                'coma-m-3': neuroObservData[index].coma_score_m === '3',
                'coma-m-4': neuroObservData[index].coma_score_m === '4',
                'coma-m-5': neuroObservData[index].coma_score_m === '5',
                'coma-m-6': neuroObservData[index].coma_score_m === '6'
              }">
              <select :id="'coma_score_m_' + index" class="pure-input-1 label" v-model="neuroObservData[index].coma_score_m">
                <option selected disabled></option>
                <option v-for="a in dd_coma_score_m" :value="a.data">{{ a.data }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="ht">GCS Score</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;">
              <input value="comaScoreRes" style="min-width: 70px;" type="text" :id="'gcs_' + index" class="pure-input-1 label" v-model="neuroObservData[index].coma_score_gcs"
              v-bind:class="{
                'coma-gcs-8': neuroObservData[index].coma_score_gcs >= 1 && neuroObservData[index].coma_score_gcs <= 8  ,
                'coma-gcs-9-13': neuroObservData[index].coma_score_m >= 9 && neuroObservData[index].coma_score_m <=13,
                'coma-gcs-14-15': neuroObservData[index].coma_score_m >= 14 && neuroObservData[index].coma_score_m <=15,
              }">
              <div type="text" :id="'gcs_' + index" class="label">
                {{ comaScoreRes }}
              </div>
            </td>
          </tr>
          <tr style="height: 30px;">
          </tr>
          <tr>
            <td class="ht" colspan="2">Pupil scale(mm)</td>
          </tr>
          <tr>
            <td rowspan="2">Rt.</td>
            <td class="ht">size</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;"
              v-bind:class="{
                'pupil-size-1': neuroObservData[index].rt_size === '1',
                'pupil-size-2-4': neuroObservData[index].rt_size === '2',
                'pupil-size-2-4': neuroObservData[index].rt_size === '3',
                'pupil-size-2-4': neuroObservData[index].rt_size === '4',
                'pupil-size-5': neuroObservData[index].rt_size === '5'
              }">
              <select :id="'rt_size_' + index" class="pure-input-1 label" v-model="neuroObservData[index].rt_size">
                <option selected disabled></option>
                <option v-for="a in dd_pupil_size" :value="a.data">{{ a.data }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="ht">Reaction</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;"
              v-bind:class="{
                'pupil-reaction-rtl': neuroObservData[index].rt_reaction === 'RTL',
                'pupil-reaction-slightly': neuroObservData[index].rt_reaction === 'Slightly',
                'pupil-reaction-no-reaction': neuroObservData[index].rt_reaction === 'No Reaction',
                'pupil-reaction-eye-closed': neuroObservData[index].rt_reaction === 'Eye Closed'
              }">
              <select :id="'rt_reaction_' + index" class="pure-input-1 label" v-model="neuroObservData[index].rt_reaction">
                <option selected disabled></option>
                <option v-for="a in dd_pupil_reaction" :value="a.data">{{ a.data }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td rowspan="2">Lt.</td>
            <td class="ht">size</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;"
              v-bind:class="{
                'pupil-size-1': neuroObservData[index].lt_size === '1',
                'pupil-size-2-4': neuroObservData[index].lt_size === '2',
                'pupil-size-2-4': neuroObservData[index].lt_size === '3',
                'pupil-size-2-4': neuroObservData[index].lt_size === '4',
                'pupil-size-5': neuroObservData[index].lt_size === '5'
              }">
              <select :id="'lt_size_' + index" class="pure-input-1 label" v-model="neuroObservData[index].lt_size">
                <option selected disabled></option>
                <option v-for="a in dd_pupil_size" :value="a.data">{{ a.data }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="ht">Reaction</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;"
              v-bind:class="{
                'pupil-reaction-rtl': neuroObservData[index].lt_reaction === 'RTL',
                'pupil-reaction-slightly': neuroObservData[index].lt_reaction === 'Slightly',
                'pupil-reaction-no-reaction': neuroObservData[index].lt_reaction === 'No Reaction',
                'pupil-reaction-eye-closed': neuroObservData[index].lt_reaction === 'Eye Closed'
              }">
              <select :id="'lt_reaction_' + index" class="pure-input-1 label" v-model="neuroObservData[index].lt_reaction">
                <option selected disabled></option>
                <option v-for="a in dd_pupil_reaction" :value="a.data">{{ a.data }}</option>
              </select>
            </td>
          </tr>
          <tr style="height: 30px;">
          </tr>
          <tr>
            <td class="ht" colspan="2">Moto power</td>
          </tr>
          <tr>
            <td rowspan="2">Arms</td>
            <td class="ht">Rt.</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;"
              v-bind:class="{
                'motor-power-1-3': neuroObservData[index].arms_rt === 'I',
                'motor-power-1-3': neuroObservData[index].arms_rt === 'II',
                'motor-power-1-3': neuroObservData[index].arms_rt === 'III',
                'motor-power-4': neuroObservData[index].arms_rt === 'IV',
                'motor-power-5': neuroObservData[index].arms_rt === 'V'
              }">
              <select :id="'arms_rt_' + index" class="pure-input-1 label" v-model="neuroObservData[index].arms_rt">
                <option selected disabled></option>
                <option v-for="a in dd_motor_power" :value="a.data">{{ a.data }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="ht">Lt.</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;"
              v-bind:class="{
                'motor-power-1-3': neuroObservData[index].arms_lt === 'I',
                'motor-power-1-3': neuroObservData[index].arms_lt === 'II',
                'motor-power-1-3': neuroObservData[index].arms_lt === 'III',
                'motor-power-4': neuroObservData[index].arms_lt === 'IV',
                'motor-power-5': neuroObservData[index].arms_lt === 'V'
              }">
              <select :id="'arms_lt_' + index" class="pure-input-1 label" v-model="neuroObservData[index].arms_lt">
                <option selected disabled></option>
                <option v-for="a in dd_motor_power" :value="a.data">{{ a.data }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td rowspan="2">Legs</td>
            <td class="ht">Rt.</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;"
              v-bind:class="{
                'motor-power-1-3': neuroObservData[index].legs_rt === 'I',
                'motor-power-1-3': neuroObservData[index].legs_rt === 'II',
                'motor-power-1-3': neuroObservData[index].legs_rt === 'III',
                'motor-power-4': neuroObservData[index].legs_rt === 'IV',
                'motor-power-5': neuroObservData[index].legs_rt === 'V'
              }">
              <select :id="'legs_rt_' + index" class="pure-input-1 label" v-model="neuroObservData[index].legs_rt">
                <option selected disabled></option>
                <option v-for="a in dd_motor_power" :value="a.data">{{ a.data }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="ht">Lt.</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;"
              v-bind:class="{
                'motor-power-1-3': neuroObservData[index].legs_lt === 'I',
                'motor-power-1-3': neuroObservData[index].legs_lt === 'II',
                'motor-power-1-3': neuroObservData[index].legs_lt === 'III',
                'motor-power-4': neuroObservData[index].legs_lt === 'IV',
                'motor-power-5': neuroObservData[index].legs_lt === 'V'
              }">
              <select :id="'legs_lt_' + index" class="pure-input-1 label" v-model="neuroObservData[index].legs_lt">
                <option selected disabled></option>
                <option v-for="a in dd_motor_power" :value="a.data">{{ a.data }}</option>
              </select>
            </td>
          </tr>
          <tr style="height: 30px;">
          </tr>
          <tr>
            <td class="ht" colspan="2">V/S</td>
          </tr>
          <tr>
            <td class="ht">- BT (&#176;C)</td>
            <td></td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;">
              <input style="min-width: 70px;" type="text" :id="'vs_bt_' + index" class="pure-input-1 label" v-model="neuroObservData[index].vs_bt"
              v-bind:class="{
                'vital-green': neuroObservData[index].vs_bt < 36.5,
                'vital-green': neuroObservData[index].vs_bt >= 37.5 && neuroObservData[index].vs_bt <= 38.3,
                'vital-yellow': neuroObservData[index].vs_bt >= 38.4 && neuroObservData[index].vs_bt <= 39.4,
                'vital-red': neuroObservData[index].vs_bt >= 39.5
              }">
            </td>
          </tr>
          <tr>
            <td class="ht" rowspan="3">- BP (mmHg)</td>
            <td class="ht">SBP</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;">
              <input style="min-width: 70px;" type="text" :id="'vs_sbp_' + index" class="pure-input-1 label" v-model="neuroObservData[index].vs_sbp"
                v-bind:class="{
                'vital-red': neuroObservData[index].vs_sbp < 70 && ageMonth >= 1 && ageMonth <= 12,
                'vital-red': neuroObservData[index].vs_sbp < 72 && ageMonth >= 12 && ageMonth <= 24,
                'vital-red': neuroObservData[index].vs_sbp < 74 && ageMonth >= 24 && ageMonth <= 36,
                'vital-red': neuroObservData[index].vs_sbp < 76 && ageMonth >= 36 && ageMonth <= 48,
                'vital-red': neuroObservData[index].vs_sbp < 78 && ageMonth >= 48 && ageMonth <= 60,
                'vital-red': neuroObservData[index].vs_sbp < 80 && ageMonth >= 60 && ageMonth <= 72,
                'vital-red': neuroObservData[index].vs_sbp < 82 && ageMonth >= 72 && ageMonth <= 84,
                'vital-red': neuroObservData[index].vs_sbp < 84 && ageMonth >= 84 && ageMonth <= 96,
                'vital-red': neuroObservData[index].vs_sbp < 86 && ageMonth >= 96 && ageMonth <= 108,
                'vital-red': neuroObservData[index].vs_sbp < 88 && ageMonth >= 108 && ageMonth <= 120,
                'vital-red': neuroObservData[index].vs_sbp < 90 && neuroObservData[index].vs_sbp >= 1 && ageMonth > 120,
                //age 1-13
                'vital-green': neuroObservData[index].vs_sbp > 120 && neuroObservData[index].vs_sbp <= 129 && ageMonth >= 12 && ageMonth <= 136,
                'vital-yellow': neuroObservData[index].vs_sbp >= 130 && neuroObservData[index].vs_sbp <= 139 && ageMonth >= 12 && ageMonth <= 136,
                'vital-red': neuroObservData[index].vs_sbp >= 140 && ageMonth >= 12 && ageMonth <= 136,
                //age 18 plus
                'vital-red': neuroObservData[index].vs_sbp < 90 && ageMonth >= 216,
                'vital-green': neuroObservData[index].vs_sbp >= 120 && neuroObservData[index].vs_sbp <= 139 && ageMonth >= 216,
                'vital-yellow': neuroObservData[index].vs_sbp >= 140 && neuroObservData[index].vs_sbp <= 159 && ageMonth >= 216,
                'vital-pink': neuroObservData[index].vs_sbp >= 160 && neuroObservData[index].vs_sbp <= 179 && ageMonth >= 216,
                'vital-red': neuroObservData[index].vs_sbp >= 180 && ageMonth >= 216
              }">
            </td>
          </tr>
          <tr>
            <td class="ht">DBP</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;">
              <input style="min-width: 70px;" type="text" :id="'vs_dbp_' + index" class="pure-input-1 label" v-model="neuroObservData[index].vs_dbp"
                v-bind:class="{
                // age 1-13
                'vital-green': neuroObservData[index].vs_dbp < 80 && ageMonth >= 12 && ageMonth <= 136,
                'vital-yellow': neuroObservData[index].vs_dbp >= 80 && neuroObservData[index].vs_dbp <= 89 && ageMonth >= 12 && ageMonth <= 136,
                'vital-red': neuroObservData[index].vs_dbp >= 90 && ageMonth >= 12 && ageMonth <= 136,
                // age 18 plus
                'vital-red': neuroObservData[index].vs_dbp < 60 && ageMonth >= 216,
                'vital-green': neuroObservData[index].vs_dbp >= 80 && neuroObservData[index].vs_dbp <= 89 && ageMonth >= 216,
                'vital-yellow': neuroObservData[index].vs_dbp >= 90 && neuroObservData[index].vs_dbp <= 99 && ageMonth >= 216,
                'vital-pink': neuroObservData[index].vs_dbp >= 100 && neuroObservData[index].vs_dbp <= 109 && ageMonth >= 216,
                'vital-red': neuroObservData[index].vs_dbp >= 110 && ageMonth >= 216
              }">
            </td>
          </tr>
          <tr>
            <td class="ht">MAP</td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;">
              <input style="min-width: 70px;" type="text" :id="'vs_map_' + index" class="pure-input-1 label" v-model="neuroObservData[index].vs_map"
                v-bind:class="{
                'vital-red': neuroObservData[index].vs_map < 65 && neuroObservData[index].vs_map >= 1
              }">
            </td>
          </tr>
          <tr>
            <td class="ht">- HR (bpm)</td>
            <td></td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;">
              <input style="min-width: 70px;" type="text" :id="'vs_hr_' + index" class="pure-input-1 label" v-model="neuroObservData[index].vs_hr"
                v-bind:class="{
                'vital-red': neuroObservData[index].vs_hr < 90 && ageMonth >= 1 && ageMonth < 12,
                'vital-red': neuroObservData[index].vs_hr > 190 && ageMonth >= 1 && ageMonth < 12,
                'vital-red': neuroObservData[index].vs_hr < 80 && ageMonth >= 12 && ageMonth < 24,
                'vital-red': neuroObservData[index].vs_hr > 140 && ageMonth >= 12 && ageMonth < 24,
                'vital-red': neuroObservData[index].vs_hr < 65 && ageMonth >= 36 && ageMonth < 60,
                'vital-red': neuroObservData[index].vs_hr > 120 && ageMonth >= 36 && ageMonth < 60,
                'vital-red': neuroObservData[index].vs_hr < 58 && ageMonth >= 72 && ageMonth < 122,
                'vital-red': neuroObservData[index].vs_hr > 118 && ageMonth >= 72 && ageMonth < 122,
                'vital-red': neuroObservData[index].vs_hr < 50 && ageMonth >= 144,
                'vital-red': neuroObservData[index].vs_hr > 100 && ageMonth >= 144
                }">
            </td>
          </tr>
          <tr>
            <td class="ht">- RR (bpm)</td>
            <td></td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;">
              <input style="min-width: 70px;" type="text" :id="'vs_rr_' + index" class="pure-input-1 label" v-model="neuroObservData[index].vs_rr"
                v-bind:class="{
                'vital-red': neuroObservData[index].vs_rr < 35 && ageMonth >= 0 && ageMonth < 3,
                'vital-red': neuroObservData[index].vs_rr > 55 && ageMonth >= 0 && ageMonth < 3,
                'vital-red': neuroObservData[index].vs_rr < 30  && ageMonth >= 3 && ageMonth < 6,
                'vital-red': neuroObservData[index].vs_rr > 45  && ageMonth >= 3 && ageMonth < 6,
                'vital-red': neuroObservData[index].vs_rr < 22 && ageMonth >= 6 && ageMonth < 12,
                'vital-red': neuroObservData[index].vs_rr > 38 && ageMonth >= 6 && ageMonth < 12,
                'vital-red': neuroObservData[index].vs_rr < 22 && ageMonth >= 12 && ageMonth < 36,
                'vital-red': neuroObservData[index].vs_rr > 30 && ageMonth >= 12 && ageMonth < 36,
                'vital-red': neuroObservData[index].vs_rr < 20 && ageMonth >= 36 && ageMonth < 60,
                'vital-red': neuroObservData[index].vs_rr > 24 && ageMonth >= 36 && ageMonth < 60,
                'vital-red': neuroObservData[index].vs_rr < 16 && ageMonth >= 60 && ageMonth < 144,
                'vital-red': neuroObservData[index].vs_rr > 22 && ageMonth >= 60 && ageMonth < 144,
                'vital-red': neuroObservData[index].vs_rr < 12 && ageMonth >= 144,
                'vital-red': neuroObservData[index].vs_rr > 20 && ageMonth >= 144
                }">
            </td>
          </tr>
          <tr>
            <td class="ht">- O2 sat (%)</td>
            <td></td>
            <td v-for="(np, index) in neuroObservIndex" style="border-bottom: 1px solid #cbcbcb;">
              <input style="min-width: 70px;" type="text" :id="'vs_o2sat_' + index" class="pure-input-1 label" v-model="neuroObservData[index].vs_o2sat"
              v-bind:class="{
                'vital-green': neuroObservData[index].vs_o2sat >= 90 && neuroObservData[index].vs_o2sat <= 94,
                'vital-yellow': neuroObservData[index].vs_o2sat >= 85 && neuroObservData[index].vs_o2sat <= 89,
                'vital-red': neuroObservData[index].vs_o2sat >= 1 && neuroObservData[index].vs_o2sat < 85
              }">
            </td>
          </tr>
        </table>
        <!-- <select id="coma_score_e" class="pure-input-1" v-bind:class="ddColor" v-model="comaSelected">
          <option selected disabled value=""></option>
          <option v-for="a in comaScoreDDList" :value="a.data">{{ a.data }}</option>
        </select> -->
      </div>

      <fieldset>
        <div class="mt2">
          <button type="submit" class="pure-button">Submit</button>
          <button type="reset" class="pure-button" v-if="!isEdit">Cancel</button>
          <button @click="resetForm()" type="button" class="pure-button" v-else>Cancel</button>
          <button type="button" class="pure-button button-error" v-if="isEdit" title="Delete" @click="deleteVisitForm" style="margin-left: 1rem;">
            <icon name="trash"></icon>
          </button>
          <button type="button" class="pure-button button-error" v-if="isEdit && !isApprove" title="Approve this form" @click="approveVisitForm">
            <icon name="exclamation-circle" style="vertical-align: top;"></icon>&nbsp;Pending
          </button>
        </div>

      </fieldset>
      <!-- END OF button group -->

      <p class="text-right m0" v-if="isEdit && user && user.id"><small>Last updated: {{ user.name }}</small></p>
      <p class="text-right m0" v-if="isEdit && approveUser && approveUser.id"><small>Approved by: {{ approveUser.name }}</small></p>
    </form>
  </section>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import { precheckFormData } from './index'
import moment from 'moment'
import getAge from '../../filters/age.js'

const COMA_SCORE_E = [
  {data: '1', des: ''},
  {data: '2', des: ''},
  {data: '3', des: ''},
  {data: '4', des: ''},
  {data: 'close', des: ''},
  {data: 'swelling', des: ''}]

const COMA_SCORE_V = [
  {data: '1', des: ''},
  {data: '2', des: ''},
  {data: '3', des: ''},
  {data: '4', des: ''},
  {data: '5', des: ''},
  {data: 'T', des: ''}]

const COMA_SCORE_M = [
  {data: '1', des: ''},
  {data: '2', des: ''},
  {data: '3', des: ''},
  {data: '4', des: ''},
  {data: '5', des: ''},
  {data: '6', des: ''}]

const PUPIL_SIZE = [
  {data: '1', des: ''},
  {data: '2', des: ''},
  {data: '3', des: ''},
  {data: '4', des: ''},
  {data: '5', des: ''}
]

const PUPIL_REACTION = [
  {data: 'RTL.', des: ''},
  {data: 'Slightly', des: ''},
  {data: 'No Reaction', des: ''},
  {data: 'Eye Closed', des: ''}
]

const MOTOR_POWER = [
  {data: 'I.', des: ''},
  {data: 'II', des: ''},
  {data: 'III', des: ''},
  {data: 'IV', des: ''},
  {data: 'V', des: ''}
]

export default {
  name: 'forms-neuro-observ',
  props: ['patient', 'isEdit', 'isApprove', 'visitFormId', 'user', 'approveUser'],
  components: {
    flatPickr
  },
  data () {
    return {
      ageMonth: null,
      title: null,
      first_name: null,
      last_name: null,
      dob: null,
      opd_cc: null,
      opd_pi: null,
      age: null,
      gender: null,
      hospital_number_display: null,
      an: null,
      first_visited_date: null,
      // medSheet List
      maxDataList: 1,
      neuroObservIndex: 7,
      neuroObservData: [{
        date: '',
        time: '',
        coma_score_e: '',
        coma_score_v: '',
        coma_score_m: '',
        coma_score_gcs: '',
        rt_size: '',
        rt_reaction: '',
        lt_size: '',
        lt_reaction: '',
        arms_rt: '',
        arms_lt: '',
        legs_rt: '',
        legs_lt: '',
        vs_bt: '',
        vs_sbp: '',
        vs_dbp: '',
        vs_map: '',
        vs_hr: '',
        vs_rr: '',
        vs_o2sat: ''
      }],
      // date config
      dateOfBirthConfig: {
        dataFormat: 'Y-m-d',
        maxDate: new Date()
      },
      neuroObservDateConfig: {
        dataFormat: 'Y-m-d'
      },
      visitDateConfig: {
        dataFormat: 'Y-m-d'
      },
      neuroObservTimeConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        enableSeconds: false,
        time_24hr: true
      },
      // dd list
      dd_coma_score_e: COMA_SCORE_E,
      dd_coma_score_v: COMA_SCORE_V,
      dd_coma_score_m: COMA_SCORE_M,
      dd_pupil_size: PUPIL_SIZE,
      dd_pupil_reaction: PUPIL_REACTION,
      dd_motor_power: MOTOR_POWER

    }
  },
  created () {
    this.fillForm()
    this.addNeuroOnservObject()
    this.gscProcess()
  },
  methods: {
    fillForm () {
      if (this.$lodash.isEmpty(this.patient)) return
      if (this.patient.title) {
        this.title = this.patient.title
      } else {
        this.title = this.patient.gender === 'male' ? 'Mr.' : this.patient.marital_status === 'married' ? 'Mrs.' : 'Ms.'
      }
      this.first_name = this.patient.first_name || null
      this.last_name = this.patient.last_name || null
      this.dob = this.patient.dob || null
      this.opd_cc = this.patient.opd_cc || null
      this.opd_pi = this.patient.opd_pi || null
      this.age = this.patient.dob ? getAge(this.patient.dob) : this.patient.age
      this.gender = this.patient.gender || null
      this.hospital_number_display = this.patient.hospital_number_display || null
      this.an = this.patient.an || null
      this.first_visited_date = this.patient.first_visited_date || null
      this.ageMonth = this.monthDiffDOB(this.patient.dob) || null
      if (this.patient.neuro_observ) {
        this.neuroObservData = JSON.parse(this.patient.neuro_observ)
        this.neuro_observ = this.neuroObservData.length
      }
    },
    submitForm () {
      const data = {
        title: this.title,
        first_name: this.first_name,
        last_name: this.last_name,
        dob: this.dob,
        opd_cc: this.opd_cc,
        opd_pi: this.opd_pi,
        age: this.age,
        gender: this.gender,
        hospital_number_display: this.hospital_number_display,
        an: this.an,
        first_visited_date: this.first_visited_date,
        neuro_observ: JSON.stringify(this.neuroObservData)
      }
      // const body = this.precheckBodyData(data)
      const body = precheckFormData(19, data)

      if (!body) {
        alert('Something went wrong (missing parameters)')
        return
      }

      if (this.isEdit) { // edit existing opd form
        this.$emit('submit', { action: 'edit', body, visitFormId: this.visitFormId })
      } else { // create new opd form
        this.$emit('submit', { action: 'create', body })
      }
    },
    deleteVisitForm (id) {
      this.$emit('submit', { action: 'delete', visitFormId: this.visitFormId })
    },
    approveVisitForm (id) {
      this.$emit('submit', { action: 'approve', visitFormId: this.visitFormId })
    },
    // hit cancel button on edit mode
    resetForm () {
      const answer = confirm('Are you sure you want to discard your changes?')

      if (!answer) return
      this.fillForm()
    },
    addNeuroObservData (model, value) {
      if (value > 0) {
        this[model].push({
          date: '',
          time: '',
          coma_score_e: '',
          coma_score_v: '',
          coma_score_m: '',
          coma_score_gcs: this.comaScoreRes(this.coma_score_e, this.coma_score_v, this.coma_score_m),
          rt_size: '',
          rt_reaction: '',
          lt_size: '',
          lt_reaction: '',
          arms_rt: '',
          arms_lt: '',
          legs_rt: '',
          legs_lt: '',
          vs_bt: '',
          vs_sbp: '',
          vs_dbp: '',
          vs_map: '',
          vs_hr: '',
          vs_rr: '',
          vs_o2sat: ''
        })
        this.neuroObservIndex++
        this[model + 'Length'] += value
      } else {
        if (this[model].length > 0) {
          this[model].pop()
          this[model + 'Length'] += value
        }
      }
    },
    monthDiffDOB: (d1) => {
      // let date1 = new Date(d1)
      // let date2 = new Date()
      // let years = yearsDiff(d1, d2)
      // let months =(years * 12) + (date2.getMonth() - date1.getMonth())
      let months = moment().diff(d1, 'months')
      return months <= 0 ? 0 : months
    },
    addNeuroOnservObject () {
      for (var i = 0; i < this.neuroObservIndex; i++) {
        this.neuroObservData.push({
          date: '',
          time: '',
          coma_score_e: '',
          coma_score_v: '',
          coma_score_m: '',
          coma_score_gcs: '',
          rt_size: '',
          rt_reaction: '',
          lt_size: '',
          lt_reaction: '',
          arms_rt: '',
          arms_lt: '',
          legs_rt: '',
          legs_lt: '',
          vs_bt: '',
          vs_sbp: '',
          vs_dbp: '',
          vs_map: '',
          vs_hr: '',
          vs_rr: '',
          vs_o2sat: ''
        })
      }
    },
    gscProcess: function (e, v, m) {
      if (!isNaN(parseInt(e)) && !isNaN(parseInt(v)) && !isNaN(parseInt(m))) {
        return parseInt(e) + parseInt(v) + parseInt(m)
      } else {
        var res = ''
        if (isNaN(e) && !isNaN(parseInt(v)) && !isNaN(parseInt(m))) {
          const comaSum = parseInt(v) + parseInt(m)
          res = e.toString() + comaSum
          return res
        } else if (isNaN(e) && isNaN(v) && !isNaN(parseInt(m))) {
          res = e.toString() +
          parseInt(m) +
          v.toString()
          return res
        } else if (!isNaN(parseInt(e)) && isNaN(v) && !isNaN(parseInt(m))) {
          var comaSum = parseInt(e) + parseInt(m)
          res = comaSum + v.toString()
          return res
        } else {
          return ''
        }
      }
    }
  },
  computed: {
    comaScoreRes: function () {
      for (var i = 0; i < 7; i++) {
        if (!isNaN(parseInt(this.neuroObservData[1].coma_score_e)) && !isNaN(parseInt(this.neuroObservData[1].coma_score_v)) && !isNaN(parseInt(this.neuroObservData[1].coma_score_m))) {
          return parseInt(this.neuroObservData[1].coma_score_e) + parseInt(this.neuroObservData[1].coma_score_v) + parseInt(this.neuroObservData[1].coma_score_m)
        } else {
          var res = ''
          if (isNaN(this.neuroObservData[1].coma_score_e) && !isNaN(parseInt(this.neuroObservData[1].coma_score_v)) && !isNaN(parseInt(this.neuroObservData[1].coma_score_m))) {
            const comaSum = parseInt(this.neuroObservData[1].coma_score_v) + parseInt(this.neuroObservData[1].coma_score_m)
            res = this.neuroObservData[1].coma_score_e.toString() + comaSum
            return res
          } else if (isNaN(this.neuroObservData[1].coma_score_e) && isNaN(this.neuroObservData[1].coma_score_v) && !isNaN(parseInt(this.neuroObservData[1].coma_score_m))) {
            res = this.neuroObservData[1].coma_score_e.toString() +
            parseInt(this.neuroObservData[1].coma_score_m) +
            this.neuroObservData[1].coma_score_v.toString()
            return res
          } else if (!isNaN(parseInt(this.neuroObservData[1].coma_score_e)) && isNaN(this.neuroObservData[1].coma_score_v) && !isNaN(parseInt(this.neuroObservData[1].coma_score_m))) {
            var comaSum = parseInt(this.neuroObservData[1].coma_score_e) + parseInt(this.neuroObservData[1].coma_score_m)
            res = comaSum + this.neuroObservData[1].coma_score_v.toString()
            return res
          } else {
            return ''
          }
        }
      }
    },
    getColorComaScore: function () {
      // var i = this.neuroObservIndex
      // return this.neuroObservData[i].coma_score_e === '1' ? 'cr' : ''
      for (var i = 0; i < this.neuroObservIndex; i++) {
        switch (this.neuroObservData[i].coma_score_e) {
          case '1':
            return 'coma-score-1'
          case '2':
            return 'coma-score-2'
          case '3':
            return 'coma-score-3'
          case 'close':
            return 'coma-score-close'
        }
        // if (this.neuroObservData[i].coma_score_e === 1) {
        //   return 'coma-score-1'
        // } else if {}
        // return this.neuroObservData[i].coma_score_e === '1' ? 'cr' : ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>
$border-color: #bbbbbb;
table {
  width: 100%;
}

th {
  border: 1px solid $border-color;
  padding: 4px;
  vertical-align: top;
}

td {
  border: 1px solid $border-color;
  padding: 4px;
  vertical-align: top;
}
// coma e
.coma-e-1 {
  background: #e06666
}

.coma-e-2 {
  background: #ea9999
}

.coma-e-3 {
  background: #ffe599
}

.coma-e-close {
  background: #c27ba0
}

.coma-e-swelling {
  background: #e06666
}
// coma v
.coma-v-1 {
  background: #f4cccc
}

.coma-v-2 {
  background: #ead1dc
}

.coma-v-3 {
  background: #fff2cc
}

.coma-v-4 {
  background: #d9ead3
}

.coma-v-t {
  background: #e06666
}

// coma m
.coma-m-1 {
  background: #e06666
}

.coma-m-2 {
  background: #f4cccc
}

.coma-m-3 {
  background: #fce5cd
}

.coma-m-4 {
  background: #fff2cc
}

.coma-m-5 {
  background: #d9ead3
}

.coma-m-6 {
  background: #fff
}
// gcs
.coma-gcs-8 {
  background: #cc0000
}

.coma-gcs-9-13 {
  background: #ffff00
}

.coma-gcs-14-15 {
  background: #6aa84f
}

// pupil size
.pupil-size-1 {
  background: #e06666
}

.pupil-size-2-4 {
  background: #93c47d
}

.pupil-size-5 {
  background: #f4cccc
}

// pupil reation
.pupil-reaction-rtl {
  background: #93c47d
}

.pupil-reaction-slightly {
  background: #fff2cc
}

.pupil-reaction-no-reaction {
  background: #cc0000
}

.pupil-reaction-eye-closed {
  background: #f4cccc
}


// motor power
.motor-power-1-3 {
  background: #e06666
}
.motor-power-4 {
  background: #ffe599
}
.motor-power-5 {
  background: #93c47d
}

.vital-red {
  background: rgba(255, 0, 0, 0.8);
}
.vital-green {
  background: rgba(59, 107, 55, 0.8);
}
.vital-yellow {
  background: rgba(204, 157, 70, 0.8);
}
.vital-pink {
  background: rgba(236, 113, 113, 0.8);
}


.label {
  // margin-top: 5px;
  font-size: 12px;
}

.ht {
  // margin-top: 5px;
  font-size: 14px;
  background-color: rgba(129, 129, 129, 0.15);
}

.pdt5 {
  padding-top: 5px;
}

.pdt10 {
  padding-top: 10px;
}

.bar {
  margin-left: 10px;
  border-bottom: 1px solid #adadad;
  width: 120px;
}

.mt-2 {
  margin-top: 10px;
}

.ml-2 {
  margin-left: 10px;
}

.text-ct {
  text-align: center;
}

</style>
