<template>
  <section class="content">
    <!-- <pre>{{ patient }}</pre> -->
    <h1>{{ isEdit ? 'Update': '' }} Nursing Assessment (part 2)</h1>
    <form class="nursing-assessment-form2 pure-form pure-form-stacked" v-on:submit.prevent="submitForm">
      <div class="row text-left">
        <div class="col-xs-12 col-sm-3">
          <label for="title">Prefix</label>
          <select id="title" v-model="title" class="pure-input-1" disabled>
            <option>Mr.</option>
            <option>Mrs.</option>
            <option>Ms.</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="first_name">First name</label>
            <input id="first_name" type="text" v-model="first_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="last_name">Last name</label>
            <input id="last_name" type="text" v-model="last_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="dob">DOB</label>
          <flat-pickr
            v-model="dob"
            :config="dateOfBirthConfig"
            placeholder="Select date"
            class="pure-input-1"
            name="dob"
            disabled>
          </flat-pickr>
        </div>
      </div>

      <div class="row mt2">
        <div class="col-sm col-xs-6">
          <label for="age">Age</label>
          <input id="age" class="pure-input-1" type="text" v-model="age" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="gender">Gender</label>
          <select id="gender" v-model="gender" class="pure-input-1" disabled readonly>
            <option>male</option>
            <option>female</option>
            <option>other</option>
          </select>
        </div>
        <div class="col-sm col-xs-6">
          <label for="cn-hn">CN/HN:</label>
          <input id="cn-hn" class="pure-input-1" type="text" v-model="hospital_number_display" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="an">AN:</label>
          <input id="an" class="pure-input-1" type="text" v-model="an">
        </div>
        <div class="col-sm col-xs-12">
          <label for="visit-date">Visit date:</label>
          <flat-pickr
            class="pure-input-1"
            v-model="first_visited_date"
            :config="visitDateConfig"
            placeholder="Select date"
            name="visit_date">
          </flat-pickr>
        </div>
      </div>
      <div class="row mt2">
        <div class="col-sm col-xs-12">
          <label for="ward">WARD</label>
          <input id="ward" class="pure-input-1" type="text" v-model="ward">
        </div>      
        <div class="col-sm col-xs-12">
          <label for="page">Page</label>
          <input id="page" class="pure-input-1" type="text" v-model="page">
        </div>
      </div>

      <legend class="mt3"><h3>Skin</h3></legend>

      <div class="row text-left">
        <div class="col-sm-3 col-xs-12">
          <label for="Dermal Assessment">Dermal Assessment :</label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="dermal_wnl">
            <input type="checkbox" id="dermal_wnl" v-model="dermal_wnl">
            WNL
          </label>
        </div>
        <div class="col-sm-6 col-xs-12">
          <label for="dermal_abnormal">
            <input type="checkbox" id="dermal_abnormal" v-model="dermal_abnormal">
            Abnormal : Use letter to indicate type and location on diagram
          </label>
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt1">
        <div class="col-sm-12 col-xs-12">
          <label for="a_abrastion">
            <input type="checkbox" id="a_abrastion" v-model="a_abrastion">
            A : Abrasion
          </label>
        </div>
        <div class="col-sm-12 col-xs-12">
          <label for="b_burn">
            <input type="checkbox" id="b_burn" v-model="b_burn">
            B : Burn
          </label>
        </div>
        <div class="col-sm-12 col-xs-12">
          <label for="c_contusion">
            <input type="checkbox" id="c_contusion" v-model="c_contusion">
            C : Contusion
          </label>
        </div>
        <div class="col-sm-12 col-xs-12">
          <label for="e_ecchymosis">
            <input type="checkbox" id="e_ecchymosis" v-model="e_ecchymosis">
            E : Ecchymosis
          </label>
        </div>
        <div class="col-sm-12 col-xs-12">
          <label for="h_hematoma">
            <input type="checkbox" id="h_hematoma" v-model="h_hematoma">
            H : Hematoma
          </label>
        </div>
        <div class="col-sm-12 col-xs-12">
          <label for="l_laceration">
            <input type="checkbox" id="l_laceration" v-model="l_laceration">
            L : Laceration
          </label>
        </div>
        <div class="col-sm-12 col-xs-12">
          <label for="l_laceration">
            <input type="checkbox" id="l_laceration" v-model="m_mass">
            M : Mass
          </label>
        </div>
        <div class="col-sm-12 col-xs-12">
          <label for="p_petechiae">
            <input type="checkbox" id="p_petechiae" v-model="p_petechiae">
            P : Petechiae
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="ps_peressure">
            <input type="checkbox" id="ps_peressure" v-model="ps_peressure">
            PS : Pressure sore Stage
          </label>
        </div>
        <div class="col-sm-2 col-xs-12" v-if="ps_peressure">
          <input id="ps_peressure_input" class="pure-u-1" type="text" v-model="ps_peressure_input">
        </div>
        <div class="col-sm-12 col-xs-12">
          <label for="r_rash">
            <input type="checkbox" id="r_rash" v-model="r_rash">
            R : Rash
          </label>
        </div>
        <div class="col-sm-12 col-xs-12">
          <label for="s_suture">
            <input type="checkbox" id="s_suture" v-model="s_suture">
            S : Suture
          </label>
        </div>
        <div class="col-sm-12 col-xs-12">
          <label for="sc_scar">
            <input type="checkbox" id="sc_scar" v-model="sc_scar">
            Sc : Scar
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="sr_skin">
            <input type="checkbox" id="sr_skin" v-model="sr_skin">
            SR : Skin reaction from radiation
          </label>
        </div>
        <div class="col-sm-3 col-xs-12" v-if="sr_skin">
          <input id="sr_skin_input" class="pure-u-1" type="text" v-model="sr_skin_input">
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Temp">Temp :</label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="temp_warm">
            <input type="checkbox" id="temp_warm" v-model="temp_warm">
            Warm
          </label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="temp_hot">
            <input type="checkbox" id="temp_hot" v-model="temp_hot">
            Hot
          </label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="temp_cool">
            <input type="checkbox" id="temp_cool" v-model="temp_cool">
            Cool
          </label>
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Moisture">Moisture :</label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="moisture_moist">
            <input type="checkbox" id="moisture_moist" v-model="moisture_moist">
            Moist
          </label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="moisture_dry">
            <input type="checkbox" id="moisture_dry" v-model="moisture_dry">
            Dry
          </label>
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Turgor">Turgor :</label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="turgor_good">
            <input type="checkbox" id="turgor_good" v-model="turgor_good">
            Good
          </label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="turgor_pool">
            <input type="checkbox" id="turgor_pool" v-model="turgor_pool">
            Poor
          </label>
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Color">Color :</label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="color_normal">
            <input type="checkbox" id="color_normal" v-model="color_normal">
            Normal
          </label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="color_pale">
            <input type="checkbox" id="color_pale" v-model="color_pale">
            Pale
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="color_cyanosis">
            <input type="checkbox" id="color_cyanosis" v-model="color_cyanosis">
            Cyanosis
          </label>
          <input v-if="color_cyanosis" class="pure-input-1" type="text" id="color_cyanosis_input" v-model="color_cyanosis_input">
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="color_jaundice">
            <input type="checkbox" id="color_jaundice" v-model="color_jaundice">
            Jaundice
          </label>
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-3 col-xs-12">
          <label for="Pressure Ulcer Staging">Pressure Ulcer Staging :</label>
        </div>
        <div class="col-sm-8 col-xs-12">
          <label for="pressure_stage1">
            <input type="checkbox" id="pressure_stage1" v-model="pressure_stage1">
            Stage 1 Persistent redness (in lightly pigmented skin).
          </label>
        </div>
        <div class="col-sm-8 col-sm-offset-3 col-xs-12">
          <label for="pressure_stage2">
            <input type="checkbox" id="pressure_stage2" v-model="pressure_stage2">
            Stage 2 Skin loss : abrasion, blister or shallow crater.
          </label>
        </div>
        <div class="col-sm-8 col-sm-offset-3 col-xs-12">
          <label for="pressure_stage3">
            <input type="checkbox" id="pressure_stage3" v-model="pressure_stage3">
            Stage 3 Deep crater : not extend down through underlying fascia.
          </label>
        </div>
        <div class="col-sm-8 col-sm-offset-3 col-xs-12">
          <label for="pressure_stage4">
            <input type="checkbox" id="pressure_stage4" v-model="pressure_stage4">
            Stage 4 Deep crater:damage to muscle,bone or supporting structures.
          </label>
        </div>
      </div>

      <legend class="mt3"><h3>Cardiopulmonary</h3></legend>
      <div class="row text-left">
        <div class="col-sm-6 col-xs-12">
          <label for="Pulmonary">Pulmonary</label>
          <input class="pure-input-1" type="text" id="pulmonary" v-model="pulmonary">
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Rate">Rate :</label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="rate_eupnea">
            <input type="checkbox" id="rate_eupnea" v-model="rate_eupnea">
            Eupnea
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="rate_tachyp">
            <input type="checkbox" id="rate_tachyp" v-model="rate_tachypnea">
            Tachypnea
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="rate_bradypnea">
            <input type="checkbox" id="rate_bradypnea" v-model="rate_bradypnea">
            Bradypnea
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="rate_apnea">
            <input type="checkbox" id="rate_apnea" v-model="rate_apnea">
            Apnea
          </label>
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Rhythm / Depth">Rhythm / Depth :</label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="rhythm_regular">
            <input type="checkbox" id="rhythm_regular" v-model="rhythm_regular">
            Regular
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="rhythm_irregular">
            <input type="checkbox" id="rhythm_irregular" v-model="rhythm_irregular">
            Irregular
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="rhythm_deep">
            <input type="checkbox" id="rhythm_deep" v-model="rhythm_deep">
            Deep
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="rhythm_shallow">
            <input type="checkbox" id="rhythm_shallow" v-model="rhythm_shallow">
            Shallow
          </label>
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Effort">Effort :</label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="effort_easy">
            <input type="checkbox" id="effort_easy" v-model="effort_easy">
            Easy
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="effort_dyspnea">
            <input type="checkbox" id="effort_dyspnea" v-model="effort_dyspnea">
            Dyspnea
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="effort_otherpnea">
            <input type="checkbox" id="effort_otherpnea" v-model="effort_otherpnea">
            Otherpnea
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="effort_other">
            <input type="checkbox" id="effort_other" v-model="effort_other">
            Other
          </label>
          <input v-if="effort_other" class="pure-input-1" type="text" id="effort_other_input" v-model="effort_other_input">
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Cought">Cought :</label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="cought_none">
            <input type="checkbox" id="cought_none" v-model="cought_none">
            None
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="cought_dry">
            <input type="checkbox" id="cought_dry" v-model="cought_dry">
            Dry
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="cought_productive">
            <input type="checkbox" id="cought_productive" v-model="cought_productive">
            Productive
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="cought_other">
            <input type="checkbox" id="cought_other" v-model="cought_other">
            Other
          </label>
          <input v-if="cought_other" class="pure-input-1" type="text" id="cought_other_input" v-model="cought_other_input">
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Sputum">Sputum :</label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="sputum_none">
            <input type="checkbox" id="sputum_none" v-model="sputum_none">
            None
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="sputum_hemoptysis">
            <input type="checkbox" id="sputum_hemoptysis" v-model="sputum_hemoptysis">
            Hemoptysis
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="sputum_frothy">
            <input type="checkbox" id="sputum_frothy" v-model="sputum_frothy">
            Frothy
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="sputum_color">
            <input type="checkbox" id="sputum_color" v-model="sputum_color">
            Color
          </label>
          <input v-if="sputum_color" class="pure-input-1" type="text" id="sputum_color_input" v-model="sputum_color_input">
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="sputum_other">
            <input type="checkbox" id="sputum_other" v-model="sputum_other">
            Other
          </label>
          <input v-if="sputum_other" class="pure-input-1" type="text" id="sputum_other_input" v-model="sputum_other_input">
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Current Treatment">Current Treatment :</label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="treatment_none">
            <input type="checkbox" id="treatment_none" v-model="treatment_none">
            None
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="treatment_oxygen">
            <input type="checkbox" id="treatment_oxygen" v-model="treatment_oxygen">
            Oxygen
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="treatment_ett">
            <input type="checkbox" id="treatment_ett" v-model="treatment_ett">
            ETT
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="treatment_tracheostomy">
            <input type="checkbox" id="treatment_tracheostomy" v-model="treatment_tracheostomy">
            Tracheostomy
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="treatment_ventilator">
            <input type="checkbox" id="treatment_ventilator" v-model="treatment_ventilator">
            Ventilator
          </label>
        </div>
        <div class="col-sm-2 col-sm-offset-2 col-xs-12">
          <label for="treatment_chest_tube">
            <input type="checkbox" id="treatment_chest_tube" v-model="treatment_chest_tube">
            Chest Tube
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="treatment_other">
            <input type="checkbox" id="treatment_other" v-model="treatment_other">
            Other
          </label>
          <input v-if="treatment_other" class="pure-input-1" type="text" id="treatment_other_input" v-model="treatment_other_input">
        </div>
      </div>

      <legend class="mt3"><h3>Cardiovascular</h3></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Pulse rhythm">Pulse rhythm :</label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pulse_rhythm_regular">
            <input type="checkbox" id="pulse_rhythm_regular" v-model="pulse_rhythm_regular">
            Regular
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pulse_rhythm_irregular">
            <input type="checkbox" id="pulse_rhythm_irregular" v-model="pulse_rhythm_irregular">
            Irregular
          </label>
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Pulse amplitude">Pulse amplitude :</label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pulse_amp_strong">
            <input type="checkbox" id="pulse_amp_strong" v-model="pulse_amp_strong">
            Strong
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pulse_amp_weak">
            <input type="checkbox" id="pulse_amp_weak" v-model="pulse_amp_weak">
            Weak
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pulse_amp_absent">
            <input type="checkbox" id="pulse_amp_absent" v-model="pulse_amp_absent">
            Absent
          </label>
          <input v-if="pulse_amp_absent" class="pure-input-1" type="text" id="pulse_amp_absent_input" v-model="pulse_amp_absent_input">
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Pulse rate">Pulse rate :</label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pulse_rate_normal">
            <input type="checkbox" id="pulse_rate_normal" v-model="pulse_rate_normal">
            Normal
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pulse_rate_tachycardia">
            <input type="checkbox" id="pulse_rate_tachycardia" v-model="pulse_rate_tachycardia">
            Tachycardia
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pulse_rate_bradycardia">
            <input type="checkbox" id="pulse_rate_bradycardia" v-model="pulse_rate_bradycardia">
            Bradycardia
          </label>
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Neck Vein Engorged">Neck Vein Engorged :</label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="neck_vein_yes">
            <input type="checkbox" id="neck_vein_yes" v-model="neck_vein_yes">
            Yes
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="neck_vein_no">
            <input type="checkbox" id="neck_vein_no" v-model="neck_vein_no">
            No
          </label>
        </div>
      </div>


      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Edema">Edema :</label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="edema_none">
            <input type="checkbox" id="edema_none" v-model="edema_none">
            None
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="edema_generalized">
            <input type="checkbox" id="edema_generalized" v-model="edema_generalized">
            Generalized
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="edema_localized">
            <input type="checkbox" id="edema_localized" v-model="edema_localized">
            Localized
          </label>
          <input v-if="edema_localized" class="pure-input-1" type="text" id="edema_localized_input" v-model="edema_localized_input">
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="edema_pitting">
            <input type="checkbox" id="edema_pitting" v-model="edema_pitting">
            Pitting
          </label>
          <input v-if="edema_pitting" class="pure-input-1" type="text" id="edema_pitting_input" v-model="edema_pitting_input">
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Chest Pain ">Chest Pain :</label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="chest_pain_no">
            <input type="checkbox" id="chest_pain_no" v-model="chest_pain_no">
            No
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="chest_pain_yes">
            <input type="checkbox" id="chest_pain_yes" v-model="chest_pain_yes">
            Yes
          </label>
        </div>
      </div>

      <div class="row text-left mt2">
        <div class="col-sm-3 col-xs-12">
          <label for="chest_pain_location">Location</label>
          <input type="text" id="chest_pain_location" v-model="chest_pain_location" class="pure-input-1">
        </div>
       <div class="col-sm-3 col-xs-12">
          <label for="chest_pain_refered">Refered Pain</label>
          <input type="text" id="chest_pain_refered" v-model="chest_pain_refered" class="pure-input-1">
        </div>
       <div class="col-sm-3 col-xs-12">
          <label for="chest_pain_duration">Duration</label>
          <input type="text" id="chest_pain_duration" v-model="chest_pain_duration" class="pure-input-1">
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="chest_pain_frequency">Frequency</label>
          <input type="text" id="chest_pain_frequency" v-model="chest_pain_frequency" class="pure-input-1">
        </div>
      </div>

      <fieldset>
        <div class="mt3">
          <button type="submit" class="pure-button">Submit</button>
          <button type="reset" class="pure-button" v-if="!isEdit">Cancel</button>
          <button @click="resetForm()" type="button" class="pure-button" v-else>Cancel</button>
          <button type="button" class="pure-button button-error" v-if="isEdit" title="Delete" @click="deleteVisitForm" style="margin-left: 1rem;">
            <icon name="trash"></icon>
          </button>
          <button type="button" class="pure-button button-error" v-if="isEdit && !isApprove" title="Approve this form" @click="approveVisitForm">
            <icon name="exclamation-circle" style="vertical-align: top;"></icon>&nbsp;Pending
          </button>
        </div>

      </fieldset>
      <!-- END OF button group -->

      <p class="text-right m0" v-if="isEdit && user && user.id"><small>Last updated: {{ user.name }}</small></p>
      <p class="text-right m0" v-if="isEdit && approveUser && approveUser.id"><small>Approved by: {{ approveUser.name }}</small></p>
    </form>
  </section>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import { precheckFormData } from './index'
import getAge from '../../filters/age.js'

export default {
  name: 'forms-nursing-focus-list',
  props: ['patient', 'isEdit', 'isApprove', 'visitFormId', 'user', 'approveUser'],
  components: {
    flatPickr
  },
  data () {
    return {
      title: null,
      first_name: null,
      last_name: null,
      dob: null,
      age: null,
      gender: null,
      hospital_number_display: null,
      an: null,
      first_visited_date: null,
      ward: null,
      page: null,
      dermal_wnl: false,
      dermal_abnormal: false,
      a_abrastion: false,
      b_burn: false,
      c_contusion: false,
      e_ecchymosis: false,
      h_hematoma: false,
      l_laceration: false,
      m_mass: false,
      p_petechiae: false,
      ps_peressure: false,
      ps_peressure_input: null,
      r_rash: false,
      s_suture: false,
      sc_scar: false,
      sr_skin: false,
      sr_skin_input: null,
      temp_warm: false,
      temp_hot: false,
      temp_cool: false,
      moisture_moist: false,
      moisture_dry: false,
      turgor_good: false,
      turgor_pool: false,
      color_normal: false,
      color_pale: false,
      color_cyanosis: false,
      color_cyanosis_input: null,
      color_jaundice: false,
      pressure_stage1: false,
      pressure_stage2: false,
      pressure_stage3: false,
      pressure_stage4: false,
      pulmonary: false,
      rate_eupnea: false,
      rate_tachypnea: false,
      rate_bradypnea: false,
      rate_apnea: false,
      rhythm_regular: false,
      rhythm_irregular: false,
      rhythm_deep: false,
      rhythm_shallow: false,
      effort_easy: false,
      effort_dyspnea: false,
      effort_otherpnea: false,
      effort_other: false,
      effort_other_input: null,
      cought_none: false,
      cought_dry: false,
      cought_productive: false,
      cought_other: false,
      cought_other_input: null,
      sputum_none: false,
      sputum_hemoptysis: false,
      sputum_frothy: false,
      sputum_color: false,
      sputum_color_input: null,
      sputum_other: false,
      sputum_other_input: null,
      treatment_none: false,
      treatment_oxygen: false,
      treatment_ett: false,
      treatment_tracheostomy: false,
      treatment_ventilator: false,
      treatment_chest_tube: false,
      treatment_other: false,
      treatment_other_input: null,
      pulse_rhythm_regular: false,
      pulse_rhythm_irregular: false,
      pulse_amp_strong: false,
      pulse_amp_weak: false,
      pulse_amp_absent: false,
      pulse_amp_absent_input: null,
      pulse_rate_normal: false,
      pulse_rate_tachycardia: false,
      pulse_rate_bradycardia: false,
      neck_vein_yes: false,
      neck_vein_no: false,
      edema_none: false,
      edema_generalized: false,
      edema_localized: false,
      edema_localized_input: null,
      edema_pitting: false,
      edema_pitting_input: null,
      chest_pain_no: false,
      chest_pain_yes: false,
      chest_pain_location: null,
      chest_pain_refered: null,
      chest_pain_duration: null,
      chest_pain_frequency: null,
      // date config
      dateOfBirthConfig: {
        dataFormat: 'Y-m-d',
        maxDate: new Date()
      },
      visitDateConfig: {
        dataFormat: 'Y-m-d'
      }

      // time config

    }
  },
  created () {
    this.fillForm()
  },
  methods: {
    fillForm () {
      if (this.$lodash.isEmpty(this.patient)) return
      if (this.patient.title) {
        this.title = this.patient.title
      } else {
        this.title = this.patient.gender === 'male' ? 'Mr.' : this.patient.marital_status === 'married' ? 'Mrs.' : 'Ms.'
      }
      this.first_name = this.patient.first_name || null
      this.last_name = this.patient.last_name || null
      this.dob = this.patient.dob || null
      this.opd_cc = this.patient.opd_cc || null
      this.opd_pi = this.patient.opd_pi || null
      this.age = this.patient.dob ? getAge(this.patient.dob) : this.patient.age
      this.gender = this.patient.gender || null
      this.hospital_number_display = this.patient.hospital_number_display || null
      this.an = this.patient.an || null
      this.first_visited_date = this.patient.first_visited_date || null
      this.ward = this.patient.ward || null
      this.page = this.patient.page || null
      this.dermal_wnl = this.patient.dermal_wnl || null
      this.dermal_abnormal = this.patient.dermal_abnormal || null
      this.a_abrastion = this.patient.a_abrastion || null
      this.b_burn = this.patient.b_burn || null
      this.c_contusion = this.patient.c_contusion || null
      this.e_ecchymosis = this.patient.e_ecchymosis || null
      this.h_hematoma = this.patient.h_hematoma || null
      this.l_laceration = this.patient.l_laceration || null
      this.m_mass = this.patient.m_mass || null
      this.p_petechiae = this.patient.p_petechiae || null
      this.ps_peressure = this.patient.ps_peressure || null
      this.ps_peressure_input = this.ps_peressure ? this.patient.ps_peressure_input : null
      this.r_rash = this.patient.r_rash || null
      this.s_suture = this.patient.s_suture || null
      this.sc_scar = this.patient.sc_scar || null
      this.sr_skin = this.patient.sr_skin || null
      this.sr_skin_input = this.sr_skin ? this.patient.sr_skin_input : null
      this.temp_warm = this.patient.temp_warm || null
      this.temp_hot = this.patient.temp_hot || null
      this.temp_cool = this.patient.temp_cool || null
      this.moisture_moist = this.patient.moisture_moist || null
      this.moisture_dry = this.patient.moisture_dry || null
      this.turgor_good = this.patient.turgor_good || null
      this.turgor_pool = this.patient.turgor_pool || null
      this.color_normal = this.patient.color_normal || null
      this.color_pale = this.patient.color_pale || null
      this.color_cyanosis = this.patient.color_cyanosis || null
      this.color_cyanosis_input = this.color_cyanosis ? this.patient.color_cyanosis_input : null
      this.color_jaundice = this.patient.color_jaundice || null
      this.pressure_stage1 = this.patient.pressure_stage1 || null
      this.pressure_stage2 = this.patient.pressure_stage2 || null
      this.pressure_stage3 = this.patient.pressure_stage3 || null
      this.pressure_stage4 = this.patient.pressure_stage4 || null
      this.pulmonary = this.patient.pulmonary || null
      this.rate_eupnea = this.patient.rate_eupnea || null
      this.rate_tachypnea = this.patient.rate_tachypnea || null
      this.rate_bradypnea = this.patient.rate_bradypnea || null
      this.rate_apnea = this.patient.rate_apnea || null
      this.rhythm_regular = this.patient.rhythm_regular || null
      this.rhythm_irregular = this.patient.rhythm_irregular || null
      this.rhythm_deep = this.patient.rhythm_deep || null
      this.rhythm_shallow = this.patient.rhythm_shallow || null
      this.effort_easy = this.patient.effort_easy || null
      this.effort_dyspnea = this.patient.effort_dyspnea || null
      this.effort_otherpnea = this.patient.effort_otherpnea || null
      this.effort_other = this.patient.effort_other || null
      this.effort_other_input = this.effort_other ? this.patient.effort_other_input : null
      this.cought_none = this.patient.cought_none || null
      this.cought_dry = this.patient.cought_dry || null
      this.cought_productive = this.patient.cought_productive || null
      this.cought_other = this.patient.cought_other || null
      this.cought_other_input = this.cought_other ? this.patient.cought_other_input : null
      this.sputum_none = this.patient.sputum_none || null
      this.sputum_hemoptysis = this.patient.sputum_hemoptysis || null
      this.sputum_frothy = this.patient.sputum_frothy || null
      this.sputum_color = this.patient.sputum_color || null
      this.sputum_color_input = this.sputum_color ? this.patient.sputum_color_input : null
      this.sputum_other = this.patient.sputum_other || null
      this.sputum_other_input = this.sputum_other ? this.patient.sputum_other_input : null
      this.treatment_none = this.patient.treatment_none || null
      this.treatment_oxygen = this.patient.treatment_oxygen || null
      this.treatment_ett = this.patient.treatment_ett || null
      this.treatment_tracheostomy = this.patient.treatment_tracheostomy || null
      this.treatment_ventilator = this.patient.treatment_ventilator || null
      this.treatment_chest_tube = this.patient.treatment_chest_tube || null
      this.treatment_other = this.patient.treatment_other || null
      this.treatment_other_input = this.treatment_other ? this.patient.treatment_other_input : null
      this.pulse_rhythm_regular = this.patient.pulse_rhythm_regular || null
      this.pulse_rhythm_irregular = this.patient.pulse_rhythm_irregular || null
      this.pulse_amp_strong = this.patient.pulse_amp_strong || null
      this.pulse_amp_weak = this.patient.pulse_amp_weak || null
      this.pulse_amp_absent = this.patient.pulse_amp_absent || null
      this.pulse_amp_absent_input = this.pulse_amp_absent ? this.patient.pulse_amp_absent_input : null
      this.pulse_rate_normal = this.patient.pulse_rate_normal || null
      this.pulse_rate_tachycardia = this.patient.pulse_rate_tachycardia || null
      this.pulse_rate_bradycardia = this.patient.pulse_rate_bradycardia || null
      this.neck_vein_yes = this.patient.neck_vein_yes || null
      this.neck_vein_no = this.patient.neck_vein_no || null
      this.edema_none = this.patient.edema_none || null
      this.edema_generalized = this.patient.edema_generalized || null
      this.edema_localized = this.patient.edema_localized || null
      this.edema_localized_input = this.edema_localized ? this.patient.edema_localized_input : null
      this.edema_pitting = this.patient.edema_pitting || null
      this.edema_pitting_input = this.edema_pitting ? this.patient.edema_pitting_input : null
      this.chest_pain_no = this.patient.chest_pain_no || null
      this.chest_pain_yes = this.patient.chest_pain_yes || null
      this.chest_pain_location = this.patient.chest_pain_location || null
      this.chest_pain_refered = this.patient.chest_pain_refered || null
      this.chest_pain_duration = this.patient.chest_pain_duration || null
      this.chest_pain_frequency = this.patient.chest_pain_frequency || null
    },
    submitForm () {
      const data = {
        title: this.title,
        first_name: this.first_name,
        last_name: this.last_name,
        dob: this.dob,
        opd_cc: this.opd_cc,
        opd_pi: this.opd_pi,
        age: this.age,
        gender: this.gender,
        hospital_number_display: this.hospital_number_display,
        an: this.an,
        first_visited_date: this.first_visited_date,
        ward: this.ward,
        page: this.page,
        dermal_wnl: this.dermal_wnl,
        dermal_abnormal: this.dermal_abnormal,
        a_abrastion: this.a_abrastion,
        b_burn: this.b_burn,
        c_contusion: this.c_contusion,
        e_ecchymosis: this.e_ecchymosis,
        h_hematoma: this.h_hematoma,
        l_laceration: this.l_laceration,
        m_mass: this.m_mass,
        p_petechiae: this.p_petechiae,
        ps_peressure: this.ps_peressure,
        ps_peressure_input: this.ps_peressure_input,
        r_rash: this.r_rash,
        s_suture: this.s_suture,
        sc_scar: this.sc_scar,
        sr_skin: this.sr_skin,
        sr_skin_input: this.sr_skin_input,
        temp_warm: this.temp_warm,
        temp_hot: this.temp_hot,
        temp_cool: this.temp_cool,
        moisture_moist: this.moisture_moist,
        moisture_dry: this.moisture_dry,
        turgor_good: this.turgor_good,
        turgor_pool: this.turgor_pool,
        color_normal: this.color_normal,
        color_pale: this.color_pale,
        color_cyanosis: this.color_cyanosis,
        color_cyanosis_input: this.color_cyanosis_input,
        color_jaundice: this.color_jaundice,
        pressure_stage1: this.pressure_stage1,
        pressure_stage2: this.pressure_stage2,
        pressure_stage3: this.pressure_stage3,
        pressure_stage4: this.pressure_stage4,
        pulmonary: this.pulmonary,
        rate_eupnea: this.rate_eupnea,
        rate_tachypnea: this.rate_tachypnea,
        rate_bradypnea: this.rate_bradypnea,
        rate_apnea: this.rate_apnea,
        rhythm_regular: this.rhythm_regular,
        rhythm_irregular: this.rhythm_irregular,
        rhythm_deep: this.rhythm_deep,
        rhythm_shallow: this.rhythm_shallow,
        effort_easy: this.effort_easy,
        effort_dyspnea: this.effort_dyspnea,
        effort_otherpnea: this.effort_otherpnea,
        effort_other: this.effort_other,
        effort_other_input: this.effort_other_input,
        cought_none: this.cought_none,
        cought_dry: this.cought_dry,
        cought_productive: this.cought_productive,
        cought_other: this.cought_other,
        cought_other_input: this.cought_other_input,
        sputum_none: this.sputum_none,
        sputum_hemoptysis: this.sputum_hemoptysis,
        sputum_frothy: this.sputum_frothy,
        sputum_color: this.sputum_color,
        sputum_color_input: this.sputum_color_input,
        sputum_other: this.sputum_other,
        sputum_other_input: this.sputum_other_input,
        treatment_none: this.treatment_none,
        treatment_oxygen: this.treatment_oxygen,
        treatment_ett: this.treatment_ett,
        treatment_tracheostomy: this.treatment_tracheostomy,
        treatment_ventilator: this.treatment_ventilator,
        treatment_chest_tube: this.treatment_chest_tube,
        treatment_other: this.treatment_other,
        treatment_other_input: this.treatment_other_input,
        pulse_rhythm_regular: this.pulse_rhythm_regular,
        pulse_rhythm_irregular: this.pulse_rhythm_irregular,
        pulse_amp_strong: this.pulse_amp_strong,
        pulse_amp_weak: this.pulse_amp_weak,
        pulse_amp_absent: this.pulse_amp_absent,
        pulse_amp_absent_input: this.pulse_amp_absent_input,
        pulse_rate_normal: this.pulse_rate_normal,
        pulse_rate_tachycardia: this.pulse_rate_tachycardia,
        pulse_rate_bradycardia: this.pulse_rate_bradycardia,
        neck_vein_yes: this.neck_vein_yes,
        neck_vein_no: this.neck_vein_no,
        edema_none: this.edema_none,
        edema_generalized: this.edema_generalized,
        edema_localized: this.edema_localized,
        edema_localized_input: this.edema_localized_input,
        edema_pitting: this.edema_pitting,
        edema_pitting_input: this.edema_pitting_input,
        chest_pain_no: this.chest_pain_no,
        chest_pain_yes: this.chest_pain_yes,
        chest_pain_location: this.chest_pain_location,
        chest_pain_refered: this.chest_pain_refered,
        chest_pain_duration: this.chest_pain_duration,
        chest_pain_frequency: this.chest_pain_frequency
      }
      // const body = this.precheckBodyData(data)
      const body = precheckFormData(15, data)

      if (!body) {
        alert('Something went wrong (missing parameters)')
        return
      }

      if (this.isEdit) { // edit existing opd form
        this.$emit('submit', { action: 'edit', body, visitFormId: this.visitFormId })
      } else { // create new opd form
        this.$emit('submit', { action: 'create', body })
      }
    },
    deleteVisitForm (id) {
      this.$emit('submit', { action: 'delete', visitFormId: this.visitFormId })
    },
    approveVisitForm (id) {
      this.$emit('submit', { action: 'approve', visitFormId: this.visitFormId })
    },
    // hit cancel button on edit mode
    resetForm () {
      const answer = confirm('Are you sure you want to discard your changes?')

      if (!answer) return
      this.fillForm()
    }
  }
}
</script>
