<template>
  <section class="content">
    <!-- <pre>{{ patient }}</pre> -->
    <h1>{{ isEdit ? 'Update': '' }} Nursing Assessment (part 3)</h1>
    <form class="nursing-assessment-form3 pure-form pure-form-stacked" v-on:submit.prevent="submitForm">
      <div class="row text-left">
        <div class="col-xs-12 col-sm-3">
          <label for="title">Prefix</label>
          <select id="title" v-model="title" class="pure-input-1" disabled>
            <option>Mr.</option>
            <option>Mrs.</option>
            <option>Ms.</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="first_name">First name</label>
            <input id="first_name" type="text" v-model="first_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="last_name">Last name</label>
            <input id="last_name" type="text" v-model="last_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="dob">DOB</label>
          <flat-pickr
            v-model="dob"
            :config="dateOfBirthConfig"
            placeholder="Select date"
            class="pure-input-1"
            name="dob"
            disabled>
          </flat-pickr>
        </div>
      </div>

      <div class="row mt2">
        <div class="col-sm col-xs-6">
          <label for="age">Age</label>
          <input id="age" class="pure-input-1" type="text" v-model="age" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="gender">Gender</label>
          <select id="gender" v-model="gender" class="pure-input-1" disabled readonly>
            <option>male</option>
            <option>female</option>
            <option>other</option>
          </select>
        </div>
        <div class="col-sm col-xs-6">
          <label for="cn-hn">CN/HN:</label>
          <input id="cn-hn" class="pure-input-1" type="text" v-model="hospital_number_display" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="an">AN:</label>
          <input id="an" class="pure-input-1" type="text" v-model="an">
        </div>
        <div class="col-sm col-xs-12">
          <label for="visit-date">Visit date:</label>
          <flat-pickr
            class="pure-input-1"
            v-model="first_visited_date"
            :config="visitDateConfig"
            placeholder="Select date"
            name="visit_date">
          </flat-pickr>
        </div>
      </div>
      <div class="row mt2">
        <div class="col-sm col-xs-6">
          <label for="ward">WARD</label>
          <input id="ward" class="pure-input-1" type="text" v-model="ward">
        </div>      
        <div class="col-sm col-xs-6">
          <label for="page">Page</label>
          <input id="page" class="pure-input-1" type="text" v-model="page">
        </div>
      </div>

      <legend class="mt3"><h3>Neuromuscular</h3></legend>

      <div class="row text-left">
        <div class="col-sm-6 col-xs-12">
          <label for="Neurosensory">Neurosensory</label>
          <input class="pure-input-1" type="text" id="neurosensory" v-model="neurosensory">
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-3 col-xs-12">
          <label for="Level of Conciousness"><b>Level of Conciousness (LOC) :</b></label>
        </div>
        <div class="col-sm-9 col-xs-12">
          <label for="loc_alert">
            <input type="checkbox" id="loc_alert" v-model="loc_alert">
            Alert, awake and oriented
          </label>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-xs-12">
          <label for="loc_let">
            <input type="checkbox" id="loc_let" v-model="loc_let">
            Lethargic (Sleepy but easily aroused)
          </label>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-xs-12">
          <label for="loc_stup">
            <input type="checkbox" id="loc_stup" v-model="loc_stup">
            Stuporus(responsive only to noxious stimuli)
          </label>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-xs-12">
          <label for="loc_coma">
            <input type="checkbox" id="loc_coma" v-model="loc_coma">
            Comatose(not responsive to noxious stimuli)
          </label>
        </div>
      </div>

      <legend></legend>

      <div class="row">
        <div class="col-sm col-xs-12" style="border-right: 2px solid rgba(0,0,0,.1);">  
          <div class="row text-left mt2">
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="Vision"><b>Vision</b></label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12 mt1">
              <label for="vision_normal">
                <input type="checkbox" id="vision_normal" v-model="vision_normal">
                Normal
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="vision_impaired">
                <input type="checkbox" id="vision_impaired" v-model="vision_impaired">
                Impaired
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-3 col-xs-12">
              <label for="vision_rt">
                <input type="checkbox" id="vision_rt" v-model="vision_rt">
                Rt
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-3 col-xs-12" v-if="vision_rt">
              <input class="pure-input-1-2 input--inline" type="text" id="vision_rt_input" v-model="vision_rt_input">
            </div>
            <div class="col-sm-12 col-sm-offset-3  col-xs-12">
              <label for="vision_lt">
                <input type="checkbox" id="vision_lt" v-model="vision_lt">
                Lt
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-3 col-xs-12" v-if="vision_lt">
              <input class="pure-input-1-2 input--inline" type="text" id="xxx" v-model="vision_lt_input">
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="vision_device">
                <input type="checkbox" id="vision_device" v-model="vision_device">
                Device
              </label>
            </div>
          </div>
        </div>
        
        <div class="col-sm col-xs-12" style="border-right: 2px solid rgba(0,0,0,.1);">  
          <div class="row text-left mt2">
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="Vision"><b>Hearing</b></label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12 mt1">
              <label for="hearing_normal">
                <input type="checkbox" id="hearing_normal" v-model="hearing_normal">
                Normal
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="hearing_impaired">
                <input type="checkbox" id="hearing_impaired" v-model="hearing_impaired">
                Impaired
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-3 col-xs-12">
              <label for="hearing_rt">
                <input type="checkbox" id="hearing_rt" v-model="hearing_rt">
                Rt
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-3 col-xs-12" v-if="hearing_rt">
              <input class="pure-input-1-2 input--inline" type="text" id="hearing_rt_input" v-model="hearing_rt_input">
            </div>
            <div class="col-sm-12 col-sm-offset-3 col-xs-12">
              <label for="hearing_lt">
                <input type="checkbox" id="hearing_lt" v-model="hearing_lt">
                Lt
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-3 col-xs-12" v-if="hearing_lt"> 
              <input class="pure-input-1-2 input--inline" type="text" id="hearing_lt_input" v-model="hearing_lt_input">
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="hearing_device">
                <input type="checkbox" id="hearing_device" v-model="hearing_device">
                Device
              </label>
            </div>
          </div>
        </div>
        
        <div class="col-sm col-xs-12" style="border-right: 2px solid rgba(0,0,0,.1);">  
          <div class="row text-left mt2">
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="Speech"><b>Speech</b></label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="speech_normal">
                <input type="checkbox" id="speech_normal" v-model="speech_normal">
                Normal
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="speech_impaired">
                <input type="checkbox" id="speech_impaired" v-model="speech_impaired">
                Impaired
              </label>
            </div>
            <div class="col-sm-3 col-sm-offset-2 col-xs-12">
              <label for="Device">Device</label>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
              <input class="pure-input-1" type="text" id="speech_divice" v-model="speech_divice">
            </div>
          </div>
        </div>
        
        <div class="col-sm col-xs-12" style="border-right: 2px solid rgba(0,0,0,.1);">  
          <div class="row text-left mt2">
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="Smell"><b>Smell</b></label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="smell_normal">
                <input type="checkbox" id="smell_normal" v-model="smell_normal">
                Normal
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="smell_impaired">
                <input type="checkbox" id="smell_impaired" v-model="smell_impaired">
                Impaired
              </label>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
              <input v-if="smell_impaired" class="pure-input-1" type="text" id="smell_impaired_input" v-model="smell_impaired_input">
            </div>
          </div>
        </div>
        
        <div class="col-sm col-xs-12">  
          <div class="row text-left mt2">
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="Sensation"><b>Sensation</b></label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="sensation_normal">
                <input type="checkbox" id="sensation_normal" v-model="sensation_normal">
                Normal
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="sensation_abnormal">
                <input type="checkbox" id="sensation_abnormal" v-model="sensation_abnormal">
                Abnormal
              </label>
            </div>
          </div>
        </div>

      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-6 col-xs-12">
          <label for="Musculo - Skeletal">Musculo - Skeletal</label>
          <input class="pure-input-1" type="text" id="musculo" v-model="musculo">
        </div>
      </div>

      <legend></legend>

      <div class="row">
      <div class="col-sm-5 mt2 col-sm-offset-1" style="border-right: 2px solid rgba(0,0,0,.1);">
        <div class="row text-left">
          <div class="col-sm-12 col-xs-12">
            <label for="Hand Grasps"><b>Hand Grasps :</b></label>
          </div>
          <div class="col-sm-12 col-xs-12">
            <label for="hand_grasps_strong">
              <input type="checkbox" id="hand_grasps_strong" v-model="hand_grasps_strong">
              Strong
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="hand_grasps_weak">
              <input type="checkbox" id="hand_grasps_weak" v-model="hand_grasps_weak">
              Weak
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="hand_grasps_weak_rt">
              <input type="checkbox" id="hand_grasps_weak_rt" v-model="hand_grasps_weak_rt">
              Rt
            </label>
          </div>
          <div class="col-sm-5 col-xs-12">
            <label for="hand_grasps_weak_lt">
              <input type="checkbox" id="hand_grasps_weak_lt" v-model="hand_grasps_weak_lt">
              Lt
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="hand_grasps_absent">
              <input type="checkbox" id="hand_grasps_absent" v-model="hand_grasps_absent">
              Absent
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="hand_grasps_absent_rt">
              <input type="checkbox" id="hand_grasps_absent_rt" v-model="hand_grasps_absent_rt">
              Rt
            </label>
          </div>
          <div class="col-sm-5 col-xs-12">
            <label for="hand_grasps_absent_lt">
              <input type="checkbox" id="hand_grasps_absent_lt" v-model="hand_grasps_absent_lt">
              Lt
            </label>
          </div>
        </div>
      </div>
      
      <div class="col-sm-5 col-sm-offset-1 mt2">
      <div class="row text-left">
        <div class="col-sm-12 col-xs-12">
          <label for="Joint"><b>Joint :</b></label>
        </div>
        <div class="col-sm-12 col-xs-12">
          <label for="joint_wnl">
            <input type="checkbox" id="joint_wnl" v-model="joint_wnl">
            WNL
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="joint_swollen">
            <input type="checkbox" id="joint_swollen" v-model="joint_swollen">
            Swollen
          </label>
        </div>
        <div class="col-sm-9">
          <input v-if="joint_swollen" class="pure-input-1-2" type="text" id="joint_swollen_input" v-model="joint_swollen_input">
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="joint_stiff">
            <input type="checkbox" id="joint_stiff" v-model="joint_stiff">
            Stiff
          </label>
        </div>
        <div class="col-sm-9">
          <input v-if="joint_stiff" class="pure-input-1-2" type="text" id="joint_stiff_input" v-model="joint_stiff_input">
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="joint_tender">
            <input type="checkbox" id="joint_tender" v-model="joint_tender">
            Tender
          </label>
        </div>
        <div class="col-sm-9">
          <input v-if="joint_tender" class="pure-input-1-2" type="text" id="joint_tender_input" v-model="joint_tender_input">
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="joint_other">
            <input type="checkbox" id="joint_other" v-model="joint_other">
            Other
          </label>
        </div>
        <div class="col-sm-9">
          <input v-if="joint_other" class="pure-input-1-2" type="text" id="joint_other_input" v-model="joint_other_input">
        </div>
      </div>
      </div>
      </div>


      <legend></legend>

      <div class="row">
        <div class="col-sm col-xs-12" style="border-right: 2px solid rgba(0,0,0,.1);">  
          <div class="row text-left mt2">
            <div class="col-sm-12 col-sm-offset-2">
              <label for="Weakness"><b>Weakness</b></label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="weakness_no">
                <input type="checkbox" id="weakness_no" v-model="weakness_no">
                No
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="weakness_yes">
                <input type="checkbox" id="weakness_yes" v-model="weakness_yes">
                Yes
              </label>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-xs-12" v-if="weakness_yes">
              <input class="pure-input-1" type="text" id="weakness_yes_input" v-model="weakness_yes_input">
            </div>
          </div>
        </div>
        <div class="col-sm col-xs-12" style="border-right: 2px solid rgba(0,0,0,.1);">  
          <div class="row text-left mt2">
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="Paralysis"><b>Paralysis</b></label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="paralysis_no">
                <input type="checkbox" id="paralysis_no" v-model="paralysis_no">
                No
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="paralysis_yes">
                <input type="checkbox" id="paralysis_yes" v-model="paralysis_yes">
                Yes
              </label>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-xs-12" v-if="paralysis_yes">
              <input class="pure-input-1" type="text" id="paralysis_yes_input" v-model="paralysis_yes_input">
            </div>
          </div>
        </div>
        <div class="col-sm col-xs-12" style="border-right: 2px solid rgba(0,0,0,.1);">  
          <div class="row text-left mt2">
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="Seizure"><b>Seizure</b></label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="seizure_no">
                <input type="checkbox" id="seizure_no" v-model="seizure_no">
                No
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="seizure_yes">
                <input type="checkbox" id="seizure_yes" v-model="seizure_yes">
                Yes
              </label>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-xs-12" v-if="seizure_yes">
              <input class="pure-input-1" type="text" id="seizure_yes_input" v-model="seizure_yes_input">
            </div>
          </div>
        </div>
        <div class="col-sm col-xs-12">  
          <div class="row text-left mt2">
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="Movement"><b>Movement</b></label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="movement_normal">
                <input type="checkbox" id="movement_normal" v-model="movement_normal">
                Normal
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-2 col-xs-12">
              <label for="movement_abnormal">
                <input type="checkbox" id="movement_abnormal" v-model="movement_abnormal">
                Abnormal
              </label>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-xs-12" v-if="movement_abnormal">
              <input class="pure-input-1" type="text" id="movement_abnormal_input" v-model="movement_abnormal_input">
            </div>
          </div>
        </div> 
      </div>

      <legend></legend>

      <legend class="mt3"><h3>Mobility</h3></legend>

      <div class="row">
        <div class="col-sm-5 col-sm-offset-1"  style="border-right: 2px solid rgba(0,0,0,.1);">
          <div class="row text-left mt2">
            <div class="col-sm-12 col-xs-12">
              <label for="Activity / Function"><b>Activity / Function</b></label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <label for="activity_independent">
                <input type="checkbox" id="activity_independent" v-model="activity_independent">
                Independent
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <label for="activity_assist">
                <input type="checkbox" id="activity_assist" v-model="activity_assist">
                Requires Assistance in
              </label>
            </div>
            <div class="col-sm-4 col-sm-offset-1 col-xs-12">
              <label for="activity_assist_eating">
                <input type="checkbox" id="activity_assist_eating" v-model="activity_assist_eating">
                Eating
              </label>
            </div>
            <div class="col-sm-7 col-xs-12">
              <label for="activity_assist_dressing">
                <input type="checkbox" id="activity_assist_dressing" v-model="activity_assist_dressing">
                Dressing
              </label>
            </div>
            <div class="col-sm-4 col-sm-offset-1 col-xs-12">
              <label for="activity_assist_toileting">
                <input type="checkbox" id="activity_assist_toileting" v-model="activity_assist_toileting">
                Toileting
              </label>
            </div>
            <div class="col-sm-7 col-xs-12">
              <label for="activity_assist_bedmobility">
                <input type="checkbox" id="activity_assist_bedmobility" v-model="activity_assist_bedmobility">
                Bed Mobility
              </label>
            </div>
            <div class="col-sm-4 col-sm-offset-1 col-xs-12">
              <label for="activity_assist_transferring">
                <input type="checkbox" id="activity_assist_transferring" v-model="activity_assist_transferring">
                Transferring
              </label>
            </div>
            <div class="col-sm-7 col-xs-12">
              <label for="activity_assist_ambulation">
                <input type="checkbox" id="activity_assist_ambulation" v-model="activity_assist_ambulation">
                Ambulation
              </label>
            </div>
            <div class="col-sm-2 col-sm-offset-1 col-xs-12">
              <label for="activity_assist_other">
                <input type="checkbox" id="activity_assist_other" v-model="activity_assist_other">
                Other
              </label>
            </div>
            <div class="col-sm-4 col-xs-12" v-if="activity_assist_other">
              <input class="pure-input-1" type="text" id="activity_assist_other_input" v-model="activity_assist_other_input">
            </div>
          </div>
        </div>

        <div class="col-sm-5 col-sm-offset-1">
          <div class="row text-left mt2">
            <div class="col-sm-12 col-xs-12">
              <label for="Prosthetic"><b>Prosthetic / Assistive Devices :</b><br>( Only require assitive device )</label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <label for="prosthetic_cane">
                <input type="checkbox" id="prosthetic_cane" v-model="prosthetic_cane">
                Cane
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <label for="prosthetic_walker">
                <input type="checkbox" id="prosthetic_walker" v-model="prosthetic_walker">
                Walker
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <label for="prosthetic_wheel_chair">
                <input type="checkbox" id="prosthetic_wheel_chair" v-model="prosthetic_wheel_chair">
                Wheel chair
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <label for="prosthetic_artificial">
                <input type="checkbox" id="prosthetic_artificial" v-model="prosthetic_artificial">
                Artificial limb
              </label>
            </div>
            <div class="col-sm-12" v-if="prosthetic_artificial">
              <input class="pure-input-1" type="text" id="prosthetic_artificial_input" v-model="prosthetic_artificial_input">
            </div>
            <div class="col-sm-2 col-xs-12">
              <label for="prosthetic_other">
                <input type="checkbox" id="prosthetic_other" v-model="prosthetic_other">
                Other
              </label>
            </div>
            <div class="col-sm-4" v-if="prosthetic_other">
              <input class="pure-input-1" type="text" id="prosthetic_other_input" v-model="prosthetic_other_input">
            </div>
          </div>
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Injury"><b>Injury :</b></label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="injury_no">
            <input type="checkbox" id="injury_no" v-model="injury_no">
            No
          </label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="injury_yes">
            <input type="checkbox" id="injury_yes" v-model="injury_yes">
            Yes
          </label>
        </div>
        <div class="col-sm-4 col-xs-12" v-if="injury_yes">
          <input class="pure-input-1" type="text" id="injury_yes_input" v-model="injury_yes_input">
        </div>
      </div>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-xs-12">
          <label for="Dominant Hand"><b>Dominant Hand :</b></label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="dominant_hand_right">
            <input type="checkbox" id="dominant_hand_right" v-model="dominant_hand_right">
            Right
          </label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="dominant_hand_left">
            <input type="checkbox" id="dominant_hand_left" v-model="dominant_hand_left">
            Left
          </label>
        </div>
      </div>

      <legend></legend>
      <legend class="mt3"><h3>Elimination / Reproductive</h3></legend>

      <div class="row text-left mt2">
        <div class="col-sm-6 col-xs-12">
          <label for="Gastrointestinal">Gastrointestinal</label>
          <input class="pure-input-1" type="text" id="gastrointestinal" v-model="gastrointestinal">
        </div>
      </div>

      <legend></legend>

      <div class="row">
        <div class="col-sm col-xs-12" style="border-right: 2px solid rgba(0,0,0,.1);">
          <div class="row text-left">
            <div class="col-sm-12 col-xs-12">
              <label for="Oral Cavity"><b>Oral Cavity :</b></label>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-12">
              <label for="oral_cavity_moist">
                <input type="checkbox" id="oral_cavity_moist" v-model="oral_cavity_moist">
                Moist  
              </label>
            </div>
            <div class="col-sm-5 col-xs-12">
              <label for="oral_cavity_dry">
                <input type="checkbox" id="oral_cavity_dry" v-model="oral_cavity_dry">
                Dry  
              </label>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-12">
              <label for="oral_cavity_abrasion">
                <input type="checkbox" id="oral_cavity_abrasion" v-model="oral_cavity_abrasion">
                Abrasion  
              </label>
            </div>
            <div class="col-sm-5 col-xs-12">
              <label for="oral_cavity_tumor">
                <input type="checkbox" id="oral_cavity_tumor" v-model="oral_cavity_tumor">
                Tumor  
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-1 col-xs-12">
              <label for="oral_cavity_denture">
                <input type="checkbox" id="oral_cavity_denture" v-model="oral_cavity_denture">
                Denture  
              </label>
            </div>
            <div class="col-sm-3 col-sm-offset-1 col-xs-12 col-xs-12">
              <label for="oral_cavity_other">
                <input type="checkbox" id="oral_cavity_other" v-model="oral_cavity_other">
                Other
              </label>
            </div>
            <div class="col-sm-5 col-xs-12" v-if="oral_cavity_other">
              <input class="pure-input-1" type="text" id="oral_cavity_other_input" v-model="oral_cavity_other_input">
            </div>
          </div>
        </div>
        <div class="col-sm col-xs-12" style="border-right: 2px solid rgba(0,0,0,.1);">
          <div class="row text-left">
            <div class="col-sm-12 col-xs-12">
              <label for="Abdomen"><b>Abdomen :</b></label>
            </div>
            <div class="col-sm-12 col-sm-offset-1 col-xs-12">
              <label for="abdomen_soft">
                <input type="checkbox" id="abdomen_soft" v-model="abdomen_soft">
                Soft  
              </label>
            </div>
            <div class="col-sm-3 col-sm-offset-1 col-xs-12">
              <label for="abdomen_tender">
                <input type="checkbox" id="abdomen_tender" v-model="abdomen_tender">
                Tender
              </label>
            </div>
            <div class="col-sm-5 col-xs-12" v-if="abdomen_tender">
              <input class="pure-input-1" type="text" id="abdomen_tender_input" v-model="abdomen_tender_input">
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3 col-sm-offset-1 col-xs-12">
              <label for="abdomen_other">
                <input type="checkbox" id="abdomen_other" v-model="abdomen_other">
                Other
              </label>
            </div>
            <div class="col-sm-5 col-xs-12" v-if="abdomen_other">
              <input class="pure-input-1" type="text" id="abdomen_other_input" v-model="abdomen_other_input">
            </div>
          </div>
        </div>
         <div class="col-sm col-xs-12">
          <div class="row text-left">
            <div class="col-sm-12">
              <label for="Bowel Pattern"><b>Bowel Pattern :</b></label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <label for="bowel">
                <input class="pure-input-1-3 input--inline" type="text" id="bowel_time" v-model="bowel_time"> time /
                <input class="pure-input-1-3 input--inline" type="text" id="bowel_day" v-model="bowel_day"> day
              </label>
            </div>
            <div class="col-sm-12 col-xs-12 mt2">
              <label for="Elimination Problem"><b>Elimination Problem :</b></label>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-12">
              <label for="elim_none">
                <input type="checkbox" id="elim_none" v-model="elim_none">
                None  
              </label>
            </div>
            <div class="col-sm-5 col-xs-12">
              <label for="elim_constipation">
                <input type="checkbox" id="elim_constipation" v-model="elim_constipation">
                Constipation  
              </label>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-12">
              <label for="elim_diarrhea">
                <input type="checkbox" id="elim_diarrhea" v-model="elim_diarrhea">
                Diarrhea  
              </label>
            </div>
            <div class="col-sm-5 col-xs-12">
              <label for="elim_incontinent">
                <input type="checkbox" id="elim_incontinent" v-model="elim_incontinent">
                Incontinent  
              </label>
            </div>
            <div class="col-sm-3 col-sm-offset-1 col-xs-12">
              <label for="elim_other">
                <input type="checkbox" id="elim_other" v-model="elim_other">
                Other
              </label>
            </div>
            <div class="col-sm-5 col-xs-12" v-if="elim_other">
              <input class="pure-input-1" type="text" id="elim_other_input" v-model="elim_other_input">
            </div>
          </div>
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-6 col-xs-12">
          <label for="Genito - Urinary">Genito - Urinary</label>
          <input class="pure-input-1" type="text" id="genito_urinary" v-model="genito_urinary">
        </div>
      </div>

      <legend></legend>

      <div class="row">
        <div class="col-sm col-xs-12" style="border-right: 2px solid rgba(0,0,0,.1);">
          <div class="row text-left">
            <div class="col-sm-12 col-xs-12">
              <label for="Bladder"><b>Bladder :</b></label>
            </div>
            <div class="col-sm-11 col-sm-offset-1 col-xs-12">
              <label for="bladder_solf">
                <input type="checkbox" id="bladder_solf" v-model="bladder_solf">
                Soft  
              </label>
            </div>
            <div class="col-sm-11 col-sm-offset-1 col-xs-12">
              <label for="bladder_distended">
                <input type="checkbox" id="bladder_distended" v-model="bladder_distended">
                Distended  
              </label>
            </div>
            <div class="col-sm-3 col-sm-offset-1 col-xs-12">
              <label for="bladder_other">
                <input type="checkbox" id="bladder_other" v-model="bladder_other">
                Other
              </label>
            </div>
            <div class="col-sm-5 col-xs-12" v-if="bladder_other">
              <input class="pure-input-1" type="text" id="bladder_other_input" v-model="bladder_other_input">
            </div>
          </div>
        </div>

        <div class="col-sm col-xs-12" style="border-right: 2px solid rgba(0,0,0,.1);">
          <div class="row text-left">
            <div class="col-sm-12 col-xs-12">
              <label for="Voiding"><b>Voiding :</b></label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <label for="voiding_day">
                <input class="pure-input-1-3 input--inline" type="text" id="voiding_day" v-model="voiding_day"> 
                ( Day:Night)
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-1 col-xs-12">
              <label for="voiding_continent">
                <input type="checkbox" id="voiding_continent" v-model="voiding_continent">
                Continent
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-1 col-xs-12">
              <label for="voiding_incontinent">
                <input type="checkbox" id="voiding_incontinent" v-model="voiding_incontinent">
                Incontinent
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-1 col-xs-12">
              <label for="voiding_dysuria">
                <input type="checkbox" id="voiding_dysuria" v-model="voiding_dysuria">
                Dysuria
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-1 col-xs-12">
              <label for="voiding_catheter">
                <input type="checkbox" id="voiding_catheter" v-model="voiding_catheter">
                Catheter
              </label>
            </div>
            <div class="col-sm-3 col-sm-offset-1 col-xs-12">
              <label for="voiding_other">
                <input type="checkbox" id="voiding_other" v-model="voiding_other">
                Other
              </label>
            </div>
            <div class="col-sm-5 col-xs-12" v-if="voiding_other">
              <input class="pure-input-1" type="text" id="voiding_other_input" v-model="voiding_other_input">
            </div>
          </div>
        </div>

        <div class="col-sm col-xs-12">
          <div class="row text-left">
            <div class="col-sm-12 col-xs-12">
              <label for="Urine"><b>Urine :</b></label>
            </div>
            <div class="col-sm-12 col-sm-offset-1 col-xs-12">
              <label for="urine_clear">
                <input type="checkbox" id="urine_clear" v-model="urine_clear">
                Clear
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-1 col-xs-12">
              <label for="urine_cloudy">
                <input type="checkbox" id="urine_cloudy" v-model="urine_cloudy">
                Cloudy
              </label>
            </div>
            <div class="col-sm-12 col-sm-offset-1 col-xs-12">
              <label for="urine_bloody">
                <input type="checkbox" id="urine_bloody" v-model="urine_bloody">
                Bloody
              </label>
            </div>
            <div class="col-sm-3 col-sm-offset-1 col-xs-12">
              <label for="urine_other">
                <input type="checkbox" id="urine_other" v-model="urine_other">
                Other
              </label>
            </div>
            <div class="col-sm-5 col-xs-12" v-if="urine_other">
              <input class="pure-input-1" type="text" id="urine_other_input" v-model="urine_other_input">
            </div>
          </div>
        </div>
      </div>

      <legend></legend>

 
      <div class="row">
        <div class="col-sm col-xs-12" style="border-right: 2px solid rgba(0,0,0,.1);">
          <div class="row text-left">
            <div class="col-sm-12 col-xs-12">
              <label for="Genital Organ "><b>Genital Organ :</b></label>
            </div>
            <div class="col-sm-11 col-sm-offset-1 col-xs-12">
              <label for="genital_organ_normal">
                <input type="checkbox" id="genital_organ_normal" v-model="genital_organ_normal">
                Normal  
              </label>
            </div>
            <div class="col-sm-4 col-sm-offset-1 col-xs-12">
              <label for="genital_organ_abnormal">
                <input type="checkbox" id="genital_organ_abnormal" v-model="genital_organ_abnormal">
                Abnormal
              </label>
            </div>
            <div class="col-sm-5 col-xs-12" v-if="genital_organ_abnormal">
              <input class="pure-input-1" type="text" id="genital_organ_abnormal_input" v-model="genital_organ_abnormal_input">
            </div>
          </div>
        </div>

        <div class="col-sm col-xs-12" style="border-right: 2px solid rgba(0,0,0,.1);">
          <div class="row text-left">
            <div class="col-sm-12 col-xs-12">
              <label for="Breast"><b>Breast :</b></label>
            </div>
            <div class="col-sm-11 col-sm-offset-1 col-xs-12">
              <label for="breast_normal">
                <input type="checkbox" id="breast_normal" v-model="breast_normal">
                Normal  
              </label>
            </div>
            <div class="col-sm-4 col-sm-offset-1 col-xs-12">
              <label for="breast_abnormal">
                <input type="checkbox" id="breast_abnormal" v-model="breast_abnormal">
                Abnormal
              </label>
            </div>
            <div class="col-sm-5 col-xs-12" v-if="breast_abnormal">
              <input class="pure-input-1" type="text" id="breast_abnormal_input" v-model="breast_abnormal_input">
            </div>
          </div>
        </div>

        <div class="col-sm col-xs-12">
          <div class="row text-left">
            <div class="col-sm-12 col-xs-12">
              <label for="Menstrual Problem"><b>Menstrual Problem :</b><br>(Female Only)</label>
            </div>
            <div class="col-sm-11 col-sm-offset-1 col-xs-12">
              <label for="menstrual_normal">
                <input type="checkbox" id="menstrual_normal" v-model="menstrual_normal">
                Normal  
              </label>
            </div>
            <div class="col-sm-4 col-sm-offset-1 col-xs-12">
              <label for="menstrual_abnormal">
                <input type="checkbox" id="menstrual_abnormal" v-model="menstrual_abnormal">
                Abnormal
              </label>
            </div>
            <div class="col-sm-5 col-xs-12" v-if="menstrual_abnormal">
              <input class="pure-input-1" type="text" id="menstrual_abnormal_input" v-model="menstrual_abnormal_input">
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-12 col-xs-12 mt2">
              <label for="menstrual_lmp">LMP</label>
              <input class="pure-input-1-2" type="text" id="menstrual_lmp" v-model="menstrual_lmp">
            </div>
          </div>
        </div>
      </div>

      <legend></legend>
      <fieldset>
        <div class="mt3">
          <button type="submit" class="pure-button">Submit</button>
          <button type="reset" class="pure-button" v-if="!isEdit">Cancel</button>
          <button @click="resetForm()" type="button" class="pure-button" v-else>Cancel</button>
          <button type="button" class="pure-button button-error" v-if="isEdit" title="Delete" @click="deleteVisitForm" style="margin-left: 1rem;">
            <icon name="trash"></icon>
          </button>
          <button type="button" class="pure-button button-error" v-if="isEdit && !isApprove" title="Approve this form" @click="approveVisitForm">
            <icon name="exclamation-circle" style="vertical-align: top;"></icon>&nbsp;Pending
          </button>
        </div>
      </fieldset>
      <!-- END OF button group -->

      <p class="text-right m0" v-if="isEdit && user && user.id"><small>Last updated: {{ user.name }}</small></p>
      <p class="text-right m0" v-if="isEdit && approveUser && approveUser.id"><small>Approved by: {{ approveUser.name }}</small></p>
    </form>
  </section>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import { precheckFormData } from './index'
import getAge from '../../filters/age.js'

export default {
  name: 'forms-nursing-focus-list',
  props: ['patient', 'isEdit', 'isApprove', 'visitFormId', 'user', 'approveUser'],
  components: {
    flatPickr
  },
  data () {
    return {
      title: null,
      first_name: null,
      last_name: null,
      dob: null,
      age: null,
      gender: null,
      hospital_number_display: null,
      an: null,
      first_visited_date: null,
      ward: null,
      page: null,
      neurosensory: null,
      loc_alert: false,
      loc_let: false,
      loc_stup: false,
      loc_coma: false,
      vision_normal: false,
      vision_impaired: false,
      vision_rt: false,
      vision_rt_input: null,
      vision_lt: false,
      vision_lt_input: null,
      vision_device: false,
      hearing_normal: false,
      hearing_impaired: false,
      hearing_rt: false,
      hearing_rt_input: null,
      hearing_lt: false,
      hearing_lt_input: null,
      hearing_device: false,
      speech_normal: false,
      speech_impaired: false,
      speech_divice: null,
      smell_normal: false,
      smell_impaired: false,
      smell_impaired_input: null,
      sensation_normal: false,
      sensation_abnormal: false,
      musculo: null,
      hand_grasps_strong: false,
      hand_grasps_weak: false,
      hand_grasps_weak_rt: false,
      hand_grasps_weak_lt: false,
      hand_grasps_absent: false,
      hand_grasps_absent_rt: false,
      hand_grasps_absent_lt: false,
      joint_wnl: false,
      joint_swollen: false,
      joint_swollen_input: null,
      joint_stiff: false,
      joint_stiff_input: null,
      joint_tender: false,
      joint_tender_input: null,
      joint_other: false,
      joint_other_input: null,
      weakness_no: false,
      weakness_yes: false,
      weakness_yes_input: null,
      paralysis_no: false,
      paralysis_yes: false,
      paralysis_yes_input: null,
      seizure_no: false,
      seizure_yes: false,
      seizure_yes_input: null,
      movement_normal: false,
      movement_abnormal: false,
      movement_abnormal_input: null,
      activity_independent: false,
      activity_assist: false,
      activity_assist_eating: false,
      activity_assist_dressing: false,
      activity_assist_toileting: false,
      activity_assist_bedmobility: false,
      activity_assist_transferring: false,
      activity_assist_ambulation: false,
      activity_assist_other: false,
      activity_assist_other_input: null,
      prosthetic_cane: false,
      prosthetic_walker: false,
      prosthetic_wheel_chair: false,
      prosthetic_artificial: false,
      prosthetic_artificial_input: null,
      prosthetic_other: false,
      prosthetic_other_input: null,
      injury_no: false,
      injury_yes: false,
      injury_yes_input: null,
      dominant_hand_right: false,
      dominant_hand_left: false,
      gastrointestinal: null,
      oral_cavity_moist: false,
      oral_cavity_dry: false,
      oral_cavity_abrasion: false,
      oral_cavity_tumor: false,
      oral_cavity_denture: false,
      oral_cavity_other: false,
      oral_cavity_other_input: null,
      abdomen_soft: false,
      abdomen_tender: false,
      abdomen_tender_input: null,
      abdomen_other: false,
      abdomen_other_input: null,
      bowel_time: null,
      bowel_day: null,
      elim_none: false,
      elim_constipation: false,
      elim_diarrhea: false,
      elim_incontinent: false,
      elim_other: false,
      elim_other_input: null,
      genito_urinary: null,
      bladder_solf: false,
      bladder_distended: false,
      bladder_other: false,
      bladder_other_input: null,
      voiding_day: false,
      voiding_continent: false,
      voiding_incontinent: false,
      voiding_dysuria: false,
      voiding_catheter: false,
      voiding_other: false,
      voiding_other_input: null,
      urine_clear: false,
      urine_cloudy: false,
      urine_bloody: false,
      urine_other: false,
      urine_other_input: null,
      genital_organ_normal: false,
      genital_organ_abnormal: false,
      genital_organ_abnormal_input: null,
      breast_normal: false,
      breast_abnormal: false,
      breast_abnormal_input: null,
      menstrual_normal: false,
      menstrual_abnormal: false,
      menstrual_abnormal_input: null,
      menstrual_lmp: null,
      // date config
      dateOfBirthConfig: {
        dataFormat: 'Y-m-d',
        maxDate: new Date()
      },
      visitDateConfig: {
        dataFormat: 'Y-m-d'
      }

      // time config

    }
  },
  created () {
    this.fillForm()
  },
  methods: {
    fillForm () {
      if (this.$lodash.isEmpty(this.patient)) return
      if (this.patient.title) {
        this.title = this.patient.title
      } else {
        this.title = this.patient.gender === 'male' ? 'Mr.' : this.patient.marital_status === 'married' ? 'Mrs.' : 'Ms.'
      }
      this.first_name = this.patient.first_name || null
      this.last_name = this.patient.last_name || null
      this.dob = this.patient.dob || null
      this.opd_cc = this.patient.opd_cc || null
      this.opd_pi = this.patient.opd_pi || null
      this.age = this.patient.dob ? getAge(this.patient.dob) : this.patient.age
      this.gender = this.patient.gender || null
      this.hospital_number_display = this.patient.hospital_number_display || null
      this.an = this.patient.an || null
      this.first_visited_date = this.patient.first_visited_date || null
      this.ward = this.patient.ward || null
      this.page = this.patient.page || null
      this.neurosensory = this.patient.neurosensory || null
      this.loc_alert = this.patient.loc_alert || null
      this.loc_let = this.patient.loc_let || null
      this.loc_stup = this.patient.loc_stup || null
      this.loc_coma = this.patient.loc_coma || null
      this.vision_normal = this.patient.vision_normal || null
      this.vision_impaired = this.patient.vision_impaired || null
      this.vision_rt = this.patient.vision_rt || null
      this.vision_rt_input = this.vision_rt ? this.patient.vision_rt_input : null
      this.vision_lt = this.patient.vision_lt || null
      this.vision_lt_input = this.vision_lt ? this.patient.vision_lt_input : null
      this.vision_device = this.patient.vision_device || null
      this.hearing_normal = this.patient.hearing_normal || null
      this.hearing_impaired = this.patient.hearing_impaired || null
      this.hearing_rt = this.patient.hearing_rt || null
      this.hearing_rt_input = this.hearing_rt ? this.patient.hearing_rt_input : null
      this.hearing_lt = this.patient.hearing_lt || null
      this.hearing_lt_input = this.hearing_lt ? this.patient.hearing_rt_input : null
      this.hearing_device = this.patient.hearing_device || null
      this.speech_normal = this.patient.speech_normal || null
      this.speech_impaired = this.patient.speech_impaired || null
      this.speech_divice = this.patient.speech_divice || null
      this.smell_normal = this.patient.smell_normal || null
      this.smell_impaired = this.patient.smell_impaired || null
      this.smell_impaired_input = this.smell_impaired ? this.patient.smell_impaired_input : null
      this.sensation_normal = this.patient.sensation_normal || null
      this.sensation_abnormal = this.patient.sensation_abnormal || null
      this.musculo = this.patient.musculo || null
      this.hand_grasps_strong = this.patient.hand_grasps_strong || null
      this.hand_grasps_weak = this.patient.hand_grasps_weak || null
      this.hand_grasps_weak_rt = this.patient.hand_grasps_weak_rt || null
      this.hand_grasps_weak_lt = this.patient.hand_grasps_weak_lt || null
      this.hand_grasps_absent = this.patient.hand_grasps_absent || null
      this.hand_grasps_absent_rt = this.patient.hand_grasps_absent_rt || null
      this.hand_grasps_absent_lt = this.patient.hand_grasps_absent_lt || null
      this.joint_wnl = this.patient.joint_wnl || null
      this.joint_swollen = this.patient.joint_swollen || null
      this.joint_swollen_input = this.joint_swollen ? this.patient.joint_swollen_input : null
      this.joint_stiff = this.patient.joint_stiff || null
      this.joint_stiff_input = this.joint_stiff ? this.patient.joint_stiff_input : null
      this.joint_tender = this.patient.joint_tender || null
      this.joint_tender_input = this.joint_tender ? this.patient.joint_tender_input : null
      this.joint_other = this.patient.joint_other || null
      this.joint_other_input = this.joint_other ? this.patient.joint_other_input : null
      this.weakness_no = this.patient.weakness_no || null
      this.weakness_yes = this.patient.weakness_yes || null
      this.weakness_yes_input = this.weakness_yes ? this.patient.weakness_yes_input : null
      this.paralysis_no = this.patient.paralysis_no || null
      this.paralysis_yes = this.patient.paralysis_yes || null
      this.paralysis_yes_input = this.paralysis_yes ? this.patient.paralysis_yes_input : null
      this.seizure_no = this.patient.seizure_no || null
      this.seizure_yes = this.patient.seizure_yes || null
      this.seizure_yes_input = this.seizure_yes ? this.patient.seizure_yes_input : null
      this.movement_normal = this.patient.movement_normal || null
      this.movement_abnormal = this.patient.movement_abnormal || null
      this.movement_abnormal_input = this.movement_abnormal ? this.patient.movement_abnormal_input : null
      this.activity_independent = this.patient.activity_independent || null
      this.activity_assist = this.patient.activity_assist || null
      this.activity_assist_eating = this.patient.activity_assist_eating || null
      this.activity_assist_dressing = this.patient.activity_assist_dressing || null
      this.activity_assist_toileting = this.patient.activity_assist_toileting || null
      this.activity_assist_bedmobility = this.patient.activity_assist_bedmobility || null
      this.activity_assist_transferring = this.patient.activity_assist_transferring || null
      this.activity_assist_ambulation = this.patient.activity_assist_ambulation || null
      this.activity_assist_other = this.patient.activity_assist_other || null
      this.activity_assist_other_input = this.activity_assist_other ? this.patient.activity_assist_other_input : null
      this.prosthetic_cane = this.patient.prosthetic_cane || null
      this.prosthetic_walker = this.patient.prosthetic_walker || null
      this.prosthetic_wheel_chair = this.patient.prosthetic_wheel_chair || null
      this.prosthetic_artificial = this.patient.prosthetic_artificial || null
      this.prosthetic_artificial_input = this.prosthetic_artificial ? this.patient.prosthetic_artificial_input : null
      this.prosthetic_other = this.patient.prosthetic_other || null
      this.prosthetic_other_input = this.prosthetic_other ? this.patient.prosthetic_other_input : null
      this.injury_no = this.patient.injury_no || null
      this.injury_yes = this.patient.injury_yes || null
      this.injury_yes_input = this.injury_yes ? this.patient.injury_yes_input : null
      this.dominant_hand_right = this.patient.dominant_hand_right || null
      this.dominant_hand_left = this.patient.dominant_hand_left || null
      this.gastrointestinal = this.patient.gastrointestinal || null
      this.oral_cavity_moist = this.patient.oral_cavity_moist || null
      this.oral_cavity_dry = this.patient.oral_cavity_dry || null
      this.oral_cavity_abrasion = this.patient.oral_cavity_abrasion || null
      this.oral_cavity_tumor = this.patient.oral_cavity_tumor || null
      this.oral_cavity_denture = this.patient.oral_cavity_denture || null
      this.oral_cavity_other = this.patient.oral_cavity_other || null
      this.oral_cavity_other_input = this.oral_cavity_other ? this.patient.oral_cavity_other_input : null
      this.abdomen_soft = this.patient.abdomen_soft || null
      this.abdomen_tender = this.patient.abdomen_tender || null
      this.abdomen_tender_input = this.abdomen_tender ? this.patient.abdomen_tender_input : null
      this.abdomen_other = this.patient.abdomen_other || null
      this.abdomen_other_input = this.abdomen_other ? this.patient.abdomen_other_input : null
      this.bowel_time = this.patient.bowel_time || null
      this.bowel_day = this.patient.bowel_day || null
      this.elim_none = this.patient.elim_none || null
      this.elim_constipation = this.patient.elim_constipation || null
      this.elim_diarrhea = this.patient.elim_diarrhea || null
      this.elim_incontinent = this.patient.elim_incontinent || null
      this.elim_other = this.patient.elim_other || null
      this.elim_other_input = this.elim_other ? this.patient.elim_other_input : null
      this.genito_urinary = this.patient.genito_urinary || null
      this.bladder_solf = this.patient.bladder_solf || null
      this.bladder_distended = this.patient.bladder_distended || null
      this.bladder_other = this.patient.bladder_other || null
      this.bladder_other_input = this.bladder_other ? this.patient.bladder_other_input : null
      this.voiding_day = this.patient.voiding_day || null
      this.voiding_continent = this.patient.voiding_continent || null
      this.voiding_incontinent = this.patient.voiding_incontinent || null
      this.voiding_dysuria = this.patient.voiding_dysuria || null
      this.voiding_catheter = this.patient.voiding_catheter || null
      this.voiding_other = this.patient.voiding_other || null
      this.voiding_other_input = this.voiding_other ? this.patient.voiding_other_input : null
      this.urine_clear = this.patient.urine_clear || null
      this.urine_cloudy = this.patient.urine_cloudy || null
      this.urine_bloody = this.patient.urine_bloody || null
      this.urine_other = this.patient.urine_other || null
      this.urine_other_input = this.urine_other ? this.patient.urine_other_input : null
      this.genital_organ_normal = this.patient.genital_organ_normal || null
      this.genital_organ_abnormal = this.patient.genital_organ_abnormal || null
      this.genital_organ_abnormal_input = this.genital_organ_abnormal ? this.patient.genital_organ_abnormal_input : null
      this.breast_normal = this.patient.breast_normal || null
      this.breast_abnormal = this.patient.breast_abnormal || null
      this.breast_abnormal_input = this.breast_abnormal ? this.patient.breast_abnormal_input : null
      this.menstrual_normal = this.patient.menstrual_normal || null
      this.menstrual_abnormal = this.patient.menstrual_abnormal || null
      this.menstrual_abnormal_input = this.menstrual_abnormal ? this.patient.menstrual_abnormal_input : null
      this.menstrual_lmp = this.patient.menstrual_lmp || null
    },
    submitForm () {
      const data = {
        title: this.title,
        first_name: this.first_name,
        last_name: this.last_name,
        dob: this.dob,
        opd_cc: this.opd_cc,
        opd_pi: this.opd_pi,
        age: this.age,
        gender: this.gender,
        hospital_number_display: this.hospital_number_display,
        an: this.an,
        first_visited_date: this.first_visited_date,
        ward: this.ward,
        page: this.page,
        neurosensory: this.neurosensory,
        loc_alert: this.loc_alert,
        loc_let: this.loc_let,
        loc_stup: this.loc_stup,
        loc_coma: this.loc_coma,
        vision_normal: this.vision_normal,
        vision_impaired: this.vision_impaired,
        vision_rt: this.vision_rt,
        vision_rt_input: this.vision_rt_input,
        vision_lt: this.vision_lt,
        vision_lt_input: this.vision_lt_input,
        vision_device: this.vision_device,
        hearing_normal: this.hearing_normal,
        hearing_impaired: this.hearing_impaired,
        hearing_rt: this.hearing_rt,
        hearing_rt_input: this.hearing_rt_input,
        hearing_lt: this.hearing_lt,
        hearing_lt_input: this.hearing_lt_input,
        hearing_device: this.hearing_device,
        speech_normal: this.speech_normal,
        speech_impaired: this.speech_impaired,
        speech_divice: this.speech_divice,
        smell_normal: this.smell_normal,
        smell_impaired: this.smell_impaired,
        smell_impaired_input: this.smell_impaired_input,
        sensation_normal: this.sensation_normal,
        sensation_abnormal: this.sensation_abnormal,
        musculo: this.musculo,
        hand_grasps_strong: this.hand_grasps_strong,
        hand_grasps_weak: this.hand_grasps_weak,
        hand_grasps_weak_rt: this.hand_grasps_weak_rt,
        hand_grasps_weak_lt: this.hand_grasps_weak_lt,
        hand_grasps_absent: this.hand_grasps_absent,
        hand_grasps_absent_rt: this.hand_grasps_absent_rt,
        hand_grasps_absent_lt: this.hand_grasps_absent_lt,
        joint_wnl: this.joint_wnl,
        joint_swollen: this.joint_swollen,
        joint_swollen_input: this.joint_swollen_input,
        joint_stiff: this.joint_stiff,
        joint_stiff_input: this.joint_stiff_input,
        joint_tender: this.joint_tender,
        joint_tender_input: this.joint_tender_input,
        joint_other: this.joint_other,
        joint_other_input: this.joint_other_input,
        weakness_no: this.weakness_no,
        weakness_yes: this.weakness_yes,
        weakness_yes_input: this.weakness_yes_input,
        paralysis_no: this.paralysis_no,
        paralysis_yes: this.paralysis_yes,
        paralysis_yes_input: this.paralysis_yes_input,
        seizure_no: this.seizure_no,
        seizure_yes: this.seizure_yes,
        seizure_yes_input: this.seizure_yes_input,
        movement_normal: this.movement_normal,
        movement_abnormal: this.movement_abnormal,
        movement_abnormal_input: this.movement_abnormal_input,
        activity_independent: this.activity_independent,
        activity_assist: this.activity_assist,
        activity_assist_eating: this.activity_assist_eating,
        activity_assist_dressing: this.activity_assist_dressing,
        activity_assist_toileting: this.activity_assist_toileting,
        activity_assist_bedmobility: this.activity_assist_bedmobility,
        activity_assist_transferring: this.activity_assist_transferring,
        activity_assist_ambulation: this.activity_assist_ambulation,
        activity_assist_other: this.activity_assist_other,
        activity_assist_other_input: this.activity_assist_other_input,
        prosthetic_cane: this.prosthetic_cane,
        prosthetic_walker: this.prosthetic_walker,
        prosthetic_wheel_chair: this.prosthetic_wheel_chair,
        prosthetic_artificial: this.prosthetic_artificial,
        prosthetic_artificial_input: this.prosthetic_artificial_input,
        prosthetic_other: this.prosthetic_other,
        prosthetic_other_input: this.prosthetic_other_input,
        injury_no: this.injury_no,
        injury_yes: this.injury_yes,
        injury_yes_input: this.injury_yes_input,
        dominant_hand_right: this.dominant_hand_right,
        dominant_hand_left: this.dominant_hand_left,
        gastrointestinal: this.gastrointestinal,
        oral_cavity_moist: this.oral_cavity_moist,
        oral_cavity_dry: this.oral_cavity_dry,
        oral_cavity_abrasion: this.oral_cavity_abrasion,
        oral_cavity_tumor: this.oral_cavity_tumor,
        oral_cavity_denture: this.oral_cavity_denture,
        oral_cavity_other: this.oral_cavity_other,
        oral_cavity_other_input: this.oral_cavity_other_input,
        abdomen_soft: this.abdomen_soft,
        abdomen_tender: this.abdomen_tender,
        abdomen_tender_input: this.abdomen_tender_input,
        abdomen_other: this.abdomen_other,
        abdomen_other_input: this.abdomen_other_input,
        bowel_time: this.bowel_time,
        bowel_day: this.bowel_day,
        elim_none: this.elim_none,
        elim_constipation: this.elim_constipation,
        elim_diarrhea: this.elim_diarrhea,
        elim_incontinent: this.elim_incontinent,
        elim_other: this.elim_other,
        elim_other_input: this.elim_other_input,
        genito_urinary: this.genito_urinary,
        bladder_solf: this.bladder_solf,
        bladder_distended: this.bladder_distended,
        bladder_other: this.bladder_other,
        bladder_other_input: this.bladder_other_input,
        voiding_day: this.voiding_day,
        voiding_continent: this.voiding_continent,
        voiding_incontinent: this.voiding_incontinent,
        voiding_dysuria: this.voiding_dysuria,
        voiding_catheter: this.voiding_catheter,
        voiding_other: this.voiding_other,
        voiding_other_input: this.voiding_other_input,
        urine_clear: this.urine_clear,
        urine_cloudy: this.urine_cloudy,
        urine_bloody: this.urine_bloody,
        urine_other: this.urine_other,
        urine_other_input: this.urine_other_input,
        genital_organ_normal: this.genital_organ_normal,
        genital_organ_abnormal: this.genital_organ_abnormal,
        genital_organ_abnormal_input: this.genital_organ_abnormal_input,
        breast_normal: this.breast_normal,
        breast_abnormal: this.breast_abnormal,
        breast_abnormal_input: this.breast_abnormal_input,
        menstrual_normal: this.menstrual_normal,
        menstrual_abnormal: this.menstrual_abnormal,
        menstrual_abnormal_input: this.menstrual_abnormal_input,
        menstrual_lmp: this.menstrual_lmp
      }
      // const body = this.precheckBodyData(data)
      const body = precheckFormData(16, data)

      if (!body) {
        alert('Something went wrong (missing parameters)')
        return
      }

      if (this.isEdit) { // edit existing opd form
        this.$emit('submit', { action: 'edit', body, visitFormId: this.visitFormId })
      } else { // create new opd form
        this.$emit('submit', { action: 'create', body })
      }
    },
    deleteVisitForm (id) {
      this.$emit('submit', { action: 'delete', visitFormId: this.visitFormId })
    },
    approveVisitForm (id) {
      this.$emit('submit', { action: 'approve', visitFormId: this.visitFormId })
    },
    // hit cancel button on edit mode
    resetForm () {
      const answer = confirm('Are you sure you want to discard your changes?')

      if (!answer) return
      this.fillForm()
    }
  }
}
</script>
