<template>
  <section class="content">
    <!-- <pre>{{ patient }}</pre> -->
    <h1>{{ isEdit ? 'Update': '' }} Nursing Assessment (part 4)</h1>
    <form class="nursing-assessment-form4 pure-form pure-form-stacked" v-on:submit.prevent="submitForm">
      <div class="row text-left">
        <div class="col-xs-12 col-sm-3">
          <label for="title">Prefix</label>
          <select id="title" v-model="title" class="pure-input-1" disabled>
            <option>Mr.</option>
            <option>Mrs.</option>
            <option>Ms.</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="first_name">First name</label>
            <input id="first_name" type="text" v-model="first_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="last_name">Last name</label>
            <input id="last_name" type="text" v-model="last_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="dob">DOB</label>
          <flat-pickr
            v-model="dob"
            :config="dateOfBirthConfig"
            placeholder="Select date"
            class="pure-input-1"
            name="dob"
            disabled>
          </flat-pickr>
        </div>
      </div>

      <div class="row mt2">
        <div class="col-sm col-xs-6">
          <label for="age">Age</label>
          <input id="age" class="pure-input-1" type="text" v-model="age" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="gender">Gender</label>
          <select id="gender" v-model="gender" class="pure-input-1" disabled readonly>
            <option>male</option>
            <option>female</option>
            <option>other</option>
          </select>
        </div>
        <div class="col-sm col-xs-6">
          <label for="cn-hn">CN/HN:</label>
          <input id="cn-hn" class="pure-input-1" type="text" v-model="hospital_number_display" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="an">AN:</label>
          <input id="an" class="pure-input-1" type="text" v-model="an">
        </div>
        <div class="col-sm col-xs-12">
          <label for="visit-date">Visit date:</label>
          <flat-pickr
            class="pure-input-1"
            v-model="first_visited_date"
            :config="visitDateConfig"
            placeholder="Select date"
            name="visit_date">
          </flat-pickr>
        </div>
      </div>
      <div class="row mt2">
        <div class="col-sm col-xs-6">
          <label for="ward">WARD</label>
          <input id="ward" class="pure-input-1" type="text" v-model="ward">
        </div>      
        <div class="col-sm col-xs-6">
          <label for="page">Page</label>
          <input id="page" class="pure-input-1" type="text" v-model="page">
        </div>
      </div>

      <legend class="mt3"><h2>Neuromuscular</h2></legend>

      <div class="row text-left mt2">
        <div class="col-sm-1 col-xs-12">
          <label><b>Pain :</b></label>
        </div>
        <div class="col-sm-1 col-xs-6">
          <label for="pain_yes">
            <input type="checkbox" id="pain_yes" v-model="pain_yes">
            Yes
          </label>
        </div>
        <div class="col-sm-1 col-xs-6">
          <label for="pain_no">
            <input type="checkbox" id="pain_no" v-model="pain_no">
            No
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="pain_location">Pain location</label>
          <input class="pure-input-1" type="text" id="pain_location" v-model="pain_location">
        </div>
        <div class="col-sm-3 col-xs-6">
          <label for="pain_when">When</label>
          <input class="pure-input-1" type="text" id="pain_when" v-model="pain_when">
        </div>

        <div class="col-sm-3 col-xs-12">
          <label for="pain_increase">What causes pain to increase ?</label>
          <input class="pure-input-1" type="text" id="pain_increase" v-model="pain_increase">
        </div>
      </div>

      <div class="row text-left mt3">
        <div class="col-sm-1 col-xs-12">
          <label for="Pattern"><b>Pattern :</b></label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pattern_intermittent">
            <input type="checkbox" id="pattern_intermittent" v-model="pattern_intermittent">
            Intermittent
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pattern_constant">
            <input type="checkbox" id="pattern_constant" v-model="pattern_constant">
            Constant
          </label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="pattern_other">
            <input type="checkbox" id="pattern_other" v-model="pattern_other">
            Other
          </label>
        </div>
        <div class="col-sm-2 col-xs-12" v-if="pattern_other">
          <input class="pure-input-1" type="text" id="pattern_other_input" v-model="pattern_other_input">
        </div>
      </div>


      <div class="row text-left mt3">
        <div class="col-sm-4 col-xs-12">
          <label for="describe the pain"><b>How does patient describe the pain :</b></label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="describe_pain_burning">
            <input type="checkbox" id="describe_pain_burning" v-model="describe_pain_burning">
            Burning
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="describe_pain_dull">
            <input type="checkbox" id="describe_pain_dull" v-model="describe_pain_dull">
            Dull
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="describe_pain_sharp">
            <input type="checkbox" id="describe_pain_sharp" v-model="describe_pain_sharp">
            Sharp
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="describe_pain_other">
            <input type="checkbox" id="describe_pain_other" v-model="describe_pain_other">
            Other
          </label>
          <input v-if="describe_pain_other" class="pure-input-1" type="text" id="describe_pain_other_input" v-model="describe_pain_other_input">
        </div>     
      </div>

      <legend></legend>

      <div class="row">
        <div class="col-sm-12">
         <img src="/static/pain-status.jpg" alt="Pain status" width=70%>
        </div>
      </div>

      <div class="row mt2 text-left">
        <div class="col-sm"></div>
        <div class="col-sm col-xs-12">
          <label for="pain_status_0">
            <input type="checkbox" id="pain_status_0" v-model="pain_status_0">
            <b>0</b>
          </label>
        </div>
        <div class="col-sm col-xs-12">
          <label for="pain_status_1_3">
            <input type="checkbox" id="pain_status_1_3" v-model="pain_status_1_3">
            <b>1-3</b>
          </label>
        </div>
        <div class="col-sm col-xs-12">
          <label for="pain_status_4_6">
            <input type="checkbox" id="pain_status_4_6" v-model="pain_status_4_6">
            <b>4-6</b>
          </label>
        </div>
        <div class="col-sm col-xs-12">
          <label for="pain_status_7_9">
            <input type="checkbox" id="pain_status_7_9" v-model="pain_status_7_9">
            <b>7-9</b>
          </label>
        </div>
        <div class="col-sm col-xs-12">
          <label for="pain_status_10">
            <input type="checkbox" id="pain_status_10" v-model="pain_status_10">
            <b>10</b>
          </label>
        </div>
        <div class="col-sm"></div>
      </div>

      <legend></legend>


      <div class="row text-left mt3">
        <div class="col-sm-4 col-xs-12">
          <label for=""><b>Does pain affect patient's ability to :</b></label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pain_affect_eat">
            <input type="checkbox" id="pain_affect_eat" v-model="pain_affect_eat">
            Eat
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pain_affect_activity">
            <input type="checkbox" id="pain_affect_activity" v-model="pain_affect_activity">
            Activity
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pain_affect_sleep">
            <input type="checkbox" id="pain_affect_sleep" v-model="pain_affect_sleep">
            Sleep
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pain_affect_elimination">
            <input type="checkbox" id="pain_affect_elimination" v-model="pain_affect_elimination">
            Elimination
          </label>
        </div>
        <div class="col-sm-2 col-sm-offset-4 col-xs-12">
          <label for="pain_affect_mood">
            <input type="checkbox" id="pain_affect_mood" v-model="pain_affect_mood">
            Mood
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pain_affect_sexuality">
            <input type="checkbox" id="pain_affect_sexuality" v-model="pain_affect_sexuality">
            Sexuality
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pain_affect_self_image">
            <input type="checkbox" id="pain_affect_self_image" v-model="pain_affect_self_image">
            Self image
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="pain_affect_social_interaction">
            <input type="checkbox" id="pain_affect_social_interaction" v-model="pain_affect_social_interaction">
            Social interaction
          </label>
        </div>
      </div>

      <div class="row text-left mt3">
        <div class="col-sm-4 col-xs-12">
          <label for="What relieves pain"><b>What relieves pain :</b></label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="relieves_pain_cold">
            <input type="checkbox" id="relieves_pain_cold" v-model="relieves_pain_cold">
            Cold compression
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="relieves_pain_hot">
            <input type="checkbox" id="relieves_pain_hot" v-model="relieves_pain_hot">
            Hot compression
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="relieves_pain_massage">
            <input type="checkbox" id="relieves_pain_massage" v-model="relieves_pain_massage">
            Massage
          </label>
        </div>
        <div class="col-sm-2 col-sm-offset-4 col-xs-12">
          <label for="relieves_pain_relaxation">
            <input type="checkbox" id="relieves_pain_relaxation" v-model="relieves_pain_relaxation">
            Relaxation
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="relieves_pain_reposition">
            <input type="checkbox" id="relieves_pain_reposition" v-model="relieves_pain_reposition">
            Reposition
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="relieves_pain_rest">
            <input type="checkbox" id="relieves_pain_rest" v-model="relieves_pain_rest">
            Rest / Sleep
          </label>
        </div>
        <div class="col-sm-2 col-sm-offset-4 col-xs-12">
          <label for="relieves_pain_medication">
            <input type="checkbox" id="relieves_pain_medication" v-model="relieves_pain_medication">
            Medication
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <input v-if="relieves_pain_medication" class="pure-input-1" type="text" id="relieves_pain_medication_input" v-model="relieves_pain_medication_input">
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-2 col-sm-offset-4 col-xs-12">
          <label for="relieves_pain_other">
            <input type="checkbox" id="relieves_pain_other" v-model="relieves_pain_other">
            Other
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <input v-if="relieves_pain_other" class="pure-input-1" type="text" id="relieves_pain_other_input" v-model="relieves_pain_other_input">
        </div>
      </div>

      <legend></legend>

      <legend class="mt3"><h2>Information / Teaching / Learning needs</h2></legend>

      <div class="row text-left mt2">
        <div class="col-sm-3 col-xs-12">
          <label for="infomation_orientation">
            <input type="checkbox" id="infomation_orientation" v-model="infomation_orientation">
            Orientation
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="infomation_disease">
            <input type="checkbox" id="infomation_disease" v-model="infomation_disease">
            Disease process
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="infomation_infection">
            <input type="checkbox" id="infomation_infection" v-model="infomation_infection">
            Infection control
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="infomation_treatment">
            <input type="checkbox" id="infomation_treatment" v-model="infomation_treatment">
            Test / Process treatment
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="infomation_medication">
            <input type="checkbox" id="infomation_medication" v-model="infomation_medication">
            Medication
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="infomation_activity">
            <input type="checkbox" id="infomation_activity" v-model="infomation_activity">
            Activity
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="infomation_teaching">
            <input type="checkbox" id="infomation_teaching" v-model="infomation_teaching">
            Pre / Post - Op. Teaching
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="infomation_care">
            <input type="checkbox" id="infomation_care" v-model="infomation_care">
            Wound / Ostomy care
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="infomation_selfcare">
            <input type="checkbox" id="infomation_selfcare" v-model="infomation_selfcare">
            Self care
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="infomation_diet">
            <input type="checkbox" id="infomation_diet" v-model="infomation_diet">
            Diet changes
          </label>
        </div>
        <div class="col-sm-6 col-xs-12">
          <label for="infomation_repot_med">
            <input type="checkbox" id="infomation_repot_med" v-model="infomation_repot_med">
            Signs / Symptoms to report to Med. Staff
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="infomation_equipment">
            <input type="checkbox" id="infomation_equipment" v-model="infomation_equipment">
            Equipment
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="infomation_safety">
            <input type="checkbox" id="infomation_safety" v-model="infomation_safety">
            Safety
          </label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="infomation_other">
            <input type="checkbox" id="infomation_other" v-model="infomation_other">
            Other
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
            <input v-if="infomation_other" class="pure-input-1" type="text" id="infomation_other_input" v-model="infomation_other_input">
        </div>
      </div>

      <legend></legend>

      <legend class="mt3"><h2>Discharge Planning Supportive Care</h2></legend>


      <div class="row text-left mt2">
        <div class="col-sm-12">
          <label for="Discharge Screening Criteria"><b>Discharge Screening Criteria :</b></label>
        </div>
        <div class="col-sm-12 mt1">
          <label>1.Will patient need post discharge assistance with activity of daily living / Physical functioning ?</label>
        </div>
         <div class="col-sm-4 col-sm-offset-2 col-xs-12">
          <label for="discharge_assistance_yes">
            <input type="checkbox" id="discharge_assistance_yes" v-model="discharge_assistance_yes">
            Yes (if yes, complete A & B)
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="discharge_assistance_no">
            <input type="checkbox" id="discharge_assistance_no" v-model="discharge_assistance_no">
            No
          </label>
        </div>
        <div class="col-sm-11 col-sm-offset-1 mt1">
          <label>A. Does patient have family capable and willing to provide assistance post discharge?</label>
        </div>
        <div class="col-sm-1 col-sm-offset-2 col-xs-12">
          <label for="patient_have_family_yes">
            <input type="checkbox" id="patient_have_family_yes" v-model="patient_have_family_yes">
            Yes
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <input v-if="patient_have_family_yes" class="pure-input-1-2" type="text" id="patient_have_family_yes_input" v-model="patient_have_family_yes_input">
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="patient_have_family_no">
            <input type="checkbox" id="patient_have_family_no" v-model="patient_have_family_no">
            No
          </label>
        </div>
        <div class="col-sm-11 col-sm-offset-1 mt1">
          <label>B. Is assistance needed that family can't provide?</label>
        </div>
        <div class="col-sm-1 col-sm-offset-2 col-xs-12">
          <label for="assistance_needed">
            <input type="checkbox" id="assistance_needed" v-model="assistance_needed_yes">
            Yes
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <input v-if="assistance_needed_yes" class="pure-input-1-2" type="text" id="assistance_needed_yes_input" v-model="assistance_needed_yes_input">
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="assistance_needed_no">
            <input type="checkbox" id="assistance_needed_no" v-model="assistance_needed_no">
            No
          </label>
        </div>
        <div class="col-sm-12 mt1">
          <label>2.Are there financial concerns regarding this hospitalization ?</label>
        </div>
        <div class="col-sm-1 col-sm-offset-2 col-xs-12">
          <label for="financial_concerns_yes">
            <input type="checkbox" id="financial_concerns_yes" v-model="financial_concerns_yes">
            Yes
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <input v-if="financial_concerns_yes" class="pure-input-1-2" type="text" id="financial_concerns_yes_input" v-model="financial_concerns_yes_input">
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="financial_concerns_no">
            <input type="checkbox" id="financial_concerns_no" v-model="financial_concerns_no">
            No
          </label>
        </div>
      </div>

      <legend></legend>

      <div class="row mt3">
        <div class="col-sm" style="border-right: 2px solid rgba(0,0,0,.1);">
          <legend><b><h3>Home Environment</h3></b></legend>
          <div class="row text-left">
            <div class="col-sm" style="border-right: 2px solid rgba(0,0,0,.1);">
              <div class="row">
                <div class="col-sm-12">
                  <label><b>Lives with :</b></label>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <label for="lives_with_parents">
                    <input type="checkbox" id="lives_with_parents" v-model="lives_with_parents">
                    Parents / Family
                  </label>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <label for="lives_with_spouse">
                    <input type="checkbox" id="lives_with_spouse" v-model="lives_with_spouse">
                    Spouse
                  </label>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <label for="lives_with_friend">
                    <input type="checkbox" id="lives_with_friend" v-model="lives_with_friend">
                    Friend
                  </label>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <label for="lives_with_alone">
                    <input type="checkbox" id="lives_with_alone" v-model="lives_with_alone">
                    Alone
                  </label>
                </div>
                <div class="col-sm-4 col-xs-12">
                  <label for="lives_with_other">
                    <input type="checkbox" id="lives_with_other" v-model="lives_with_other">
                    Other
                  </label>
                </div>
                <div class="col-sm-5 col-xs-12">
                  <input v-if="lives_with_other" class="pure-input-1" type="text" id="lives_with_other_input" v-model="lives_with_other_input">
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="row">
                <div class="col-sm-12">
                  <label><b>Live where :</b></label>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <label for="live_where_house">
                    <input type="checkbox" id="live_where_house" v-model="live_where_house">
                    House
                  </label>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <label for="live_where_townhouse">
                    <input type="checkbox" id="live_where_townhouse" v-model="live_where_townhouse">
                    Townhouse
                  </label>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <label for="live_where_apartment">
                    <input type="checkbox" id="live_where_apartment" v-model="live_where_apartment">
                    Apartment/Condo
                  </label>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <label for="live_where_nursing_home">
                    <input type="checkbox" id="live_where_nursing_home" v-model="live_where_nursing_home">
                    Nursing home
                  </label>
                </div>
                <div class="col-sm-4 col-xs-12">
                  <label for="live_where_nursing_other">
                    <input type="checkbox" id="live_where_nursing_other" v-model="live_where_nursing_other">
                    Other
                  </label>
                </div>
                <div class="col-sm-5 col-xs-12">
                  <input v-if="live_where_nursing_other" class="pure-input-1" type="text" id="live_where_nursing_other_input" v-model="live_where_nursing_other_input">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <legend><b><h3>Discharge Planning Needs</h3></b></legend>
          <div class="row text-left">
            <div class="col-sm-3 col-xs-12">
              <label for="discharge_planning_medication">
                <input type="checkbox" id="discharge_planning_medication" v-model="discharge_planning_medication">
                Medication
              </label>
            </div>
            <div class="col-sm-9 col-xs-12">
              <input v-if="discharge_planning_medication" class="pure-input-1" type="text" id="discharge_planning_medication_input" v-model="discharge_planning_medication_input">
            </div>
            <div class="col-sm-5 col-xs-12">
              <label for="discharge_planning_envi">
                <input type="checkbox" id="discharge_planning_envi" v-model="discharge_planning_envi">
                Environment & Economic
              </label>
            </div>
            <div class="col-sm-7 col-xs-12">
              <input v-if="discharge_planning_envi" class="pure-input-1" type="text" id="discharge_planning_envi_input" v-model="discharge_planning_envi_input">
            </div>
            <div class="col-sm-3 col-xs-12">
              <label for="discharge_planning_treatment">
                <input type="checkbox" id="discharge_planning_treatment" v-model="discharge_planning_treatment">
                Treatment
              </label>
            </div>
            <div class="col-sm-9 col-xs-12">
              <input v-if="discharge_planning_treatment" class="pure-input-1" type="text" id="discharge_planning_treatment_input" v-model="discharge_planning_treatment_input">
            </div>
            <div class="col-sm-3 col-xs-12">
              <label for="discharge_planning_healty">
                <input type="checkbox" id="discharge_planning_healty" v-model="discharge_planning_healty">
                Healty
              </label>
            </div>
            <div class="col-sm-9 col-xs-12">
              <input v-if="discharge_planning_healty" class="pure-input-1" type="text" id="discharge_planning_healty_input" v-model="discharge_planning_healty_input">
            </div>
            <div class="col-sm-4 col-xs-12">
              <label for="discharge_planning_outpatient">
                <input type="checkbox" id="discharge_planning_outpatient" v-model="discharge_planning_outpatient">
                Outpatient referral
              </label>
            </div>
            <div class="col-sm-8 col-xs-12">
              <input v-if="discharge_planning_outpatient" class="pure-input-1" type="text" id="discharge_planning_outpatient_input" v-model="discharge_planning_outpatient_input">
            </div>
            <div class="col-sm-2 col-xs-12">
              <label for="discharge_planning_diet">
                <input type="checkbox" id="discharge_planning_diet" v-model="discharge_planning_diet">
                Diet
              </label>
            </div>
            <div class="col-sm-10 col-xs-12">
              <input v-if="discharge_planning_diet" class="pure-input-1" type="text" id="discharge_planning_diet_input" v-model="discharge_planning_diet_input">
            </div>
          </div>
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-3 col-xs-12">
          <label><b>Possible referral Needs :</b></label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="referral_needs_wound_care">
            <input type="checkbox" id="referral_needs_wound_care" v-model="referral_needs_wound_care">
            Wound Care / Burn Care
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="referral_needs_rehabilitation">
            <input type="checkbox" id="referral_needs_rehabilitation" v-model="referral_needs_rehabilitation">
            Rehabilitation/PT
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="referral_needs_ot">
            <input type="checkbox" id="referral_needs_ot" v-model="referral_needs_ot">
            OT
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="referral_needs_psychologist">
            <input type="checkbox" id="referral_needs_psychologist" v-model="referral_needs_psychologist">
            Psychologist
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="referral_needs_social">
            <input type="checkbox" id="referral_needs_social" v-model="referral_needs_social">
            Social Service
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="referral_needs_speech">
            <input type="checkbox" id="referral_needs_speech" v-model="referral_needs_speech">
            Speech
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="referral_needs_other">
            <input type="checkbox" id="referral_needs_other" v-model="referral_needs_other">
            Other
          </label>
          <input v-if="referral_needs_other" class="pure-input-1" type="text" id="referral_needs_other_input" v-model="referral_needs_other_input">
        </div>
      </div>

      <legend></legend>

      <div class="row mt2">
        <div class="col-sm-3 col-xs-12  text-left ">
          <label><b>Assessment Initiated by RN :</b></label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <input class="pure-input-1" type="text" id="assessment_initiated" v-model="assessment_initiated">
        </div>       
        <div class="col-sm-1 col-xs-12 text-right">
          <label><b>Time</b></label>
        </div>       
        <div class="col-sm-2 col-xs-12">
          <flat-pickr
            class="pure-input-1"
            v-model="assessment_initiated_time"
            :config="assessmentByRNTimeConfig"
            placeholder="Select time"
            name="assessment_initiated_time">
          </flat-pickr>
        </div>
        <div class="col-sm-1 col-xs-12 text-right">
          <label><b>Date</b></label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <flat-pickr
            class="pure-input-1"
            v-model="assessment_initiated_date"
            :config="assessmentByRNDateConfig"
            placeholder="Select date"
            name="assessment_initiated_date">
          </flat-pickr>
        </div>
      </div>

      <fieldset>
        <div class="mt3">
          <button type="submit" class="pure-button">Submit</button>
          <button type="reset" class="pure-button" v-if="!isEdit">Cancel</button>
          <button @click="resetForm()" type="button" class="pure-button" v-else>Cancel</button>
          <button type="button" class="pure-button button-error" v-if="isEdit" title="Delete" @click="deleteVisitForm" style="margin-left: 1rem;">
            <icon name="trash"></icon>
          </button>
          <button type="button" class="pure-button button-error" v-if="isEdit && !isApprove" title="Approve this form" @click="approveVisitForm">
            <icon name="exclamation-circle" style="vertical-align: top;"></icon>&nbsp;Pending
          </button>
        </div>

      </fieldset>
      <!-- END OF button group -->

      <p class="text-right m0" v-if="isEdit && user && user.id"><small>Last updated: {{ user.name }}</small></p>
      <p class="text-right m0" v-if="isEdit && approveUser && approveUser.id"><small>Approved by: {{ approveUser.name }}</small></p>
    </form>
  </section>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import { precheckFormData } from './index'
import getAge from '../../filters/age.js'

export default {
  name: 'forms-nursing-focus-list',
  props: ['patient', 'isEdit', 'isApprove', 'visitFormId', 'user', 'approveUser'],
  components: {
    flatPickr
  },
  data () {
    return {
      title: null,
      first_name: null,
      last_name: null,
      dob: null,
      age: null,
      gender: null,
      hospital_number_display: null,
      an: null,
      first_visited_date: null,
      ward: null,
      page: null,
      pain_yes: false,
      pain_no: false,
      pain_location: null,
      pain_when: null,
      pain_increase: null,
      pattern_intermittent: false,
      pattern_constant: false,
      pattern_other: false,
      pattern_other_input: null,
      describe_pain_burning: false,
      describe_pain_dull: false,
      describe_pain_sharp: false,
      describe_pain_other: false,
      describe_pain_other_input: null,
      pain_status_0: false,
      pain_status_1_3: false,
      pain_status_4_6: false,
      pain_status_7_9: false,
      pain_status_10: false,
      pain_affect_eat: false,
      pain_affect_activity: false,
      pain_affect_sleep: false,
      pain_affect_elimination: false,
      pain_affect_mood: false,
      pain_affect_sexuality: false,
      pain_affect_self_image: false,
      pain_affect_social_interaction: false,
      relieves_pain_cold: false,
      relieves_pain_hot: false,
      relieves_pain_massage: false,
      relieves_pain_relaxation: false,
      relieves_pain_reposition: false,
      relieves_pain_rest: false,
      relieves_pain_medication: false,
      relieves_pain_medication_input: null,
      relieves_pain_other: false,
      relieves_pain_other_input: null,
      infomation_orientation: false,
      infomation_disease: false,
      infomation_infection: false,
      infomation_treatment: false,
      infomation_medication: false,
      infomation_activity: false,
      infomation_teaching: false,
      infomation_care: false,
      infomation_selfcare: false,
      infomation_diet: false,
      infomation_repot_med: false,
      infomation_equipment: false,
      infomation_safety: false,
      infomation_other: false,
      infomation_other_input: null,
      discharge_assistance_yes: false,
      discharge_assistance_no: false,
      patient_have_family_yes: false,
      patient_have_family_yes_input: null,
      patient_have_family_no: false,
      assistance_needed_yes: false,
      assistance_needed_yes_input: null,
      assistance_needed_no: false,
      financial_concerns_yes: false,
      financial_concerns_yes_input: null,
      financial_concerns_no: false,
      lives_with_parents: false,
      lives_with_spouse: false,
      lives_with_friend: false,
      lives_with_alone: false,
      lives_with_other: false,
      lives_with_other_input: null,
      live_where_house: false,
      live_where_townhouse: false,
      live_where_apartment: false,
      live_where_nursing_home: false,
      live_where_nursing_other: false,
      live_where_nursing_other_input: null,
      discharge_planning_medication: false,
      discharge_planning_medication_input: null,
      discharge_planning_envi: false,
      discharge_planning_envi_input: null,
      discharge_planning_treatment: false,
      discharge_planning_treatment_input: null,
      discharge_planning_healty: false,
      discharge_planning_healty_input: null,
      discharge_planning_outpatient: false,
      discharge_planning_outpatient_input: null,
      discharge_planning_diet: false,
      discharge_planning_diet_input: null,
      referral_needs_wound_care: false,
      referral_needs_rehabilitation: false,
      referral_needs_ot: false,
      referral_needs_psychologist: false,
      referral_needs_social: false,
      referral_needs_speech: false,
      referral_needs_other: false,
      referral_needs_other_input: null,
      assessment_initiated: null,
      assessment_initiated_time: null,
      assessment_initiated_date: null,
      // date config
      dateOfBirthConfig: {
        dataFormat: 'Y-m-d',
        maxDate: new Date()
      },
      visitDateConfig: {
        dataFormat: 'Y-m-d'
      },
      assessmentByRNDateConfig: {
        dataFormat: 'Y-m-d'
      },
      // time config
      assessmentByRNTimeConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        time_24hr: true
      }
    }
  },
  created () {
    this.fillForm()
  },
  methods: {
    fillForm () {
      if (this.$lodash.isEmpty(this.patient)) return
      if (this.patient.title) {
        this.title = this.patient.title
      } else {
        this.title = this.patient.gender === 'male' ? 'Mr.' : this.patient.marital_status === 'married' ? 'Mrs.' : 'Ms.'
      }
      this.first_name = this.patient.first_name || null
      this.last_name = this.patient.last_name || null
      this.dob = this.patient.dob || null
      this.opd_cc = this.patient.opd_cc || null
      this.opd_pi = this.patient.opd_pi || null
      this.age = this.patient.dob ? getAge(this.patient.dob) : this.patient.age
      this.gender = this.patient.gender || null
      this.hospital_number = this.patient.hospital_number || null
      this.an = this.patient.an || null
      this.first_visited_date = this.patient.first_visited_date || null
      this.pain_yes = this.patient.pain_yes || null
      this.page = this.patient.page || null
      this.pain_no = this.patient.pain_no || null
      this.pain_location = this.patient.pain_location || null
      this.pain_when = this.patient.pain_when || null
      this.pain_increase = this.patient.pain_increase || null
      this.pattern_intermittent = this.patient.pattern_intermittent || null
      this.pattern_constant = this.patient.pattern_constant || null
      this.pattern_other = this.patient.pattern_other || null
      this.pattern_other_input = this.pattern_other ? this.patient.pattern_other_input : null
      this.describe_pain_burning = this.patient.describe_pain_burning || null
      this.describe_pain_dull = this.patient.describe_pain_dull || null
      this.describe_pain_sharp = this.patient.describe_pain_sharp || null
      this.describe_pain_other = this.patient.describe_pain_other || null
      this.describe_pain_other_input = this.describe_pain_other ? this.patient.describe_pain_other_input : null
      this.pain_status_0 = this.patient.pain_status_0 || null
      this.pain_status_1_3 = this.patient.pain_status_1_3 || null
      this.pain_status_4_6 = this.patient.pain_status_4_6 || null
      this.pain_status_7_9 = this.patient.pain_status_7_9 || null
      this.pain_status_10 = this.patient.pain_status_10 || null
      this.pain_affect_eat = this.patient.pain_affect_eat || null
      this.pain_affect_activity = this.patient.pain_affect_activity || null
      this.pain_affect_sleep = this.patient.pain_affect_sleep || null
      this.pain_affect_elimination = this.patient.pain_affect_elimination || null
      this.pain_affect_mood = this.patient.pain_affect_mood || null
      this.pain_affect_sexuality = this.patient.pain_affect_sexuality || null
      this.pain_affect_self_image = this.patient.pain_affect_self_image || null
      this.pain_affect_social_interaction = this.patient.pain_affect_social_interaction || null
      this.relieves_pain_cold = this.patient.relieves_pain_cold || null
      this.relieves_pain_hot = this.patient.relieves_pain_hot || null
      this.relieves_pain_massage = this.patient.relieves_pain_massage || null
      this.relieves_pain_relaxation = this.patient.relieves_pain_relaxation || null
      this.relieves_pain_reposition = this.patient.relieves_pain_reposition || null
      this.relieves_pain_rest = this.patient.relieves_pain_rest || null
      this.relieves_pain_medication = this.patient.relieves_pain_medication || null
      this.relieves_pain_medication_input = this.relieves_pain_medication ? this.patient.relieves_pain_medication_input : null
      this.relieves_pain_other = this.patient.relieves_pain_other || null
      this.relieves_pain_other_input = this.relieves_pain_other ? this.patient.relieves_pain_other_input : null
      this.infomation_orientation = this.patient.infomation_orientation || null
      this.infomation_disease = this.patient.infomation_disease || null
      this.infomation_infection = this.patient.infomation_infection || null
      this.infomation_treatment = this.patient.infomation_treatment || null
      this.infomation_medication = this.patient.infomation_medication || null
      this.infomation_activity = this.patient.infomation_activity || null
      this.infomation_teaching = this.patient.infomation_teaching || null
      this.infomation_care = this.patient.infomation_care || null
      this.infomation_selfcare = this.patient.infomation_selfcare || null
      this.infomation_diet = this.patient.infomation_diet || null
      this.infomation_repot_med = this.patient.infomation_repot_med || null
      this.infomation_equipment = this.patient.infomation_equipment || null
      this.infomation_safety = this.patient.infomation_safety || null
      this.infomation_other = this.patient.infomation_other || null
      this.infomation_other_input = this.infomation_other ? this.patient.infomation_other_input : null
      this.discharge_assistance_yes = this.patient.discharge_assistance_yes || null
      this.discharge_assistance_no = this.patient.discharge_assistance_no || null
      this.patient_have_family_yes = this.patient.patient_have_family_yes || null
      this.patient_have_family_yes_input = this.patient_have_family_yes ? this.patient.patient_have_family_yes_input : null
      this.patient_have_family_no = this.patient.patient_have_family_no || null
      this.assistance_needed_yes = this.patient.assistance_needed_yes || null
      this.assistance_needed_yes_input = this.assistance_needed_yes ? this.patient.assistance_needed_yes_input : null
      this.assistance_needed_no = this.patient.assistance_needed_no || null
      this.financial_concerns_yes = this.patient.financial_concerns_yes || null
      this.financial_concerns_yes_input = this.financial_concerns_yes ? this.patient.financial_concerns_yes_input : null
      this.financial_concerns_no = this.patient.financial_concerns_no || null
      this.lives_with_parents = this.patient.lives_with_parents || null
      this.lives_with_spouse = this.patient.lives_with_spouse || null
      this.lives_with_friend = this.patient.lives_with_friend || null
      this.lives_with_alone = this.patient.lives_with_alone || null
      this.lives_with_other = this.patient.lives_with_other || null
      this.lives_with_other_input = this.lives_with_other ? this.patient.lives_with_other_input : null
      this.live_where_house = this.patient.live_where_house || null
      this.live_where_townhouse = this.patient.live_where_townhouse || null
      this.live_where_apartment = this.patient.live_where_apartment || null
      this.live_where_nursing_home = this.patient.live_where_nursing_home || null
      this.live_where_nursing_other = this.patient.live_where_nursing_other || null
      this.live_where_nursing_other_input = this.live_where_nursing_other ? this.patient.live_where_nursing_other_input : null
      this.discharge_planning_medication = this.patient.discharge_planning_medication || null
      this.discharge_planning_medication_input = this.discharge_planning_medication ? this.patient.discharge_planning_medication_input : null
      this.discharge_planning_envi = this.patient.discharge_planning_envi || null
      this.discharge_planning_envi_input = this.discharge_planning_envi ? this.patient.discharge_planning_envi_input : null
      this.discharge_planning_treatment = this.patient.discharge_planning_treatment || null
      this.discharge_planning_treatment_input = this.discharge_planning_envi ? this.patient.discharge_planning_treatment_input : null
      this.discharge_planning_healty = this.patient.discharge_planning_healty || null
      this.discharge_planning_healty_input = this.discharge_planning_healty ? this.patient.discharge_planning_healty_input : null
      this.discharge_planning_outpatient = this.patient.discharge_planning_outpatient || null
      this.discharge_planning_outpatient_input = this.discharge_planning_outpatient ? this.patient.discharge_planning_outpatient_input : null
      this.discharge_planning_diet = this.patient.discharge_planning_diet || null
      this.discharge_planning_diet_input = this.discharge_planning_diet ? this.patient.discharge_planning_diet_input : null
      this.referral_needs_wound_care = this.patient.referral_needs_wound_care || null
      this.referral_needs_rehabilitation = this.patient.referral_needs_rehabilitation || null
      this.referral_needs_ot = this.patient.referral_needs_ot || null
      this.referral_needs_psychologist = this.patient.referral_needs_psychologist || null
      this.referral_needs_social = this.patient.referral_needs_social || null
      this.referral_needs_speech = this.patient.referral_needs_speech || null
      this.referral_needs_other = this.patient.referral_needs_other || null
      this.referral_needs_other_input = this.referral_needs_other ? this.patient.referral_needs_other_input : null
      this.assessment_initiated = this.patient.assessment_initiated || null
      this.assessment_initiated_time = this.patient.assessment_initiated_time || null
      this.assessment_initiated_date = this.patient.assessment_initiated_date || null
    },
    submitForm () {
      const data = {
        title: this.title,
        first_name: this.first_name,
        last_name: this.last_name,
        dob: this.dob,
        opd_cc: this.opd_cc,
        opd_pi: this.opd_pi,
        age: this.age,
        gender: this.gender,
        hospital_number: this.hospital_number,
        an: this.an,
        first_visited_date: this.first_visited_date,
        ward: this.ward,
        page: this.page,
        pain_yes: this.pain_yes,
        pain_no: this.pain_no,
        pain_location: this.pain_location,
        pain_when: this.pain_when,
        pain_increase: this.pain_increase,
        pattern_intermittent: this.pattern_intermittent,
        pattern_constant: this.pattern_constant,
        pattern_other: this.pattern_other,
        pattern_other_input: this.pattern_other_input,
        describe_pain_burning: this.describe_pain_burning,
        describe_pain_dull: this.describe_pain_dull,
        describe_pain_sharp: this.describe_pain_sharp,
        describe_pain_other: this.describe_pain_other,
        describe_pain_other_input: this.describe_pain_other_input,
        pain_status_0: this.pain_status_0,
        pain_status_1_3: this.pain_status_1_3,
        pain_status_4_6: this.pain_status_4_6,
        pain_status_7_9: this.pain_status_7_9,
        pain_status_10: this.pain_status_10,
        pain_affect_eat: this.pain_affect_eat,
        pain_affect_activity: this.pain_affect_activity,
        pain_affect_sleep: this.pain_affect_sleep,
        pain_affect_elimination: this.pain_affect_elimination,
        pain_affect_mood: this.pain_affect_mood,
        pain_affect_sexuality: this.pain_affect_sexuality,
        pain_affect_self_image: this.pain_affect_self_image,
        pain_affect_social_interaction: this.pain_affect_social_interaction,
        relieves_pain_cold: this.relieves_pain_cold,
        relieves_pain_hot: this.relieves_pain_hot,
        relieves_pain_massage: this.relieves_pain_massage,
        relieves_pain_relaxation: this.relieves_pain_relaxation,
        relieves_pain_reposition: this.relieves_pain_reposition,
        relieves_pain_rest: this.relieves_pain_rest,
        relieves_pain_medication: this.relieves_pain_medication,
        relieves_pain_medication_input: this.relieves_pain_medication_input,
        relieves_pain_other: this.relieves_pain_other,
        relieves_pain_other_input: this.relieves_pain_other_input,
        infomation_orientation: this.infomation_orientation,
        infomation_disease: this.infomation_disease,
        infomation_infection: this.infomation_infection,
        infomation_treatment: this.infomation_treatment,
        infomation_medication: this.infomation_medication,
        infomation_activity: this.infomation_activity,
        infomation_teaching: this.infomation_teaching,
        infomation_care: this.infomation_care,
        infomation_selfcare: this.infomation_selfcare,
        infomation_diet: this.infomation_diet,
        infomation_repot_med: this.infomation_repot_med,
        infomation_equipment: this.infomation_equipment,
        infomation_safety: this.infomation_safety,
        infomation_other: this.infomation_other,
        infomation_other_input: this.infomation_other_input,
        discharge_assistance_yes: this.discharge_assistance_yes,
        discharge_assistance_no: this.discharge_assistance_no,
        patient_have_family_yes: this.patient_have_family_yes,
        patient_have_family_yes_input: this.patient_have_family_yes_input,
        patient_have_family_no: this.patient_have_family_no,
        assistance_needed_yes: this.assistance_needed_yes,
        assistance_needed_yes_input: this.assistance_needed_yes_input,
        assistance_needed_no: this.assistance_needed_no,
        financial_concerns_yes: this.financial_concerns_yes,
        financial_concerns_yes_input: this.financial_concerns_yes_input,
        financial_concerns_no: this.financial_concerns_no,
        lives_with_parents: this.lives_with_parents,
        lives_with_spouse: this.lives_with_spouse,
        lives_with_friend: this.lives_with_friend,
        lives_with_alone: this.lives_with_alone,
        lives_with_other: this.lives_with_other,
        lives_with_other_input: this.lives_with_other_input,
        live_where_house: this.live_where_house,
        live_where_townhouse: this.live_where_townhouse,
        live_where_apartment: this.live_where_apartment,
        live_where_nursing_home: this.live_where_nursing_home,
        live_where_nursing_other: this.live_where_nursing_other,
        live_where_nursing_other_input: this.live_where_nursing_other_input,
        discharge_planning_medication: this.discharge_planning_medication,
        discharge_planning_medication_input: this.discharge_planning_medication_input,
        discharge_planning_envi: this.discharge_planning_envi,
        discharge_planning_envi_input: this.discharge_planning_envi_input,
        discharge_planning_treatment: this.discharge_planning_treatment,
        discharge_planning_treatment_input: this.discharge_planning_treatment_input,
        discharge_planning_healty: this.discharge_planning_healty,
        discharge_planning_healty_input: this.discharge_planning_healty_input,
        discharge_planning_outpatient: this.discharge_planning_outpatient,
        discharge_planning_outpatient_input: this.discharge_planning_outpatient_input,
        discharge_planning_diet: this.discharge_planning_diet,
        discharge_planning_diet_input: this.discharge_planning_diet_input,
        referral_needs_wound_care: this.referral_needs_wound_care,
        referral_needs_rehabilitation: this.referral_needs_rehabilitation,
        referral_needs_ot: this.referral_needs_ot,
        referral_needs_psychologist: this.referral_needs_psychologist,
        referral_needs_social: this.referral_needs_social,
        referral_needs_speech: this.referral_needs_speech,
        referral_needs_other: this.referral_needs_other,
        referral_needs_other_input: this.referral_needs_other_input,
        assessment_initiated: this.assessment_initiated,
        assessment_initiated_time: this.assessment_initiated_time,
        assessment_initiated_date: this.assessment_initiated_date
      }
      // const body = this.precheckBodyData(data)
      const body = precheckFormData(17, data)

      if (!body) {
        alert('Something went wrong (missing parameters)')
        return
      }

      if (this.isEdit) { // edit existing opd form
        this.$emit('submit', { action: 'edit', body, visitFormId: this.visitFormId })
      } else { // create new opd form
        this.$emit('submit', { action: 'create', body })
      }
    },
    deleteVisitForm (id) {
      this.$emit('submit', { action: 'delete', visitFormId: this.visitFormId })
    },
    approveVisitForm (id) {
      this.$emit('submit', { action: 'approve', visitFormId: this.visitFormId })
    },
    // hit cancel button on edit mode
    resetForm () {
      const answer = confirm('Are you sure you want to discard your changes?')

      if (!answer) return
      this.fillForm()
    }
  }
}
</script>
