<template>
<section class="content">
  <!-- <pre>{{ patient }}</pre> -->
    <h1>{{ isEdit ? 'UPDATE': '' }} ER / OPD NURSING ASSESSMENT</h1>
    <div class="d-flex">
      <router-link type="button" class="pure-button ml-auto" 
        target="_blank"
        :to="`/print/nursing-assessment/${visitFormId}`">
        <icon name="print"></icon> Print Nursing Assessment
      </router-link>
    </div>
    <!-- START OF FORM ELEMENT -->
    <form class="nursing-in-form pure-form pure-form-stacked" v-on:submit.prevent="submitForm">
      <div class="row text-left">
        <legend><b>Patient Info</b></legend>
      </div>
      <div class="row mt1">
        <div class="col-xs-12 col-sm-2">
          <label for="title">Prefix</label>
          <select id="title" v-model="title" class="pure-input-1" disabled>
            <option>Mr.</option>
            <option>Mrs.</option>
            <option>Ms.</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label for="first_name">First name</label>
          <input id="first_name" type="text" v-model="first_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label for="last_name">Last name</label>
          <input id="last_name" type="text" v-model="last_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-2">
            <label for="dob">DOB</label>
            <flat-pickr
              v-model="dob"
              :config="dateOfBirthConfig"
              placeholder="Select date"
              class="pure-input-1"
              name="dob"
              disabled>
            </flat-pickr>
        </div>
      </div>
      <div class="row mt1">
        <div class="col-xs-12 col-sm-3">
          <label for="age">Age</label>
          <input id="age" type="text" v-model="age" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="gender">Gender</label>
          <select id="gender" v-model="gender" class="pure-input-1" disabled>
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="hospital_number_display">HN</label>
          <input id="hospital_number_display" type="text" v-model="hospital_number_display" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="visit-date">Visit date</label>
          <flat-pickr
            class="pure-input-1"
            v-model="first_visited_date"
            :config="visitDateConfig"
            placeholder="Select date"
            name="first_visited_date"
            disabled>
          </flat-pickr>
        </div>
        <!-- <div class="col-xs-12 col-sm-2">
          <label for="an">AN</label>
          <input id="an" type="text" v-model="an" class="pure-input-1">
        </div> -->
      </div>

      <!-- <div class="row text-left mt1">
        <div class="col-xs-12 col-sm-6">
          <label for="leave-island-date">When will you leave Phi Phi island</label>
            <flat-pickr
            class="pure-input-5-12 input--inline"
            v-model="stay_length_end"
            :config="stayEndDateConfig"
            placeholder="Select date"
            name="stay-length-end-time"
            >
          </flat-pickr>
          <flat-pickr
            class="pure-input-5-12 input--inline"
            v-model="stay_length_end_time"
            :config="stayEndTimeConfig"
            placeholder="Select time"
            name="stay-length-end-time"
            >
          </flat-pickr>
        </div>
        <div class="col-xs-12 col-sm-6">
          <label for="leave-island-des">Where is your destination</label>
          <textarea placeholder="Bangkok, Krabi, Koh Lanta, Aonang, ..." id="leave-island-des" type="text" v-model="leave_island_des" class="pure-input-1"></textarea>
        </div>
      </div> -->

      <fieldset>
        <div class="row text-left mt1">
          <div class="col-sm-2 col-xs-12">
            <label for="esl-level">ESI Level:</label>
          </div>
          <div class="col-sm-2 col-xs-12" style="background-color:#ff0000;">
            <label for="esl-lv-superred" class="pure-checkbox">
              <input id="esl-lv-superred" type="checkbox" name="esl_level_superred" v-model="esl_level_superred">
              Super Red
            </label>
          </div>
          <div class="col-sm-2 col-xs-12" style="background-color:#ff8080;">
            <label for="esl-lv-red" class="pure-checkbox">
              <input id="esl-lv-red" type="checkbox" name="esl_level_red" v-model="esl_level_red">
              Red
            </label>
          </div>
          <div class="col-sm-2 col-xs-12" style="background-color:#ffff00;">
            <label for="esl-lv-yellow" class="pure-checkbox">
              <input id="esl-lv-yellow" type="checkbox" name="esl_level_yellow" v-model="esl_level_yellow">
              Yellow
            </label>
          </div>
          <div class="col-sm-2 col-xs-12" style="background-color:#00e600;">
            <label for="esl-lv-green" class="pure-checkbox">
              <input id="esl-lv-green" type="checkbox" name="esl_level_green" v-model="esl_level_green">
              Green
            </label>
          </div>
          <div class="col-sm-2 col-xs-12" style="background-color:#f0f0f5;">
            <label for="esl-lv-white" class="pure-checkbox">
              <input id="esl-lv-white" type="checkbox" name="esl_level_white" v-model="esl_level_white">
              White
            </label>
          </div>
        </div>
      </fieldset>

      <div class="mt1">
      <legend><b><h2>NURSING ASSESSMENT</h2></b></legend>
      </div>
      <div class="row text-left mt1">
        <div class="col-sm-4 col-xs-12">
          <label for="time-to-arrival">Time of arrival</label>
          <flat-pickr
            class="pure-input-1"
            v-model="time_to_arrival"
            :config="timeToArrivalConfig"
            placeholder="Select time"
            name="time-to-arrival"
            id="time-to-arrival">
          </flat-pickr>
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="time-to-phys">Time to physician</label>
          <flat-pickr
            class="pure-input-1"
            v-model="time_to_phys"
            :config="timeToPhysConfig"
            placeholder="Select time"
            name="time-to-phys"
            id="time-to-phys">
          </flat-pickr>
        </div>
      </div>
      <div class="row text-left mt1">
        <div class="col-sm col-xs-6">
          <label for="ni-bp">
            BP: <input id="ni-bp" class="pure-input-1-2 input--inline" type="text" v-model="ni_bp"> mmHg
          </label>
        </div>
        <div class="col-sm col-xs-6">
          <label for="ni-pr">
            PR: <input id="ni-pr" class="pure-input-1-2 input--inline" type="text" v-model="ni_pr"> /min
          </label>
        </div>
        <div class="col-sm col-xs-6">
          <label for="ni-rr">
            RR: <input id="ni-rr" class="pure-input-1-2 input--inline" type="text" v-model="ni_rr"> /min
          </label>
        </div>
        <div class="col-sm col-xs-6">
          <label for="ni-t">
            T: <input id="ni-t" class="pure-input-1-2 input--inline" type="text" v-model="ni_t"> &#176;C
          </label>
        </div>
        <div class="col-sm col-xs-6">
          <label for="ni-o2sat">
            O2Sat: <input id="ni-o2sat" class="pure-input-1-2 input--inline" type="text" v-model="ni_o2sat"> %
          </label>
        </div>
      </div>
      <div class="row text-left mt1">
        <div class="col-sm col-xs-6">
          <label for="ni-dtx">
            DTX: <input id="ni-dtx" class="pure-input-1-2 input--inline" type="text" v-model="ni_dtx"> mg%
          </label>
        </div>
        <div class="col-sm col-xs-6">
          <label for="ni-bw">
            BW: <input id="ni-bw" class="pure-input-1-2 input--inline" type="text" v-model="ni_bw"> Kg
          </label>
        </div>
        <div class="col-sm col-xs-6">
          <label for="ni-ht">
            HT: <input id="ni-ht" class="pure-input-1-2 input--inline" type="text" v-model="ni_ht"> Cm
          </label>
        </div>
        <div class="col-sm col-xs-6">
          <label for="ni-bmi">
            BMI: <input id="ni-bmi" class="pure-input-1-2 input--inline" type="text" v-model="ni_bmi">
          </label>
        </div>
        <div class="col-sm"></div>
      </div>

      <legend></legend>
      <div class="row text-left mt1">
        <div class="col-sm-2 col-xs-6">
            <label for="gcs_e">
              GCS <input id="gcs_e" class="pure-input-1-2 input--inline" type="text" v-model="gcs_e"> E
            </label>
        </div>
        <div class="col-sm-2 col-xs-6">
            <label for="gcs-v">
              <input id="gcs-v" class="pure-input-1-2 input--inline" type="text" v-model="gcs_v"> V
            </label>
        </div>
        <div class="col-sm-2 col-xs-6">
            <label for="gcs-m">
              <input id="gcs-m" class="pure-input-1-2 input--inline" type="text" v-model="gcs_m"> M
            </label>
        </div>
        <div class="col-sm-2 col-xs-6">
            <label for="gcs-pupil">
              <input id="gcs-pupil" class="pure-input-1-2 input--inline" type="text" v-model="gcs_pupil"> Pupil
            </label>
        </div>
        <div class="col-sm-2 col-xs-6">
            <label for="gcs-lt">
              Lt.<input id="gcs-lt" class="pure-input-1-2 input--inline" type="text" v-model="gcs_lt">(R,S,F)
            </label>
        </div>
        <div class="col-sm-2 col-xs-6">
            <label for="gcs-rt">
              Rt.<input id="gcs-rt" class="pure-input-1-2 input--inline" type="text" v-model="gcs_rt">(R,S,F)
            </label>
        </div>
      </div>

      <fieldset>
        <div class="row text-left mt2">
          <div class="col-sm-1 col-xs-12">
            <label for="pregnancy">Pregnancy:</label>
          </div>
          <div class="col-sm-1 col-xs-4">
            <label for="pregnancy-na" class="pure-checkbox">
              <input id="pregnancy-na" type="checkbox" name="pregnancy-na" v-model="pregnancy_na">
              N/A
            </label>
          </div>

          <div class="col-sm-1 col-xs-4">
            <label for="pregnancy-no" class="pure-checkbox">
              <input id="pregnancy-no" type="checkbox" name="pregnancy-no" v-model="pregnancy_no">
              No
            </label>
          </div>
          <div class="col-sm-1 col-xs-4">
            <label for="pregnancy-yes" class="pure-checkbox">
              <input id="pregnancy-yes" type="checkbox" name="pregnancy-yes" v-model="pregnancy_yes">
              Yes
            </label>
          </div>
        </div>

        <div class="row text-left">
          <div class="col-sm-2 col-xs-6" v-if="pregnancy_yes || pregnancy_no">
            <label for="pregnancy-g">
              G <input id="pregnancy-g" class="pure-input-1-2 input--inline" type="text" v-model="pregnancy_g">
            </label>
          </div>
          <div class="col-sm-2 col-xs-6" v-if="pregnancy_yes || pregnancy_no">
            <label for="pregnancy-p">
              P <input id="pregnancy-p" class="pure-input-1-2 input--inline" type="text" v-model="pregnancy_p">
            </label>
          </div>
          <div class="col-sm-2 col-xs-6" v-if="pregnancy_yes || pregnancy_no">
            <label for="pregnancy-a">
              A <input id="pregnancy-a" class="pure-input-1-2 input--inline" type="text" v-model="pregnancy_a">
            </label>
          </div>
          <div class="col-sm-2 col-xs-6" v-if="pregnancy_yes || pregnancy_no">
            <label for="pregnancy-ga">
            GA <input id="pregnancy-ga" class="pure-input-1-2 input--inline" type="text" v-model="pregnancy_ga"> Week
            </label>
          </div>
          <div class="col-sm-3 col-xs-6" v-if="pregnancy_yes || pregnancy_no">
            <label for="pregnancy-by">
            By: <input id="pregnancy-by" class="pure-input-1-2 input--inline" type="text" v-model="pregnancy_by">
            </label>
          </div>
        </div>

        <div class="row text-left mt1" v-if="pregnancy_yes || pregnancy_no">
          <div class="col-sm-1 col-xs-4">
            <label for="lmp">LMP:</label>
          </div>
          <div class="col-sm-2 col-xs-8">
            <flat-pickr
              v-model="lmp"
              :config="lmpDateConfig"
              placeholder="Select date"
              class="pure-input-1"
              name="lmp"
              id="lmp"
            >
            </flat-pickr>
          </div>
          <div class="col-sm-2 col-xs-12 text-right">
            <label for="contra">
              Contraceptions:
            </label>
          </div>
          <div class="col-sm-1 col-xs-12">
            <label for="contra-no" class="pure-checkbox">
              <input id="contra-no" type="checkbox" name="contra-no" v-model="contra_no">
              No
            </label>
          </div>
          <div class="col-sm-1 col-xs-12">
            <label for="contra-yes" class="pure-checkbox">
              <input id="contra-yes" type="checkbox" name="contra-yes" v-model="contra_yes">
              Yes
            </label>
          </div>
          <div class="col-sm-2 col-xs-12" v-if="contra_yes">
            <select id="contra" name="contra" class="pure-input-1" v-model="contra_input">
              <option value='PILL'>PILL</option>
              <option value='IUD'>IUD</option>
              <option value='INJECTABLES'>INJECTABLES</option>
              <option value='IMPLANT'>IMPLANT</option>
              <option value='OTHER'>OTHER</option>
            </select>
          </div>
          <div class="col-sm-3 col-xs-12" v-if="contra_input === 'OTHER'">
            <input id="contra_input_other" name="contra_input_other" class="pure-input-1" type="text" v-model="contra_input_other">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="text-left">
          <legend><b>Pain Assessment</b></legend>
        </div>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label>pain score</label>
            <input id="pain-score" type="text" v-model="pain_score" class="pure-input-1">
          </div>
          <div class="col-sm-2 col-xs-12">
            <label>location</label>
            <input id="location" type="text" v-model="location" class="pure-input-1">
          </div>
          <div class="col-sm-2 col-xs-12">
            <label>duration</label>
            <input id="duration" type="text" v-model="duration" class="pure-input-1">
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="frequency" class="text-center">frequency:</label>
          </div>
          <div class="col-sm-2 col-xs-6">
              <label for="frequency-cont">
                <input type="checkbox" name="frequency-cont" id="frequency-cont" v-model="frequency_cont">
                Continuous
              </label>
          </div>
          <div class="col-sm-2 col-xs-6">
              <label for="frequency-inter">
                <input type="checkbox" name="frequency-inter" id="frequency-inter" v-model="frequency_inter">
                Intermittent
              </label>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="text-left">
          <legend><b>Assessment Tool</b></legend>
        </div>
        <div class="row text-left">
          <div class="col-sm col-xs-12">
              <label for="assessment-tool-nips">
                <input type="checkbox" name="assessment-tool-nips" id="assessment-tool-nips" v-model="assessment_tool_nips">
                NIPS (0-3 mo)
              </label>
          </div>
          <div class="col-sm col-xs-12">
              <label for="assessment-tool-flacc">
                <input type="checkbox" name="assessment-tool-flacc" id="assessment-tool-flacc" v-model="assessment_tool_flacc">
                FLACC(3mo-4yrs)
              </label>
          </div>
          <div class="col-sm col-xs-12">
              <label for="assessment-tool-faces">
                <input type="checkbox" name="assessment-tool-faces" id="assessment-tool-faces" v-model="assessment_tool_faces">
                FACES(4-8 yrs)
              </label>
          </div>
          <div class="col-sm col-xs-12">
              <label for="assessment-tool-nrs">
                <input type="checkbox" name="assessment-tool-nrs" id="assessment-tool-nrs" v-model="assessment_tool_nrs">
                NRS (>8 yrs)
              </label>
          </div>
          <div class="col-sm col-xs-12">
              <label for="assessment-tool-pps">
                <input type="checkbox" name="assessment-tool-pps" id="assessment-tool-pps" v-model="assessment_tool_pps">
                PPS(cognitive, impared)
              </label>
          </div>
        </div>
      </fieldset>

      <legend></legend>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12 text-left">
            <label for="allergy_reaction" style="color: red">Allergy/ Reaction:</label>
          </div>
          <div class="col-sm-3 col-xs-6">
            <label for="allergy-reaction-nka">
              <input type="checkbox" name="allergy-reaction-nka" id="allergy-reaction-nka" v-model="allergy_reaction_nka">
              Not Known Allergy
            </label>
          </div>
          <div class="col-sm-1 col-xs-6">
            <label style="color: red;" for="allergy-reaction-yes">
              <input type="checkbox" name="allergy-reaction-yes" id="allergy-reaction-yes" v-model="allergy_reaction_yes">
              Yes
            </label>
          </div>
          <div class="col-sm-3 col-xs-12" v-if="allergy_reaction_yes">
            <input style="color:red;" id="allergy-reaction-yes-input" type="text" v-model="allergy_reaction_yes_input" class="pure-input-1">
          </div>
        </div>

        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="current-med">Current Medication:</label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="current-med-none" class="pure-checkbox">
              <input id="current-med-none" type="checkbox" name="current-med-none" v-model="current_med_none">
              None
            </label>
          </div>
          <div class="col-sm-1 col-xs-12">
            <label for="current-med-yes" class="pure-checkbox">
              <input id="current-med-yes" type="checkbox" name="current-med-yes" v-model="current_med_yes">
              Yes
            </label>
          </div>
          <div class="col-sm-5 col-xs-12" v-if="current_med_yes">
            <textarea id="current-med" name="current-med" type="text" v-model="current_med" class="pure-input-1"></textarea>
          </div>
        </div>
      </fieldset>

      <legend></legend>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="mode-of-arrival">Mode of arrival :</label>
          </div>
          <div class="col-sm-2 col-xs-4">
            <label for="mode-of-arrival-walk">
              <input type="checkbox" name="mode-of-arrival-walk" id="mode-of-arrival-walk" v-model="mode_of_arrival_walk">
              Walk
            </label>
          </div>
          <div class="col-sm-2 col-xs-4">
            <label for="mode-of-arrival-wheelchair">
              <input type="checkbox" name="mode-of-arrival-wheelchair" id="mode-of-arrival-wheelchair" v-model="mode_of_arrival_wheelchair">
              Wheel chair
            </label>
          </div>
          <div class="col-sm-2 col-xs-4">
            <label for="mode-of-arrival-stretcher">
              <input type="checkbox" name="mode-of-arrival-stretcher" id="mode-of-arrival-stretcher" v-model="mode_of_arrival_stretcher">
              Stretcher
            </label>
          </div>
        </div>

        <div class="row text-left mt2">
          <div class="col-sm-2 col-xs-12 text-left">
            <label for="fall-precuation">Fall Precaution:</label>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label for="fall-precaution-standard">
              <input type="checkbox" name="fall-precaution-standard" id="fall-precaution-standard" v-model="fall_precaution_standard">
              Standard
            </label>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label for="fall-precaution-moderate">
              <input type="checkbox" name="fall-precaution-moderate" id="fall-precaution-moderate" v-model="fall_precaution_moderate">
              Moderate
            </label>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label for="fall-precaution-strict">
              <input type="checkbox" name="fall-precaution-strict" id="fall-precaution-strict" v-model="fall_precaution_strict">
              High risk (Strict)
            </label>
          </div>
        </div>

        <div class="row text-left mt2">
          <div class="col-sm-2 col-xs-12">
            <label for="purpose">Purpose:</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="purpose-walkin">
              <input type="checkbox" name="purpose-walkin" id="purpose-walkin" v-model="purpose_walkin">
              Walk in
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="purpose-followup">
              <input type="checkbox"  name="purpose-followup" id="purpose-followup" v-model="purpose_followup">
              Follow up
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="purpose-refer">
              <input type="checkbox" name="purpose-refer" id="purpose-refer" v-model="purpose_refer">
              Refer in form
            </label>
            <input v-if="purpose_refer" id="refer-from" type="text" v-model="refer_from" class="pure-input-1">
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="purpose-amb-pickup">
              <input type="checkbox" name="purpose-amb-pickup" id="purpose-amb-pickup" v-model="purpose_amp_pickup">
              Ambulance pickup from
            </label>
            <input v-if="purpose_amp_pickup" id="amb-pickup-from" type="text" v-model="amb_pickup_from" class="pure-input-1">
          </div>
        </div>

        <div class="row text-left mt2">
          <div class="col-sm-2 col-xs-12">
            <label for="escort">Escort:</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="escort-none">
              <input type="checkbox" name="escort-none" id="escort-none" v-model="escort_none">
              None
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="escort-family">
              <input type="checkbox" name="escort-family" id="escort-family" v-model="escort_family">
              Family
            </label>
          </div>
          <div class="col-sm-1 col-xs-12">
            <label for="escort-other">
              <input type="checkbox" name="escort-other" id="escort-other" v-model="escort_other">
              Other
            </label>
          </div>
          <div class="col-sm-3 col-xs-12" v-if="escort_other">
            <input id="escort-other-input" type="text" v-model="escort_other_input" class="pure-input-1">
          </div>
        </div>

        <div class="row text-left mt2">
          <div class="col-sm-2 col-xs-12 text-left">
            <label for="general-appearance">General Appearance:</label>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label for="general-appearance-good">
              <input type="checkbox" name="general-appearance-good" id="general-appearance-good" v-model="general_appearance_good">
              Good
            </label>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label for="general-appearance-bedridden">
              <input type="checkbox"  name="general-appearance-bedridden" id="general-appearance-bedridden" v-model="general_appearance_bedridden">
              Bedridden
            </label>
          </div>
          <div class="col-sm-1 col-xs-6">
            <label for="general-appearance-other">
              <input type="checkbox"  name="general-appearance-other" id="general-appearance-other" v-model="general_appearance_other">
              Other
            </label>
          </div>
          <div v-if="general_appearance_other">
            <input id="general-appearance-other-input" type="text" v-model="general_appearance_other_input" class="pure-input-1">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="text-left mt1">
        <legend><b>Vaccination: (Only for trauma case)</b></legend>
        </div>
        <div class="row text-left mt1">
          <div class="col-sm col-xs-12 text-left">
            <label for="tetanus">Tetanus:</label>
          </div>
          <div class="col-sm col-xs-12">
              <label for="tetanus-never">
                <input type="checkbox" name="tetanus-never" id="tetanus-never" v-model="tetanus_never">
                Never
              </label>
          </div>
          <div class="col-sm col-xs-12">
              <label for="tetanus-more-10yrs">
                <input type="checkbox" name="tetanus-more-10yrs" id="tetanus-more-10yrs" v-model="tetanus_more_10yrs">
                > 10yrs
              </label>
          </div>
          <div class="col-sm col-xs-12">
              <label for="tetanus-5-10yrs">
                <input type="checkbox" name="tetanus-5-10-yrs" id="tetanus-5-10yrs" v-model="tetanus_5_10yrs">
                5-10yrs
              </label>
          </div>
          <div class="col-sm col-xs-12">
            <label for="tetanus-less-5yrs">
              <input type="checkbox" name="tetanus-less-5yrs" id="tetanus-less-5yrs" v-model="tetanus_less_5yrs">
              < 5yrs
            </label>
          </div>
          <div class="col-sm col-xs-12">
            <label for="tetanus-na">
              <input type="checkbox" name="tetanus-na" id="tetanus-na" v-model="tetanus_na">
              N/A
            </label>
          </div>
          <div class="col-sm col-xs-12">
            <label for="tetanus-other">
              <input type="checkbox" name="tetanus-other" id="tetanus-other" v-model="tetanus_other">
              Other
            </label>
            <input v-if="tetanus_other" id="tetanus-other-input" name="tetanus-other" type="text" v-model="tetanus_other_input" class="pure-input-1">
          </div>
        </div>


        <div class="row text-left mt2">
          <div class="col-sm-2 col-xs-12">
            <label for="rabies">Rabies:</label>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label for="rabies-never">
              <input type="checkbox" name="rabies-never" id="rabies-never" v-model="rabies_never">
              Never
            </label>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label for="rabies-more3inj">
              <input type="checkbox" name="rabies-more3inj" id="rabies-more3inj" v-model="rabies_more3inj">
              > 3 injection
            </label>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label for="rabies-na">
              <input type="checkbox" name="rabies-na" id="rabies-na" v-model="rabies_na">
              N/A
            </label>
          </div>
          <div class="col-sm-1 col-xs-12">
            <label for="rabies-other">
              <input type="checkbox" name="rabies" id="rabies-other" v-model="rabies_other">
              Other
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <div v-if="rabies_other">
              <input id="rabies-other-input" name="rabies-other" type="text" v-model="rabies_other_input" class="pure-input-1">
            </div>
          </div>
        </div>
      </fieldset>

      <legend></legend>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="past-history">Past History:</label>
          </div>
          <div class="col-sm-6 col-xs-12">
            <input id="past-history" name="past-history" type="text" v-model="past_history" class="pure-input-1">
          </div>
        </div>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="surgical-history">Surgical History:</label>
          </div>
          <div class="col-sm-6 col-xs-12">
            <input id="surgical-history" name="surgical-history" type="text" v-model="surgical_history" class="pure-input-1">
          </div>
        </div>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="family-history">Family History:</label>
          </div>
          <div class="col-sm-6 col-xs-12">
            <input id="family-history" name="family-history" type="text" v-model="family_history" class="pure-input-1">
          </div>
        </div>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="smoking">Smoking:</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="smoking-none" class="pure-checkbox">
              <input id="smoking-none" type="checkbox" name="smoking-none" v-model="smoking_none">
              No
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="smoking-yes" class="pure-checkbox">
              <input id="smoking-yes" type="checkbox" name="smoking-yes" v-model="smoking_yes">
              Yes
            </label>
          </div>
          <div class="col-sm-3 col-xs-12" v-if="smoking_yes">
            <input id="smoking" name="smoking" type="text" v-model="smoking" class="pure-input-1">
          </div>
        </div>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="alcohol">Alcohol:</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="alcohol-none" class="pure-checkbox">
              <input id="alcohol-none" type="checkbox" name="alcohol-none" v-model="alcohol_none">
              No
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="alcohol-yes" class="pure-checkbox">
              <input id="alcohol-yes" type="checkbox" name="alcohol-yes" v-model="alcohol_yes">
              Yes
            </label>
          </div>
          <div class="col-sm-3 col-xs-12" v-if="alcohol_yes">
            <input id="alcohol" name="alcohol" type="text" v-model="alcohol" class="pure-input-1">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="mt1">
          <legend><b><h2>CHIEF COMPLAINT</h2></b></legend>
        </div>
        <div class="row text-left">
          <div class="col-sm-4 col-xs-12">
            <label for="cc_pta">PTA :
            <input id="cc_pta" name="cc_pta" type="text" v-model="cc_pta" class="pure-input-1-2 input--inline">
            </label>
          </div>
          <div class="col-sm-12 col-xs-12">
            <textarea name="chief-complaint" id="chief-complaint" v-model="chief_complaint" class="pure-input-1" rows="5"></textarea>
          </div>
        </div>
        
        <div class="row text-right">
          <div class="col-sm-4 col-sm-offset-8">
            <label>
              RN: <input id="cc-rn" class="pure-u-1-2 input--inline" type="text" v-model="cc_rn">
            </label>
          </div>
        </div>
      </fieldset>

      <fieldset>      
        <div class="mt1">
          <legend><b><h2>DISCHARGE STATUS</h2></b></legend>
        </div>
        <div class="row text-left">
          <div class="col-sm">
            <label for="discharge-condition"><b>Discharge Condition:</b></label>
          </div>
        </div>
        <div class="row text-left mt1">
          <div class="col-sm col-xs-6">
            <label for="dc-bp">
              BP: <input id="dc-bp" class="pure-input-1-2 input--inline" type="text" v-model="dc_bp">mmHg
            </label>
          </div>
          <div class="col-sm col-xs-6">
            <label for="dc-pr">
              PR: <input id="dc-pr" class="pure-input-1-2 input--inline" type="text" v-model="dc_pr">/min
            </label>
          </div>
          <div class="col-sm col-xs-6">
            <label for="dc-rr">
              RR: <input id="dc-rr" class="pure-input-1-2 input--inline" type="text" v-model="dc_rr">/min
            </label>
          </div>
          <div class="col-sm col-xs-6">
            <label for="dc-t">
              T: <input id="dc-t" class="pure-input-1-2 input--inline" type="text" v-model="dc_t">&#176;C
            </label>
          </div>
          <div class="col-sm col-xs-6">
            <label for="dc-o2sat">
              O2Sat: <input id="dc-o2sat" class="pure-input-1-2 input--inline" type="text" v-model="dc_o2sat">%
            </label>
          </div>
        </div>
      </fieldset>

      <legend></legend>
      <fieldset>
        <div class="row text-left mt2">
          <div class="col-sm-2 col-xs-12">
            <label for="discharge-to"><b>Discharge to:</b></label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="discharge-to-home">
              <input type="checkbox" name="discharge-to-home" id="discharge-to-home" v-model="discharge_to_home">
              Home
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="discharge-to-admission-room">
              <input type="checkbox" name="discharge-to-admission-room" id="discharge-to-admission-room" v-model="discharge_to_admission_room">
              Admission room
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="against-medical-advice" style="color:red;">
              <input type="checkbox" name="against-medical-advice" id="against-medical-advice" v-model="against_medical_advice">
              Against Medical Advice**
            </label>
          </div>
        </div>

        <div class="row text-left mt1">
          <div class="col-sm-2 col-xs-12 col-sm-offset-2">
            <label for="discharge-to-refer">
              <input type="checkbox" name="discharge-to-refer" id="discharge-to-refer" v-model="discharge_to_refer">
              Refer
            </label>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div v-if="discharge_to_refer">
              <input id="discharge-to-refer-input" type="text" v-model="discharge_to_refer_input" class="pure-input-3-4">
            </div>
          </div>
          <div class="col-sm-1 col-xs-12">
            <label for="discharge-to-reason">
              <input type="checkbox" name="discharge-to-reason" id="discharge-to-reason" v-model="discharge_to_reason">
              Reason
            </label>    
          </div>
          <div class="col-sm-2 col-xs-12">
            <div v-if="discharge_to_reason">
              <input id="discharge-to-reason-input" type="text" v-model="discharge_to_reason_input" class="pure-input-1">
            </div>
          </div>
        </div>

        <div class="row text-left mt1">
          <div class="col-sm-3 col-xs-12 col-sm-offset-2">
            <label for="sent-patient-with-film">
              <input type="checkbox" name="sent-patient-with-film" id="sent-patient-with-film" v-model="sent_patient_with_film">
              Sent patient with Film/CD/Other
            </label>
          </div>
          <div class="col-sm-2" v-if="sent_patient_with_film">
            <input id="discharge-to-refer-input" type="text" v-model="sent_patient_with_film_input" class="pure-input-1">
          </div>
        </div>

        <div class="row text-left mt1">
          <div class="col-sm-2 col-xs-12 col-sm-offset-2">
            <label for="discharge-to-hospital">
              <input type="checkbox" name="discharge-to-hospital" id="discharge-to-hospital" v-model="discharge_to_hospital">
              Hospital
            </label>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div v-if="discharge_to_hospital">
              <input id="discharge-to-hospital-input" type="text" v-model="discharge_to_hospital_input" class="pure-input-3-4">
            </div>
          </div>
          <div class="col-sm-1 col-xs-12">
            <label for="discharge-for">
              <input type="checkbox" name="discharge-for" id="discharge-for" v-model="discharge_for">
              For
            </label>    
          </div>
          <div class="col-sm-2 col-xs-12">
            <div v-if="discharge_for">
              <input id="discharge-for-inpuit" type="text" v-model="discharge_for_input" class="pure-input-1">
            </div>
          </div>
        </div>

        <div class="row text-left mt1">
          <div class="col-sm-3 col-xs-12 col-sm-offset-2">
            <label for="discharge-to-dead">
                <input type="checkbox" name="discharge-to-dead" id="discharge-to-dead" v-model="discharge_to_dead">
                Dead (see CPR Record)
            </label>
          </div>
        </div>
      </fieldset>

      <legend></legend>
      <fieldset>
        <div class="row text-left mt1">
          <div class="col-sm-4 col-xs-12">
            <label><b>Patient Instruction prior to discharge:</b></label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="patient-instruction-patient">
              <input type="checkbox" name="patient-instruction-patient" id="patient-instruction-patient" v-model="patient_instruction_patient">
              Patient
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="patient-instruction-patients-relative">
              <input type="checkbox" name="patient-instruction-patients-relative" id="patient-instruction-patients-relative" v-model="patient_instruction_patients_relatives">
              Patient's Relatives
            </label>
          </div>
          <div class="col-sm-1 col-xs-12">
            <label for="patient-instruction-patient-other">
              <input type="checkbox" name="patient-instruction-patient-other" id="patient-instruction-patient-other" v-model="patient_instruction_patient_other">
              Other
            </label>
          </div>
          <div class="col-sm-2 col-xs-12" v-if="patient_instruction_patient_other">
            <input id="patient-instruction-patient-other-input" type="text" v-model="patient_instruction_patient_other_input" class="pure-input-1">
          </div>
        </div>

        <div class="row text-left">
          <div class="col-sm-2 col-xs-12 col-sm-offset-2">
            <label for="health-education">
              <input type="checkbox" name="health-education" id="health-education" v-model="health_education">
              Health education
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="medication">
              <input type="checkbox" name="medication" id="medication" v-model="medication">
              Medication
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="wound-care">
              <input type="checkbox" name="wound-care" id="wound-care" v-model="wound_care">
              Wound Care
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="splint-care">
              <input type="checkbox" name="splint-care" id="splint-care" v-model="splint_care">
              Splint Care
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="npo-6-8-hours">
              <input type="checkbox" name="npo-6-8-hours" id="npo-6-8-hours" v-model="npo_6_8_hours">
              NPO 6-8 hours
            </label>
          </div>
        </div>

        <div class="row text-left">
          <div class="col-sm-4 col-xs-12 col-sm-offset-2">
            <label for="observe-neuro-signs">
              <input type="checkbox" name="observe-neuro-signs" id="observe-neuro-signs" v-model="observe_neuro_signs">
              Observe Neuro Signs
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="patient-instruction-blood-collection">
              <input type="checkbox" name="patient-instruction-blood-collection" id="patient-instruction-blood-collection" v-model="patient_instruction_blood_collection">
              Blood Collection
            </label>
          </div>
        </div>

        <!-- <div class="row text-left">
          <div class="col-sm-8 col-xs-12 col-sm-offset-2">
            <label for="urgent-sign">
              <input type="checkbox" name="urgent-sign" id="urgent-sign" v-model="urgent_sign">
              Urgent sign please contact hospital emergency tel. (+66) 95-424-0444
            </label>
          </div>
        </div> -->

        <div class="row text-left">
          <div class="col-sm-2 col-xs-12 col-sm-offset-2">
            <label for="patient-instruction-other">
              <input type="checkbox" name="patient-instruction-other" id="patient-instruction-other" v-model="patient_instruction_other">
              Other
            </label>
            <div v-if="patient_instruction_other">
              <input id="patient-instruction-other-input" type="text" v-model="patient_instruction_other_input" class="pure-input-1">
            </div>
          </div>
          <div class="col-sm-2 col-xs-12 text-right">
            <label for="patient-instruction-followup-date">Follow up date</label>
          </div>
          <div class="col-sm-3 col-xs-12">
              <flat-pickr
                class="pure-input-1"
                v-model="patient_instruction_followup_date"
                :config="patientInstructionFollowupDateConfig"
                placeholder="Select date"
                name="patient-instruction-followup-date">
              </flat-pickr>
          </div>
          <div class="col-sm-3 col-xs-12">
              <flat-pickr
                class="pure-input-1"
                v-model="patient_instruction_followup_time"
                :config="patientInstructionFollowupTimeConfig"
                placeholder="Select time"
                name="patient-instruction-followup-time">
              </flat-pickr>
          </div>
        </div>
      </fieldset>

      <legend></legend>
      <fieldset>
        <div class="row text-left">
          <div class="col-sm-4 col-xs-12">
            <label for="inform-consent"><b>Instruction document given to patient :</b></label>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label for="instruction-doc-no">
              <input type="checkbox" name="instruction-doc-no" id="instruction-doc-no" v-model="instruction_doc_no">
              NO
            </label>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label for="instruction-doc-yes">
              <input type="checkbox" name="instruction-doc-yes" id="instruction-doc-yes" v-model="instruction_doc_yes">
              YES (Speciality)
            </label>
          </div>
          <div class="col-sm-4 col-xs-12" v-if="instruction_doc_yes">
            <input id="instruction-doc-yes-input" type="text" v-model="instruction_doc_yes_input" class="pure-input-1">
          </div>
        </div>
      </fieldset>

      <legend></legend>
      <fieldset>
        <div class="row text-left">
          <div class="col-sm-3 col-xs-12">
            <label for="inform-consent"><b>Education Perception :</b></label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="education-perception-3">
              <input type="checkbox" name="education-perception-3" id="education-perception-3" v-model="education_perception_3">
              3= Excellent
            </label>
          </div>
          <div class="col-sm-4">
            <label>
              <input v-if="education_perception_3" placeholder="comment" class="pure-input-1" type="text" name="education-perception-3-cm" id="education-perception-3-cm" v-model="education_perception_3_cm">
            </label>
          </div>
          <div class="col-sm-2 col-xs-12 col-sm-offset-3">
            <label for="education-perception-2">
              <input type="checkbox" name="education-perception-2" id="education-perception-2" v-model="education_perception_2">
              2 = Good
            </label>
          </div>
          <div class="col-sm-4">
            <label>
              <input v-if="education_perception_2" placeholder="comment" class="pure-input-1" type="text" name="education-perception-2-cm" id="education-perception-2-cm" v-model="education_perception_2_cm">
            </label>
          </div>
          <div class="col-sm-5 col-xs-12 col-sm-offset-3">
            <label for="education-perception-1">
              <input type="checkbox" name="education-perception-1" id="education-perception-1" v-model="education_perception_1">
              1 = Fair (Patient/Family Indicates Understanding)
            </label>
          </div>
          <div class="col-sm-4">
            <label>
              <input v-if="education_perception_1" placeholder="comment" class="pure-input-1" type="text" name="education-perception-1-cm" id="education-perception-1-cm" v-model="education_perception_1_cm">
            </label>
          </div>
          <div class="col-sm-5 col-xs-12 col-sm-offset-3">
            <label for="education-perception-0">
              <input type="checkbox" name="education-perception-0" id="education-perception-0" v-model="education_perception_0">
              0 = NOT Understand (Recommend Review)
            </label>
          </div>
          <div class="col-sm-4">
            <label>
              <input v-if="education_perception_0" placeholder="comment" class="pure-input-1" type="text" name="education-perception-0-cm" id="education-perception-0-cm" v-model="education_perception_0_cm">
            </label>
          </div>
        </div>

      </fieldset>

      <legend></legend>
      <fieldset>
        <div class="row">
          <div class="col-sm-2 col-xs-12">
            <label for="primary-language">Primary Language</label>
            <input type="text" name="primary-language" id="primary-language" class="pure-input-1" v-model="primary_language">
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="written-language">Written Language</label>
            <input type="text" name="written-language" id="written-language" class="pure-input-1" v-model="written_language">
          </div>
          <div class="col-sm-2 text-right">
            <label for="">Refer to interpreter</label>
          </div>
          <div class="col-sm-1 col-xs-12 text-left">
            <label for="interpreter-no" class="pure-checkbox">
              <input id="interpreter-no" type="checkbox" name="interpreter-no" v-model="interpreter_no">
              NO
            </label>
          </div>
          <div class="col-sm-1 col-xs-12 text-left">
            <label for="interpreter-yes" class="pure-checkbox">
              <input id="interpreter-yes" type="checkbox" name="interpreter-yes" v-model="interpreter_yes">
              YES
            </label>
          </div>
          <div class="col-sm-3 col-xs-12" v-if="interpreter_yes">
            <label for="interpreter-name">Name</label>
            <input id="interpreter-name" type="text" v-model="interpreter_name" class="pure-input-1">
          </div>
        </div>
      </fieldset>

      <div class="row">
        <div class="col-sm-2 col-xs-12 col-sm-offset-8">
          <label for="discharge-staff-name">RN</label>
          <input type="text" name="discharge-staff-name" id="discharge-staff-name" class="pure-input-1" v-model="discharge_staff_name">
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="discharge-time">Time</label>
          <flat-pickr
            class="pure-input-1"
            v-model="discharge_time"
            :config="dischargeTimeConfig"
            placeholder="Select time"
            name="discharge-time"
            id="discharge-time">
          </flat-pickr>
        </div>
      </div>

      <legend></legend>

      <div class="row text-left mt3" style="color:blue;">
        <div class="col-sm">
          <label for="remark">Remark Please mark "NA" under the item that is not applicable "NSF" No significant findings</label>
        </div>
      </div>
      <div class="row text-left" style="color:blue;">
        <div class="col-sm">
          <label for="dang">Dangerous abbreviations 1) U 2) IU 3) QD 4) QOD 5) MS 6) MSO4 7) MGSO4 8) Never write "0" after a decimal point (X mg) 9) Always use "0" before a decimal point (0.X mg 10) CC 11) OD</label>
        </div>
      </div>
      <!-- START OF NOTE -->
      <!-- <div class="row text-left">
        <div class="col-sm-6 col-xs-12">
          <legend></legend>
          <label for="note">Note</label>
          <textarea id="note" v-model="note" class="pure-input-1"></textarea>
        </div>
      </div> -->
      <!-- END OF NOTE -->

      <!-- START OF button group -->
      <fieldset>
        <button type="submit" class="pure-button">Submit</button>
        <button type="reset" class="pure-button" v-if="!isEdit">Cancel</button>
        <button @click="resetForm()" type="button" class="pure-button" v-else>Cancel</button>
        <button type="button" class="pure-button button-error" v-if="isEdit" title="Delete" @click="deleteVisitForm" style="margin-left: 1rem;">
          <icon name="trash"></icon>
        </button>
        <button type="button" class="pure-button button-error" v-if="isEdit && !isApprove" title="Approve this form" @click="approveVisitForm">
          <icon name="exclamation-circle" style="vertical-align: top;"></icon>&nbsp;Pending
        </button>
      </fieldset>
      <!-- END OF button group -->

      <p class="text-right m0" v-if="isEdit && user && user.id"><small>Last updated: {{ user.name }}</small></p>
      <p class="text-right m0" v-if="isEdit && approveUser && approveUser.id"><small>Approved by: {{ approveUser.name }}</small></p>
    </form>
    <!-- END OF FORM ELEMENT -->
  </section>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import { precheckFormData } from './index'
import getAge from '../../filters/age.js'

export default {
  name: 'forms-nursing-assessment',
  props: ['patient', 'isEdit', 'isApprove', 'visitFormId', 'user', 'approveUser'],
  components: {
    flatPickr
  },
  data () {
    return {
      title: null,
      first_name: null,
      last_name: null,
      dob: null,
      age: null,
      gender: null,
      hospital_number_display: null,
      // an: null,
      first_visited_date: null,
      stay_length_end: null,
      stay_length_end_time: null,
      leave_island_des: null,
      time_to_arrival: new Date(),
      time_to_phys: new Date(),
      ni_bp: null,
      ni_pr: null,
      ni_rr: null,
      ni_t: null,
      ni_o2sat: null,
      ni_dtx: null,
      ni_bw: null,
      ni_ht: null,
      ni_bmi: null,
      gcs_e: null,
      gcs_v: null,
      gcs_m: null,
      gcs_pupil: null,
      gcs_lt: null,
      gcs_rt: null,
      pregnancy_na: false,
      pregnancy_no: false,
      pregnancy_yes: false,
      pregnancy_g: null,
      pregnancy_p: null,
      pregnancy_a: null,
      pregnancy_ga: null,
      pregnancy_by: null,
      esl_level_superred: null,
      esl_level_red: null,
      esl_level_yellow: null,
      esl_level_green: null,
      esl_level_white: null,
      lmp: null,
      contra_no: false,
      contra_yes: false,
      contra_input: null,
      contra_input_other: null,
      mode_of_arrival_walk: null,
      mode_of_arrival_wheelchair: null,
      mode_of_arrival_stretcher: null,
      pain_score: null,
      location: null,
      duration: null,
      frequency_cont: null,
      frequency_inter: null,
      assessment_tool_nips: null,
      assessment_tool_flacc: null,
      assessment_tool_faces: null,
      assessment_tool_nrs: null,
      assessment_tool_pps: null,
      tetanus_never: null,
      tetanus_more_10yrs: null,
      tetanus_5_10yrs: null,
      tetanus_less_5yrs: null,
      tetanus_na: null,
      tetanus_other: null,
      tetanus_other_input: null,
      rabies_never: null,
      rabies_more3inj: null,
      rabies_na: null,
      rabies_other: null,
      rabies_other_input: null,
      purpose_walkin: null,
      purpose_followup: null,
      purpose_refer: null,
      purpose_amp_pickup: null,
      refer_from: null,
      amb_pickup_from: null,
      escort_none: null,
      escort_family: null,
      escort_other: null,
      escort_other_input: null,
      general_appearance_good: null,
      general_appearance_bedridden: null,
      general_appearance_other: null,
      general_appearance_other_input: null,
      allergy_reaction_nka: null,
      allergy_reaction_yes: null,
      allergy_reaction_yes_input: null,
      past_history_none: null,
      past_history_yes: null,
      past_history: null,
      surgical_history_none: null,
      surgical_history_yes: null,
      surgical_history: null,
      current_med_none: false,
      current_med_yes: false,
      current_med: null,
      smoking_none: false,
      smoking_yes: false,
      smoking: null,
      alcohol_none: false,
      alcohol_yes: false,
      alcohol: null,
      cc_pta: null,
      family_history: null,
      chief_complaint: null,
      cc_rn: null,
      fall_precaution_standard: null,
      fall_precaution_moderate: null,
      fall_precaution_strict: null,
      dc_bp: null,
      dc_pr: null,
      dc_rr: null,
      dc_t: null,
      dc_o2sat: null,
      discharge_to_home: false,
      discharge_to_admission_room: false,
      against_medical_advice: false,
      discharge_to_refer: false,
      discharge_to_refer_input: null,
      discharge_to_reason: null,
      discharge_to_reason_input: null,
      sent_patient_with_film: false,
      sent_patient_with_film_input: null,
      discharge_to_hospital: false,
      discharge_to_hospital_input: null,
      discharge_for: null,
      discharge_for_input: null,
      discharge_to_dead: false,
      patient_instruction_patient: false,
      patient_instruction_patients_relatives: false,
      patient_instruction_patient_other: false,
      patient_instruction_patient_other_input: null,
      health_education: false,
      medication: false,
      wound_care: false,
      splint_care: false,
      npo_6_8_hours: false,
      patient_instruction_blood_collection: false,
      observe_neuro_signs: false,
      urgent_sign: false,
      patient_instruction_other: false,
      patient_instruction_other_input: null,
      patient_instruction_followup_date: null,
      patient_instruction_followup_time: null,
      instruction_doc_no: false,
      instruction_doc_yes: false,
      instruction_doc_yes_input: null,
      education_perception_3: false,
      education_perception_3_cm: null,
      education_perception_2: false,
      education_perception_2_cm: null,
      education_perception_1: false,
      education_perception_1_cm: null,
      education_perception_0: false,
      education_perception_0_cm: null,
      primary_language: null,
      written_language: null,
      interpreter_yes: false,
      interpreter_no: false,
      interpreter_name: null,
      discharge_staff_name: null,
      discharge_time: null,
      note: null,
      // date config
      dateOfBirthConfig: {
        dataFormat: 'Y-m-d',
        maxDate: new Date()
      },
      visitDateConfig: {
        dataFormat: 'Y-m-d'
      },
      patientInstructionFollowupDateConfig: {
        dataFormat: 'Y-m-d',
        minDate: new Date()
      },
      patientInstructionFollowupTimeConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        time_24hr: true
      },
      stayEndDateConfig: {
        dataFormat: 'Y-m-d H:i',
        enableTime: true,
        time_24hr: true,
        enableSeconds: false
      },
      lmpDateConfig: {
        dataFormat: 'Y-m-d'
      },
      // time config
      dischargeTimeConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        enableSeconds: false,
        time_24hr: true
      },
      timeToArrivalConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        enableSeconds: false,
        time_24hr: true
      },
      timeToPhysConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        enableSeconds: false,
        time_24hr: true
      },
      stayEndTimeConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        enableSeconds: false,
        time_24hr: true
      }
    }
  },
  created () {
    this.fillForm()
  },
  methods: {
    fillForm () {
      if (this.$lodash.isEmpty(this.patient)) return

      if (this.patient.title) {
        this.title = this.patient.title
      } else {
        this.title = this.patient.gender === 'male' ? 'Mr.' : this.patient.marital_status === 'married' ? 'Mrs.' : 'Ms.'
      }
      this.first_name = this.patient.first_name || null
      this.last_name = this.patient.last_name || null
      this.dob = this.patient.dob || null
      this.age = getAge(this.patient.dob) || null
      if (this.patient.gender) {
        this.gender = this.patient.gender === 'male' ? 'Male' : this.patient.gender === 'female' ? 'Female' : 'Other'
      } else {
        this.gender = null
      }
      this.hospital_number_display = this.patient.hospital_number_display || null
      this.an = this.patient.an || null
      this.first_visited_date = this.patient.first_visited_date || null
      this.stay_length_end = this.patient.stay_length_end || null
      this.stay_length_end_time = this.patient.stay_length_end_time || null
      this.leave_island_des = this.patient.leave_island_des || null
      this.time_to_arrival = this.patient.time_to_arrival || null
      this.time_to_phys = this.patient.time_to_phys || null
      this.ni_bp = this.patient.ni_bp || null
      this.ni_pr = this.patient.ni_pr || null
      this.ni_rr = this.patient.ni_rr || null
      this.ni_t = this.patient.ni_t || null
      this.ni_o2sat = this.patient.ni_o2sat || null
      this.ni_dtx = this.patient.ni_dtx || null
      this.ni_bw = this.patient.ni_bw || null
      this.ni_ht = this.patient.ni_ht || null
      this.ni_bmi = this.patient.ni_bmi || null
      this.gcs_e = this.patient.gcs_e || null
      this.gcs_v = this.patient.gcs_v || null
      this.gcs_m = this.patient.gcs_m || null
      this.gcs_pupil = this.patient.gcs_pupil || null
      this.gcs_lt = this.patient.gcs_lt || null
      this.gcs_rt = this.patient.gcs_rt || null
      this.pregnancy_na = this.patient.pregnancy_na || null
      this.pregnancy_no = this.patient.pregnancy_no || null
      this.pregnancy_yes = this.patient.pregnancy_yes || null
      this.pregnancy_g = this.patient.pregnancy_g || null
      this.pregnancy_p = this.patient.pregnancy_p || null
      this.pregnancy_a = this.patient.pregnancy_a || null
      this.pregnancy_ga = this.patient.pregnancy_ga || null
      this.pregnancy_by = this.patient.pregnancy_by || null
      this.esl_level_superred = this.patient.esl_level_superred || null
      this.esl_level_red = this.patient.esl_level_red || null
      this.esl_level_yellow = this.patient.esl_level_yellow || null
      this.esl_level_green = this.patient.esl_level_green || null
      this.esl_level_white = this.patient.esl_level_white || null
      this.lmp = this.patient.lmp || null
      this.contra_no = this.patient.contra_no || null
      this.contra_yes = this.patient.contra_yes || null
      if (this.patient.contra_input) {
        this.contra_yes = true
        this.contra_input = this.patient.contra_input
      }
      if (this.patient.contra_yes === false) {
        this.contra_yes = false
        this.contra_input = null
      }
      this.contra_input_other = this.patient.contra_input_other || null
      this.mode_of_arrival_walk = this.patient.mode_of_arrival_walk || null
      this.mode_of_arrival_wheelchair = this.patient.mode_of_arrival_wheelchair || null
      this.mode_of_arrival_stretcher = this.patient.mode_of_arrival_stretcher || null
      this.pain_score = this.patient.pain_score || null
      this.location = this.patient.location || null
      this.duration = this.patient.duration || null
      this.frequency_cont = this.patient.frequency_cont || null
      this.frequency_inter = this.patient.frequency_inter || null
      this.assessment_tool_nips = this.patient.assessment_tool_nips || null
      this.assessment_tool_flacc = this.patient.assessment_tool_flacc || null
      this.assessment_tool_faces = this.patient.assessment_tool_faces || null
      this.assessment_tool_nrs = this.patient.assessment_tool_nrs || null
      this.assessment_tool_pps = this.patient.assessment_tool_pps || null
      this.tetanus_never = this.patient.tetanus_never || null
      this.tetanus_more_10yrs = this.patient.tetanus_more_10yrs || null
      this.tetanus_5_10yrs = this.patient.tetanus_5_10yrs || null
      this.tetanus_less_5yrs = this.patient.tetanus_less_5yrs || null
      this.tetanus_na = this.patient.tetanus_na || null
      this.tetanus_other_input = this.patient.tetanus_other_input || null
      if (this.patient.tetanus_other_input) {
        this.tetanus_other = true
        this.tetanus_other_input = this.patient.tetanus_other_input
      }
      this.rabies_never = this.patient.rabies_never || null
      this.rabies_more3inj = this.patient.rabies_more3inj || null
      this.rabies_na = this.patient.rabies_na || null
      this.rabies_other = this.patient.rabies_other || null
      if (this.patient.rabies_other_input) {
        this.rabies_other = true
        this.rabies_other_input = this.patient.rabies_other_input
      }
      this.purpose_walkin = this.patient.purpose_walkin || null
      this.purpose_followup = this.patient.purpose_followup || null
      this.purpose_refer = this.patient.purpose_refer || null
      this.purpose_amp_pickup = this.patient.purpose_amp_pickup || null
      if (this.patient.refer_from) {
        this.purpose_refer = true
        this.refer_from = this.patient.refer_from
      }
      if (this.patient.amb_pickup_from) {
        this.purpose_amp_pickup = true
        this.amb_pickup_from = this.patient.amb_pickup_from
      }
      this.escort_none = this.patient.escort_none || null
      this.escort_family = this.patient.escort_family || null
      this.escort_other = this.patient.escort_other || null
      if (this.patient.escort_other_input) {
        this.escort_other = true
        this.escort_other_input = this.patient.escort_other_input
      }
      this.general_appearance_good = this.patient.general_appearance_good || null
      this.general_appearance_bedridden = this.patient.general_appearance_bedridden || null
      this.general_appearance_other = this.patient.general_appearance_other || null
      if (this.patient.general_appearance_other_input) {
        this.general_appearance_other = true
        this.general_appearance_other_input = this.patient.general_appearance_other_input
      }
      // link drug_allergy field from patient object
      if (this.patient.drug_allergy) {
        const allergy = this.patient.drug_allergy.toLowerCase()
        if (allergy === 'no') {
          this.allergy_reaction_nka = true
          this.allergy_reaction_yes = false
        } else {
          this.allergy_reaction_yes = true
          this.allergy_reaction_yes_input = allergy
        }
      }
      if (this.patient.allergy_reaction_yes_input) {
        this.allergy_reaction_yes = true
        this.allergy_reaction_yes_input = this.patient.allergy_reaction_yes_input
      }
      // this.past_history_none = this.patient.past_history_none || null
      // this.past_history_yes = this.patient.past_history_yes || null
      // if (this.patient.past_history) {
      //   this.past_history_yes = true
      //   this.past_history = this.patient.past_history
      // }
      this.past_history = this.patient.past_history || null
      // this.surgical_history_none = this.patient.surgical_history_none || null
      // this.surgical_history_yes = this.patient.surgical_history_yes || null
      // if (this.patient.surgical_history) {
      //   this.surgical_history_yes = true
      //   this.surgical_history = this.patient.surgical_history
      // }
      this.surgical_history = this.patient.surgical_history || null
      this.current_med_none = this.patient.current_med_none || null
      this.current_med_yes = this.patient.current_med_yes || null
      this.current_med = this.patient.current_med || null
      // if (this.patient.current_med) {
      //   this.current_med_yes = true
      //   this.current_med = this.patient.current_med
      // }
      this.smoking_none = this.patient.smoking_none || null
      this.smoking_yes = this.patient.smoking_yes || null
      if (this.patient.smoking) {
        this.smoking_yes = true
        this.smoking = this.patient.smoking
      }
      this.alcohol_none = this.patient.alcohol_none || null
      this.alcohol_yes = this.patient.alcohol_yes || null
      if (this.patient.alcohol) {
        this.alcohol_yes = true
        this.alcohol = this.patient.alcohol
      }
      this.cc_pta = this.patient.cc_pta || null
      this.family_history = this.patient.family_history || null
      this.chief_complaint = this.patient.chief_complaint || null
      this.cc_rn = this.patient.cc_rn || null
      this.fall_precaution_standard = this.patient.fall_precaution_standard || null
      this.fall_precaution_strict = this.patient.fall_precaution_strict || null
      this.fall_precaution_moderate = this.patient.fall_precaution_moderate || null
      this.dc_bp = this.patient.dc_bp || null
      this.dc_pr = this.patient.dc_pr || null
      this.dc_rr = this.patient.dc_rr || null
      this.dc_t = this.patient.dc_t || null
      this.dc_o2sat = this.patient.dc_o2sat || null
      this.discharge_to_home = this.patient.discharge_to_home || null
      this.discharge_to_admission_room = this.patient.discharge_to_admission_room || null
      this.against_medical_advice = this.patient.against_medical_advice || null
      this.discharge_to_refer = this.patient.discharge_to_refer || null
      if (this.discharge_to_refer_input) {
        this.discharge_to_refer = true
        this.discharge_to_refer_input = this.patient.discharge_to_refer_input
      }
      this.discharge_to_reason = this.patient.discharge_to_reason || null
      if (this.discharge_to_reason_input) {
        this.discharge_to_reason = true
        this.discharge_to_reason_input = this.patient.discharge_to_reason_input
      }
      this.sent_patient_with_film_input = this.patient.sent_patient_with_film_input
      if (this.sent_patient_with_film_input) {
        this.sent_patient_with_film = true
        this.sent_patient_with_film_input = this.patient.sent_patient_with_film_input
      }
      this.discharge_to_hospital = this.patient.discharge_to_hospital || null
      if (this.discharge_to_hospital_input) {
        this.discharge_to_hospital = true
        this.discharge_to_hospital_input = this.patient.discharge_to_hospital_input
      }
      this.discharge_for = this.patient.discharge_for || null
      if (this.dischrage_for_input) {
        this.discharge_for = true
        this.discharge_for_input = this.patient.discharge_for_input
      }
      this.discharge_to_dead = this.patient.discharge_to_dead || null
      this.patient_instruction_patient = this.patient.patient_instruction_patient || null
      this.patient_instruction_patients_relatives = this.patient.patient_instruction_patients_relatives || null
      if (this.patient_instruction_patient_other_input) {
        this.patient_instruction_patient_other = true
        this.patient_instruction_patient_other_input = this.patient.patient_instruction_patient_other_input
      }
      this.health_education = this.patient.health_education || null
      this.medication = this.patient.medication || null
      this.wound_care = this.patient.wound_care || null
      this.splint_care = this.patient.splint_care || null
      this.npo_6_8_hours = this.patient.npo_6_8_hours || null
      this.patient_instruction_blood_collection = this.patient.patient_instruction_blood_collection || null
      this.observe_neuro_signs = this.patient.observe_neuro_signs || null
      this.urgent_sign = this.patient.urgent_sign || null
      this.note = this.patient.note
      if (this.patient_instruction_other_input) {
        this.patient_instruction_other = true
        this.patient_instruction_other_input = this.patient.patient_instruction_other_input
      }
      this.patient_instruction_followup_date = this.patient.patient_instruction_followup_date || null
      this.patient_instruction_followup_time = this.patient.patient_instruction_followup_time || null
      this.instruction_doc_no = this.patient.instruction_doc_no || null
      this.instruction_doc_yes = this.patient.instruction_doc_yes || null
      if (this.instruction_doc_yes_input) {
        this.instruction_doc_yes = true
        this.instruction_doc_yes_input = this.patient.instruction_doc_yes_input
      }
      this.education_perception_3_cm = this.patient.education_perception_3_cm || null
      this.education_perception_3 = this.patient.education_perception_3 || null
      this.education_perception_2 = this.patient.education_perception_2 || null
      this.education_perception_2_cm = this.patient.education_perception_2_cm || null
      this.education_perception_1 = this.patient.education_perception_1 || null
      this.education_perception_1_cm = this.patient.education_perception_1_cm || null
      this.education_perception_0 = this.patient.education_perception_0 || null
      this.education_perception_0_cm = this.patient.education_perception_0_cm || null
      this.primary_language = this.patient.primary_language || null
      this.written_language = this.patient.written_language || null
      this.interpreter_no = this.patient.interpreter_no || null
      this.interpreter_yes = this.patient.interpreter_yes || null
      if (this.interpreter_name) {
        this.interpreter_yes = true
        this.interpreter_name = this.patient.interpreter_name
      }
      this.discharge_staff_name = this.patient.discharge_staff_name || null
      this.discharge_time = this.patient.discharge_time || null
    },
    submitForm () {
      const data = {
        title: this.title,
        first_name: this.first_name,
        last_name: this.last_name,
        dob: this.dob,
        age: this.age,
        gender: this.gender,
        hospital_number_display: this.hospital_number_display,
        an: this.an,
        first_visited_date: this.first_visited_date,
        nursingProcessData: this.nursingProcessData,
        stay_length_end: this.stay_length_end,
        stay_length_end_time: this.stay_length_end_time,
        leave_island_des: this.leave_island_des,
        time_to_arrival: this.time_to_arrival,
        time_to_phys: this.time_to_phys,
        ni_bp: this.ni_bp,
        ni_pr: this.ni_pr,
        ni_rr: this.ni_rr,
        ni_t: this.ni_t,
        ni_o2sat: this.ni_o2sat,
        ni_dtx: this.ni_dtx,
        ni_bw: this.ni_bw,
        ni_ht: this.ni_ht,
        ni_bmi: this.ni_bmi,
        gcs_e: this.gcs_e,
        gcs_v: this.gcs_v,
        gcs_m: this.gcs_m,
        gcs_pupil: this.gcs_pupil,
        gcs_lt: this.gcs_lt,
        gcs_rt: this.gcs_rt,
        pregnancy_na: this.pregnancy_na,
        pregnancy_no: this.pregnancy_no,
        pregnancy_yes: this.pregnancy_yes,
        pregnancy_g: this.pregnancy_yes || this.pregnancy_no ? this.pregnancy_g : null,
        pregnancy_p: this.pregnancy_yes || this.pregnancy_no ? this.pregnancy_p : null,
        pregnancy_a: this.pregnancy_yes || this.pregnancy_no ? this.pregnancy_a : null,
        pregnancy_ga: this.pregnancy_yes || this.pregnancy_no ? this.pregnancy_ga : null,
        pregnancy_by: this.pregnancy_yes || this.pregnancy_no ? this.pregnancy_by : null,
        esl_level_superred: this.esl_level_superred,
        esl_level_red: this.esl_level_red,
        esl_level_yellow: this.esl_level_yellow,
        esl_level_green: this.esl_level_green,
        esl_level_white: this.esl_level_white,
        lmp: this.pregnancy_yes || this.pregnancy_no ? this.lmp : null,
        contra_no: this.pregnancy_yes || this.pregnancy_no ? this.contra_no : false,
        contra_yes: this.pregnancy_yes || this.pregnancy_no ? this.contra_yes : false,
        contra_input: this.contra_yes ? this.contra_input : null,
        contra_input_other: this.contra_input === 'OTHER' ? this.contra_input_other : null,
        mode_of_arrival_walk: this.mode_of_arrival_walk,
        mode_of_arrival_wheelchair: this.mode_of_arrival_wheelchair,
        mode_of_arrival_stretcher: this.mode_of_arrival_stretcher,
        pain_score: this.pain_score,
        location: this.location,
        duration: this.duration,
        frequency_cont: this.frequency_cont,
        frequency_inter: this.frequency_inter,
        assessment_tool_nips: this.assessment_tool_nips,
        assessment_tool_flacc: this.assessment_tool_flacc,
        assessment_tool_faces: this.assessment_tool_faces,
        assessment_tool_nrs: this.assessment_tool_nrs,
        assessment_tool_pps: this.assessment_tool_pps,
        tetanus_never: this.tetanus_never,
        tetanus_more_10yrs: this.tetanus_more_10yrs,
        tetanus_5_10yrs: this.tetanus_5_10yrs,
        tetanus_less_5yrs: this.tetanus_less_5yrs,
        tetanus_na: this.tetanus_na,
        tetanus_other: this.tetanus_other,
        tetanus_other_input: this.tetanus_other ? this.tetanus_other_input : null,
        rabies_never: this.rabies_never,
        rabies_more3inj: this.rabies_more3inj,
        rabies_na: this.rabies_na,
        rabies_other: this.rabies_other,
        rabies_other_input: this.rabies_other ? this.rabies_other_input : null,
        purpose_walkin: this.purpose_walkin,
        purpose_followup: this.purpose_followup,
        purpose_refer: this.purpose_refer,
        refer_from: this.purpose_refer ? this.refer_from : null,
        purpose_amp_pickup: this.purpose_amp_pickup,
        amb_pickup_from: this.purpose_amp_pickup ? this.amb_pickup_from : null,
        escort_none: this.escort_none,
        escort_family: this.escort_family,
        escort_other: this.escort_other,
        escort_other_input: this.escort_other ? this.escort_other_input : null,
        general_appearance_good: this.general_appearance_good,
        general_appearance_bedridden: this.general_appearance_bedridden,
        general_appearance_other: this.general_appearance_other,
        general_appearance_other_input: this.general_appearance_other ? this.general_appearance_other_input : null,
        allergy_reaction_nka: this.allergy_reaction_nka,
        allergy_reaction_yes: this.allergy_reaction_yes,
        allergy_reaction_yes_input: this.allergy_reaction_yes ? this.allergy_reaction_yes_input : null,
        past_history_none: this.past_history_none,
        past_history_yes: this.past_history_yes,
        past_history: this.past_history,
        surgical_history_none: this.surgical_history_none,
        surgical_history_yes: this.surgical_history_yes,
        surgical_history: this.surgical_history,
        current_med_none: this.current_med_none,
        current_med_yes: this.current_med_yes,
        current_med: this.current_med_yes ? this.current_med : null,
        smoking_none: this.smoking_none,
        smoking_yes: this.smoking_yes,
        smoking: this.smoking_yes ? this.smoking : null,
        alcohol_none: this.alcohol_none,
        alcohol_yes: this.alcohol_yes,
        alcohol: this.alcohol_yes ? this.alcohol : null,
        cc_pta: this.cc_pta,
        family_history: this.family_history,
        chief_complaint: this.chief_complaint,
        cc_rn: this.cc_rn,
        fall_precaution_standard: this.fall_precaution_standard,
        fall_precaution_strict: this.fall_precaution_strict,
        fall_precaution_moderate: this.fall_precaution_moderate,
        dc_bp: this.dc_bp,
        dc_pr: this.dc_pr,
        dc_rr: this.dc_rr,
        dc_t: this.dc_t,
        dc_o2sat: this.dc_o2sat,
        discharge_to_home: this.discharge_to_home,
        discharge_to_admission_room: this.discharge_to_admission_room,
        against_medical_advice: this.against_medical_advice,
        discharge_to_refer: this.discharge_to_refer,
        discharge_to_refer_input: this.discharge_to_refer ? this.discharge_to_refer_input : null,
        discharge_to_reason: this.discharge_to_reason,
        discharge_to_reason_input: this.discharge_to_reason ? this.discharge_to_reason_input : null,
        sent_patient_with_film: this.sent_patient_with_film,
        sent_patient_with_film_input: this.sent_patient_with_film ? this.sent_patient_with_film_input : null,
        discharge_to_hospital: this.discharge_to_hospital,
        discharge_to_hospital_input: this.discharge_to_hospital ? this.discharge_to_hospital_input : null,
        discharge_for: this.discharge_for,
        discharge_for_input: this.discharge_for ? this.discharge_for_input : null,
        discharge_to_dead: this.discharge_to_dead,
        patient_instruction_patient: this.patient_instruction_patient,
        patient_instruction_patients_relatives: this.patient_instruction_patients_relatives,
        patient_instruction_patient_other: this.patient_instruction_patient_other,
        patient_instruction_patient_other_input: this.patient_instruction_patient_other ? this.patient_instruction_patient_other_input : null,
        health_education: this.health_education,
        medication: this.medication,
        wound_care: this.wound_care,
        splint_care: this.splint_care,
        npo_6_8_hours: this.npo_6_8_hours,
        patient_instruction_blood_collection: this.patient_instruction_blood_collection,
        observe_neuro_signs: this.observe_neuro_signs,
        urgent_sign: this.urgent_sign,
        patient_instruction_other: this.patient_instruction_other,
        patient_instruction_other_input: this.patient_instruction_other ? this.patient_instruction_other_input : null,
        patient_instruction_followup_date: this.patient_instruction_followup_date,
        patient_instruction_followup_time: this.patient_instruction_followup_time,
        instruction_doc_no: this.instruction_doc_no,
        instruction_doc_yes: this.instruction_doc_yes,
        instruction_doc_yes_input: this.instruction_doc_yes ? this.instruction_doc_yes_input : null,
        education_perception_3: this.education_perception_3,
        education_perception_3_cm: this.education_perception_3 ? this.education_perception_3_cm : null,
        education_perception_2: this.education_perception_2,
        education_perception_2_cm: this.education_perception_2 ? this.education_perception_2_cm : null,
        education_perception_1: this.education_perception_1,
        education_perception_1_cm: this.education_perception_1 ? this.education_perception_1_cm : null,
        education_perception_0: this.education_perception_0,
        education_perception_0_cm: this.education_perception_0 ? this.education_perception_0_cm : null,
        primary_language: this.primary_language,
        written_language: this.written_language,
        interpreter_no: this.interpreter_no,
        interpreter_yes: this.interpreter_yes,
        interpreter_name: this.interpreter_yes ? this.interpreter_name : null,
        discharge_staff_name: this.discharge_staff_name,
        discharge_time: this.discharge_time,
        note: this.note || null
        // nursing process dynamic array
      }

      // nursing intervention has formId = 4
      const body = precheckFormData(4, data)

      if (!body) {
        alert('Something went wrong (missing parameters)')
        return
      }

      if (this.isEdit) {
        this.$emit('submit', { action: 'edit', body, visitFormId: this.visitFormId })
      } else {
        this.$emit('submit', { action: 'create', body })
      }
    },

    deleteVisitForm (id) {
      this.$emit('submit', { action: 'delete', visitFormId: this.visitFormId })
    },
    approveVisitForm (id) {
      this.$emit('submit', { action: 'approve', visitFormId: this.visitFormId })
    },
    // hit cancel button on edit mode
    resetForm () {
      const answer = confirm('Are you sure you want to discard your changes?')

      if (!answer) return
      this.fillForm()
    }
  }
}
</script>
