<template>
  <section class="content">
    <!-- <pre>{{ patient }}</pre> -->
    <h1>{{ isEdit ? 'Update': '' }} Nursing Assessment (part 1)</h1>
    <form class="nursing-assessment-form1 pure-form pure-form-stacked" v-on:submit.prevent="submitForm">
      <div class="row text-left">
        <div class="col-xs-12 col-sm-3">
          <label for="title">Prefix</label>
          <select id="title" v-model="title" class="pure-input-1" disabled>
            <option>Mr.</option>
            <option>Mrs.</option>
            <option>Ms.</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="first_name">First name</label>
            <input id="first_name" type="text" v-model="first_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="last_name">Last name</label>
            <input id="last_name" type="text" v-model="last_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="dob">DOB</label>
          <flat-pickr
            v-model="dob"
            :config="dateOfBirthConfig"
            placeholder="Select date"
            class="pure-input-1"
            name="dob"
            disabled>
          </flat-pickr>
        </div>
      </div>

      <div class="row mt2">
        <div class="col-sm col-xs-6">
          <label for="age">Age</label>
          <input id="age" class="pure-input-1" type="text" v-model="age" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="gender">Gender</label>
          <select id="gender" v-model="gender" class="pure-input-1" disabled readonly>
            <option>male</option>
            <option>female</option>
            <option>other</option>
          </select>
        </div>
        <div class="col-sm col-xs-6">
          <label for="cn-hn">CN/HN:</label>
          <input id="cn-hn" class="pure-input-1" type="text" v-model="hospital_number_display" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="an">AN:</label>
          <input id="an" class="pure-input-1" type="text" v-model="an">
        </div>
        <div class="col-sm col-xs-12">
          <label for="visit-date">Visit date:</label>
          <flat-pickr
            class="pure-input-1"
            v-model="first_visited_date"
            :config="visitDateConfig"
            placeholder="Select date"
            name="visit_date">
          </flat-pickr>
        </div>
      </div>
      <div class="row mt2">
        <div class="col-sm col-xs-6">
          <label for="ward">WARD</label>
          <input id="ward" class="pure-input-1" type="text" v-model="ward">
        </div>      
        <div class="col-sm col-xs-6">
          <label for="page">Page</label>
          <input id="page" class="pure-input-1" type="text" v-model="page">
        </div>
      </div>

      <legend class="mt3"><h3>Personal Data</h3></legend>
      <div class="row text-left mt2">
        <div class="col-xs-12 col-sm">
          <label for="title">Prefix</label>
          <select id="title" v-model="title" class="pure-input-1" disabled>
            <option>Mr.</option>
            <option>Mrs.</option>
            <option>Ms.</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm">
            <label for="first_name">First name</label>
            <input id="first_name" type="text" v-model="first_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm">
            <label for="last_name">Last name</label>
            <input id="last_name" type="text" v-model="last_name" class="pure-input-1" readonly>
        </div>
      </div>

      <div class="row text-left">
        <div class="col-sm-4 col-xs-12">
          <label for="gender">SEX</label>
          <select id="gender" v-model="gender" class="pure-input-1" disabled readonly>
            <option>male</option>
            <option>female</option>
            <option>other</option>
          </select>
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="education">Education</label>
          <input id="education" type="text" v-model="education" class="pure-input-1">
        </div>
      </div>

      <div class="row text-left">
        <div class="col-sm col-xs-12">
          <label for="visit-date">Admission Date</label>
          <flat-pickr
            class="pure-input-1"
            v-model="admission_date"
            :config="admissionDateConfig"
            placeholder="Select date"
            name="admission_date">
          </flat-pickr>
        </div>
        <div class="col-sm col-xs-12">
          <label for="visit-date">Time</label>
          <flat-pickr
            class="pure-input-1"
            v-model="admission_time"
            :config="admissionTimeConfig"
            placeholder="Select date"
            name="admission_time">
          </flat-pickr>
        </div>
        <div class="col-sm col-xs-12">
          <label for="ocupation">Occupation</label>
          <input id="ocupation" type="text" v-model="ocupation" class="pure-input-1"> 
        </div>
      </div>

      <fieldset>
        <div class="row text-left mt3">
          <div class="col-sm-2 col-xs-12">
            <label for="mode-of-arrival">Mode of arrival :</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="mode-of-arrival-walk">
              <input type="checkbox" name="mode-of-arrival-walk" id="mode-of-arrival-walk" v-model="mode_of_arrival_walk">
              Walk
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="mode-of-arrival-wheelchair">
              <input type="checkbox" name="mode-of-arrival-wheelchair" id="mode-of-arrival-wheelchair" v-model="mode_of_arrival_wheelchair">
              Wheel chair
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="mode-of-arrival-stretcher">
              <input type="checkbox" name="mode-of-arrival-stretcher" id="mode-of-arrival-stretcher" v-model="mode_of_arrival_stretcher">
              Stretcher
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="mode-of-arrival-other">
              <input type="checkbox" name="mode-of-arrival-other" id="mode-of-arrival-other" v-model="mode_of_arrival_other">
              Other
            </label>
            <input v-if="mode_of_arrival_other" id="mode_of_arrival_other_input" type="text" v-model="mode_of_arrival_other_input" class="pure-input-1"> 
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="row text-left mt3">
          <div class="col-sm-2 col-xs-12">
            <label for="admit_from">Admitted From :</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="admit_from_er">
              <input type="checkbox" name="admit_from_er" id="admit_from_er" v-model="admit_from_er">
              ER
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="admit_from_opd">
              <input type="checkbox" name="admit_from_opd" id="admit_from_opd" v-model="admit_from_opd">
                OPD
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="admit_from_other">
              <input type="checkbox" name="admit_from_other" id="admit_from_other" v-model="admit_from_other">
                Other
            </label>
            <input v-if="admit_from_other" id="admit_from_other_input" type="text" v-model="admit_from_other_input" class="pure-input-1"> 
          </div>
        </div>
      </fieldset>

      <div class="row text-left mt2">
        <legend class="col-xs-12" id="vital-sign">Vital sign</legend>
        <div class="col-sm-4 col-xs-12">
          <label for="vs_c">
            Temp: <input id="vs_c" class="pure-input-1-2 input--inline" type="text" v-model="vs_c"> &#176;C
          </label>
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="vs_p">
            HR: <input id="vs_p" class="pure-u-1-2 input--inline" type="text" v-model="vs_p"> /min
          </label>
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="vs_r">
            Resp: <input id="vs_r" class="pure-u-1-2 input--inline" type="text" v-model="vs_r"> /min
          </label>
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="vs_bp">
            BP: <input id="vs_bp" class="pure-u-1-2 input--inline" type="text" v-model="vs_bp"> mmHg
          </label>
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="vs_h">
            Height: <input id="vs_h" class="pure-u-1-2 input--inline" type="text" v-model="vs_h"> cm.
          </label>
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="vs_w">
            Weight: <input id="vs_w" class="pure-u-1-2 input--inline" type="text" v-model="vs_w"> kg.
          </label>
        </div>
      </div>

      <div class="row text-left mt2">
        <div class="col-sm-6 col-xs-12">
          <label for="diagnosis">Diagnosis</label>
          <textarea id="diagnosis" type="text" v-model="diagnosis" class="pure-input-1"></textarea>
        </div>
        <div class="col-sm-6 col-xs-12">
          <label for="chief_complaint">Chief Complaint</label>
          <textarea id="chief_complaint" type="text" v-model="chief_complaint" class="pure-input-1"></textarea>
        </div>        
      </div>

      <div class="row text-left mt2">
        <div class="col-sm-4 col-xs-12">
          <label for="present_illness">Present illness</label>
          <textarea id="present_illness" type="text" v-model="present_illness" class="pure-input-1"></textarea>
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="past_illnes">Past illness</label>
          <textarea id="past_illnes" type="text" v-model="past_illnes" class="pure-input-1"></textarea>
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="family_illnest_history">Family illness history</label>
          <textarea id="family_illnest_history" type="text" v-model="family_illnest_history" class="pure-input-1"></textarea>
        </div>
      </div>

      <div class="row text-left mt2">
        <div class="col-sm-4 col-xs-12">
          <label for="allergy" style="color: red;">Allergies (Drug, Food, Other)</label>
          <input id="allergy" type="text" v-model="allergy" class="pure-input-1">
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="reaction">Reaction</label>
          <input id="reaction" type="text" v-model="reaction" class="pure-input-1">
        </div>
      </div>
      
      <legend></legend>

      <fieldset>
        <div class="row text-left mt2">
          <div class="col-sm-2 col-xs-12">
            <label for="exe">Exercise :</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="exe_none">
              <input type="checkbox" id="exe_none" v-model="exe_none">
              None
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="exe_always">
              <input type="checkbox" id="exe_always" v-model="exe_always">
                Always
            </label>
            <input v-if="exe_always" id="exe_always_input" type="text" v-model="exe_always_input" class="pure-input-1"> 
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="exe_always_sometime">
              <input type="checkbox" id="exe_always_sometime" v-model="exe_always_sometime">
                Sometimes
            </label>
            <input v-if="exe_always_sometime" id="exe_always_sometime_input" type="text" v-model="exe_always_sometime_input" class="pure-input-1"> 
          </div>
        </div>
      </fieldset>

      <legend></legend>
      
      <div class="row text-left mt2">
        <div class="col-sm-4 col-xs-12">
          <label>
            Sleep/Rest : <input id="sleep_hr" class="pure-u-1-2 input--inline" type="text" v-model="sleep_hr"> hr/day
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="sleep_enough">
            <input type="checkbox" id="sleep_enough" v-model="sleep_enough">
            Enough
          </label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="sleep_not_enough">
            <input type="checkbox" id="sleep_not_enough" v-model="sleep_not_enough">
              Not enough
          </label>
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="sleep_help">What helped in the past?</label>
          <input id="sleep_help" class="pure-u-1" type="text" v-model="sleep_help">
        </div>
      </div>

      <legend></legend>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-3 col-xs-12">
            <label for="sleep">Information provided by :</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="provide_patient">
              <input type="checkbox" id="provide_patient" v-model="provide_patient">
              Patient
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <label for="Other">
              <input type="checkbox" id="Other" v-model="provide_other">
                Other
            </label>
            <input v-if="provide_other" id="provide_other_input" type="text" v-model="provide_other_input" class="pure-input-1"> 
          </div> 
        </div>

        <div class="row text-left mt2">
          <div class="col-sm-4 col-xs-12">
            <label for="emer_name">Emergency Notify : Name</label>
            <input id="emer_name" class="pure-u-1" type="text" v-model="emer_name">
          </div>
          <div class="col-sm-4 col-xs-12">
            <label for="emer_relationship">Relationship</label>
            <input id="emer_relationship" class="pure-u-1" type="text" v-model="emer_relationship">
          </div>
          <div class="col-sm-4 col-xs-12">
            <label for="emer_phone">Phone</label>
            <input id="emer_phone" class="pure-u-1" type="text" v-model="emer_phone">
          </div>
        </div>
      </fieldset>

      <legend></legend>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="tobacco">Tobacco :</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="tobacco_none">
              <input type="checkbox" id="tobacco_none" v-model="tobacco_none">
              None
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="tobacco_quit">
              <input type="checkbox" id="tobacco_quit" v-model="tobacco_quit">
              Quit
            </label>
            <input v-if="tobacco_quit" id="tobacco_quit_input" type="text" v-model="tobacco_quit_input" class="pure-input-1"> 
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="smoke_duration">Smoked deration</label>
            <input id="smoke_duration" class="pure-u-1" type="text" v-model="smoke_duration">
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="tobacco_quit_duration">Quit duration</label>
            <input id="tobacco_quit_duration" class="pure-u-1" type="text" v-model="tobacco_quit_duration">
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="tobacco_continuous">
              <input type="checkbox" id="tobacco_continuous" v-model="tobacco_continuous">
              Continuous
            </label>
            <input v-if="tobacco_continuous" id="tobacco_continuous_input" type="text" v-model="tobacco_continuous_input" class="pure-input-1"> 
          </div>
          <div class="col-sm-4 col-xs-12 mt2">
            <label for="tobacco_frequency">
              Frequency <input id="tobacco_frequency" class="pure-u-1-2 input--inline" type="text" v-model="tobacco_frequency"> /day
            </label>
          </div>
          <div class="col-sm-4 col-xs-12 mt2">
            <label for="tobacco_duration">
              duration <input id="tobacco_duration" class="pure-u-1-2 input--inline" type="text" v-model="tobacco_duration">
            </label>
          </div>
        </div>
      </fieldset>

      <legend></legend>

      <fieldset>
        <div class="row text-left mt3">
          <div class="col-sm-2 col-xs-12">
            <label for="alcohol">Alcohol :</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="alcohol_none">
              <input type="checkbox" id="alcohol_none" v-model="alcohol_none">
              None
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="alcohol_quit">
              <input type="checkbox" id="alcohol_quit" v-model="alcohol_quit">
              Quit
            </label>
            <input v-if="alcohol_quit" id="alcohol_quit_input" type="text" v-model="alcohol_quit_input" class="pure-input-1"> 
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="drunk_duration">Drunk deration</label>
            <input id="drunk_duration" class="pure-u-1" type="text" v-model="drunk_duration">
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="alcohol_quit_duration">Quit duration</label>
            <input id="alcohol_quit_duration" class="pure-u-1" type="text" v-model="alcohol_quit_duration">
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="alcohol_continuous">
              <input type="checkbox" id="alcohol_continuous" v-model="alcohol_continuous">
              Continuous
            </label>
            <input v-if="alcohol_continuous" id="alcohol_continuous_input" type="text" v-model="alcohol_continuous_input" class="pure-input-1"> 
          </div>
          <div class="col-sm-4 col-xs-12 mt2">
            <label for="alcohol_frequency">
              Frequency <input id="alcohol_frequency" class="pure-u-1-2 input--inline" type="text" v-model="alcohol_frequency"> /day
            </label>
          </div>
          <div class="col-sm-2 col-xs-12 mt2">
            <label for="alcohol_duration">
              duration <input id="alcohol_duration" class="pure-u-1-2 input--inline" type="text" v-model="alcohol_duration">
            </label>
          </div>
        </div>
      </fieldset>
      
      <legend class="mt3"><h3>Spiritual / Cultural Needs / Emotional Support</h3></legend>

      <div class="row text-left mt3">
        <div class="col-sm-2 col-xs-12">
          <label for="Religion">Religion</label>
          <input id="religion" class="pure-u-1" type="text" v-model="religion">
        </div>
      </div>
      <div class="row text-left mt3">
        <div class="col-sm-6 col-xs-12">
          <label for="Special Religious"  style="color: red;">Special Religious / Cultural consideration for hospitalization</label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="special_religious_yes">
            <input type="checkbox" name="special_religious_yes" id="mode-of-arrival-walk" v-model="special_religious_yes">
            Yes
          </label>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label for="special_religious_no">
            <input type="checkbox" name="special_religious_no" id="mode-of-arrival-walk" v-model="special_religious_no">
            No
          </label>
        </div>
        <div class="col-sm-4 col-xs-12">
          <label for="special_religious_yes_describe">(if yes, describe)</label>
          <input id="special_religious_yes_describe" class="pure-u-1" type="text" v-model="special_religious_yes_describe">
        </div>
      </div>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="anx">Anxiety :</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="anx_none">
              <input type="checkbox" id="anx_none" v-model="anx_none">
              None
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="anx_illness">
              <input type="checkbox" id="anx_illness" v-model="anx_illness">
              Illness
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="anx_finance">
              <input type="checkbox" id="anx_finance" v-model="anx_finance">
              Finance
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="anx_family">
              <input type="checkbox" id="anx_family" v-model="anx_family">
              Family
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="anx_other">
              <input type="checkbox" id="anx_other" v-model="anx_other">
                other
            </label>
            <input v-if="anx_other" id="anx_other_input" type="text" v-model="anx_other_input" class="pure-input-1"> 
          </div>
        </div>
      </fieldset>      
      
      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="suport_sys">Support System</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="suport_sys_none">
              <input type="checkbox" id="suport_sys_none" v-model="suport_sys_none">
              None
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="suport_sys_parent">
              <input type="checkbox" id="suport_sys_parent" v-model="suport_sys_parent">
              Parents
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="suport_sys_sp_family">
              <input type="checkbox" id="suport_sys_sp_family" v-model="suport_sys_sp_family">
              Spouse & family
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="suport_sys_friend">
              <input type="checkbox" id="suport_sys_friend" v-model="suport_sys_friend">
              Friend(s)
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="suport_sys_re_act">
              <input type="checkbox" id="suport_sys_re_act" v-model="suport_sys_re_act">
              Religious activity
            </label>
          </div>
        </div>
      </fieldset>
      
      <legend class="mt3"><h3>Nutrition / Metabolism</h3></legend>
      
      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-sm-offset-2 col-xs-12">
            <label for="ordinary_diet">
              <input type="checkbox" id="ordinary_diet" v-model="ordinary_diet">
              Ordinary Diet
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="soft_diet">
              <input type="checkbox" id="soft_diet" v-model="soft_diet">
              Liquid / Soft Diet
            </label>
          </div>
        </div>
      </fieldset>

      <legend></legend>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="Appetite">Appetite</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="appe_good">
              <input type="checkbox" id="appe_good" v-model="appe_good">
              Good
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="appe_fair">
              <input type="checkbox" id="appe_fair" v-model="appe_fair">
              Fair
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="appe_poor">
              <input type="checkbox" id="soft_diet" v-model="appe_poor">
              Poor
            </label>
          </div>
        </div>
      </fieldset>

      <legend></legend>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="Special Diet">Special Diet</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="spe_diet_dm">
              <input type="checkbox" id="spe_diet_dm" v-model="spe_diet_dm">
              DM
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="spe_diet_lowna">
              <input type="checkbox" id="spe_diet_lowna" v-model="spe_diet_lowna">
              Low Na
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="spe_diet_lowprot">
              <input type="checkbox" id="spe_diet_lowprot" v-model="spe_diet_lowprot">
              Low Prot.
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="spe_diet_highprot">
              <input type="checkbox" id="spe_diet_highprot" v-model="spe_diet_highprot">
              High Prot.
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="spe_diet_other">
              <input type="checkbox" id="spe_diet_other" v-model="spe_diet_other">
              Other
            </label>
            <input v-if="spe_diet_other" id="spe_diet_other_input" type="text" v-model="spe_diet_other_input" class="pure-input-1"> 
          </div>
        </div>
      </fieldset>
        
      <legend></legend>

      <div class="row text-left mt2">
        <div class="col-sm-2 col-sm-offset-2  col-xs-12">
          <label for="npo">
            <input type="checkbox" id="npo" v-model="npo">
            NPO
          </label>
        </div>
      </div>

      <legend></legend>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="Feedind">Feedind</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="feedind_salf">
              <input type="checkbox" id="feedind_salf" v-model="feedind_salf">
              Salf
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="feedind_assisted">
              <input type="checkbox" id="feedind_assisted" v-model="feedind_assisted">
              Assisted
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="feedind_ngog">
              <input type="checkbox" id="feedind_ngog" v-model="feedind_ngog">
              NG / OG
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="feedind_gas">
              <input type="checkbox" id="feedind_gas" v-model="feedind_gas">
              Gastrostomy / Jejunostomy tube
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="feedind_parent">
              <input type="checkbox" id="feedind_parent" v-model="feedind_parent">
              Parenteral nutrition
            </label>
          </div>
        </div>
      </fieldset>

      <legend></legend>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="Swallowing Difficulty">Swallowing Difficulty</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="swall_diff_none">
              <input type="checkbox" id="swall_diff_none" v-model="swall_diff_none">
              None
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="swall_diff_solid">
              <input type="checkbox" id="swall_diff_solid" v-model="swall_diff_solid">
              Solid
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="swall_diff_liq">
              <input type="checkbox" id="swall_diff_liq" v-model="swall_diff_liq">
              Liquid
            </label>
          </div>
        </div>
      </fieldset>

      <legend></legend>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="GI. Problem">GI. Problem</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="gi_prob_non">
              <input type="checkbox" id="gi_prob_non" v-model="gi_prob_non">
              None
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="gi_prob_nausea">
              <input type="checkbox" id="gi_prob_nausea" v-model="gi_prob_nausea">
              Nausea
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="gi_prob_vom">
              <input type="checkbox" id="gi_prob_vom" v-model="gi_prob_vom">
              Vomitting
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="gi_prob_other">
              <input type="checkbox" id="gi_prob_other" v-model="gi_prob_other">
              Other
            </label>
            <input v-if="gi_prob_other" id="gi_prob_other_input" type="text" v-model="gi_prob_other_input" class="pure-input-1"> 
          </div>
        </div>
      </fieldset>

      <legend></legend>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="Weight change">Weight change :</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="weight_change_unknow">
              <input type="checkbox" id="weight_change_unknow" v-model="weight_change_unknow">
              Unknow
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="weight_change_yes">
              <input type="checkbox" id="weight_change_yes" v-model="weight_change_yes">
              Yes
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="weight_change_no">
              <input type="checkbox" id="weight_change_no" v-model="weight_change_no">
              No
            </label>
          </div>
        </div>
      </fieldset>

      <div class="row text-left">
        <div class="col-sm-2 col-xs-12">
          <label for="Weight change if yes">if yes :</label>
        </div>
        <div class="col-sm-2 col-xs-12">
          <label for="wc_loss">
            <input type="checkbox" id="wc_loss" v-model="wc_loss">
            Loss
          </label>
        </div>
        <div class="col-sm-8 col-xs-12" v-if="wc_loss">
          <label>
            <input id="wc_loss_kg" class="pure-input-1-4 input--inline" type="text" v-model="wc_loss_kg"> Kg / <input id="wc_loss_wk" class="pure-input-1-4 input--inline" type="text" v-model="wc_loss_wk"> Wk / mth / yr
          </label>
        </div>
      </div>

      <div class="row text-left mt1">
        <div class="col-sm-offset-2 col-sm-2 col-xs-12">
          <label for="wc_gain">
            <input type="checkbox" id="wc_gain" v-model="wc_gain">
            Gain
          </label>
        </div>
        <div class="col-sm-8 col-xs-12" v-if="wc_gain">
          <label>
            <input id="wc_gain_kg" class="pure-input-1-4 input--inline" type="text" v-model="wc_gain_kg"> Kg / <input id="wc_gain_wk" class="pure-input-1-4 input--inline" type="text" v-model="wc_gain_wk"> Wk / mth / yr
          </label>
        </div>
      </div>

      <fieldset>
        <div class="mt3">
          <button type="submit" class="pure-button">Submit</button>
          <button type="reset" class="pure-button" v-if="!isEdit">Cancel</button>
          <button @click="resetForm()" type="button" class="pure-button" v-else>Cancel</button>
          <button type="button" class="pure-button button-error" v-if="isEdit" title="Delete" @click="deleteVisitForm" style="margin-left: 1rem;">
            <icon name="trash"></icon>
          </button>
          <button type="button" class="pure-button button-error" v-if="isEdit && !isApprove" title="Approve this form" @click="approveVisitForm">
            <icon name="exclamation-circle" style="vertical-align: top;"></icon>&nbsp;Pending
          </button>
        </div>

      </fieldset>
      <!-- END OF button group -->

      <p class="text-right m0" v-if="isEdit && user && user.id"><small>Last updated: {{ user.name }}</small></p>
      <p class="text-right m0" v-if="isEdit && approveUser && approveUser.id"><small>Approved by: {{ approveUser.name }}</small></p>
    </form>
  </section>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import { precheckFormData } from './index'
import getAge from '../../filters/age.js'

export default {
  name: 'forms-nursing-focus-list',
  props: ['patient', 'isEdit', 'isApprove', 'visitFormId', 'user', 'approveUser'],
  components: {
    flatPickr
  },
  data () {
    return {
      title: null,
      first_name: null,
      last_name: null,
      dob: null,
      age: null,
      gender: null,
      hospital_number_display: null,
      an: null,
      first_visited_date: null,
      ward: null,
      page: null,
      education: null,
      admission_date: null,
      admission_time: null,
      ocupation: null,
      mode_of_arrival_walk: false,
      mode_of_arrival_wheelchair: false,
      mode_of_arrival_stretcher: false,
      mode_of_arrival_other: false,
      mode_of_arrival_other_input: null,
      admit_from_er: false,
      admit_from_opd: false,
      admit_from_other: false,
      admit_from_other_input: null,
      vs_c: null,
      vs_p: null,
      vs_r: null,
      vs_bp: null,
      vs_h: null,
      vs_w: null,
      diagnosis: null,
      chief_complaint: null,
      present_illness: null,
      past_illnes: null,
      family_illnest_history: null,
      allergy: null,
      reaction: null,
      exe_none: false,
      exe_always: false,
      exe_always_input: null,
      exe_always_sometime: false,
      exe_always_sometime_input: null,
      sleep_hr: null,
      sleep_enough: false,
      sleep_not_enough: false,
      sleep_help: false,
      provide_patient: false,
      provide_other: false,
      provide_other_input: null,
      emer_name: null,
      emer_relationship: null,
      emer_phone: null,
      tobacco_none: false,
      tobacco_quit: false,
      tobacco_quit_input: null,
      smoke_duration: null,
      tobacco_quit_duration: null,
      tobacco_continuous: false,
      tobacco_continuous_input: null,
      tobacco_frequency: null,
      tobacco_duration: null,
      alcohol_none: false,
      alcohol_quit: false,
      alcohol_quit_input: null,
      drunk_duration: null,
      alcohol_quit_duration: null,
      alcohol_continuous: false,
      alcohol_continuous_input: null,
      alcohol_frequency: null,
      alcohol_duration: null,
      religion: null,
      special_religious_yes: false,
      special_religious_no: false,
      special_religious_yes_describe: null,
      anx_none: false,
      anx_illness: false,
      anx_finance: false,
      anx_family: false,
      anx_other: false,
      anx_other_input: null,
      suport_sys_none: false,
      suport_sys_parent: false,
      suport_sys_sp_family: false,
      suport_sys_friend: false,
      suport_sys_re_act: false,
      ordinary_diet: false,
      soft_diet: false,
      appe_good: false,
      appe_fair: false,
      appe_poor: false,
      spe_diet_dm: false,
      spe_diet_lowna: false,
      spe_diet_lowprot: false,
      spe_diet_highprot: false,
      spe_diet_other: false,
      spe_diet_other_input: null,
      npo: false,
      feedind_salf: false,
      feedind_assisted: false,
      feedind_ngog: false,
      feedind_gas: false,
      feedind_parent: false,
      swall_diff_none: false,
      swall_diff_solid: false,
      swall_diff_liq: false,
      gi_prob_non: false,
      gi_prob_nausea: false,
      gi_prob_vom: false,
      gi_prob_other: false,
      gi_prob_other_input: null,
      weight_change_unknow: false,
      weight_change_yes: false,
      weight_change_no: false,
      wc_loss: false,
      wc_loss_kg: null,
      wc_loss_wk: null,
      wc_gain: false,
      wc_gain_kg: null,
      wc_gain_wk: null,
      // date config
      dateOfBirthConfig: {
        dataFormat: 'Y-m-d',
        maxDate: new Date()
      },
      visitDateConfig: {
        dataFormat: 'Y-m-d'
      },
      admissionDateConfig: {
        dataFormat: 'Y-m-d'
      },
      // time config
      admissionTimeConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        enableSeconds: false,
        time_24hr: true
      }
    }
  },
  created () {
    this.fillForm()
  },
  methods: {
    fillForm () {
      if (this.$lodash.isEmpty(this.patient)) return
      if (this.patient.title) {
        this.title = this.patient.title
      } else {
        this.title = this.patient.gender === 'male' ? 'Mr.' : this.patient.marital_status === 'married' ? 'Mrs.' : 'Ms.'
      }
      this.first_name = this.patient.first_name || null
      this.last_name = this.patient.last_name || null
      this.dob = this.patient.dob || null
      this.opd_cc = this.patient.opd_cc || null
      this.opd_pi = this.patient.opd_pi || null
      this.age = this.patient.dob ? getAge(this.patient.dob) : this.patient.age
      this.gender = this.patient.gender || null
      this.hospital_number_display = this.patient.hospital_number_display || null
      this.an = this.patient.an || null
      this.first_visited_date = this.first_visited_date || null
      this.ward = this.patient.ward || null
      this.page = this.patient.page || null
      this.education = this.patient.education || null
      this.admission_date = this.patient.admission_date || null
      this.admission_time = this.patient.admission_time || null
      this.ocupation = this.patient.ocupation || null
      this.mode_of_arrival_walk = this.patient.mode_of_arrival_walk || null
      this.mode_of_arrival_wheelchair = this.patient.mode_of_arrival_wheelchair || null
      this.mode_of_arrival_stretcher = this.patient.mode_of_arrival_stretcher || null
      this.mode_of_arrival_other = this.patient.mode_of_arrival_other || null
      this.mode_of_arrival_other_input = this.patient.mode_of_arrival_other_input || null
      this.admit_from_er = this.patient.admit_from_er || null
      this.admit_from_opd = this.patient.admit_from_opd || null
      this.admit_from_other = this.patient.admit_from_other || null
      this.admit_from_other_input = this.patient.admit_from_other_input || null
      this.vs_c = this.patient.vs_c || null
      this.vs_p = this.patient.vs_p || null
      this.vs_r = this.patient.vs_r || null
      this.vs_bp = this.patient.vs_bp || null
      this.vs_h = this.patient.vs_h || null
      this.vs_w = this.patient.vs_w || null
      this.diagnosis = this.patient.diagnosis || null
      this.chief_complaint = this.patient.chief_complaint || null
      this.present_illness = this.patient.present_illness || null
      this.past_illnes = this.patient.past_illnes || null
      this.family_illnest_history = this.patient.family_illnest_history || null
      this.allergy = this.patient.allergy || null
      this.reaction = this.patient.reaction || null
      this.exe_none = this.patient.exe_none || null
      this.exe_always = this.patient.exe_always || null
      this.exe_always_input = this.patient.exe_always_input || null
      this.exe_always_sometime = this.patient.exe_always_sometime || null
      this.exe_always_sometime_input = this.patient.exe_always_sometime_input || null
      this.sleep_hr = this.patient.sleep_hr || null
      this.sleep_enough = this.patient.sleep_enough || null
      this.sleep_not_enough = this.patient.sleep_not_enough || null
      this.sleep_help = this.patient.sleep_help || null
      this.provide_patient = this.patient.provide_patient || null
      this.provide_other = this.patient.provide_other || null
      this.provide_other_input = this.patient.provide_other_input || null
      this.emer_name = this.patient.emer_name || null
      this.emer_relationship = this.patient.emer_relationship || null
      this.emer_phone = this.patient.emer_phone || null
      this.tobacco_none = this.patient.tobacco_none || null
      this.tobacco_quit = this.patient.tobacco_quit || null
      this.tobacco_quit_input = this.patient.tobacco_quit_input || null
      this.smoke_duration = this.patient.smoke_duration || null
      this.tobacco_quit_duration = this.patient.tobacco_quit_duration || null
      this.tobacco_continuous = this.patient.tobacco_continuous || null
      this.tobacco_continuous_input = this.patient.tobacco_continuous_input || null
      this.tobacco_frequency = this.patient.tobacco_frequency || null
      this.tobacco_duration = this.patient.tobacco_duration || null
      this.alcohol_none = this.patient.alcohol_none || null
      this.alcohol_quit = this.patient.alcohol_quit || null
      this.alcohol_quit_input = this.patient.alcohol_quit_input || null
      this.drunk_duration = this.patient.drunk_duration || null
      this.alcohol_quit_duration = this.patient.alcohol_quit_duration || null
      this.alcohol_continuous = this.patient.alcohol_continuous || null
      this.xxxalcohol_continuous_inputxx = this.patient.alcohol_continuous_input || null
      this.alcohol_frequency = this.patient.alcohol_frequency || null
      this.alcohol_duration = this.patient.alcohol_duration || null
      this.religion = this.patient.religion || null
      this.special_religious_yes = this.patient.special_religious_yes || null
      this.special_religious_no = this.patient.special_religious_no || null
      this.special_religious_yes_describe = this.patient.special_religious_yes_describe || null
      this.anx_none = this.patient.anx_none || null
      this.anx_illness = this.patient.anx_illness || null
      this.anx_finance = this.patient.anx_finance || null
      this.anx_family = this.patient.anx_family || null
      this.anx_other = this.patient.anx_other || null
      this.anx_other_input = this.patient.anx_other_input || null
      this.suport_sys_none = this.patient.suport_sys_none || null
      this.suport_sys_parent = this.patient.suport_sys_parent || null
      this.suport_sys_sp_family = this.patient.suport_sys_sp_family || null
      this.suport_sys_friend = this.patient.suport_sys_friend || null
      this.suport_sys_re_act = this.patient.suport_sys_re_act || null
      this.ordinary_diet = this.patient.ordinary_diet || null
      this.soft_diet = this.patient.soft_diet || null
      this.appe_good = this.patient.appe_good || null
      this.appe_fair = this.patient.appe_fair || null
      this.appe_poor = this.patient.appe_poor || null
      this.spe_diet_dm = this.patient.spe_diet_dm || null
      this.spe_diet_lowna = this.patient.spe_diet_lowna || null
      this.spe_diet_lowprot = this.patient.spe_diet_lowprot || null
      this.spe_diet_highprot = this.patient.spe_diet_highprot || null
      this.spe_diet_other = this.patient.spe_diet_other || null
      this.spe_diet_other_input = this.patient.spe_diet_other_input || null
      this.npo = this.patient.npo || null
      this.feedind_salf = this.patient.feedind_salf || null
      this.feedind_assisted = this.patient.feedind_assisted || null
      this.feedind_ngog = this.patient.feedind_ngog || null
      this.feedind_gas = this.patient.feedind_gas || null
      this.feedind_parent = this.patient.feedind_parent || null
      this.swall_diff_none = this.patient.swall_diff_none || null
      this.swall_diff_solid = this.patient.swall_diff_solid || null
      this.swall_diff_liq = this.patient.swall_diff_liq || null
      this.gi_prob_non = this.patient.gi_prob_non || null
      this.gi_prob_nausea = this.patient.gi_prob_nausea || null
      this.gi_prob_vom = this.patient.gi_prob_vom || null
      this.gi_prob_other = this.patient.gi_prob_other || null
      this.gi_prob_other_input = this.patient.gi_prob_other_input || null
      this.weight_change_unknow = this.patient.weight_change_unknow || null
      this.weight_change_yes = this.patient.weight_change_yes || null
      this.weight_change_no = this.patient.weight_change_no || null
      this.wc_loss = this.patient.wc_loss || null
      this.wc_loss_kg = this.patient.wc_loss_kg || null
      this.wc_loss_wk = this.patient.wc_loss_wk || null
      this.wc_gain = this.patient.wc_gain || null
      this.wc_gain_kg = this.patient.wc_gain_kg || null
      this.wc_gain_wk = this.patient.wc_gain_wk || null
    },
    submitForm () {
      const data = {
        title: this.title,
        first_name: this.first_name,
        last_name: this.last_name,
        dob: this.dob,
        opd_cc: this.opd_cc,
        opd_pi: this.opd_pi,
        age: this.age,
        gender: this.gender,
        hospital_number_display: this.hospital_number_display,
        an: this.an,
        first_visited_date: this.first_visited_date,
        ward: this.ward,
        page: this.page,
        education: this.education,
        admission_date: this.admission_date,
        admission_time: this.admission_time,
        ocupation: this.ocupation,
        mode_of_arrival_walk: this.mode_of_arrival_walk,
        mode_of_arrival_wheelchair: this.mode_of_arrival_wheelchair,
        mode_of_arrival_stretcher: this.mode_of_arrival_stretcher,
        mode_of_arrival_other: this.mode_of_arrival_otherpersonal_title,
        mode_of_arrival_other_input: this.mode_of_arrival_other ? this.mode_of_arrival_other_input : null,
        admit_from_er: this.admit_from_er,
        admit_from_opd: this.admit_from_opd,
        admit_from_other: this.admit_from_other,
        admit_from_other_input: this.admit_from_other ? this.admit_from_other_input : null,
        vs_c: this.vs_c,
        vs_p: this.vs_p,
        vs_r: this.vs_r,
        vs_bp: this.vs_bp,
        vs_h: this.vs_h,
        vs_w: this.vs_w,
        diagnosis: this.diagnosis,
        chief_complaint: this.chief_complaint,
        present_illness: this.present_illness,
        past_illnes: this.past_illnes,
        family_illnest_history: this.family_illnest_history,
        allergy: this.allergy,
        reaction: this.reaction,
        exe_none: this.exe_none,
        exe_always: this.exe_always,
        exe_always_input: this.exe_always ? this.exe_always_input : null,
        exe_always_sometime: this.exe_always_sometime,
        exe_always_sometime_input: this.exe_always_sometime ? this.exe_always_sometime_input : null,
        sleep_hr: this.sleep_hr,
        sleep_enough: this.sleep_enough,
        sleep_not_enough: this.sleep_not_enough,
        sleep_help: this.sleep_help,
        provide_patient: this.provide_patient,
        provide_other: this.provide_other,
        provide_other_input: this.provide_other ? this.provide_other_input : null,
        emer_name: this.emer_name,
        emer_relationship: this.emer_relationship,
        emer_phone: this.emer_phone,
        tobacco_none: this.tobacco_none,
        tobacco_quit: this.tobacco_quit,
        tobacco_quit_input: this.tobacco_quit ? this.tobacco_quit_input : null,
        smoke_duration: this.smoke_duration,
        tobacco_quit_duration: this.tobacco_quit_duration,
        tobacco_continuous: this.tobacco_continuous,
        tobacco_continuous_input: this.tobacco_continuous ? this.tobacco_continuous_input : null,
        tobacco_frequency: this.tobacco_frequency,
        tobacco_duration: this.tobacco_duration,
        alcohol_none: this.alcohol_none,
        alcohol_quit: this.alcohol_quit,
        alcohol_quit_input: this.alcohol_quit ? this.alcohol_quit_input : null,
        drunk_duration: this.drunk_duration,
        alcohol_quit_duration: this.alcohol_quit_duration,
        alcohol_continuous: this.alcohol_continuous,
        alcohol_continuous_input: this.alcohol_continuous ? this.alcohol_continuous_input : null,
        alcohol_frequency: this.alcohol_frequency,
        alcohol_duration: this.alcohol_duration,
        religion: this.religion,
        special_religious_yes: this.special_religious_yes,
        special_religious_no: this.special_religious_no,
        special_religious_yes_describe: this.special_religious_yes_describe,
        anx_none: this.anx_none,
        anx_illness: this.anx_illness,
        anx_finance: this.anx_finance,
        anx_family: this.anx_family,
        anx_other: this.anx_other,
        anx_other_input: this.anx_other_input,
        suport_sys_none: this.suport_sys_none,
        suport_sys_parent: this.suport_sys_parent,
        suport_sys_sp_family: this.suport_sys_sp_family,
        suport_sys_friend: this.suport_sys_friend,
        suport_sys_re_act: this.suport_sys_re_act,
        ordinary_diet: this.ordinary_diet,
        soft_diet: this.soft_diet,
        appe_good: this.appe_good,
        appe_fair: this.appe_fair,
        appe_poor: this.appe_poor,
        spe_diet_dm: this.spe_diet_dm,
        spe_diet_lowna: this.spe_diet_lowna,
        spe_diet_lowprot: this.spe_diet_lowprot,
        spe_diet_highprot: this.spe_diet_highprot,
        spe_diet_other: this.spe_diet_other,
        spe_diet_other_input: this.spe_diet_other ? this.spe_diet_other_input : null,
        npo: this.npo,
        feedind_salf: this.feedind_salf,
        feedind_assisted: this.feedind_assisted,
        feedind_ngog: this.feedind_ngog,
        feedind_gas: this.feedind_gas,
        feedind_parent: this.feedind_parent,
        swall_diff_none: this.swall_diff_none,
        swall_diff_solid: this.swall_diff_solid,
        swall_diff_liq: this.swall_diff_liq,
        gi_prob_non: this.gi_prob_non,
        gi_prob_nausea: this.gi_prob_nausea,
        gi_prob_vom: this.gi_prob_vom,
        gi_prob_other: this.gi_prob_other,
        gi_prob_other_input: this.gi_prob_other ? this.gi_prob_other_input : null,
        weight_change_unknow: this.weight_change_unknow,
        weight_change_yes: this.weight_change_yes,
        weight_change_no: this.weight_change_no,
        wc_loss: this.wc_loss,
        wc_loss_kg: this.wc_loss ? this.wc_loss_kg : null,
        wc_loss_wk: this.wc_loss ? this.wc_loss_wk : null,
        wc_gain: this.wc_gain,
        wc_gain_kg: this.wc_gain ? this.wc_gain_kg : null,
        wc_gain_wk: this.wc_gain ? this.wc_gain_wk : null
      }
      // const body = this.precheckBodyData(data)
      const body = precheckFormData(14, data)

      if (!body) {
        alert('Something went wrong (missing parameters)')
        return
      }

      if (this.isEdit) { // edit existing opd form
        this.$emit('submit', { action: 'edit', body, visitFormId: this.visitFormId })
      } else { // create new opd form
        this.$emit('submit', { action: 'create', body })
      }
    },
    deleteVisitForm (id) {
      this.$emit('submit', { action: 'delete', visitFormId: this.visitFormId })
    },
    approveVisitForm (id) {
      this.$emit('submit', { action: 'approve', visitFormId: this.visitFormId })
    },
    // hit cancel button on edit mode
    resetForm () {
      const answer = confirm('Are you sure you want to discard your changes?')

      if (!answer) return
      this.fillForm()
    }
  }
}
</script>
