<template>
<section class="content">
  <!-- <pre>{{ patient }}</pre> -->
    <h1>{{ isEdit ? 'UPDATE': '' }} NURSING CARE AND INTERVENTION</h1>
    <!-- START OF FORM ELEMENT -->
    <form class="nursing-in-form pure-form pure-form-stacked" v-on:submit.prevent="submitForm">
      <div class="row text-left">
        <legend><b>Patient Info</b></legend>
      </div>
      <div class="row mt1">
        <div class="col-xs-12 col-sm-2">
          <label for="title">Prefix</label>
          <select id="title" v-model="title" class="pure-input-1" disabled>
            <option>Mr.</option>
            <option>Mrs.</option>
            <option>Ms.</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label for="first_name">First name</label>
          <input id="first_name" type="text" v-model="first_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label for="last_name">Last name</label>
          <input id="last_name" type="text" v-model="last_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-2">
            <label for="dob">DOB</label>
            <flat-pickr
              v-model="dob"
              :config="dateOfBirthConfig"
              placeholder="Select date"
              class="pure-input-1"
              name="dob"
              disabled>
            </flat-pickr>
        </div>
      </div>

      <div class="row mt1">
        <div class="col-xs-12 col-sm-3">
          <label for="age">Age</label>
          <input id="age" type="text" v-model="age" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="gender">Gender</label>
          <select id="gender" v-model="gender" class="pure-input-1" disabled>
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="hn-cn">HN</label>
          <input id="hn-cn" type="text" v-model="hospital_number_display" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="visit-date">Visit date</label>
          <flat-pickr
            class="pure-input-1"
            v-model="visit_date"
            :config="visitDateConfig"
            placeholder="Select date"
            name="visit_date"
            disabled>
          </flat-pickr>
        </div>
        <!-- <div class="col-xs-12 col-sm-2">
          <label for="an">AN</label>
          <input id="an" type="text" v-model="an" class="pure-input-1">
        </div> -->
      </div>

      <fieldset>
        <div class="row mt2">
          <legend>
            <h2><b>NURSING CARE</b></h2>
          </legend>
        </div>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12 text-left">
            <label for="nursing-inter">Nursing Intervention:</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="nursing-inter-na">
              <input type="checkbox" name="nursing-inter-na" id="nursing-inter-na" v-model="nursing_inter_na">
              N/A
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="nursing-inter-yes">
              <input type="checkbox" name="nursing-inter-yes" id="nursing-inter-yes" v-model="nursing_inter_yes">
              YES
            </label>
          </div>
        </div>

        <div class="row text-left">
          <div class="col-sm-2 col-xs-12 col-sm-offset-2">
            <label for="nursing-inter-tepid-sponge">
              <input type="checkbox" name="nursing-inter-tepid-sponge" id="nursing-inter-tepid-sponge" v-model="nursing_inter_tepid_sponge">
              Tepid Sponge
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="nursing-inter-nebulizer">
              <input type="checkbox" name="nursing-inter-nebulizer" id="nursing-inter-nebulizer" v-model="nursing_inter_nebulizer">
              Nebulizer
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="nursing-inter-therapy">
              <input type="checkbox" name="nursing-inter-therapy" id="nursing-inter-therapy" v-model="nursing_inter_therapy">
              Therapy
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="nursing-inter-suction">
              <input type="checkbox" name="nursing-inter-suction" id="nursing-inter-suction" v-model="nursing_inter_suction">
              Suction
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="nursing-inter-injection">
              <input type="checkbox" name="nursing-inter-injection" id="nursing-inter-injection" v-model="nursing_inter_injection">
              Injection
            </label>
          </div>
        </div>

        <div class="row text-left">
          <div class="col-sm-2 col-xs-12 col-sm-offset-2">
            <label for="nursing-inter-nss-lock">
              <input type="checkbox" name="nursing-inter-nss-lock" id="nursing-inter-nss-lock" v-model="nursing_inter_nss_lock">
              NSS lock
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="nursing-inter-iv-fluid">
              <input type="checkbox" name="nursing-inter-iv-fluid" id="nursing-inter-iv-fluid" v-model="nursing_inter_iv_fluid">
              IV Fluid
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="nursing-inter-ngtube">
              <input type="checkbox" name="nursing-inter-ngtube" id="nursing-inter-ngtube" v-model="nursing_inter_ngtube">
              NG tube
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="nursing-inter-foley-cath">
              <input type="checkbox" name="nursing-inter-foley-cath" id="nursing-inter-foley-cath" v-model="nursing_inter_foley_cath">
              Foley Cath
            </label>
          </div>
        </div>

        <div class="row text-left">
          <div class="col-sm-2 col-xs-12 col-sm-offset-2">
            <label for="nursing-inter-blood-collection">
              <input type="checkbox" name="nursing-inter-blood-collection" id="nursing-inter-blood-collection" v-model="nursing_inter_blood_collection">
              Blood Collection
            </label>
            <div v-if="nursing_inter_blood_collection">
              <input id="nursing-inter-blood-collection-input" type="text" v-model="nursing_inter_blood_collection_input" class="pure-input-1">
            </div>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="nursing-inter-dressing">
              <input type="checkbox" name="nursing-inter-dressing" id="nursing-inter-dressing" v-model="nursing_inter_dressing">
              Dressing
            </label>
            <div v-if="nursing_inter_dressing">
              <input id="dressing-input" type="text" v-model="dressing_input" class="pure-input-1">
            </div>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="nursing-inter-others">
              <input type="checkbox" name="nursing-inter-others" id="nursing-inter-others" v-model="nursing_inter_others">
              Others
            </label>
            <div v-if="nursing_inter_others">
              <input id="nursing-inter-others-input" type="text" v-model="nursing_inter_others_input" class="pure-input-1">
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="nursing-inter">IV Care:</label>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label for="iv-care-na">
              <input type="checkbox" name="iv-care-na" id="iv-care-na" v-model="iv_care_na">
              N/A
            </label>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label for="iv-care-yes">
              <input type="checkbox" name="iv-care-yes" id="iv-care-yes" v-model="iv_care_yes">
              YES
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
          <label for="iv-care-time">Time</label>
            <flat-pickr
              class="pure-input-1"
              v-model="iv_care_time"
              :config="ivCareTimeConfig"
              placeholder="Select time"
              name="iv-care-time"
              id="iv-care-time">
            </flat-pickr>
          </div>
        </div>

        <div class="row text-left mt1">
          <div class="col-sm-2 col-xs-12 col-sm-offset-2">
            <label for="iv-care-jelco-no">
              <input type="checkbox" name="iv-care-jelco-no" id="iv-care-jelco-no" v-model="iv_care_jelco_no">
              Jelco No.
            </label>
            <div v-if="iv_care_jelco_no">
              <input id="jelco-no-input" type="text" v-model="jelco_no_input" class="pure-input-1">
            </div>
          </div>
          <div class="col-sm-2 col-xs-6">
              <label for="iv-care-length">
                Length <input id="iv-carze-length" class="pure-input-1" type="text" v-model="iv_care_length">
              </label>
          </div>
          <div class="col-sm-2 col-xs-6">
              <label for="iv-care-scalp-vein-no">
                Scalp Vien No. <input id="iv-care-scalp-vein-no" class="pure-input-1" type="text" v-model="iv_care_scalp_vein_no">
              </label>
          </div>
          <div class="col-sm-2 col-xs-6">
              <label for="iv-care-other">
                Other <input id="iv-care-other" class="pure-input-1" type="text" v-model="iv_care_other">
              </label>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="insert-to">Insert to:</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="insert-to-na">
              <input type="checkbox" name="insert-to-na" id="insert-to-na" v-model="insert_to_na">
              N/A
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="insert-to-left">
              <input type="checkbox" name="insert-to-left" id="insert-to-left" v-model="insert_to_left">
              Left
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="insert-to-right">
              <input type="checkbox" name="insert-to-right" id="insert-to-right" v-model="insert_to_right">
              Right
            </label>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="insert-to">Vein:</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="cephalic-vein">
              <input type="checkbox" name="cephalic-vein" id="cephalic-vein" v-model="cephalic_vein">
              Cephalic
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="basilic-vein">
              <input type="checkbox" name="basilic-vein" id="basilic-vein" v-model="basilic_vein">
              Basilic
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="median-and-brachial-vein">
              <input type="checkbox" name="median-and-brachial-vein" id="median-and-brachial-vein" v-model="median_and_brachial_vein">
              Median & Brachial
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="metacarpal-vein">
              <input type="checkbox" name="metacarpal-vein" id="metacarpal-vein" v-model="metacarpal_vein">
              Metacarpal
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="accessory-cephalic-vein">
              <input type="checkbox" name="accessory-cephalic-vein" id="accessory-cephalic-vein" v-model="accessory_cephalic_vein">
              Accessory Cephalic
            </label>
          </div>

          <div class="col-sm-1 col-xs-12 col-sm-offset-2">
            <label for="insert-to-other">
              <input type="checkbox" name="insert-to-other" id="insert-to-other" v-model="insert_to_other">
              Other
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <div class="" v-if="insert_to_other">
              <label for="insert-to-other-input">
                <input class="pure-input-1-2 input--inline" id="insert-to-other-input" name="insert-to-other-input" type="text" v-model="insert_to_other_input">
                vein
              </label>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <label for="attempt">Attempt
              <input id="attempt" type="text" v-model="attempt" class="pure-input-1-2 input--inline">
            </label>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="row text-left">
          <div class="col-sm-2 col-xs-12">
            <label for="catheter-removal">Catheter Removal:</label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="catheter-removal-na">
              <input type="checkbox" name="catheter-removal-na" id="catheter-removal-na" v-model="catheter_removal_na">
              N/A
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="catheter-removal-no">
              <input type="checkbox" name="catheter-removal-no" id="catheter-removal-no" v-model="catheter_removal_no">
              No
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="catheter-removal-yes">
              <input type="checkbox" name="catheter-removal-yes" id="catheter-removal-yes" v-model="catheter_removal_yes">
              Yes
            </label>
          </div>
          <div class="col-sm-3 col-xs-6">
            <label for="catheter-removal-time">Time</label>
            <flat-pickr
              class="pure-input-1"
              v-model="catheter_removal_time"
              :config="cathRemovalTimeConfig"
              placeholder="Select time"
              name="catheter-removal-time"
              id="catheter-removal-time">
            </flat-pickr>
          </div>
          <div class="col-sm-2 col-xs-12 col-sm-offset-4">
            <label for="catheter-removal-normal">
              <input type="checkbox" name="catheter-removal-normal" id="catheter-removal-normal" v-model="catheter_removal_normal">
              NORMAL
            </label>
          </div>
          <div class="col-sm-2 col-xs-12">
            <label for="catheter-removal-abnormal">
              <input type="checkbox" name="catheter-removal-abnormal" id="catheter-removal-abnormal" v-model="catheter_removal_abnormal">
              ABNORMAL
            </label>
          </div>
          <div class="col-sm-3 col-xs-12">
            <div v-if="catheter_removal_abnormal">
              <input id="catheter-removal-abnormal-input" name="catheter-removal-abnormal-input" type="text" v-model="catheter_removal_abnormal_input" class="pure-input-1">
            </div>
          </div>
        </div>
      </fieldset>

     <!-- START OF nursing process dynamic fields -->
      <div>
        <legend><b><h2>NURSING PROCESS</h2></b></legend>
      </div>

      <div style="overflow-x: auto">
        <table class="pure-table nursing-process-table" style="width: 100%">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>BP<br />(mmHg)</th>
              <th>HR<br />(bpm)</th>
              <th>RR<br />(bpm)</th>
              <th>BT<br />(&#176;C)</th>
              <th>O2Sat<br />%</th>
              <th>Pain Score</th>
            </tr>
          </thead>
          <tbody v-for="(np, index) in nursingProcess" style="border-bottom: 1px solid #cbcbcb;">
            <tr>
              <!-- date --><td rowspan="2">
                <flat-pickr
                 style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="nursingProcessData[index].date"
                  :config="nursingProcessDateListConfig"
                  name="np-date"
                  :id="'date_' + index">
                </flat-pickr>
              </td>
              <!-- time --><td rowspan="2">
                <flat-pickr
                 style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="nursingProcessData[index].time"
                  :config="nursingProcessTimeListConfig"
                  name="np-time"
                  :id="'time_' + index">
                </flat-pickr>
              </td>
              <!-- BP --><td>
                <input style="min-width: 70px;" type="text" :id="'assessment_bp' + index" class="pure-input-1" v-model="nursingProcessData[index].bp"/>
              </td>
              <!-- HR --><td>
                <input style="min-width: 70px;"  type="text" id="'intervention_hr' + index" class="pure-input-1" v-model="nursingProcessData[index].hr"/>
              </td>
              <!-- RR --><td>
                <input style="min-width: 70px;"  type="text" id="'evaluation_rr' + index" class="pure-input-1" v-model="nursingProcessData[index].rr"/>
              </td>
              <!-- BT --><td>
                <input style="min-width: 70px;"  type="text" id="'evaluation_bt' + index" class="pure-input-1" v-model="nursingProcessData[index].bt"/>
              </td>
              <!-- O2Sat --><td>
                <input style="min-width: 70px;"  type="text" id="'evaluation_o2' + index" class="pure-input-1" v-model="nursingProcessData[index].o2sat"/>
              </td>
              <!-- Pain Score --><td>
                <input style="min-width: 70px;"  type="text" id="'evaluation_pain' + index" class="pure-input-1" v-model="nursingProcessData[index].painScore"/>
              </td>
            </tr>
            <tr>
              <!-- Assessment --><td colspan="3" style="min-width: 240px; border-left-width: 1px;">
                <textarea placeholder="Assessment" id="'evaluation_assessment' + index" class="pure-input-1" v-model="nursingProcessData[index].assessment"/>
              </td>
              <!-- En Route --><td>
                <textarea type="text" placeholder="En Route" id="'evaluation_' + index" class="pure-input-1" v-model="nursingProcessData[index].enRoute"/>
              </td>
              <!-- Staff name --><td colspan="2" style="min-width: 170px;">
                <input type="text" placeholder="Staff Name" id="'evaluation_' + index" class="pure-input-1" v-model="nursingProcessData[index].staff"/>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row mt2">
        <div class="col-sm">
          <button class="pure-button" @click="updateNursingProcess(true)" type="button">+</button>
          <button class="pure-button" @click="updateNursingProcess(false)" type="button">-</button>
        </div>
      </div>
      <legend></legend>
      <!-- END OF dynamic fields -->

      <!-- START OF button group -->
      <fieldset>
        <button type="submit" class="pure-button">Submit</button>
        <button type="reset" class="pure-button" v-if="!isEdit">Cancel</button>
        <button @click="resetForm()" type="button" class="pure-button" v-else>Cancel</button>
        <button type="button" class="pure-button button-error" v-if="isEdit" title="Delete" @click="deleteVisitForm" style="margin-left: 1rem;">
          <icon name="trash"></icon>
        </button>
        <button type="button" class="pure-button button-error" v-if="isEdit && !isApprove" title="Approve this form" @click="approveVisitForm">
          <icon name="exclamation-circle" style="vertical-align: top;"></icon>&nbsp;Pending
        </button>
      </fieldset>
      <!-- END OF button group -->

      <p class="text-right m0" v-if="isEdit && user && user.id"><small>Last updated: {{ user.name }}</small></p>
      <p class="text-right m0" v-if="isEdit && approveUser && approveUser.id"><small>Approved by: {{ approveUser.name }}</small></p>
    </form>
    <!-- END OF FORM ELEMENT -->
  </section>
</template>

<style>
  .nursing-process-table th {
    text-align: center;
  }

  .nursing-process-table td {
    padding: .2em .5em !important;
  }
</style>

<script>
import flatPickr from 'vue-flatpickr-component'
import { precheckFormData } from './index'
import getAge from '../../filters/age.js'

export default {
  name: 'forms-nursing-intervention',
  props: ['patient', 'isEdit', 'isApprove', 'visitFormId', 'user', 'approveUser'],
  components: {
    flatPickr
  },
  data () {
    return {
      title: null,
      first_name: null,
      last_name: null,
      dob: null,
      age: null,
      gender: null,
      hospital_number_display: null,
      // an: null,
      visit_date: null,
      // NURSING CARE
      nursing_inter_na: false,
      nursing_inter_yes: false,
      nursing_inter_tepid_sponge: false,
      nursing_inter_nebulizer: false,
      nursing_inter_therapy: false,
      nursing_inter_suction: false,
      nursing_inter_injection: false,
      nursing_inter_nss_lock: false,
      nursing_inter_iv_fluid: false,
      nursing_inter_blood_collection: false,
      nursing_inter_blood_collection_input: null,
      nursing_inter_dressing: false,
      dressing_input: null,
      nursing_inter_ngtube: false,
      nursing_inter_foley_cath: false,
      nursing_inter_others: false,
      nursing_inter_others_input: null,
      // IV Care
      iv_care_na: null,
      iv_care_yes: null,
      iv_care_time: null,
      iv_care_jelco_no: false,
      jelco_no_input: null,
      iv_care_length: null,
      iv_care_scalp_vein_no: null,
      iv_care_other: null,
      // Insert to
      insert_to_na: false,
      insert_to_left: false,
      insert_to_right: false,
      cephalic_vein: false,
      basilic_vein: false,
      median_and_brachial_vein: false,
      metacarpal_vein: false,
      accessory_cephalic_vein: false,
      insert_to_other: false,
      insert_to_other_input: null,
      attempt: null,
      catheter_removal_na: false,
      catheter_removal_yes: false,
      catheter_removal_time: null,
      catheter_removal_normal: false,
      catheter_removal_abnormal: false,
      catheter_removal_abnormal_input: null,
      catheter_removal_no: false,
      // date config
      dateOfBirthConfig: {
        dataFormat: 'Y-m-d',
        maxDate: new Date()
      },
      visitDateConfig: {
        dataFormat: 'Y-m-d',
        minDate: new Date(),
        defaultDate: new Date()
      },
      nursingProcessDateListConfig: {
        dataFormat: 'Y-m-d'
      },
      // time config
      ivCareTimeConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        enableSeconds: false,
        time_24hr: true
      },
      nursingProcessTimeListConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        enableSeconds: false,
        time_24hr: true
      },
      cathRemovalTimeConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        enableSeconds: false,
        time_24hr: true
      },
      // nursing process
      nursingProcess: 1,
      nursingProcessData: [{
        date: '',
        time: '',
        bp: '',
        hr: '',
        rr: '',
        bt: '',
        o2sat: '',
        painScore: '',
        assessment: '',
        enRoute: '',
        staff: ''
      }]
    }
  },
  created () {
    this.fillForm()
  },
  methods: {
    fillForm () {
      if (this.$lodash.isEmpty(this.patient)) return
      if (this.patient.title) {
        this.title = this.patient.title
      } else {
        this.title = this.patient.gender === 'male' ? 'Mr.' : this.patient.marital_status === 'married' ? 'Mrs.' : 'Ms.'
      }
      this.first_name = this.patient.first_name || null
      this.last_name = this.patient.last_name || null
      this.dob = this.patient.dob || null
      this.age = getAge(this.patient.dob) || null
      if (this.patient.gender) {
        this.gender = this.patient.gender === 'male' ? 'Male' : this.patient.gender === 'female' ? 'Female' : 'Other'
      } else {
        this.gender = null
      }
      this.hospital_number_display = this.patient.hospital_number_display || null
      // this.an = this.patient.an || null
      this.visit_date = this.patient.visit_date || null
      this.nursing_inter_na = this.patient.nursing_inter_na || null
      this.nursing_inter_yes = this.patient.nursing_inter_yes || null
      this.nursing_inter_tepid_sponge = this.patient.nursing_inter_tepid_sponge || null
      this.nursing_inter_nebulizer = this.patient.nursing_inter_nebulizer || null
      this.nursing_inter_therapy = this.patient.nursing_inter_therapy || null
      this.nursing_inter_suction = this.patient.nursing_inter_suction || null
      this.nursing_inter_injection = this.patient.nursing_inter_injection || null
      this.nursing_inter_nss_lock = this.patient.nursing_inter_nss_lock || null
      this.nursing_inter_iv_fluid = this.patient.nursing_inter_iv_fluid || null
      if (this.patient.nursing_inter_blood_collection_input) {
        this.nursing_inter_blood_collection = true
        this.nursing_inter_blood_collection_input = this.patient.nursing_inter_blood_collection_input
      }
      if (this.patient.dressing_input) {
        this.nursing_inter_dressing = true
        this.dressing_input = this.patient.dressing_input
      }
      this.nursing_inter_ngtube = this.patient.nursing_inter_ngtube || null
      this.nursing_inter_foley_cath = this.patient.nursing_inter_foley_cath || null
      if (this.patient.nursing_inter_others_input) {
        this.nursing_inter_others = true
        this.nursing_inter_others_input = this.patient.nursing_inter_others_input
      }
      this.iv_care_na = this.patient.iv_care_na || null
      this.iv_care_yes = this.patient.iv_care_yes || null
      this.iv_care_time = this.patient.iv_care_time || null
      if (this.patient.jelco_no_input) {
        this.iv_care_jelco_no = true
        this.jelco_no_input = this.patient.jelco_no_input
      }
      this.iv_care_length = this.patient.iv_care_length || null
      this.iv_care_scalp_vein_no = this.patient.iv_care_scalp_vein_no || null
      this.iv_care_other = this.patient.iv_care_other || null
      this.insert_to_na = this.patient.insert_to_na || null
      this.insert_to_left = this.patient.insert_to_left || null
      this.insert_to_right = this.patient.insert_to_right || null
      this.cephalic_vein = this.patient.cephalic_vein || null
      this.basilic_vein = this.patient.basilic_vein || null
      this.median_and_brachial_vein = this.patient.median_and_brachial_vein || null
      this.metacarpal_vein = this.patient.metacarpal_vein || null
      this.accessory_cephalic_vein = this.patient.accessory_cephalic_vein || null
      if (this.patient.insert_to_other_input) {
        this.insert_to_other = true
        this.insert_to_other_input = this.patient.insert_to_other_input
      }
      this.catheter_removal_no = this.patient.catheter_removal_no || null
      this.attempt = this.patient.attempt || null
      this.catheter_removal_na = this.patient.catheter_removal_na || null
      this.catheter_removal_yes = this.patient.catheter_removal_yes || null
      this.catheter_removal_no = this.patient.catheter_removal_no || null
      this.catheter_removal_time = this.patient.catheter_removal_time || null
      this.catheter_removal_normal = this.patient.catheter_removal_normal || null
      this.catheter_removal_abnormal = this.patient.catheter_removal_abnormal || null
      if (this.catheter_removal_abnormal_input) {
        this.catheter_removal_abnormal = true
        this.catheter_removal_abnormal_input = this.patient.catheter_removal_abnormal_input
      }
      if (this.patient.nursing_process) {
        this.nursingProcessData = JSON.parse(this.patient.nursing_process)
        this.nursingProcess = this.nursingProcessData.length
      }
    },
    submitForm () {
      const data = {
        title: this.title,
        first_name: this.first_name,
        last_name: this.last_name,
        dob: this.dob,
        age: this.age,
        gender: this.gender,
        hospital_number_display: this.hospital_number_display,
        // an: this.an,
        visit_date: this.visit_date,
        nursingProcessData: this.nursingProcessData,
        nursing_inter_na: this.nursing_inter_na,
        nursing_inter_yes: this.nursing_inter_yes,
        nursing_inter_tepid_sponge: this.nursing_inter_tepid_sponge,
        nursing_inter_nebulizer: this.nursing_inter_nebulizer,
        nursing_inter_therapy: this.nursing_inter_therapy,
        nursing_inter_suction: this.nursing_inter_suction,
        nursing_inter_injection: this.nursing_inter_injection,
        nursing_inter_nss_lock: this.nursing_inter_nss_lock,
        nursing_inter_iv_fluid: this.nursing_inter_iv_fluid,
        nursing_inter_blood_collection: this.nursing_inter_blood_collection,
        nursing_inter_blood_collection_input: this.nursing_inter_blood_collection ? this.nursing_inter_blood_collection_input : null,
        nursing_inter_dressing: this.nursing_inter_dressing,
        dressing_input: this.nursing_inter_dressing ? this.dressing_input : null,
        nursing_inter_ngtube: this.nursing_inter_ngtube,
        nursing_inter_foley_cath: this.nursing_inter_foley_cath,
        nursing_inter_others: this.nursing_inter_others,
        nursing_inter_others_input: this.nursing_inter_others ? this.nursing_inter_others_input : null,
        iv_care_na: this.iv_care_na,
        iv_care_yes: this.iv_care_yes,
        iv_care_time: this.iv_care_time,
        iv_care_jelco_no: this.iv_care_jelco_no,
        jelco_no_input: this.iv_care_jelco_no ? this.jelco_no_input : null,
        iv_care_length: this.iv_care_length,
        iv_care_scalp_vein_no: this.iv_care_scalp_vein_no,
        iv_care_other: this.iv_care_other,
        insert_to_na: this.insert_to_na,
        insert_to_left: this.insert_to_left,
        insert_to_right: this.insert_to_right,
        cephalic_vein: this.cephalic_vein,
        basilic_vein: this.basilic_vein,
        median_and_brachial_vein: this.median_and_brachial_vein,
        metacarpal_vein: this.metacarpal_vein,
        accessory_cephalic_vein: this.accessory_cephalic_vein,
        insert_to_other: this.insert_to_other,
        insert_to_other_input: this.insert_to_other ? this.insert_to_other_input : null,
        attempt: this.attempt,
        catheter_removal_na: this.catheter_removal_na,
        catheter_removal_yes: this.catheter_removal_yes,
        catheter_removal_no: this.catheter_removal_no,
        catheter_removal_time: this.catheter_removal_time,
        catheter_removal_normal: this.catheter_removal_normal,
        catheter_removal_abnormal: this.catheter_removal_abnormal,
        catheter_removal_abnormal_input: this.catheter_removal_abnormal ? this.catheter_removal_abnormal_input : null,
        // nursing process dynamic array
        nursing_process: JSON.stringify(this.nursingProcessData)
      }

      // nursing intervention has formId = 3
      const body = precheckFormData(3, data)

      if (!body) {
        alert('Something went wrong (missing parameters)')
        return
      }

      if (this.isEdit) {
        this.$emit('submit', { action: 'edit', body, visitFormId: this.visitFormId })
      } else {
        this.$emit('submit', { action: 'create', body })
      }
    },

    deleteVisitForm (id) {
      this.$emit('submit', { action: 'delete', visitFormId: this.visitFormId })
    },
    approveVisitForm (id) {
      this.$emit('submit', { action: 'approve', visitFormId: this.visitFormId })
    },
    // hit cancel button on edit mode
    resetForm () {
      const answer = confirm('Are you sure you want to discard your changes?')

      if (!answer) return
      this.fillForm()
    },

    updateNursingProcess (isPlus = true) {
      if (isPlus) { // plus
        if (this.nursingProcess < 7) {
          this.nursingProcess++
          this.nursingProcessData.push({
            date: '',
            time: '',
            bp: '',
            hr: '',
            rr: '',
            bt: '',
            o2sat: '',
            painScore: '',
            assessment: '',
            enRoute: '',
            staff: ''
          })
        }
      } else { // minus
        if (this.nursingProcess > 1) {
          this.nursingProcess--
          // remove last item from array
          this.nursingProcessData.pop()
        }
      }
    }
  }
}
</script>
