<template>
  <section class="content">
    <!-- <pre>{{ patient }}</pre> -->
    <h1>{{ isEdit ? 'Update': '' }} AGE Order</h1>
    <form class="order-for-acute-form pure-form pure-form-stacked" v-on:submit.prevent="submitForm">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <label for="order_one_day_date">Date/time</label>
                <flat-pickr
                    v-model="order_one_day_date"
                    :config="orderOneDayDateConfig"
                    placeholder="Select date"
                    class="pure-input-1"
                    name="order_one_day_date"
                >
                </flat-pickr>
            </div>
            <div class="col-xs-12 col-sm-9">
                <h3>Order One Day</h3>
            </div>
        </div>
        
        <div class="row text-left">
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Admit">
                    <input type="checkbox" name="Admit" id="Admit" v-model="order_one_day_admit">
                    Admit
                </label>
            </div>            
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="CBC, BUN, Cr, E'lyte">
                    <input type="checkbox" name="CBC, BUN, Cr, E'lyte" id="CBC, BUN, Cr, E'lyte" v-model="order_one_day_cbc">
                    CBC, BUN, Cr, E'lyte
                </label>
            </div>            
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Stool Examination">
                    <input type="checkbox" name="Stool Examination" id="Stool Examination" v-model="order_one_day_stool_exam">
                    Stool Examination
                </label>
            </div>            
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Stool Culture">
                    <input type="checkbox" name="Stool Culture" id="Stool Culture" v-model="order_one_day_stool_cul">
                    Stool Culture
                </label>
            </div>            
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Stool for Rotavirus">
                    <input type="checkbox" name="Stool for Rotavirus" id="Stool for Rotavirus" v-model="order_one_day_stool_rotav">
                    Stool for Rotavirus
                </label>
            </div>           
             <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Salmonella test">
                    <input type="checkbox" name="Salmonella test" id="Salmonella test" v-model="order_one_day_salmon">
                    Salmonella test
                </label>
            </div>           
             <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Liver function test">
                    <input type="checkbox" name="Liver function test" id="Liver function test" v-model="order_one_day_liver">
                    Liver function test
                </label>
            </div>           
             <div class="col-sm-offset-4 col-sm-8 col-xs-12 mt2">
                <label for="Metoclopramine (Plasil) 10 mg 1 amp IV slow drip stat">
                    <input type="checkbox" name="Metoclopramine (Plasil) 10 mg 1 amp IV slow drip stat" id="Metoclopramine (Plasil) 10 mg 1 amp IV slow drip stat" v-model="order_one_day_meto">
                    Metoclopramine (Plasil) 10 mg 1 amp IV slow drip stat
                </label>
            </div>           
             <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Ondansetron 8 mg IV stat then prn q 6 hr">
                    <input type="checkbox" name="Ondansetron 8 mg IV stat then prn q 6 hr" id="Ondansetron 8 mg IV stat then prn q 6 hr" v-model="order_one_day_onda">
                    Ondansetron 8 mg IV stat then prn q 6 hr
                </label>
            </div>           
             <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Hyoscine Butylbromine (Buscopan) 20 mg IV stat">
                    <input type="checkbox" name="Hyoscine Butylbromine (Buscopan) 20 mg IV stat" id="Hyoscine Butylbromine (Buscopan) 20 mg IV stat" v-model="order_one_day_hyos">
                    Hyoscine Butylbromine (Buscopan) 20 mg IV stat
                </label>
            </div>           
             <div class="col-sm-offset-4 col-sm-8 col-xs-12 mt2">
                <label for="Pantoprazole 40 mg IV q 12 hr">
                    <input type="checkbox" name="Pantoprazole 40 mg IV q 12 hr" id="Pantoprazole 40 mg IV q 12 hr" v-model="order_one_day_panto">
                    Pantoprazole 40 mg IV q 12 hr
                </label>
            </div>           
             <div class="col-sm-offset-4 col-sm-8 col-xs-12 mt2">
                <label for="NSS 1000 ml IV rate">
                    <input type="checkbox" name="NSS 1000 ml IV rate" id="NSS 1000 ml IV rate" v-model="order_one_day_nss">
                    NSS 1000 ml IV rate <input type="text" id="order-one-day-nss-input" name="order-one-day-nss-input" class="pure-input-1-2 input--inline" v-model="order_one_day_nss_input"> ml/hr
                </label>
            </div>           
             <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="5% Acetar 1000 ml IV rate">
                    <input type="checkbox" name="5% Acetar 1000 ml IV rate" id="5% Acetar 1000 ml IV rate" v-model="order_one_day_5acetar">
                    5% Acetar 1000 ml IV rate <input type="text" id="order-one-day-5acetar-input" name="order-one-day-5acetar-input" class="pure-input-1-2 input--inline" v-model="order_one_day_5acetar_input"> ml/hr
                </label>
            </div>           
             <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Acetar 1000 ml IV rate">
                    <input type="checkbox" name="Acetar 1000 ml IV rate" id="Acetar 1000 ml IV rate" v-model="order_one_day_acetar1000">
                    Acetar 1000 ml IV rate <input type="text" id="order-one-day-acetar1000-input" name="order-one-day-acetar1000-input" class="pure-input-1-2 input--inline" v-model="order_one_day_acetar1000_input"> ml/hr
                </label>
            </div>           
            <div class="col-sm-offset-4 col-sm-8 col-xs-12 mt2">
                <label for="M.Carmintive 15 cc + Alum milk 15 cc (30cc) oral stat">
                    <input type="checkbox" name="M.Carmintive 15 cc + Alum milk 15 cc (30cc) oral stat" id="M.Carmintive 15 cc + Alum milk 15 cc (30cc) oral stat" v-model="order_one_day_mcar">
                    M.Carmintive 15 cc + Alum milk 15 cc (30cc) oral stat
                </label>
            </div>
        </div>

        <div class="row mt4">
            <div class="col-xs-12 col-sm-3">
                <label for="order_continue_date">Date/time</label>
                <flat-pickr
                    v-model="order_continue_date"
                    :config="orderOneDayDateConfig"
                    placeholder="Select date"
                    class="pure-input-1"
                    name="order_continue_date"
                >
                </flat-pickr>
            </div>
            <div class="col-xs-12 col-sm-9">
                <h3>Order Continue</h3>
            </div>
        </div>
        
        <div class="row text-left">
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Record V/S q 4 hr">
                    <input type="checkbox" name="Record V/S q 4 hr" id="Record V/S q 4 hr" v-model="order_continue_record">
                    Record V/S q 4 hr
                </label>
            </div>  
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Soft diet">
                    <input type="checkbox" name="Soft diet" id="Soft diet" v-model="order_continue_soft">
                    Soft diet
                </label>
            </div>   
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Tepid sponge for fever">
                    <input type="checkbox" name="Tepid sponge for fever" id="Tepid sponge for fever" v-model="order_continue_tepid">
                    Tepid sponge for fever
                </label>
            </div>  
            <div class="col-sm-offset-4 col-sm-8 col-xs-12 mt3">
                <label>Med</label>
            </div>  
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Ceftriaxone (Cef-3) 2 gm IV OD">
                    <input type="checkbox" name="Ceftriaxone (Cef-3) 2 gm IV OD" id="Ceftriaxone (Cef-3) 2 gm IV OD" v-model="order_continue_ceft">
                    Ceftriaxone (Cef-3) 2 gm IV OD
                </label>
            </div>  
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Ciprofloxacin 400 mg IV q 12 hours">
                    <input type="checkbox" name="Ciprofloxacin 400 mg IV q 12 hours" id="Ciprofloxacin 400 mg IV q 12 hours" v-model="order_continue_cipro">
                    Ciprofloxacin 400 mg IV q 12 hours
                </label>
            </div>  
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Azithromycin(250 mg) 2 tablet Oral OD x 3 days">
                    <input type="checkbox" name="Azithromycin(250 mg) 2 tablet Oral OD x 3 days" id="Azithromycin(250 mg) 2 tablet Oral OD x 3 days" v-model="order_continue_azith">
                    Azithromycin(250 mg) 2 tablet Oral OD x 3 days
                </label>
            </div>  
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Domperidone 10 mg 1 tabled oral TID ac">
                    <input type="checkbox" name="Domperidone 10 mg 1 tabled oral TID ac" id="Domperidone 10 mg 1 tabled oral TID ac" v-model="order_continue_domper">
                    Domperidone 10 mg 1 tabled oral TID ac
                </label>
            </div>   
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Ondansetron 8 mg 1 tab oral TOD ac">
                    <input type="checkbox" name="Ondansetron 8 mg 1 tab oral TOD ac" id="Ondansetron 8 mg 1 tab oral TOD ac" v-model="order_continue_onda">
                    Ondansetron 8 mg 1 tab oral TOD ac
                </label>
            </div>   
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Plasil 1 tablet oral TID ac">
                    <input type="checkbox" name="Plasil 1 tablet oral TID ac" id="Plasil 1 tablet oral TID ac" v-model="order_continue_plasil">
                    Plasil 1 tablet oral TID ac
                </label>
            </div>    
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <label for="Buscopan 10 mg 1 tablet oral prn q 6 hr">
                  <input type="checkbox" name="Buscopan 10 mg 1 tablet oral prn q 6 hr" id="Buscopan 10 mg 1 tablet oral prn q 6 hr" v-model="order_continue_busc">
                  Buscopan 10 mg 1 tablet oral prn q 6 hr
             </label>
            </div>
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
              <label for="Paracetamol 500 mg">
                  <input type="checkbox" name="Paracetamol 500 mg" id="Paracetamol 500 mg" v-model="order_continue_para">
                  Paracetamol 500 mg
             </label>
            </div>
            <div class="col-sm-offset-5 col-sm-8 col-xs-12">
              <label for="1 tablet oral prn for fever q 4 hr (BW < 67 kgs)">
                  <input type="checkbox" name="1 tablet oral prn for fever q 4 hr (BW < 67 kgs)" id="1 tablet oral prn for fever q 4 hr (BW < 67 kgs)" v-model="order_continue_para1tablet">
                  1 tablet oral prn for fever q 4 hr (BW < 67 kgs)
             </label>
            </div>
            <div class="col-sm-offset-5 col-sm-8 col-xs-12">
              <label for="2 tablet oral prn for fever q 6 hr (BW < 67 kgs)">
                  <input type="checkbox" name="2 tablet oral prn for fever q 6 hr (BW < 67 kgs)" id="2 tablet oral prn for fever q 6 hr (BW < 67 kgs)" v-model="order_continue_para2tablet">
                  2 tablet oral prn for fever q 6 hr (BW &le; 67 kgs)
             </label>
            </div>
            <div class="col-sm-offset-5 col-sm-8 col-xs-12">
              <label for="ORS">
                  <input type="checkbox" name="ORS" id="ORS" v-model="order_continue_ors">
                  ORS
             </label>
            </div>
            <div class="col-sm-offset-5 col-sm-8 col-xs-12">
              <label for="Simethicone (Air-x) 1 tab TID pc">
                  <input type="checkbox" name="Simethicone (Air-x) 1 tab TID pc" id="Simethicone (Air-x) 1 tab TID pc" v-model="order_continue_sime">
                  Simethicone (Air-x) 1 tab TID pc
             </label>
            </div>
            <div class="col-sm-offset-5 col-sm-8 col-xs-12">
              <label for="Activated Carbon 3 tab TID oral pc">
                  <input type="checkbox" name="Activated Carbon 3 tab TID oral pc" id="Activated Carbon 3 tab TID oral pc" v-model="order_continue_activ">
                  Activated Carbon 3 tab TID oral pc
             </label>
            </div>
            <div class="col-sm-offset-5 col-sm-8 col-xs-12">
              <label for="Smecta 1 pack oral bid pc">
                  <input type="checkbox" name="Smecta 1 pack oral bid pc" id="Smecta 1 pack oral bid pc" v-model="order_continue_smecta">
                  Smecta 1 pack oral bid pc
             </label>
            </div>
            <div class="col-sm-offset-5 col-sm-8 col-xs-12">
              <label for="Bioflor 1 pack oral bid pc">
                  <input type="checkbox" name="Bioflor 1 pack oral bid pc" id="Bioflor 1 pack oral bid pc" v-model="order_continue_biof">
                  Bioflor 1 pack oral bid pc
             </label>
            </div>
        </div> 
        <!-- START OF button group -->
        <fieldset>
            <div class="mt3">            
                <button type="submit" class="pure-button">Submit</button>
                <button type="reset" class="pure-button" v-if="!isEdit">Cancel</button>
                <button @click="resetForm()" type="button" class="pure-button" v-else>Cancel</button>
                <button type="button" class="pure-button button-error" v-if="isEdit" title="Delete" @click="deleteVisitForm" style="margin-left: 1rem;">
                <icon name="trash" style="vertical-align: sub;"></icon>
                </button>
                <button type="button" class="pure-button button-error" v-if="isEdit && !isApprove" title="Approve this form" @click="approveVisitForm">
                <icon name="exclamation-circle" style="vertical-align: top;"></icon>&nbsp;Pending
                </button>
            </div>
        </fieldset>
      <!-- END OF button group -->

      <p class="text-right m0" v-if="isEdit && user && user.id"><small>Last updated: {{ user.name }}</small></p>
      <p class="text-right m0" v-if="isEdit && approveUser && approveUser.id"><small>Approved by: {{ approveUser.name }}</small></p> 

    </form>
  </section>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import { precheckFormData } from './index'

export default {
  name: 'forms-opd-card',
  props: ['patient', 'isEdit', 'isApprove', 'visitFormId', 'user', 'approveUser'],
  components: {
    flatPickr
  },
  data () {
    return {
      order_one_day_date: null,
      order_one_day_admit: false,
      order_one_day_cbc: false,
      order_one_day_stool_exam: false,
      order_one_day_stool_cul: false,
      order_one_day_stool_rotav: false,
      order_one_day_salmon: false,
      order_one_day_liver: false,
      order_one_day_meto: false,
      order_one_day_onda: false,
      order_one_day_hyos: false,
      order_one_day_panto: false,
      order_one_day_nss: false,
      order_one_day_nss_input: null,
      order_one_day_5acetar: false,
      order_one_day_5acetar_input: null,
      order_one_day_acetar1000: false,
      order_one_day_acetar1000_input: null,
      order_one_day_mcar: false,
      order_continue_date: false,
      order_continue_record: false,
      order_continue_soft: false,
      order_continue_tepid: false,
      order_continue_ceft: false,
      order_continue_cipro: false,
      order_continue_azith: false,
      order_continue_domper: false,
      order_continue_onda: false,
      order_continue_plasil: false,
      order_continue_busc: false,
      order_continue_para: false,
      order_continue_para1tablet: false,
      order_continue_para2tablet: false,
      order_continue_ors: false,
      order_continue_sime: false,
      order_continue_activ: false,
      order_continue_smecta: false,
      order_continue_biof: false,

      // Config

      orderOneDayDateConfig: {
        dataFormat: 'Y-m-d'
        // minDate: new Date()
        // defaultDate: new Date()
      }

    }
  },
  created () {
    this.fillForm()
  },
  methods: {
    fillForm () {
      if (this.$lodash.isEmpty(this.patient)) return
      this.order_one_day_date = this.patient.order_one_day_date || null
      this.order_one_day_admit = this.patient.order_one_day_admit || null
      this.order_one_day_cbc = this.patient.order_one_day_cbc || null
      this.order_one_day_stool_exam = this.patient.order_one_day_stool_exam || null
      this.order_one_day_stool_cul = this.patient.order_one_day_stool_cul || null
      this.order_one_day_stool_rotav = this.patient.order_one_day_stool_rotav || null
      this.order_one_day_salmon = this.patient.order_one_day_salmon || null
      this.order_one_day_liver = this.patient.order_one_day_liver || null
      this.order_one_day_meto = this.patient.order_one_day_meto || null
      this.order_one_day_onda = this.patient.order_one_day_onda || null
      this.order_one_day_hyos = this.patient.order_one_day_hyos || null
      this.order_one_day_panto = this.patient.order_one_day_panto || null
      this.order_one_day_nss = this.patient.order_one_day_nss || null
      if (this.patient.order_one_day_nss_input) {
        this.order_one_day_nss = true
        this.order_one_day_nss_input = this.patient.order_one_day_nss_input
      }
      this.order_one_day_5acetar = this.patient.order_one_day_5acetar || null
      if (this.patient.order_one_day_5acetar_input) {
        this.order_one_day_5acetar = true
        this.order_one_day_5acetar_input = this.patient.order_one_day_5acetar_input
      }
      this.order_one_day_acetar1000 = this.patient.order_one_day_acetar1000 || null
      if (this.patient.order_one_day_acetar1000_input) {
        this.order_one_day_acetar1000 = true
        this.order_one_day_acetar1000_input = this.patient.order_one_day_acetar1000_input
      }
      this.order_one_day_mcar = this.patient.order_one_day_mcar || null
      this.order_continue_date = this.patient.order_continue_date || null
      this.order_continue_record = this.patient.order_continue_record || null
      this.order_continue_soft = this.patient.order_continue_soft || null
      this.order_continue_tepid = this.patient.order_continue_tepid || null
      this.order_continue_ceft = this.patient.order_continue_ceft || null
      this.order_continue_cipro = this.patient.order_continue_cipro || null
      this.order_continue_azith = this.patient.order_continue_azith || null
      this.order_continue_domper = this.patient.order_continue_domper || null
      this.order_continue_onda = this.patient.order_continue_onda || null
      this.order_continue_plasil = this.patient.order_continue_plasil || null
      this.order_continue_busc = this.patient.order_continue_busc || null
      this.order_continue_para = this.patient.order_continue_para || null
      this.order_continue_para1tablet = this.patient.order_continue_para1tablet || null
      this.order_continue_para2tablet = this.patient.order_continue_para2tablet || null
      this.order_continue_ors = this.patient.order_continue_ors || null
      this.order_continue_sime = this.patient.order_continue_sime || null
      this.order_continue_activ = this.patient.order_continue_activ || null
      this.order_continue_smecta = this.patient.order_continue_smecta || null
      this.order_continue_biof = this.patient.order_continue_biof || null
    },
    submitForm () {
      const data = {
        order_one_day_date: this.order_one_day_date,
        order_one_day_admit: this.order_one_day_admit,
        order_one_day_cbc: this.order_one_day_cbc,
        order_one_day_stool_exam: this.order_one_day_stool_exam,
        order_one_day_stool_cul: this.order_one_day_stool_cul,
        order_one_day_stool_rotav: this.order_one_day_stool_rotav,
        order_one_day_salmon: this.order_one_day_salmon,
        order_one_day_liver: this.order_one_day_liver,
        order_one_day_meto: this.order_one_day_meto,
        order_one_day_onda: this.order_one_day_onda,
        order_one_day_hyos: this.order_one_day_hyos,
        order_one_day_panto: this.order_one_day_panto,
        order_one_day_nss: this.order_one_day_nss,
        order_one_day_nss_input: this.order_one_day_nss ? this.order_one_day_nss_input : null,
        order_one_day_5acetar: this.AAAA_exaorder_one_day_5acetarm,
        order_one_day_5acetar_input: this.order_one_day_5acetar ? this.order_one_day_5acetar_input : null,
        order_one_day_acetar1000: this.order_one_day_acetar1000,
        order_one_day_acetar1000_input: this.order_one_day_acetar1000 ? this.order_one_day_acetar1000_input : null,
        order_one_day_mcar: this.order_one_day_mcar,
        order_continue_date: this.order_continue_date,
        order_continue_record: this.order_continue_record,
        order_continue_soft: this.order_continue_soft,
        order_continue_tepid: this.order_continue_tepid,
        order_continue_ceft: this.order_continue_ceft,
        order_continue_cipro: this.order_continue_cipro,
        order_continue_azith: this.order_continue_azith,
        order_continue_domper: this.order_continue_domper,
        order_continue_onda: this.order_continue_onda,
        order_continue_plasil: this.order_continue_plasil,
        order_continue_busc: this.order_continue_busc,
        order_continue_para: this.order_continue_para,
        order_continue_para1tablet: this.order_continue_para1tablet,
        order_continue_para2tablet: this.order_continue_para2tablet,
        order_continue_ors: this.order_continue_ors,
        order_continue_sime: this.order_continue_sime,
        order_continue_activ: this.order_continue_activ,
        order_continue_smecta: this.order_continue_smecta,
        order_continue_biof: this.order_continue_biof
      }
      // const body = this.precheckBodyData(data)
      const body = precheckFormData(5, data)

      if (!body) {
        alert('Something went wrong (missing parameters)')
        return
      }

      if (this.isEdit) { // edit existing opd form
        this.$emit('submit', { action: 'edit', body, visitFormId: this.visitFormId })
      } else { // create new opd form
        this.$emit('submit', { action: 'create', body })
      }
    },
    deleteVisitForm (id) {
      this.$emit('submit', { action: 'delete', visitFormId: this.visitFormId })
    },
    approveVisitForm (id) {
      this.$emit('submit', { action: 'approve', visitFormId: this.visitFormId })
    },
    // hit cancel button on edit mode
    resetForm () {
      const answer = confirm('Are you sure you want to discard your changes?')

      if (!answer) return
      this.fillForm()
    }
  }
}
</script>
