<template>
  <section class="content">
    <!-- <pre>{{ patient }}</pre> -->
    <h1>{{ isEdit ? 'Update': '' }} Physician Order Sheet</h1>
    <form class="physician-order-form pure-form pure-form-stacked" v-on:submit.prevent="submitForm">
      <div class="row text-left">
        <div class="col-xs-12 col-sm-3">
          <label for="title">Prefix</label>
          <select id="title" v-model="title" class="pure-input-1" disabled>
            <option>Mr.</option>
            <option>Mrs.</option>
            <option>Ms.</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="first_name">First name</label>
            <input id="first_name" type="text" v-model="first_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label for="last_name">Last name</label>
            <input id="last_name" type="text" v-model="last_name" class="pure-input-1" readonly>
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="dob">DOB</label>
          <flat-pickr
            v-model="dob"
            :config="dateOfBirthConfig"
            placeholder="Select date"
            class="pure-input-1"
            name="dob"
            disabled>
          </flat-pickr>
        </div>
      </div>

      <div class="row mt2">
        <div class="col-sm col-xs-6">
          <label for="age">Age</label>
          <input id="age" class="pure-input-1" type="text" v-model="age" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="gender">Gender</label>
          <select id="gender" v-model="gender" class="pure-input-1" disabled readonly>
            <option>male</option>
            <option>female</option>
            <option>other</option>
          </select>
        </div>
        <div class="col-sm col-xs-6">
          <label for="cn-hn">CN/HN:</label>
          <input id="cn-hn" class="pure-input-1" type="text" v-model="hospital_number_display" readonly>
        </div>
        <div class="col-sm col-xs-6">
          <label for="an">AN:</label>
          <input id="an" class="pure-input-1" type="text" v-model="an">
        </div>
        <div class="col-sm col-xs-12">
          <label for="visit-date">Visit date:</label>
          <flat-pickr
            class="pure-input-1"
            v-model="first_visited_date"
            :config="visitDateConfig"
            placeholder="Select date"
            name="visit_date">
          </flat-pickr>
        </div>
      </div>
      <legend></legend>
     <div style="overflow-x: auto">
        <table class="pure-table progress-note-table" style="width: 100%">
          <thead>
            <tr>
              <th class="text-center">Progress Note, Multidisciplinary Problem List and care plan, Drug Allergy</th>
              <th class="text-center">Date/Time</th>
              <th class="text-center">One-Day Orders</th>
              <th class="text-center">Date/Time</th>
              <th class="text-center">Continuing Order</th>
            </tr>
          </thead>
          <tbody v-for="(np, index) in physicianOrder" style="border-bottom: 1px solid #cbcbcb;">
            <tr>
              <td width="20%">
                <input style="min-width: 70px;" type="text" :id="'progress-note' + index" class="pure-input-1" v-model="physicianOrderData[index].progressNote"/>
              </td>
              <td width="15%">
                <flat-pickr
                 style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="physicianOrderData[index].dateOneDayOrder"
                  :config="oneDayDateConfig"
                  name="date-one-day-order"
                  :id="'date_' + index">
                </flat-pickr>
              </td>
              <td width="25%">
                <input style="min-width: 70px;" type="text" :id="'one-day-order' + index" class="pure-input-1" v-model="physicianOrderData[index].oneDayOrder"/>
              </td>
              <td width="15%">
                <flat-pickr
                 style="min-width: 70px;" 
                  class="pure-input-1"
                  v-model="physicianOrderData[index].dateConOrder"
                  :config="conDateConfig"
                  name="date-con-order"
                  :id="'date_' + index">
                </flat-pickr>
                <td width="25%">
                    <input style="min-width: 70px;" type="text" :id="'con-order' + index" class="pure-input-1" v-model="physicianOrderData[index].conOrder"/>
                </td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm mt3">
        <button class="pure-button" @click="updatePhysicianOrder(true)" type="button">+</button>
        <button class="pure-button" @click="updatePhysicianOrder(false)" type="button">-</button>
      </div>

      <fieldset>
        <div class="mt2">
        <button type="submit" class="pure-button">Submit</button>
        <button type="reset" class="pure-button" v-if="!isEdit">Cancel</button>
        <button @click="resetForm()" type="button" class="pure-button" v-else>Cancel</button>
        <button type="button" class="pure-button button-error" v-if="isEdit" title="Delete" @click="deleteVisitForm" style="margin-left: 1rem;">
          <icon name="trash"></icon>
        </button>
        <button type="button" class="pure-button button-error" v-if="isEdit && !isApprove" title="Approve this form" @click="approveVisitForm">
          <icon name="exclamation-circle" style="vertical-align: top;"></icon>&nbsp;Pending
        </button>
        </div>

      </fieldset>
      <!-- END OF button group -->

      <p class="text-right m0" v-if="isEdit && user && user.id"><small>Last updated: {{ user.name }}</small></p>
      <p class="text-right m0" v-if="isEdit && approveUser && approveUser.id"><small>Approved by: {{ approveUser.name }}</small></p>
    </form>
  </section>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import { precheckFormData } from './index'
import getAge from '../../filters/age.js'

export default {
  name: 'forms-opd-card',
  props: ['patient', 'isEdit', 'isApprove', 'visitFormId', 'user', 'approveUser'],
  components: {
    flatPickr
  },
  data () {
    return {
      title: null,
      first_name: null,
      last_name: null,
      dob: null,
      opd_cc: null,
      opd_pi: null,
      age: null,
      gender: null,
      hospital_number_display: null,
      an: null,
      first_visited_date: null,

      // progress note
      physicianOrder: 1,
      physicianOrderData: [{
        progressNote: '',
        dateOneDayOrder: '',
        oneDayOrder: '',
        dateConOrder: '',
        conOrder: ''
      }],
      // Config
      dateOfBirthConfig: {
        dataFormat: 'Y-m-d',
        maxDate: new Date()
      },
      visitDateConfig: {
        dataFormat: 'Y-m-d'
        // minDate: new Date()
        // defaultDate: new Date()
      },
      physOrderDateListConfig: {
        dataFormat: 'Y-m-d'
      },
      oneDayDateConfig: {
        dataFormat: 'Y-m-d'
      },
      conDateConfig: {
        dataFormat: 'Y-m-d'
      }

    }
  },
  created () {
    this.fillForm()
  },
  methods: {
    fillForm () {
      if (this.$lodash.isEmpty(this.patient)) return
      if (this.patient.title) {
        this.title = this.patient.title
      } else {
        this.title = this.patient.gender === 'male' ? 'Mr.' : this.patient.marital_status === 'married' ? 'Mrs.' : 'Ms.'
      }
      this.first_name = this.patient.first_name || null
      this.last_name = this.patient.last_name || null
      this.dob = this.patient.dob || null
      this.opd_cc = this.patient.opd_cc || null
      this.opd_pi = this.patient.opd_pi || null
      this.age = this.patient.dob ? getAge(this.patient.dob) : this.patient.age
      this.gender = this.patient.gender || null
      this.hospital_number_display = this.patient.hospital_number_display || null
      this.an = this.patient.an || null
      // progress note
      if (this.patient.physician_order) {
        this.physicianOrderData = JSON.parse(this.patient.physician_order)
        this.physicianOrder = this.physicianOrderData.length
      }
    },
    submitForm () {
      const data = {
        title: this.title,
        first_name: this.first_name,
        last_name: this.last_name,
        dob: this.dob,
        opd_cc: this.opd_cc,
        opd_pi: this.opd_pi,
        age: this.age,
        gender: this.gender,
        hospital_number_display: this.hospital_number_display,
        an: this.an,
        first_visited_date: this.first_visited_date,
        // progress note
        physicianOrderData: this.physicianOrderData,
        physician_order: JSON.stringify(this.physicianOrderData)

      }
      // const body = this.precheckBodyData(data)
      const body = precheckFormData(7, data)

      if (!body) {
        alert('Something went wrong (missing parameters)')
        return
      }

      if (this.isEdit) { // edit existing opd form
        this.$emit('submit', { action: 'edit', body, visitFormId: this.visitFormId })
      } else { // create new opd form
        this.$emit('submit', { action: 'create', body })
      }
    },
    deleteVisitForm (id) {
      this.$emit('submit', { action: 'delete', visitFormId: this.visitFormId })
    },
    approveVisitForm (id) {
      this.$emit('submit', { action: 'approve', visitFormId: this.visitFormId })
    },
    // hit cancel button on edit mode
    resetForm () {
      const answer = confirm('Are you sure you want to discard your changes?')

      if (!answer) return
      this.fillForm()
    },

    updatePhysicianOrder (isPlus = true) {
      if (isPlus) { // plus
        if (this.physicianOrder < 7) {
          this.physicianOrder++
          this.physicianOrderData.push({
            progressNote: '',
            dateOneDayOrder: '',
            oneDayOrder: '',
            dateConOrder: '',
            conOrder: ''
          })
        }
      } else { // minus
        if (this.physicianOrder > 1) {
          this.physicianOrder--
          // remove last item from array
          this.physicianOrderData.pop()
        }
      }
    }
  }
}
</script>
