<template>
  <section class="content">
    <!-- <pre>{{ patient }}</pre> -->
    <h1>{{ isEdit ? 'Update': '' }} VITAL SIGN AND I/O RECORD </h1>
    <form class="vital-sign pure-form pure-form-stacked" v-on:submit.prevent="submitForm">
      <!-- <div class="row text-left">
        <div class="col-sm-3">
          <label for="age-month">AGE</label>
          <input id="age-month" type="text" v-model="ageMonth" class="pure-input-1">
        </div>
      </div> -->
      <div class="row text-left">
        <div class="col-sm-3 col-sm-offset-9 col-xs-12">
          <label for="last_name">ROOM</label>
          <input id="last_name" type="text" v-model="room" class="pure-input-1">
        </div>
      </div>
      <div class="row text-left">
        <div class="col-xs-12 col-sm-6">
          <label for="diagnosis">DIAGNOSIS</label>
          <input id="diagnosis" type="text" v-model="diagnosis" class="pure-input-1">
        </div>
        <div class="col-sm-3 col-xs-12">
          <label for="allergy" style="color: red;">ALLERGY</label>
          <input style="color: red;" id="allergy" class="pure-input-1" type="text" v-model="allergy">
        </div>
        <div class="col-xs-12 col-sm-3">
          <label for="diet">DIET</label>
          <input id="diet" type="text" v-model="diet" class="pure-input-1">
        </div>
      </div>


      <div style="overflow-x: auto">
        <table class="pure-table med-sheet-table" style="width: 100%">
          <thead>
            <tr class="label">
              <th class="th-center" width="15%" style="min-width: 90px;" rowspan="4">DATE</th>
              <th class="th-center" width="15%" style="min-width: 90px;" rowspan="4">TIME</th>
              <th class="th-center" width="15%" style="min-width: 70px; border-bottom: 1px solid rgba(0,0,0,.1);" colspan="10">VITAL SIGN (NA)</th>
              <th class="th-center" width="15%" style="min-width: 70px; border-bottom: 1px solid rgba(0,0,0,.1);" colspan="10">INPUT AND OUTPUT (RN)</th>
              <th class="th-center" width="15%" style="min-width: 170px; border-bottom: 1px solid rgba(0,0,0,.1);" rowspan="4">NOTE</th>
              <th rowspan="4"></th>
            </tr>
            <tr class="label">
              <th class="th-center" width="15%" style="min-width: 50px;" rowspan="3">BT<br>(&#176;C)</th>
              <th class="th-center" width="15%" style="min-width: 50px; border-bottom: 1px solid rgba(0,0,0,.1);" colspan="3">BP</th>
              <th class="th-center" width="15%" style="min-width: 50px;" rowspan="3">HR</th>
              <th class="th-center" width="15%" style="min-width: 50px;" rowspan="3">RR</th>
              <th class="th-center" width="15%" style="min-width: 50px;" rowspan="3">O2 SAT</th>
              <th class="th-center" width="15%" style="min-width: 50px;" rowspan="3">PAIN SCORE</th>
              <th class="th-center" width="15%" style="min-width: 50px; border-bottom: 1px solid rgba(0,0,0,.1);" colspan="2">BALANCE<br>(คงเหลือ)</th>
              <th class="th-center" width="15%" style="min-width: 50px;" rowspan="3">TYPE OF IV FLUID</th>
              <th class="th-center" width="15%" style="min-width: 50px; border-bottom: 1px solid rgba(0,0,0,.1);" colspan="3">TOTAL INTAKE (ml)</th>
              <th class="th-center" width="15%" style="min-width: 500px; border-bottom: 1px solid rgba(0,0,0,.1);" colspan="6">TOTAL OUTPUT</th>
            </tr>
            <tr class="label">
              <th class="th-center" width="15%" style="min-width: 50px;" rowspan="2">SBP</th>
              <th class="th-center" width="15%" style="min-width: 50px;" rowspan="2">DBP</th>
              <th class="th-center" width="15%" style="min-width: 50px;" rowspan="2">MAP</th>
              <th class="th-center" width="15%" style="min-width: 50px;" rowspan="2">IV FLUID</th>
              <th class="th-center" width="15%" style="min-width: 50px;" rowspan="2">WATER</th>
              <th class="th-center" width="15%" style="min-width: 50px;" rowspan="2">IV FLUID</th>
              <th class="th-center" width="15%" style="min-width: 50px;" rowspan="2">IV MAD</th>
              <th class="th-center" width="15%" style="min-width: 50px;" rowspan="2">ORAL</th>
              <th class="th-center" width="15%" style="min-width: 180px; border-bottom: 1px solid rgba(0,0,0,.1);" colspan="2">STOOL</th>
              <th class="th-center" width="15%" style="min-width: 180px; border-bottom: 1px solid rgba(0,0,0,.1);" colspan="2">URINE</th>
              <th class="th-center" width="15%" style="min-width: 180px; border-bottom: 1px solid rgba(0,0,0,.1);" colspan="2">VOMITUS</th>
            </tr>
            <tr class="label">
              <th class="th-center" width="15%" style="min-width: 50px;">TIME</th>
              <th class="th-center" width="15%" style="min-width: 50px;">ml</th>
              <th class="th-center" width="15%" style="min-width: 50px;">TIME</th>
              <th class="th-center" width="15%" style="min-width: 50px;">ml</th>
              <th class="th-center" width="15%" style="min-width: 50px;">TIME</th>
              <th class="th-center" width="15%" style="min-width: 50px;">ml</th>
            </tr>
          </thead>
          <tbody>
            <tr class="label" v-for="(np, index) in vitalSignList" style="border-bottom: 1px solid #cbcbcb;">
              <td>
                <flat-pickr
                  :id="'vital_sign_date_' + index"
                  class="pure-input-1"
                  v-model="vitalSignList[index].date"
                  :config="vitalSignDateConfig"
                  placeholder="Select date">
                </flat-pickr>
              </td>              
              <td>
                <flat-pickr
                  :id="'vital_sign_time_' + index"
                  class="pure-input-1"
                  v-model="vitalSignList[index].time"
                  :config="vitalSignTimeConfig"
                  placeholder="Select time">
                </flat-pickr>
              </td>
              <td>
                <input type="text" :id="'vital_sign_bt_' + index" class="pure-input-1" v-model="vitalSignList[index].bt" @change="alertBT(vitalSignList[index].bt)"
                  v-bind:class="{
                  'vital-green': vitalSignList[index].bt < 36.5,
                  'vital-green': vitalSignList[index].bt >= 37.5 && vitalSignList[index].bt <= 38.3,
                  'vital-yellow': vitalSignList[index].bt >= 38.4 && vitalSignList[index].bt <= 39.4,
                  'vital-red': vitalSignList[index].bt >= 39.5
                }">
              </td>
              <td>
                <input type="text" :id="'vital_sign_bp_sbp_' + index" class="pure-input-1" v-model="vitalSignList[index].bp_sbp" @change="alertBPSBP(vitalSignList[index].bp_sbp, this.ageMonth)"
                  v-bind:class="{
                  'vital-red': vitalSignList[index].bp_sbp < 70 && ageMonth >= 1 && ageMonth < 12,
                  'vital-red': vitalSignList[index].bp_sbp < 72 && ageMonth >= 12 && ageMonth < 24,
                  'vital-red': vitalSignList[index].bp_sbp < 74 && ageMonth >= 24 && ageMonth < 36,
                  'vital-red': vitalSignList[index].bp_sbp < 76 && ageMonth >= 36 && ageMonth < 48,
                  'vital-red': vitalSignList[index].bp_sbp < 78 && ageMonth >= 48 && ageMonth < 60,
                  'vital-red': vitalSignList[index].bp_sbp < 80 && ageMonth >= 60 && ageMonth < 72,
                  'vital-red': vitalSignList[index].bp_sbp < 82 && ageMonth >= 72 && ageMonth < 84,
                  'vital-red': vitalSignList[index].bp_sbp < 84 && ageMonth >= 84 && ageMonth < 96,
                  'vital-red': vitalSignList[index].bp_sbp < 86 && ageMonth >= 96 && ageMonth < 108,
                  'vital-red': vitalSignList[index].bp_sbp < 88 && ageMonth >= 108 && ageMonth < 120,
                  'vital-red': vitalSignList[index].bp_sbp < 90 && vitalSignList[index].bp_sbp >= 1 && ageMonth >= 120,
                  //age 1-13
                  'vital-green': vitalSignList[index].bp_sbp > 120 && vitalSignList[index].bp_sbp <= 129 && ageMonth >= 12 && ageMonth <= 136,
                  'vital-yellow': vitalSignList[index].bp_sbp >= 130 && vitalSignList[index].bp_sbp <= 139 && ageMonth >= 12 && ageMonth <= 136,
                  'vital-red': vitalSignList[index].bp_sbp >= 140 && ageMonth >= 12 && ageMonth <= 136,
                  //age 18 plus
                  'vital-red': vitalSignList[index].bp_sbp < 90 && ageMonth >= 216,
                  'vital-green': vitalSignList[index].bp_sbp >= 120 && vitalSignList[index].bp_sbp <= 139 && ageMonth >= 216,
                  'vital-yellow': vitalSignList[index].bp_sbp >= 140 && vitalSignList[index].bp_sbp <= 159 && ageMonth >= 216,
                  'vital-pink': vitalSignList[index].bp_sbp >= 160 && vitalSignList[index].bp_sbp <= 179 && ageMonth >= 216,
                  'vital-red': vitalSignList[index].bp_sbp >= 180 && ageMonth >= 216
                }">
              </td>
              <td>
                <input type="text" :id="'vital_sign_bp_dbp_' + index" class="pure-input-1" v-model="vitalSignList[index].bp_dbp"  @change="alertBPDBP(vitalSignList[index].bp_dbp, this.ageMonth)"  
                  v-bind:class="{
                  // age 1-13
                  'vital-green': vitalSignList[index].bp_dbp < 80 && ageMonth >= 12 && ageMonth <= 136,
                  'vital-yellow': vitalSignList[index].bp_dbp >= 80 && vitalSignList[index].bp_dbp <= 89 && ageMonth >= 12 && ageMonth <= 136,
                  'vital-red': vitalSignList[index].bp_dbp >= 90 && ageMonth >= 12 && ageMonth <= 136,
                  // age 18 plus
                  'vital-red': vitalSignList[index].bp_dbp < 60 && ageMonth >= 216,
                  'vital-green': vitalSignList[index].bp_dbp >= 80 && vitalSignList[index].bp_dbp <= 89 && ageMonth >= 216,
                  'vital-yellow': vitalSignList[index].bp_dbp >= 90 && vitalSignList[index].bp_dbp <= 99 && ageMonth >= 216,
                  'vital-pink': vitalSignList[index].bp_dbp >= 100 && vitalSignList[index].bp_dbp <= 109 && ageMonth >= 216,
                  'vital-red': vitalSignList[index].bp_dbp >= 110 && ageMonth >= 216
                }">
              </td>
              <td>
                <input type="text" :id="'vital_sign_bp_map_' + index" class="pure-input-1" v-model="vitalSignList[index].bp_map" @change="alertBPMAP(vitalSignList[index].bp_map)"
                  v-bind:class="{
                  'vital-red': vitalSignList[index].bp_map < 65 && vitalSignList[index].bp_map >= 1
                }">
              </td>
              <td>
                <input type="text" :id="'vital_sign_hr_' + index" class="pure-input-1" v-model="vitalSignList[index].hr" @change="alertRR(vitalSignList[index].hr, this.ageMonth)"  
                v-bind:class="{
                  'vital-red': vitalSignList[index].hr < 90 && ageMonth >= 1 && ageMonth < 12,
                  'vital-red': vitalSignList[index].hr > 190 && ageMonth >= 1 && ageMonth < 12,
                  'vital-red': vitalSignList[index].hr < 80 && ageMonth >= 12 && ageMonth < 24,
                  'vital-red': vitalSignList[index].hr > 140 && ageMonth >= 12 && ageMonth < 24,
                  'vital-red': vitalSignList[index].hr < 65 && ageMonth >= 36 && ageMonth < 60,
                  'vital-red': vitalSignList[index].hr > 120 && ageMonth >= 36 && ageMonth < 60,
                  'vital-red': vitalSignList[index].hr < 58 && ageMonth >= 72 && ageMonth < 122,
                  'vital-red': vitalSignList[index].hr > 118 && ageMonth >= 72 && ageMonth < 122,
                  'vital-red': vitalSignList[index].hr < 50 && ageMonth >= 144,
                  'vital-red': vitalSignList[index].hr > 100 && ageMonth >= 144
                }">
              </td>
              <td>
                <input type="text" :id="'vital_sign_rr_' + index" class="pure-input-1" v-model="vitalSignList[index].rr" @change="alertRR(vitalSignList[index].rr, this.ageMonth)"  
                v-bind:class="{
                  'vital-red': vitalSignList[index].rr < 35 && ageMonth >= 0 && ageMonth < 3,
                  'vital-red': vitalSignList[index].rr > 55 && ageMonth >= 0 && ageMonth < 3,
                  'vital-red': vitalSignList[index].rr < 30  && ageMonth >= 3 && ageMonth < 6,
                  'vital-red': vitalSignList[index].rr > 45  && ageMonth >= 3 && ageMonth < 6,
                  'vital-red': vitalSignList[index].rr < 22 && ageMonth >= 6 && ageMonth < 12,
                  'vital-red': vitalSignList[index].rr > 38 && ageMonth >= 6 && ageMonth < 12,
                  'vital-red': vitalSignList[index].rr < 22 && ageMonth >= 12 && ageMonth < 36,
                  'vital-red': vitalSignList[index].rr > 30 && ageMonth >= 12 && ageMonth < 36,
                  'vital-red': vitalSignList[index].rr < 20 && ageMonth >= 36 && ageMonth < 60,
                  'vital-red': vitalSignList[index].rr > 24 && ageMonth >= 36 && ageMonth < 60,
                  'vital-red': vitalSignList[index].rr < 16 && ageMonth >= 60 && ageMonth < 144,
                  'vital-red': vitalSignList[index].rr > 22 && ageMonth >= 60 && ageMonth < 144,
                  'vital-red': vitalSignList[index].rr < 12 && ageMonth >= 144,
                  'vital-red': vitalSignList[index].rr > 20 && ageMonth >= 144
                }">
              </td>
              <td>
                <input type="text" :id="'vital_sign_o2sat_' + index" class="pure-input-1" v-model="vitalSignList[index].o2sat" @change="alertO2sat(vitalSignList[index].o2sat)"
                  v-bind:class="{
                  'vital-green': vitalSignList[index].o2sat >= 90 && vitalSignList[index].o2sat <= 94,
                  'vital-yellow': vitalSignList[index].o2sat >= 85 && vitalSignList[index].o2sat <= 89,
                  'vital-red': vitalSignList[index].o2sat >= 1 && vitalSignList[index].o2sat < 85
                }">
              </td>
              <td>
                <input type="text" :id="'vital_sign_score_' + index" class="pure-input-1" v-model="vitalSignList[index].pain_score" @change="alertPain(vitalSignList[index].pain_score)"
                v-bind:class="{
                  'vital-green': vitalSignList[index].pain_score >= 1 && vitalSignList[index].pain_score <= 3,
                  'vital-yellow': vitalSignList[index].pain_score >= 4 && vitalSignList[index].pain_score <= 6,
                  'vital-red': vitalSignList[index].pain_score >= 7 && vitalSignList[index].pain_score <= 10,
                }">
              </td>
              <td>
                <input type="text" :id="'vital_sign_bal_iv_fluid_' + index" class="pure-input-1" v-model="vitalSignList[index].bal_iv_fluid" />
              </td>
              <td>
                <input type="text" :id="'vital_sign_bal_water_' + index" class="pure-input-1" v-model="vitalSignList[index].bal_water" />
              </td>
              <td>
                <input type="text" :id="'vital_sign_type_of_iv_fluid_' + index" class="pure-input-1" v-model="vitalSignList[index].type_of_iv_fluid" />
              </td>
              <td>
                <input type="text" :id="'vital_sign_total_iv_fluid_' + index" class="pure-input-1" v-model="vitalSignList[index].total_iv_fluid" />
              </td>
              <td>
                <input type="text" :id="'vital_sign_total_iv_mad_' + index" class="pure-input-1" v-model="vitalSignList[index].total_iv_mad" />
              </td>
              <td>
                <input type="text" :id="'vital_sign_total_oral_' + index" class="pure-input-1" v-model="vitalSignList[index].total_oral" />
              </td>
              <td>
                <flat-pickr
                  :id="'stool_time_' + index"
                  class="pure-input-1"
                  v-model="vitalSignList[index].stool_time"
                  :config="OutputTimeConfig"
                  placeholder="Select time">
                </flat-pickr>
              </td>
              <td>
                <input type="text" :id="'vital_sign_stool_ml_' + index" class="pure-input-1" v-model="vitalSignList[index].stool_ml" />
              </td>
              <td>
                <flat-pickr
                  :id="'urine_time_' + index"
                  class="pure-input-1"
                  v-model="vitalSignList[index].urine_time"
                  :config="OutputTimeConfig"
                  placeholder="Select time">
                </flat-pickr>
              </td>
              <td>
                <input type="text" :id="'vital_sign_urine_ml_' + index" class="pure-input-1" v-model="vitalSignList[index].urine_ml" />
              </td>
              <td>
                <flat-pickr
                  :id="'vomitus_time_' + index"
                  class="pure-input-1"
                  v-model="vitalSignList[index].vomitus_time"
                  :config="OutputTimeConfig"
                  placeholder="Select time">
                </flat-pickr>
              </td>
              <td>
                <input type="text" :id="'vital_sign_vomitus_ml_' + index" class="pure-input-1" v-model="vitalSignList[index].vomitus_ml" />
              </td>              
              <td>
                <textarea type="text" :id="'vital_sign_note_' + index" class="pure-input-1" v-model="vitalSignList[index].note" rows="3"></textarea>
              </td>
              <td>
                <button type="button" @click="vitalSignList.splice(index, 1);" class="pure-button"><icon name="trash" /></button>

              </td>
            </tr>
            <tr class="text-center">
              <td colspan="21"><button type="button" @click="updateVitalSignList('vitalSignList', 1)" class="pure-button button-secondary block"><label class="text-left">ADD VITAL SIGN</label></button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row text-left label">
        <div class="col-sm-4">
          <label style="color: red;">**V/S ที่ต้องแจ้งพยาบาลทันที<br>
          1. BT ≥ 38.0 °C<br>
          2. BP ≤ 90/60, ≥ 160/110 mmHg<br>
          3. HR ≤ 50, ≥ 120 bpm<br>
          4. RR ≤ 8, ≥ 24 bpm<br>
          5. O2 sat ≤ 95%<br>
          6. Pain score ≥ 7
          </label>
        </div>
        <div class="col-sm-8">
          <label>
            ** RN record I/O: Day shift = 06.00 – 18.00 น, Night shift = 18.00 – 06.00 น.
          </label>
        </div>
      </div>
      <fieldset>
        <div class="mt3">
          <button type="submit" class="pure-button">Submit</button>
          <button type="reset" class="pure-button" v-if="!isEdit">Cancel</button>
          <button @click="resetForm()" type="button" class="pure-button" v-else>Cancel</button>
          <button type="button" class="pure-button button-error" v-if="isEdit" title="Delete" @click="deleteVisitForm" style="margin-left: 1rem;">
            <icon name="trash"></icon>
          </button>
          <button type="button" class="pure-button button-error" v-if="isEdit && !isApprove" title="Approve this form" @click="approveVisitForm">
            <icon name="exclamation-circle" style="vertical-align: top;"></icon>&nbsp;Pending
          </button>
        </div>

      </fieldset>
      <!-- END OF button group -->

      <p class="text-right m0" v-if="isEdit && user && user.id"><small>Last updated: {{ user.name }}</small></p>
      <p class="text-right m0" v-if="isEdit && approveUser && approveUser.id"><small>Approved by: {{ approveUser.name }}</small></p>
    </form>
  </section>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import { precheckFormData } from './index'
import moment from 'moment'

export default {
  name: 'vital-sign',
  props: ['patient', 'isEdit', 'isApprove', 'visitFormId', 'user', 'approveUser'],
  components: {
    flatPickr
  },
  data () {
    return {
      room: null,
      diagnosis: null,
      allergy: null,
      diet: null,
      age: null,
      ageMonth: null,
      vitalSignList: [{
        date: '',
        time: '',
        bt: '',
        bp_sbp: '',
        bp_dbp: '',
        bp_map: '',
        hr: '',
        rr: '',
        o2sat: '',
        pain_score: '',
        bal_iv_fluid: '',
        bal_water: '',
        type_of_iv_fluid: '',
        total_iv_fluid: '',
        total_iv_mad: '',
        total_oral: '',
        stool_time: '',
        stool_ml: '',
        urine_time: '',
        urine_ml: '',
        vomitus_time: '',
        vomitus_ml: '',
        note: ''
      }],
      // date config
      dateOfBirthConfig: {
        dataFormat: 'Y-m-d',
        maxDate: new Date()
      },
      visitDateConfig: {
        dataFormat: 'Y-m-d'
      },
      vitalSignDateConfig: {
        dataFormat: 'Y-m-d'
      },
      // time config
      vitalSignTimeConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        enableSeconds: false,
        time_24hr: true
      },
      OutputTimeConfig: {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        enableSeconds: false,
        time_24hr: true
      }
    }
  },
  created () {
    this.fillForm()
  },
  methods: {
    fillForm () {
      if (this.$lodash.isEmpty(this.patient)) return

      this.room = this.patient.room || null
      this.diagnosis = this.patient.diagnosis || null
      this.allergy = this.patient.allergy || null
      this.diet = this.patient.diet || null
      this.ageMonth = this.monthDiffDOB(this.patient.dob) || null
      if (this.patient.vital_sign_list) {
        this.vitalSignList = JSON.parse(this.patient.vital_sign_list)
      }
    },
    submitForm () {
      const data = {
        room: this.room,
        diagnosis: this.diagnosis,
        allergy: this.allergy,
        diet: this.diet,
        vital_sign_list: JSON.stringify(this.vitalSignList)
      }
      // const body = this.precheckBodyData(data)
      const body = precheckFormData(13, data)

      if (!body) {
        alert('Something went wrong (missing parameters)')
        return
      }

      if (this.isEdit) { // edit existing opd form
        this.$emit('submit', { action: 'edit', body, visitFormId: this.visitFormId })
      } else { // create new opd form
        this.$emit('submit', { action: 'create', body })
      }
    },
    deleteVisitForm (id) {
      this.$emit('submit', { action: 'delete', visitFormId: this.visitFormId })
    },
    approveVisitForm (id) {
      this.$emit('submit', { action: 'approve', visitFormId: this.visitFormId })
    },
    // hit cancel button on edit mode
    resetForm () {
      const answer = confirm('Are you sure you want to discard your changes?')
      if (!answer) return
      this.fillForm()
    },
    updateVitalSignList (model, value) {
      if (value > 0) {
        this[model].push({
          date: '',
          time: '',
          bt: '',
          bp_sbp: '',
          bp_dbp: '',
          bp_map: '',
          hr: '',
          rr: '',
          o2sat: '',
          pain_score: '',
          bal_iv_fluid: '',
          bal_water: '',
          type_of_iv_fluid: '',
          total_iv_fluid: '',
          total_iv_mad: '',
          total_oral: '',
          stool_time: '',
          stool_ml: '',
          urine_time: '',
          urine_ml: '',
          vomitus_time: '',
          vomitus_ml: '',
          note: ''
        })
        this[model + 'Length'] += value
      } else {
        if (this[model].length > 0) {
          this[model].pop()
          this[model + 'Length'] += value
        }
      }
    },
    alertBPSBP (val, ageMonth) {
      if (ageMonth >= 1 && ageMonth < 12 && val < 70) {
        alert('Hypotension')
      }
      if (ageMonth >= 12 && ageMonth < 24 && val < 72) {
        alert('Hypotension')
      }
      if (ageMonth >= 24 && ageMonth < 36 && val < 74) {
        alert('Hypotension')
      }
      if (ageMonth >= 24 && ageMonth < 36 && val < 76) {
        alert('Hypotension')
      }
      if (ageMonth >= 36 && ageMonth < 48 && val < 76) {
        alert('Hypotension')
      }
      if (ageMonth >= 48 && ageMonth < 60 && val < 78) {
        alert('Hypotension')
      }
      if (ageMonth >= 60 && ageMonth < 72 && val < 80) {
        alert('Hypotension')
      }
      if (ageMonth >= 72 && ageMonth < 84 && val < 82) {
        alert('Hypotension')
      }
      if (ageMonth >= 84 && ageMonth < 96 && val < 84) {
        alert('Hypotension')
      }
      if (ageMonth >= 96 && ageMonth < 108 && val < 86) {
        alert('Hypotension')
      }
      if (ageMonth >= 108 && ageMonth < 120 && val < 88) {
        alert('Hypotension')
      }
      if (ageMonth >= 120 && val < 90) {
        alert('Hypotension')
      }
      if (ageMonth >= 1 && ageMonth <= 136 && val > 120 && val <= 129) {
        alert('Prehypertension')
      }
      if (ageMonth >= 1 && ageMonth <= 136 && val >= 130 && val <= 139) {
        alert('Hypertension Stage 1')
      }
      if (ageMonth >= 1 && ageMonth <= 136 && val >= 140) {
        alert('Hypertension Stage 2')
      }
      if (ageMonth >= 216 && val < 90) {
        alert('Hypotension')
      }
      if (ageMonth >= 216 && val >= 120 && val <= 139) {
        alert('Prehypertension')
      }
      if (ageMonth >= 216 && val >= 140 && val <= 159) {
        alert('Hypertension Stage 1')
      }
      if (ageMonth >= 216 && val >= 160 && val <= 179) {
        alert('Hypertension Stage 2')
      }
      if (ageMonth >= 216 && val >= 180) {
        alert('Hypertensive crisis')
      }
    },
    alertBPMAP (val) {
      if (val < 65) {
        alert('Hypotension')
      }
    },
    alertBPDBP (val, ageMonth) {
      if (ageMonth >= 12 && ageMonth <= 136 && val < 80) {
        alert('Prehypertension')
      }
      if (ageMonth >= 12 && ageMonth <= 136 && val >= 80 && val <= 89) {
        alert('Hypertension Stage 1')
      }
      if (ageMonth >= 12 && ageMonth <= 136 && val >= 90) {
        alert('Hypertension Stage 2')
      }
      if (ageMonth >= 216 && val < 60) {
        alert('Hypotension')
      }
      if (ageMonth >= 216 && val >= 80 && val <= 89) {
        alert('Prehypertension')
      }
      if (ageMonth >= 216 && val >= 90 && val <= 99) {
        alert('Hypertension Stage 1')
      }
      if (ageMonth >= 216 && val >= 100 && val <= 109) {
        alert('Hypertension Stage 2')
      }
      if (ageMonth >= 216 && val >= 110) {
        alert('Hypertensive crisis')
      }
    },
    alertBT (val) {
      if (val < 36.5) {
        alert('Hypothermia')
      }
      if (val >= 37.5 && val <= 38.3) {
        alert('Low fever')
      }
      if (val >= 38.4 && val <= 39.4) {
        alert('Moderate fever')
      }
      if (val >= 39.5) {
        alert('High fever')
      }
    },
    alertO2sat (val) {
      if (val >= 90 && val <= 94) {
        alert('Mild Hypoxemia')
      }
      if (val >= 85 && val <= 89) {
        alert('Moderate Hypoxemia')
      }
      if (val < 85) {
        alert('Severe Hypoxemia')
      }
    },
    alertPain (val) {
      if (val >= 1 && val <= 3) {
        alert('Mild Pain')
      }
      if (val >= 4 && val <= 6) {
        alert('Moderate Pain ')
      }
      if (val >= 7 && val <= 10) {
        alert('Severe Pain')
      }
    },
    
    alertHR (val, ageMonth) {
      if (val < 90 && ageMonth >= 1 && ageMonth < 12) {
        alert('Sinus bradycardia')
      }
      if (val > 190 && ageMonth >= 1 && ageMonth < 12) {
        alert('Sinus tachycardia')
      }
      if (val < 80 && ageMonth >= 12 && ageMonth < 24) {
        alert('Sinus bradycardia')
      }
      if (val > 140 && ageMonth >= 12 && ageMonth < 24) {
        alert('Sinus tachycardia')
      }
      if (val < 65 && ageMonth >= 36 && ageMonth < 60) {
        alert('Sinus bradycardia')
      }
      if (val > 120 && ageMonth >= 36 && ageMonth < 60) {
        alert('Sinus tachycardia')
      }
      if (val < 58 && ageMonth >= 72 && ageMonth < 122) {
        alert('Sinus bradycardia')
      }
      if (val > 118 && ageMonth >= 72 && ageMonth < 122) {
        alert('Sinus tachycardia')
      }
      if (val < 50 && ageMonth >= 144) {
        alert('Sinus bradycardia')
      }
      if (val > 100 && ageMonth >= 144) {
        alert('Sinus tachycardia')
      }
    },
    alertRR (val, ageMonth) {
      if (val < 35 && ageMonth >= 0 && ageMonth < 3) {
        alert('Abnormal')
      }
      if (val > 55 && ageMonth >= 0 && ageMonth < 3) {
        alert('Abnormal')
      }
      if (val < 30 && ageMonth >= 3 && ageMonth < 6) {
        alert('Abnormal')
      }
      if (val > 45 && ageMonth >= 3 && ageMonth < 6) {
        alert('Abnormal')
      }
      if (val < 22 && ageMonth >= 6 && ageMonth < 12) {
        alert('Abnormal')
      }
      if (val > 38 && ageMonth >= 6 && ageMonth < 12) {
        alert('Abnormal')
      }
      if (val < 22 && ageMonth >= 12 && ageMonth < 36) {
        alert('Abnormal')
      }
      if (val > 30 && ageMonth >= 12 && ageMonth < 36) {
        alert('Abnormal')
      }
      if (val < 20 && ageMonth >= 36 && ageMonth < 60) {
        alert('Abnormal')
      }
      if (val > 24 && ageMonth >= 36 && ageMonth < 60) {
        alert('Abnormal')
      }
      if (val < 16 && ageMonth >= 60 && ageMonth < 144) {
        alert('Abnormal')
      }
      if (val > 22 && ageMonth >= 60 && ageMonth < 144) {
        alert('Abnormal')
      }
      if (val < 12 && ageMonth >= 144) {
        alert('Abnormal')
      }
      if (val > 20 && ageMonth >= 144) {
        alert('Abnormal')
      }
    },
    monthDiffDOB: (d1) => {
      // let date1 = new Date(d1)
      // let date2 = new Date()
      // let years = yearsDiff(d1, d2)
      // let months =(years * 12) + (date2.getMonth() - date1.getMonth())
      let months = moment().diff(d1, 'months')
      return months <= 0 ? 0 : months
    }
  }
}
</script>

<style lang="scss">
.text-orien {
  writing-mode: vertical-rl;
  text-orientation: mixed; 
}
.th-center {
  text-align: center; 
  vertical-align: middle;
}
.block {
  display: block;
  width: 100%;
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
// bt
.bt-normal {
  background: rgba(231, 59, 59, 0.8);
}

.bt-hypo {
  background: rgba(111, 59, 59, 0.8);
}

.bt-low-fever {
  background: rgba(222, 59, 59, 0.8);
}

.bt-mod-fever {
  background: rgba(123, 59, 59, 0.8);
}

.bt-high-fever {
  background: rgba(100, 59, 59, 0.8);
}
.vital-red {
  background: rgba(255, 0, 0, 0.8);
}
.vital-green {
  background: rgba(59, 107, 55, 0.8);
}
.vital-yellow {
  background: rgba(204, 157, 70, 0.8);
}
.vital-pink {
  background: rgba(236, 113, 113, 0.8);
}
.label {
  // margin-top: 5px;
  font-size: 12px;
}

</style>
